<style>
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
</style>
<nav id="nav_main">
    <a style="text-decoration:none" href="/" class="MOVE-YOUR-MONEY">MOVE YOUR MONEY</a>
    <a style="text-decoration:none" href="/particulier" class="particulier">PARTICULIER</a>
    <a style="text-decoration:none" href="/entreprise" class="entreprise">ENTREPRISE</a>
</nav>