<img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nietzsche187a.jpg/250px-Nietzsche187a.jpg">
<section id="text">
    <h1>NIETZSCHE</h1>
    <div id="phrase">

    </div>
    <script src="js/phrases.js"></script>
</section>