<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="home">home</a></li>
      <li><a href="about">about</a></li>
      <li><a href="photo">photo</a></li>
    </ul>
  </nav>
  <hr>
  <h1 class="white centro">História</h1>
  <p class="white centro">
    Sociedade Esportiva Palmeiras, conhecida popularmente como o Palmeiras, é um clube poliesportivo brasileiro sediado
    em São Paulo que tem como modalidade esportiva principal o futebol, com um dos times mais vencedores e que está
    entre as equipes com maior torcida do País. As cores do clube, presentes no escudo e bandeira oficial, são o verde,
    branco. O vermelho, presente desde sua fundação em 1914, foi excluído durante a Segunda Guerra Mundial, por pressão
    do governo nacional, na mesma reunião que formalizou a mudança de nome de Palestra Itália para Palmeiras.
  </p>
</body>

</html>