<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div id="main">
        <header id="title"> Hayao Miyazaki </header>
            <div>
                <hr>
                <p><em>Master of animation & storytelling</em></p>
            </div>
            
            <div id="image-div"> 
                <img id="img" src="http://media.comicbook.com/2017/02/hayaomiyazakiisback-234446.jpg">
            <div id="image-caption"> 
                Smiling Miyazaki pictured amongst many of his popular characters. </div>
            </div>
            
            <hr>
            
            <div id="tribute-info">
                <!--- This is a short bio. --->
                <p2> Hayao Miyazaki is a Japanese film director, producer, screenwriter, animator, author, and manga artist. A co-founder of Studio Ghibli, a film and animation studio, he has attained international acclaim as a masterful storyteller and as a maker of anime feature films, and is widely regarded as one of the greatest animation directors.
            <br> </br>
            Miyazaki's works are characterized by the recurrence of themes such as humanity's relationship with nature and technology, the wholesomeness of natural and traditional patterns of living, the importance of art and craftsmanship, and the difficulty of maintaining a pacifist ethic in a violent world. The protagonists of his films are often strong girls or young women, and several of his films present morally ambiguous antagonists with redeeming qualities. Miyazaki's works have been highly praised, earning a Person of Cultural Merit for outstanding cultural contributions and an Academy Honorary Award for his impact on animation and cinema. American film critic Roger Ebert suggested that Miyazaki may be the best animation filmmaker in history, praising the depth and artistry of his films. </p2>
            </div>
            
            <hr>
            
            <!---Quotes from Miyazaki--->
            <div id="quotes"> 
            <h3>Quotes from Miyazaki: </h3>
                <ul style="list-style-type:square">
            <li>“Always believe in yourself. Do this and no matter where you are, you will have nothing to fear.” </li>
                    <li>“You must see with eyes unclouded by hate. See the good in that which is evil, and the evil in that which is good. Pledge yourself to neither side, but vow instead to preserve the balance that exists between the two.” </li>
            <li>“I’ve become skeptical of the unwritten rule that just because a boy and girl appear in the same feature, a romance must ensue. Rather, I want to portray a slightly different relationship, one where the two mutually inspire each other to live - if I’m able to, then perhaps I’ll be closer to portraying a true expression of love.” </li>
            <li>“I would like to make a film to tell children "it's good to be alive".” </li>
            <li>“Many of my movies have strong female leads- brave, self-sufficient girls that don't think twice about fighting for what they believe with all their heart. They'll need a friend, or a supporter, but never a savior. Any woman is just as capable of being a hero as any man.” </li>
                    <li>“Personally, I was never more passionate about manga than when preparing for my college entrance exams. It's a period of life when young people appear to have a great deal of freedom, but are in many ways actually oppressed. Just when they find themselves powerfully attracted to members of opposite sex, they have to really crack the books. To escape from this depressing situation, they often find themselves wishing they could live in a world of their own - a world they can say is truly theirs, a world unknown even to their parents. To young people, anime is something they incorporate into this private world.
            I often refer to this feeling as one yearning for a lost world. It's a sense that although you may currently be living in a world of constraints, if you were free from those constraints, you would be able to do all sorts of things. And it's that feeling, I believe, that makes mid-teens so passionate about anime.” </li>
            </ul>
            </div>
                
                    <hr>
            
            <div id="tribute-link">
            <div class="container-fluid">
            <div class="row">
                <div class="about col-md-10"><strong><em>Tickle the Totoro to unearth more about Hayao Miyazaki & Studio Ghibli</strong></em></div><div class="col-md-2"><a href="https://en.wikipedia.org/wiki/Hayao_Miyazaki" target="_blank"><img class="Totoro img-responsive center-block" src="https://data.whicdn.com/images/126922727/large.png" alt="Totoro"></a></div></div></div>
</body>
</html>