<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <h1>ABOUT</h1>

    <p>Jeanne Louise Calment (French: [ʒan lwiz kalmɑ̃]; 21 February 1875 – 4 August 1997) was a French supercentenarian from Arles, and the oldest human whose age was well-documented, with a lifespan of 122 years and 164 days. Her longevity attracted media attention and medical studies of her health and lifestyle. <br>

        According to census records, Calment outlived both her daughter and grandson. She was widely reported to have been the oldest living person in 1988 at 112, and was declared the oldest person ever in 1995 at age 120. <br>
        
        Some researchers have challenged Calment's extreme age due to statistical unlikelihood, and have examined the possibility that her daughter Yvonne may have assumed Calment's identity in 1934. Other researchers have dismissed this hypothesis on the basis of extensive prior research into Calment's life.</p>
    <form action="http://192.168.1.49:3000/gallery">
        <input class="button" type="submit" value="gallery" />
    </form>
</body>
</html>