<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/gallery.css" />
</head>

</head>

<body>
    <header class="header">
        <div class="top-bar">
            <p>IRONHACK LAB</p>

            <nav class="nav-bar">
                <ul class="nav-bar-ul">
                    <li><a class="nav-bar-item" href="/home">Home</a></li>
                    <li><a class="nav-bar-item" href="/about">About </a></li>
                    <li><a class="nav-bar-item" href="/gallery">Gallery</a></li>
                </ul>
            </nav>
        </div>
    </header>
<h1> Gallery</h1>
    <div class="slider">
        <ul>
            <li><img src="/images/img1.jpg" alt="image1"> </li>
            <li><img src="/images/img2.jpg" alt="image2"></li>
            <li><img src="/images/img3.jpg" alt="image3"></li>
            <li><img src="/images/img4.jpg" alt="image4"></li>
            <li><img src="/images/img5.jpg" alt="image4"></li>
        </ul>
    </div>

</body>
<footer>
    <ul class="footer-links">
        <li>Home </li>
        <li>About</li>
        <li>Gallery</li>
        <li id="copyright">&copy; 2019 WEBDEV</li>
    </ul>
</footer>

</body>

</html>