<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1 id="shoots">Jamiroquai's shoots</h1>
    <div id="galeria">
        <img src="./images/insanity.jpg" alt="virtual">
        <img src="./images/half.jpeg" alt="halftheman">
        <img src="./images/hat.png" alt="yayhat">
        
    </div>
    <br>
    <div id="galeria2">
            <img src="./images/horns.jpg" alt="cuernotes">
            <img src="./images/psycho.jpg" alt="colors">
            <img src="./images/seven.jpg" alt="sevendays">
    </div>
</body>
</html>