<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Live On The Moon</title>
</head>

<body class="home-body">
    <div class="nav">
        <ul>

            <li><a href="/home">Live On The Moon</a></li>
            <li><a href="about">About</a></li>
            <li><a href="gallery">Gallery</a></li>

        </ul>
    </div>

    <div class="video">
        <div class="videoContainer">
            <iframe class="videoContainer__video" width="1920" height="1080" src="https://www.youtube.com/embed/4tbXisC4Gw0?rel=0&autoplay=1&showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <script src="jquery-3.3.1.min.js"></script>
</body>

</html>