<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li class="white"><a href="home">home</a></li>
        <li class="white"><a href="about">about</a></li>
        <li class="white"><a href="photo">photo</a></li>
      </ul>
    </nav>
    <hr>
    <h1 class="white centro">
      GLORIOSO PALMEIRAS
    </h1>
    <h2 class="white centro">
      Pagina construída para mostrar os títulos do campeonato brasileiro no nosso verdão!
    </h2>
  </header>

</body>

</html>