<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="home">home</a></li>
      <li><a href="about">about</a></li>
      <li><a href="photo">photo</a></li>
    </ul>
  </nav>
  <hr>
  <h1 class="white centro">Campeão Brasileiro.</h1>
  <figure>
    <img src="../img/2018.jpg" alt="palmeiras" height="300" width="420">
    <img src="../img/2016.jpg" alt="palmeiras" height="300" width="420">
    <img src="../img/1994.jpg" alt="palmeiras" height="300" width="420">
  </figure>
</body>

</html>