<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mr. Miyagi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/Miyagi-logo2.png" width="60px">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Mr Miyagi</a>
                    </li>
                    <li class="active">
                        <a href="/quotes">Mr Miyagi's quotes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Mr Miyagi's inspirational quotes</h1>
    <div class="container text-center">
        <h2>Photogallery</h2>
        <div class="row">
            <div class="col-sm-4">
                <img src="/images/Mr-miyagi-quote2.gif" id="icon" />
                <p>sdfdsdfsdsdfdsfd sdfsdfsdfsdf sdfsdfsdfds</p>
            </div>

            <div class="col-sm-4">
                <img src="/images/Mr-miyagi-quote.JPG" id="icon" />
                <p>sdfdsdfsdsdfdsfd sdfsdfsdfsdf sdfsdfsdfds</p>

            </div>

            <div class="col-sm-4">
                <img src="/images/Mr-miyagi-quote3.JPG" id="icon" />
                <p>sdfdsdfsdsdfdsfd sdfsdfsdfsdf sdfsdfsdfds</p>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="/images/Mr-miyagi-quote2.gif" id="icon" />
                <p>sdfdsdfsdsdfdsfd sdfsdfsdfsdf sdfsdfsdfds</p>
            </div>

            <div class="col-sm-4">
                <img src="/images/Mr-miyagi-quote.JPG" id="icon" />
                <p>sdfdsdfsdsdfdsfd sdfsdfsdfsdf sdfsdfsdfds</p>

            </div>

            <div class="col-sm-4">
                <img src="/images/Mr-miyagi-quote3.JPG" id="icon" />
                <p>sdfdsdfsdsdfdsfd sdfsdfsdfsdf sdfsdfsdfds</p>

            </div>

        </div>
    </div>

    <footer class="page-footer font-small mt-4">
        <a href="/ " style="color: grey">Back to Home</a>
        ·
        <a href="/about" style="color: grey">About Mr Miyagi</a>
    </footer>
</body>

</html>