<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/index.css" />
  
</head>

<body id='home'>
  <header>
    <a href="/superHeroHome">Home page</a>
    <a href="/superHeroAbout">Go to about page</a>
    <a href="/superHeroGallery">Go to Gallery page</a>

  </header>
  <h1>Batman</h1>
  <p>
    Batman is a fictional superhero appearing in American comic books published by DC Comics. The character was created
    by artist Bob Kane and writer Bill Finger, and first appeared in Detective Comics #27 in 1939. Originally
    named the "Bat-Man," the character is also referred to by such epithets as the Caped Crusader, the Dark Knight, and
    the World's Greatest Detective.
  </p>
  <span></span>
  <img src="" />
</body>

</html>