.menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  > ul {
    > li {
      > a {
        background-color: red;
        font-family: $primary-font;
        font-size: 2em;
        color: $text-color-dark;
        &.top-left {
          position: absolute;
          left: 2em;
          top: 2em;
        }
        &.top-right {
          position: absolute;
          right: 2em;
          top: 2em;
        }
        &.bottom-left {
          position: absolute;
          left: 2em;
          bottom: 2em;
        }
        &.bottom-right {
          position: absolute;
          right: 2em;
          bottom: 2em;
        }
      }
    }
  }
}
