<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>J.R Moehringer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/about.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">J.R Moehringer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photo-gallery">Photo Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="card bg-light mb-1" style="max-width: 100vw;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/public/images/jr.jpg" alt="J.R Moehringer">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">J.R Moehringer</h2>
                    <p class="card-text">
                        John Joseph Moehringer (Nueva York, 1964), bien podría ser conocido como chico de las
                        fotocopias en The New York Times, el periodista brillante de Los Angeles Times o el <b>premio
                        Pulitzer de Periodismo</b> (2000).
                    </p>
                    <p class="card-text">
                        Este reconocido periodista y novelista se graduó en 1986 de la Universidad Yale y comenzó su
                        carrera en el periodismo como asistente de noticias del diario The New York Times. Sin embargo,
                        nunca consiguió un puesto como redactor. Un poco decepcionado por su “fracaso”, decidió buscar
                        suerte en Los Ángeles, y comenzó a trabajar en Los Angeles Times. En 2000 fue galardonado con el
                        premio Pulitzer gracias a su reportaje <b>'Crossing Over’</b>, en el que realiza un retrato de Gee's
                        Bend, una comunidad ribereña que vive aislada en Alabama y en la que solían vivir descendientes
                        de esclavos.
                        J. R. Moehringer no solo pone en evidencia las precarias condiciones de vida de los habitantes
                        sino que explica cómo el proyecto de crear un ferry que conecte a la isla con el continente
                        podría cambiar la vida de los habitantes de la comunidad que hoy se conoce como Boykin.
                    </p>
                    <p class="card-text">
                        Su libro <b>’The Tender Bar’</b> fue publicado en 2005 y fue traducido al español como ’El bar de las
                        grandes esperanzas’.​Esta novela basada en sus memorias y en las que recuerda su infancia y
                        juventud fue todo un éxito de ventas y lo coronó como uno de los grandes novelistas de esta
                        época. Tras los aplausos de la crítica se asentó en Las Vegas (Nevada), para escribir la
                        biografía <b>Open, mi historia</b>, en la que cuenta la vida del tenista estadounidense <b>Andre Agassi</b>.
                    </p>
                    <p class="card-text">
                        Algunos de sus libros han sido llevados a la pantalla grande. Este es el caso de <b>‘Resurrecting
                        the Champ’</b> (El último asalto) basado en un artículo de Moehringer en el que narra la vida del
                        exboxeador Bob Satterfield. La historia fue publicada en la revista Los Angeles Times Magazine.
                        Y el filme fue protagonizado por <b>Samuel L. Jackson, Josh Hartnett y Alan Alda </b>y dirigida por Rod
                        Lurie.​
                    </p>
                </div>
            </div>
        </div>
    </div>



</body>

</html>