<header class = "boss-selection">
    <nav class = "scroll nav-choice">
        {{#each bloodborneBossesArray}}
        <a href="{{this.route}}">{{this.name}}</a>
        {{/each}}
    </nav>
</header>