<section class="footer">
    <div>
    <h2>Would you like to Connect on Social Networks ?</h2>
        <a href="https://www.instagram.com/piotre_lapage/" target="_blank"><img class="logo" src="/img/logo-instagram.png" alt="logo-insta"></a>
        <a href="https://www.facebook.com/studiopiotre/" target="_blank"><img class="logo" src="/img/logo-facebook.png" alt="logo facebook"></a>
    </div>
    <div>
        <h2>Partners : </h2>
        <img class="partner" src="https://www.artsper.com/bundles/app/img/ill/ill_logo_full.png" alt="Artsper Logo">
        <img class="partner" src="https://egeri-tour.com/wp-content/uploads/2015/06/Ellia-Art-Gallery-Logo-325x130_t.png" alt="Ellia Art Gallery Logo">
    </div>
</section>