<footer>
    <div id="more-info">
        <p>More information</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div id="exhibitions">
        <p>Exhibitions</p>
        <ul>
            <li><a href="https://www.fondationlouisvuitton.fr/en/exhibitions/exhibition/charlotte-perriand.html">Fondation Louis Vuitton</a></li>
            <li><a href="https://www.moma.org/artists/4564">MoMA</a></li>
            <li><a href="https://www.petitpalais.paris.fr/expositions/charlotte-perriand-1903-1999">Petit Palais</a></li>
            <li><a href="http://www.galeriedowntown.com/expositions/">Galerie DownTown</a></li>
        </ul>
    </div>
</footer>