<div class="footerImportant">
    <p>Importante! <br>
    All info on this page is CTRL C+V from internet. This is just an in class-assignment. <br> 
    Don't expect everything you read on the internet to be true.</p>
    <p>©EmelieIronhackFTWEBDEV2020</p>
</div>


