<footer>
    <div class="container">
        <span>Copyrighted by me</span>
        <ul>
            <a href="/home"><li>Home</li></a>
            <a href="/galery"><li>Galery</li></a>
            <a href="/about"><li>About<li></a>
        </ul>
    </div>
</footer>