
<div class="card">
  <div class="card-header">
    My Footer I borrowed from boostrap
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>My footer is all about how much I like to use bootstrap because I dont know enough HTML and CSS or JavaScript for that mater</p>
      <footer class="blockquote-footer">Santa Clause <cite title="Source Title">please bring me knowledge</cite></footer>
    </blockquote>
  </div>
</div>
