<div id="footer">
    <div>
        <a href="https://www.instagram.com/jojodaviau"><img src="/img/instagram.png" alt="instagram logo" width="20px"></a>
        <a href="https://www.facebook.com/Jonathan2Stab/"><img src="/img/facebook.png" alt="facebook logo" width="20px"></a>
    </div>
    <p>© Jonathan Daviau - Jonathan Stab - 2020</p>
</div>

