<div class="container mt-5">
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start m-4">
  <h6 class="me-2">*This is a programing exercise.
      If you want to know about Bill Gates you should follow:</h6>
    <a href="https://www.gatesnotes.com/" class="btn btn-outline-secondary me-2" type="button">Gates Notes</a>
  </form>
</nav>
</div>