<footer id="footer">
    <p>Code & Design <a href="https://github.com/juliramon">@juliramon</a><br><span>Texts and Picture <a
                href="https://en.wikipedia.org/wiki/Brendan_Eich"
                title="Brendan Eich Wikipedia Entry">@wikipedia</a></span></p>
</footer>