<footer>
    <p>
        <a href="https://www.youtube.com/channel/UCuDv5p8E-evaRSh542hDV5g" target="_blank">
            <img src="/youtube.png" alt="Robert Reich YouTube Channel">
        </a>
    </p>
</footer>