<div id="more-info">
    <p>More information</p>
    <ul>
        <li><a class="link" href="https://www.cassina.com/fr/designer/charlotte-perriand">Furniture: Cassina</a></li>
        <li><a class="link" href="https://www.editions-norma.com/products/charlotte-perriand-loeuvre-complete-tome-4-1968-1999">Book: L'Oeuvre complète</a></li>
        <li><a class="link" href="https://www.odilejacob.fr/catalogue/art-et-litterature/architecture-urbanisme/une-vie-de-creation_9782738106025.php">Autobiography</a></li>
        <li></li>
    </ul>
</div>
<div id="exhibitions">
    <p>Exhibitions</p>
    <ul>
        <li><a class="link" href="https://www.fondationlouisvuitton.fr/en/exhibitions/exhibition/charlotte-perriand.html">Fondation
                Louis Vuitton</a></li>
        <li><a class="link" href="https://www.moma.org/artists/4564">MoMA</a></li>
        <li><a class="link" href="https://www.petitpalais.paris.fr/expositions/charlotte-perriand-1903-1999">Petit Palais</a></li>
        <li><a class="link" href="http://www.galeriedowntown.com/expositions/">Galerie DownTown</a></li>
    </ul>
</div>