<section class="footer">
    <p>Would you like to subscribe to our NewsLetter ?</p>
    <div>   
        <input type="email" placeholder="piotre@street-art.com" class="">

        <button>Subscribe</button>

    </div>
    <div>
        <a href="https://www.instagram.com/piotre_lapage/"><img src="/img/logo-instagram.png" alt="logo-insta"></a>
        <a href="https://www.facebook.com/studiopiotre/"></a><img src="/img/logo-facebook.png" alt="logo facebook">
    </div>
</section>