
<div id="container_gallery">
<span id="goLeft" class="btn_gallery"> < </span>
<div id="gallery">
    <img src="" alt="une scene du grand détournement" id="img_gallery">
    <p id="legend_gallery">default legend</p>
    </div>
<span id="goRight" class="btn_gallery"> > </span>
    </div>