
<div id="container_gallery">
<span id="goLeft" class="btn_gallery"> < </span>
<div id="gallery">
    <img src="/img/gallery/attention.jpg" alt="1ere scene du grand détournement" id="img_gallery">
    <p id="legend_gallery">Une mise en garde</p>
    </div>
<span id="goRight" class="btn_gallery"> > </span>
    </div>