<div id="header">

    <a href="/" class="link"><img src="/img/logorouge.png" alt="Jo2 logo" width="50px"></a>

    <nav id="navMain">        
            <a href="/collections" class="link">COLLECTIONS</a>
            <a href="/services" class="link">SERVICES</a>
            <a href="/about" class="link">ABOUT</a>
            <a href="/contact" class="link">CONTACT</a>
    </nav>


</div>