<div id='container'>
    <nav id="nav-bar">
        <h3 id="summary-title">Summary</h3>
        <ol>
            <li><a href="/home">Home</a></li>
            <li><a href="/practice">Practice</a></li>
            <li><a href="/links">Useful links</a></li>
        </ol>
    </nav>
    </section>

</div>