<nav>
  <div class="nav-links">
    <ul>
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/gallery">
        <li>Gallery</li>
      </a>
      <a href="/travels">
        <li>Travels</li>
      </a>
      <a href="/about">
        <li>About</li>
      </a>
    </ul>
  </div>
</nav>