<div class="nav">
    <a href="/" target="_blank" rel="noopener noreferrer"><img src="/img/piotre-logo.jpg" alt=""></a>
<ul class="list-header">
    <a href="/">Home</a>
    <a href="/about">About Piotre</a>
    <a href="/contact">Contact</a>
    <a href="/artworks">Artworks</a>

</ul>
</div>