<nav class="nav">
    <a class="nav-link" href="/" class="link">Home</a>
    <a class="nav-link" href="/goodthings" class="link">3 Good Things</a>
    <a class="nav-link" href="/about" class="link">Martin Seligman</a>
</nav>
