<div class="menubar">
    <div class="container">
        <a href="/home"><div id="logo">
            WAISTE
        </div></a>
        <nav>
            <ul>
                <a href="/home"><li>Home</li></a>
                <a href="/galery"><li>Galery</li></a>
                <a href="/about"><li>About</li></a>
            </ul>
        </nav>
        <div id="welcome"><span>Welcome {{firstname}}</span></div>
    </div>
</div>