<div id="divNavBar">
    <nav id="navBar">
        <div class="cessnaGif">
            <img src="/images/Cessna-172.gif" alt="">
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/galery">Galery</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</div>