<nav>
    <ul>
        <li><a href="/" class="link"><img src="img/home.png" alt="home"></a></li>
        <li><a href="/about" class="link">About</a></li>
        <li><a href="/work" class="link">Work</a></li>
        <li> <a href="/gallery" class="link">Photo gallery</a></li>
    </ul>
</nav>