<nav class="nav">
    <div class="logo"></div>
    <div class="links">
        <a href="/" class="link">Home</a>
        <a href="/sample" class="link">Sample</a>
        <a href="/info" class="link">Info</a></div>
</nav>