
<nav>
    
    <a href="/" id="home" class="btn_menu"> Home </a>
    <a href="/about" class="btn_menu"> About </a>
    <a href="/scenes" class="btn_menu"> Scenes </a>
    <a href="/culture" class="btn_menu"> Culture </a>
</nav>