<nav>
    <a href="/" class="link"><img src="img/home.png" alt="home"></a>
    <a href="/about" class="link">About</a>
    <a href="/work" class="link">Work</a>
    <a href="/gallery" class="link">Photo gallery</a>
</nav>