<nav class="flex-container center-content">
	<ul>
		<li class="primary-dark" id="home-icon"><a href="/"><h3>LVM</h3></a></li>
		<li><a href="about">about</a></li>
		<li><a href="works">works</a></li>
	</ul>
</nav>