<nav>
    <a href="/" id="navlinks"> Home </a>
    <a href="/about" id="navlinks">About</a>
    <a href="/products" id="navlinks"> Products</a>
    <a href="/newsletter" id="navlinks">Subscribe Newsletter</a>
</nav>