<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>J.R Moehringer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/works.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">J.R Moehringer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photo-gallery">Photo Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <h1>J.R Moehringer</h1>
    <h2>Sus obras</h2>
    <div id="cards">
        <div class="card mb-3" style="max-width: 940px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/images/elbar.jpg" alt="Cover El bar de las grandes Esperanzas">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">El bar de las grandes esperanzas</h5>
                        <p class="card-text">J.R. creció con su madre, pues su padre los abandonó cuando J.R. no había
                            pronunciado su primera palabra. Él, sin embargo, sabe quién es su padre: un DJ de Nueva York
                            que
                            tiene un programa de radio y cuya voz J.R. escucha con la oreja pegada al aparato. Hasta que
                            un
                            día la voz desaparece del aire y J.R. se queda sin nadie a quien escuchar. Encontrará
                            refugio en
                            el amor de su madre y en el Dickens, el bar de su barrio, un sitio donde poetas, policías,
                            apostadores, soldados, boxeadores y estrellas de cine tienen una historia que contar. Allí,
                            entre todas esas voces que lo cautivan como en un sueño, J.R. podrá darle voz a su propio
                            destino y podrá forjarse, también, una identidad. Conmovedor y emocionante, firmado por un
                            premio Pulitzer, El bar de las grandes esperanzas es un libro hermoso que puede leerse como
                            una
                            novela de aprendizaje o como una historia apasionadamente sincera y real.</p>
                        <p class="card-text"><small class="text-muted">Pequeña sinópsis</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 940px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/images/aplena.jpg" alt="Cover A plena luz">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">A plena luz</h5>
                        <p class="card-text">Esta es una historia real. Una historia que empieza y acaba en un día. Una
                            historia que dura una vida. ¿Se puede revivir una vida en un día? Sucede en Nueva York. El
                            día
                            de Navidad de 1969. Y su protagonista es Willie Sutton, el Robin Hood de Brooklyn, el Gandhi
                            de
                            los gánsteres. Esta historia son tantas historias. Todas verdad. O quizá no. Es una historia
                            de
                            astronautas y de sirenas, de policías y ladrones, de magnates y jardineros. Es una historia
                            de
                            fugas, una historia de libros, de los que cambian la vida y es una historia de la libertad
                            reencontrada y del amor buscado.
                            Willie Sutton quiere su historia. Tiene un solo día, pero la suya va a ser una historia
                            memorable.</p>
                        <p class="card-text"><small class="text-muted">Pequeña sinópsis</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 940px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/images/elcampeon.jpg" alt="Cover El campeón ha vuelto">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">El campeón ha vuelto</h5>
                        <p class="card-text">En 1997, a J.R. Moehringer le encargaron un reportaje sobre Bob Satterfi
                            eld,
                            un peso pesado que peleó entre 1945 y 1957 y sobre el cual nada se sabía. Se había esfumado
                            del
                            mapa. Moehringer andaba en busca de una buena historia, fue tras los pasos de un hombre que
                            vivía en la calle y que juraba ser Bob Satterfi eld. Se hacía llamar el «Campeón» y decía
                            ser
                            Bob, «el mejor noqueador de todos los tiempos». Pero ¿era realmente el «Campeón»? Moehringer
                            examina el corazón de su personaje y desgrana la historia de un hombre que se le convierte,
                            a
                            medida que lo observa como si fuera un entomólogo, en su Moby Dick particular: una persona
                            que
                            le revela, detrás de su misteriosa identidad, algo de su propio pasado, algo que tiene que
                            ver
                            con el valor, con el deporte y con el deseo constante de un hombre que busca a su padre..
                        </p>
                        <p class="card-text"><small class="text-muted">Pequeña sinópsis</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 940px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/public/images/open.jpg" alt="Cover Open. Memorias">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Open. Memorias</h5>
                        <p class="card-text">Siendo un bebé, le pusieron una raqueta de juguete en la mano. Desde
                            entonces,
                            Agassi no ha hecho otra cosa que golpear pelotas de tenis. Su padre, obsesionado en
                            convertirlo
                            en un astro del deporte, construyó una máquina (el dragón) que disparaba 2.500 pelotas al
                            día
                            contra el pequeño Andre. Escrita por el premio Pulitzer J. R. Moehringer, Open es la
                            semblanza a
                            corazón abierto de Andre Agassi, que en estas memorias se muestra tal como es: un hombre que
                            debió enfrentarse a las presiones de su familia, de la fama, pero que siempre conservó el
                            valor
                            de la amistad y un sentido altruista de la vida. En esta cautivadora autobiografía, Agassi
                            revela, con sentido del humor y ternura, una vida definida por la contradicción entre un
                            destino
                            impuesto y el anhelo por complacer a quienes lo han sacrificado todo por él.</p>
                        <p class="card-text"><small class="text-muted">Pequeña sinópsis</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>