//  Mixins
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
}
  
@mixin polka-dots($base, $accent, $radial, $size, $position, $attachment) {
	background-color: $base;
	background-image: radial-gradient($accent $radial, transparent $radial);
	background-size: $size $size;
	background-position: $position;
	background-attachment: $attachment;
}
