body {
	padding: 0;
	padding-bottom: 50px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7f9f9;
}

.navbar {
	color: white;
	background-color: #2081c3;
	height: 50px;
	width: 100%;
	display: flex;
	padding: 0 30px;
}

.navbar__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: start;
}

.navbar__list__item {
	padding: 0 20px;
}

.navbar__list__item__link {
	text-decoration: none;
	color: white;
}

.index-container {
	display: flex;
	justify-self: center;
	align-self: center;
	flex-direction: column;
}
.index-container__beer {
	width: 250px;
	margin: 50px auto;
}
.btn {
	width: 200px;
	padding: 13px;
	margin: 10px auto;
	border-radius: 5px;
	border: none;
}

.index-container__btn {
	color: white;
	background-color: #2081c3;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
}

.banner {
	background-image: url(/images/hero-1.jpg);
	color: white;
	height: 100vh;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 20%;
}

.banner__header {
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
}

.banner__text {
	width: 300px;
}

.info {
	height: 100vh;
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info__container {
	display: flex;
	flex-direction: column;
	text-align: right;
	padding: 30px;
	align-items: flex-end;
}

.info__container__header {
	text-transform: uppercase;
	padding: 0px;
}

.info__container__subheader {
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
	color: #2081c3;
}

.info__text {
	width: 90%;
}

.fullbanner {
	width: 100%;
	height: 200px;
	background-image: url(/images/hero-5.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fullbanner__header {
	color: white;
	text-transform: uppercase;
	font-size: 50px;
}

.about {
	padding: 50px;
}

.gallery {
	padding: 40px;
}

.gallery__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	color: white;
	background-color: #0a2c42;
	padding: 0 20px;
	display: flex;
	justify-content: start;
	align-items: center;
}
