<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChurrApp About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
            <img src="https://vignette.wikia.nocookie.net/foodbattleseries/images/e/e5/Cut_churro.png/revision/20150409112354" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Inicio
                </a>

                <a href="#" class="navbar-item">
                    Acerca de
                </a>

                <a href="/gallery" class="navbar-item">
                    Galería
                </a>
            </div>
            <div class="navbar-end">
                <a href="#" class="navbar-item">
                    ChurrApp ©
                </a>
            </div>
        </div>
    </nav>
    <div class="container is-fluid">
        <div class="notification centered">
           <h1 class="titulo">ACERCA DE LOS CHURROS</h1>
           <br>
           <h2 class="subtitulo">Origen</h2>
           <p>Son originarios de España y Portugal, así como de Filipinas e Iberoamérica, 
               pero a pesar de esto, el origen sigue siendo poco claro. Una teoría es que  
               los ovejeros españoles los hacían, ya que es una masa fácil de hacer y fácil
               de freír en el campo
           </p> 
           <br>
           <h2 class="subtitulo">Preparación</h2>
           <p>Existen muchas variantes de la receta, pero básicamente todas llevan harina de trigo,
               huevo, leche, mantequilla y vainilla. ¿Pocos ingredientes, verdad?. La parte más difícil es 
               darles la forma, por lo que necesitas una duya que tenga la punta de la forma de churro. :)
           </p>
           <br>
           <h2 class="subtitulo">Variaciones</h2>
           <p>En diferentes países hay diferentes versiones de churro, como lo es el churro relleno.
                En Cuba por ejemplo, los rellenan de guayaba, en México de cajeta, lechera y chocolate,
                en Colombia y Venezuela, son bañados en lechera y arequipe, en fin, cada quien puede
                tener su propia versión de su churro, y todas son deliciosas!
           </p>
        </div>
    </div>
    <script src="/javascript/main.js"></script>
</body>
</html>