*{
    box-sizing: border-box;
}

body,html { 
    height: 100%;
    margin:0;
    overflow-x: hidden;
    background-color: black
}

.navbar{
    position: fixed;
    top: 0%;
    width: 100vw;
    height:70px;
    background-color: #090b13;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.pages-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: 45%;
    margin-right: 3%;
}

a{
    text-decoration: none;
}

button{
    font-size: 1rem;
    border: 1px solid white;
    background: rgba(0,0,0,.6);
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
    margin-right: 2%;
    margin-top: 0.5%;
    font-size: 1rem;
    width: 9vw;
}

button:focus{
    outline: none;
}

button:hover{
    color: black;
    background-color: rgba(255,255,255,1)
}

.logo-container{
    margin-left: 2%;
}

h3{
    color: white;
}

/* STARTING WORK ON SECTION1 OF ABOUT PAGE */


#section1{
    width: 100vw;
    height: 100vh;
}


.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#main-text{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.subtext{
    color: white;
    font-size: 0.9rem;
    margin: 0% 20%;
    text-indent: 4%;
}