body {
  background: beige;
  margin: 0px auto;
  text-align: center;
}

img {
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.quotes {
  font-size: 20px;
  text-decoration-style: wavy;
}
