<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carl Sagan</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header> 
    <div>
      <img class="spotifyLogo" src="" alt="">
    </div>
    <nav>
      <ul>
        <li><a href="/aboutme"> Who is Carl Sagan? </a></li>
        <li><a href="/works"> Works </a></li>
        <li><a href="/gallery"> Photo Gallery </a></li>

      </ul>
    </nav>
</header>
<section class="about">
  <p>Carl Sagan was one of the most well-known scientists of the 1970s and 1980s. He studied extraterrestrial intelligence, advocated for nuclear disarmament and co-wrote and hosted 'Cosmos: A Personal Voyage.'</p>
  <img class= "imgSagan" src="/images/Carl-Sagan-BBVA-1024x416.jpg" alt="sagan">
  <h2>Who Was Carl Sagan?</h2>
  <p>Astronomer Carl Sagan graduated from the University of Chicago, where he studied planets and explored theories of extraterrestrial intelligence. He was named director of Cornell’s Laboratory for Planetary Studies in 1968 and worked with NASA on several projects. An anti-nuclear activist, Sagan introduced the idea of “nuclear winter” in 1983. He wrote one novel, several books and academic papers and the TV series Cosmos, which was reborn on TV in 2014.</p>
  <h2>Early Years</h2>
  <p>Carl Edward Sagan was born on November 9, 1934, in Brooklyn, New York, the first of two children. Sagan’s interest in astronomy began early on, and when he was five, his mother sent him to the library to find books on the stars. Soon after, his parents took him to the New York World’s Fair, where visions of the future piqued his interest further. He also quickly became a fan of the prevalent 1940s science-fiction stories in pulp magazines and was drawn in by reports of flying saucers that suggested extraterrestrial life.
    Sagan graduated high school in 1951 at age 16 and headed to the University of Chicago, where experiments he conducted drove his fascination with the possibility of alien life. In 1955, Sagan graduated with a B.A. in physics, and he received his masters a year later. Four years later, Sagan moved to California after obtaining a Ph.D. in astronomy and astrophysics, landing at the University of California, Berkeley, as a fellow in astronomy. There, he helped a team develop an infrared radiometer for NASA’s Mariner 2 robotic probe.</p>
</section>

</body>
</html>