<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Type-Phoon Video Game page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body id="about">
    <div>
      <h1>Julian Abasolo, the master of video games</h1>
      <img src="./img/julian.jpeg" alt="Julian Abasolo" id="julian" />
      <p>Full stack developer from IronHack!</p>
    </div>
  </body>
</html>
