<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
           <a href="/views/index.html"><li>Home</li></a> 
           <a href="/views/about.html"><li>About</li></a> 
           <a href="/views/works.html"><li>Works</li></a> 
           <a href="/views/gallery.html"><li>Gallery</li></a> 

        </ul>
    </nav>
    <div id="main">
        <img src="/images/download (1).jpeg" alt="" width="100%" height="400px">
        <h1>About Rene</h1>
        <h3>Basic info</h3>
        <p>René Redzepi (born 16 December 1977) is a Danish chef and co-owner of the two-Michelin star restaurant Noma in the Christianshavn neighborhood of Copenhagen, Denmark. His restaurant was voted the best restaurant in the world by Restaurant magazine's World's Best Restaurants in 2010, 2011, 2012 and 2014. Redzepi is noted for his work on the reinvention and refinement of a new Nordic cuisine and food that is characterized by inventiveness and clean flavours.</p>
        <h3>Early life and education</h3>
        <p>Redzepi was born in Copenhagen, Denmark, to an immigrant father from the Yugoslav Republic of Macedonia and a Danish mother. [3][4] His father is of Albanian ethnic descent.[5][6]

            When he was young, Redzepi's family moved to Macedonia and lived in Tetovo, a predominantly ethnic Albanian area, until 1992 - the start of the Yugoslav wars.[7] Redzepi has said he found life in Macedonia very enjoyable compared to his later time in a small apartment in a not so-great neighborhood in Denmark. In Macedonia, Redzepi lived in a rural area in a large multi-generation house where they ate locally sourced food, mostly vegetarian, and very healthy.[8]
            
            After the family moved back to Denmark, Redzepi spent often his summers in Yugoslavia when he was young.[4]
            
            Redzepi has a twin brother, Kenneth Redzepi. He and his brother had multiple newspaper delivery services, working for a local store so that they could contribute to the family's income.[9]
            
            When he was 15 years old, Redzepi left high school. He enrolled in a cooking school with a friend</p>
            <h3>Career</h3>
            <p>After choosing a culinary career, Redzepi trained at a local family-owned Michelin starred restaurant called Pierre André in Copenhagen, where he had an apprenticeship that lasted 4 years.[4] When he was 19 years old, he went to work at Le Jardin des Sens in Montpellier in Southern France.[4]

                Redzepi first visited El Bulli as a guest in 1998 and subsequently worked there during the 1999 season.[10][11]
                
                Back in Copenhagen, Redzepi started working at Kong Hans Kælder, which had been one of the city's leading gourmet restaurants since the mid-1970s. In 2001 he spent four months working under Thomas Keller at The French Laundry in California, but returned to Kong Hans Kælder and Copenhagen.[9]
                
                In December 2002, when he was 24 years old, Redzepi was contacted by Claus Meyer, who had been offered to operate a restaurant at the North Atlantic House, a former 18th-century warehouse which was being turned into a cultural centre for the North Atlantic region. The restaurant, Noma, was opened in 2004 with Redzepi as the head chef.[9] The name is a combination of the Danish words nordisk, which means Nordic, and mad, which means food.[3]
                
                Redzepi sources much of his food locally and does research by foraging for food in the wild.[12][13] He said that this comes from his time living in Macedonia, where food was local and fresh. Much of the approach to the menu and food at Noma is based on seasonal themes of what is available at the time. Redzepi also focuses on fermentation and dehydration, experimenting with using as much of the plants, meat, and fish as possible.[14]</p>
    </div>
</body>
</html>