<!DOCTYPE html>
<html>
  <title>Oriol Mitjà</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css" />

  <body>
    <ul class="nav">
      <li><a href="/views/index.html" class="">Home</a></li>

      <li><a href="/views/about.html" class="">About</a></li>

      <li><a href="/views/works.html" class="">Works</a></li>
    </ul>

    <div class="photo"><img src="/images/oriol_mitja.jpg" /></div>

    <div>
      <section class="section-text">
        Oriol Mitjà Villar (Barcelona, 1980) es un médico investigador español
        especializado en medicina interna y enfermedades infecciosas,
        especializado en la erradicación de la enfermedad tropical del pian.1​
        Entre 2010-2020 desarrolló desde el centro médico de Lihir, en Papúa
        Nueva Guinea, un tratamiento efectivo contra el pian basado en la
        azitromicina. Fue galardonado con el Premio Princesa de Girona en la
        categoría de investigación científica.2​ El 2020, desde el Instituto de
        Investigación Germans Trias i Pujol, trabaja contra la pandemia de
        coronavirus SARS-CoV-2 que afecta al mundo desde noviembre de 2019.
      </section>
      <br />

      <section class="section-text">
        <h2>Educación</h2>
        Se licenció en medicina en la Universidad de Barcelona en 2004, y
        realizó su residencia hasta 2010 en la especialidad de medicina interna
        y enfermedades infecciosas en Barcelona.3​ En 2009, una beca Bada de
        cooperación internacional otorgada por el Colegio Oficial de Médicos de
        Barcelona le permitió realizar estudios de diplomatura de Higiene y
        Medicina Tropical en la Escuela de Higiene y Medicina Tropical de
        Londres, y en 2012 acabó su doctorado en Barcelona con la tesis
        "Estrategias para el control del pian y otras enfermedades tropicales
        desatendidas de las islas del Pacífico Sur", a partir de sus trabajos in
        situ en la isla de Lihir, en Papúa Nueva Guinea4​5​
      </section>
      <br />

      <section class="section-text">
        <h2>Actividad profesional</h2>
        Erradicar el pian Entre 2010-2020 trabajó en la isla de Lihir, en Papúa
        Nueva Guinea en una línea de investigación para el desarrollo de nuevas
        estrategias para el diagnóstico y tratamiento de la infección del pian.
        La observación del gran número de niños afectados por la enfermedad del
        pian, que llegaba al 30% de los menores de quince años de aquella
        comunidad, lo impulsó a investigar para encontrar un remedio más barato,
        asequible y fácil de administrar que el seguido hasta ese momento que
        estaba basado en inyecciones de penicilina, difíciles de administrar en
        un contexto de poblaciones remotas y sin red médica básica. Demostró que
        basta con una dosis oral de una pastilla de azitromicina, un antibiótico
        de uso común, para curarla.6​ Este hallazgo científico se publicó en la
        revista The Lancet, el año 2012, como parte de un estudio sobre la
        eficacia del tratamiento antimicrobiano oral contra la enfermedad de
        Pian.7​ La Organización Mundial de la Salud reconoció la importancia del
        descubrimiento y, en marzo de 2012, lo nombró asesor de la organización
        en materia de enfermedades tropicales olvidadas, con el encargo de
        elaborar las nuevas recomendaciones de la OMS para el tratamiento del
        pian, siguiendo una nueva estrategia que tiene como objetivo la total
        erradicación de la enfermedad en 2020.8​ Según Mitjà, el pian —que tiene
        unas consecuencias similares a la lepra— forma parte de las enfermedades
        de la pobreza porque afecta a grupos de población con pocos recursos que
        nunca mejorarán porque las consecuencias de la misma enfermedad limitan
        las capacidades físicas del afectado y producen rechazo social. En
        palabras suyas "la enfermedad empieza donde acaban los caminos", puesto
        que prevalece en lugares remotos con poco acceso a la higiene y la
        sanidad.9​
      </section>
      <br />

      <section class="section-text">
        <h2>Investigación sobre el nuevo coronavirus SARS-CoV-2</h2>
        El año 2020, en el Institut de Recerca Germans Trias i Pujol, investiga
        sobre nuevas terapias para reducir el riesgo de contagio por coronavirus
        SARS-CoV-2. Esta investigación estaba orientada a comprobar si la
        administración de hidroxicloroquina a personas que han sido expuestas al
        coronavirus en hospitales, en residencias o en domicilio reduce el
        riesgo de desarrollar la enfermedad. Esta estrategia se conoce
        técnicamente como profilaxis post-exposición.10​ Durante la pandemia se
        pronunció repetidamente a favor de la intensificación de la estrategia
        de prevención y contención del SARS-CoV-2 y solicitó el confinamiento
        total en España durante el mes de marzo de 2020. 11​12​ Ha coordinado la
        redacción de un informe de expertos sobre el plan de desconfinamiento
        encargado por el Gobierno de Cataluña el abril de 2020, y ha asesorado
        al gobierno de Andorra para diseñar medidas adecuadas para contener la
        expansión del virus en su territorio.
      </section>
    </div>
  </body>
</html>
