<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
   <h1>Who is Elon Musk?</h1> 
   <article>
<p>Elon Reeve Musk FRS (/ˈiːlɒn/ EE-lon; born June 28, 1971) is a 
business magnate, industrial designer and engineer. He is the 
founder, CEO, CTO and chief designer of SpaceX; early investor,
CEO and product architect of Tesla, Inc.; founder of The Boring 
Company; co-founder of Neuralink; and co-founder and initial 
co-chairman of OpenAI. A centibillionaire, Musk became the 
richest person in the world in January 2021, surpassing Jeff Bezos.</p>

<p>Musk was born to a Canadian mother and South African father and
raised in Pretoria, South Africa. He briefly attended the University 
of Pretoria before moving to Canada when he was 17 to attend Queen's 
University. He transferred to the University of Pennsylvania two years 
later, where he received dual bachelor's degrees in economics and physics.
He moved to California in 1995 to begin a Ph.D. in applied physics and 
material sciences at Stanford University but dropped out after two days 
to pursue a business career, co-founding web software company Zip2 with 
his brother Kimbal. The start-up was acquired by Compaq for $307 million 
in 1999. Musk co-founded online bank X.com that same year, which merged 
with Confinity in 2000 to form the company PayPal and was subsequently 
bought by eBay in 2002 for $1.5 billion.</p>

<p>In 2002, Musk founded SpaceX, an aerospace manufacturer and space transport 
services company, of which he is CEO and lead designer. In 2004, he joined 
electric vehicle manufacturer Tesla Motors, Inc. (now Tesla, Inc.), becoming 
its chairman and product architect and its CEO in 2008. In 2006, he helped create 
SolarCity, a solar energy services company (now a subsidiary of Tesla). In 2015, 
he co-founded OpenAI, a nonprofit research company that aims to promote friendly 
artificial intelligence. In July 2016, he co-founded Neuralink, a neurotechnology
company focused on developing brain–computer interfaces, and in December of that year, 
he founded The Boring Company, a tunnel construction company. In addition to his primary 
business pursuits, he envisioned a high-speed transportation system known as the Hyperloop 
based on the concept of a vactrain.</p>

<p>Musk has been the subject of criticism due to unorthodox or unscientific stances and 
highly publicized controversies. In 2018, he was sued for defamation by a diver who advised 
in the Tham Luang cave rescue; a California jury ruled in favor of Musk. Also in 2018, he 
falsely tweeted that he had secured funding for a private takeover of Tesla at $420 a share. 
The U.S. Securities and Exchange Commission (SEC) sued him for the comment. He settled with the SEC,
temporarily stepping down from his chairmanship and accepting limitations on his Twitter usage. Musk 
has received substantial criticism for his views on such matters as artificial intelligence (AI), public 
transportation, and the COVID-19 pandemic. He has also been recognized with numerous awards and accolades 
for his efforts in several different professions, and was listed among the Time 100 Most Influential People
 in the World in 2010, 2013, and 2018.</p>
  </article>
</body>
</html>