<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Gallery page</h1>
    <div>
      <a href="/">home</a>
      <a href="/works">works</a>
      <a href="/about">about</a>
    </div>
    <div class="gallery-div">
      <div class="gallery-flex">
        <img
          class="gallery-profile-img"
          src="/images/Elon_musk.jpeg"
          alt="elon musk profile image"
        />
        <div class="work-div">
          <img class="gallery-img" src="/images/boring.png" alt="" />
          <p class="work-desc">
            The Boring Company (also known as TBC)[2][3] is an American
            infrastructure and tunnel construction services company founded by
            Elon Musk in December 2016. Musk cited difficulty with Los Angeles
            traffic and limitations with the current two-dimensional
            transportation network as his early inspiration for the
            project.[3][4] The Boring Company was initially formed in December
            2016 as a subsidiary of SpaceX, becoming a separate and fully
            independent company in 2018. As of December 2018, 90% of the equity
            was owned by Musk,[5] with 6% held by SpaceX as return for the use
            of SpaceX resources during the initial startup of the company.[6]
            Outside investments during 2019 have changed the equity split.
          </p>
        </div>
        <div class="work-div">
          <img class="gallery-img" src="/images/openai.png" alt="" />
          <p class="work-desc">
            OpenAI is an artificial intelligence research laboratory consisting
            of the for-profit corporation OpenAI LP and its parent company, the
            non-profit OpenAI Inc. The company, considered a competitor to
            DeepMind, conducts research in the field of artificial intelligence
            (AI) with the stated goal of promoting and developing friendly AI in
            a way that benefits humanity as a whole. The organization was
            founded in San Francisco in late 2015 by Elon Musk, Sam Altman, and
            others, who collectively pledged US$1 billion. Musk resigned from
            the board in February 2018 but remained a donor. In 2019, OpenAI LP
            received a US$1 billion investment from Microsoft.
          </p>
        </div>
        <div class="work-div">
          <img class="gallery-img" src="/images/paypal.png" alt="" />
          <p class="work-desc">
            PayPal Holdings Inc. eller endast Paypal (marknadsförs som PayPal)
            är ett e-handelsföretag som erbjuder tjänster för betalningar och
            penningöverföringar över Internet och via smartmobil. Med Paypal kan
            man betala och överföra pengar utan att avslöja sina
            betalningsuppgifter, och man kan välja att betala med antingen
            kontosaldot på Paypal eller med det kreditkort som man har valt att
            koppla till sitt Paypal-konto. Paypal fungerar som ett elektroniskt
            alternativ till traditionella betalningsmetoder så som checkar och
            betalningsanvisningar.
          </p>
        </div>
        <div class="work-div">
          <img class="gallery-img" src="/images/solarcity.png" alt="" />
          <p class="work-desc">
            Solarcity, i marknadsföringssyfte skrivet SolarCity, är ett
            amerikanskt företag för installation av solpaneler i bostäder.
            Företaget grundades år 2006 av Peter Rive och Lyndon Rive.[1] År
            2011 hade Solarcity 15 000 avklarade eller pågående
            solinstallationsprojekt, idag är siffran däremot mycket högre.[2]
            Elon Musk är ordförande i företaget.
          </p>
        </div>
        <div class="work-div">
          <img class="gallery-img" src="/images/spacex.png" alt="" />
          <p class="work-desc">
            Spacex, i marknadsföringssyfte skrivet SpaceX, är ett amerikanskt
            företag inom privat rymdfart som grundades år 2002 av entreprenören
            Elon Musk. Spacex blev 2008 det första privata företaget som
            uppnådde omloppsbana med en raket driven av flytande bränsle.
            Företaget erbjuder transporter till omloppsbana runt jorden med
            raketerna Falcon 9 och Falcon Heavy. Spacex har dessutom utvecklat
            rymdkapseln SpaceX Dragon som används för att förse den
            internationella rymdstationen ISS med förnödenheter. 2020 är det
            tänkt att Dragon även ska transportera astronauter till ISS med
            hjälp av Dragon V2-rymdfarkosten.[1] Företaget finansieras genom den
            förmögenhet Elon Musk gjort genom tidigare startade företag som
            Paypal och genom anslag från NASA:s program COTS som syftar till att
            stimulera kommersiell rymdfart.
          </p>
        </div>
        <div class="work-div">
          <img class="gallery-img" src="/images/tesla.png" alt="" />
          <p class="work-desc">
            Tesla, Inc., tidigare Tesla Motors, är ett amerikanskt bil- och
            energiföretag med verksamhet inom elbilar och komponenter till
            elektriska drivlinor samt solceller och batterier för hemmabruk.
            Företaget grundades år 2003[2] och har sitt huvudkontor i
            Kalifornien. Företaget fick sitt namn efter fysikern och uppfinnaren
            Nikola Tesla.[3] Teslas målsättning är att påskynda världens
            övergång till hållbar energi.[4] Företaget är känt för att vara en
            av de första biltillverkare att inkludera ett antal så kallade
            autopilot-funktioner såsom autostyrning, automatisk körfältsbyte och
            autoparkering. Företaget har producerat ett antal bilmodeller: Tesla
            Roadster, Tesla Model S, Tesla Model X och Tesla Model 3.
          </p>
        </div>
        <div class="work-div">
          <img class="gallery-img" src="/images/zip2.png" alt="" />
          <p class="work-desc">
            Zip2 was a company that provided and licensed online city guide
            software to newspapers.[2] The company was founded in Palo Alto,
            California as Global Link Information Network in 1995, by brothers
            Elon and Kimbal Musk and Greg Kouri.[3] Initially, Global Link
            provided local businesses with an Internet presence,[4]:61 but later
            began to assist newspapers in designing online city guides before
            being purchased by Compaq Computer in 1999.[5]
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
