<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/d131f6a356.js"
      crossorigin="anonymous"
    ></script>
    <title>Nicola Tesla</title>
  </head>
  <body>
    <header>
      <nav id="menu">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/RMFpatent.PNG/170px-RMFpatent.PNG"
          alt=""
        />
        <p>
          Drawing from U.S. Patent 381,968, illustrating the principle of
          Tesla's alternating current induction motor
        </p>
      </div>
      <div>
        <img
          src="https://i.etsystatic.com/10464274/r/il/7d6ffb/1547711712/il_794xN.1547711712_smtv.jpg"
          alt=""
        />
        <p></p>
      </div>
      <div>
        <img src="" alt="" />
        <p></p>
      </div>
      <div>
        <img src="" alt="" />
        <p></p>
      </div>
    </section>
    <footer>
      <div id="contact">
        <h4>Contact Information</h4>
        <address>
          Nicola Tesla<br />
          Ferncliff Cemetery, <br />New York,<br />United States<br />+11 (21)
          27 2727 2324
        </address>
      </div>
      <div id="follow">
        <a
          href="https://www.instagram.com/artfarneze/"
          target="_blank"
          aria-label="Instagram"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
        <a
          href="https://twitter.com/ArthurFarneze"
          target="_blank"
          aria-label="Twitter"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.facebook.com/arthur.farneze"
          target="_blank"
          aria-label="Facebook"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.youtube.com/user/arthurfarneze"
          target="_blank"
          aria-label="Youtube"
          ><i class="fa fa-youtube" aria-hidden="true"></i
        ></a>
        <a href="https://github.com/farneze" target="_blank" aria-label="Github"
          ><i class="fa fa-github" aria-hidden="true"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
