<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo gallery</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <h1>Photo gallery</h1>
      <div class="photo-container">
        <img class="photo" src="/Photos/elon.jpeg" />
        <img class="photo" src="/Photos/falcon9.jpeg" />
        <img class="photo" src="/Photos/tesla.jpeg" />
      </div>
      <div class="photo-container">
        <img class="photo" src="/Photos/starship.jpeg" />
        <img class="photo" src="/Photos/cybertruck.jpeg" />
        <img class="photo" src="/Photos/starlink.jpeg" />
      </div>
      <div class="photo-container">
        <img class="photo" src="/Photos/neuralink.jpeg" />
        <img class="photo" src="/Photos/cdragon.jpeg" />
        <img class="photo" src="/Photos/tesla-solar.jpeg" />
      </div>
    </main>
  </body>
</html>
