<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/gallery.css">
</head>
<body>
    <nav>
        <h2>Gallery Page</h2>
        <section>
            <ul>
                <li>Option1</li>
                <li>Option2</li>
                <li>Option 3</li>
            </ul>
        </section>
    </nav>
    <main>
        <div>
            <h3>First City</h3>
            <img src="./foto.jpg" alt="First Foto">
        </div>
        <div>
            <h3>Second City</h3>
            <img src="./foto2.jpg" alt="Seconf Foto">
        </div>
        <div>
            <h3>third City</h3>
            <img src="./foto3.jpeg" alt="Third Foto">
        </div>
    </main>
</body>
</html>