<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon's home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
 <h1 class="title">Welcome to the page about Elon Musk</h1>
  <section>
    <img id="elon-face" src="/photos/440px-elon_musk_royal_society__crop1_.jpg"></img>
    <p>To find more info about him you can navigate to the following sections:</p>
    <a href="/views/about.html">About</a>
    <a href="/views/works.html">Works</a>
    <a href="/views/gallery.html">Photo gallery</a>
  </section>
</body>
</html>