<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
    <div id="left">

        <h1>Welcome visitors!!</h1>
    <h4>Do you want to know more about Enrique Miralles?</h4>
    <a href="/views/about.html">About him</a>
    <a href="/views/work.html">Some works of Enrique</a>

    </div>
    <img src="/enric_home.png" alt="">
    
    <!-- <a href="works.html">Works</a>
    <a href="gallery.html">Gallery</a> -->
    
</body>
</html>