<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Garfield</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>Hi Garfield</h1>
            <img src="/images/garfield_historia_real2_0.jpg" alt="Garfield" width="300px"></img>
            <div class="buttons">
                <a href="/about">About</a>
                <a href="/portfolio">Portfolio</a>
            </div>
        </div>
    </body>
</html>