    <!DOCTYPE html>
    <html lang="en">
    <head>
         
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body>
      <section class="intro">

     <h1 class="title">A tribute to Elon Musk</h1>
        <img src="/Photos/440px-Elon_Musk_Royal_Society_(crop1).jpg"></img>
        <p>To find more info  you can navigate to the following sections:</p>
        <div class="links">
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Photo gallery</a>
        </div>
      </section>
    </body>
    </html>