<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carl Sagan</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header> 
    <nav>
      <ul>
        <li><a href="/aboutme"> Who is Carl Sagan? </a></li>
        <li><a href="/works"> Works </a></li>
        <li><a href="/gallery"> Photo Gallery </a></li>
      </ul>
    </nav>
</header>
<section id="gallery">
<div>
  <img class="imgCarl" src="/images/carl1.jpeg" alt="">
  <img class="imgCarl" src="/images/carl2.jpeg" alt="">
  <img class="imgCarl" src="/images/carl1.jpeg" alt="">
</div>
<div>
  <img class="imgCarl" src="/images/carl2.jpeg" alt="">
  <img class="imgCarl" src="/images/carl1.jpeg" alt="">
  <img class="imgCarl" src="/images/carl2.jpeg" alt="">
</div>

</section>

</body>
</html>