<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="../css/photo-gallery.css">
</head>
<body>
  <img class="img-head" src="http://127.0.0.1:3000/charlie9.jpg" alt="">

<div>
  <img class="img" id="img1" src="http://127.0.0.1:3000/charlie1.jpeg"  href="http://127.0.0.1:3000/charlie1.jpeg">
  <img class="img" src="http://127.0.0.1:3000/charlie2.gif" alt="">
  <img class="img" src="http://127.0.0.1:3000/charlie3.jpg" alt="">
  <img class="img" id="img1" src="http://127.0.0.1:3000/charlie4.jpg" alt="">
  <img class="img" src="http://127.0.0.1:3000/charlie5.jpg" alt="">
  <img class="img" id="img1" src="http://127.0.0.1:3000/charlie6.gif" alt="">
  <img class="img" src="http://127.0.0.1:3000/charlie7.jpg" alt="">
  <img class="img" src="http://127.0.0.1:3000/charlie8.jpg" alt="">

</div>
</body>
</html>