<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/photo.css">
    <title>Document</title>
</head>
<body>
        <header>
                <nav>
                    <div>
                        
                    </div>
                    
                    <div>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Photo Gallery</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main>
                
            </main>
            
            <footer>
                <div>
        
                </div>
        
                <div>
                    <ul>
                        <li><a href="">Lorem Ipsum</a></li>
                        <li><a href="">Lorem Ipsum</a></li>
                        <li><a href="">Lorem Ipsum</a></li>
                        <li><a href="">Lorem Ipsum</a></li>
                    </ul>
                </div>
            </footer>
</body>
</html>