<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Elvis Presley - Photo Gallery Page</title>

    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">

  </head>
  <body>

    <header>
      
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/works">Works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/photo-gallery">Photo Gallery</a>
                </li>
              </ul>
            </div>
          </nav>

    </header>

    <h1>Take a look at some pictures:</h1>

    <img class="photo-gallery-picture" src="../images/Screenshot 2020-11-11 at 09.12.22.png" alt="E.P 4">
    <img class="photo-gallery-picture" src="../images/Screenshot 2020-11-11 at 09.12.42.png" alt="E.P 5">
    <img class="photo-gallery-picture" src="../images/Screenshot 2020-11-11 at 09.12.54.png" alt="E.P 6">
    <img class="photo-gallery-picture" src="../images/Screenshot 2020-11-11 at 09.13.11.png" alt="E.P 7">
    <img class="photo-gallery-picture" src="../images/Screenshot 2020-11-11 at 09.13.23.png" alt="E.P 8">
  </body>
</html>