<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
        />
        <script src="https://kit.fontawesome.com/76bf2e879b.js" crossorigin="anonymous"></script>
        <title>REVERA</title>
      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a
            class="navbar-brand display-1"
            href="#"
            style="padding: 0 20%; font-size: 2em; font-weight: bold;"
            >Francisco Ponce</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <li class="nav-item">
                  <a class="nav-link" href="/" style="color: #84BECF; font-size: 1.5em; padding-left:5%">Home</a>
                </li>
                <a class="nav-link" href="about" style="color: #84BECF; font-size: 1.5em; padding-left:3%"
                  >About <span class="sr-only">(current)</span></a
                >
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="work" style="color: #84BECF; font-size: 1.5em; padding-left:20%">Work</a>
              </li>
            
          </div>
        </nav>
        <div class="media" style="margin-top: 1%;">
          <img src="images/bosch-toluca.jpg" class="align-self-start mr-3" alt="..." style="width: 20% ">
          <div class="media-body">
            <h5 class="mt-0" style="font-size: 1.9em;color:#3F707F">Recruiter / Internal Communication</h5>

            <p style = "font-size: 1.5em;"> I worked for the starter generators motors division, held now by SEG Automotive. I polished my recruiting skills and learned about outplacement techniques. Also I could drive myself into the hardest KPI in the whole department: 'STO'</p>
          </div>
        </div>
        <div class="media" style="margin-top: 5%; display: flex; flex-direction: row-reverse;">
          <img src="images/interjet.jpg" class="align-self-start mr-3" alt="..." style="width: 30% ">
          <div class="media-body">
            <h5 class="mt-0" style="font-size: 1.9em; display: flex; flex-direction: row-reverse;color:#3F707F">Talent adquisition</h5>

            <p style = "font-size: 1.5em; text-align:  right;">I ignited my career by mapping the headhunting process, and updating the perks for lower tiers such as outplacement and bonuses packages. My team enhanced the leading blackboard and were awarded in a small intern contest</p>
          </div>
        </div>
      </body>