<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon's work</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <h1>Companies founded</h1>
        <ul>
            <li>Zip 2</li>
            <li>PayPal</li>
            <li>Space X</li>
            <li>Tesla</li>
            <li>Solar City</li>
            <li>Halcyon Molecular</li>
            <li>Tesla Energy</li>
            <li>Neuralink</li>
            <li>Open AI</li>
            <li>The Boring Company</li>
        </ul>
    </main>
</body>
</html>