<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jane Austen</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/work.css" />
  </head>
  <body>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active text-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark" href="/work">Works</a>
        </li>
      </ul>
    </nav>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2 class="display-4 text-center my-3">Most iconic and famous works</h2>
      <div class=" m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Sense and Sensibility</h4>
        <img class="img-1 img-fluid" src="/img/SenseAndSensibility.jpg" alt="Sense and Sensibility" />
      </div>
      <div class="m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Pride and Prejudice</h4>
        <img class="img-2 img-fluid" src="/img/PrideAndPrejudice.jpg" alt="Pride and Prejudice "/>
      </div>
      <div class="m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Mansfield Park</h4>
        <img class="img-3 img-fluid" src="/img/MansfieldPark.jpeg" alt="Mansfield Park"/>
      </div>
      <div class="m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Emma</h4>
        <img class="img-4 img-fluid" src="/img/Emma.jpg" alt="Emma"/>
      </div>
      <div class="m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Northanger Abbey</h4>
        <img class="img-5 img-fluid" src="/img/NorthangerAbbey.jpg" alt="Northanger Abbey"/>
      </div>
      <div class="m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Persuasion</h4>
        <img class="img-6 img-fluid" src="/img/Persuasion.jpg" alt="Persuasion"/>
      </div>
      <div class="m-5 d-flex flex-row align-items-center justify-content-center">
        <h4 class="pr-5">Lady Susan</h4>
        <img class="img-7 img-fluid" src="/img/LadySusan.jpg" alt="Lady Susan"/>
      </div>
    </div>
  </body>
</html>
