<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
  </head>
  <body>
    <div class="container">
      <div class="img_project1"><img src="/images/fight.png" alt="fight project" /></div>
      <div class="linksGitHub">
        <div class="link_github">
          <a href="https://github.com/vidaldiaz/tetris-boxing" target="_blank">GitHub Repo</a>
        </div>
        <div class="link_game">
          <a href="https://vidaldiaz.github.io/tetris-boxing/" target="_blank">Click to Play!</a>
        </div>
      </div>
    </div>
    <span class="return"><a href="/views/index.html">Main Page</a></span>
  </body>
</html>
