<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="/css/work.css"/>
</head>
<body>

    <h1>The works of Enriwu Miralles</h1>
    <a href="/views/home.html">Back to Homepage</a>
    <div id="wrapper">
        <div class="work">
            <img src="/new_scottish_Parliament.jpg" alt="">
            <p>New scottish Parliament</p>
        </div>
        <div class="work">
            <img src="/Igualada_Cemetery.jpg" alt="">
            <p>Igualada Cemetery</p>
        </div>
        <div class="work">
            <img src="/walks_and_tours.png" alt="">
            <p>Enrique drawing: Walks and tours</p>
        </div>
        <div class="work">
            <img src="/ines_table.jpg" alt="">
            <p>Ines table</p>
        </div>
    </div>
    
    
   
    
</body>
</html>