<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quentin Tarantino - Works</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/works.css">
</head>
<body>
    <div class="works-div">
        <h2 class="works-headline">Producer</h2>
        <p class="works-article">Tarantino is using his Hollywood power to give smaller and foreign films more attention than they might have received otherwise. These films are often labeled "Presented by Quentin Tarantino" or "Quentin Tarantino Presents". The first of these productions was in 2001, with the Hong Kong martial arts film Iron Monkey, which made over $14 million in the United States, seven times its budget.</p>
        <img class="works-img" src="/images/death-proof-poster.jpg" alt="Deathproof">
    </div>
    <div class="works-div">
        <img class="works-img" src="/images/natural-born-poster.jpg" alt="NBK">
        <h2 class="works-headline">Screenwriter</h2>
        <p class="works-article">Tarantino received his first paid writing assignment in the early 1990s when Robert Kurtzman hired him to write the script for From Dusk till Dawn. In January 1992, Tarantino's neo-noir crime thriller Reservoir Dogs—which he wrote, directed, and acted in as Mr. Brown—was screened at the Sundance Film Festival. It was an immediate hit, with the film receiving a positive response from critics. The dialogue-driven heist film set the tone for Tarantino's later films.</p>
    </div>
    <div class="works-div">
        <h2 class="works-headline">Director</h2>
        <p class="works-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eros eget porta volutpat. Nulla et tellus vitae dui mattis molestie. Nulla consectetur justo nec erat ultrices, sed accumsan libero gravida. Vivamus at rhoncus quam, sit amet cursus justo. Pellentesque ac arcu pharetra, egestas tortor at, hendrerit quam. In vitae ex in felis iaculis feugiat. </p>
        <img class="works-img" src="/images/h8ful8-poster.jpg" alt="Hateful Eight">
    </div>
    <div class="works-div">
        <img class="works-img" src="/images/pulp-fiction-poster.jpg" alt="Pulp Fiction">
        <h2 class="works-headline">Actor</h2>
        <p class="works-article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales eros eget porta volutpat. Nulla et tellus vitae dui mattis molestie. Nulla consectetur justo nec erat ultrices, sed accumsan libero gravida. Vivamus at rhoncus quam, sit amet cursus justo. Pellentesque ac arcu pharetra, egestas tortor at, hendrerit quam. In vitae ex in felis iaculis feugiat. </p>
    </div>
</body>
</html>