*{
  margin: 0;
  padding: 0;
}
body{
  font-family: $font;
  font-size: 18px;
}

nav{
  width: 100%;
  background-color: $red;
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 10vh;
    color: $white;
    li{
      a{
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.container{
  width: 960px;
  height: 82vh;
  margin: 0 auto;
  background: url('../images/ignatius-front-page.jpg');
  div{
    display:inline-block;
    position: relative;
    left: 30%;
    top: 50%;
    h1{
      color: $font-white;
      font-size: 4rem;
    }
  }
}

footer{
  background-color: $footer-color;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h3{
    color: $white;
    margin-right: 20px;
  }
}