body {
    background-color: aquamarine;
    font-size: 18px;
}
img{
    height: 750px;
    object-fit: cover;
}
h1,h2{
font-size: 2em;
text-align: center;
}
p{
    font-size: 1,8em;
    line-height: 30px;
    margin: 40px 70px
}
.navegador{
    background-color: aqua;
}