$maincolor: blueviolet;
$secondary:white;
$background: lightgrey;

body{
  background-color: $background;
  margin:0;
  padding :0;
  
  }

nav{
  background-color: $maincolor;
  position:fixed;
  top:0;
  margin:0;
  width:100%;

  ul{
    margin :0;
    display:flex;
    justify-content: center;
  }
  li{
    margin:5px;
    padding:5px;
    list-style: none;
  }
  a {
    text-decoration: none;
    color:$secondary;
  }
}

main{
 margin-top:40px; 
 padding : 10px;
 text-align: center;
}

#photos {
  img{
  margin:0 auto;
  object-fit: cover;
  width:300px;
  height: 400px;
  }
  .show{
  display:block;
  }
  .hide{
    display:none;
  }
}
