<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About Node.js</title>
  </head>
  <body>
    <h1>Node.js</h1>
    <p>Node.js has allowed us to run JavaScript anywhere</p>
    <ul>
        <li>Browser</li>
        <li>Web Server</li>
    </ul>
    <div class="box-info">
        <p>NPM is a package manager for Node.js</p>
        <p>Module or package is a bunch of reusable code that is package with the code it depends on -> dependencies</p>
    </div>
  </body>
</html>