<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <title>About</title>
</head>
<header>
      
    </header>
<body class="aboutContainer">
        
        <div class="jumbotron">
                <h1 class="display-4">TECKEL</h1>
                <p class="lead">Curiosidades sorprendentes del teckel, el perro salchicha</p>
                <hr class="my-4">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Origen
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
            <p>El teckel es un perro cuya capacidad de adaptación es impresionante, pues será igual de feliz en un piso que en una casa con terrenos donde correr y jugar. Por eso, es una raza tan apreciada, además de por su carácter cariñoso, listo y equilibrado y por su aspecto físico tan peculiar.
            Sus orígenes se remontan hasta el siglo XVIII en los países germánicos, y desciende de perros cazadores y rastreadores de tamaño pequeño y baja estatura. Parece ser que en sus inicios su tarea principal era la caza bajo tierra, de ahí su particular morfología.
            En cuanto a su carácter, son perros inteligentes y que pueden ser algo testarudos, por lo que una buena educación y socialización son claves en su desarrollo. No obstante, son animales fáciles de educar y que comprenden rápidamente las órdenes nuevas, por lo que no son perros problemáticos por lo general. Además, la personalidad de cada perro y sus experiencias, 
            como sabemos, también influyen en su carácter de adulto. </p></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Carácter
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
            <p>El Teckel en general es un perro muy seguro de sí mismo, alegre y curioso, por lo que la convivencia con él es fácil. Sin embargo, no ha perdido su instinto cazador, por lo que necesita un buen control para evitar en la medida de lo posible que se pierda en un paseo por el campo.
            Por supuesto, para conseguir ese control es necesaria una buena educación, que debe empezar lo antes posible; de lo contrario, se afianzarán comportamientos que no se pueden cambiar cuando son adultos, al menos no sin la ayuda de un profesional experto en comportamiento canino.
            Con un buen adiestramiento, el Teckel es un perro versátil, en el que destaca su temperamento equilibrado y amigable, lo que es fundamental para la convivencia con sus congéneres.</p></div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Consejos
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>Su pequeño tamaño, el fácil manejo y los pocos cuidados que requiere, incluida la variedad de pelo largo, hacen del Teckel uno de los perros más solicitados para vivir en la ciudad, pero como no ha perdido ni un ápice de su instinto cazador es adecuado mantenerlo bajo control.
            Solo las variedades de pelo largo y duro pueden requerir un poco más de dedicación, especialmente cuando van a exposiciones, pero para vivir en casa basta con un cepillado periódico y un baño si está muy sucio.
            Debido a la colocación de sus orejas, apoyadas sobre las mejillas, pueden presentar cierta tendencia a padecer otitis, pero esta es muy fácil de prevenir con una higiene básica.
            ¡Ojo!, el Teckel siente predilección por el agua, por lo que no dudará en zambullirse en un río o un pantano. Por ello, no se le debe perder de vista si hay grandes superficies de agua cercanas.</p>
        </div>
    </div>
  </div>
</div>
</body>
</html>