{{> nav }}
<div class="content">

<h1>Contact Me</h1>
<p>I have an email address</p>

<div class="fun">
<div class="b1"><button id="id1">I meant here</button></div>
<div class="b2"><button id="id2">No, HERE</button></div>
<div class="b3"><button id="id3">Click here for my address</button></div>
<div class="b4"><button id="id4">over here..</button></div>
<div class="b5"><button id="id5">click me!</button></div>
</div>

</div>
{{> footer }}