* {
    padding: 0;
    margin: 0;
}


.nav-bar-ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    background-color: rgb(133, 156, 255);
    align-items: center;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

li>a {
    text-decoration: none;
    color: white;
}

#about-me  {
display: flex;
text-align: center;
justify-content: center;
flex-direction: column;
width: 300px;
}

#about-me p,aside{
    text-align: justify;
}