<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Historia</h4>
  <p>La National Basketball Association, más conocida simplemente por sus siglas NBA (en español, Asociación Nacional de Baloncesto), es una liga privada de baloncesto profesional que se disputa en Estados Unidos desde 1946, añadiéndose posteriormente Canadá en los años 1990. Al ser una entidad privada, no depende oficialmente de la Federación Estadounidense de Baloncesto. Los jugadores de la NBA están autorizados a competir internacionalmente tras un acuerdo especial a tres bandas firmado entre la Federación Internacional 
    de Baloncesto (FIBA) —máximo organismo a nivel mundial—, la propia NBA y la Federación Estadounidense en 1989.1</p>
  <h4 id="list-item-2">Origen y primeros años</h4>
  <p>La Basketball Association of America (BAA) fue fundada en 1946 por propietarios de los principales pabellones deportivos del noreste y
     medio-oeste, como el Madison Square Garden de Nueva York. Los 11 equipos que abrieron el telón en la temporada inaugural 1946-47 fueron Boston 
     Celtics, Philadelphia Warriors, New York Knicks, Washington Capitols, Providence Steamrollers, Toronto Huskies, Chicago Stags, St. Louis Bombers, Cleveland Rebels, Detroit Falcons y Pittsburgh Ironmen.5​ Únicamente tres de esos equipos han perdurado hasta nuestros días: Boston Celtics, New York Knicks y Golden State Warriors siendo por tanto los únicos que han disputado todas las temporadas de la liga desde su fundación. De ellos, tan solo Boston Celtics y New York Knicks no se han movido de ciudad siendo considerados por estos motivos como dos de los equipos más representativos e históricos de la liga. Por contra, los Warriors nacieron en Filadelfia, 
  para mudarse en 1962 a San Francisco y en 1971 a Oakland, lugar que han ocupado hasta 2019, año en el que se volvieron a trasladar a San Francisco.</p>
  <h4 id="list-item-3">Expansión</h4>
  <p>Estos casos sin embargo estuvieron contextualizados por el acuerdo de fusión entre la BAA y la NBL, rebautizando así la liga como National Basketball Association (NBA), con 17 franquicias localizadas en una mezcla de ciudades grandes y pequeñas, así como pabellones con más capacidad y gimnasios más pequeños.6​ En 1950, la NBA se consolidó en once franquicias, proceso que siguió hasta 1954, cuando llegó a contar con tan sólo ocho equipos que aún perduran a día de hoy 
    (Knicks , Celtics, Warriors, Lakers, Royals/Kings, Pistons, Hawks y Nationals/76ers).</p>
  <h4 id="list-item-3">Los años dorados</h4>
  <p>En la temporada 1979-1980 la liga agregó de la ABA la innovadora línea de tres puntos.16​ Esa temporada, entrarían en la liga los rookies Magic Johnson y Larry Bird, para jugar en los Lakers y Celtics respectivamente, y se dio comienzo a un periodo en el que el interés por la liga y el número de aficionados creció tanto en el país como en el mundo entero. La preciosa rivalidad que mantenían estos dos jugadores fue, como muchos dicen, uno de los salvadores de la liga, que parecía que empezaba a vagar sin rumbo antes de sus llegadas. 
    Bird ganaría con Boston tres títulos, mientras que Johnson se proclamaría vencedor de cinco campeonatos con los Lakers.17​</p>
  <h4 id="list-item-4">Actualidad</h4>
  <p>Desde 2004, la NBA está conformada por 30 franquicias y sigue desarrollándose como una de las principales ligas deportivas del mundo.

El 1 de julio de 2011, a las 12:01 del mediodía, la NBA anunció otro cierre patronal.25​ Después de que las primeras semanas de la temporada fueran canceladas, los jugadores y los dueños ratificaron un nuevo convenio colectivo el 8 de diciembre de 2011 
estableciendo una temporada acortada de 66 partidos, por los 82 que se juegan regularmente.</p>
</div>