<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Club</h4>
  <p>Nace de la creacion del foro Club del shiba inu en Espa침a, que mas tarde se traslada a Facebook, llegando a tener
    mas de 4000 usuarios en la actualidad</p>
  <h4 id="list-item-2">Raza</h4>
  <p>El Shiba Inu游붉(聊얺궓) es el m치s peque침o de las seis originales y diferentes razas de perro de Jap칩n. Es un perro
    peque침o y 치gil que soporta muy bien el terreno monta침oso, ya que fue originalmente criado para la caza. Es similar
    en apariencia al Akita Inu, aunque es mucho m치s peque침o en estatura. Es una de las pocas razas de perro antiguas que
    todav칤a existen en el mundo</p>
  <h4 id="list-item-3">Historia</h4>
  <p>El Shiba Inu es una raza muy antigua, aunque pese a su antig칲edad no est치 clasificada por la FCI dentro del grupo
    "Perros Primitivos", sino como "Perros Spitzs". Sus or칤genes surgen en el Asia Meridional, registr치ndose los
    primeros indicios de la llegada de este perro al Jap칩n sobre el a침o 2000 a. C. y eran descendientes de perros
    salvajes del Sur de China.</p>
  <p>Como la mayor칤a de los perros japoneses, fue utilizado en sus or칤genes para la caza en las monta침as muy
    accidentadas
    y pobladas del centro del pa칤s. Tambi칠n se usaba en bosques donde habitaba el fais치n de monta침a (el yamadori) y
    otras presas de plumas e incluso peque침os mam칤feros. Se dice que cazaba tambi칠n zorros y corzos. El h치bitat del
    Shiba era el 치rea monta침osa frente al Mar del Jap칩n.</p>
  <p>A finales del siglo XIX estuvo a punto de desaparecer al convertirse la caza en un deporte, hecho que facilit칩 la
    introducci칩n en el pa칤s de perros de otras razas europeas, especialmente Setters y Pointers, y el cruce entre las
    diferentes razas, llegando a ser dif칤cil el hecho de encontrar un shiba puro. Por fortuna y gracias a la
    colaboraci칩n entre intelectuales y cazadores se unieron esfuerzos para salvaguardar la raza y mantener l칤neas puras.
    En plena II Guerra Mundial de nuevo estuvo a punto de desaparecer la raza, pudiendo salvarse tres l칤neas de sangre:
    las San In Shiba, Mino Shiba y Shin Shu Shiba, siendo la 칰ltima la m치s popular. A partir de estas tres l칤neas se
    desarroll칩 el Shiba actual.</p>
  <p> En 1920 se le aplic칩 el nombre de "Shiba" a la raza (inu solo significa "perro" en japon칠s) y en 1934 se
    confeccion칩
    el est치ndar de la raza, declar치ndose "monumento natural del Jap칩n" tres a침os m치s tarde, hecho que demostrar칤a el
    inter칠s del pueblo japon칠s por preservar y proteger sus razas aut칩ctonas caninas.</p>
  <h4 id="list-item-4">Caracter칤sticas</h4>
  <p>Este perro es muy buena mascota. El Shiba Inu es muy afectuoso con su amo, se le considera un buen perro de
    compa침칤a y perro de aviso o guardi치n. Se llevan bien con los ni침os de la casa, siempre y cuando el animal sea
    respetado. Se lleva bien con las dem치s mascotas. Se adapta bien a la vida de apartamento o casa. Como contrapartida,
    pese a ser muy inteligente, puede tender a ignorar 칩rdenes con m치s facilidad que otros "perros de familia". Este
    perro requiere ejercicio a menudo y debe ser cepillado de vez en cuando.</p>
</div>