<article class="card card--article">
    <a href="">
        <img src="{{ image }}" class="card-img-top" alt="Surfer article">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p>{{ excerpt }}</p>
        </div>
    </a>
</article>