<div class="card">
  <img src={{this.poster}} class="card-img-top" alt={{this.title}}>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.year}}</p>
  </div>
</div>