<footer>
    <a class="btn btn-primary mr-4" href="https://twitter.com/KareenaOnline?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">My Twitter Page</a>
    <a class="btn btn-primary" href="https://www.facebook.com/Bebolicious.2013/">My Facebook Page</a>
</footer>