<footer>
  <div class="flex-container">
    <section class="social-medias">
      <a href="https://www.linkedin.com/in/pham-cecile/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/sheshiru/" target="_blank"><i class="fab fa-github-square"></i></a>
    </section>
    {{!-- <section id="contact">
      <h2>Contact me</h2>
      <a href="/contact"></a>
    </section> --}}

  </div>
  <hr>
  <div class="up-container">
    <a id="scroll-to-top" href="#" title="Scroll to Top">Up</a>
  </div>
</footer>