<footer id="colophon" class="site-footer" role="contentinfo">
  <p class="copy">Follow Us!</p>
  <div class="social-wrapper">
    <ul>
      <li>
        <a href="https://twitter.com/lacasadepapel?lang=fr" target="_blank">
          <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png" alt="Twitter Logo" class="twitter-icon"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/lacasadepapel/?hl=fr" target="_blank">
          <img src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png" alt="Instagram Logo" class="instagram-icon"></a>
      </li>
      <li>
        <a href="https://fr-fr.facebook.com/LaCasaDePapelTV/" target="_blank">
          <img src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico" alt="Facebook Logo" class="facebook-icon"></a>
      </li>
    </ul>
  </div>
    <p class="copy" role="navigation">Copyright &copy; 2019
      <?php echo date("Y"); ?> J. CARRA</p>
  
</footer>
<!-- #colophon -->
