<div class="footer">
  <h1>EIMAS</h1>
  <p>Desde EIMAS ofrecemos la mejor educación científica y técnica en materia de medio ambiente y sostenibilidad gracias a la colaboración con los mejores centros de investigación y universidades del mundo.</p>
</div>