  <div>
    <header>
      <nav id="menu">
        <a class="btn btn-head" href="/">Home</a>
        <a class="btn btn-head" href="/about">About</a>
        <a class="btn btn-head"href="/courses">Courses</a>
      </nav>
    </header>
  </div>