<div class="index-container">
  <p>Estos son los algunos de los equipos de la nba, la liga dispone de 30 equipos, tanto de Estados Unidos como de
    Canada, en un futuro cercano se prevee la expansion de la
    liga a mexico
  </p>
  <img class="img" src="/public/images/logo.jpg" alt="logo nba">
</div>