<div class="index-container">
  <p>Estos son los administradores del grupo de Facebook, el Club del Shiba Inu en España, creado por Carlos Torres, con
    el unico objetivo de reunir propietarios e interesado en esta raza japonesa, con el animo de compartir experiencias.
  </p>
  <img class="img" src="/static/images/logo-club.jpg" alt="logo club">
</div>