<div id="image1" class="project">
  <div class="illustrationtitle"><span>{{title}}</span></div>
  <img src="/img/labaignade.jpg" alt="la baignade">
</div>
<div id="image2" class="project">
  <div class="illustrationtitle"><span>Les cabanons</span></div>
  <img src="/img/les-cabanons-2.jpg" alt="les cabanons">
</div>
<div id="image3" class="project">
  <div class="illustrationtitle"><span>Les ballons</span></div>
  <img src="/img/les-ballons.jpg" alt="les ballons">
</div>
<div id="image4" class="project">
  <div class="illustrationtitle"><span>Les parasols</span></div>
  <img src="/img/les-parasols.jpg" alt="les parasols">
</div>
<div id="image5" class="project">
  <div class="illustrationtitle"><span>Les parasols</span></div>
  <img src="/img/les-parasols-2.jpg" alt="la baignade">
</div>