<div id='#title'>
    <h1>wes anderson... explained</h1>
    
</div>

<ul id='navbar'>
    <div class='navlink'><li><a href='/'>home</a></li></div>
    <div class='navlink'><li><a href='/about'>about</a></li></div>
    <div class='navlink'><li><a href='/gallery'>gallery</a></li></div>
</ul>