<nav id="navbar-main">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutme">About me</a></li>
            <li><a href="/photogallery">Photo gallery</a></li>
        </ul>
    </nav>