<div class="single-recip">
    <img class="img-top" src={{this.image}} alt=“image cap”>

    <div class="recip-body">

        <h5>{{this.title}} </h5>
        <p class=“level”>{{this.level}}</p>
        <a href="/ingredients/{{id}}" class="btn">More</a>

        <p class=“Description</p> </div> </div>