<div class="single-recip">
    <img class="img-top" src={{this.image}} alt=“image cap”>

    <div class="recip-body">

        <h5>{{this.title}} </h5>
        <p class=“level”>{{this.level}}</p>


        <form method="GET" action="/more/{{this._id}}">
            <button class="more_btn">More</button>

    </div>
</div>

{{!-- bu syfa benim tek tek recipeleri görmemmi sağlayan syfa --}}