<div class="logoTitle">
    <a href="/">
        <img class="logo" src="http://icons.iconarchive.com/icons/icons8/ios7/512/Very-Basic-Code-icon.png" /></a>
    <h1><a href="/">F<span class='tiny'>ind</span>C<span class='tiny'>ode</span>G<span class='tiny'>if</span></a></h1>

</div>