<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Van Gogh | 404 Not found</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- Custom Styles -->
    <link href="404.css" rel="stylesheet" />
  </head>
  <body>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Error 404. Not Found.</h1>
      <p class="lead">Nothing to see here.</p>
      <p class="lead">
        <a href="/home" class="btn btn-lg btn-secondary">Go Home</a>
      </p>
    </main>
  </body>
</html>
