<div id="a-propos">
    <img src="/img/adele-simper-photo.jpg" alt="photo-adele-simper" class="a-propos">
    <span class="a-propos">
        Réalisatrice, autrice et vidéaste, j'ai obtenu un master d'études cinématographiques à la faculté Paris X, avant
        de
        suivre un atelier documentaire à la Fémis.​

        Du contenu digital au film documentaire, je travaille essentiellement autour des thématiques liées à l'histoire
        des femmes.
    </span>
</div>