<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/abilities.css">
    <title>Sylvanas Windrunner</title>
</head>
<body>
    <header>
        <img src="/images/forsaken-banner.png" alt="Forsaken banner">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/abilities">Abilities</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Abilities</h2>
        <section class="abilities-container">
            <article>
                <p class="article-title"><strong>Black Arrow</strong></p>
                <img src="/images/black-arrow.png" alt="Black arrow icon">
                <p>45 yrd range. Curses an enemy, inflicting Shadow damage every 3 sec for 30 sec. If the target dies while afflicted by Black Arrow, a Skeleton will be summoned from the target's corpse. 2 sec cast. Cannot be interrupted.</p>
            </article>
            <article>
                <p class="article-title"><strong>Fade</strong></p>
                <img src="/images/fade.png" alt="Black arrow icon">
                <p>Turns the caster invisible and increases its movement speed by 50% for 3 sec.</p>
            </article>
            <article>
                <p class="article-title"><strong>Multi-Shot</strong></p>
                <img src="/images/multishot.png" alt="Black arrow icon">
                <p>30 yrd range. Fires a volley of missiles at an enemy and its nearby allies, striking up to 10 targets as Physical damage.</p>
            </article>
            <article>
                <p class="article-title"><strong>Summon Skeleton</strong></p>
                <img src="/images/summon-skeleton.png" alt="Black arrow icon">
                <p>Summons 5 Skeletons to aid the caster in battle for 2 min.</p>
            </article>
            <article>
                <p class="article-title"><strong>Shoot</strong></p>
                <img src="/images/shoot.png" alt="Black arrow icon">
                <p>5-30 yrd range. Shoots at an enemy, inflicting Physical damage.</p>
            </article>
        </section>
    </main>
</body>
</html>