<h1>About</h1>
<h2>Dundun</h2>
<p>Dundun loves sweets! Anything from the sea is a bit tough for him, expcet authentic sushi and algue (yes, he tolerates). He is quite unstoppable when it comes to sweet, in particular chocolate, caramel, dates and anything that is strawberry flavored.</p>
<p>Little DimSum is a food Master, she makes the best dandan noodles, beef stew, desserts, hot drinks and many more. On top of that, no good restaurant can escape her: she will find it, try it and most of the time... enjoy it :)</p>