<h2>About Bill</h2>
<section class="section">
  <p>
    Bill Gates is a technologist, business leader, and philanthropist. He grew
    up in Seattle, Washington, with an amazing and supportive family who
    encouraged his interest in computers at an early age. He dropped out of
    college to start Microsoft with his childhood friend Paul Allen. He married
    Melinda French in 1994 and they have three children. Today, Bill and Melinda
    Gates co-chair the charitable foundation bearing their names and are working
    together to give their wealth back to society. Bill grew up in Seattle with
    his two sisters. His dad, William H. Gates II, is a Seattle attorney and one
    of the co-chairs of the Bill & Melinda Gates Foundation. His late mother,
    Mary Gates, was a schoolteacher, University of Washington regent, and
    chairwoman of United Way International.
  </p>
  <h3>Early Life</h3>
  <p>
    Gates was born William Henry Gates III on October 28, 1955, in Seattle,
    Washington. Gates grew up in an upper-middle-class family with his older
    sister, Kristianne, and younger sister, Libby. Their father, William H.
    Gates Sr., was a promising, if somewhat shy, law student when he met his
    future wife, Mary Maxwell. She was an athletic, outgoing student at the
    University of Washington, actively involved in student affairs and
    leadership. The Gates family atmosphere was warm and close, and all three
    children were encouraged to be competitive and strive for excellence. Gates
    showed early signs of competitiveness when he coordinated family athletic
    games at their summer house on Puget Sound. He also relished in playing
    board games (Risk was his favorite) and excelled at Monopoly.
    <br />
    Gates had a very close relationship with his mother, Mary, who after a brief
    career as a teacher devoted her time to helping raise the children and
    working on civic affairs and with charities. She also served on several
    corporate boards, including those of the First Interstate Bank in Seattle
    (founded by her grandfather), the United Way and International Business
    Machines (IBM). She would often take Gates along when she volunteered in
    schools and at community organizations.
  </p>
  <h3>Bill Gates’s Education</h3>
  <p>
    Gates was a voracious reader as a child, spending many hours poring over
    reference books such as the encyclopedia. Around the age of 11 or 12,
    Gates's parents began to have concerns about his behavior. He was doing well
    in school, but he seemed bored and withdrawn at times, and his parents
    worried he might become a loner. Though they were strong believers in public
    education, when Gates turned 13, his parents enrolled him at Seattle's
    exclusive preparatory Lakeside School. He blossomed in nearly all his
    subjects, excelling in math and science, but also doing very well in drama
    and English. While at Lakeside School, a Seattle computer company offered to
    provide computer time for the students. The Mother's Club used proceeds from
    the school's rummage sale to purchase a teletype terminal for students to
    use. Gates became entranced with what a computer could do and spent much of
    his free time working on the terminal. He wrote a tic-tac-toe program in
    BASIC computer language that allowed users to play against the computer.
    Gates graduated from Lakeside in 1973. He scored 1590 out of 1600 on the
    college SAT test, a feat of intellectual achievement that he boasted about
    for several years when introducing himself to new people.
  </p>
  <h3>Bill Gates’s Wife and Children</h3>
  <p>
    In 1987, a 23-year-old Microsoft product manager named Melinda French caught
    the eye of Gates, then 32. The very bright and organized Melinda was a
    perfect match for Gates. In time, their relationship grew as they discovered
    an intimate and intellectual connection. On January 1, 1994, Melinda and
    Gates were married in Hawaii. Following the devastating death of his mother
    to breast cancer just a few months after their wedding, they took some time
    off in 1995 to travel and get a new perspective on life and the world. In
    1996, their first daughter, Jennifer, was born. Their son, Rory, was born in
    1999, and a second daughter, Phoebe, arrived in 2002.
  </p>
  <h3>Bill Gates's Personal Wealth</h3>
  <p>
    In March 1986, Gates took Microsoft public with an initial public offering
    (IPO) of $21 per share, making him an instant millionaire at age 31. Gates
    held 45 percent of the company's 24.7 million shares, making his stake at
    that time $234 million of Microsoft's $520 million. Over time, the company's
    stock increased in value and split numerous times. In 1987, Gates became a
    billionaire when the stock hit $90.75 a share. Since then, Gates has been at
    the top, or at least near the top, of Forbes' annual list of the top 400
    wealthiest people in America. In 1999, with stock prices at an all-time high
    and the stock splitting eight-fold since its IPO, Gates' wealth briefly
    topped $101 billion.
  </p>
</section>
