<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <a href="/home">Back Home</a>
    <h1>About Steven Wilson</h1>
    
    <p>Steven Wilson's main band is Porcupine Tree, founded in {{year}}.
        Wilson plays many instruments, but has mostly payed the electric and acoustic guitar in Porcupine Tree.
        Although, in the beginning, he played piano, drums, bass-guitar, amongst other instruments.
    </p>
</body>
</html>

