<div class="about-me">
    <h1>About me</h1>
    <p>I am the founder of the Day-Drinking Club! <br>
        I have been making music for over a decade <br>
        I love problem-solving (at a micro and macro level), I am curious about everything and I value resilience and
        persistence <br>
        I love stories (in books, art, tv-series/movies, or podcasts), hanging out with my loved-ones and most
        importantly, delicious food </p>
</div>