<h1>BASIC INFORMATION</h1>

<div class="about-div">
    <ul>
        <li>Michelle LaVaughn Robinson Obama (née Robinson)</li>
        <li>Born on January 17, 1964</li>
        <li>Graduate of Princeton University and Harvard Law School</li>
        <li>Lawyer at Sidley Austin law firm</li>
        <li>Worked in non-profit organisations</li>
        <li>Associate dean of Student Services at the University of Chicago</li>
        <li>Vice president for Community and External Affairs of the University of Chicago Medical Center</li>
        <li>First lady of the United States from 2009 to 2017</li>
        <li>Author</li>
        <li>Married to Barack Obama</li>
        <li>Mother of Sasha and Malia Obama</li>
        <li>Michelle Obama has served as a role model for women and worked as an advocate for poverty awareness,
            education, nutrition, physical activity, and healthy eating</li>
    </ul>
    <div class="img-div">
        <img class="img1"
            src="https://cdn.cnn.com/cnnnext/dam/assets/191128112651-02-obama-family-thanksgiving-2019-exlarge-169.jpg"
            alt="Obamas_img">
        <img class="img2"
            src="https://cdn-lejdd.lanmedia.fr/var/europe1/storage/images/lejdd/international/michelle-obama-na-jamais-pu-souffrir-les-imbeciles-3801581/51006104-1-fre-FR/Michelle-Obama-n-a-jamais-pu-souffrir-les-imbeciles.jpg"
            alt="">
        <img class="img3"
            src="https://thenypost.files.wordpress.com/2020/04/barack-michelle-obama.jpg?quality=90&strip=all&w=1236&h=820&crop=1"
            alt="Michelle_and_Barack_img">
        <img class="img4"
            src="https://api.time.com/wp-content/uploads/2020/03/women-of-the-year-2008-michelleobama-secondary.jpg"
            alt="">
        <img class="img5"
            src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2018/11/13/16/007-obam-9781524763138-ins-r1.jpg?width=1368&height=912&fit=bounds&format=pjpg&auto=webp&quality=70"
            alt="MObama_Student_img">


    </div>
</div>