<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <h2>Soy Juan Carlos Vega Fosado</h2>
    <p>Soy ingeniero en sistemas computacionales, eh realizado varios proyectos escolares, en los cuales junto con mis compañeros logramos llevarnos un primer lugar.</p>
    <p>De igual forma me gusta la programación aunque me resulta dificil debido a mi logica de programación la cual quiere resolver problemas sencillos de maneras muy complejas</p>
    <p>Un poco sobre mi, me gustan los videojuegos, los dulces, el chocolate.</p>
    <p>Me gusta la musica de preferencia el genero de Metal y rock, aunque tambien tolero muchos generos aunque no sean mi gusto.</p>

</body>
</html>