<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>About</title>
</head>
<body id="about-body">
    <nav id="nav-bar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
</nav>
<article id="about-text">
    <p>Friedrich Nietzsche was a very influential philosopher, although much of his work was multidisciplinary, involving
    philology, art, music, etc. He lived between 1844 and 1900 (aged 55) and produced works like <em>On the Genealogy of Morality</em>
    and <em>Thus Spoke Zarathustra</em>.</p>
    <p>Being a harsh critic of western culture and christianity, Nietzsche liked arguing with a <strong><em>hammer</em></strong>* in
    oder to test out our <strong><em>idols</em></strong>* and evaluate their merit in our argument or even perception, as he stated that
    <em>"There are more idols than realities in the world"</em>. This was particulary important for his philosophy as he believed that
    there is no objective, even factual truth. All of us look at our realities through prisms, our interpretations of reality, and to
    interpret we must have our <strong><em>idols</em></strong>*, that can be <strong><em>sound</em></strong>* or <strong><em>hollow</em></strong>*.</p>
    <p>This perspectivist <strong><em>hammer</em></strong>* was also used for Nietzsche to unravel, analyse and even undo western morality:
    How, why and acting on our sense of right and wrong, inspiring lots of philosophers throughout the century and beyond.</p>
    <p>Although Nietzsche advocated for changes in our perception of the meaning of life, the fruits of existence and the patterns
    that constitute our reality, overcoming a lot of problems in our existential condition, some appropriated his work to justify nazi
    ideology and cult, a trend that almost put his ideas into the apocrypha sarcophagus. Luckly, these interpretations were hammered out (pun intended) by
    academics throughout the world, making Nietzscheone of the most influential philosophers of our age.</p>
</article>
<footer id="about-footer">
    <p>* DISCLAIMER: The concepts illustrated here do not reflect the actual and full meaning of them and by no means replace the actual reading of
    the author. This text is not intended to teach but to introduce, very briefly and in an oversimplified manner, some key points of the authors
    work and thinking.</p>
</footer>
<script src="js/alert.js"></script>
</body>
</html>