<!doctype html>
<html>

<head>
    <title>Cat</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="/javascript/main.js"></script>
</head>

<body>
    <div class="container">
        <h1>Information about Nikola Tesla</h1>
        <p>was a Serbian-American
             inventor, electrical engineer, mechanical engineer, 
             and futurist who is best known for his contributions to 
             the design of the modern alternating current (AC) electricity 
             supply system</p>
        <img src="/images/teslaportrait.JPG" />
        <a href="/works">Click here to know the works of Tesla</a>
    </div>
</body>

</html>