<div id="pageAbout">
    <div id="image">
        <div id="raph"></div>
    </div>
    <div id="textAbout">
        <h3>A few things about me</h3>
        <p id="pAbout"> Hey there ! 👋
            I'm Raphaêlle OLIVO, 27 years old living in Paris.
            After working for several years in digital marketing, I
            made a professional reconversion as a fullstack developer. Passionate about design and technology, I am
            looking for a position where I could use my communication skills, perseverance and attention to detail to
            develop creative and user-friendly websites.
            ‍
            My background in web marketing allows me to have knowledge in different areas of the web. I love
            working with different teams to understand the different points of view, to take them into account in the
            process.
            ‍
            I love to identify, to challenge and to solve problems by setting up cutting-edge and personalized
            solutions. More broadly, i'm very interested in cognitive science and human behavior, i try to learn about
            these topics as much as i can !</p>
    </div>
</div>