<section id="section_2">
    <article>
        <h2>Definition</h2>
        <p>French Sign Language (French: langue des signes française, LSF) is the sign language of the deaf in France
            and French-speaking parts of Switzerland. According to Ethnologue, it has 100,000 native signers.</p>
    </article>
    <article>
        <h2>History</h2>
        <p>
            French Sign Language is frequently, though mistakenly, attributed to the work of Charles Michel de l'Épée
            (l'abbé de l'Épée). In fact, he is said to have discovered the already existing language by total accident;
            having ducked into a nearby house to escape the rain, he fell upon a pair of deaf twin sisters and was
            struck by the richness and complexity of the language that they used to communicate among themselves and the
            deaf Parisian community.[citation needed] The abbé set himself to learning the language, now known as Old
            French Sign Language, and eventually he established a free school for the deaf. At this school, he developed
            a system he called "methodical signs", to teach his students how to read and write. The abbé was eventually
            able to make public demonstrations (1771–1774) of his system, demonstrations that attracted educators and
            celebrities from all over the continent and that popularised the idea that the deaf could be educated,
            especially by gesture.
            <br>
            The methodical signs he created were a mixture of sign language words he had learned with some grammatical
            terms he invented. The resulting combination, an artificial language, was over-complicated and completely
            unusable by his students. For example, where his system would elaborately construct the word
            "unintelligible" with a chain of five signs ("interior-understand-possible-adjective-not"), the deaf natural
            language would simply say "understand-impossible". LSF was not invented by the abbé, but his major
            contributions to the deaf community were to recognize that the deaf did not need oral language to be able to
            think, and to indirectly accelerate the natural growth of the language by virtue of putting so many deaf
            students under a single roof.
            <br>
            From this time French Sign Language flourished until the late 19th century when a schism developed between
            the manualist and oralist schools of thought. In 1880 the Milan International Congress of Teachers for the
            Deaf-Mute convened and decided that the oralist tradition would be preferred. In due time the use of sign
            language was treated as a barrier to learning to talk and thus forbidden from the classroom.
            <br>
            This situation remained unchanged in France until the late 1970s, when the deaf community began to militate
            for greater recognition of sign language and for a bilingual education system. In 1991 the National Assembly
            passed the Fabius law, officially authorising the use of LSF for the education of deaf children. A law was
            passed in 2005 fully recognising LSF as a language in its own right.
        </p>
    </article>
</section>