{{> nav}}
<link rel="stylesheet" href="/style.css">

<h3>So, who is he really?</h3>

<ul id="aboutList">
    <li class="aboutListItems">Cooper hasn't touched alcohol since 2004, 29 years old, remarking that it would have destroyed his life. <br>
    <img src="/gif/everythinsucks.gif" alt="All sucks."></li>
    <li class="aboutListItems">Married to the actress Jennifer Esposito 2006, but got divorced already after a year.<br>
    <img src="/gif/leftatthealtar.gif" alt="Runaway groom"></li>
    <li class="aboutListItems">Looong time single?<br>
    <img src="/gif/single.gif" alt="Single"></li>
    <li class="aboutListItems">Since April 2015 he had a relationship with the Russian model <a href="http://10.10.20.13:3000/gallery">Irina Shayk</a> (who earlier was together with Christiano Ronaldo), <br>whom he also has a daughter with, born 2017.<br>
    <img src="/gif/saywhat.gif" alt=""></li>
    <li class="aboutListItems">They then broke up, due to an other love of his life showed up while acting in a big documentary movie with and about Lady Gaga.<br>
    <img src="/gif/sameperson.gif" alt="Still the same person"></li>
    <li class="aboutListItems">Supports organisations that are working aganst beating cancer.<br>
    <img src="/gif/yay.gif" alt="Yay!"></li>
</ul>






{{> footer}}