<div class="container session-about">
    <div id="title-about"><h1>About myself</h1></div>
    <div id="my-photo"></div>
    <div id="about-myself">
        <p>Gordon James Ramsay OBE (born 8 November 1966) is a British chef, restaurateur, writer, television personality and food critic. He was born in Johnstone, Scotland, and raised in Stratford-upon-Avon, England. His restaurants have been awarded 16 Michelin stars in total and currently hold a total of seven.</p>
        <p>His signature restaurant, Restaurant Gordon Ramsay in Chelsea, London, has held three Michelin stars since 2001. After rising to fame on the British television miniseries Boiling Point in 1998, Ramsay had become one of the best-known and most influential chefs in the UK by 2004.</p>
        <p>As a reality television personality, Ramsay is known for his fiery temper, strict demeanour and frequent use of expletives. He often makes blunt and controversial comments, including insults and wisecracks about contestants and their cooking abilities. He combines activities in the television, film, hospitality, and food industries and has promoted and hired various chefs who have apprenticed under his wing.</p>
        <p>Ramsay is known for presenting TV programmes about competitive cookery and food, such as the British series Hell's Kitchen, The F Word, and Ramsay's Kitchen Nightmares, the latter winning the BAFTA for Best Feature at the 2005 British Academy Television Awards, and the American versions of Hell's Kitchen, Kitchen Nightmares, MasterChef, MasterChef Junior as well as Hotel Hell and 24 Hours to Hell and Back. In 2018, Forbes listed his earnings at $62 million for the previous 12 months, and ranked him the 33rd-highest-earning celebrity in the world.</p> 
    </div>
</div>