<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <div></div>
  <body>
    <h1>This is the about page ⭐️ </h1>
    <p>Gramsci is best known for his theory of cultural hegemony, which describes how the state and ruling capitalist class
         – the bourgeoisie – use cultural institutions to maintain power in capitalist societies. 
         The bourgeoisie, in Gramsci's view, develops a hegemonic culture using ideology rather than violence, 
         economic force, or coercion. Hegemonic culture propagates its own values and norms so that they become the 
         "common sense" values of all and thus maintain the status quo. Cultural hegemony is therefore used to maintain 
         consent to the capitalist order, rather than the use of force to maintain order. This cultural hegemony is 
         produced and reproduced by the dominant class through the institutions that form the superstructure.
    </p><br><p>
        Gramsci also attempted to break from the economic determinism of traditional Marxist thought, and so is sometimes described as a neo-Marxist.
        [7] He held a humanistic understanding of Marxism, seeing it as a "philosophy of praxis" and an "absolute historicism" that transcends 
        traditional materialism and traditional idealism.
    </p>
    <img src="/study-gramsci.jpeg">
    <br>
    <a href="/home">Return to home 🏡 </a>
  </body>
</html>
