<div class="card mb-3">
    <img src="https://cdn.shopify.com/s/files/1/1476/2826/files/hero.jpg?v=1602635156" class="card-img-top"
        alt="Five Finger Death Punch band image">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Biography</h5>
        <p class="card-text"><strong>Finger Death Punch</strong>, also abbreviated as <strong>5FDP</strong> or
            <strong>FFDP</strong>, is an American heavy metal band
            from Las Vegas,
            Nevada, formed in 2005. The band's name comes from kung fu cinema. The band originally consisted of vocalist
            Ivan Moody, rhythm guitarist Zoltan Bathory, lead guitarist Caleb Andrew Bingham, bassist Matt Snell, and
            drummer Jeremy Spencer. Bingham was replaced by guitarist Darrell Roberts in 2006, who was then replaced by
            Jason Hook in 2009. Bassist Matt Snell departed from the band in 2010, and was replaced by Chris Kael in
            2011.
            Spencer then departed the band in 2018 due to recurring back issues, and was replaced by Charlie Engen,
            making
            rhythm guitarist Bathory the only remaining founding member of the band. In October 2020, British guitarist
            Andy
            James became the band's lead guitarist, replacing Jason Hook.
            <br />
            <br />
            <strong>Five Finger Death Punch's</strong> debut album <strong>The Way of the Fist</strong> was released in
            2007, which began achieving rapid
            success and selling over 500,000 copies in the United States. The 2009 follow-up album <strong>War Is the
                Answer</strong>
            further
            increased their popularity, selling over 1,000,000 copies and got certified Platinum by the RIAA, the band's
            third album, <strong>American Capitalist</strong>, was released on October 11, 2011, and achieved Platinum
            status. The
            following
            four albums - <strong>The Wrong Side of Heaven and the Righteous Side of Hell, Volume 1</strong> (2013),
            <strong>The
                Wrong Side of
                Heaven
                and the Righteous Side of Hell, Volume 2</strong> (2013), <strong>Got Your Six</strong> (2015), and
            <strong>And
                Justice for None</strong>
            (2018) - have
            all
            been certified Platinum and Gold, making Five Finger Death Punch one of the most successful heavy metal
            bands of
            the decade. The band has played international music festivals including Mayhem Festival in 2008, 2010 and
            2013,
            and Download Festival in 2009, 2010, 2013, 2015, and 2017. The band released their eight studio album,
            <strong>F8</strong>,
            in
            2020.
            <br />
            <br />
            <strong>Five Finger Death Punch</strong> are the recipients of the RadioContraband Rock Radio Awards for
            "Indie Artist of the
            Year" in 2011, 2012, 2013, and 2014. They were also honored with the Radio Contraband Rock Radio Award for
            Album
            (<strong>American Capitalist</strong>) and Song of the Year ("<strong>Coming Down</strong>") in 2012 and
            "Video of the Year" for "<strong>Wrong Side
                of
                Heaven</strong>" in 2014.

            To date, <strong>Five Finger Death Punch</strong> has released eight studio albums, one live album, two
            compilation albums,
            one
            extended play (EP) and 32 singles.
        </p>
    </div>
</div>