<h1>About Heath Ledger</h1>

<img class="about-heath-photo" src="img/heath-ledger-photo.jpg" alt="Heath Ledger photo">

<h2>Him</h2>
<ul>
    <li>Born: 4 April 1979, Australia</li>
    <li>Died: 22 January 2008</li>
    <li>Partner: Michelle Williams</li>
    <li>Actor, photographer, video director</li>
</ul>

<h2>His career</h2>
<ul>
    <li>1992 - 2008</li>
    <li>80 winning awards</li>
    <li>60 nominations</li>
    <li>1 Oscar</li>
</ul>

<h2>Personnal quote</h2>
<p>"I like to do something I fear. I like to set up obstacles and defeat them. I like to be afraid of the project. I
    always am. When I get cast in something, I always believe I shouldn't have been cast. I fooled them again. I can't
    do it. I don't know how to do it. There's a huge amount of anxiety that drowns out any excitement I have toward the
    project."</p>