<h1>Romain Gary</h1>
<h2>21 May 1914 – 2 December 1980</h2>
<div class="main-wrap"> 
<p>Born Roman Kacew, he was a French writer (more than 30 novels and essays), 
    but also a diplomat, a film director, and an aviator (part of the French Resistance during World War II).
    He is the only author to have won the Prix Goncourt twice (which is normally impossible), under two names.</p>
    <br>
<p>Pen names: Romain Gary, Émile Ajar, Fosco Sinibaldi, Shatan Bogat</p>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta amet tenetur temporibus fuga est earum eos ab sapiente iure illum, animi impedit? Molestias nulla aliquam at velit cum nihil voluptatem?</p>
</div>