<h1><strong>About Michael Cera</strong></h1>
<div class="card mb-3">
  <img src="/images/cera.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Best actor alive?</h3>
    <p class="card-text">Canadian actor Michael Cera was born in Brampton, Ontario, to parents who worked for Xerox. His mother, Linda, who is from Quebec, has English, Irish, Scottish, and Dutch ancestry, and his father, Luigi Cera, is Italian (from Sicily). Michael is the middle child between two sisters. He was educated at Conestoga Public School, Robert H. Lagerquist Senior Public School and Heart Lake Secondary School until the grade nine. Cera then completed his high school education via correspondence. </p>

        <p>During a childhood illness he repeatedly viewed Os Caça-Fantasmas (1984), learning the dialogue. It was this that sparked his interest in performing. He went on to take classes in improvisation at The Second City Toronto. Roles followed in commercials and TV, but he first came to major public attention when he was cast as George Michael Bluth in the critically acclaimed comedy series Caindo na Real (2003). After the cancellation of this series, Cera successfully transitioned into movies, scoring starring roles in various projects such as Superbad: É Hoje (2007), Juno (2007), Rebelde com Causa (2009) and as the eponymous hero in Scott Pilgrim Contra o Mundo (2010). Alongside acting, Cera is also a musician - he sings and plays guitar and bass.</p>
  </div>
</div>
</div>