<h1>Something about this author/website</h1>
<img src="" alt="image of the author">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores sit porro et tempora sint,
    dolores optio asperiores quia.
    Ab nihil quia debitis vitae maiores amet nobis iusto error fuga.
</p>