<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>About Jeb!</h1>
<img src="../images/about jeb.jpg">
<h3>JEB International has over 20 years’ experience providing businesses around the world with the equipment they need to succeed. From our headquarters in Hong Kong, we are the trusted partitions installer, designer and supplier of contractors, architects, designers, and manufacturers around the world.</h3>

<a href='/'>Home</a>
<h1></h1>
<a href='/photo-gallery'>Photo Gallery</a>
</body>
</html>