<main class="main container-md d-flex flex-column justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3">
            <img class="portrait img-fluid" src="images/kiko.jpg" alt="">
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <p>
                Kiko Dinucci is a brazilian musician and composer from Guarulhos, São Paulo. One the founders and mermbers of the bands Metá Metá and Passo Torto.
            </p>
        </div>
    </div>
</main>


