<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Willow Rosenberg</title>
</head>
<body>
    <h1>About Willow Rosenberg</h1>
    <section>
        <div>
            <p>Willow Rosenberg was born to Sheila and Ira Rosenberg. Her mother was supercilious and distant, noticing Willow had cut her hair months after she actually had it cut.[4] She had a "bad birthday party pony thing" when she was four, leaving her with a fear of ponies and horses. At some point, Willow also developed a fear of frogs and spiders. After watching "Snoopy on Ice", her dad took her backstage, but she was scared and threw up on Woodstock.</p>
            <p>Willow became best friends with Alexander Harris at a young age and she attended school with him throughout all of her life. On the first day of kindergarten, Willow cried because she broke a yellow crayon. She and Xander also gained another friend, Jesse McNally. Willow was also very close friends with Amy Madison during junior high.</p>
            <img src="img/willow.jpg" alt="willow" width="30%"/>
        </div>
    </section>
    <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Photo Gallery</a></li>
        </ul>
    </footer>
</body>
</html>