
<div id="page-about">

<h1>A propos de notre guide</h1>
<p>Notre guide vous propose de découvrir chaque mois une sélection des six meilleurs restos de Paris. Des expériences
    culinaires à vivre en famille ou avec des amis. Bonne visite et régalez vous!</p>


{{!-- 
<div class="box-img">
    <img class="img-about" src="/img/LaFourchette-guide-restaurant-Strasbourg-4.jpg" alt="resto1" />
</div> --}}

</div>