<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./style.css">
	<title>Portfolio - Gisela García</title>
</head>
<body>
	
	<div class="main">
		<header>
			<div class="logo">
				<h1>Gisela García</h1>
                <p>Web developer</p>
                <br/>
                <img src='./images/Profile.png' class='circle-foto' />
			</div>
			
			<div class="nav" id="nav">
				<a href="index">Home</a>
				<a href="about">About me</a>
				<a href="projects">Projects</a>
				<a href="contact">Contact</a>
			</div>
		</header>

        <main>
         <div class="about-me">
                    <p>
                    Hi! I'm Gisela García (25 years old) and I'm from Barcelona. 
                    I studied History of art and I'm currently studying web development in Ironhack. 
                    In this page you can see my projects and advances in the world of programming. 
                    You can indicate me any suggestions in the "contact me" section. 
                    Thank you for your visit!</p> 
                  </div>
                
             
       
          
        </main>
		<footer class="container">
			<div class="socials">
				<div class="container-icon">
					<a href="https://twitter.com/giselaiff"  class="twitter" >
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				<div class="container-icon">
					<a href="https://www.facebook.com/giselaiff" class="facebook">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
				<div class="container-icon">
					<a href="https://www.instagram.com/giselaiff/" class="instagram">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>
			<div class="designed">
				<p>Web designed by <a href="#">Gisela García</a></p>
			</div>
		</footer>
	</div>

</body>
</html>