{{> back_button}}

<div class="wrapper">
<article class="bio">86 years old and always with a firm tone, Eliane Radigue has a bright blue eye and a voice that delivers words al dente to make herself understood. 

Some see her as an <span><b><i>electronic muse</i></b></span>, others as an unclassifiable artist. If you're looking for Eliane Radigue, you have to reach the heights of <span><b><i>musical research</i></b></span> and <span><b><i>spirituality</i></b></span> to find her. 

Eliane Radigue is a great unknown in experimental and contemporary music. Yet she is the size of Boulez or Ditulleux, digging a personal and absolute musical furrow. Today, the Groupe de Recherches Musicales de l'INA (GRM) publishes a 14 CD box set of her compositions for synthesizer. But Eliane Radigue has never been too embarrassed by honours, nor by conveniences. 

Only those musicians who wish to approach her and exchange their vibrations with her are important to her these days. Don't ask her what kind of music she makes either, she'll tell you about pieces and <span><b><i>sound explorations</i></b></span>. Whether it is through electronic or acoustic music, she seeks an absolute purity of sounds and commits us to make the only essential sensitive chord vibrate in each of us.</article>
</div>