<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:wght@800&display=swap" rel="stylesheet">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            <div class="small-head">Accoring to Wikipedia...</div>
                <p>"Khruangbin is an American musical trio from Houston, Texas, with Laura Lee on bass, Mark Speer on guitar, and Donald Ray "DJ" Johnson Jr. on drums.
                The band is known for blending global music influences, such as classic soul, dub and psychedelia. Their debut studio album, The Universe Smiles Upon You 
                (2015), draws from the history of Thai music in the 1960s, specifically from Luk thung, while their second album, Con Todo El Mundo (2018), has influences 
                from Spain and the Middle East. Speer, Lee, and DJ also host "AirKhruang" radio shows on NTS Radio and Facebook Live."</p>
            <div class="link-wrapper">
                <a href="/" class="link">Home</a>
                <a href="/about" class="link">About</a>
                <a href="/works" class="link">Music</a>
                <a href="/gallery" class="link">Gallery</a>
            </div>
        </div>
    </body>
</html>