<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1><a href="/">DIETER RAMS</a></h1>
        {{!-- Menú --}}
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/work">Work</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="subheader">
        <h2>About</h2>
    </div>

    <div class="container">
        <div class="about">
            <img src="images/DieterRams.jpg" alt="Dieter Rams">
            <div>
                <p>
                    Dieter Rams (20 de mayo de 1932, Wiesbaden Alemania - ) es un diseñador industrial alemán,
                    cercanamente
                    asociado a la compañía de productos de consumo Braun.
                </p>

                <p>
                    Rams fue una figura clave en el renacimiento del diseño Funcionalista alemán (la Gute Form) de
                    finales
                    de la
                    década de 1950s y 1960s. Cuando se convierte finalmente en el jefe del equipo de diseño de Braun,
                    Rams
                    influyó enormemente en la dirección estilística de la marca, llevándola a un Racionalismo que pronto
                    caracterizaría los productos y la identidad de la compañía.
                </p>

                <p>
                    Rams explica su visión y aproximación al diseño mediante su famoso paradigma expresado por la frase
                    en
                    alemán: "Weniger, aber besser" que interpretada al español equivaldría a la frase "Menos, pero con
                    mejor
                    ejecución". Rams y su equipo diseñaron muchos productos memorables de Braun, incluyendo el famoso
                    grabador-reproductor SK-4 y el proyector de diapositivas 35mm de alta calidad D45, D46. Rams también
                    es
                    célebre por el diseño del Sistema de Estanterías Universal 606, para Vitsœ en 1960. Muchos de sus
                    diseños
                    (Elegantes cafeteras, calculadoras, radios, equipamiento audiovisual, electrodomésticos de consumo,
                    y
                    productos de oficina) han encontrado un sitio permanente en varios museos del mundo, incluyendo el
                    MoMA
                    de
                    Nueva York. Dieter Rams prestó servicios para Braun A.G. entre los años 1955 y 1998.
                </p>
            </div>

        </div>
    </div>


    <script src="js/index.js"></script>
</body>

</html>