{{>nav}}
<div class="aboutContainer">
<h1>About Ido</h1>
<p>Starting from an early age in Traditional Martial Arts I was always obsessed with the physical.

Later on, at 15 I met the Afro-Brazilian Capoeira, a meeting that sent me on a lifetime journey leading to the realization that I don't just love Martial Arts or Strength or this or that, but I am actually obsessed with... Movement.

That epiphany got me to embark on a journey to study from 'Movement Teachers'. After countless searches, I could not find anyone who HONESTLY could represent that title, and believe me, I've searched - around the world.</p>

<h4>Shit, I mean, don't pee on my leg and tell me its raining.</h4>
<p>
    All those 'Movement Teachers' were talking about a SPECIFIC discipline - either Dance or the Martial or Fitness but none were actually interested in the bigger picture of movement. They also lacked some basic tools that were not available within their own disciplines to deal with Movement in the highest level.

So, I decided to become that person. How presumptuous, I know, but also how necessary.

“Over the years I've traveled the world both teaching and studying from a variety of teachers: from Osteopaths, Manual Therapists and MD's to Professional Dancers, Yogis, Athletes, Circus Performers and Fighters.”

I tried not neglecting any angle, from nutritional approaches to movement & health to Functional Anatomy & Physiology to methodology of the training process to mental aspects of movement practice and more.

Slowly I started to form a body of knowledge and a point of view on Movement Education, development, cultivation. My workshops became very popular and I found myself traveling everywhere to teach: all of Europe, the Middle East, Russia, Canada, the US, all over Asia and Australia.

I also conducted a yearly event called 'The Movement Camp' -  Movers from around the world come together for 7-10 days and learn from a variety of teachers while exchanging and drawing conclusions into their own practice. This event enabled great cross information to flow between fighters, dancers, anatomists, rock climbers, etc. Information that was until that point quite secluded and isolated in those specific disciplines was now shared, tested, discussed.
</p>
<h4>A small community and a CULTURE started to develop around my ideas but more importantly - around Movement. This website has the intention to provide a portal (Ido's Portal...) for the expansion and communication of YOU - the Culture that gathers around Movement: Movement Culture.</h4>
</div>
{{>footer}}