<h1 class="title">ABOUT</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, recusandae similique dignissimos voluptatum enim, porro sunt assumenda tempora asperiores iure totam dolorem! Itaque quis sapiente numquam nobis, nihil cumque amet!</p>

