
<div class="about-container">
  <h1 class="about-heading">Biography</h1>
  <p class="about-text">
    Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock, is an American actor, producer, businessman, and former professional wrestler and football player. He was a professional wrestler for the World Wrestling Federation (WWF, now WWE) for eight years prior to pursuing an acting career. His films have grossed over $3.5 billion in North America and over $10.5 billion worldwide, making him one of the highest-grossing box-office stars of all time
  </p>
  <p class="about-text">
    Dwayne Douglas Johnson was born on May 2, 1972, in Hayward, California, to Ata Johnson (née Maivia; born 1948) and former professional wrestler Rocky Johnson (born Wayde Douglas Bowles; 1944–2020). Growing up, Johnson briefly lived in New Zealand with his mother's family, where he attended Richmond Road Primary School in Grey Lynn before returning to the United States.He then attended Montclaire Elementary School in Charlotte, North Carolina before moving to Hamden, Connecticut, where he spent a couple of years at Shepherd Glen Elementary School and Hamden Middle School. Johnson spent his high school years at President William McKinley High School in Honolulu, Hawaii, Glencliff High School and McGavock High School in Nashville, Tennessee, and Freedom High School in Bethlehem, Pennsylvania.
  </p>
  <p class="about-text">
    He was arrested multiple times for fighting, theft, and check fraud before the age of 17. Johnson also began playing sports, joining his high schools' gridiron football, track and field and wrestling teams.

    Johnson is half-Black and half-Samoan. His father was a Black Canadian, from Nova Scotia, and part of the first Black tag team champions in WWE history along with Tony Atlas. His mother is Samoan and the daughter of Peter Maivia, who was also a pro wrestler. Maivia's wife, Lia, was the first female pro wrestling promoter, taking over Polynesian Pacific Pro Wrestling after her husband's death in 1982, until 1988. Through his grandfather Maivia, Johnson is considered a non-blood relative to the Anoa'i wrestling family. In 2008, Johnson inducted his father and grandfather into the WWE Hall of Fame.
  </p>
  <h3 class="about-subheading">Activism and philanthropy</h3>
  <p class="about-text">Johnson attended the 2000 Democratic National Convention as part of WWE's non-partisan "Smackdown Your Vote" campaign, which aimed to influence young people to vote. He also had a speaking role at the 2000 Republican National Convention that same year.

  In 2006, Johnson founded the Dwayne Johnson Rock Foundation, a charity working with at-risk and   terminally ill children. On October 2, 2007, he and his ex-wife donated $1 million to the  University of Miami to support the renovation of its football facilities. The University of Miami  renamed the Hurricanes' locker room in Johnson's honor. In 2015, Johnson donated $1,500 to a  GoFundMe to pay for an abandoned dog's surgery. In 2017, he donated $25,000 to Hurricane Harvey   relief efforts. In 2018, Johnson donated a gym to a military base in Oahu, Hawaii.[346] After the  2018 Hawaii floods, he worked with Malama Kauai, a nonprofit organization, to help repair damages  caused by the floods. Johnson has also worked with Make-A-Wish Foundation on a number of  occasions.</p>
</div>

