{{!-- <p>Page 2 : to do - Seoul Page</p> --}}
<header>
    <img src="/images/SeoulView.jpg" alt="Seoul View">
    <div class="title">
        <h1>Seoul</h1>
        <h2>서울</h2>
    </div>
    <img src="/images/SeoulWalls.jpg" alt="Seoul Wall"></div>
</header>

<div id="banner">
    <p class="info">Capital City</p>
    <p class="info">Population : 9.7 million </p>
    <p class="info">Number of districts : 25</p>
    <p>Climate : Humid continental</p>
</div>
<hr>
<div id="midpart">
    <section id="left-section">
        <img src="/images/Palace1.jpg" alt="Gyeongbok Palace">
        <h2>Gyeongbok Palace - 경복궁</h2>
        <br>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
            facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
            impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
            repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
            voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
            ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
    </section>

    <section id="right-section">
        <article>
            <img src="/images/Palace2.jpg" alt="Gyeongbok Vicinity">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.</p>
        </article>
        <article>
            <img src="/images/Palace3.jpg" alt="Gyeonghoeru Pavilion">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.</p>
        </article>
        <article>
            <img src="/images/Palace4.png" alt="Hyangwonjeong Pavilion">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.</p>
        </article>
    </section>
</div>
<hr>
<section id="footer">
    <div class="bottoms">
        <img src="/images/HanokVillage.jpg">
        <h3>Bukchon Hanok Village</h3>
        <h4>북촌한옥마을</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>
    <div class="bottoms">
        <img src="/images/Stream.jpg">
        <h3>Cheonggyecheon Stream</h3>
        <h4>청계천</h4>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias</p>
    </div>
    <div class="bottoms">
        <img src="/images/Market.jpg" alt="Gwangjang Market">
        <h3>Gwangjang Market</h3>
        <h4>광장시장</h4>
        <p>Korea’s oldest and largest market. The first floor is full of little restaurants and stalls selling food,
            while the upstairs sells silk, satin and linens.</p>
    </div>

    <div class="bottoms">
        <img src="/images/Plaza2.jpg" alt="DDP">
        <h3>Dongdaemun Design Plaza</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias</p>
    </div>
</section>