<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="CSS/about.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main>
    
    <div class = "summary">
        <h2>Summary</h2>  
        <p>{{ summary }}</p>
    </div>

    <blockquote>
     <p>{{ quote }}</p>
      <footer>—Jean-Michel Basquiat</footer>
    </blockquote>

    <div class = "life">
        <h2>His life</h2>  
        <ul>
        {{#each life}}
        <li>{{this.p}}</li>
        {{/each}}
    </ul>
    </div>

    </main>
</body>
</html>