<div class="padding-100">
	<h1 class="primary-dark centered-text">About</h1>

	<p class="justified-text">Lorenzo Von Matterhorn was born somewhere in Switzerland in the spring of 1974. The exact date and circumstances of his birth are unknown since he was immediately placed in a basket and tossed in a river. Young Lorenzo rode the pristine Alpine glacial melt waters for hundreds of miles before a young Milanese woman discovered the basket along the banks of the river Po. Some say it was this first early journey to Milan that fueled his love for both exploration and fashion. The woman would raise Lorenzo as her own, naming him Lorenzo after her father and giving him the surname Von Matterhorn to reflect his Swiss heritage as well as his uncommonly large penis.</p>

	<h2 class="secondary-dark centered-text">Early Life</h2>
	<p class="justified-text">Shortly after his family moved to New York City in the late 70's, Lorenzo began rescuing stray puppies and other cute animals. As someone who had been abandoned himself, Lorenzo recognized both the pain of loneliness as well as the power of hope.

	One evening, while nursing a particularly cute Cocker Spaniel back to health, Lorenzo noticed the rest of his brood howling in unison. Curious as to their abilities, he spent the next several months developing their voices and then entered them as a musical act in a local festival under the name DOG STEVENS. They took first place, and went on to become one of the most successful animal musical acts since The Beatles.</p>
</div>

