<h1>{{title}}</h1>

<section class="container">
    <div class="about">
        <p>
            <h2> A lesser woman might have given up</h2> — but not Charlotte Perriand. In
            1927, two years after
            graduating from the
            École de l’Union Centrale des Arts Décoratifs, in Paris, the 24-year-old Perriand was invited to exhibit her
            work at
            the prestigious Salon d’Automne. Eager to make the most of her coup, she arranged a meeting with the
            influential
            modernist architect Le Corbusier. Perriand arrived at his Paris studio with high hopes that, if he saw her
            drawings, he would offer her a job.
            “The austere office was somewhat intimidating, and his greeting rather frosty,” Perriand wrote in her
            memoirs.
            “ ‘What do you want?’ he asked, his eyes hooded by glasses. ‘To work with you.’ He glanced quickly through
            my
            drawings. ‘We don’t embroider cushions here,’ he replied, and showed me the door.”
        </p>
        <h3>Charlotte Perriand : a central figure of the 20th century</h3>
        <img src="/img/perriand_prouve.jpg" alt="Charlotte Perriand et Jean Prouvé">
        <hr>
        <p>
            She also started working with Jean Prouvé, developing furniture in his factory, and in the 1950s they both
            designed
            limited-edition furniture for Steph Simon, a charismatic design dealer whose social circle included the
            movie
            stars Brigitte Bardot and Simone Signoret. Perriand also designed kitchen prototypes for one of Le
            Corbusier’s
            masterpieces, the Unité d’Habitation "La Cité radieuse" housing complex in Marseille.
            <h3> These projects definitively established Perriand as a unique force in architecture whose sensitivity to
                environmental conditions and use of local materials and stylistic references prefigured core concerns of
                architects today.</h3>

            <h2>Want to know more?</h2>
            {{!-- <div class="button_container">
                <button id="button_modal"
                    onclick="https://www.fondationlouisvuitton.fr/fr/expositions/exposition/charlotte-perriand.html">
                    More infos </button>
            </div> --}}
            <div class="row">
                <input class="button"
                    onclick="window.location.href = 'https://www.fondationlouisvuitton.fr/fr/expositions/exposition/charlotte-perriand.html';"
                    value="More infos here" />
            </div>
            {{!-- <div id="modal">
                <h1> Book your visit</h1>
            </div> --}}
        </p>
    </div>
</section>