<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>About him/Jim</title>
</head>

<body>

    <section class="home-class">

        <h2>Here you have a list with some film</h2>


        <ul>
            <li>Ace Ventura: Pet Detective</li>
            <li>The Mask</li>
            <li>The Truman Show</li>
            <li>How the Grinch Stole Christmas</li>
            <li>The Majestic</li>
            <li>Yes Man</li>
            <li>Sonic the Hedgedog</li>
        </ul>


        <div class="buttons">

            <a href="/gallery">Gifs</a>
            <a href="/">Back</a>

        </div>


    </section>

</body>

</html>