<div class="container">
    <h1>About</h1>
    <p>This project was made to practice CRUD while using Express, Mongoose and HBS. <br> Made by <a href="www.yassineabouzaid.com">Yassine Abouzaid</a></p>
</div>