{{> nav_bar}}

<section id="about">
  <h1>About</h1>
  <h2>Who is David Attenborough?</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident vel eveniet nisi perspiciatis aperiam
    aliquam, veniam, ad minima maxime in doloribus. Commodi esse praesentium veritatis veniam, dolorum quae deserunt
    amet quaerat libero ad officia delectus incidunt modi! Animi, voluptas.</p>
  <h2>Achievements, awards and recognition</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident vel eveniet nisi perspiciatis aperiam
    aliquam, veniam, ad minima maxime in doloribus. Commodi esse praesentium veritatis veniam, dolorum quae deserunt
    amet quaerat libero ad officia delectus incidunt modi! Animi, voluptas.</p>
  <h2>Career</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident vel eveniet nisi perspiciatis aperiam
    aliquam, veniam, ad minima maxime in doloribus. Commodi esse praesentium veritatis veniam, dolorum quae deserunt
    amet quaerat libero ad officia delectus incidunt modi! Animi, voluptas.</p>
</section>