
<h1> About Maison Francette</h1>
<div id="about">
<p> Maison Francette is a Paris-based fashion brand.</p>
<p> All our products are handmade in our workshop located on Canal Saint Martin.</p>
<p> We aim at creating stuff that suits all body types and all women.</p>
<p> We make slow fashion, no Spring Summer Fall Winter collections here.</p>
<p> What we build is meant to last for long, and be gifted from one generation to the other .</p>
<p id="instanewsletter"> If you like what we do you can follow us on instagram @maisonfrancette and subscribe to our Newsletter.</p>
</div>
<div id="aboutlinks">
<a href="https://www.instagram.com/maisonfrancette/"> <i class="fab fa-instagram fa-4x"></i></a>
<a href="/newsletter"> <i class="fas fa-envelope fa-4x"></i></a>
</div>