<section class="about-section">
        <h2 class="sub-T">Who am I ?</h2>
        <div class="about-div">
            <h3>After 2.5 years of experience in IT project management, I am fully operational since June following the Ironhack bootcamp. This bootcamp, recognized worldwide, trains fullstack developers (React.js Node.js) whom are operational straight out it.</h3>

            <img src="img/Programming-amico.png" alt="Web developer illustration" sizes="300" >

        </div>
    </section>