<div class="main">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero incidunt alias quis sed minus, quod tenetur laborum et ex in amet fugit nobis maxime similique totam blanditiis vel reiciendis nulla?
    </p>
        <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero incidunt alias quis sed minus, quod tenetur laborum et ex in amet fugit nobis maxime similique totam blanditiis vel reiciendis nulla?
    </p>
        <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero incidunt alias quis sed minus, quod tenetur laborum et ex in amet fugit nobis maxime similique totam blanditiis vel reiciendis nulla?
    </p>
</div>

<div class="display">
    <div class="container">
        <div class="slide">
            <div class="img">
                <img src="/public/assets/img/Levi6.jpg" alt="">
            </div>
            <div class="img">
                <img src="/public/assets/img/Levi1.jpg" alt="">
            </div>
             <div class="img">
                <img src="/public/assets/img/Levi2.png" alt="">
            </div>
            <div class="img">
                <img src="/public/assets/img/Levi3.jpg" alt="">
            </div>
            <div class="img">
                <img src="/public/assets/img/Levi5.jpg" alt="">
            </div>
            <div class="img">
                <img src="/public/assets/img/Levi6.jpg" alt="">
            </div>
                        <div class="img">
                <img src="/public/assets/img/Levi1.jpg" alt="">
            </div>
        </div>
    </div>
</div>