<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>My about page</title>
  </head>
  <body>
    <h1>Everything you need to know about me!</h1>
    <section>
        <p>I'm almost 32 years old</p>
        <p>I love playing guitar (electric, acoustic, bass)</p>
        <p>I also love sports: mountain hiking, Cross-fit, 1/2 marathons, Spartan races</p>
        <p>Work wise, I'm the happy leader of a team of skilled engineers in an international company</p>
        <p>Soon I'll be a dad, and I'm pretty excited about it </p>
    </section>
    <button>
        <a href="/home">Back to the homepage</a>
    </button></br>

    <button>
        <a href="/works">My works!</a>
    </button> </br>
    <button>
        <a href="/gallery">Wanna see my face?</a>
    </button>
   
  </body>
</html>