<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <title>About</title>
</head>

<body class="about-body">
    <h1>El mejor invento de {{nombre}} {{apellido}}</h1>
    <p>En mayo de 1888 Nikola Tesla publicó un artículo científico en el que detallaba el funcionamiento del que sería
        su mayor éxito como inventor: el motor de inducción, de corriente alterna, con grandes ventajas sobre los
        motores eléctricos de corriente continua</p>
    
    <div>
        <button>
            <a href="/">Home</a>
        </button>

    </div>

</body>

</html>