{{> nav_bar}}

<section id="about">
  <div class="about-ctn">
  <h2>About</h2>
  <p>Sir David F. Attenborough (born 8 May 1926) is an English broadcaster and natural historian. He is best known for
    writing and presenting, in conjunction with the BBC Natural History Unit, the 'Life' collection that together
    constitute a comprehensive survey of animal and plant life on Earth.</p>
  </div>

    <div class="about-ctn">
  <h2>Recognition</h2>
  <p>He is the only person to have won BAFTAs for programmes in each of black and white, colour, HD, 3D and 4K. In 2018
    and 2019, he received Primetime Emmy Awards for Outstanding Narrator.</p>
  <p>He has been called "the great communicator, the peerless educator" and "the greatest broadcaster of our time." His
    programmes are often cited as an example of what public service broadcasting should be, even by critics of the BBC,
    and have influenced a generation of wildlife film-makers.</p>
  <p>You will find the full list of his awards and recognitions <a
      href="https://en.wikipedia.org/wiki/David_Attenborough#Achievements,_awards_and_recognition"
      target="_blank">here</a>.</p>
  </div>
  <div class="about-ctn">
  <h2>Career</h2>
  <p>He is a former senior manager at the BBC,
    having served as controller of BBC Two and director of programming for BBC Television in the 1960s and 1970s.</p>
  </div>
</section>