<h2>"C'est du journalisme total"</h2>

<ul id="about" >
    <li> <h3>Synopsis</h3>
        <p>Le film commence en affichant le message suivant : « Attention ! ce flim n'est pas un flim sur le "cyclimse". Merci de votre compréhension ».

L'histoire débute avec la mort de « l'homme le plus classe du monde », George Abitbol (John Wayne), au large de l'atoll de Pom Pom Galli situé entre « l'Australia » et « la South America », dans « l'Ocean South Pacific » (à prononcer soute). Les journalistes Dave (Paul Newman), Peter (Dustin Hoffman, prononcé « Pétère ») et Steven (Robert Redford, prononcé « Stévène ») enquêtent sur les dernières paroles d'Abitbol : « Monde de merde ». Au cours de leur enquête, les journalistes vont approcher toutes les personnes qui l'ont connu pendant sa vie au « Tegzas », et découvrir « [qu'] il n'avait pas plus de classe que de beurre au cul ».

Le film, au propos et aux dialogues volontairement graveleux, se pose volontiers en hommage au Citizen Kane d'Orson Welles. La présence de ce dernier dans le film, qui fait savoir à quel point il n'aime pas « les voleurs et les fils de pute », informe le spectateur que le film se pose davantage en dédicace qu'en plagiat de l’œuvre mythique du cinéaste reconnu.</p>
    </li>
    <li><h3>Contexte</h3>
    <p>La Classe américaine : Le Grand Détournement est un téléfilm français écrit et réalisé par Michel Hazanavicius et Dominique Mézerette, diffusé le 31 décembre 1993 à 20 h 35 sur Canal+.

Le film est un mashup (mélange d'images d'archives). Il est composé d'extraits de films de Warner Bros. réalisés entre 1952 et 1980, ainsi que d'un bref extrait d'un épisode de la série télévisée française Maigret (avec Bruno Cremer), montés et doublés afin de créer un film inédit.

Le film est une parodie qui réinterprète les scènes et dialogues des acteurs des films qu'il utilise (les reprenant parfois plusieurs fois), pour former des situations loufoques et suivre une histoire au ton délirant et comique.</p>
    </li>
    <li><h3>Aujourd'hui</h3>
    <ul>
        <li>Le film n'a eu que 2 diffusions TV, une en 1993 et une en 2004. <br>
        Ainsi que 2 projections cinéma grand public, en 2009 et 2019. </li>
        <li>On retrouve le flim à travers un tas de références dans la pop/geek culture</li>
        <li>Le projet a inspiré Mozinor et beaucoup d'autres détourneurs</li>
        <li>Plusieurs personnes ont entrepris la refection du flim en HD  <a href="https://www.youtube.com/watch?v=asz3OzZyFOI">(disponible en ligne)</a></li>
    </ul>
    </li>
</ul>