  <h1>About Hange</h1>

  <div class="info_wrapper"> 
    <div class="personality">
      <h2><span>Hange's</span> Personality</h2>
  <p class="exphange">

    Hange appeared to be an energetic, freethinking researcher with a very unique way of conducting themselves and their work through their rather observant and objective character.

    what I love in Hange's personality is the fact that we don't know henge's gender/sex(even if in anime, it seems like more women than men). Also henge is everytime very crazy and not the very formal and traditinal person, he/she is always curious about the world and challenge him/herself to discover what we did not know yet, it's really the coolest manga character ever.
  </p></div>
  
   <h2><span>Hange's</span>  information</h2>
  <div class="personal_info">
  
  <img src="/img/character_image.png" alt="">
    <p class="exphange">
<span>Gender</span>  Gender<br>
Ambiguous<br>
<span>height</span><br>
170 cm<br>
<span>weight</span><br>
60 kg<br>
  </p>
  <p class="exphange">
    <span>Birthday</span><br>
September 5th<br>
<span>Occupation</span><br>
Soldier<br>
<span>Rank</span><br>
Commander<br>
<span>Affiliation</span> <br>
Survey Corps<br>
<span>Grade</span><br>
A+</p>
  </div>
  </div> 