<section>
    <h1>About Sam Harris</h1>
    <p>Samuel Benjamin Harris is an American author, philosopher, neuroscientist, and podcast host. His work touches on a wide range of topics, including rationality, religion, ethics, free will, neuroscience, meditation, philosophy of mind, politics, terrorism, and artificial intelligence. Harris came to prominence for his criticism of religion, and Islam in particular, and is described as one of the <em>"Four Horsemen of Atheism"</em>, along with <em>Richard Dawkins</em>, <em>Christopher Hitchens</em>, and <em>Daniel Dennett</em>. His academic background is in philosophy and cognitive neuroscience.</p>
    <div>
        <article>
            <div>
                <h2>Family and origins</h2>
                <p>Harris was born on April 9, 1967 in Los Angeles. He is the son of actor Berkeley Harris, who appeared mainly in Western films, and TV producer Susan Harris (née Spivak), who created The Golden Girls among other series. His father, born in North Carolina, came from a Quaker background, and his mother is Jewish but not religious. He was raised by his mother following his parents' divorce when he was aged two. Harris has stated that his upbringing was entirely secular and that his parents rarely discussed religion, though he also stated that he was not raised as an atheist.</p>
            </div>
        
            <div class="album">
                <img src="/images/sams-family.png" alt="Sam's family">
            </div>
       
        
        </article>
        <article>
            <div>
                <h2>Education</h2>
                <p>While his original major was in English, Harris became interested in philosophical questions while at Stanford University after an experience with the empathogen–entactogen MDMA. The experience led him to be interested in the idea that he might be able to achieve spiritual insights without the use of drugs. Leaving Stanford in his second year, a quarter after his psychedelic experience, he went to India and Nepal, where he studied meditation with teachers of Buddhist and Hindu religions, including Dilgo Khyentse. Eleven years later, in 1997, he returned to Stanford, completing a B.A. degree in philosophy in 2000. Harris began writing his first book, The End of Faith, immediately after the September 11 attacks.</p>
                <p>He received a Ph.D. degree in cognitive neuroscience in 2009 from the University of California, Los Angeles, using functional magnetic resonance imaging to conduct research into the neural basis of belief, disbelief, and uncertainty. His thesis was titled The Moral Landscape: How Science Could Determine Human Values, and his advisor was Mark S. Cohen.</p>
            </div>
        
            <img src="" alt="">
        </article>
    </div>
    {{> nav}}
</section>


