<h1 id="title">Mylène Farmer</h1>

<p id="bio">Résultat de recherche d'images pour "mylène farmer courte biographie"
    Mylène Farmer fait ses débuts dans la chanson en 1984, à la suite d'une audition organisée par un jeune
    auteur-compositeur, Laurent Boutonnat, qui cherche une interprète pour sa chanson Maman a tort. Elle choisit son nom
    de scène en hommage à Frances Farmer, une actrice américaine des années 1930 au destin tragique.</p>



<h2></h2>

{{#each album}}
<ol class="top-album">
    <li>{{this.annee}} {{this.titre}}</li>
</ol>
{{/each}}