<h1 class="head">About Jane Birkin</h1>
<ul class="info">
    <li>English actress, singer, songwriter and model</li>
    <li>Jane Birkin supported Japanese people after <br>the big earthquake in Fukushima</li>
</ul>
<img class="jane2" src="css/img/jane2.jpg" alt="jane birkin">