<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>About</title>
</head>
<body>
{{>navbar}}
{{{body}}}
<h1 class="title">About</h1>
<section class="about">
<img id="about" src="/about.jpg" alt="About"/>
<img id="curly" src="/curly.png" alt="curly"/>
<p>A highly committed, reliable and well articulated professional <br>with experience in Portuguese Language teaching, <br>doing a Web Development bootcamp at Ironhack. <br>Interested in getting to know and share cultures <br>within their different aspects: <br>literature, visual arts, music, among others.
</p>
</section>
<div id="email">
<a href="tatimatz@gmail.com"><img src="/email.png" alt="email"/></a>
</div>
{{>footer}}
</body>