<div id="about">
    <h1>Charlotte Perriand's short biography</h1>
    <p id="date-details">(24 October 1903 – 27 October 1999)</p>
    <div>
        <p>
            Charlotte Perriand was a French <em>architect</em> and <em>designer</em>, born in Paris. Her work aimed to
            create
            functional
            living spaces in the belief that better design helps in creating a better society.
            <br />
            <br />
            She liked to take her time in a space before starting the design process. In her autobiography, she states:
            "I
            like being alone when I visit a country or historic site. I like being bathed in its
            atmosphere, feeling in direct contact with the place without the intrusion of a third party." Her approach
            to
            design includes taking in the site and appreciating it for what it is.
        </p>
    </div>
    <div>
        <p>
            Her high school art teacher noticed her drawing abilities early on, and
            her
            mother eventually encouraged her to enroll in the École de L'Union Centrale des Arts
            Décoratifs in 1920 to study furniture design until 1925.
            <br />
            <br />
            Perriand continued her education through attending department store classes that provided design workshops.
            She also went to lectures
            by Maurice Dufrêne, the studio director of workshop 'La Maîtrise'. In 1925, her projects from schoolwork
            were
            selected to be a part of the Exposition Internationale des Arts Décoratifs et Industriels Modernes. Dufrêne
            also
            put her wall-hanging designs on display at the Galeries Lafayette around this time.
        </p>
    </div>
    <div id="bar">
        <img src="img/bar.jpg" alt="Bar sous le Toit">
        <div id="bar-text">
            <p>
                Two years after graduating Perriand renovated her apartment into a room with a built-in wall bar made of
                aluminium, glass and chrome and a card table with built-in pool-pocket drink holders. She recreated this
                design as the Bar sous le Toit at the 1927 Salon d'Automne.
                <br />
                <br />
                Her design featured an abundance of light-reflecting
                aluminium and nickel-plated surfaces, as well as leather cushions and
                glass shelves. Her design received wide praise from the press and established Perriand as a talent to
                watch.
                <br />
                <br />
                The Bar sous le Toit showed her preference for designs that represented the machine age, a departure
                from
                the preference of the time for finely handcrafted objects made of rare woods. Perriand took advantage of
                the
                use
                of steel as a medium in this project, which formerly was used primarily by men.
                <br />
                <br />
                Despite the success of the Bar sous le Toit in getting her name known, Perriand was not satisfied with
                creating designs just for the well-off;
                she wanted to work for Le Corbusier and pursue serial production and low-cost housing. She was inspired
                by
                his books, because she thought his writings that criticized the decorative arts aligned with the way she
                designed.
                <br />
                <br />
                When she applied to work at Le Corbusier's studio in October 1927, she was famously rejected with
                the reply "We don't embroider cushions here." A month later however, Le Corbusier visited the Bar sous
                le
                Toit at the Salon d'Automne, which convinced him to offer her a job in furniture design.
            </p>
            <p>
                <a href="./work" class="link">More about Charlotte Perriand's work >>></a>
                <br />
                <br />
                <a href="./gallery" class="link">Photo gallery >>></a>
            </p>
        </div>
    </div>
</div>