<section id="gallery">
    <h1>About us</h1>
    <div id="article">
        <article class="article-about" id="about">
            <p>We are a family company, founded in 2014! <br> We write your family's biography, so it is never
                forgotten</p>
            <img class="book-un" src="/img/book-un.jpg" alt="books">
        </article>



        <article class="article-about" id="works">
            <p>We have published twenty autobiographies so far! <br> We are honored all these families trusted us with
                telling their stories </p>
            <img class="book-deux" src="/img/book-deux.jpg" alt="books">
        </article>
    </div>


</section>