{{> nav}}
<div class= "container">
    <div class= "col col-lg">
        <article class="about">
            <h3>Intro</h3>
            <p>Cristiano Ronaldo, in full Cristiano Ronaldo dos Santos Aveiro, (born February 5, 1985, Funchal, 
            Madeira, Portugal), Portuguese football (soccer) forward who was one of the greatest players of his 
            generation.</p>
    
            <a href="https://www.cristianoronaldo.com/" class = "badge badge-pill badge-light" target="_blank">This is his Website</a>
        </article>
    </div>
</div>