<h1>Bibliografia</h1>

<p>
    Hijo de Gabriel Eligio García y Luisa Santiaga Márquez Iguarán, nació en Aracataca, <br>
    departamento del Magdalena, Colombia, «el domingo 6 de marzo de 1927 a las nueve de la mañana...», <br>
    como refiere el propio escritor en sus memorias.9​ Cuando sus padres se enamoraron, el padre de Luisa, <br>
    el coronel Nicolás Ricardo Márquez Mejía, se opuso a esa relación, pues Gabriel Eligio García, que había llegado a Aracataca como telegrafista,<br>
    no era el hombre que consideraba más adecuado para su hija,por ser hijo de madre soltera, pertenecer al Partido Conservador Colombiano y ser un mujeriego confeso. 
</p>