
<h1>About Amy</h1>
<p>Born on August 20, 1974, in Vicenza, Italy, Amy Adams relocated with her family to the United States when she was about eight years old. She pursued dancing as well as musical theater, and auditioned for TV and film roles until she landed several that launched her into fame. Adams has since starred in such popular films as Junebug, Enchanted, Doubt, Julie & Julia and Man of Steel, among many others. She has received several Academy Award nominations and earned Golden Globes for her performances in American Hustle, Big Eyes and the miniseries Sharp Objects.</p>


