<h1><strong>John Petrucci</strong></h1>
<div class=" mb-3">
    <div>
        <h3>Living Guitar Legend</h3>
        <img style='width:500px' src="/images/petrucci.jpg">
        <p>John Peter Petrucci (born July 12, 1967) is an American guitarist, composer and producer. He is best known as
            a founding member of the progressive metal band Dream Theater.
            Regarded as <strong>"One of the most celebrated guitarists alive"</strong> by Premier Guitar, Petrucci has
            performed as the third guitarist on the G3 tour seven times, more than any other invited guitarist. In their
            article "John Petrucci: The Ultimate Evolved Guitarist" Premier Guitar calls Petrucci "One of the best who's
            ever laid a hand on a fretboard"
        </p>
    </div>
</div>
</div>