<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Yayoi Kusama Site</title>

      <!--BootStrap-->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous" />

      <!--STYLES-->
      <link rel="stylesheet" href="/style/Style.css">

</head>

<body>
      <header class="menu">
            <a class="home" href="/">
                  <img src="/img/Kusama_Signature.jpg" alt="Yayoi Kusama signature" />
            </a>
            <nav>
                  <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/work">Works</a></li>
                        <li><a href="/gallery">Photo Gallery</a></li>
                  </ul>
            </nav>
      </header>

      <main>
            <div class="container">
                  <section>
                        <header>
                              <h1>Yayoi Kusama</h1>
                              <h2>“My life is a dot lost among thousands of other dots.”</h2>
                        </header>

                        <figure>
                              <img src="/img/About/Hero.jpg" alt="Yayoi Kusama in one of her exhibitions">
                        </figure>

                        <div class="row align-items-center">

                              <div class="col-12 col-md-12">
                                    <article>
                                          <p>
                                                Yayoi Kusama is a Japanese writer and contemporany artist. Her work is
                                                focused
                                                on
                                                sculpture and creating installations and performing. Kusama is one of
                                                the most
                                                popular avant-garde artists and one of the promoter of pop art.
                                          </p>
                                    </article>
                              </div>

                              <div class="col-12 col-md-6 col-lg-8">
                                    <article>
                                          <p>
                                                Her work is based on conceptual art, by mixing surrealism, minimalism
                                                and
                                                pop art elements through patterns, colors and psychedelia.
                                          </p>
                                          <p>
                                                She has been acknowledged as one of the most important living artists to
                                                come out of Japan.
                                          </p>
                                    </article>
                              </div>

                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/About/Kusama_2.jpg" alt="Kusama in one og her Exhibition">
                                    </figure>
                              </div>
                        </div>
                  </section>
            </div>
      </main>


</body>

</html>