<div class="page">
  <h1>About</h1>
  <p>We're leaving Paris and want to give our belongings a loving second home!</p>
  <p>Most of these belongings are approximately 5 years old but have been well cared for and are still in great or good condition.</p>
  <p>Browse our <a href="/items">Items</a> page to find your treasures, and make sure to reserve them ASAP!</p>
  <p>Don't hesitate to <a href="/contact">contact us</a> if you have any questions or need more information about 1 or more items.</p> 
</div>
