<h1 class="title">About section</h1>

<div class="ordered-d floating">

    <img src="img/bolosse.png" alt="philidenze">

    <div class="container">

        <h1>Skill Set</h1>

        <div class="bar learning" data-skill="Drugs"></div>
        <div class="bar back basic" data-skill="Node.js"></div>
        <div class="bar back intermediate" data-skill="Javascript"></div>
        <div class="bar front advanced" data-skill="CSS3"></div>
        <div class="bar front expert" data-skill="HTML5"></div>

    </div>

</div>