<div class="jumbotron text-center margin-bottom">
    <h1>About me</h1>
    <p>Work Experience, Tech skills, Hobbies </p>
</div>
<div class="flex h-center container column">
    <h3 class="h-center flex margin-top">Work Experience</h3>
    <br>
    <h5 class="h-center flex v-center">Project Manager (2016-2019)</h5>
    <div class="flex h-center boder-bottom">
        <ul>
            <li>Project team management</li>
            <li>Functional requirement analysis and modeling.</li>
            <li>Planning management</li>
            <li>Delivery management</li>
            <li>Functional & Technical user training</li>
            <li>User Acceptance Tests follow-up</li>
            <li>Process follow-up and validation</li>
            <li>Project Budget tracking and invoicing</li>
            <li>Project reporting: Project Kickoffs, Steering committees, project committees.</li>
        </ul>
    </div>

    <h5 class="h-center flex v-center">FrontERM Senior Business Intelligence Consultant (2012-2016)</h5>
    <div class="flex h-center boder-bottom">
        <ul>
            <li>Technical and functional workshop for developping relevant reporting according to clients needs</li>
            <li>Creating Dynamic dashboards(SQLServer / Oracle, JavaScript and our proprietary languages.)</li>
            <li>Analysis and developping reports(SQLServer / Oracle, Microsoft Office and our proprietary languages.)
            </li>
            <li>Support for frontERM team</li>
        </ul>

    </div>