<div id="general">
    <section>
        <div class="bg">
            <h1>Biography</h1>
        </div>
        <div class="container">
            <div>
                <p>Name: Terence David John Pratchett <br> Born: 28 April 1948, Beaconsfield, Burckinghamshire, England.
                    <br> Died:
                    12 March 2015, Broad Chalke, Wiltshire, England.</p>
                <p>Sir Terence David John Pratchett was an English humorist, satirist, and
                    author of fantasy novels, especially comical works. He is best known for his Discworld series of 41
                    novels.</p>

                <p>Pratchett's first novel, <i>The Carpet People</i>, was published in 1971. The first Discworld novel,
                    <i>The
                        Colour of
                        Magic</i>, was published in 1983, after which Pratchett wrote an average of two books a year.
                    The
                    final
                    Discworld
                    novel, <i>The Shepherd's Crown</i>, was published in August 2015, five months after his death.</p>

                <p>In December 2007, he announced that he had been diagnosed with early-onset Alzheimer's disease. He
                    stated
                    he
                    felt he had time for "at least a few more books yet".
                    Pratchett died at his home on the morning of 12 March 2015 from Alzheimer's.</p>
            </div>

            <img src="./img/terry.jpg" atl="Terry Pratchett portrait">
        </div>
    </section>

    <section>
        <div class="bg">
            <h1>Author</h1>
        </div>
        <div class="container">
            <div>
                <p>In 1968, Pratchett had written his first manuscript, <i>The Carpet People</i>.After various position
                    in journalism, he published the first Discworld novel, <i>The Colour of Magic</i> and his popularity
                    increased.</p>
                    <p>He stopped working in journalism and made his living through writing in 1987.
                    Pratchett, with more than 85 million books sold worldwide in 37 languages, was the UK's
                    best-selling author of the 1990s. He was appointed Officer of the Order of the British Empire in
                    1998 and
                    was
                    knighted for services to literature in the 2009 New Year Honours. In 2001 he won the annual
                    Carnegie
                    Medal
                    for <i>The Amazing Maurice and his Educated Rodents</i>, the first Discworld book marketed for
                    children.
                    He
                    received the World Fantasy Award for Life Achievement in 2010.</p>
            </div>
            <img src="./img/books.jpg" alt="books cover">
        </div>
</section>
<section>
    <div class="bg">
        <h1>Why you should read his novels?</h1>
    </div>
    <div class="why">
    <p>Well, why not? <br>He was a great author and he used sarcasm perfectly. If you like fantasy, humour and also a lot of irony, you should give him a chance. He made the Discworld series but not only, he also wrote science-fiction, kid books and made a lot of collaboration. His universe is huge and I'm sure you can find something which fits your taste. </p>
    <h4>Resume why you should read Terry Pratchett's books:</h4>
    <ul>
        <li>Great universe</li>
        <li>English humour</li>
        <li>Characters are everything</li>
    </ul>
    </div>
        
</section>
</div>