<section class="center">
  <h1>About Bruce Springsteen</h1>
  <section class="center"></section>
  <p>Bruce Frederick Joseph Springsteen (born September 23, 1949) is an American singer, songwriter, and musician who
    is
    both a solo artist and the leader of the E Street Band. Originally from the Jersey Shore, he received critical
    acclaim for his early 1970s albums and attained worldwide fame upon the release of Born to Run in 1975. During a
    career that has spanned five decades, Springsteen has become known for his poetic, socially conscious lyrics and
    energetic stage performances, sometimes lasting up to four hours in length. He has been nicknamed <b>"The
      Boss"</b>.
    He has recorded both rock albums and folk-oriented works, and his lyrics often address the experiences and
    struggles
    of working-class Americans.</p>
</section>
</section>