<h1 class="title">About section</h1>

<div class="ordered-d floating">

    <img src="img/bolosse.png" alt="philidenze">

    <div class="container">

        <h1>Skill Set</h1>
<br>
        <div class="bar back intermediate" data-skill="Javascript"></div><br>
        <div class="bar front advanced" data-skill="CSS3"></div><br>
        <div class="bar yes expert" data-skill="HTML5"></div><br>

    </div>

</div>