
<head>
           <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    {{>nav}}
    <h1>About Greta</h1>
    <section>
        Greta Tintin Eleonora Ernman Thunberg FRSGS (Swedish: [ˈɡrêːta ˈtʉ̂ːnbærj] (About this soundlisten); born 3 January 2003) is a Swedish environmental activist whose campaign has gained international recognition for holding world leaders accountable for their inadequate responses to climate change.[3] Thunberg is known for her straightforward speaking manner,[4] both in public and to political leaders and assemblies, in which she criticizes world leaders for their failure to take sufficient action to address the climate crisis.

Thunberg's activism started after convincing her parents to adopt several lifestyle choices to reduce their own carbon footprint. In August 2018, at age 15, she started spending her school days outside the Swedish parliament to call for stronger action on climate change by holding up a sign reading Skolstrejk för klimatet (School strike for climate). Soon, other students engaged in similar protests in their own communities. Together, they organised a school climate strike movement under the name Fridays for Future. After Thunberg addressed the 2018 United Nations Climate Change Conference, student strikes took place every week somewhere in the world. In 2019, there were multiple coordinated multi-city protests involving over a million students each.[5] To avoid flying, Thunberg sailed to North America where she attended the 2019 UN Climate Action Summit. Her speech there, in which she exclaimed "how dare you", was widely taken up by the press and incorporated into music.

Her sudden rise to world fame has made her both a leader[6] and a target for critics.[7] Her influence on the world stage has been described by The Guardian and other newspapers as the "Greta effect".[8] She has received numerous honours and awards including: honorary Fellowship of the Royal Scottish Geographical Society; Time magazine's 100 most influential people and the youngest Time Person of the Year; inclusion in the Forbes list of The World's 100 Most Powerful Women (2019)[9] and two consecutive nominations for the Nobel Peace Prize (2019 and 2020).
    </section>

</body>