<!DOCTYPE html>
<html long="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Michelle Obama</title>

  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <ul class="menu">
        <li><button class="homeButton">Home</button></li>
        <li><button class="about">About</button></li>
        <li><button class="work">Her work</button></li>
        <li><button class="pic">Pictures</button></li>
      </ul>
    </nav>
  </header>

  <h2>About</h2>
  <p></p>

  <h2>More</h2>

  <script src="app.js"></script>



</body>
</html>