<h1>About him</h1>
<p>We need to talk about Kevin (oops, no, sorry, that's not one of his movies).</p>
<br>
<p>Here is what Wikipedia says:</p>
<img id="about-img" src="img/kevin-smith.jpeg" alt="Kevin Smith">
<p>
  Kevin Patrick Smith (born August 2, 1970) is an American filmmaker, actor, comedian, comic book writer, author, and podcaster. He came to prominence with the low-budget comedy film Clerks (1994), which he wrote, directed, co-produced, and acted in as the character Silent Bob of stoner duo Jay and Silent Bob. Jay and Silent Bob also appeared in Smith's later films Mallrats, Chasing Amy, Dogma, Jay and Silent Bob Strike Back, Clerks II and Jay and Silent Bob Reboot, which are set primarily in his home state of New Jersey. While not strictly sequential, the films have crossover plot elements, character references, and a shared canon known as the "View Askewniverse", named after Smith's production company View Askew Productions, which he co-founded with Scott Mosier.
</p>

<p>
Since 2011, Smith has mostly made horror films, including Red State (2011) and the "comedy horror films" Tusk (2014) and Yoga Hosers (2016), two in a planned series of three such films set in Canada dubbed the True North trilogy. He has also served as a director-for-hire for material he did not write, including the buddy cop action comedy Cop Out (2010) and various television series episodes.
</p>

<p>
Smith owns Jay and Silent Bob's Secret Stash in Red Bank, New Jersey, a comic book store which became the setting for the reality television show Comic Book Men (2012—2018). He also hosts the movie-review TV show Spoilers. As a podcaster, Smith co-hosts several shows on his SModcast Podcast Network, including SModcast, Fatman Beyond, and the live show Hollywood Babble-On. He is known for participating in long, humorous Q&A sessions that are often filmed for DVD release, beginning with An Evening with Kevin Smith.
</p>
<br>
<p>He is kind of inseparable with his "hetero life-mate" as he calls him: Jay Mewes, who has a role in all of his movies. Even when he's "only" directing a tv show episode, he manages to give him a small part.</p>
<p>He makes at least a camea appearange in all of his movies. His character, Silent Bob, is silent BUT sometimes he talks, and when he does... it's something.</p>
<p>He is a comicbooks fan, he created a tv show about it, and he also has several podcasts where he talks about a lot of pop culture stuff.</p>
<p>I had the occasion to briefly meet him when he was filming Supergirl in Vancouver, he is super nice. <b>Fun fact:</b> in Canada, there's a coffee shop called Tim Horton's, where they sell "timbits" which are the donut holes. He bought timbits for everyone on set and gave a full box to my friend who was watching the filming. How nice is that?!</p>
<p>I also saw him during a Q&A evening at Vancouver's Fan Expo in 2016, he talks a lot, he has a lot of anecdotes to tell, and at some point, someone went to ask a question and started by saying something like "welcome back to Vancouver", and Kevin Smith spent litteraly 30 minutes talking about Vancouver and stuff and when he stopped, he said "I don't remember what your question was", but... the person hadn't had a chance to ask their question yet.</p>
<br>
<p>Kevin Smith tweets a lot, you can follow him:</p>
<a class="twitter-timeline" data-width="500" data-height="800" data-theme="light" href="https://twitter.com/ThatKevinSmith?ref_src=twsrc%5Etfw">Tweets by ThatKevinSmith</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br>
<p>Be warned, he is a huge fanboy and comments tv shows and movies quite often. (He also posts pictures of him crying because of said tv show/movie).</p>
