{{>nav}}

<h1>John William Oliver</h1>

<div class="bio">


  <div class="container">
    <div class="row"></div>

    <div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left bio-image" src="John_Oliver.jpg" alt="John Oliver">
          <div class="content-heading"></div>
          <p>John William Oliver (born 23 April 1977) is an English-American comedian, writer, producer, political
            commentator,
            actor, and television host.</p>
          <p>Oliver started his career as a stand-up comedian, both in the United Kingdom and United
            States. He came to wider attention for his work on The Daily Show with Jon Stewart as its senior British
            correspondent
            from 2006 to 2013. Oliver won three Primetime Emmy Awards for his work as a writer on The Daily Show and was
            its
            guest
            host for an eight-week period in 2013. In addition to The Daily Show, Oliver co-hosted the satirical comedy
            podcast
            The
            Bugle (2007–2015) with Andy Zaltzman, with whom Oliver had previously co-hosted the radio series Political
            Animal,
            and
            hosted John Oliver's New York Stand-Up Show on Comedy Central from 2010 to 2013. He has also acted on
            television,
            most
            notably in a recurring role as Ian Duncan on the NBC sitcom Community, and in films, notably voice-over work
            in
            The
            Smurfs (2011) and its sequel, and the remake of The Lion King.</p>
          <p>Since 2014, Oliver has been the host of the HBO series Last Week Tonight with John Oliver. He has received
            widespread
            critical and popular recognition for his work on the series, whose influence over US culture, legislation,
            and
            policymaking has been dubbed the "John Oliver effect". </p>
          <p>For his work on Last Week Tonight, Oliver has won eight
            Emmy Awards and two Peabody Awards and was included in the 2015 Time 100, being described as a "comedic
            agent of
            change...powerful because he isn't afraid to tackle important issues thoughtfully, without fear or apology."
            Many
            have opined that Oliver's work is journalism or investigative journalism, a claim Oliver himself disputes.
          </p>
          <p>Oliver lives in New York City with his wife Kate Norley, an Iraq War veteran who served as a United States
            Army
            medic. Oliver has said that they met at the 2008 Republican National Convention; he was doing a piece for
            The
            Daily Show and Norley was campaigning with Vets for Freedom. She and other veterans hid Oliver, the other
            correspondents, and the camera crew from security. The two married in October 2011. Together, the
            couple have two sons, one born prematurely in 2015 and one born in 2018. Oliver occasionally
            wears a 1st Cavalry Division lapel pin – his wife's unit in Iraq. He has a younger sister who lives in
            Australia.
          </p>

        </div>
      </div>
    </div>
  </div>