<h1 class="title">About section</h1>
<div class="ordered-d">
<div>
    <h2>Rollerblading</h2>
    <p>I love rollerblading</p>
</div>

<div>
    <h2>Video Games</h2>
    <p>I love video games</p>
</div>

<div>

    <h2>Music
    </h2>
    <p>I love music</p>
</div>
</div>