<h1>About</h1>
<p>Robert Bernard Reich (/raɪʃ/;[1] born June 24, 1946) is an American liberal economist,[2][3][4][5] professor, author,
    and political commentator. He served in the administrations of Presidents Gerald Ford, Jimmy Carter, and Bill
    Clinton. He was Secretary of Labor from 1993 to 1997. He was a member of President Barack Obama's economic
    transition advisory board.

    Reich has been the Chancellor's Professor of Public Policy at the Goldman School of Public Policy at UC Berkeley
    since January 2006.[6] He was formerly a professor at Harvard University's John F. Kennedy School of Government[7]
    and professor of social and economic policy at the Heller School for Social Policy and Management of Brandeis
    University. He has also been a contributing editor of The New Republic, The American Prospect (also chairman and
    founding editor), Harvard Business Review, The Atlantic, The New York Times, and The Wall Street Journal.

    Reich is a political commentator on programs including Erin Burnett OutFront, CNN Tonight, Anderson Cooper's AC360,
    Hardball with Chris Matthews, This Week with George Stephanopoulos, CNBC's Kudlow & Company, and APM's Marketplace.
    In 2008, Time magazine named him one of the Ten Best Cabinet Members of the century,[8] and The Wall Street Journal
    in 2008 placed him sixth on its list of Most Influential Business Thinkers.[9] He was appointed a member of
    President-elect Barack Obama's economic transition advisory board.[10] Until 2012, he was married to British-born
    lawyer Clare Dalton, with whom he has two sons, Sam and Adam.[11][12]

    He has published 18 books, including the best-sellers The Work of Nations, Reason, Saving Capitalism,
    Supercapitalism, Aftershock: The Next Economy and America's Future, and a best-selling e-book, Beyond Outrage. He is
    also chairman of Common Cause and writes his own blog about the political economy at Robertreich.org.[13] The Robert
    Reich–Jacob Kornbluth film Saving Capitalism was selected to be a Netflix Original, and debuted in November 2017,
    and their film Inequality for All won a U.S. Documentary Special Jury Award for Achievement in Filmmaking at the
    2013 Sundance Film Festival in Utah.[14][15]</p>