<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>

<body>
    <p style="padding: 0px 45px; font-size: 18px;">« With the splendors of nature, this art seeks the authenticity of the material even in the material itself [...]. Benjamin Hudson Dean focuses on natural elements and raw textures at the heart of the relationship between Nature and Art. This relationship with nature is not a source of idealism but more of a radical approach with both finesse and an elegance at the end of the art creation. »  -  Véronique Perriol, Artistic Director, Galerie Arcima, Paris 5th Arrondissement</p>
    <div><img src="/images/about.jpg" style="margin: 50px 0px; 0px 0px"></div>
    <p style="padding: 0px 45px 25px 45px; font-size: 18px;">{{ information }}</p>
     </p>Regular ingredients:</p>
        {{#each elements }}
        </p>{{ this }},</p>
        {{/each}}
     </p>And more!</p>
    <p style="padding: 65px 0px;"><a href="http://benjamin-h-dean.com/" class="button1" target="_blank">-  benjamin-h-dean.com  -</a></p>

</body>

</html>