<div class="container">
    <h1>Sobre Helena Petrovna Bravatsky</h1>
    <p align=justify></b>
        HELENA PETROVNA BLAVATSKY foi uma das figuras mais notáveis do mundo no último quartel do século XIX. Ela abalou
        e
        desafiou de tal modo as correntes ortodoxas da Religião, da Ciência, da Filosofia e da Psicologia, que é
        impossível
        ficar ignorada. Foi uma verdadeira iconoclasta - ao rasgar e fazer em pedaços os véus que encobriam a Realidade.
        Mas, porque estivesse a maioria presa às exterioridades convencionais, tornou-se o alvo de ataques e injúrias,
        pela
        coragem e ousadia de trazer à luz do dia aquilo que era blasfêmia revelar. Lenta mas seguramente, os anos se
        encarregaram de fazer-lhe justiça. Apesar das invectivas, considerava-se feliz por trabalhar "a serviço da
        humanidade', e deu provas de sabedoria ao deixar que as futuras gerações julgassem a sua magnífica obra (1).
    <p align=justify>
        Helena Petrovna Hahn nasceu prematuramente à meia-noite de 30 para 31 de julho (12 de agosto pelo calendário
        russo)
        de 1831, em Ekaterinoslav, na província do mesmo nome, ao sul da Rússia. Tão estranhos foram os incidentes
        ocorridos
        na hora do seu nascimento e por ocasião do seu batismo, que os serviçais da família lhe predisseram uma
        existência
        cheia de tribulações.
    <p align=justify>
        Helena foi uma criança voluntariosa, oriunda de uma linhagem tradicional de homens e mulheres influentes e
        poderosos. A história dos seus antepassados é a história mesma da Rússia. Séculos atrás, os nômades eslavos
        erravam
        através da Europa central e oriental. Tinham formas de governo próprias; mas, quando se estabeleceram em
        Novgorod,
        fracionaram-se em feudos, que se desavieram entre si, não sendo possível chegarem a uma conciliação.
    <p align=justify>
        Chamaram em seu auxílio Rurik (862 A.D. ), chefe de uma das tribos errantes de "Russ", homens do Norte ou
        escandinavos, que andavam à cata de mercado e procurando estender o seu domínio. Rurik veio e organizou em
        Novgorod
        o primeiro governo civil, que se constituiu em um centro opulento de comércio com o Oriente e o Ocidente. Foi
        ele o
        primeiro soberano e reinou pelo espaço de quinze anos. Durante sua vida, o filho Igor e o sobrinho Oleg
        consolidaram-lhe o domínio no Oeste e no Sul. Kiev tornou-se um grande Principado, e aquele que o governava era
        virtualmente o soberano da Rússia. Ao longo dos séculos, os descendentes de Rurik ampliaram as suas conquistas e
        a
        sua autoridade sobre todo o país. Vladimir I (m. 1015) escolheu o Cristianismo como religião do seu povo, e o
        chamado "paganismo" desapareceu. Yaroslav o Sábio (m. 1034) elaborou Códigos e os "Direitos Russos"- O sexto
        filho
        de Vladimir II (1113-24) foi Yuri, o ambicioso ou "dolgorouki". Este apelido persistiu como título de família.
        Yuri
        fundou Moscou, e sua dinastia deu origem aos poderosos Grão-Duques, cujos governos se caracterizaram por lutas
        violentas entre eles próprios. As hordas mongóis, em 1224, tiraram partido das divergências e sujeitaram os
        grupos
        turbulentos que se rivalizavam em sede de poder e posição. Mas Ivan III, um Dolgorouki, libertou-se em 1480 do
        jugo
        mongol; e Ivan IV exigiu ser coroado Czar, arrogando-se a autoridade suprema. Com a morte de seu filho terminou
        a
        longa e brilhante dinastia dos Dolgorouki. Mas a família ainda exercia influência nos dias dos Romanoff, até a
        morte
        da avó da Senhora Blavatsky, a talentosa e culta Princesa Elena Dolgorouki, que se casou com André Mikaelovitch
        Fadeef, o "mais velho" da linhagem Dolgorouki, da qual os Czares Romanoff eram considerados um dos ramos "mais
        novos".
    <p align=justify>
        Vê-se, pois, que a família de Helena pertencia à classe superior, na Rússia, com tradição e dignidade a
        preservar,
        sendo conhecida em toda a Europa. Helena era uma rebelde, e desde a infância sempre manifestou desprezo pelas
        convenções, o que não a impedia de compreender que as suas ações não deviam molestar a família, nem ferir-lhe a
        honra. Seu pai, o Capitão Peter Hahn, descendia de velha estirpe dos Cruzados de Mecklemburg, os Rottenstern
        Hahn.
        Em virtude de, aos onze anos de idade, haver perdido a mãe, mulher inteligente e devotada à literatura, Helena
        passou a adolescência em companhia de seus avós, os Fadeef, em um antigo e vasto solar de Saratov, que abrigava
        muitos membros da família e grande número de criados e servidores, por ser o seu avô Fadeef governador da
        província
        de Saratov.
    <p align=justify>
        A natureza de Helena estava fortemente impregnada de uma inata capacidade psíquica, de tal modo que constituía
        sua
        característica predominante. Ela se dizia (e o demonstrava) dotada da faculdade de comunicar-se com os
        habitantes de
        outras esferas ou mundos invisíveis e sutis, e com os entes humanos que consideramos "mortos". Essa
        potencialidade
        natural foi posteriormente disciplinada e desenvolvida. Sua educação recebeu a influência da posição social da
        família e dos fatores culturais então imperantes. Assim, ela era hábil poliglota e tinha excelentes
        conhecimentos
        musicais; de sua erudita avó herdou o senso científico e a experiência; e partilhava dos pendores literários que
        pareciam correr nas veias da família.
    <p align=justify>
        Em 1848, com a idade de 17 anos, Helena contraiu matrimônio com o General Nicephoro Von Blavatsky, governador da
        província de Erivan, que era um homem já entrado em anos- Existem muitas versões sobre a razão desse casamento;
        que
        não foi do seu agrado, ela o demonstrou desde o primeiro momento- Após três meses, abandonou o marido e fugiu
        para a
        casa da família, que a encaminhou ao pai. Receando ser obrigada a voltar para o General Blavatsky, tornou a
        fugir,
        no caminho; e durante vários anos correu o mundo em viagens cheias de aventuras. 0 pai conseguiu comunicar-se
        com
        ela e fez-lhe remessa de dinheiro. Ao que parece, manteve-se ela ausente da Rússia o tempo suficiente para poder
        legalizar a sua separação do marido.
    <p align=justify>
        Em 1851 Helena, agora Senhora Blavatsky ou H. P. B., teve o seu primeiro encontro físico com o Mestre, o Irmão
        Mais
        Velho ou Adepto, que fora sempre o seu protetor e a havia preservado de sérios perigos em suas irrequietas
        travessuras da infância. A partir desse momento, passou ela a ser a sua fiel discípula, obedecendo-lhe
        inteiramente
        à influência e diretiva. Sob a orientação do Mestre, aprendeu a controlar e dirigir as forças a que estava
        submetida
        em razão de sua natureza excepcional. Essa orientação conduziu-a através de várias e extraordinárias
        experiências
        nos domínios da "magia" e do ocultismo. Aprendeu a receber mensagens dos Mestres e a transmiti-Ias aos seus
        destinatários, e a enfrentar valentemente todos os riscos e incompreensões no seu caminho. Seguir o rastro de
        suas
        peregrinações durante o período desse aprendizado é vê-Ia em constante atividade pelo mundo inteiro. Parte do
        tempo
        ela o passou nas regiões do Himalaia, estudando em mosteiros onde se conservam os ensinamentos de alguns dos
        Mestres
        mais esclarecidos e espirituais do passado. Estudou a Vida e as Leis dos mundos ocultos, assim como as regras
        que
        devem ser cumpridas para o acesso a eles. Como testemunho desse estágio de sua educação esotérica, deixou-nos
        uma
        primorosa versão de axiomas espirituais em seu livro The Voice of Silence (A Voz do Silêncio).
    <p align=justify>
        Em 1873, H. P. Blavatsky viajou para os Estados Unidos da América, a fim de trabalhar na missão para a qual fora
        preparada. A alguém de menos coragem a tarefa havia de parecer impossível- Mas ela, uma russa desconhecida,
        irrompeu
        no movimento espiritualista, que então empolgava tão profundamente a América e, em menor escala, muitos outros
        países. Os espíritos científicos ansiavam por descobrir o significado dos estranhos fenômenos, e se defrontavam
        com
        dificuldades para abrir caminho em meio às numerosas fraudes e mistificações. De duas maneiras tentou H. P. B-
        explicá-los: 1.° pela demonstração prática de seus próprios poderes; 2.° afirmando que havia uma ciência
        antiqüíssima das mais profundas leis da vida, estudada e preservada por aqueles que podiam usá-la com segurança
        e no
        sentido do bem, seres que em suas mais altas categorias recebiam a denominação de "Mestres", embora outros
        títulos
        também lhes fossem conferidos, como os de Adeptos, Chohans, Irmãos Mais Velhos, Hierarquia Oculta, etc.
    <p align=justify>
        Para ilustrar suas afirmações, H.P.B. escreveu Isis Unveiled (Ísis sem Véu), em 1877, e The Secret Doctrine (A
        Doutrina Secreta), em 1888, obras ambas "ditadas" a ela pelos Mestres. Em Ísis sem Véu lançou o peso da
        evidência
        colhida em todas as Escrituras do mundo e em outros anais contra a ortodoxia religiosa, o materialismo
        científico e
        a fé cega, o ceticismo e a ignorância. Foi recebida com agravos e injúrias, mas não deixou de impressionar e
        esclarecer o pensamento mundial.
    <p align=justify>
        Quando H. P. B. foi "enviada" aos Estados Unidos, um de seus objetivos mais importantes consistiu em fundar uma
        associação, que foi formada sob a denominação de THE THEOSOPHICAL SOCIETY (Sociedade Teosófica), "para pesquisas
        e
        difundir o conhecimento das leis que governam o Universo"'. A Sociedade apelou para a "fraternal cooperação de
        todos
        os que pudessem compreender o seu campo de ação e simpatizassem com os objetivos que ditaram a sua organização"
        a.
        Essa "fraterna cooperação" tornou-se a primeira das Três Metas do trabalho da Sociedade, as quais foram durante
        muitos anos enunciadas nestes termos:
    <p align=justify>
        Primeira - Formar um núcleo de Fraternidade Universal na Humanidade, sem distinção de raça, credo, sexo, casta
        ou
        cor.
    <p align=justify>
        Segunda - Fomentar o estudo comparativo das Religiões, Filosofias e Ciências.
    <p align=justify>
        Terceira - Investigar as leis inexplicáveis da Natureza e os poderes latentes do homem.
    <p align=justify>
        Foi recomendado à Senhora Blavatsky que persuadisse o Coronel Henry Steel Olcott a cooperar com ela na formação
        da
        Sociedade. Era um homem altamente conceituado e muito conhecido na vida pública da América, e tanto ele como H.
        P.
        B. tudo sacrificaram em prol da realização da tarefa que os Mestres lhes haviam confiado.
    <p align=justify>
        Ambos foram para a índia em 1879, e ali construíram os primeiros e sólidos alicerces do seu trabalho. A
        Sociedade
        expandiu-se rapidamente de país em país; sua afirmação de serviço pró-humanidade, a amplitude de seu programa, a
        clareza e a lógica de sua filosofia e a inspiração de sua orientação espiritual ecoaram de modo convincente em
        muitos homens e mulheres, que lhe deram o mais firme apoio. H. P. B. foi investida pelos Mestres com a
        responsabilidade de apresentar ao mundo a Doutrina Secreta ou Teosofia: ela era a instrutora por excelência; ao
        Coronel Olcott foi delegada a incumbência de organizar a Sociedade, o que ele fez com notável eficiência. Como
        era
        natural, esses dois pioneiros encontraram a oposição e a incompreensão de muita gente; especialmente H. P. B.
        Mas
        ela estava preparada para o sacrifício. Como escreveu no Prefácio de A DOUTRINA SECRETA: "Está acostumada às
        injúrias, e em contato diário com a calúnia; e encara a maledicência com um sorriso de silencioso desdém."
    <p align=justify>
        A fase mais brilhante e produtiva de H. P. B. foi talvez a que se passou na Inglaterra entre os anos de 1887 e
        1891.
        Os efeitos do injusto Relatório da "Sociedade de Investigações Psíquicas" ( 1885) acerca dos fenômenos que ela
        produzia, assim como os dos ataques desfechados pelos missionários cristãos da índia, já haviam em parte
        desaparecido. Ao seu incessante labor de escrever, editar e atender à correspondência, somava-se a tarefa de
        formar
        e instruir discípulos capazes de dar prosseguimento à sua obra. Para este fim, organizou, com a aprovação
        oficial do
        Presidente (Coronel Olcott), a Seção Esotérica da Sociedade Teosófica. Em 1890 contava-se em mais de um milhar o
        número de membros que se achavam sob a sua direção em muitos países.
    <p align=justify>
        A DOUTRINA SECRETA se define por seu próprio título. Expõe "não a Doutrina Secreta em sua totalidade, mas um
        número
        selecionado de fragmentos dos seus princípios fundamentais". 1º) Mostra: que é possível obter uma percepção das
        verdades universais, mediante o estudo comparativo da Cosmogonia dos antigos; 2º) proporciona o fio que conduz à
        decifração da verdadeira história das raças humanas; 3°) levanta o véu da alegoria e do simbolismo para revelar
        a
        beleza da Verdade; 4º) apresenta ao intelecto ávido, à intuição e à percepção espiritual os "segredos"
        científicos
        do Universo, para sua compreensão. Segredos que continuarão como tais enquanto não forem entendidos.
    <p align=justify>
        H. P. B. faleceu a 8 de maio de 1891, deixando à posteridade o grande legado de alguns pensamentos dos mais
        sublimes
        que o mundo já conheceu. Ela abriu as portas, há tanto tempo cerradas, dos Mistérios; revelou, uma vez mais, a
        verdade sobre o Homem e a Natureza; deu testemunho da presença, na Terra, da Hierarquia Oculta que vela e guia o
        mundo. Ela é reverenciada por muitos milhares de pessoas, porque foi e é um farol que ilumina o caminho para as
        alturas a que todos devem ascender.
    <p align=justify>
    <div align=right>Josephine Ransom
        <br>Adyar, 1938
    </div>
    <div align=left>
        <p>Fonte: <a href="https://www.levir.com.br/teosofia71.php">LEVIR</a></p>
    </div>
</div>