<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <h1>You are on About page</h1>
    <h2>Here is some information about Batman</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Comics</a></li>
    </ul>
    <div class="about">
    <img src="/images/batman.png">
    <p>
        Batman is a fictional superhero appearing in American comic books published by DC Comics. 
        The character was created by artist Bob Kane and writer Bill Finger and first appeared in Detective Comics #27 in 1939. 
        Originally named the "Bat-Man," the character is also referred to by such epithets as the Caped Crusader, the Dark Knight, 
        and the World's Greatest Detective.
        Batman's secret identity is Bruce Wayne, a wealthy American playboy, philanthropist, and owner of Wayne Enterprises. 
        Batman originated from an incident in Bruce's childhood; after witnessing the 
        murder of his parents Dr. Thomas Wayne and Martha Wayne, he swore vengeance against criminals, an oath tempered by a sense of justice. Bruce trains himself physically and intellectually and crafts a bat-inspired persona to fight crime.[7]
        Batman operates in the fictional Gotham City with assistance from various supporting characters, including his butler Alfred, police commissioner Jim Gordon, and vigilante allies such as Robin. Unlike most superheroes, Batman does not possess any inhuman superpowers. He does, however, possess a genius-level intellect and is a peerless martial artist, and his vast wealth affords him an extraordinary arsenal of weaponry and equipment. 
        A large assortment of villains make up Batman's rogues gallery, including his nemesis, the Joker.
    </p>
    </div>
</body>
</html>