<div class="container">

  <h1>About Greenland</h1>

  <div id="nature_culture">
    <div class="nature">
      <a class="learn_more" href="https://visitgreenland.com/things-to-do/#nature" target="_blank"><img class="glacier" src="/images/nature.jpg" alt="nature"></a>
      <h2 class="title_about">Nature</h2>
    </div>
    <div class="culture">
      <a class="learn_more" href="https://visitgreenland.com/things-to-do/#culture" target="_blank"><img class="tambour" src="/images/culture.jpg" alt="culture"></a>
      <h2 class="title_about">Culture</h2>
    </div>
  </div>

<hr>

  <div id="nature">
    <h1>Nature</h1>
    <p class="title">Explore nature activities in Greenland and use the filter below to refine or broaden your search to find more adventures</p>

    <div id="nature_activity">
      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/animals-of-greenland/" target="_blank"><img class="images_about" src="/images/animals.jpg" alt="animals"></a>
        <h4>Animals of Greenland</h4>
        <p>Sea eagles, seals, whales, musk oxen and polars bears. Greenland's wildlife is rich and extremely diverse</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/climate-changes/" target="_blank"><img class="images_about" src="/images/climate.jpg" alt="climate"></a>
        <h4>Climate changes</h4>
        <p>Global warming and the melting of the Greenland Ice Sheet have long line of consequences for people, nature and wildlife in the Arctic and the rest of the world</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/glaciers-greenland/" target="_blank"><img class="images_about" src="/images/glacier.jpg" alt="glaciers"></a>
        <h4>Glaciers in Greenland</h4>
        <p>Learn more bout the galciers in Greenland, how they surround most towns and settlements and see how the glaciers move and release ice continuously</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/greenland-climate-weather/" target="_blank"><img class="images_about" src="/images/weather.jpg" alt="weather"></a>
        <h4>Greenland climate and weather</h4>
        <p>Learn more about Greenland's weather conditions and climate so you are prepared for a great range of weather conditions no matter where you go in Greenland</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/hot-springs-greenland/" target="_blank"><img class="images_about" src="/images/hot springs.jpg" alt="hot springs"></a>
        <h4>Hot springs in Greenland</h4>
        <p>Hot springs are an arctic phenomenon and in Greenland a common one, as they differ from other hot springs in the arctic due to the warmth's origin</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/flora-greenland/" target="_blank"><img class="images_about" src="/images/flora.jpg" alt="flora"></a>
        <h4>The flora of Greenland</h4>
        <p>The arctic plantlife in Greenland consists of beautiful lush meadows, hardy and colorful flowers that can withstand the country's unique</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/icebergs/" target="_blank"><img class="images_about" src="/images/icebergs.jpg" alt="icebergs"></a>
        <h4>Icebergs</h4>
        <p>Learn more about Icebergs, majestic natural works of art heading out to sea which are up to 100 meters high. These sculptures are a formidable sight especially in the summer!</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/ice-sheet/" target="_blank"><img class="images_about" src="/images/ice sheet.jpg" alt="ice sheet"></a>
        <h4>The ice sheet</h4>
        <p>Read more about the Ice Cap of Greenland a magnificient natural formation which overwhelms and astounds visitors with its size and ressources</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/midnight-sun/" target="_blank"><img class="images_about" src="/images/midnight sun.jpg" alt="midnight sun"></a>
        <h4>The midnight sun</h4>
        <p>See the warm magical light of the midnight sun north of the Arctic Circle, it makes it possible to sialing of hiking no mater how late or early it is</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/northern-lights/" target="_blank"><img class="images_about" src="/images/nothern light.jpg" alt="nothern light"></a>
        <h4>The Northern Lights</h4>
        <p>Let the Northern LIghts remind you of the seemingly infinite beauty in Greenland. The best time to see these is on a dark, clear autumn or winter night</p>
      </div>

      <div class="nature_activity">
        <a href="https://visitgreenland.com/about-greenland/national-park/" target="_blank"><img class="images_about" src="/images/national park.jpg" alt="national park"></a>
        <h4>The National Park</h4>
        <p>Greenland's National is the largest in the world, a vast Arctic paradise. It is home to an incredible range of wildlife and most spectacular scenery</p>
      </div>
    </div>
  </div>

<hr>

  <div id="culture">
    <h1>Culture</h1>
    <p class="title">Explore cultural activities in Greenland and use the filter below to refine or broaden your search to find more adventures</p>

    <div id="culture_activity">
      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/food-and-gastronomy/" target="_blank"><img class="images_about" src="/images/taste.jpg" alt="taste"></a>
        <h4>A taste of Greenland</h4>
        <p>Greenlandic food and gastronomy is all about fresh, natural organic meat from the sea, land and air - see the tv series A Taste Of Greeland.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/architecture/" target="_blank"><img class="images_about" src="/images/architecture.jpg" alt="architecture"></a>
        <h4>Architecture</h4>
        <p>Architecture in Greenland is a mix of the famous multicolored woden houses, and modern Scandanavian architecture style public facility buildings.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/crafts/" target="_blank"><img class="images_about" src="/images/crafts.jpg" alt="crafts"></a>
        <h4>Crafts</h4>
        <p>Crafts are an essential part of the Greenlandic-Inuit culture, and today you can find local handicraft in art shops and museums in many of Grenland's towns</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/dwellings-inuit-culture/" target="_blank"><img class="images_about" src="/images/inuit culture.jpg" alt="inuit"></a>
        <h4>Dwelling of the Inuit culture</h4>
        <p>Find out how the hunter's life in unit culture affected their houses, dwellings and architecture as can be experienced in Greenland.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/erik-the-red/" target="_blank"><img class="images_about" src="/images/erik.jpg" alt="erik"></a>
        <h4>Erik The Red</h4>
        <p>Read more about Erik the Red’s saga; how he got exiled; his travels as well as his discovery and establishment of the first settlements on Greenland..</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/fashion/" target="_blank"><img class="images_about" src="/images/fashion.jpg" alt="fashion"></a>
        <h4>Fashion</h4>
        <p>Fashion in a Greenlandic context is both use of traditional natural materials like skins and furs, new urban style design, and even handcrafted couture.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/norse-settlers-gardar-cathedral/" target="_blank"><img class="images_about" src="/images/cathedral.jpg" alt="cathedral"></a>
        <h4>Gardar Cathedral</h4>
        <p>Greenland got its first bishop in 1124. The ruins of the impressive Gardar bishopric and the cathedral can be seen at Igaliku.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/greenlandfestivals/" target="_blank"><img class="images_about" src="/images/festival.jpg" alt="festival"></a>
        <h4>Greenland Festival and events calendar</h4>
        <p>Festivals in Greenland is a big deal for greenlanders. Especially Christmas, New Years Eve and the National Day of Greenland.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/modern-art/" target="_blank"><img class="images_about" src="/images/art.jpg" alt="art"></a>
        <h4>Greenlandic art through time</h4>
        <p>Modern art in Greenland can be described as a peculiar mix of traditional Inuit handicraft with its spirit world inspiration, and modern western influence</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/greenlandic-jewelry/" target="_blank"><img class="images_about" src="/images/jewellery.jpg" alt="jewellery"></a>
        <h4>Greenlandic jewellery</h4>
        <p>Greenlandic jewelry are popular souvenir items. Traditionally they are made out of natural materials like bone and unique precious stones like Tugtupit</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/history/" target="_blank"><img class="images_about" src="/images/history.jpg" alt="history"></a>
        <h4>History</h4>
        <p>The history of Greenland goes back to ca. 2500 BC, when the first Paleo-Eskimos migrated to Greenland through North America.</p>
      </div>

      <div class="culture_activity">
        <a href="https://visitgreenland.com/about-greenland/hunting-culture/" target="_blank"><img class="images_about" src="/images/hunting.jpg" alt="hunting"></a>
        <h4>Hunting culture</h4>
        <p>Inuit hunting culture. Hunting and fishing are essential in a country like Greenland that has no agriculture in most parts of the country</p>
      </div>
    </div>
  </div>

</div>