<div class="m-5">
    <h1>Biography</h1>
    <p>
        Born into a musical family, at the age of thirteen she was already dancing and participating as a support singer
        for shows in her city. The following year, a local DJ allowed her to sing a song every Friday, on stage. One of
        those nights, P! Nk was spotted by an MCA record executive, who took her, initially to an R&B group called Basic
        Instinc, and then to another, female, The Choice. The experiments did not work out, but P!Nk impressed the
        bosses of the label, like the legendary Babyface. She had to make a choice that, according to her, had been very
        complicated, because at the same time she wanted to remain in her group, with two other girls , she wanted to
        make her career grow. Pink claims that her parents fought a lot when she was a little girl, she took refuge in
        bars with friends and consumed drugs and drinks. At fifteen, he almost overdosed. The stage name "Pink" is an
        allusion to the character Mr. Pink from Dogs for Hire, the third film by director Quentin Tarantino, which she
        watched with her friends. Each of them was a character (Mr. Orange, for example). has two children: one born in
        2011 and the other in 2016.
    </p>
    <h3>Movie theater</h3>
    <p>
        In 2013 she acted in "Thanks for Sharing" ("Sex Therapy" in Portuguese) where she played the role of Dede a sex
        addict. He also acted in "As Panteras Detonando" and "O Worst Job in the World".Pink also voiced the character
        Glória from the cartoon "Happy Feet - Two".
    </p>

</div>