<div class="container-fluid">
<section>
<div>
<h1>About me page</h1>

</div>
</section>

<div>
<img src="/images/project-4.jpg" class="img-fluid" alt="Responsive image">
<div>
    <h2>I wish for days like these</h2>
    <p>After a long winter I can's wait for warm weather to return</p>
</div>
</div>
</div>