<h1 class="aboutCat">About the cat servante</h1>
<p>My name is {{this.name}} <br> And I deeply love {{this.hobby}} {{this.catName}} the croquette philosopher </p>
<p>I hope in the next few days, I will find some API of cats in history for more content in this web page </p>
