<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <div class="container">
        <%- include('partials/header'); -%>
            <div class="container ">
                <div class="row">
                    <div class="col-6">
                        <div class="p-2 bd-highlight">
                            <h1>About</h1>
                        </div>
                        <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <h2>This is me:</h2>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/boy.jpg" alt="Card image cap">
                            </div>
                            <div class="p-2 bd-highlight pt-4">Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not
                                only five centuries, but also the leap into electronic typesetting, remaining
                                essentially
                                unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages,
                                and more recently with desktop publishing software like Aldus PageMaker including
                                versions of
                                Lorem
                                Ipsum.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <h2>BIOGRAPHY</h2>
                            </div>
                            <div class="p-2 bd-highlight pt-4">Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not
                                only five centuries, but also the leap into electronic typesetting, remaining
                                essentially
                                unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages,
                                and more recently with desktop publishing software like Aldus PageMaker including
                                versions of
                                Lorem
                                Ipsum. <br>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not
                                only five centuries, but also the leap into electronic typesetting, remaining
                                essentially
                                unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages,
                                and more recently with desktop publishing software like Aldus PageMaker including
                                versions of
                                Lorem
                                Ipsum.</div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer'); -%>
                <%- include('partials/scripts'); -%>
</body>

</html>