<section id="about" class="text">
   <p class="top">The Hackney Food Club was born out of a passion for cooking and bringing people together 
       to share delicious food and excellent company.
   </p>
   <p> The ambition was to evolve cooking from a hobby to something more serious. I wanted somewhere
       where people could share, food, wine, laughter, and leave with new friends and stronger bonds
       with the people around them. The Hackney Food Club was formed in the dining room of my flat in 
       the east of London, just off Columbia Road where the Royal Oak frequently drew the crowd once
       the plates were clean and the bottles empty.
    </p>
    <p> The keys were posted back through the letterbox of that wonderful flat and my life has taken
        a turn towards Paris for new culinary adventures. This site is the conituation of the Hackney
        Food Club project. It is a home for experiences, recipes, insights, stories, anecdotes, bottles, 
        cans, hangover antidotes, and everything in between.
    </p>
    <p>Enjoy.</p>
   

</section>