<section>
    <ul>
        <h1>Développeur :</h1>
        <li> Square </li>
        <h1> Concepteur : </h1>
        <li> Yoshinori Kitase (réalisateur, scénariste)</li>
        <li> Tetsuya Nomura (créateur des personnages) </li>
        <li> Kazushige Nojima (scénariste, event planner)</li>
        <li> Yusuke Naora (directeur artistique)</li>
        <li>Musique Nobuo Uematsu (compositeur)</li>
    </ul>
</section>