<section class="about">
    <h1>About Piotre</h1>

    <img src="/img/Piotre-portrait.jpg" alt="">

    <p>Pitore, named Pierre Ygouf is a 31 years old graphic artist</p>
    <p>Born in Normandy, he spends his childhood wondering about being an artist</p>
    <p>He studied art and design in Paris at the Strate College</p>
    <p>Piotre's artwork is largely influenced by XXth century artists such as Andy Warhol,Jean-Michel Basquiat or Keith Haring</p>
</section>

