<div class="page">
    <p id="aboutpix" class="image"></p>
    <p class="speech">Il a reçu de nombreux prix internationaux dont le Japan Prize, le Prix Prince des Asturies, le
        Millenium Technology Prize et le Prix Quadriga.

        • En 1994, il devient un des six membres du World Wide Web Hall of Fame.
        <br>• En 1995, il remporte le prix du Jeune Inventeur de l’Année39. La même année, Tim Berners-Lee et Robert
        Cailliau reçoivent le Software System Award décerné par l’Association Computing Machinery (ACM)40.
        <br>• En 1997, il entre au musée national d’histoire américaine (NMAH), aux côtés de Robert E. Kahn, Roland
        Moreno, Seymour Cray et Gordon Moore41.
        <br>• En 1998, il est nommé officier de l’ordre de l’Empire britannique (OBE)42. La même année, il reçoit un
        doctorat d’honneur de l’Université d’Essex43.
        <br>• En 1999, le Time Magazine le classe parmi les 100 personnalités les plus importantes du xxe siècle44.
        <br>• En mars 2000, il reçoit un doctorat d’honneur de l’Open University 45.
        <br>• En 2001, il devient membre de la Royal Society 46.
        <br>• En 2002, il figure sur la liste de la BBC des 100 plus grands Britanniques de tous les temps (the 100
        Greatest Britons)47.
        <br>• En 2003, il reçoit de la Royal Photographic Society la médaille du progrès et le titre de membre
        honorifique. Cette médaille est attribuée en récompense d’une invention, recherche, publication ou autre
        contribution servant à l’avancée du développement scientifique ou technologique de la photographie ou plus
        globalement de l’image48. La même année, il reçoit le Prix du Computer History Museum’s Fellow en récompense de
        ses contributions phares au développement du World Wide Web49.
        <br>• Le 15 avril 2004, il reçoit le prix finlandais Millenium Technology Prize. Le prix, dont le montant est
        d’un million d’euros, est alors décerné par la Présidente de la République de Finlande, Tarja Halonen50.
        <br>• Le 16 juillet 2004, il est fait chevalier par la reine du Royaume-Uni Élisabeth II lors d'une cérémonie
        d'investiture à Londres où il reçoit le titre de chevalier commandeur de l'ordre de l'Empire britannique. Ce
        titre, classé deuxième dans le système honorifique britannique, lui est attribué en reconnaissance de services
        rendus pour « le développement global d'Internet ».
        <br>• Le 21 juillet 2004, il reçoit un diplôme honorifique de doctorat en sciences de l’Université de
        Lancaster51.
        <br>• Le 27 janvier 2005, il est nommé le « plus grand Britannique de l’année 2004 »52.
        <br>• Le 23 août 2005, il est consacré par le gouvernement allemand qui lui décerne le prix Quadriga en tant que
        l'un des deux plus importants scientifiques du xxe siècle, aux côtés d'Albert Einstein.
        <br>• En 2007, il reçoit la médaille d’or de l’Academy of Achievements. La même année, il figure en tête aux
        côtés d’Albert Hofmann dans la liste du Telegraph des « 100 plus grands génies vivants »53.
        <br>• Le 13 juin 2007, la reine Élisabeth II lui confère l'Ordre du Mérite54, seconde décoration du royaume
        britannique et qui n'est conféré qu'à 24 personnes vivantes au total.
        <br>• En 2008, il est récompensé du prix IEEE/RSE Wolfson James Clerk Maxwell Award, pour avoir « conçu et
        développé le World Wide Web »55.
        <br>• Le 21 avril 2009, il reçoit un doctorat d’honneur de l’Université polytechnique de Madrid56.
        <br>• Le 28 avril 2009, il est nommé associé étranger à l’Académie nationale des sciences.
        <br>• En juin 2009, le Premier ministre du Royaume-Uni Gordon Brown annonce que Tim Berners-Lee va collaborer
        avec le gouvernement britannique afin d'offrir une meilleure accessibilité aux données numériques, se basant sur
        le travail du Power of Information Task Force (groupe de travail sur le pouvoir de l'information).
        <br>• Le 8 juin 2009, il reçoit à New York le prix Webby Award57.
        <br>• Le 17 septembre 2009, il reçoit les insignes de docteur honoris causa de l'Université de Liège58.
        <br>• En octobre 2009, il est récompensé d’un doctorat d’honneur par l’Université Vrije d’Amsterdam59.
        <br>• Le 30 mars 2011, il est l’un des trois récipiendaires du prix Mikhail Gorbachev pour « L’Homme qui a
        changé le Monde » («The Man who changed the World») aux côtés de Ted Turner et Evans Wadongo60.
        <br>• Le 26 mai 2011, il reçoit un doctorat honorifique en sciences de l’Université Harvard61.
        <br>• En 2012, il entre au temple de la renommée d'Internet, dans la catégorie de innovateurs.
        <br>• Le 27 juillet 2012, il est honoré à la cérémonie d'ouverture des Jeux olympiques de Londres, concoctée par
        le réalisateur Danny Boyle, en apparaissant à l'issue d'un tableau mettant en scène 45 ans de culture populaire
        britannique62.
        <br>• Le 3 décembre 2012, il reçoit le prix Sultan Qaboos Order for Culture, Science and Arts par le sultan
        d’Oman et prononce un discours au Centre Culturel de l'Université du Sultan Qaboos63. Le sujet de la lecture de
        Tim Berners-Lee est : « Dans quelles mesures le monde d'aujourd'hui serait-il différent sans l'invention du
        World Wide Web ? » (How different would the world be today without the invention of the World Wide Web).
        <br>• Le 18 mars 2013, il reçoit le 1er Queen Elizabeth Prize for Engineering64 conjointement avec Louis Pouzin,
        Vinton Cerf, Robert Kahn et Mark Andreessen. Le prix leur est attribué pour leurs contributions majeures à la
        création et au développement d'Internet et du World Wide Web.
        <br>• Le 4 avril 2017, il reçoit le prix Turing pour avoir inventé le World Wide Web, le premier navigateur web
        et les protocoles et algorithmes permettant le passage à l'échelle du Web.</p>
</div>