<div id="character-main">
    <div id="story">
        <h1>Story of John Wick</h1>
        Johnathan "John" Wick (born Jardani Jovanovich) is a legendary hitman who previously worked for the Tarasov Mob
        until his retirement. He quit in order to spend time with his wife, Helen Wick, who later died of cancer. His
        superior, Viggo Tarasov, promised to allow John to quit if he first completed an "impossible task": killing all
        of
        Tarasov's enemies in a single night. Having succeeded, John retired and lived peacefully for just over five
        years.
        Following his wife's death, John came out of retirement after Viggo's son, Iosef Tarasov, murdered his dog,
        Daisy
        (who was gifted to John posthumously by Helen to help him grieve), and stole his car during a home invasion.
        John is
        the titular main protagonist in the John Wick franchise, appearing in John Wick, John Wick: Chapter 2 and John
        Wick:
        Chapter 3 – Parabellum.
    </div>
</div>
<div id="characteristic-main">
    <section class="characteristic-block">
        <h2>Abilities</h2>
        <div id="characteristic-list">
            {{#each abilities}}
            <li>{{this.name}} <a class="fa fa-times fa-lg" href="/delete-ability/{{this._id}}"></a></li>
            {{/each}}
        </div>

        <form method="post" action="/add-new-ability" class="form">
            <label class="label" for="name">Add an ability:</label>
            <input class="input" type="text" name="name" id="name" placeholder="Expert driver">

            <input class="btn" type="submit" value="Submit your form !">
        </form>
    </section>



    <section class="characteristic-block">
        <h2>Weaknesses</h2>
        <div id="characteristic-list">
            {{#each weaknesses}}
            <li>{{this}}</li>
            {{/each}}
        </div>
    </section>
</div>