<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="CSS/about.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <div class="topnav">
                <a href="/">Home</a>
                <a class="active" href="about">About</a>
                <a href="works">Works</a>
             </div>
        </nav>
    </header>

    
    <div class = "summary">
        <h2>Summary</h2>  
        <p>{{ summary }}</p>
    </div>

    <div class = "quote">
        <h2>He said</h2>  
        <p>{{ quote }}</p>
    </div>

    <div class = "life">
        <h2>His life</h2>  
        <ul>
        {{#each life}}
        <li>{{this.p}}</li>
        {{/each}}
    </ul>
    </div>

    
</body>
</html>