<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles.css" rel="stylesheet" type="text/css" />
    <title>about</title>
  </head>
  <body>
    <nav>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home </a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Works</a>
      </div>
    </nav>
    <div class="container">
      <div>
        <img src="/public/images/inigo-kennedy-port.jpg" alt="inigo-kennedy" />
      </div>
      <div>
        <article>
          Inigo Kennedy is a pioneering and respected techno and electronic
          music producer and DJ. He is well known for always bringing technical
          and creative originality and skill to his work. Inigo Kennedy is the
          owner of the innovative and genre defying label Asymmetric. He has
          been responsible for a large and diverse back catalogue of releases on
          a wide variety of labels and projects around the World. His
          discography stretches to almost 100 releases on vinyl, CD and as MP3.
          His DJ schedule has taken him to all corners of the World.
        </article>
        <a class="soundcloud" href="https://soundcloud.com/inigokennedy">
          listen to Inigo Kennedy on SoundCloud
        </a>
      </div>
    </div>
  </body>
</html>
