<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style2.css" />
</head>

<body>
    <h1>Un violín que nunca calla</h1>
    <a href="/">Home</a>
    <div class="info">
        <p>Multifacético artista argentino, cantante, intelectual, guitarrista, poeta, escritor, dibujante, productor discográfico, compositor, considerado junto a Charly García y Gustavo Cerati uno de los más importantes y respetados músicos de Latinoamérica.
            La complejidad instrumental, lírica y poética de sus obras le valió el reconocimiento en muchas partes del mundo. Spinetta fundó diversos grupos, como Almendra, Pescado Rabioso, Invisible, Spinetta Jade, Spinetta y los Socios del Desierto
            y Los Amigo. En su obra hay influencia de escritores, filósofos, pensadores, psicólogos, músicos y artistas plásticos como, Rimbaud, Van Gogh, Artaud, Dalí, Escher, Lü Dongbin, Jung, Freud, Nietzsche, Foucault, Jean-François Millet, Deleuze,
            Sartre, Castaneda, Sor Juana Inés de la Cruz, Carl Sagan, John Lennon y Ludwig van Beethoven, así como de las culturas de los pueblos originarios americanos y de Oriente.</p>
    </div>
</body>

</html>