<h2>Add New Hot Sauces</h2>

<form method="post" action="/hot-sauces/add-new" class="form">
    <label for="hsname">Add name here</label> 
    <input class="input" type="text" id="name" name="hsName" value="Hot sauce name"><br>
    <label for="spiceRating">Spice Rating</label>
    <select class="input" name="spiceRating" id="flavorRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>
    <label for="flavorRating">Flavor Rating</label>
    <select class="input" name="flavorRating" id="flavorRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br><br>
    <label for="comments">Comments</label>
    <input class="comment-field" type="text" id="name" name="comments" value="Hot sauce comments"><br><br>
    <button class="form-button">Add it!</button>
</form>