<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Express</title>
</head>
<body>
  <nav>
    <a class="home-link" href="/"><b>Kilian Jornet</b></a>
    <ul>
      <a href="/about">About</a>
      <a href="/bio">Biography</a>
      <a href="/records">Records</a>
      <a href="/gallery">Gallery</a>
    </ul>
  </nav>
  <section>
    <div class="hero-img"></div>
      <div class="container">
        <h2>Kilian's Biography</h2>
        <p>Jornet was born in Sabadell, Catalonia, Spain near Barcelona. He grew up in Refugi de Cap de Rec, a mountain hut at 2000 meters in the Pyrenees at the cross-country Lles ski resort in Lles de Cerdanya, where his father was a hut keeper and mountain guide. At the age of three he climbed Tuc de Molières, a three-thousander in the Pyrenees. By the age of five he climbed Aneto 3,404 m (11,168 ft), the highest mountain in the Pyrenees, and a year later he climbed his first four-thousander, the Breithorn (4,164 m (13,661 ft)) on the Switzerland - Italy border.</p>
        <p>He started ski mountaineering in 1999, and competed for the first time at the La Molina race of the Spanish Cup in 2000. In 2003, he became a junior member of the Spanish national ski mountaineering team, and has raced as a senior since 2007. Jornet studied at the University of Perpignan Via Domitia.</p>
        <p>Jornet has been recognised as an elite athlete since 2004 by the Catalan and Spanish sports councils (Consell Català de l’Esport and Consejo Superior de Deportes). For his achievements in the "junior" class ski mountaineering team, he won the Catalan sports award (Premi d’honor d’esport català) in 2004, 2005 and 2006.</p>
        <p>In 2005 he set a course record of 2:30:57 for the race to the 4,015-metre (13,173 ft) summit of the Dôme de Neige des Écrins. He was World Champion in the Buff SkyRunner World Series in 2007, 2008 and 2009 becoming the youngest athlete to win this honour.</p>
      </div>
  </section>
  
</body>
</html>