<div id="bio">

<div id="inside-bio">
    
    <img src="https://i.guim.co.uk/img/media/457d3488f4e74fa97f5e779dc8c4908a7cee2d18/29_37_1832_2821/master/1832.jpg?width=700&quality=85&auto=format&fit=max&s=213ec8cd1fc30214ba7ab59ae0e62369">
    
<p>

Philip K. Dick, in full Philip Kindred Dick, (born December 16, 1928, Chicago, Illinois, U.S.—died March 2, 1982, Santa Ana, California), American science-fiction writer whose novels and short stories often depict the psychological struggles of characters trapped in illusory environments.
</p>

<p>
Which author’s work, Do Androids Dream of Electric Sheep?, was adapted for film as Blade Runner?
Dick worked briefly in radio before studying at the University of California, Berkeley, for one year. The publication of his first story, “Beyond Lies the Wub,” in 1952 launched his full-time writing career, which was marked by extraordinary productivity, as he oftentimes completed a new work, usually a short story or a novella, every two weeks for printing in pulp paperback collections. He published his first novel, Solar Lottery, in 1955. Early in Dick’s work the theme emerged that would remain his central preoccupation—that of a reality at variance with what it appeared or was intended to be. In such novels as Time out of Joint (1959), The Man in the High Castle (1962; Hugo Award winner; television series 2015– ), and The Three Stigmata of Palmer Eldritch (1965), the protagonists must determine their own orientation in an “alternate world.” Beginning with The Simulacra (1964) and culminating in Do Androids Dream of Electric Sheep? (1968; adapted for film as Blade Runner [1982]), the illusion centres on artificial creatures at large and grappling with what is authentic in a real world of the future.
</p>
<div id="circle"></div>
<p>
After years of drug abuse and mental illness, Dick died impoverished and with little literary reputation outside of science-fiction circles. By the 21st century, however, he was widely regarded as a master of imaginative, paranoid fiction in the vein of Franz Kafka and Thomas Pynchon. While his works can definitively be categorized as science fiction, Dick was notable for focusing not on the trappings of futuristic technology, as many writers in the genre do, but on the discomfiting effects that these radically different—and often dystopian—surroundings have on the characters.
</p>
<p>
Among Dick’s numerous story collections are A Handful of Darkness (1955), The Variable Man and Other Stories (1957), The Preserving Machine (1969), and the posthumously published I Hope I Shall Arrive Soon (1985). Several of his short stories and novels have been adapted for film, including “We Can Remember It for You Wholesale” (filmed as Total Recall [1990 and 2012]), “Second Variety” (filmed as Screamers [1995]), “The Minority Report” (filmed as Minority Report [2002]), and A Scanner Darkly (1977; film 2006). The Man in the High Castle was loosely adapted as a serial drama (2015– ) that was streamed online by Amazon.com.

</p>
</div>
</div>