<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/jimmy">Biografía</a>
        <a href="/bands">Bands</a>
    </header>
    <div class="box">
        <img class="guitars2" src="/img/guitars.png" alt="">
        <div class="intro">
            <h1>Biografía</h1>
            <img src="/img/young-jimmy.jpg" alt="">
            <div>
                <h2>Infancia y adolescencia</h2>
                <p>Jimmy Page es hijo único de un empleado administrativo, James Page, y de una secretaria y enfermera, Patricia Elizabeth Gaffikin.8​Nacido en Heston, una antigua villa devenida en suburbio del Gran Londres, en la zona occidental. Cuando Jimmy contaba con ocho años, en 1952, su familia se mudó a Epsom, otro suburbio del Gran Londres, en el sur, donde recibió sus primeros contactos con la música.</p>
                <p>A los 12 años, Page consiguió su primera guitarra, y aunque tomó algunas clases, es en su mayoría un músico autodidacta.9​ Entre sus primeras influencias destacaban Scotty Moore y James Burton, ambos guitarristas de rockabilly y que habían tocado con Elvis Presley,10​ y Johnny Day, colaborador de The Everly Brothers.8​</p>    
                <p>En 1957, con 13 años, apareció por primera vez en televisión en un programa de jóvenes talentos, Huw Wheldon Show, tocó el tema "Mama Don't Wanna Play No Skiffle No More" y "cotton fields".9​ La afición de Page por la guitarra era tan grande que solía llevar su instrumento al colegio, siendo confiscado la mayoría de las veces. Aunque estaba interesado por las ciencias, llegó a recibir una oferta de trabajo como asistente de laboratorio, decidió dejar sus estudios para comenzar una carrera musical, y después de varios intentos, entró a formar parte de una banda de rock, The Crusaders, que contaba con el vocalista Neil Christian. Su estancia en esta banda se extendió durante más de dos años, durante los cuales Page contrajo una mononucleosis que no le impidió seguir dando conciertos, aunque decidió dejar aparcada su carrera musical para sumergirse en su otra pasión, la pintura, por lo que se matriculó en el colegio de arte de Sutton, en Surrey.</p>
                <img src="/img/young-old.jpg" alt="">
                <h2>Músico de sesión</h2>
                <p>Mientras era estudiante, Page improvisaba a menudo en el Marquee Club de Londres con guitarristas como Jeff Beck (a quien conocía desde los 11 años),9​ Eric Clapton, Cyril Davies o Alexis Korner.8​ En una de estas sesiones, John Gibb, del grupo The Silhouettes, le pidió su ayuda para grabar una serie de sencillos para el sello discográfico EMI,10​ pero no fue hasta que recibió una oferta de Mike Leander cuando pudo trabajar en estudios de grabación.10​ Su primera misión como músico de sesión fue grabar junto con Jet Harris y Tony Meehan el sencillo "Diamonds", que alcanzó el número uno en las listas británicas en 1963.</p>
                <p>Después de diversos y breves trabajos con algunos de los músicos del naciente panorama del rock en Gran Bretaña, Page alcanzó una moderada fama como músico de sesión. Durante esta etapa, fue conocido como "Little Jimmy" para no ser confundido con Big Jim Sullivan, apodado "Big Jim".9​ Como guitarrista preferido del productor Shel Talmy, Page trabajó con grupos como The Who o The Kinks gracias a los encargos que Talmy recibía.</p>
                <p>Entre los grupos y artistas con los que trabajó Page como músico de sesión se encuentran The Rolling Stones, Van Morrison, Marianne Faithfull, Dave Berry o Brenda Lee, además de The Who y The Kinks, con los que trabajó gracias al apoyo de Talmy. Se rumorea que Page participó en un alto porcentaje del total de grabaciones realizadas entre los años 1963 y 1965, cerca del 60%,8​ aunque hay fuentes que indican que este porcentaje oscila entre el 50% y el 90%.</p>
                <p>En 1965, Page entró como productor en el sello Immediate Records gracias al mánager de los Rolling Stones, Andrew Loog Oldham.8​ Gracias a este nuevo cargo, Page tocó y produjo canciones de John Mayall, Nico, Chris Farlowe, Twice as Much y Eric Clapton, y entró en una breve relación sentimental con la compositora y cantante Jackie DeShannon.8​ Además, trabajó como músico de sesión en el álbum Love Chronicles, de Al Stewart en 1969, y en el disco debut de Joe Cocker, With a Little Help from My Friends9​, cuyo sencillo homónimo (versión de la canción de The Beatles) también ocupó el número uno en Gran Bretaña.1</p>
                <p>Aunque Page grabó temas con multitud de músicos, muchas de estas solo pueden encontrarse por medio de bootlegs, editadas junto con canciones inéditas de Led Zeppelin.</p>
            </div>
            
            
        </div>
        <img class="guitars2" src="/img/guitars.png" alt="">
    </div>
</body>
</html>