<section>
    <h1>Biographie de Wajdi Mouawad</h1>
    <img src="/images/wm_bio.jpg" alt="Wajdi Mouawad">
    <p>Né en 1968, l’auteur, metteur en scène et comédien Wajdi Mouawad passe son enfance au Liban, son adolescence en
        France
        et ses années de jeune adulte au Québec, avant de s’installer en France. Il fait ses études à Montréal et
        obtient en
        1991 le diplôme en interprétation de l’École nationale de théâtre du Canada. Il codirige aussitôt avec la
        comédienne
        Isabelle Leblanc sa première compagnie, Théâtre Ô Parleur.
        Associé
        avec sa
        compagnie francaise à l'Espace Malraux, Scène nationale de Chambéry et de la Savoie, de 2008 à 2010, il est
        en 2009
        l’artiste associé de la 63ème édition du Festival d’Avignon, où il présente le quatuor Le Sang des Promesses
        (Littoral, Incendies, Forêts, Ciels). Il est directeur artistique du Théâtre français du Centre national des
        Arts
        d’Ottawa de 2007 à 2012. Depuis septembre 2011, il est artiste associé au Grand T, théâtre de Loire-Atlantique à
        Nantes.
        Il est nommé en avril 2016 directeur du théâtre national de la Colline.</p>

    <p>Il écrit des pièces et récits pour enfants (Pacamambo, Un Obus dans le cœur, La Petite pieuvre qui voulait jouer
        du
        piano), des entretiens, ainsi que les romans Visage retrouvé et récemment Anima (qui a reçu plusieurs prix et
        notamment
        en 2012 le grand prix Thyde Monnier de la Société des Gens de Lettres, le prix Phénix de la Littérature, le prix
        littéraire du deuxième roman de Laval et en 2015 et le prix Lire en Poche de littérature française).</p>

    <p>Comédien de formation, il interprète des rôles dans ses propres spectacles, mais aussi sous la direction d’autres
        artistes comme Brigitte Haentjens dans Caligula d’Albert Camus (1993), Dominic Champagne dans Cabaret Neiges
        noires
        (1992) ou Daniel Roussel dans Les Chaises d’Eugène Ionesco (1992). En 2010, il interprète Stepan Fedorov dans
        la
        pièce Les Justes de Camus mis en scène par Stanislas Nordey et présenté au Théâtre National de la Colline.</p>

    <p>Il collabore régulièrement avec Krzysztof Warlikowski (traduction de Un tramway nommé désir – créée en février
        2010 à
        l’Odéon-Théâtre de l’Europe, Contes africains d’après Shakespeare, créée au Théâtre National de Chaillot en
        2011,
        Phèdre(s) créé à l’Odéon-Théâtre de l’Europe en mars 2016).</p>

    <p>Il se consacre aujourd'hui à porter au plateau les sept tragédies de Sophocle (en trois opus Des femmes composé
        de Les
        Trachiniennes, Antigone, Électre – créé en 2011, Des Héros avec Ajax un cabaret et Oedipe Roi – créé en 2014 ;
        l'intégrale sous le titre Le Dernier jour de sa vie dans le cadre de Mons 2015 capitale européenne de la culture
        puis
        Des mourants librement inspiré de Philoctète et OEdipe à Colone qui sera présenté au Théâtre National de
        Chaillot en mai
        2016.</p>


    <p>Distingué par de nombreux honneurs dont le Prix de la Francophonie de la Société des auteurs compositeurs
        dramatiques en
        2004 pour l’ensemble de son travail, il est nommé Chevalier de l’Ordre National des Arts et Lettres puis Artiste
        de la
        paix en 2006, reçoit le Doctorat Honoris Causa de l'Ecole Normale Supérieure des Lettres et Sciences humaines de
        Lyon
        ainsi que le Grand Prix du théâtre de l'Académie française.</p>

    <p>Ses pièces et romans ont été traduits et publiés dans une vingtaine de langues et présentés dans toutes les
        régions du
        monde (dans ses mises en scènes et celles d’artistes étrangers).</p>

</section>