<header class = "boss-selection">
    <div></div>
    <nav class = "center">
        <a href="/Lady-Maria">Lady-maria</a>
        <a href="/Kos">Orphan of kos</a>
    </nav>
</header>
<div class="stat center bloodborne">
</div>