<header class = "boss-selection">
    <nav class = "scroll nav-choice">
        <a href="/Lady-Maria">Lady-maria</a>
        <a href="/Kos">Orphan of kos</a>
        <a href="">Cleric Beast</a>
        <a href="">Father Gascoigne</a>
        <a href="">Vicar Amelia</a>
        <a href="">Blood-Starved Beast</a>
        <a href="">The Witch of Hemwick</a>
        <a href="">Darkbeast Paarl</a>
        <a href="">Shadow of Yharnam</a>
        <a href="">Rom The Vacuous Spider</a>
        <a href="">The One Reborn</a>
        <a href="">Martyr Logarius</a>
        <a href="">Amygdala</a>
        <a href="">Celestial Emissary</a>
        <a href="">Ebrietas, Daughter of the Cosmos</a>
        <a href="">Micolash, Host of the Nightmare</a>
        <a href="">Mergo's Wet Nurse</a>
        <a href="">Gehrman, the First Hunter</a>
        <a href="">Moon Presence</a>
    </nav>
</header>
<div class="stat center bloodborne">
</div>