<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Books</title>
</head>

<body>
   <nav>
       <ul>
           <li>
               <a href="./kenouly">Cyril Lignac</a>
           </li>
           <li>
               <a href="./about">The Chef</a>
           </li>
           <li>
               <a href="./restaurants">Restaurants</a>
           </li>
           <li>
               <a href="./books">Books</a>
           </li>
           <li>
               <a href="https://www.instagram.com/cyril_lignac/">Instagram</a>
           </li>
       </ul>
   </nav>
   <div class="book-section">
       <div>
           <div class="book-image">
                <img src="book.jpg">
           </div>
           <div class="recipes">
               <div>
                    <img src="recipe-1.jpg">
                </div>
                <div>
                    <img src="recipe-2.jpg">
                </div>
                <div>
                    <img src="recipe-3.jpg">
                </div>
           </div>
       </div>
       <div class="book-description">
           <h1>FAIT-MAISON n1</h1>
           <p>Envie d'une cuisine maison savoureuse et rapide ?
            <br></br>
            En direct de sa cuisine, Cyril Lignac te propose 45 recettes salées et/ou sucrées pour mettre un peu de peps dans ton quotidien. Un risotto aux coquillettes, un poisson au four à l'huile vierge et aux petits légumes ou encore une fabuleuse tarte aux fraises ou des petits pots de crème à la vanille...
            <br></br>
            Tu vas te régaler en toute simplicité ! Un livre indispensable, ultra-pratique et sans prétention, pour égayer tes déjeuners et dîners ; des recettes gourmandes, croquantes, craquantes, à déguster en solo, à deux, en famille ou entre amis.
            <br></br>
            Avec Cyril, le fait-maison c'est ultra-facile ! Mets ton tablier et laisse-toi guider par ses précieux conseils et ses recettes ultra-réconfortantes.</p>
           <div class="button-buy">
              <a href="https://www.bol.com/nl/p/fait-maison-n-1/9300000004054655/?bltgh=rSXgCNsb8kODV8XBymdC7w.1_4.7.ProductImage">BUY BOOK</a>
            </div>
       </div>
   </div>
   <div class="projects">
       <p>*New projects coming soon</p>
   </div>
</body>

</html>