<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  <body>
    <div class="content">
      <div class="top">
        <ul class="nav">
          <li><a href="http://localhost:3000/home">Home</a></li>
          <li><a href="http://localhost:3000/about">About her</a></li>
          <li><a href="http://localhost:3000/books">Books</a></li>
          <li>Diesdas</li>
          <li>Ananas</li>
        </ul>
      </div>
      <h1>A selection of Roxane Gay's books</h1>
      <div class="books">
        <h2>Bad Feminist</h2>
        <p>
          Gay's collection of essays, Bad Feminist, was released in 2014 to
          widespread acclaim; it addresses both cultural and political issues,
          and became a New York Times best-seller. A Time magazine reviewer
          dubbed Bad Feminist "a manual on how to be human" and called Gay the
          "gift that keeps on giving." In a 2014 interview with the magazine,
          Gay explained her role as a feminist and how it has influenced her
          writing: "In each of these essays, I’m very much trying to show how
          feminism influences my life for better or worse. It just shows what
          it’s like to move through the world as a woman. It’s not even about
          feminism per se, it’s about humanity and empathy."[25] In The
          Guardian, critic Kira Cochrane offered a similar assessment, "While
          online discourse is often characterised by extreme, polarised
          opinions, her writing is distinct for being subtle and discursive,
          with an ability to see around corners, to recognise other points of
          view while carefully advancing her own. In print, on Twitter and in
          person, Gay has the voice of the friend you call first for advice,
          calm and sane as well as funny, someone who has seen a lot and takes
          no prisoners."A group of feminist scholars and activists analyzed
          Gay's Bad Feminist for "Short Takes: Provocations on Public Feminism,"
          an initiative of the feminist journal Signs: Journal of Women in
          Culture and Society.
        </p>
      </div>
      <div class="bookcover"><img src="../images/badfeminist.jpg" /></div>
      <div class="books">
        <h2>An Untamed State</h2>
        <p>
          An Untamed State In 2014, Gay published her debut novel, An Untamed
          State, which centers around Mireille Duval Jameson, a Haitian-American
          woman who is kidnapped for ransom. The novel explores the
          interconnected themes of race, privilege, sexual violence, family, and
          the immigrant experience. An Untamed State is often referred to as a
          fairy tale because of its structure and style, especially in reference
          to the opening sentence, "Once upon a time, in a far-off land, I was
          kidnapped by a gang of fearless yet terrified young men with so much
          impossible hope beating inside their bodies it burned their very skin
          and strengthened their will right through their bones," and the
          author's exploration of the American dream and courtship of Mireille's
          parents.The novel received critical acclaim, with The Guardian review
          by Attica Locke calling it "a breathtaking debut novel"and The
          Washington Post crediting it as "a smart, searing novel."
        </p>
        <div class="bookcover"><img src="../images/untamedstate.jpg" /></div>
      </div>
      <div class="books">
        <h2>World of Wakanda</h2>
        <p>
          In July 2016, Gay and poet Yona Harvey were announced as writers for
          Marvel Comics' World of Wakanda, a spin-off from the company's Black
          Panther title,making them the first black women to be lead writers for
          Marvel. Black Panther: World of Wakanda was hailed for its prominent
          portrayal of LGBTQ characters. The comic followed the journey of two
          lovers Aneka and Ayo, who are former members of the Dora Milaje, the
          Black Panther's female security force.[30] The series follows the pair
          through multiple events, including the siege of their city by Thanos
          and the flooding of Wakanda by Namor. The series' cancellation was
          confirmed in June 2017 by Gay, coming just two days after the premiere
          of the trailer for the Black Panther movie. The last issue released in
          March 2017. Marvel stated no official reason for the cancellation,
          however, feminist tech site The Mary Sue pointed to a connection with
          Marvel's knock against "diversity titles" and the Marvel VP David
          Gabriel's statement that "people didn’t want any more diversity. They
          didn’t want female characters out there. That’s what we heard, whether
          we believe that or not. I don’t know that that’s really true, but
          that’s what we saw in sales."
        </p>
        <div class="bookcover"><img src="../images/worldofwakanda.jpg" /></div>
      </div>
      <div class="books">
        <h2>Difficult Women</h2>
        <p>
          In 2017, Gay published Difficult Women, a collection of fictional
          short stories that highlight women who have lives that differ from
          society’s spectrum of a normal life. Each story follows a different
          character and her journey through either a traumatic experience or
          what makes her different from societal norms. The women are seen as
          "difficult" because they push the boundaries of society's portrayal of
          the perfect woman. Hunger Main article: Hunger (memoir) Hunger: A
          Memoir of (My) Body was released in June 2017.In it, Gay discusses her
          experience with weight, body image, and building a positive
          relationship with food, particularly following her experience as a
          childhood victim of sexual violence. Gay described this book as a
          testimony of "what it’s like to live in a world that tried to
          discipline unruly bodies." The memoir received wide acclaim, praised
          by critics as "remarkable...ferociously honest," "arresting and
          candid," and "intimate and vulnerable." Following her national book
          tour in support of Hunger,Gay said she found press around the book "to
          be very challenging, because people just don’t know how to talk about
          fat." In June 2017, Australian website Mamamia published an interview
          with Gay, which cited numerous details about how they prepared for the
          visit that Gay later called "cruel and humiliating" on Twitter. In an
          interview with The New York Times, Gay stated the controversial event
          was "helpful, in that I think people get to see, in real time, what
          fat-phobia looks like and just how careless people can be in
          considering that fat people deserve dignity. So I suppose it’s a
          useful example of why I wrote the book."
        </p>
        <div class="bookcover"><img src="../images/difficultwomen.jpg" /></div>
      </div>
    </div>
  </body>
</html>
