<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a class="active" href="/career">Career</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <h1>Career</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab corporis deserunt reprehenderit nam esse facere, distinctio illum excepturi cumque sint tempora blanditiis dignissimos! Ipsa atque minus reprehenderit, aut impedit nam.</p>
    <table style="width:100%">
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Role</th>
        </tr>
        <tr>
          <td>2020</td>
          <td>Enola Holmes</td>
          <td>Sherlock Holmes</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>Mission: Impossible – Fallout</td>
          <td>August Walker / John Lark</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>Night Hunter</td>
            <td>Lt. Walter Marshall</td>
        </tr>
        <tr>
            <td>2017</td>
            <td>Justice League</td>
            <td>Clark Kent / Kal-El / Superman</td>
        </tr>
        <tr>
            <td>2013</td>
            <td>Man of Steel</td>
            <td>Clark Kent / Kal-El / Superman</td>
        </tr>
        <tr>
            <td>2006</td>
            <td>Tristan & Isolde</td>
            <td>Melot</td>
        </tr>
      </table>
</body>
</html>