<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
  <header>
    <div>
      <img src="./images/title1.png" alt="fleabag title">
    </div>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
          <li><a href="seasonOne"> Season 1 </a></li>    
          <li><a href="seasonTwo"> Season 2 </a></li> 
          <li><a href="cast"> Cast </a></li>
      </ul>
    </nav>
  </header>


  <section id="cast-main-section">
    <div id="cast-images">
      <div id="phoebe">
        <a href="https://www.imdb.com/name/nm3564817/?ref_=ttfc_fc_cl_t1">Phoebe Waller-Bridge</a>
      </div>
      <div id="olivia">
        <a href="https://www.imdb.com/name/nm1469236/?ref_=ttfc_fc_cl_t3">Olivia Colman</a>
      </div>
      <div id="andrew">
        <a href="https://www.imdb.com/name/nm0778831/?ref_=ttfc_fc_cl_t7">Andrew Scott</a>
      </div>
      <div id="brett">
        <a href="https://www.imdb.com/name/nm1443368/?ref_=ttfc_fc_cl_t6">Brett Gelman</a>
      </div>
      <div id="sian">
        <a href="https://www.imdb.com/name/nm5427486/?ref_=ttfc_fc_cl_t2">Sian Clifford</a>
      </div>
      <div id="jenny">
        <a href="https://www.imdb.com/name/nm5082535/?ref_=ttfc_fc_cl_t4">Jenny Rainsford</a>
      </div>
    </div>
  </section>


  <footer>

  </footer>

    <script src="./main.js"></script>
</body>
</html>