<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style2.css">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>David Ibarra</title>
    <link rel="icon" type="image/jpg" href="/20191017_122416.jpg" />
</head>
<body>

    <nav id="nav1" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> David Ibarra</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/cat">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/cat3">Galery</a>
            </li>
          </ul>
        </div>
      </nav>

      

        <section id="cuadros">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">who I am</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">I am David Ibarra</h5>
                  <p class="card-text">I am 25 years old and I take care of my grandmother and mother and I live south of Mexico City.</p>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">My Roll</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title">Graduate in economics</h5>
                  <p class="card-text">I like public policy as well as microeconomics, sales, data analysis and modeling are my passions.</p>
                </div>
              </div>
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header">My passions</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Money Money Money</h5>
                  <p class="card-text">I am a person who has a passion for sales, nobody escapes them, if you do not sell, buy.
                      I love to make money, but I don't consider myself conceited or materialistic.</p>
                </div>
              </div>
              <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">My business</div>
                <div class="card-body text-danger">
                  <h5 class="card-title">Amaranth and more</h5>
                  <p class="card-text">4 years ago I started producing and selling amaranth products as a school project, now I hold that. It was not easy, I cried many times.</p>
                </div>
              </div>
              <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header"> My sweet Heart</div>
                <div class="card-body text-warning">
                  <h5 class="card-title">Love Lover</h5>
                  <p class="card-text">
                      I love women, there is nothing more beautiful, one day I will get married, it motivates me to be a father and walk with my wife and daughter by the hand.</p>
                </div>
              </div>
              <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">My hobbies</div>
                <div class="card-body text-info">
                  <h5 class="card-title">After making money</h5>
                  <p class="card-text">I really like to practice box, I have won several, play the piano .. nobody has complained.
                      Travel with my girlfriend and then do crazy things and stuff.</p>
                </div>
              </div>
              
            </section>
         
      <footer  class="bg-dark py-3 px-5">
          <span id="footer1" class= "text-white">México CDMX</span>
      </footer>
  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 