<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chemical Chords</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="chemical">
    <h1>Chemical Chords</h1>
    <p>18 August 2008</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Neon Beanbag</li>
        <li>Three Women</li>
        <li>One Finger Symphony</li>
        <li>Chemical Chords</li>
        <li>The Ecstatic Static</li>
        <li>Valley Hi!</li>
        <li>Silver Sands</li>
        <li>Pop Molecule (Molecular Pop 1)</li>
        <li>Self Portrait with 'Electric Brain</li>
        <li>Nous Vous Demandons Pardon</li>
        <li>Cellulose Sunshine</li>
        <li>Fractal Dream of a Thing</li>
        <li>Daisy Click Clack</li>
        <li>Vortical Phonotheque</li>
    </ol>
    <img src="/images/chemical.jpg" />
    </div>  
    <a href="https://open.spotify.com/album/3RCMCTGEsedtOYtRRbAaZ5?si=bu4pCTSuRyiJQXNVzBjLqg" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>