<h1>CLIPS</h1>

<div id="clips">
    <ul>
        <li><iframe width="420" height="315" src="https://www.youtube.com/watch?v=WXE1pzGV5cU3">
            </iframe></li>
        <li><iframe width="420" height="315" src="https://www.youtube.com/watch?v=4Xhv1KOHrgI">
            </iframe></li>
        <li><iframe width="420" height="315" src="https://www.youtube.com/watch?v=70aNj3DU8dM">
            </iframe></li>
    </ul>
</div>