<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cobra and Phases Group Play Voltage in the Milky Night</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="cobra">
    <h1>Cobra and Phases Group Play Voltage in the Milky Night</h1>
    <p>21 September 1999</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Fuses</li>
        <li>People Do It All the Time</li>
        <li>The Free Design</li>
        <li>Blips, Drips and Strips</li>
        <li>Italian Shoes Continuum</li>
        <li>Infinity Girl</li>
        <li>The Spiracles</li>
        <li>Op Hop Detonation</li>
        <li>Puncture in the Radax Permutation</li>
        <li>Velvet Water</li>
        <li>Blue Milk</li>
        <li>Caleidoscopic Gaze</li>
        <li>Strobo Acceleration</li>
        <li>The Emergency Kisses</li>
        <li>Come and Play in the Milky Night</li>
    </ol>
    <img src="/images/cobra.jpg" />
    </div>
    <a href="https://open.spotify.com/album/0n95ZoggN6kIlKXm9i82lG?si=k8998SibRle4vieQBG1Hpg" class = "listen">Listen!</a>
    <a href="/">Discogrpahy</a>
  </body>
</html>