<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Colchones</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div id="fademe">
    <h1>Our Colchones</h1>
    <p>Our matresses are real Colchones. No bed bugs included!</p> <img id="colchones"
      src="/images/colchones-viejos.jpeg" /> <a href="/">Back to Home</a>
    <h1>So be nice and sweet!</h1>
  </div>
  <script>
    window.onload = function () {
      document.getElementById("fademe").style.opacity = 1;
      console.log("Done")
    }
  </script>
</body>

</html>