<div class="main">
    <div id="portfolio">
        <img src="/img/bol001.jpg" alt="" id="img1" class="imgxs">
        <img src="/img/bol002.jpg" alt="" class="imgxs">
        <img src="/img/bol003.jpg" alt="" class="imgxs">
        <img src="/img/bol004.jpg" alt="" class="imgxs">
        <img src="/img/bol005.jpg" alt="" class="imgxs">
        <img src="/img/bol006.jpg" alt="" class="imgxs">
        <img src="/img/bol007.jpg" alt="" class="imgxs">
        <img src="/img/bol008.jpg" alt="" class="imgxs">
        <img src="/img/bol009.jpg" alt="" class="imgxs">
    </div>
</div>