<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class='imgdiv'>
    <img class='img'src="images/moomin1.webp">
    <img class='img'src="images/moomin2.webp">
    <img class='img'src="images/moomin3.webp">
</div>
<div class ='nav'>
    <a href="/">Home</a>
    <a href="/about">About</a>
    </div>


</body>
</html>