<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/main.css">
    <title>Contact Me</title>
</head>
<body>
    <section id="about" class="container">
        <div id="about-img">
            <div id="map"><img src="img/map.png"></img>
                <!-- https://photos.smugmug.com/photos/i-52VWLS8/0/f0e5947a/O/i-52VWLS8.png -->
                <div id="javier"></div>
            </div>
        </div>
        <blockquote id="about-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </blockquote>
        <h2>About</h2>
    </section>    <section id="banner">
        <div id="banner-info">
            <h4>Let's work together!</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id aut libero temporibus eligendi officiis cumque neque rem nisi, facilis fuga, saepe dolorem! Tempore magni id voluptatum beatae necessitatibus numquam aperiam.</p>
        </div>
        <div id="banner-img"></div>
    </section>    <footer id="contact" class="container">
        <h4 class="title">Contact</h4>
        <h4 class="arrow">&#129123;</h4>
        <div class="button">Start a project</div>
        <a href="https://www.instagram.com/javierlomont/?hl=es" target="_blank"><img src="img/iglogo.png" alt="Instagram Logo"></a>
        <!-- https://photos.smugmug.com/photos/i-6jmNSs4/0/180db74f/O/i-6jmNSs4.png -->
        <p>sayhello@javierlomont.com</p>
    </footer>
</body></html>
