<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <script src="https://use.fontawesome.com/1fb0eb3889.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Contacts</title>
</head>
<body>
    <nav>
        <a href="/">
            <img class="logo" src="/images/logo_edu_carmona.png" alt="logo">
        </a>
        <div class="collapsible-menu">
            <input type="checkbox" id="menu">
            <label for="menu"></label>
            <div class="menu-content">
                <ul>
                    <li><a class="nav-fonts" href="/">home</a></li>
                    <li><a class="nav-fonts" href="/about">about</a></li>
                    <li><a class="nav-fonts" href="/projects">projects</a></li>
                    <li><a class="nav-fonts" href="/contact">contact</a></li>
                    </ul>
                </div>
        </div>
        <ul class="menu-links nav-fonts">
            <li>
                <a class="nav-fonts" href="/">home</a>
            </li>
            <li>
                <a class="nav-fonts" href="/about">about</a>
            </li>
            <li>
                <a class="nav-fonts" href="/projects">projects</a>
            </li>
            <li>
                <a class="nav-fonts" href="/contact">contact</a>
            </li>
        </ul>
    </nav>
    <div class="let-space-nav"></div>
    <section class="contact" id="contact">
        <h2>Contact</h2>
        <div class="contact-articles">
            <article>
                <i class="fa fa-phone"></i>
                <h3>Phone</h3>
                <p>0034 660061169</p>
            </article>
            <article>
                <i class="fa fa-envelope"></i>
                <h3>Email</h3>
                <p>dudu.carmona@gmail.com</p>
            </article>
            <article>
                <i class="fa fa-map-marker"></i>
                <h3>Location</h3>
                <p>Barcelona, España</p>
            </article>
        </div>
    </section>
    <footer class="footer">
        <ul class="footer-follow">
            <li><a href="/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/duducarmona" target="_blank"><i class="fa fa-git"></i></a></li>
            <li><a href="https://www.linkedin.com/in/eduardo-carmona-oliva-3402b737" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="/" target="_blank"><i class="fa fa-file"></i></a></li>
        </ul>
    </footer>
</body>
</html>