<link rel="stylesheet" href="css/contact-main.css">
<section class="location-form-section">
    <div class="content container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95777.33906371117!2d2.078728163348664!3d41.39489759334181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona!5e0!3m2!1ses!2ses!4v1578251855711!5m2!1ses!2ses" width="650" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <img class="loading" src="img/Pulse-1s-200px.gif">
        </div>
        <div class="form">
            <h1 class="title">Contacte</h1>
            <p>Només rebre la notificació em posaré amb contacte amb tu en el email que hagis especificat. Si ho prefereixes, pots contactar-me directament via Email o Linkedin que els trobaràs al footer de la página.</p>
            <form action="https://formspree.io/mayopoqw" method="POST">
                <div class="form-group">
                    <label>Nom</label>
                    <input name="name" type="text" placeholder="El teu nom">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" type="text" placeholder="El teu email">
                </div>
                <div class="form-group">
                    <label>Missatge</label>
                    <textarea name="message" placeholder="Introdueix el teu missatge"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Envia</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Main js -->
<script src="js/main.js"></script>
<script src="js/contacto-main.js"></script>
