<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/content.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="content-header">Our Must Try's of 2020</h1>
    <section id="lebanese" class="icecream">
      <img
        id="leb-ice"
        class="ice-img"
        src="../public/assets/lebanese-ice.jpg"
        alt="lebanese ice cream"
      />
      <div class="text">
        <h2>Lebanese Ice Cream</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          officia tempore quos a dignissimos esse nesciunt, inventore suscipit
          incidunt provident. Aut sapiente asperiores facilis eum corporis eos,
          voluptate delectus ipsam.
        </p>
      </div>
    </section>
    <section id="italian" class="icecream">
      <img
        id="ita-ice"
        class="ice-img"
        src="../public/assets/italian-ice.png"
        alt="italian gelato"
      />
      <div class="text">
        <h2>Italian Gelato</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          officia tempore quos a dignissimos esse nesciunt, inventore suscipit
          incidunt provident. Aut sapiente asperiores facilis eum corporis eos,
          voluptate delectus ipsam.
        </p>
      </div>
    </section>
    <section id="sundae" class="icecream">
      <img
        id="sundae-ice"
        class="ice-img"
        src="../public/assets/sundae.jpg"
        alt="sundae"
      />
      <div class="text">
        <h2>American Sundae</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          officia tempore quos a dignissimos esse nesciunt, inventore suscipit
          incidunt provident. Aut sapiente asperiores facilis eum corporis eos,
          voluptate delectus ipsam.
        </p>
      </div>
    </section>
    <section id="japanese" class="icecream">
      <img
        id="jap-ice"
        class="ice-img"
        src="../public/assets/japanese-ice.jpeg"
        alt="sundae"
      />
      <div class="text">
        <h2>Japanese Mochi</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          officia tempore quos a dignissimos esse nesciunt, inventore suscipit
          incidunt provident. Aut sapiente asperiores facilis eum corporis eos,
          voluptate delectus ipsam.
        </p>
      </div>
    </section>
  </body>
</html>
