<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"/>
        <link rel="stylesheet" href="/css/contact.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <title> Alejandro Jimenez </title>
    </head>

    <body>
        <header class="bgWhite">
            <nav class="nav container">
              <h2> Alejandro Jimenez </h2>
              <ul>
                <li> <a class="links" href="/home"> Home </a> </li>
                <li> <a class="links" href="/works"> Works </a></li>
                <li> <a class="links" href="/about"> About me </a> </li>
                <li> <a class="links" href="/contact"> Contact </a></li>
                <li class="iconResponsive"> <i class="fas fa-bars"></i> </li>
              </ul>  
            </nav>
            <h3 class="redLine"> </h3>
        </header>
        
        <main>  
          <section class="sectionContact">
            <div class="boxContact">
              <div class="boxContactPart">
                <h4> Telefono: </h4>
                <h5> +34 622 43 85 62 </h5>
              </div>
              <div class="boxContactPart">
                <h4> Gmail: </h4>
                <h5> alejimreg@gmail.com  / alejimenezgithub@gmail.com </h5>  
              </div>
              <div class="boxContactPart">
                <h4> Linkedin: </h4>  
                <h5> https://es.linkedin.com/in/alejandro-jimenez-regalon </h5>  
              </div>
              <div class="boxContactPart">
                <h4> Github: </h4>
                <h5> https://github.com/alejimenezgit</h5>  
              </div>
            </div>
          </section>
        </main>

        <footer class="footer">
          <h3 class="redLine"></h3>
          <section>
            <div class="boxFooterAlign">
              <h5 class="textFooter"> Alejandro Jiménez </h5>
              <h5 class="textFooter"> Mi Portafolio</h5>
            </div>
          </section>
        </footer>
    </body>
</html>