<div class='contro'>
    <h3>Human embryo gene-editing</h3>
    <p>Going against the consensus in the scientific community that CRISPR-Cas9 technology is still too experimental and dangerous to use in human embryos, he applied it to forever change the genomes of twin girls to give them immunity to HIV.</p>
    <p>Its potential to improve our lives is enormous. But its potential to harm, with unintended side effects, is still unknown.</p>
    <p></p>
    <p>As the scientific community now works to establish stronger safeguards, He’s fateful decision to ignore the basic medical mantra of “do no harm” and risk the unintended consequences will likely be remembered as one of the most shocking misapplications of any scientific tool in our history.</p>
    <p>On 30 December 2019, the Shenzhen Nanshan District People's Court sentenced He Jiankui to three years in prison and fined him 3 million RMB (US$430,000).</p>
</div>