<div class="works-section">

    <p>Philippe Buteau</p> <br>
    <p>666 Doom road, Neverland</p><br>
    <p>Hellonearth@gmail.fr</p><br>


<form method="POST" action="/messageForm" class="form">

    <h2 class="title">Send me a message! </h2>

    <input class="input" type="text" name="message" placeholder="Tell me your darkest secrets">

    <button class="btn">Send</button>
</form>
</div>
