<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');</style>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="shortcut icon" href="img/minilogo.png"/>
    <title>Carles Galí | Contact</title>
</head>

<body>
    <nav>
        <img class="logo" src="img/logo.png" alt="Logo">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a class="select" href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <header>
		<h1>CONTACT</h1>
    </header>

    <section class="presentation">
        <div class="about-me">
            <img src="img/carles.png" alt="Photo of Carles">
            <p>Mis años en el mundo del deporte y de la enseñanza me han aportado un grado de exigencia y perseverancia en mis proyectos, 
                tanto personales como laborales, que se reflejan en cada uno de ellos. He trabajo al frente de equipos de trabajo con decenas 
                de clientes a los que gestionar el personal, el horario y las actividades. Toda esta experiencia me aporta ser una persona resolutiva, 
                organizada y con una idea de trabajo en equipo basada en aportar ideas y ayudar para que el conjunto del trabajo sea lo más correcto y eficiente posible.
            </p>
        </div>

        <div class="information">
            <div class="contact-info">
                <h2>Información de contacto</h2>
                <ul> 
                    <li class="phone"><a href="tel: 677 05 49 27"> Núm. de contacto: <span class="trademark">677 05 49 27</span></a></li>
                    <li class="mail"><a href="mailto:carles_ga@hotmail.com"> Email: <span class="trademark">carles_ga@hotmail.com</span></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/redroad_studio/"> Visítame en <span class="trademark">Instagram</span></a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/in/carles-gal%C3%AD-bou-09115ab2/"> Visita mi perfil de <span class="trademark">Linkedin</span></a></li>
                    <li class="github"><a href="https://github.com/cgali"> Visita mis repositorios de <span class="trademark">GitHub</span></a></li>
                </ul>
            </div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11971.644743727862!2d2.1903!3d41.3977351!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe5222819e3b6768!2sIronhack%20Barcelona!5e0!3m2!1ses!2ses!4v1573204787760!5m2!1ses!2ses" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        

    </section>
    


    <footer>
		<ul class="social">
			<li><a href="https://www.facebook.com/carles.gali"><img class="logo-facebook" src="img/logo-facebook.png" alt="Logo Facebook"></a></li>
			<li><a href="https://www.linkedin.com/in/carles-gal%C3%AD-bou-09115ab2/"><img class="logo-linkedin" src="img/logo-linkedin.png" alt="Logo Linkedin"></a></li>
            <li><a href="https://www.instagram.com/gali401/?hl=es"><img class="logo-instagram" src="img/logo-instagram.png" alt="Logo Instagram"></a></li>
            <li><a href="https://github.com/cgali"><img class="logo-github" src="img/logo-github.png" alt="Logo GitHub"></a></li>
		</ul>
		<p>Copyright© Carles Galí, Ironhacker 2019-2020.</p>
	</footer>
    
</body>
</html>