<div class="jumbotron text-center ">
    <h1>Contact me</h1>
    <p>Adress, mail, social link </p>
</div>
<div class="flex h-center container column">
    <h5 class="h-center flex v-center">My adress</h5>
    <div class="flex h-center boder-bottom">
        <p>42 rue de la poupée qui tousse a coté de la banque des aveugles</p>
    </div>
</div>

<div class="flex h-center container column">
    <h5 class="h-center flex v-center">Social link</h5>
    <div class="flex h-center boder-bottom">
    </div>
</div>