<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>contact</title>
</head>
<body>
  
 <header class="header">
	<a href="" class="logo">Gerard Solé Portfolio</a>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
	<ul class="menu">
	  
		<li> <a href="/">Home</a></li>
		<li> <a href="projects">Projects</a></li>
		<li> <a href="contact">Contact</a></li>
	</ul>
  </header>

    <div class="contact-icons">
    
        <li class="small-icons"><a href="mailto:gerardsolesanz@hotmail.com" ><img src="./img/microsoft-office-png-logo-4821-64x64.ico" alt=""></a></li>
        <li class="small-icons"><a href="https://github.com/Gerardss95"><img src="./img/512x512-logo-27148-64x64.ico" alt=""></a></li>
        <li class="small-icons"><a href="https://twitter.com/xfunzza" ><img src="./img/twitter-logo-png-5860-64x64.ico" alt=""></a></li>
        <li class="small-icons"><a href="https://instagram.com/gerardss95" ><img src="./img/instagram-logo-png-2427-64x64.ico" alt=""></a></li>
    </div>







</body>
</html>