<h1>{{montruc}}</h1>

<section id="content">
<form method="post" action="/?page_id=17">
<p>
Entrez ou vérifier vos informations :
<br /><br />
Votre Email : <input type="text" name="email" value="" style="width: 100%;height:30px;font-size: 14px;" />
<br /><br />
Votre pseudo : <input type="text" name="pseudo" value="" style="width: 100%;height:30px;font-size: 14px;" />
<br /><br />
Votre message :<textarea name="message" rows="10" style="width: 100%;font-size: 14px;align-content: left;">
									
								</textarea>
<input type="submit" value="Valider" style=" width: 100%;   height: 50px;    font-size: 30px;    line-height:  50px;    background-color: #b6ffa0; colo" />
</p>
</form>
</section>