<div class="container">
    <h2>Tourism Office of Greenland</h2>
    <div class="contact_container">
      <div class="office">
        <h3>The Greenland Office</h3>
        <p>Mon. - Fri: 8 am - 4 pm<br>
        Visit Greenland<br>
        Hans Egedesvej 29<br>
        P.O. Box 1615<br>
        3900 Nuuk Greenland<br>
        <br>
        Direct phone Greenland: (+299) 34 28 20<br>
        info@visitgreenland.com</p><br>
      </div>

      <div class="office">
        <h3>The Denmark Office</h3>
        <p>Mon. - Fri. 8 am - 4 pm<br>
        Visit Greenland<br>
        Strandgade 91<br>
        1401 Copenhagen Denmark<br>
        <br>
        Direct phone Denmark: (+45) 32 83 38 80<br>
        info@visitgreenland.com</p>
      </div>
  </div>

  <h2>The creator</h2>
      <div class="contact_container">
        <div class="office">
          <h3>Justine Gander</h3>
          <p>justine.gander@gmail.com<br>
          06.32.89.13.24</p>
        </div>
      </div>
</div>