<h1 id="content-header">Our Must Try's of 2020</h1>
<section id="lebanese" class="icecream">
  <img id="leb-ice" class="ice-img" src="/assets/lebanese-ice.jpg" alt="lebanese ice cream" />
  <div class="text">
    <h2>Lebanese Ice Cream</h2>
    <p>
      Booza is the predecessor to modern ice cream the way we are familiar with it today. Born five hundred or so years
      ago in the region of the Mediterranean, it is a favorite in most Arab countries. Stretchy and chewy with a
      traditional flavor of mastic and milk cream it is a glorious soft serve ice cream. Vendors used to use insulated
      cans with big corks on the top that served as mobile ice cream shops.
      https://www.cheftariq.com/recipe/booza-ice-cream/
    </p>
  </div>
</section>
<section id="italian" class="icecream">
  <img id="ita-ice" class="ice-img" src="/assets/italian-ice.png" alt="italian gelato" />
  <div class="text">
    <h2>Italian Gelato</h2>
    <p>
      Gelato is a popular frozen dessert of Italian origin. Generally made with a base of 3.25% milk and sugar, gelato
      can contain up to 70% less air and more flavouring than other kinds of frozen desserts. It's this quality that
      gives gelato its density and richness that distinguishes it from other ice creams.
      https://www.saveur.com/pistachio-gelato-recipe/
    </p>
  </div>
</section>
<section id="sundae" class="icecream">
  <img id="sundae-ice" class="ice-img" src="/assets/sundae.jpg" alt="sundae" />
  <div class="text">
    <h2>American Sundae</h2>
    <p>
      The sundae. One or more scoops of ice cream topped with - basically whatever your heart desires. Sauce or syrup,
      sprinkles, whipped cream, marshmallows, peanuts, maraschino cherries, fruits (like bananas and pineapple in a
      banana split). The real birthplace of the delicious treat is largely disputed, but by the early 1900s the sundae
      was an inevitable weekend treat in American soda fountains.
      https://www.chowhound.com/food-news/185357/best-ice-cream-sundae-bar-ideas/
    </p>
  </div>
</section>
<section id="japanese" class="icecream">
  <img id="jap-ice" class="ice-img" src="/assets/japanese-ice.jpeg" alt="sundae" />
  <div class="text">
    <h2>Japanese Mochi</h2>
    <p>
      Mochi is a chewy Japanese rice cake made of mochigome, a short-grain japonica glutinous rice. The rice is pounded
      into paste and molded, and is traditionally made in a ceremony called mochitsuki. While it’s enjoyed year-round,
      it’s especially eaten around Japanese New Year as a part of the festivities. Delicous and cute, mochi also has a
      dark side - each year, authorities issue public warnings in the run-up to the new year advising that the very
      young and elderly should only eat mochi cut down to smaller little chunks. At the turn of 2014 to 2015, nine
      people died from not being able to properly swallow their mochi.
      https://www.biggerbolderbaking.com/homemade-mochi-ice-cream/
    </p>
  </div>
</section>