<h2>En avant pour le visionnage :</h2>


<iframe id="flim" width="966" height="471" src="https://www.youtube.com/embed/l44WKAtZLjI" frameborder="0"
    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>