<section class="first-section pages-style">
    <h1>Transform <i>yoursel</i> into a DJ</h1>
    {{#each benefits}}
    {{#with this}}
    {{> card}}
    {{/with}}
    {{/each}}

    <article>
        <p>Don't let this opportunity behind. Become the soul of the party with your personalized playslists.</p>
        <p>Put a bit of yourself and create unique playlists for every moment of your life!</p>
        <button>START BEING CREATIVE</button>
    </article>
</section>