<header class = "boss-selection">
    <nav class = "scroll nav-choice">
        <a href="/Artorias">Artorias</a>
        <a href="/Guyn">Guyn</a>
    </nav>
</header>
<div class="stat center darksouls1">
</div>