<html>
    <body>
        <h1>Arch Enemy</h1>

        <ul>
            <li><a href="/"> Home </a></li>            
            <li><a href="/about"> About </a></li>            
            <li><a href="/photoGallery"> Photo Gallery </a></li>            
        </ul>

        <div>
            <ul>
                <li> Will to power (2017) </li>
                <li> War eternal (2014) </li>
                <li> Khaos legions (2011) </li>
                <li> The root of all evil (2009) </li>
                <li> Rise of the tyrant (2007) </li>
                <li> Doomsday machine (2005) </li>
                <li> Anthems of rebellions (2003) </li>
                <li> Wages of sin (2002) </li>
                <li> Burning bridges (1999) </li>
                <li> Stigmata (1998) </li>
                <li> Black earth (1996) </li>
            </ul>
        </div>
    </body>
</html>