<div id="discover">

    <nav>
        <ul class="dropdown closed">
            <li><a href="#" class="nav-button">Take a look</a></li>
            <li><a
                    href="https://contentzone.eurocontrol.int/aircraftperformance/details.aspx?ICAO=C172&ICAOFilter=C172">Performance</a>
            </li>
            <li><a href="/doc">Flight Manual</a></li>
            <li><a href="https://www.youtube.com/watch?v=e4bs2r00A5o">GoPro Max Cessna 172</a></li>
        </ul>
    </nav>

</div>
