<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />

    <!-- chargement de jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    
    <title>Discography</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="nav-link"><a href="/" class="inactive">Home</a></li>
                <li class="nav-link"><a href="/biography" class="inactive">Biography</a></li>
                <li class="nav-link"><a href="/discography" class="active">Discography</a></li>
            </ul>
        </div>
    </nav>

    <header>
        <h1>ALTON ELLIS</h1>
        <p>Mr Soul of Jamaica</p>
    </header>

    <div class="container">
        

        <h2>DISCOGRAPHY</h2>

        <section class="album-list">

            <h3>Albums</h3>

            <ul>
                <li>Sings Rock and Soul <span class="yellow">(Studio One, 1967)</span></li>
                <li>The Best Of <span class="yellow">(Coxsone, 1969)</span></li> 
                <li>Sunday Coming <span class="yellow">(Coxsone, 1970)</span></li>
                <li>Greatest Hits <span class="yellow">(Count Shelly, 1973)</span></li>
                <li>Mr Soul of Jamaica <span class="yellow">(Treasure Isle, 1974)</span></li>
                <li>Still in Love <span class="yellow">(Horse, 1977)</span></li>
                <li>Love to Share <span class="yellow">(Third World, 1979)</span></li>
                <li>Showcase <span class="yellow">(Studio One, 1984)</span></li>
                <li>Slummin' <span class="yellow">(Abraham, 198?)</span></li>
                <li>A New Day <span class="yellow">(Body Music, 1983)</span></li>
                <li>Daydreaming <span class="yellow">(Silver Camel, 1983)</span></li>
                <li>25th Silver Jubilee <span class="yellow">(Sky Note, 1984)</span></li>
                <li>Continuation <span class="yellow">(All Tone, 1985)</span></li>
                <li>Jubilee Volume 2 <span class="yellow">(Sky Note, 1985)</span></li>
                <li>Here I Am <span class="yellow">(Angella, 1988)</span></li>
                <li>Family Vibes <span class="yellow">(All Tone, 1992)</span></li>
                <li>Man From Studio One <span class="yellow">(All Tone, 1994)</span></li>
                <li>Change My Mind <span class="yellow">(Orchard, 2000)</span></li>
                <li>More Alton Ellis <span class="yellow">(T.P., 2001)</span></li>
                <li>Live with Aspo <span class="yellow">(Belleville International, 2001)</span></li>
                <li>Reggae Chronicles <span class="yellow">(Pickwick, Hallmark, 2006)</span></li>
            </ul>
        </section>

        <section class="single-list">

            <h3 class="single-title">Selector's choice</h3>

            <section class="single-row">
                    <img src="/images/single-1.png" />
                    <img src="/images/single-2.png" />
                    <img src="/images/single-3.png" />
            </section>

            <section class="single-row">
                    <img src="/images/single-4.png" />
                    <img src="/images/single-5.png" />
                    <img src="/images/single-6.png" />
            </section>

            <section class="single-row">
                    <img src="/images/single-7.png" />
                    <img src="/images/single-8.png" />
                    <img src="/images/single-9.png" />
            </section>

        </section>
        
    </div>

    <footer></footer>
    
</body>
</html>