<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discografia</title>
    <link rel="stylesheet" href="/stylesheets/style3.css" />
</head>

<body>
    <header>
        <h1>Discografía</h1>
        <a href="/">Home</a>
    </header>
    <div class="discos">
        <img src="/images/73f793e1e530f213491a1360b27f58f0.957x957x1.jpg" alt="El jardín de los presentes">
        <img src="/images/foto.jpg" alt="Artaud">
        <img src="/images/Invisible.jpg" alt="Invisible">
        <img src="/images/a18.jpg" alt="A 18' del Sol">
        <img src="/images/durazno.jpg" alt="Durazno Sangrando">
    </div>
    <div class="sobreDiscos">
        <p>Con 31 álbumes de estudio, siete álbumes en directo, tres álbumes recopilatorios y una banda sonora, el Flaco forjó sin lugar a dudas una de las carreras musicales más influyentes en Lationamerica. Su versatilidad es difícil de igualar, siendo
            uno de los pocos músicos de la historia que ha conseguido brillar en géneros diferentes, yendo desde el folk al jazz fusión e incluso al pop.</p>
    </div>

</body>

</html>