<header>
    <link rel="stylesheet" href="css/dishes.css">
</header>
<body>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aliquid, minima atque facilis in adipisci magni esse beatae quam veritatis, dolorem culpa sunt doloribus ipsa, molestiae dolor incidunt ipsam voluptatum.</p>
    </div>
    <div class = "dish">
    <img src="/images/tieb.jpg" alt="tieb">
    <img src="/images/mafe.jpg" alt="mafe">
    <img src="/images/yassa.jpg" alt="yassa">
    </div>
</body>
</html>