<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dots and Loops</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="dots">
    <h1>Dots and Loops</h1>
    <p>22 September 1997</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Brakhage</li>
        <li>Miss Modular</li>
        <li>The Flower Called Nowhere</li>
        <li>Diagonals</li>
        <li>Prisoner of Mars</li>
        <li>Rainbo Conversation</li>
        <li>Refractions in the Plastic Pulse</li>
        <li>Parsec</li>
        <li>Ticker-Tape of the Unconscious</li>
        <li>Contronatura</li>
    </ol>
    <img src="/images/dots.jpg" />
    </div>
    <a href="https://open.spotify.com/album/2vTelM2ZV20cLPqQwfWhYa?si=5B5g9xSlTI2bXYWH8whf_g" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>