<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brendan Eich</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Early Life</h1>
    <div class="back">
        <p>
            Eich grew up in Pittsburgh; Gaithersburg, Maryland; and Palo Alto, and he attended Ellwood P. Cubberley High School, graduating in the class of 1979. He received his bachelor's degree in mathematics and computer science at Santa Clara University, and he received his master's degree in 1985 from the University of Illinois at Urbana-Champaign.
            He began his career at Silicon Graphics, working for seven years on operating system and network code. He then worked for three years at MicroUnity Systems Engineering writing microkernel and DSP code, and doing the first MIPS R4000 port of GCC.
        </p>
    </div>

    <div class="container">
        <a href="/mozillaproject">Navigate to Mozilla Project</a>
        <a href="/gallery">Navigate to Gallery</a>
        <a href="/">Navigate Back to Home Page</a>
    </div>
</body>
</html>