<section id="sample">
    <div class="nav"> {{> navMain}}</div>
    <div class="body">
        <div class="spotify">
                        <div>   
                <iframe src="https://open.spotify.com/embed/track/7lQ8MOhq6IN2w8EYcFNSUk" width="450" height="570"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
        </div>
        <div class="biography">
                <h1>Eminem</h1>
                <p>Rapper, actor and music producer Eminem is one of the best-selling musicians of the 21st century and one of the most influential rappers of all time. <br>
<br>
Born Marshall Bruce Mathers III in 1972 in Missouri, Eminem had a turbulent childhood. He dropped out of school in the ninth grade and worked odd jobs until finally making it as a rapper upon the release of The Slim Shady LP in early 1999. The album went multi-platinum, garnering Eminem two Grammy Awards and four MTV Video Music Awards. <br>
<br>
In 2000, Eminem released The Marshall Mathers LP, which was noted as the fastest-selling album in rap history. Two years later, he delivered the Academy Award-winning song "Lose Yourself," from the semi-autobiographical drama 8 Mile. <br>
<br>
In 2010, he released the Grammy-winning album Recovery, a highly autobiographical attempt to come to terms with his struggles with addiction and experience with rehabilitation.  <br>
<br>
The Marshall Mathers LP 2 (2013) also garnered numerous accolades, and the rapper later followed with Revival (2017), Kamikaze (2018) and Music to Be Murdered By (2020). </p>
        </div>
    </div>
    <div class="footer">{{> footerMain}}</div>
</section>