<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Emperor Tomato Ketchup</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="emperor">
    <h1>Emperor Tomato Ketchup</h1>
    <p>18 March 1996</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Metronomic Underground</li>
        <li>Cybele's Reverie</li>
        <li>Percolator</li>
        <li>Les Yper-Sound</li>
        <li>Spark Plug</li>
        <li>OLV 26</li>
        <li>The Noise of Carpet</li>
        <li>Tomorrow Is Already Here</li>
        <li>Emperor Tomato Ketchup</li>
        <li>Monstre Sacre</li>
        <li>Motoroller Scalatron</li>
        <li>Slow Fast Hazel</li>
        <li>Anonymous Collective</li>
    </ol>
    <img src="/images/emperor.jpg" />
    </div>
    <a href="https://open.spotify.com/album/6SI4L8ARoPuOCGcnBrnIkn?si=VE0j5T8YSD2tkx5Cle3iuA" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>