<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Link & Ganon | Fun facts</title>
</head>
<body>
    <header class="menu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">Nosotros</a></li>
                <li><a href="/facts">Facts</a></li>
                <li><a href="/gallery">Galería</a></li>
            </ul>
        </nav>
    </header>
    
    <div>
        <h1>#Fun facts </h1>
    </div>
    <div class="facts">
        <div class="link-facts">
            <h2>Link</h2>
            <ul>
                <li>Cada vez que vas a la cocina te va a perseguir para que le des comida.</li>
                <li>Le encanta dormir en tu cuello.</li>
                <li>Puede pasar horas amasando cualquier manta.</li>
                <li>Siempre le roba comida a su hermano, por eso esta tan gordo.</li>
                <li>Tiene miedo a los repartidores.</li>
            </ul>
            <img src="/img/link.jpeg" alt="Yellow cat">
        </div>
        
        <div class="ganon-facts">
            <h2>Ganon</h2>
            <ul>
                <li>Maulla como un loco.</li>
                <li>Le encanta estar en las alturas</li>
                <li>No le gusta que le toquen el lomo, se voltea y te muerde.</li>
                <li>Puede pasar horas viendo palomas por la ventana</li>
                <li>Tiene cara de malo pero es el mas dulce de todos.</li>
            </ul>
            <img src="/img/ganon.jpeg" alt="Black cat">
        </div>
        
    </div>
</body>
</html>