<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/main.css">
    <title>Featured Work</title>
</head>
<body>
    <section id="featured-work">
        <h4>Featured work</h4>
        <p>&#129123;</p>
        <div id="project-links">
            <div id="project1">
                <a href="#">
                    <div class="project-title">
                        <h5>Project name</h5>
                    </div>
                </a>
            </div>
            <div id="project2">
                <a href="#">
                    <div class="project-title">
                        <h5>Project name</h5>
                    </div>
                </a>
            </div>
            <div id="project3">
                <a href="#">
                    <div class="project-title">
                        <h5>Project name</h5>
                    </div>
                </a>
            </div>
            <div id="project4">
                <a href="#">
                    <div class="project-title">
                        <h5>Project name</h5>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>