<h1>Mój ulubiony ptak do jedzenia</h1><img src="../bird.jpg" alt="Monika"><h1></h1>
<h1>Któregoś dnia miałem psa i było pyszne</h1><img src="../dog.jpg" alt="Monika"><h1></h1>
<h1>Po prostu uwielbiam jeść myszy</h1><img src="../mouse.jpg" alt="Monika"><h1></h1>
