<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Aang's friends</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Team Avatar</h1>
    <div class="gallery-friends">
      <img src="images/katara.jpg" height="300" alt="" />
      <img src="images/sokka.jpg" height="300" alt="" />
      <img src="images/appa.jpg" height="300" alt="" />
      <img src="images/momo.png" height="300" alt="" />
    </div>
    <p class="team-aang">
      Team Avatar was the name used to refer to Avatar Aang and his companions
      during his journey to master the four elements and end the Hundred Year
      War, and during the Harmony Restoration Movement.
    </p>
    <a href="/" id="home">Go to the Home Page</a>
  </body>
</html>
