<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Super Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/galeria">Galería</a>
            <a class="nav-item nav-link" href="/login">Login</a>
          </div>
        </div>
      </nav>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Galería</h1>
                <p class="lead text-muted">Esto es un ejemplo de lo que podría ser la página de galería de la página, pero como es un ejemplo las imagenes voy a repetirla en cada card. Posdata no pulse en el botón roneante o algo malo pasará, no quiero ser hombre de mal agurio pero ahí lo dejo.</p>
                <p>
                    <a href="#" class="btn btn-primary">Mi Botón Roneante</a>
                </p>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 py-3">
                        <div class="card">
                            <img class="card-img-top" src="img/gallery-photo.jpg">
                            <div class="card-body">
                                <p class="card-text text-center">El ejemplo de una tarjeta en mi galería de imágenes</p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-md btn-outline-secondary">Ver Foto</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <div class="card">
                            <img class="card-img-top" src="img/gallery-photo.jpg">
                            <div class="card-body">
                                <p class="card-text text-center">El ejemplo de una tarjeta en mi galería de imágenes</p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-md btn-outline-secondary">Ver Foto</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <div class="card">
                            <img class="card-img-top" src="img/gallery-photo.jpg">
                            <div class="card-body">
                                <p class="card-text text-center">El ejemplo de una tarjeta en mi galería de imágenes</p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-md btn-outline-secondary">Ver Foto</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <div class="card">
                            <img class="card-img-top" src="img/gallery-photo.jpg">
                            <div class="card-body">
                                <p class="card-text text-center">El ejemplo de una tarjeta en mi galería de imágenes</p>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-md btn-outline-secondary">Ver Foto</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>