<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <h1>this is the galery 🐶</h1>

    <div class='links'>
        <a href="/"> Go to "home"</a>
        <a href="/about"> Go to "about"</a>
        <a href="/works"> Go to "works"</a>
        
    </div>

    <div class='images'>
        <img  src="/images/dog1.jpeg" alt="dog 1">
        <img  src="/images/dog2.jpeg" alt="dog 2">
        <img  src="/images/dog3.jpeg" alt="dog 3">
        <img  src="/images/dog4.jpeg" alt="dog 4">
    </div>

    

</body>
</html>