<div class="container galery">
    <h1>Our most amazing recipe pictures</h1>

    <div id="box-galery">
    {{#each recipes}}
         <div class="wrapper-recipe">
            <div class="img-galery">
                <img class="img-glr"src="{{this}}">
            </div>
        </div>
    {{/each}}
    </div>
</div>
