<h1>Photo Gallery</h1>
<img src="/images/bill-gates-foundation.jpg" alt="Foundation" class="img-thumbnail" id="img-1">
<img src="/images/bill-gates-smilling.jpg" alt="Bill Gates" class="img-thumbnail" id="img-2">
<img src="/images/bill-gates.jpg" alt="Bill Gates 2" class="img-thumbnail" id="img-3">
