{{>nav}}

<h1>Photo Gallery</h1>

<div id="gallery" class="container">
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-md-4 col-4">
      <a href="image1.jpg" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="image1.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-4">
      <a href="image2.jpg" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="image2.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-4">
      <a href="image3.jpg" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="image3.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-4">
      <a href="image4.jpg" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="image4.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-4">
      <a href="image5.jpg" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="image5.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-4">
      <a href="image6.jpg" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="image6.jpg" alt="">
      </a>
    </div>
  </div>

</div>