{{> nav_bar}}

<section id="gallery">
  <h2>Gallery</h2>
  <div class="img-ctn">
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/17/14/19741750-7575259-Why_don_t_polar_bears_eat_penguins_The_riddle_is_probably_as_old-a-1_1571320410281.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/15/14/19741724-7575259-image-a-16_1571146079628.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/19/00/19906430-7575259-image-a-28_1571439627872.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/19/00/19907542-7575259-image-a-41_1571441994685.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/19/00/19906422-7575259-image-a-29_1571439758588.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/15/14/19742278-7575259-image-a-23_1571146199147.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/19/00/19906438-7575259-image-a-33_1571440052661.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/15/14/19742004-7575259-image-a-30_1571146574548.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://i.dailymail.co.uk/1s/2019/10/15/14/19742010-7575259-image-a-34_1571146683129.jpg" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1739811/pexels-photo-1739811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/3695720/pexels-photo-3695720.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/3309870/pexels-photo-3309870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/64219/dolphin-marine-mammals-water-sea-64219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/158471/ibis-bird-red-animals-158471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/1131774/pexels-photo-1131774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/2078475/pexels-photo-2078475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/460775/pexels-photo-460775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/3354346/pexels-photo-3354346.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/460223/pexels-photo-460223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="img-box">
      <img src="https://images.pexels.com/photos/726478/pexels-photo-726478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
  </div>
</section>