<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
        	<!-- Navbar -->
	<nav class="navbar-container">
		<ul class="nav navbar">
			<li class="nav-item active"><a href="/">HOME</a></li>
			<li class="nav-item"><a href="/about">ABOUT</a></li>
			<li class="nav-item"><a href="/works">WORKS</a></li>
			<li class="nav-item"><a href="/gallery">PHOTO GALLERY</a></li>
		</ul>
    </nav>
    <div class="container">
        <section class="section-container">
            <article>   
                <div class="photo">
                    <h1><span>Photo Gallery</span></h1>
                    
                    <a href="#" class="medium  polaroid img1" ><img src="/images/NoamChomsky.jpg" alt="">Noan Chomsky</a>
                    
                   <a href="#" class="small polaroid img2" ><img src="/images/NoamChomsky.jpg" alt=""> is the </a>
                    
                    <a href="#" class="small polaroid img3" ><img src="/images/NoamChomsky.jpg" alt="">best </a>
                    
                    
                    <a href="#" class="medium polaroid img7" ><img src="/images/NoamChomsky.jpg" alt=""></a>
                    
                    
                    <a href="#" class="medium polaroid img8" ><img src="/images/NoamChomsky.jpg" alt=""></a>
                    
                  </div>
            </article>
        </section>
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</body>
</html>