<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Yayoi Kusama Site</title>

      <!--BootStrap-->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous" />

      <!--STYLES-->
      <link rel="stylesheet" href="/style/Style.css">

</head>

<body>
      <header class="menu">
            <a class="home" href="/">
                  <img src="/img/Kusama_Signature.jpg" alt="Yayoi Kusama signature" />
            </a>
            <nav>
                  <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/work">Works</a></li>
                        <li><a href="/gallery">Photo Gallery</a></li>
                  </ul>
            </nav>
      </header>

      <main>
            <div class="container">
                  <section>
                        <header>
                              <h1>Photo gallery</h1>
                              <h2>Yayoi Kusama creating her works</h2>
                        </header>
                        <div class="row justify-content-between align-items-center">
                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/Gallery/Gallery_1.jpg" alt="Kusama working on her paintings">
                                    </figure>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/Gallery/Gallery_2.jpg" alt="Kusama working on her paintings">
                                    </figure>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/Gallery/Gallery_3.jpeg" alt="Kusama working on her paintings">
                                    </figure>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/Gallery/Gallery_4.jpg" alt="Kusama working on her paintings">
                                    </figure>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/Gallery/Gallery_5.jpeg" alt="Kusama working on her paintings">
                                    </figure>
                              </div>
                              <div class="col-12 col-md-6 col-lg-4">
                                    <figure>
                                          <img src="/img/Gallery/Gallery_6.jpeg" alt="Kusama working on her paintings">
                                    </figure>
                              </div>
                        </div>
                  </section>
            </div>
      </main>


</body>

</html>