<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
        </style> 
</head>
<body>
    <header>
        <div class="header">
            <h1>Algunas fotos</h1>
        </div>
    </header>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Gallery</a>
        </nav>
    </div>
    <div>
        <img src="/images/bwnik.jpg" width="300">
        <img src="https://2.bp.blogspot.com/-nApx_SMi8Jg/Um0KDg0NDjI/AAAAAAAADQo/ddLPJRIBPJI/s1600/nikola-tesla.jpg" width="100">
        <img src="https://i.pinimg.com/originals/7c/20/2a/7c202a1ec0568888ce46fac3badc8e0c.jpg" width="300">
    </div>
</body>
</html>