<div class="gallery-container">
  <div class="gallery-item"><img src="/img/central-intelligence.jpg" alt="" class="gallery-img"></div>
  <div class="gallery-item"><img src="/img/fast-furious.jpg" alt="" class="gallery-img"></div>
  <div class="gallery-item"><img src="/img/hobbs.jpg" alt="" class="gallery-img"></div>
  <div class="gallery-item"><img src="/img/hurcules.jpg" alt="" class="gallery-img"></div>
  <div class="gallery-item"><img src="/img/jumanji.jpg" alt="" class="gallery-img"></div>
  <div class="gallery-item"><img src="/img/skyscraper.jpg" alt="" class="gallery-img"></div>
</div>