
<div class="gallery">
    <div class="photo">
        <img src="/img/garciamarquez.jpg" alt="Gabriel GArcia Marquez">
    </div>
    <div class="photo">
        <img src="/img/cronica.jpg" alt="Gabriel GArcia Marquez">
    </div>
    <div class="photo">
        <img src="/img/hojarasca.jpg" alt="Gabriel GArcia Marquez">
    </div>
    <div class="photo">
        <img src="/img/cien.jpg" alt="Gabriel GArcia Marquez">
    </div>
    <div class="photo">
        <img src="/img/garciamarquez1.jpg" alt="Gabriel GArcia Marquez">
    </div>
</div>
