<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
</head>
<body>
    <h1>Image Gallery</h1>
    <section>
        <div>
            <ul style="list-style-type:none;">
                <li>Sunnydale High</li>
                <img src="img/sunnydale-high.jpg" alt="Sunnydale High"/>
                <br>
                <br>
                <li>At prom with Oz</li>
                <img src="img/prom.png" alt="Prom" width="20%"/>
                <br>
                <br>
                <li>At graduation with Buffy and Xander</li>
                <img src="img/graduation.png" alt="Graduation" width="20%"/>
                <br>
                <br>
                <li>Vampire Willow</li>
                <img src="img/vamp.png" alt="Vampire" width="20%"/>
                <br>
                <br>
                <li>At uni with Buffy</li>
                <img src="img/uni.png" alt="Prom" width="20%"/>
                <br>
                <br>
                <li>Halloween with Buffy</li>
                <img src="img/halloween.png" alt="Halloween" width="20%"/>
                <br>
                <br>
                <li>Tara and Willow</li>
                <img src="img/love.png" alt="Tara and Willow" width="20%"/>
                <br>
                <br>
                <li>When Willow almost destroyed the world</li>
                <img src="img/evil.png" alt="Evil" width="20%"/>
            </ul>
        </div>
    </section>
    <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About Willow Rosenberg</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Photo Gallery</a></li>
        </ul>
    </footer>
</body>
</html>