<div class="img-gallery">
<img src="/img/rg.jpg" alt="Romain Gary">
<img src="/img/cerfs-volants.jpg" alt="Cover of Les cerfs-volants (kites)">
<img src="/img/square-rg.jpg" alt="Romain Gary square in Paris">
</div>