<!doctype html>
<html lang="en">

<head>
  <title>Steve jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/gallery">GALLERY</a></li>
    </ul>
  </nav>
  <h1>GALLERY</h1>
  <img src="image1.png" alt="image1">
  <img src="image2.png" alt="image2">
  <img src="image3.png" alt="image3">
</body>
</html>