<section class="gallery">
    {{#each image}}
        <div class="gallery-image">
            <img src="{{srcText}}" alt="">
            <p>{{captionText}}</p>
        </div>
    {{/each}}

    {{> nav}}
</section>

