<section id="gallery">

    <div id="grid">
        <div class="gallery-images i1">
            <img src="img/HFC-menu1.jpg" alt="">
        </div>
        <div class="gallery-images i2">
            <img src="img/Food.jpg" alt="">
        </div>
        <div class="gallery-images i3">
            <img src="img/HFC-menu2.jpg" alt="">
        </div>
        <div class="gallery-images i4">
            <img src="img/HFC-cover.jpg" alt="">
        </div>
        <div class="gallery-images i5">
            <img src="img/HFC-menu4.jpg" alt="">
        </div>
        <div class="gallery-images i6">
            <img src="img/Food 2.jpg" alt="">
        </div>
    </div>
</section>