<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/about">About</a>
        <a href="/home">Home</a>
        <a href="/works">Quotes</a>

    </nav>

    <a href="https://www.google.com/search?q=tormund+gallery&tbm=isch&ved=2ahUKEwi6_pGrvaDsAhXTtCoKHeIwD4gQ2-cCegQIABAA&oq=tormund+gallery&gs_lcp=CgNpbWcQAzoECCMQJzoECAAQGDoCCAA6BAgAEB46BggAEAgQHlDr0RdYjeoXYOryF2gBcAB4AIABkAGIAfEKkgEDOC42mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=qqd8X7qBK9PpqgHi4bzACA&bih=712&biw=760">Images Gallery</a>
    
</body>
</html>