<h1>Gallery</h1>
<p>Here you can see pictures of all the tasty food!!!</p>

<div class="images-container">
    <div class="container">
        <img class="tasty" alt="[food image]">
        </div>
        <a href="">[dish name]</a>
        <p class ="comments">[comments]</p>
    </div>
</div>