<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Gallery - HappyCulture </title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <nav class="navbar">
  </nav>
            
  <div class="container nopadnomarge">
      <h1> Visit our gallery </h1>
    <div class ="photos">
      <img class="resized" src="happyCulture (1).png"/>
      <img class="resized" src="happyCulture (2).png"/>
      <img class="resized" src="happyCulture (3).png"/>
      <img class="resized" src="happyCulture (4).png"/>
      <img class="resized" src="happyCulture (5).png"/>
      <img class="resized" src="happyCulture (6).png"/>
      <img class="resized" src="happyCulture (7).png"/>
      <img class="resized" src="happyCulture (8).png"/>
    </div>

    <div class="bottomLinks">
     <a href="/about"> More about HappyCulture </a>
     <a href="https://www.facebook.com/HappyCulture.LaPenseeDeLaSemaine/"> Join us on Facebook </a>
     <a href="/"> Go back to Home page </a>
    </div>

  </div>
 
</body>
</html>