<h1>Some pictures of him and his movies</h1>
<p>Because why not?!</p>
<div id="gallery">
  <div id="kevin-pics">
    <figure>
      <img src="img/fan-expo-2016.JPG" alt="Kevin Smith @ Vancouver Fan Expo 2016">
      <figcaption>Q&A with Kevin Smith at Vancouver's Fan Expo in 2016</figcaption>
    </figure>
    <figure>
      <img src="img/kevin-smith-2.jpeg" alt="Kevin Smith">
      <figcaption>Kevin Smith</figcaption>
    </figure>
      <figure>
      <img src="img/kevin-smith-3.jpeg" alt="Kevin Smith">
      <figcaption>Kevin Smith</figcaption>
    </figure>
      <figure>
      <img src="img/kevin-smith-mewes.jpeg" alt="Kevin Smith and Jay Mewes">
      <figcaption>Kevin Smith and Jay Mewes</figcaption>
    </figure>
  </div>
  <br>
  <h3>Images from his movies</h3>
  <div id="movie-pics">
    <figure>
      <img src="img/amy-img.jpeg" alt="Image from the movie Chasing Amy">
      <figcaption>Chasing Amy</figcaption>
    </figure>
    
    <figure>
      <img src="img/clerks-2-img.jpeg" alt="Image from the movie Clerks II">
      <figcaption>Clerks II</figcaption>
    </figure>
    
    <figure>
      <img src="img/clerks-2-img2.jpeg" alt="Image from the movie Clerks II">
      <figcaption>Clerks II</figcaption>
    </figure>
    
    <figure>
      <img src="img/dogma-buddy.jpg" alt="Image from the movie Dogma">
      <figcaption>Dogma</figcaption>
    </figure>

    <figure>
      <img src="img/dogma-img.jpg" alt="Image from the movie Dogma">
      <figcaption>Dogma</figcaption>
    </figure>
    
    <figure>
      <img src="img/mallrats-img.jpeg" alt="Image from the movie Mallrats">
      <figcaption>Mallrats</figcaption>
    </figure>
    <figure>
      <img src="img/strike-back-img.jpg" alt="Image from the movie Jay & Silent Bob strike back">
      <figcaption>Jay & Silent Bob strike back</figcaption>
    </figure>
    <figure>
      <img src="img/zack-miri-img.jpeg" alt="Image from the movie Zack & Miri make a porno">
      <figcaption>Zack & Miri make a porno</figcaption>
    </figure>
  </div>
</div>

