<div class="gallery">
    <h1>Photo Gallery</h1>
    <p>This is me when I can be bothered to take a nice picture. Fear not, I can rarely be.</p>
    <div id="gallery"><img class="gallery bretagne" src="img/Portrait-bretagne.jpg" alt="portait bretagne">
    <img class="gallery paris" src="img/a-Paris.jpeg" alt="portrait paris">
    <img class="gallery pull-vert" src="img/Pull-vert.jpg" alt="portait pull vert">
    </div>
</div>