<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>The works of Shinji Mikami</h1>
    <a href="/re-remake"><img src="/images/re1.jpeg" style="width: 200px" alt="re-remake"></a>
    <a href="/re-4"><img src="/images/re4.jpeg" style="width: 200px" alt="re-4"></a>
    <a href="/god-hand"><img src="/images/god hand.jpeg" style="width: 200px" alt="god-hand"></a>
    <a href="/killer-7"><img src="/images/k7.jpeg" style="width: 200px" alt="killer7"></a>
    <br>
    <br>
    <br>
    <br>
    <a href="/">Go to the home-page</a>
</body>
</html>