<html>

<head>
	<title>Condiciones Generales </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/estilos.css" />
	<link rel="shortcut icon" href="img/julian.jpg" />
</head>

<body>
	<div class="backgroundGeneralCond">
		<a href="/">
			<div class="inicio">inicio</div>
		</a>
		<div class="cond">
			<div class="gen">
				<h2> Condiciones Generales </h2>
				<p> Ahora mismo estás en el sitio web El Juglar.eu. Las condiciones generales de contratación que vamos
					a explicarte se aplican a todas las transacciones comerciales realizadas aquí. Es decir, cuando usas
					o compras en El Juglar.eu, estás aceptando los presentes términos y condiciones. No te preocupes, no
					hay cosas raras. Pero puedes leértelos si te quedas más tranquilo :) </br>
				</p>
				<p>
					Todos los productos que veas en El Juglar.eu son vendidos directamente por El Juglar, una empresa
					española con domicilio fiscal en la calle Cuba 32 de Valencia y cuyo nombre fiscal es el de Esther
					Martín Alemán, con NIF 44785360J. Además de en nuestra tienda física, vendemos productos a través de
					internet a toda España, y también al resto del mundo en determinadas condiciones. </br>
				</p>
				<p>
					Para cualquier cuestión puedes contactar con nosotros por mail contaco@El Juglar.eu o por teléfono
					+34 963 737 267, de lunes a sábado, de 11:00 a 14:00 o de 17:00 a 21:00 (horario de Europa Central).
					</br>
				</p>
			</div>
			<div class="reserv">
				<h2>Reserva de productos</h2>
				<p>En El Juglar puedes encontrar información de todos los productos que se ofrecen y cómo reservarlos.
					Para poder tramitar los pedidos de forma correcta, como usuario deberás proporcionar los datos que
					para tal efecto se te soliciten y te deberás adherir a las presentes condiciones de uso en la
					versión publicada en el momento de acceder al sitio web. Estos datos se incorporarán a una base de
					datos propiedad de El Juglar y serán tratados de acuerdo con lo estipulado en la Política de
					Privacidad. </br>
				</p>
				<p>
					Al registrarte como usuario en el sitio web te comprometes a varias cosas. La primera, a
					suministrarnos información veraz. Si te inventas tu nombre y tu dirección, lo más seguro es que no
					te lleguen los artículos que compres. Asimismo, a guardar de forma confidencial y con la máxima
					diligencia tu clave de acceso. En el momento en que confirmes la compra, también te comprometes a
					pagar mediante los canales habilitados </br>
				</p>
			</div>
			<div class="metpago">
				<h2>Métodos de pago</h2>
				<p>Una vez añadidos los productos a la cesta de la compra y completado el registro, podrás elegir pagar
					con tarjeta bancaria o por transferencia. </br>
				</p>
				<strong>Tarjeta:</strong> Puedes pagar utilizando tu tarjeta de crédito o débito Visa, Mastercard o
				American Express. Si seleccionas esta opción, sólo tendrás que completar los campos con los datos de tu
				tarjeta y tu pago se completará a través de la plataforma de pago seguro Stripe. Las transacciones están
				encriptadas y en ningún momento accedemos a la información de tu tarjeta de crédito. Aquí puedes leer
				las garantías de seguridad de Stripe. </br>
				</p>
				<p>
					<strong>Transferencia:</strong> También puedes pagar mediante transferencia bancaria o ingreso en el
					siguiente número de cuenta. </br>
				</p>
				<p align="center">
					ES04 0081 0234 2200 0147 8956</br>
				</p>
				<p>
					A veces los bancos se lo toman con calma y tardamos varios días en ver la transferencia. Si quieres
					agilizar el proceso, puedes enviarnos copia del justificante por mail a contacto@ElJuglar.eu </br>
				</p>
				<p>
					En cualquiera de los dos casos, el pedido se tramitará una vez recibamos la conformidad del pago.
					</br>
				</p>
				<p>
					Una vez formalizado el pedido, recibirás un correo electrónico con la confirmación de tu pedido y
					todos los detalles del mismo. </br>
				</p>
				<p>
					Los pedidos serán archivados en la base de datos de El Juglar durante el plazo de tiempo establecido
					por la legislación vigente. En todo momento podrás tener acceso a tus pedidos realizados entrando en
					tu cuenta de usuario habilitada en El Juglar.eu </br>
				</p>
			</div>
			<div class="prodprecyenv">
				<h2>Productos, precios y envíos</h2>
				<p>El Juglar se reserva el derecho a decidir en cada momento los productos que se ofrecerán a través de
					El Juglar.eu, pudiendo añadir o eliminar productos de su tienda on-line. Asimismo, los precios de
					los productos también podrán ser modificados sin previo aviso. No obstante, si acabas de hacer una
					compra y de repente el precio cambia, no te preocupes: las modificaciones en ningún caso se
					aplicarán a las ventas ya formalizadas.</br>
				</p>
				<p>
					Las características de los productos son presentadas con detalle en El Juglar.eu dentro de cada
					ficha de producto. A pesar de ello, puede suceder que las imágenes y/o los colores de los productos
					expuestos no reflejen fielmente la realidad debido a las características específicas del navegador
					de internet o la pantalla o dispositivo utilizado por el usuario. </br>
				</p>
				<p>
					Los precios de los productos a la venta en El Juglar.eu aparecen siempre en euros (€) e incluyen los
					impuestos correspondientes. A estos precios se sumarán los gastos de envío pertinentes. Las tarifas
					de envío te serán comunicadas antes de formalizar el pedido, y como usuario deberás aceptarlas
					expresamente al confirmar la compra. </br>
				</p>
				<p>
					Los envíos a domicilio tienen un coste distinto en función del país de destino, y el peso (o peso
					volumétrico) de los productos adquiridos. El precio total de los gastos de envío se indicará en la
					página de resumen de compra. </br>
				</p>
				<p>
					Las tarifas de envío pueden variar, dependiendo de las promociones que El Juglar decida aplicar en
					un determinado momento o los cambios en las tarifas dadas por las compañías de transporte. </br>
				</p>
				<p>
					La fecha de entrega en la dirección que nos indiques depende de la disponibilidad del producto
					escogido y de la zona de envío. Para envíos dentro del territorio español, el tiempo aproximado de
					entrega es de una semana. Te facilitaremos el número de envío proporcionado por la empresa de
					transportes que realiza la entrega, para que puedas realizar el seguimiento del pedido desde su
					página web. No nos hacemos responsables, eso sí, de retrasos provocados por causas de fuerza mayor.
					No podemos controlar todas las huelgas de camioneros, inundaciones y vendavales (todavía). </br>
				</p>
				<p>
					En El Juglar intentamos tener disponibles todos los productos expuestos en la tienda virtual. Aún
					así, en ocasiones la demanda excede las expectativas o el fabricante sufre un retraso inesperado. Si
					algún artículo solicitado no se encuentra en ese momento en stock, te indicaremos que la entrega
					puede sufrir retrasos y te daremos siempre la opción de cambiar o anular tu pedido. </br>
				</p>
				<p>
					El Juglar se compromete a entregarte los productos en perfecto estado en la dirección que como
					usuario nos hayas indicado en el formulario de pedido. Te recomendamos que nos indiques una
					dirección en la cual el pedido te pueda ser entregado dentro del horario laboral habitual. Como te
					decíamos antes, El Juglar no será responsable por los errores causados en la entrega cuando la
					dirección de envío que nos hayas indicado en el formulario de pedido no se ajuste a la realidad o
					haya sido omitida. </br>
				</p>
				<p>
					A la recepción del pedido, debes comprobar el estado del paquete ante la empresa de transporte que
					realiza la entrega del mismo por cuenta de El Juglar, y debes dejar reflejado en el albarán
					cualquier anomalía que pudieras detectar en el embalaje. Si una vez revisado el producto, detectas
					alguna incidencia como desperfecto, rotura o similar causado por el envío, debes comunicárnoslo por
					correo electrónico a contacto@El Juglar.eu en el menor plazo de tiempo posible (máximo 7 días
					laborables), para poder tramitar la devolución. </br>
				</p>
				<p>
					El Juglar realiza envíos a muchos países. El precio de los pedidos no incluye gastos de aduana,
					aranceles, así como otros impuestos que el país de destino pueda considerar, por lo que como cliente
					deberás pagar estos gastos para recibir tu paquete. </br>
				</p>
				<p>
					De acuerdo con las leyes internacionales que regulan el comercio de importaciones y exportaciones de
					todos los órdenes, El Juglar envía sus productos desde Valencia (España), con una factura oficial
					declarando el total exacto de la mercancía comprada en euros (€). </br>
				</p>
				<p>
					Las compraventas realizadas en la tienda virtual de El Juglar se someten a la legislación española.
					En caso de cualquier conflicto o discrepancia el fuero aplicable será el de los Juzgados o
					Tribunales de Valencia (España), siempre y cuando no haya alguna disposición legal que lo prohíba.
					</br>
				</p>
			</div>
			<div class="cambydevs">
				<h2>Cambios y devoluciones</h2>
				<p>
					<h3>Cambios</h3>

					Si has adquirido un producto en la tienda virtual de El Juglar y luego te arrepientes, podrás
					cambiarlo siempre que nos lo comuniques dentro de los 7 días siguientes a la recepción del pedido.
					En este caso, el artículo debe estar en perfectas condiciones, no debe haber sido abierto ni usado y
					debe conservar su embalaje o precinto original. </br>
				</p>
				<p>
					El artículo podrá cambiarse por otro de igual valor o de valor superior si abonas la diferencia de
					importe. Puedes mandarnos el producto que quieres cambiar o podemos recogerlo nosotros en la misma
					dirección a la que te lo enviamos. En cualquier caso, tendrás que correr con los gastos de envío. Te
					enviaremos el nuevo artículo una vez que comprobemos que el primero está en perfecto estado. </br>
				</p>

				<p>
					<h3>Devoluciones: productos defectuosos</h3>

					Sólo aceptaremos devoluciones de artículos si el producto está defectuoso o dañado. En ese caso, El
					Juglar correrá con el coste del cambio o reparación, siempre que nos comuniques la incidencia dentro
					de los 7 días siguientes a la recepción del envío. Recogeremos el producto defectuoso en la misma
					dirección donde te lo enviamos y, una vez comprobado el posible defecto y sus causas, procederemos a
					la reparación del mismo o a su sustitución. Después, El Juglar te reenviará el artículo en perfectas
					condiciones tan pronto como sea posible y sin ningún tipo de coste adicional para ti. Se excluyen de
					esta condición los artículos adquiridos en El Juglar.eu que cuenten con la garantía de su
					fabricante, en cuyo caso deberás seguir el procedimiento y condiciones indicados por el propio
					fabricante. Si un producto distinto al que compraste te llega por error, lo recogeremos y te
					entregaremos el correcto sin que tengas que preocuparte por nada. </br>
				</P>
			</div>
			<div class="polpriv">
				<h2>Política de privacidad</h2>
				<p>El Juglar garantiza expresamente que los datos que nos facilites son mantenidos con absoluta
					confidencialidad. </br>
				</p>
				<p>
					En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
					información y Comercio Electrónico, a continuación se exponen los datos identificativos de la
					empresa: </br>
				</p>
				<p align="center">
					Denominación social: Esther Martín Alemán </br>
					NIF: 44785360J </br>
					Domicilio social: Calle Cuba 32. 46006 Valencia (España) </br>
					Teléfono: +34 963 737 267 </br>
				</p>
				<p>
					<h3>Tratamiento de tus datos personales</h3>

					Con el objeto de procesar tu pedido, te pediremos que nos facilites ciertos datos personales como
					nombre y apellidos, dirección, teléfono y correo electrónico, los cuales serán tratados de forma
					informatizada. Tú autorizas expresamente que dichos datos sean archivados en nuestra base de datos
					de clientes para su uso interno. Conforme a lo establecido en la Ley Orgánica 15/99, de 13 de
					diciembre de Protección de Datos de Carácter Personal y en la normativa de desarrollo, puedes, en
					cualquier momento, acceder, modificar o solicitar que cancelemos tu información personal de nuestra
					base de datos a través de nuestra página web o enviando un correo electrónico a El Juglar@El
					Juglar.eu </br>
				</p>
				<p>
					El tratamiento y gestión de los mismos cumple lo estipulado en el Real Decreto 994/1999, de 11 de
					junio, por el que se aprueba el reglamento de medidas de seguridad de los ficheros automatizados que
					contengan datos de carácter personal. </br>
				</p>
				<p>
					El Juglar bajo ningún concepto, vende información sobre sus clientes a terceros ni cederá
					información alguna de sus datos. </br>
				</p>
				<p>
					Este sitio web emplea tecnología de etracker para recoger datos de comportamiento de los visitantes.
					Dichos datos se recogen de forma anónima para fines de marketing y optimización. Todos los datos de
					visitantes se guardan con un identificador de usuario anónimo para acumular un perfil de uso. Se
					pueden emplear cookies para recoger y guardar estos datos, pero los datos son anónimos. Los datos no
					se utilizarán para identificar a un visitante personalmente, y no se añadirán a ningún dato
					personal. </br>
				</p>
				<p>
					Si eliges darnos tu email para recibir nuestro boletín, podrás recibir información sobre El Juglar
					en el futuro. Te enviaremos (sólo de vez en cuando) noticias sobre productos, servicios u ofertas
					especiales a través de nuestra lista de correo. Podrás borrar tu dirección de la lista de correo en
					cualquier momento, simplemente mandándonos un email. En ocasiones, la baja de la lista de correo
					tardar en llevarse a cabo entre 3 y 5 días. </br>
				</p>
				<p>
					<h3>Datos de la tarjeta de crédito</h3>

					El Juglar nunca recibe los datos de tu tarjeta de crédito, estos son procesados mediante un
					protocolo seguro de Stripe, encargado de suministrar los respectivos servicios de pago electrónico
					remoto, sin que tercero alguno pueda en ningún caso tener acceso a ellos. Tales datos no serán nunca
					utilizados por El Juglar más que con el fin de completar los procedimientos relativos a la compra,
					emitir los correspondientes reembolsos en caso de eventuales devoluciones y prevenir a las fuerzas
					de policía en caso de que se cometiese algún fraude en El Juglar. </br>
				</p>
				<p>
					<h3>Seguridad</h3>

					El Juglar toma todas las medidas necesarias para proteger la confidencialidad de tu información
					personal. </br>
				</p>
				<p>
					Únicamente empleados autorizados tienen acceso a las bases de datos que almacenan información del
					usuario o a los servidores que hospedan nuestro servicio. </br>
				</p>
			</div>
		</div>
	</div>
</body>

</html>