<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/kfCVO20uEB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>God Hand[a] is a PlayStation 2 action beat 'em up video game developed by Clover Studio and published by Capcom. It was directed by Shinji Mikami, and was released in Japan and North America in 2006, and in 2007 for PAL territories. It was re-released for the PlayStation 3 as a PS2 Classics downloadable game on the PlayStation Network on October 4, 2011. Mikami's desire was to create the game for hardcore gamers intermixed with a large amount of comic relief. It initially received an overall mixed response from critics and sold only modestly upon its release in Japan. It was Clover Studio's final video game. The game has been generally well-received retrospectively, and is considered a cult classic.

        The game mixes western and Japanese-themed comedy, containing over-the-top characters and storyline events. The gameplay combines traditional elements of the beat 'em up genre with new features, these include being able to map and string together a large repertoire of fighting techniques to the gamepad's face buttons in order to create unique combo attacks. The plot follows a martial artist protecting his companion and wielding a legendary pair of divine arms called "God Hands", in order to save the world from demons.</p>
        <br>
        <br>
        <br>
        <br>
        <a href="/games">Games</a>
        <br>
        <a href="/">Go to the home-page</a>
</body>
</html>