<div class="flex-container goodthings">

  <div class="instructions">
    <h3>A very simple positive thinking exercise</h3>
    <button id="teach-btn">TEACH ME!</button>
    <p>Each night before you go to bed:</p>
    <ul>
      <li>1. Sit down for a while and look back at your day.</li> <br>
      <li>2. Think of 3 things that went well for you during the day.</li> <br>
      <li>3. Write down each positive event.</li>
    </ul>
  </div>

</div>