<section id="sample">
    <div class="nav"> {{> navMain}}</div>
    <div class="body">
        <div class="spotify">
                        <div>   
                <iframe src="https://open.spotify.com/embed/track/5h5tBFnbcVioFXiOixTn6E" width="450" height="570"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
        </div>
        <div class="biography">
                <h1>Kendrick Lamar</h1>
                <p>Kendrick Lamar Duckworth, who performs as Kendrick Lamar, was born in Compton, California, on June 17, 1987. 
                    <br><br>
                    After writing stories as a child, he put to music some lyrics about the rough Compton streets he grew up on. 
                    He rapped under the name K-Dot, releasing a series of increasingly popular mix tapes, which brought him to the attention of hip-hop super-producer Dr. Dre. Lamar's debut major-label recording, good kid, m.A.A.d City, was released to great acclaim and impressive sales for an up-and-coming recording artist. 
                    <br><br>
                    He continued to receive accolades for his 2015 album, To Pimp a Butterfly, and his 2017 follow-up, DAMN.; both won Grammys for Best Rap Album, while DAMN. also made history as the first of its genre to earn a Pulitzer Prize. </p>
        </div>
    </div>
    <div class="footer">{{> footerMain}}</div>
</section>