<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
    <nav>
        <ul class="ul-home">
            <li><a href="http://localhost:3000/home">Home</a></li>
            <li><a href="http://localhost:3000/historia">Historia</a></li>
            <li><a href="http://localhost:3000/logros">Logros</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Historia</h1>
    <section>
        <h2>Resumen</h2>
        <article>María del Rosario Espinoza (La Brecha, 29 de noviembre de 1987)
            es una deportista mexicana que compite en taekwondo. Campeona olímpica en Pekín 2008.1​2​</article>
    </section>
    <br>
    <hr>
    <section>
        <h2>Carrera Deportiva</h2>
        <article>El 23 de agosto de 2008 obtuvo la medalla de oro en los Juegos olímpicos de Pekín, venciendo a la noruega Nina Solheim por marcador de 3-1, proclamándose campeona de taekwondo en la modalidad de +67 kg, en el Gimnasio de la Universidad de Ciencia y Tecnología de Pekín.1​ siendo la segunda mujer mexicana en conquistar una medalla de oro en Juegos Olímpicos
             después de la levantadora de pesas Soraya Jiménez que previamente lo había logrado en Sídney 2000.<br>
             Es la segunda deportista mexicana, después de Ernesto Canto, que gana todas las competencias del denominado ciclo olímpico, solo que a diferencia del primero, Espinoza no lo realizó en el mismo periodo.</article>
    </section>
    <br>
    <hr>
    <div class="img-home">
        <img src="/images/maria_historia.jpg" alt="">
    </div>
</body>
</html>