<div class='history'>
    <h3>History</h3>
    <h5>Education and Career</h5>
    <p>Born in 1984.</p>
    <p>Studied as an undergraduate at the University of Science and Technology of China.</p>
    <p>Recieved his Ph.D. in Texas at the Rice University followed by a postdoc in gene-editing technology at Stanford.</p>
    <p>Opened a lab at the Southern University of Science and Technology in China.</p>
    <p>Started biotech and investment companies with help from state funding.</p>
    <p>Following his controversial experiment involving editing of human genes, authorities suspended his research activities.</p>
</div>
