<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>God of war</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <header class="container">
        <div class="row">
            <div class="revera-site col-sm-4">
                <a href="/"><img src="/images/logo.png" alt="god-of-war" id="logo"></a>
            </div>

            <div class="col">
                <ul class="navbar"></ul>
                <a class="navbar-brand" href="/about">About</a>
                <a class="navbar-brand" href="/galery">Galery</a>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">God of war</h5>
                <p class="card-text">The story is told mostly in flashback, after being framed with a scene from the present wherein Kratos, standing atop
                the tallest cliff in Greece, laments how the gods have abandoned him and then proceeds to toss himself into the waters
                below.
                
                While the player starts the game three weeks prior to this event, Kratos' background is told by the Narrator during the
                game (revealed to be the Titan Gaia in God of War II). Kratos was a fearsome Spartan warrior and grew his fifty-man
                squad into an army of thousands via strategy, tactics, ferocity, and conquest. However, in a battle against a barbarian
                horde, his army was massacred, and, in a desperate measure, Kratos offered his life and service to Ares, the God of War,
                in exchange for Ares defeating the Barbarians. Ares, sensing the enormous power in Kratos, accepted his offer and
                destroyed the Barbarians. He also granted Kratos the Blades of Chaos, curved blades forged in the pits of Hades that
                were attached to long chains which were fused to Kratos' arms.
                
                Kratos then became Ares' servant, leading his Spartan army in conquering much of Greece. In one battle, they came across
                a village that worshiped Athena and put the residents to the sword, and their homes to the flame. There, Ares put Kratos
                into a rage driven by bloodlust, making him kill anyone standing in his way. Despite his own foreboding feelings and the
                warnings of the local oracle, Kratos entered the village's temple and slaughtered all within. Unfortunately, after his
                blood-lust cleared, he realized that his two last victims had been his own wife and daughter; Ares explained that this
                village had been a test of Kratos' power, severing the last of his humanity. The village Oracle cursed Kratos, binding
                the ashes of his dead family to his skin; this new pale coating gave rise to Kratos' new title, "the Ghost of Sparta."
                and it made everyone in Greece fear him. Kratos renounced his service to Ares and began to wander the Earth, lamenting
                his deeds, while serving the other gods of Olympus for ten years.</p>
            </div>
            <img src="/images/galery/god-of-war.jpg" class="card-img-bottom" alt="...">
        </div>
    </div>
</body>

</html>