<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>HOBBIES</h1>
    <h2>Traveling</h2>
    <div>
        <img src="/images/travel4.jpg" alt="Moos Travel">
        <img src="/images/travel3.jpg" alt="Moos Travel">
        <img src="/images/travel1.jpg" alt="Moos Travel">
        <img src="/images/travel2.jpg" alt="Moos Travel">
    </div>

    <p>Moos is also good at sleeping, digging and posing for pictures</p>
        <br>
    <p>Want to see more of Moos? Click the photo-gallery link!</p>
        <br>
    <div>
        <li><a href="/about">About</a></li>
        <li><a href="/photo-gallery">Photo-gallery</a></li>
    </div>  
</body>
</html>