<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1><a href="/">DIETER RAMS</a></h1>
        {{!-- Menú --}}
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/work">Work</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="hero-color">
            <h2>Dieter Rams</h2>
            <div class="about-home">
                <p>
                    Dieter Rams (20 de mayo de 1932, Wiesbaden Alemania - ) es un diseñador industrial alemán,
                    cercanamente
                    asociado a la compañía de productos de consumo Braun.
                </p>
                <div>
                    <a href="/about" class="btn">About</a>
                    <a href="/work" class="btn">Work</a>
                </div>

            </div>
        </div>
    </div>




    <script src="js/index.js"></script>
</body>

</html>