<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <h1>Welcome, visitor!</h1>
    <h2>You've come to the home of Willow Rosenberg</h2>
    <section>
        <div>
            <p>Check out some information about her:</p>
            <ul>
                <li><a href="about">About Willow Rosenberg</a></li>
                <li><a href="works">Works</a></li>
                <li><a href="gallery">Photo Gallery</a></li>
            </ul>
        </div>
    </section>
</head>
<body>
    
</body>
</html>