<h1>Welcome on my website about Unique Travel Experience</h1>

<h2>This Website is all <a href="/about">about</a> Beautiful travel Places ! </h2>

<ul>
    {{#each placeToVisit}}
    <li>{{this}}</li>
    {{/each}}
</ul>