<section class="home bg">
        <div class="title-txt">
            <h1 class="title">{{player.firstName}} {{player.lastName}}</h1>
            <h3 class="home-p"> This <strong>{{player.nationality}}</strong> <span class="job-title"><strong> {{player.position}} </strong></span>  is one of the world best volleyball player. 
            <br>Let us see why.
            </h3>
        </div>
        <div class="home-div">
            <img src="img/people-WD-framework.png" alt="2 Web developers illustration">
        </div>
    </section>