<div class="container-fluid">
<h1>This is my home page</h1>
<h2>Being Santa is not easy, I really only like the summer time</h2>
<img src="/images/slider-4.jpg" class="img-fluid" alt="Responsive image">
</div>