
    

<section id="container">

<div>
    {{>nav_bar}}
</div>


    <h2>
        {{#each users}}
        Welcome {{users.firstName}}
        {{/each}}
    </h2>

    <div class="text">

    <h2>Let's talk about Ergonomics</h2>

    <h3>What is it?</h3>

<p>The scientific study of people and their working conditions, especially done in order to improve effectiveness:
A specialist in ergonomics will work with the team designing the production line in our new factory.
The ergonomics of the new office furniture have reduced eyestrain and back problems among the computer users.</p>

    <h3>Why is it important?</h3>
<p>Ergonomics is important because when you’re doing a job and your
body is stressed by an awkward posture, extreme temperature, or
repeated movement your musculoskeletal system is affected. Your
body may begin to have symptoms such as fatigue, discomfort,
and pain, which can be the first signs of a
musculoskeletal disorder</p>

<h3>What are the advantages of ergonomics?</h3>
<ol>
    <li>Increased savings</li>
            <ul>
                <li>Fewer injuries</li>
            <li>More productive and sustainable employees</li>
            <li> Fewer workers’ compensation claims</li>
            </ul>
<li>Fewer employees experiencing pain</li>
            <ul>
                    <li> Implementing ergonomic improvements can reduce the risk factors that lead to discomfort.</li>
           </ul>

<li>Increased productivity</li>
            <ul>
            <li> Ergonomic improvements can reduce the primary risk factors for MSDs, so workers are more
            efficient, productive, and have greater job satisfaction. </li>
            </ul>

<li> Increased morale</li>
            <ul>
            <li>Attention to ergonomics can make employees feel valued because they know their employer is making
            their workplace safer. </li>
            </ul>

<li> Reduced absenteeism</li>
        <ul>
                    <li>Ergonomics leads to healthy and pain-free workers who are more likely to be engaged and productive.</li>
        </ul>

</ol>

</div>



</section>

