<main id="home">
  <div class="main-container">
    <img class="portrait-img" src="/img/bio-intro.jpg" alt="David Attenborough portrait">
    <h1 class="main-title"> <span>Sir</span><span>David</span><span>Attenborough</span></h1>
  </div>
  <div class="main-links">
  <ul>
    <li><a href="/about">About <i class="fas fa-chevron-right"></i></li></a>
    <li><a href="/works">Works <i class="fas fa-chevron-right"></i></li></a>
    <li><a href="/gallery">Gallery <i class="fas fa-chevron-right"></i></li></a>
  </ul>
  </div>
</main>