
{{!-- logo of the site --}}
<img src="" alt="logo">

{{!-- helps to locate to the next page for example --}}



{{!-- shortly what the site offers and in parag a clear description of the website/business-2-3 sentences --}}

<h1>Welcome headline </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Maiores, quaerat, mollitia vero labore nobis repellendus necessitatibus veritatis
    maxime sed accusantium odio saepe molestias rerum
    inventore nihil dolores aliquam earum provident.
</p>

{{!-- call to action buton, example to read more on travel page --}}
<button >Read more </button>
{{!-- a brief summary of your website + some image for visual --}}
<p>some text content </p>
<img src="" alt="">

{{!-- contact info, social media display ,next page --}}
<footer></footer>