<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="home">Rob.JS</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="works">Works</a></li>
                    <li><a href="gallery">Gallery</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container" class="clear">
            <!-- Slider -->
            <section id="slider"><a href="#"><img src="https://media.giphy.com/media/ftdEPX8jF6SvC/giphy.gif"
                        alt=""></a></section>
            <!-- main content -->
            <div id="homepage">
                <!-- Introduction -->
                <section id="intro" class="last clear">
                    <article>
                        <figure>
                            <figcaption>
                                <h2>Because Rob is fun!</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur delectus
                                    reprehenderit voluptates possimus odio maiores vero et nobis in accusantium ipsa
                                    dolorem nulla voluptatum, laudantium asperiores fugit optio, magnam repudiandae!
                                </p>

                                <footer class="more"><a href="about">Read More &raquo;</a></footer>
                            </figcaption>
                        </figure>
                    </article>
                </section>
                <!-- / Introduction -->
            </div>
            <!-- / content body -->
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row3">
        <div id="footer" class="clear">
            <!-- Section One -->
            <section class="one_quarter">
                <h2 class="title">Link to a site</h2>
            </section>
            <!-- Section Two -->
            <section class="one_quarter">
                <h2 class="title">Link to another site</h2>
            </section>
            <!-- Section Three -->
            <section class="one_quarter">
                <h2 class="title">Maybe is a link</h2>
            </section>
            <!-- Section Four -->
            <section class="one_quarter lastbox">
                <h2 class="title">Maybe not</h2>
            </section>
            <!-- / Section -->
        </div>
    </div>
</body>

</html>