<h1>Welcome to The Foodbook</h1>

<p>The aim of The Foodbook is to make an inventory of good food places. We selected for you a bunch of adresses where you can buy or eat fresh good food.</p>

<img src='IMG/home-pic.jpeg' alt="home-image">