<div class="home">
     <h1>Welcome to Claire's</h1>
     <p>
          I am currently a web-dev student. <br> I am passionate about coding of course but also music :) <br>
          I love writing, composing, producing, mixing and arranging songs!
     </p>
</div>