<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Página express </title>
</head>

<body>
    <h1>Bienvenidos a la página</h1>
    <h2>Hablaré un poco, solo un poco sobre mi.</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    Fusce vestibulum enim id egestas vulputate. Donec id lacus tempus, sus
    <p>cipit nibh vel, molestie nisi. Cras semper dui quis leo lobortis feugiat.perdiet, malibero, sed euis</p>



    Puedes ver más información a continuación.
    <a href="/About">
        About me 
    </a>

</body>

</html>