<main>
    <div class="header">
        <h1>I.C.E.C.R.E.A.M</h1>

        <article> Explanation of the anagram/accronym</article>


    </div>
    <div class="judges">

        <div class="first-judge">
            <img src="" alt="First judge's photo">
            <h2>Judge 1</h2>
            <p>Small description</p>

        </div>
        <div class="second-judge">
            <img src="" alt="Second judge's photo">
            <h2>Judge 2</h2>
            <p>Small description</p>

        </div>

    </div>



    <div class="fun-fact">

        <div>
            <img src="" alt="1" />
        </div>
        <div class="fact-txt">
            <p>Fun fact</p>
            <!--If we are advanced enough, this is the part that could 
                dynamically change after each refresh of the webpage-->
            <p>1 in 10 people admit to licking the bowl clean after eating ice-cream</p>
        </div>
        <div>
            <img src="" alt="2" />
        </div>
    </div>
    <div class="btn">
        <button id="next-btn">Access to the final ranking</button>
    </div>
</main>