<div id="main-block">
    <h1 id="welcome">Welcome to our first Express project!</h1>
    <img class="flag" src="img/argentina.png" alt="argentina-flag">
    <img class="flag" src="img/china.png" alt="china-flag">
    <img class="flag" src="img/france.png" alt="france-flag">
</div>