{{>navbar}}
<h1>This website is a tribute to Ronaldinho</h1>

<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit incidunt esse natus ad consequuntur dolor quam debitis atque velit aliquid, cumque cupiditate voluptate at reprehenderit, fugiat mollitia. Odio, assumenda laborum.</div>
{{>footer}}