<html>

<head>
       <link rel="stylesheet" type="text/css" href="/css/style.css">

 
</head>

<body>
{{>nav}}
<h1>Hi this site is about Greta Thunberg</h1>
<div class='homeimage'>
<img  src="/images/greta1.jpg" alt="My_Logo">
</div>

</body>

</html>