<div class="jumbotron text-center">
    <img src="/img/fabien.jpg" alt="Fabien" id="author">
    <h1>{{user.name}} {{user.lastname}}</h1>
    <p>Learning Web development</p>
</div>
<div class="flex h-center container column">
    <h3 class="h-center flex">Currently following a BootCamp in web developpment</h3>
    <br>
    <p class="flex h-center"> After 10 years working for a software editor i wanted to do a uturn a become a web
        developper</p>
</div>