<section id="hero">
    <div id="title">
        <h1>FAMILY OVER MONEY</h1>
        <h3>Brasil looks cool but it is not with the kind of money you will make with us that you will go there one day.</h3>
        <button>Open an account</button>
    </div>
</section>