{{>header }}
<h1 class="title">HOME</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi repellendus, minima nihil corrupti in praesentium! Natus, ullam excepturi animi corporis architecto porro a neque, modi totam adipisci, commodi quos? Voluptates, magnam. Qui ratione, perferendis delectus voluptatibus repellendus corrupti velit sed quas soluta quaerat deleniti.</p>

<button>ABOUT</button>
<button>WORKS</button>

<div>
    <a href="/about" class="link">ABOUT</a>
    <a href="/works" class="link">WORKS</a>
</div>



{{>footer }}
