<section id="bg-img">


    <section id="banner">
        <h1 class="title">
            Terry Prachett</h1>
    </section>

    <section id="presentation">
        <img class="home-img" src="./img/homeTerryPratchett.jpg" alt="Terry Pratchett with a pig" />
        <div class="text">
           <p>Sir Terence David John Pratchett was an english author of fantasy novels. <br> He is best known for his "Discworld series of 41 novels.</p>
           <p><i>'Multiple exclamation marks,' he went on, shaking his head, 'are a sure sign of a diseased mind.'</i> <br>Terry Pratchett, Eric.</p>
    </section>
    <section></section>
</section>