<div class="main container-lg text-secondary text-center">
    <h1 class="title">
    Donald Glover
    </h1>
    <h2 class="subtitle">
    Childish Gambino
    </h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Donald_Glover_TIFF_2015.jpg" class="img-fluid rounded border border-5 mx-auto d-block" alt="Donald Glover" width="200" />
</div>