<form id="location-form" class="location-container">
    <input placeholder="enter a location" type="text" class="location-input">
    <a href=""><button class="search-btn"> search </button></a>
</form>

{{> weatherWidget}}