<h1>welcome to my supa company</h1>
hello {{user}}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit at nobis quis dignissimos animi debitis, distinctio qui explicabo facere culpa magni omnis similique adipisci ipsam ducimus neque eligendi ullam in.
</p>
<ul>
{{#each users}}
    <li></li>
{{/each}}
</ul>
