 
  <div class="main">
    <div>    <h1>Hange zoë</h1>
      <p>"If there's something you don't understand, <span>learn to understand it</span>. It's well worth any risk to our lives. <span>Screw your inferiority complex</span>. Don't run from reality."
      <br>----character from <span>'Attack on titans'</span> </p></div>
 
    <img src="img/hanjistyle.png" alt="hanjipose">

  </div>
  