<div id="home-description">
    <h1 class="title">
        Philippe Buteau
    </h1>
    <p class="descriptive">Currently enrolled in the Iron Hack Web Development Bootcamp, I wish to become a great
        developer.
    </p>
</div>