<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
</head>

<body>
    <div class="container">
        <%- include('partials/header'); -%>

            <img src="assets/welcome.jpg" class="img-fluid" alt="Responsive image">

            <%- include('partials/footer'); -%>
                <%- include('partials/scripts'); -%>
    </div>
</body>

</html>