<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>

    
    <nav>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Photo-gallery</a>
          </div>
    </nav>
    <h1>WELCOME to the STANLEY KUBRICK Fanpage</h1>
    <div class = "stanleyFace">
        
 
    <img src="/assets/kisspng-stanley-kubrick-the-shining-the-short-timers-film-clockwork-group-5b213a9c9d41b1.8874524715289043486441.png" alt="Stanley Kubricks Face">
    <div class = "quote">
        
        <p>  “I do not always know what I want, but I do know what I don't want.”
        ― Stanley Kubrick
    </p> 
</div>
    </div>   
</body>
</html>