<div id="home-game-selection" class = "center">
    <a href="/bloodborne"><img src="images/bloodborne-bosses.png" alt="bloodborne-link"></a>
    <a href="/dark-souls-1"><img src="images/dark-souls-bosses.png" alt="bloodborne-link"></a>
</div>