<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
</head>

<body>
    <header>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/about">
                <li>About</li>
            </a>
            <a href="/works">
                <li>Works</li>
            </a>
            <a href="/photogallery">
                <li>Photo Gallery</li>
            </a>
        </ul>

        <main>
            <section class="main-section">
                <h1>Marilyn Monroe</h1>
                <figure><img src="/img/marilyn-monroe.jpg"> </figure>
                <p>Norma Jeane Baker (nacida como Norma Jeane Mortenson; Los Ángeles, California, 1 de junio de
                    1926-ib., 4
                    de
                    agosto de 1962), más conocida como Marilyn Monroe, fue una actriz de cine, modelo y cantante
                    estadounidense,
                    una de las más populares del siglo XX, considerada como un símbolo sexual y un icono pop. 2​3​

                    En 1945, empezó a trabajar como modelo4​5​ y años más tarde inició su carrera en Hollywood con el
                    nombre
                    artístico de Marilyn Monroe. Desde finales de la década de 1940, apareció en muchos pequeños
                    papeles,
                    gracias a un contrato con la 20th Century Fox; durante esa etapa, destacan sus participaciones en La
                    jungla
                    de asfalto (The Asphalt Jungle; 1950), y Eva al desnudo (All About Eve; 1950). Su primer papel
                    protagonista
                    lo obtuvo en la cinta de 1952 Don't Bother to Knock. Alcanzó su período de mayor popularidad a
                    partir
                    del
                    año siguiente, cuando protagonizó películas como Los caballeros las prefieren rubias (Gentlemen
                    Prefer
                    Blondes; 1953); Cómo casarse con un millonario (How to Marry a Millionaire; 1953) y The Seven Year
                    Itch
                    (La
                    comezón del séptimo año, en México y Argentina, y La tentación vive arriba, en España; 1955). Tras
                    matricularse en el Actor's Studio, fue alabada por la crítica por su trabajo en Bus Stop (1956). En
                    1954, en
                    colaboración con el fotógrafo Milton Greene, fundó la Marilyn Monroe Productions.6​ Su protagonista
                    más
                    elogiado fue el de Sugar Kane para la película de Billy Wilder Con faldas y a lo loco (Some Like it
                    Hot;
                    1959), por el que ganó un Globo de Oro a la mejor actriz de comedia o musical.7​ En sus últimos
                    años,
                    actuó
                    en películas como El multimillonario (Let's Make Love; 1960) y Vidas rebeldes (The Misfits; 1961),
                    escrita
                    por su marido Arthur Miller. </p>
            </section>
        </main>

    </header>
</body>

</html>