<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>Martin Luther King</h1>
        </div>

        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Works">Works</a></li>
            <li><a href="/Gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="intro">
      <div class="container dark-bg"></div>
    </section>
    <section id="parent">
      <div class="container">
        <h2>Once upon a time A Great Leader..</h2>
        <p>
          A young boy who grew up in a time of segregation.
        </p>
        <p>
          A dreamer who was moved by destiny into leadership of the modern civil
          rights movement.
        </p>
        <p>
          This was Martin Luther King, Jr. Here you can find his biography, read
          his story,and learn more about his fight for freedom.
        </p>
      </div>
    </section>
    <footer>
      <p>Copyright &copy; 2020</p>
    </footer>
  </body>
</html>
