<h1>{{title}}</h1>

<section>
    <img src="/img/charlotte.jpg" alt="Charlotte Perriand femme engagée">
    <hr>

    <p> Architect, designer, feminist and militant. She is a pioneer of modernity and one of the leading personalities
        of the 20th century design world who helped define a new way of life.
        She had always worked, thinking design and functionality together.

        <h3> She loved to say: "On ne peut pas créer si on ne connait pas l'usage".</h3>



    </p>

</section>