<h1>{{montruc}}</h1>
{{> myPart  foo='Franck Treboit on the web'  }}



<h2>Réseaux Sociaux</h2>



<h3><a href="https://www.instagram.com/treboitfranck/" target="_blank">Instagram</a></h3>
<h3><a href="https://www.facebook.com/treboit.franck" target="_blank">Facebook</a></h3>
<h3><a href="https://www.youtube.com/watch?v=f5jLAjNyaDw" target="_blank">You Tube</a></h3>


<h2><a href="https://www.atomisation.net" target="_blank">https://www.atomisation.net</a></h2>


