<h1>Amy Adams</h1>
<p>Amy Adams is an American actress. Known for both her comedic and dramatic performances, she has placed three times in annual rankings of the highest-paid actresses in the world. Her accolades include two Golden Globes, and nominations for six Academy Awards and seven British Academy Film Awards.</p>

