<section id="section-3">
     <div id="box-2">
        <img src="/images/3joe.jpg" alt="joe">
    </div>
    <div id="box-1">
        <h1>won american election</h1>
        <h2>Joe Biden</h2>
        <h3>usa 2020 election</h3>
        <p>Joseph Robinette Biden Jr. born November 20, 1942 is an American politician and the president-elect of the
            United States. </p>
    <a class="button" href='http://localhost:3000/about'>Know more</a>
    </div>
</section>

<aside>Basic site made by Milande and Anojan</aside>