<div id="main-container">

    <header>
        <img class="logo" src="/image/logo.png" alt="psg logo">
    </header>

    <img class="psg" src="/image/psg.jpg" alt="psg picture">

    <div class="dates">
        <ul>
            <li>Manchester Uited - Parsi-SG 02 dec 2020 9:00pm</li>
            <li>Monpellier - Parsi-SG 05 dec 2020 9:00pm</li>
            <li>Istanbul - Parsi-SG 08 dec 2020 9:00pm</li>
            <li>Lyon - Parsi-SG 13 dec 2020 9:00pm</li>
            <li>Lorient - Parsi-SG 16 dec 2020 9:00pm</li>
            <li>Lille - Parsi-SG 20 dec 2020 9:00pm</li>
        </ul>
    </div>

    <div class="articles">

        <div class='item'>
            <img class="image" src="/image/article_1.jpg" alt="article image">
            <h4>Veille de match en direct depuis Old Trafford à partir de 18h45</h4>
        </div>

        <div class='item'>
            <img class="image" src="/image/article_2.jpg" alt="article image">
            <h4>Le programme de la 5e journée de l'UEFA Champions League</h4>

        </div>

        <div class='item'>
            <img class="image" src="/image/article_3.jpg" alt="article image">
            <h4>Leandro Paredes se confie à PSGTV</h4>

        </div>

    </div>

    <div class="e-commerce">

        <div class='clothes'>
            <img class="clothesImg" src="/image/shirt_1.jpg" alt="shirt image">
            <h4>White Shirt</h4>
            <button></button>
        </div>

        <div class='clothesImg'>
            <img class="image" src="/image/shirt_2.png" alt="shirt  image">
            <h4>Blue Shirt</h4>
            <button></button>

        </div>

        <div class='clothesImg'>
            <img class="image" src="/image/shirt_3.png" alt="shirt image">
            <h4>Red Shirt</h4>
            <button></button>

        </div>

    </div>

    <footer>bye</footer>

</div>