<div id="bg">
<div class="container">
    <h1 class="title">A brief website about stoisism.</h1>

    <p>Stoicism is a wisdom philosophy.<br>A philosophy about 
    how to live life and live it well.

    <section>
        <h2>Stoicism</h2>
        <h3>ˈstəʊɪsɪz(ə)m</h3>
        <p>Stoicism was designed to help people live their best possible lives. It’s a philosophy of life that maximizes positive emotions, reduces negative emotions and helps individuals to hone their virtues of character.

In any situation, and at any stage of life, Stoicism provides a framework for living well. It reminds people of what is truly important, providing practical strategies to get more of what is valuable.

It was deliberately created to be understandable, actionable and useful. Practicing Stoicism doesn’t require learning an entirely new philosophical lexicon or meditating for hours a day. Instead, it offers an immediate, useful and practical way to find tranquility and improve one’s strengths of character.</p>
    </section>

    <div class="gallery">
        
    </div>
</div>
</div>