<h1>Welcome to Yummy Tummy, your ultimate travel food guide!</h1>

<p id="intro">Here, you will be able to read about Dundun and Little DimSum's favorite "restaurants". By restaurants, they mean any place were you can purchase food that will reasonnably make your belly and consequently, you happy :)</p>
<p id="explanation">Dundun and Little DimSum love to travel and discover all sort of food from around the world - one of their favorite activities is multi diners day, where they hit many restaurants in the afternoon and evening until their bodies can't take it anymore.</p>
<p>Below is a list of their favorite cities. Click on the links and you'll find out where to go for great delights!</p>
<Ul>Restaurants:
    <li><a href="">Florence, Italy</a></li>
    <li><a href="">Seatle, USA</a></li>
    <li><a href="">Tokyo, Japan</a></li>
    <li><a href="">Kyoto, Japan</a></li>
</Ul>
