<h1>Welcome</h1>
<section>
    <img class ="top-image" src="img/analog-photography.jpg" alt="analog photo illustration">
    <article>
        <p>This website is dedicated to travel photography</p>
        <p>We will travel around France and Europe</p>
    </article>
</section>