<h1>Hi there!</h1>
<p>This website is a school project. We were asked to build a website about someone we admire (or something we love).</p>
<p>So I'm going to talk to you about Kevin Smith, who is my favourite director! Yay!</p>
<img src="https://media.giphy.com/media/3oFzmlx6QwFbiJG2qI/giphy.gif" alt="Kevin Smith thumbs up">