<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.min.css">

  <title>Fernando alonso</title>
</head>
<body>
    <div class="background">

  <main>
    <header class="hero">
<h1>Fernando Alonso Homepage</h1>
</header>
<p>fernando is one of the best Formula 1 drivers of the history, to know more about him hit here:</p>
<hr>
<div class="redirect"><a href="/about" class= "e1">History of Alonso</a>
<a href="/gallery" class= "e2">Gallery of his cars</a></div>
</main>
</div>
<script src="/js/main.js"></script>
</body>
</html>