<div class="container d-flex flex-column justify-content-center align-items-center">
    <img class="w-25 p-3" src="/images/Pink.jpeg" />
    <h1>Welcome to the page of the singer P!Nk</h1>
    <p>Check out our Gallery!</p>
</div>