<div class="banner">
  <div class="text">
    <span>Claire Littlefair is a writer, editor, and photographer based in Paris.</span>
  </div>
  <div class="image">
    <img src="/images/headshot.png" alt="claire littlefair">
  </div>
</div>
<div class="container">
  <p>
    Hi there, I'm Claire. I'm the former deputy editor of <em>Mindful</em> magazine, an American magazine about
    meditation with a circulation of 120,000. There, I managed editorial operations and, at some point or another,
    conducted almost every editorial
    responsibility myself — including ideation, assigning, and feature writing.
  </p>
  <p>
    I'm a constructive and meticulous editor, specializing in magazines, books, reports, and web content. As a writer, I
    produce clear and engaging copy that balances practicality, humor, and a sense of wonder.
  </p>
  <p>
    I am a traveler with a love of photography, and you can often find me wandering the streets of a new city with my
    camera. Professionally, I have a penchant for portrait photography, and I've done portraits for many happy clients.
  </p>
  <p>
    I've worked as a documentary researcher, an educational website manager, and a magazine founder. I also have a love
    of food, and studied cooking at the Natural Gourmet Institute in New York.
  </p>
</div>