<div class="title">
    <h1>STREET<br>PHOTOGRAPHERS</h1>
</div>

<div id="main-container" class="margin-home">
    <section class="photographers col-left row-1" class="flex">
        <a href="#"><img src="img/brassai_main.jpg" alt="brassai photo paris" ></a>
        <a href="#" class="name">Brassaï</a>
    </section>

    <section class="photographers col-right row-2" class="flex">
        <a href="#"><img src="img/vivian_maier_bd.jpg" alt="vivian maier photo" ></a>
        <a href="#" class="name">Vivian Maier</a>
    </section>
    
    <section class="photographers col-left row-3" class="flex">
        <a href="#"><img src="img/martin-parr.jpg" alt="martin parr photo" ></a>
        <a href="#" class="name">Martin Parr</a>
    </section>

    <section class="photographers col-right row-4" class="flex">
        <a href="#"><img src="img/joel-meyerowitz.jpg" alt="joelmeyerowitz photo" ></a>
        <a href="#" class="name">Joel Meyerowitz</a>
    </section>
</div>