<h1>This is a test</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quisquam eum numquam veritatis mollitia, nulla cupiditate praesentium earum laborum laudantium voluptatum quidem nostrum veniam optio. Repellat assumenda velit iusto accusamus.</p>
<section class="container">
    <div class="box">
        <h2>One</h2>
        <p>This is a text.</p>
    </div>
    <div class="box">
        <h2>Two</h2>
        <p>This is a text.</p>
    </div>
    <div class="box">
        <h2>Three</h2>
        <p>This is a text.</p>
    </div>
</section>