<div class = "container d-flex flex-column justify-content-center align-items-center">
    <img class = "w-25 p-3" src="/images/katyazamo.jpeg"/>
    <h1>Welcome to Yekaterina Petrovna Zamolodchikova's page!</h1>
    <p>Check out our Gallery!</p>
</div>
