<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Sinek</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to Simon Sinek's webpage!!!</h1>
    <ul class="ul">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a>></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photogallery">Photo Gallery</a></li>
    </ul>
</body>
</html>