<h1 class="travel">Where will you go?</h1>

<div id="megabox">

<div id="container">
    <div class="image">
    <a href="#"><img src="/images/Jeonju.png" alt="Jeonju"></a>
    <div class="overlay">
    <div class="text">JEONJU <br><span>전주</span></div>
    </div>
</div>

    <div class="image">
    <img src="/images/Seoul.png" alt="Seoul">
    <div class="overlay">
    <div class="text"><a href="/about">SEOUL<br><span>서울</span></a></div>
    </div>
</div>

<div class="image">
    <a href="#"><img src="/images/AroundSeoul.png" alt="Around Seoul"></a>
    <div class="overlay">
    <div class="text">AROUND <br>SEOUL</div>
    </div>
</div>

<div class="image">
    <a href="#"><img src="/images/Daegu.png" alt="Daegu"></a>
     <div class="overlay">
    <div class="text">DAEGU<br><span>대구</span></div>
    </div>
</div>    

<div class="mapKorea">
<img src="/images/MapSK.png" alt="Map of South Korea">
<div class="iconSeoul"><img src="/images/MapIcon.png" alt="Icon"></div>
<div class="iconJeonju"><img src="/images/MapIcon.png" alt="Icon"></div>
<div class="iconBusan"><img src="/images/MapIcon.png" alt="Icon"></div>
<div class="iconGyeongju"><img src="/images/MapIcon.png" alt="Icon"></div>
<div class="iconJeju"><img src="/images/MapIcon.png" alt="Icon"></div>
<div class="iconDaegu"><img src="/images/MapIcon.png" alt="Icon"></div>
</div>

<div class="image">
    <a href="#"><img src="/images/KoreanFood.png" alt="Korean Food"></a>
       <div class="overlay">
    <div class="text">KOREAN<br>FOOD<br><span>한국 음식</span></div>
    </div>
</div>    

<div class="image">
    <a href="#"><img src="/images/Jeju.png" alt="Jeju Island"></a>
       <div class="overlay">
    <div class="text">JEJU<br>ISLAND<br><span>제주도</span></div>
    </div>
</div>  

<div class="image">
    <a href="#"><img src="/images/Gyeongju.png" alt="Gyeongju"></a>
       <div class="overlay">
    <div class="text">GYEONGJU<br><span>경주</span></div>
    </div>
</div>   

<div class="image">
    <a href="#"><img src="/images/Busan.png" alt="Busan"></a>
       <div class="overlay">
    <div class="text">BUSAN<br><span>부산</span></div>
    </div>
</div>    

</div>


