<h1>Welcome</h1>
<section>
    <article>
        <p>This website is dedicated to analog photography</p>
        <p>We'll cover famous photographs since the invention of the first camera</p>
        <p>Then we'll see its status in todays society</p>
    </article>
</section>