

<main>
    <p>Here we have fun facts about some cats through history.</p>
    <p>Everything you need to worshipped your cat</p>
    <p>but first, let me introduce ... </p>
</main>
<div class="catImg">
    <h3>The mighty Queen Catoria</h3>
    <img src="/assets/img/catoria.jpeg" alt="Queen Catoria">
</div>