<div id="main-block">
    <h1 id="welcome">Welcome to our first Express project!</h1>
    <div id="flags-home">
        <a href="/argentina"><img class="flag" src="img/argentina.png" alt="argentina-flag"></a>
        <a href="/china"> <img class="flag" src="img/china.png" alt="china-flag"></a>
        <a href="/france"> <img class="flag" src="img/france.png" alt="france-flag"></a>
    </div>
</div>