<header >
    <img class="background-image" src="css/images/map-background.jpg" alt="background">
    <div class"overlay">
        {{!-- <h1>Chocolate Trips</h1>
        <img class="chocolate-image" src="css/images/chocolate.jpg" alt="Chocolate Sundays"> --}}
    </div>
</header>