{{> nav}}
<div class= "container">
    <div class= "col col-lg">
        <h1>Cristiano Ronaldo</h1>

        <img src="lionel-messi.jpg" alt="Messi" id="messi" class= "land-page-img img-fluid rounded mx-auto d-block ">

        <h5 class= "">This is not Cristiano Ronaldo</h5>
        <p class = "lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate commodi quisquam iusto autem. 
            Maiores odit labore natus aperiam esse! Veniam saepe suscipit 
            laudantium molestiae totam magni assumenda amet architecto explicabo?</p>
        <h5>This is Cristiano !!</h5>
        <img src="cristiano ronaldo.webp" alt="Cristiano Ronaldo" class= "land-page-img img-fluid rounded mx-auto d-block">
    </div>
</div>