<main id="home">
  <h1 class="main-title">Sir David Attenborough</h1>
  <div class="main-container">
    <img class="portrait-img" src="/img/bio-intro.jpg" alt="David Attenborough portrait">

    <ul class="main-links">
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>

  </div>
</main>