
<section>
    <div id="header">
        <img src="/images/header-pic.jpg" alt="Sam Harris">
    </div>
    <div id="content">
        <div>
            <h1>Welcome to the information site of Sam Harris</h1>
        </div>
        <div id="about" class="feetured">
            <h3 class="content-title"><a href="/about">His life</a></h3>
            <p>Learn more about him,his family, and his education.</p>

        </div>
        <div id="work" class="feetured">
            <h3 class="content-title"><a href="/work">His work</a></h3>
            <p>Learn more about his books, his blog, his podcast, and his app</p>

        </div>
        <div id="gallery" class="feetured">
            <h3 class="content-title"><a href="/gallery">Gallery</a></h3>
            <p>Brows through photos of Sam harris, his podcast guests and his hosts in different events.</p>

        </div>
    </div>
    

</section>







