<h1 class="title">Elections 2020</h1>

<p>
    And the next President of the United States of America is .
</p>

<h2 class="second-title">Joe Biden</h2>

<img class="joe3" src="/images/3joe.jpg" />

<button class=“buttonStyled” type=“button”>
    Know more
</button>

<p>
    Joseph Robinette Biden Jr. born November 20,
    1942 is an American polit ician and the
    president-elect of the United States.
</p>


<aside>Basic site made by Milande and Anojan</aside>