
<div class="window">

<div class="main">


    


    <img src="/images/PKD-portrait.jpg" class="image">
<div class="text">
    <h2>PHILIP K. DICK</h2>
    <p>More human than human</p>
  

</div>

</div>

</div>