<div class="container">
    <div>
        <h1>Welcome to you,<br>Curious people of the Internet!</h1>
        <h2>Let's learn a little bit about an inspiring artist:<br>Hayao
            Miyazaki.</h2>
    </div>
    <ul class="sideLinks">
        <li><a href="/about">Who is Hayao Miyazaki?</a>
        </li>
        <li><a href="/works">Famous works and films</a>
        </li>
        {{!-- <li><a href="/photogallery">Photo Gallery</a>
        </li> --}}
    </ul>
</div>
</div>