<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bruce Papadelis | (un)Official Fan Club</title>
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/apple/237/dog-face_1f436.png">
        <!-- Styles -->
        <link rel="stylesheet" href="/public/stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,700,900" rel="stylesheet">
        <!-- Scripts -->
    </head>
    <body>
        <section id="intro">
            <h1>Welcome to Bruce Papadelis' (un)Official Fan Club!</h1>
            <h2>Dog Model, Snorer, and house alarm dog. Also known as the sole <em><b>Black Lion from Jamaica 🇯🇲</b></em></h2>
            <img id="home-img" src="/public/images/bruce_home.jpg" alt="Bruce at home">
        </section>
        <section id="navigation">
            <a href="/views/about.html">About Bruce</a>
            <a href="/views/gallery.html">Gallery</a>
        </section>
        <footer class="footer">
            <p>2020 - Bruce Papadelis®</p> 
            <p>Built for education (and laughing) reasons only 🐶</p>
        </footer>
    </body>
</html>