<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <title>Home</title>
</head>

<body class="home-body">
    <h1>{{nombre}} {{apellido}}</h1>

    <p class="p-home">Nikola Tesla fue un físico, matemático, inventor e ingeniero eléctrico croata, nacido el 10 de julio de 1856 en
        Smiljan, y fallecido en Nueva York, EE. UU., el 7 de enero de 1943. Tesla es considerado una de las mentes más
        brillantes de la humanidad, que conjugaba el conocimiento con la sensibilidad.</p>
    <div class="botones-home">
        <button>
            <a href="/about">About</a>
        </button>
        <button><a href="/works">Works</a></button>
    </div>
</body>

</html>