<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />

    <!-- chargement de jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

    <title>Alton Ellis</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="nav-link"><a href="/" class="active">Home</a></li>
                <li class="nav-link"><a href="/biography" class="inactive">Biography</a></li>
                <li class="nav-link"><a href="/discography" class="inactive">Discography</a></li>
            </ul>
        </div>
    </nav>

    <header>
        <h1>ALTON ELLIS</h1>
        <p>Mr Soul of Jamaica</p>
    </header>

    <div class="container">
        
        <p class="parag-home">
                Alton Nehemiah Ellis OD <span class="yellow">(1 September 1938 – 10 October 2008)</span> <br/>was a Jamaican singer-songwriter. <br/>
                <br/>
                One of the innovators of rocksteady <br/>who was given the informal title <span class="yellow">"Godfather of Rocksteady"</span>. <br/>
                <br/>
                In 2006, he was inducted into the <br/><span class="yellow">International Reggae And World Music Awards Hall Of Fame</span>.
        </p>

        <h2>GALLERY</h2>

        <!-- <section class="images-row">
            <div class="images-container">

            </div>
            <div class="gallery-btn left-button"></div>
            <div class="gallery-btn right-button"></div>
        </section> -->

        <section class="images-row">
            <img src="/images/alton-1.jpg" class="margin-right-20"/>
            <img src="/images/alton-2.jpg" class="margin-right-20" />
            <img src="/images/alton-3.jpg" />
        </section>

        <section class="images-row">
            <img src="/images/alton-4.jpg" class="margin-right-20"/>
            <img src="/images/alton-5.jpg" class="margin-right-20" />
            <img src="/images/alton-6.jpg" />
        </section>

    </div>

    <footer></footer>
    
</body>
</html>