<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/style_home.css" />
  </head>
  <body>
    <h1>Dian Fossey</h1>

    <div class="buttons">
        <button class="btn"><a href="/about" class="link">About</a></button>
        <button class="btn"><a href="/work" class="link">Work</a></button>
        <button class="btn"><a href="/gallery" class="link">Gallery</a></button>
    </div>

  </body>
</html>
