<body>
    <div class="home">
        <img class="photo-homepage" src="/images/mylene3.jpg">
        <button class="sing"><a href="https://www.mylene.net/modules/index.php?r=20">Visit Mylène's Official
                Page</a></button>

    </div>
</body>