<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette|Lobster&display=swap"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"/>
        <link rel="stylesheet" href="/css/home.css"/>
        <link rel="stylesheet" href="/css/main.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
        <title> Alejandro Jimenez </title>
    </head>

    <body>
        <header class="bgWhite">
            <nav class="nav container">
              <h2> Alejandro Jiménez </h2>
              <ul>
                <li> <a class="links" href="/home"> Home </a> </li>
                <li> <a class="links" href="/works"> Works </a></li>
                <li> <a class="links" href="/about"> About me </a> </li>
                <li> <a class="links" href="/contact"> Contact </a></li>
                <li class="iconResponsive"> <i class="fas fa-bars"></i> </li>
              </ul> 
            </nav>
             
            <h3 class="redLine"> </h3>
        </header>

        <main>
          <div class="boxIcons"> 
            <img src="/img/wasa.png" alt="wasaIcon" class="logosFixed">
            <img src="/img/insta.png" alt="instaIcon" class="logosFixed">
            <img src="/img/linkedin.png" alt="linkedinIcon" class="logosFixed">
            <img src="/img/facebook.png" alt="faceIcon" class="logosFixed">
          </div>
          <div class="boxIconsBorder"> </div>
          
          <section class="sectionDescription propiertySections">
            <div class="boxDescription"> 
              <h1 class="title"> ALEJANDRO JIMÉNEZ REGALÓN </h1>
              <h3 class="redLine"> </h3>
              <h2 class="subTitle"> TÉCNICO SUPERIOR EN DESARROLLO DE APLICACIONES MULTIPLATAFORMA Y DESARROLLO WEB</h2>
            </div>
          </section>
        </main>

        <footer class="footer">
          <h3 class="redLine"></h3>
          <section>
            <div class="boxFooterAlign">
              <h5 class="textFooter"> Alejandro Jiménez </h5>
              <h5 class="textFooter"> Mi Portafolio</h5>
            </div>
          </section>
        </footer>
    </body>
</html>