<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/home">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/photos">PHOTO GALLERY</a></li>
    </ul>
  </nav>
  <h1>HOME</h1>
  <h2>Most Unusual Exotic Cat Breeds</h2>
  <p>List of the best exotic cat breeds. Out of all the exciting exotic breeds of cats and kittens that exist in the universe, those on this list have been ranked as the best of the best. These cat breeds are from all over the world and you can tell by their looks and character that they are not exactly the cats next door. 

      If you are looking for a cat that is not just the usual classic kitty from television or film, then these breeds of cats should help you narrow down the unique cat that's perfect for you. Many of these exotic cats are either wild species or hybrid species, resulting in unusual fur and beautifully intense eyes. The whole globe seems to be represented here thanks to cat names that begin with "Russian," "Arabian," "Japanese," "Thai," "Turkish," "Ukrainian," and "Norwegian." Find your beautifully exotic kitty cat on this list of the best exotic, strange cats out there.
      
      Vote up the exotic feline you think is most unusually beautiful or vote down the cats you think are just plain weird.</p>
  <ol>
    <li>Lykoi</li>
    <li>Manx</li>
    <li>Maine Coon</li>
    <li>Russian Blue</li>
  </ol>

</body>
</html>