<img id="img-homepage" src="img/main-pic.jpg" alt="main-pic">

<div id="info">
    <section class="facts"><h2>Who is John Wick?</h2> <p class="info-paragraph">Discover more about his story, his abilities and weaknesses.</p> <a href="/about" class="link-page">Let's see <i class="fas fa-eye"></i></a></section>

    <section class="facts"><h2>Chapters</h2> <p class="info-paragraph">From past to now... What will be the future?</p> <a href="/work" class="link-page">Let's discover <i class="fab fa-discourse"></i></a></section>
</div>