{{> nav}}
<link rel="stylesheet" href="/style.css">



<div id="homediv">
    <h2>Welcome you Bradley-diggers!</h2>
    <img src="/gif/homeimg.gif" alt="Bradley Home" class="bradhome">
    <p>On this page you will find everything about yours truly Mr. Cooper. <br>
        Let's hit this!</p>
</div>


{{> footer}}