<div>
    <h1>Princess Diana was amazing</h1>
    <img src="./img/Diana-home.jpg" alt="">
    <p>Diana, Princess of Wales (born Diana Frances Spencer; 1 July 1961 – 31 August 1997)
        was a member of the British royal family. She was the first wife of Charles, Prince of Wales,
        the heir apparent to the British throne, and was the mother of Prince William and Prince Harry.
        Diana's activism and glamour made her an international icon and earned her an enduring popularity as
        well as an unprecedented public scrutiny, exacerbated by her tumultuous private life. </p>
</div>

<audio controls="none" class="carlos">
    <source src="./audio/{{audio}}.mp3">
</audio>
<footer>Created by Elisa and Mina</footer>