<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/animations.js"></script>
  </head>
  <body>
    <div id="container"class="green"></div>
    <a href="/gallery">See gallery Page</a>
    <a href="/about">See about Page</a>


  </body>
</html>