
{{!-- logo of the site --}}
{{!-- <img src="IMG/travelicon.jpeg" alt="trave icon"> --}}

{{!-- helps to locate to the next page for example --}}



{{!-- shortly what the site offers and in parag a clear description of the website/business-2-3 sentences --}}

<h1> Welcome to my travel site </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Maiores, quaerat, mollitia vero labore nobis repellendus necessitatibus veritatis
    maxime sed accusantium odio saepe molestias rerum
    inventore nihil dolores aliquam earum provident.
</p>

{{!-- call to action buton, example to read more on travel page --}}
<button >Read more </button>
{{!-- a brief summary of your website + some image for visual --}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt explicabo facere quidem provident, alias doloremque corrupti facilis. Facere consectetur illum aspernatur natus aperiam voluptatum pariatur quasi. Voluptatum vel asperiores doloremque. </p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque eum fugiat voluptatibus suscipit reiciendis quasi reprehenderit laborum! Laborum magnam debitis voluptatum ex repellat tenetur culpa, vero explicabo illum dignissimos ab!</p>
<img class="homepageimg" src="IMG/airplane.jpeg" alt="airplane">

{{!-- contact info, social media display ,next page --}}
<footer></footer>