<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Whelcome!!</h1>
    <p>This page is <a href="/about">about</a> Pink Floyd</p>
    <ul>
        <li>
            <a href="/about">About page</a>
        </li>
        <li>
            <a href="/works">Works page</a>
        </li>
    </ul>
</body>
</html>