<div class="main">
    <h1>Levi Ackerman</h1>
    <aside class="aside">
        <p>
            Levi Ackerman (リヴァイ・アッカーマン Rivai Akkāman?), often formally referred to as Captain Levi (リヴァイ兵長 Rivai Heichō?), is the squad captain (兵士長 Heishichō?, lit. "leader of the soldiers") of the Special Operations Squad within the Survey Corps and is widely known as humanity's strongest soldier.
        </p>
    </aside>
    <div class="profil"></div>
</div>
