
<div class='home'>
    <h1>HE JIANKUI</h1>
    <p>A Chinese biophysics researcher most famously known for creating the first human genetically-edited babies.</p>
    <img src="/main.jpeg" alt="a picture of this guy">
</div>
