<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pringles Fan Page</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <p>Learn more about the inventions of Fred Baur</p>
    <a href="about">About Fred Baur</a>
    <a href="works">Works of Fred Baur</a>
</body>
</html>