{{>head}}

<div class="home-container">
  <nav class="navigation">
    <div class="nav-wrapper"><a href="/">Home</a></div>
    <div class="nav-wrapper"><a href="/about">About</a></div>
    <div class="nav-wrapper"><a href="/gallery">Gallery</a></div>
  </nav>
  <h1 id="headline">Iran <br />Wanderings</h1>
</div>
</body>

</html>