<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Hell</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
      <div class="homepageIntro">
    <h1>Welcome to my freaking amazing homepage</h1>
    
    <h2>As all the best things in life, this page is short.</h2>
    <p>
      However, since you are already here, you might be interested in checking
      out following pages:
    </p>
    <ul>
   <li> <a href="/about">About life purpose</a></li>

    <li><a href="/works">Material that will blow your mind</a></li>

   <li> <a href="https://www.google.com/search?sxsrf=ALeKk02mSgRVMla1-H4Sm1fZAWA8vTaoew:1586959640297&q=teacup+pudel&tbm=isch&source=univ&sa=X&ved=2ahUKEwi1ooetzeroAhVSy6QKHUXCBsoQsAR6BAgEEAE&biw=1279&bih=546">Bonus: My future dog :)</a></li>
</ul>
</br>
</div>
  </body>
</html>
