<!--Jumbotron-->
  <div class="jumbotron">
    <h1 class="display-3">Salut les amis !</h1>
    <p class="lead">The time has come to close our Paris chapter.</p>
    <hr class="my-4">
    <p>Help us find a new home for the things we'll leave behind.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/items" role="button">Find your treasure <i class="fas fa-gift"></i></a>
    </p>
  </div>