<div id="container">
    <div class="resto">
        <a href="http://restaurantdamouri.com/"><img src="/img/Carousel1.jpg" alt="resto1" /></a>
        <div><p>Dans un cadre oriental aux teintes ocres,<br> ce restaurant-traiteur offre une cuisine libanaise
                traditionnelle.</p></div>
    </div>
    <div class="resto">
        <a href="https://www.daroco.fr/"><img src="/img/demouri.jpg" alt="resto2" /></a>
        <div><p>Restaurant élégant servant des plats italiens classiques<br> (pâtes, risotto, pizzas cuites au feu de bois,
                etc.).</p></div>
    </div>
    <div class="resto">
        <a src="https://www.lesfilsamaman.com/paris-batignolles/carte/"><img src="/img/enviedujour.webp"
                alt="resto3" /></a>
        <div><p>Cuisuine familiale pour passer une bonne soiré entre amis<br> comme au bon vieux temps!</p></div>
    </div>
    <div class="resto">
        <a src="http://iguana-batignolles.fr/fr/booking"><img src="/img/iguana.jpeg" alt="resto4" /></a>
        <div><p>Cette brasserie moderne au chic discret, ornée de bois et de velours<br> noir, sert une cuisine de saison
                maison.</p></div>
    </div>
    <div class="resto">
        <a src="https://www.lesfilsamaman.com/paris-batignolles/carte/"><img src="/img/new2.jpg"
                alt="resto3" /></a>
        <div><p>Vous profiter d'une vue imprenable de Paris en dégustant les <br> spécialités du chef.
                </p></div>
    </div>
    <div class="resto">
        <a src="http://iguana-batignolles.fr/fr/booking"><img src="/img/New1.webp" alt="resto4" /></a>
        <div><p>Brasserie élégante et moderne située en coeur du quartier des <br>Batignolles. Une cuisne savoureuse et
                délicate.</p></div>
    </div>
    {{!-- <img class="resto">
    <a src="https://leptitmusset.fr/fr/services"><img src="/img/verreapied.jpg" alt="resto4" /></a>
    <div><p>6xxxx</p></div> --}}


<div id="display">
 <footer class="dark-background">
  <section>
    <h5>Contact Information</h5>
    <adresse>
      La bonne bouffe<br>20 rue des pigeons,<br>75009 Paris,<br>France<br>+33 (0) 619 193 088</adresse>
      <h5>
        Follow us
      </h5>
      
  </section>
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.142047744348!2d2.3354330160472316!3d48.87456857928921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e38f817b573%3A0x48d69c30470e7aeb!2sIronhack!5e0!3m2!1sen!2ses!4v1495208746099"
  class="map-frame"
  frameborder="0"
  style="border:0"
  allowfullscreen
></iframe>
</footer>
</div>
</div>
</div>