
    <main class="container">
      <div class="hero hero-container">
        <h1 class="hero-heading">The hardest worker in the room</h1>
        <div class="hero-carousel-container">
          <div class="hero-carousel-item">
            <h3 class="hero-text">
              Being a true badass has no weight or gender requirement — just
              100% commitment to greatness.
            </h3>
          </div>
          <div class="hero-carousel-item">
            <h3 class="hero-text">
              With drive and a bit of talent you can move mountains.
            </h3>
          </div>
          <div class="hero-carousel-item">
            <h3 class="hero-text">
              Don’t be afraid to be ambitious about your goals. Hard work never
              stops. Neither should your dreams.
            </h3>
          </div>
          <div class="hero-carousel-item">
            <h3 class="hero-text">
              All success begins with self-discipline. It starts with you.
            </h3>
          </div>
          <div class="hero-carousel-item">
            <h3 class="hero-text">
              Blood, sweat and respect. First two you give, last one you earn.
            </h3>
          </div>
        </div>
      </div>
    </main>
   