<header class="header"></header>
<h1>THE BLOG OF BILL GATES</h1>
<section class="section">
  <h4>
    Entrepreneur Bill Gates founded the world's largest software business,
    Microsoft, with Paul Allen, and subsequently became one of the richest men
    in the world.
  </h4>
  <p>When Bill and Paul Allen started Microsoft, their vision of “a computer on every desktop and in every home” seemed farfetched to most people. Today, thanks to Microsoft and many other companies, that vision is a reality in many parts of the world, and personal technology is an integral part of society.

Bill is passionate about Microsoft’s work and will always be involved with the company, including his present role as a member of the board and technology advisor.</p>
</section>
