<h1>Welcome on a website about Piotre</h1>


<p>Piotre has done many type of art, but he is mainly a painting artist</p>
    <p>Visit the about page to learn more about him</p>
    <p></p>

<ul>
    {{#each placeToVisit}}
    <li>{{this}}</li>
    {{/each}}
</ul>