<main>
    <div class="header">
        <h1>I.C.E.C.R.E.A.M</h1>

        <article> International ice-cream Committee - Empowering Chilled, Radiant and Eye-Appealing Meals </article>


    </div>
    <div class="judges">

        <div class="item">
            <img id="judge-one" src="/assets/test2.png" alt="First judge's photo">
            <h2>Judge 1</h2>
            <p>Marine "Brain freeze" Sanjuan has grasped the utmost importance of ice-cream in <br>
            life at the tender age of 8. Since, she travels all over the world in the  <br>
            hopes of discovering unknown flavors. Special power: she got a Guiness World record <br>
            during the Great Binge of 1999 for the most Ice Cream Eaten in 1 Minute. </p>

        </div>
        <div class="item">
            <img id="judge-two" src="/assets/judgeone.jpg" alt="Second judge's photo">
            <h2>Judge 2</h2>
            <p>Jacqueline "Frozen" Jumaga never lets "it" go when it comes to ice-creams. <br>
            A true gourmet of the renowed iced dish, it reminds her of the snowy montains <br> 
            of her native Calgary in Canada. Special power: can eat ice-cream pots <br>
             in one sitting aka the only way to enjoy these marvellous desserts!</p>

        </div>

    </div>



    <div class="fun-fact">

        <div>
            <img class="ice-gif" src="/assets/icey.gif" alt="1" />
        </div>
        <div class="fact-txt">
            <p id="fun-click">Click me for Fun facts</p>
            <!--If we are advanced enough, this is the part that could 
                dynamically change after each refresh of the webpage-->
            <p id="fun-quote">"1 in 10 people admit to licking the bowl clean after eating ice-cream"</p>
        </div>
        <div>
            <img class="ice-gif" src="/assets/icey.gif" alt="2" />
        </div>
    </div>
    <div class="btn">
        <button id="next-btn">Access to the final ranking</button>
    </div>
</main>