<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>The most beautiful carrot cakes</h1>
    <div class="row">
        <img class="col-md-4" src="/carrot.jpg" alt="">
        <img class="col-md-4" src="/carrot2.jpg" alt="">
        <img class="col-md-4" src="/carrot3.jpg" alt="">
    </div>
    <a class="btn btn-primary btn-lg mt-5" href="/about" role="button">See what carrot cake is about</a>
        <a class="btn btn-primary btn-lg mt-5" href="/works" role="button">See the best recipe to make an amazing carrot cake</a>
        <a class="btn btn-primary btn-lg mt-5" href="/home" role="button">Home</a>
  

</body>
</html>