<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:wght@800&display=swap" rel="stylesheet">
        <title>Home</title>
    </head>
    <body>
        <div class="main-content">
            <h1>Khruangbin</h1>
            <h2>The lastest and greatest trendy guitar band</h2>
                <div class="link-wrapper">
                    <a href="/about" class="link">About</a>
                    <a href="/works" class="link">Music</a>
                    <a href="/gallery" class="link">Gallery</a>
                </div>
        </div>
    </body>
</html>