<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	
    <title>Gerard Portfolio</title>
</head>
<body>

 <header class="header">
	<a href="" class="logo">Gerard Solé Portfolio</a>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
	<ul class="menu">
	  
		<li> <a href="/">Home</a></li>
		<li> <a href="projects">Projects</a></li>
		<li> <a href="contact">Contact</a></li>
	</ul>
  </header>

 <main>
	
	 <div class="about-me">
		 <p>Welcome to Gerard's portfolio. Here you can find what i've developed during my IronHack Course!</p>
		 <h2>Who i am?</h2>
		 <p>I'm an avid web development student, who wants to find the correct path in his professional life.</p>
		 

	 </div>
</main>
<footer>

</footer>
</body>
</html>