<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>

<body>
    {{ name }}
    <div><img src="/images/home-txbrut.jpg" style="width: 100%; margin: 50px 0px; 0px 0px"></div>
    <p style="padding: 25px 0px 75px 0px;"><a href="http://benjamin-h-dean.com/" class="button1" target="_blank">-  benjamin-h-dean.com  -</a></p>
</body>

</html>