<div class="text-center">
<img src="/images/532675d28993561582f9e5832c494fde.jpg" alt="Michael Cera" style="width: 50%"/>
<h1><strong>Welcome to Michael Cera World</strong></h1>
<h3>The Michael Cera official website</h3>
</div>