<main class="main d-flex flex-column justify-content-center align-items-center ">
 <div class="hero-image shadow-lg p-3 mb-5 bg-white rounded">
  <div class="hero-text">
    <h1>Kiko Dinucci</h1>
    <p>MPB de Vanguarda</p>
  </div>
</div> 
</main>