<h1> Univers :</h1>
<p>
    Là où les précédents Final Fantasy se cantonnaient aux mondes médiévaux-fantastiques ou semi-industriels,
    Final Fantasy
    VII suit les traces de Final Fantasy VI et s’inscrit dans un univers de science-fiction où les progrès
    technologiques et
    scientifiques correspondent à un futur proche4,5.
</p>
<p>
    Le monde de Final Fantasy VII, une planète nommée rétroactivement Gaïa6, est composé de quatre continents
    principaux et
    de plusieurs îles. Midgar est une vaste cité industrielle sur le continent oriental, clairement influencée
    par
    l’esthétique cyberpunk, dans la lignée de certains films comme Blade Runner, qui fut l’une des sources
    d’inspiration du
    début du jeu7. On y trouve le siège de la Shinra Electric Power Company (Shinra), une puissante entreprise
    qui domine le
    monde à la fois économiquement, politiquement et militairement. Celle-ci n’hésite pas à recourir à la force
    pour
    satisfaire ses ambitions, et possède notamment d’énormes canons dans la base militaire de Junon, sur la côte
    ouest du
    même continent. Sur le continent central, on peut trouver la ville de Nibelheim, le village de Cosmos
    Canyon, où les
    habitants vivent en harmonie avec la nature, ainsi que le Gold Saucer, un parc d’attraction. Le continent
    nord,
    recouvert de glace, abrite entre autres un cratère antique ainsi que la capitale des Cetras, ancien peuple
    autrefois
    protecteur de la planète. Finalement, le continent Ouest abrite une ville isolée du nom de Utai.
</p>
<p>
    À bien des égards, Gaïa est présentée comme une planète qui réagit à la manière d’un organisme vivant. Sous
    son écorce
    s’écoule la Rivière de la vie, formée des âmes des êtres vivants qui ont habité la planète, elle représente
    en quelque
    sorte la conscience de Gaïa. Ainsi, lorsque la Shinra utilise d’énormes machines connues sous le nom de
    réacteurs Mako
    pour extraire l’énergie Mako des entrailles de Gaïa pour des usages domestiques, industriels ou directement
    militaires,
    elle puise en réalité l’énergie spirituelle de la Rivière de la vie et affaiblit grandement la planète. La
    condensation
    de l’énergie Mako permet par la suite à la Shinra de produire des matérias, de petites pierres qui possèdent
    des
    pouvoirs magiques très utiles lors des combats. Celles-ci contiennent entre autres le savoir des anciens
    Cetras8.
</p>