<div class="page">
    <p id="homepix" class="image"></p>
    <p class="speech">Tim Berners-Lee a vu le jour le 8 juin 1955 à Londres, en Angleterre. Fils de Conway Berners-Lee
        et de Mary Lee Woods, il étudie la physique au Queen's College de l'Université d'Oxford de 1973 à 1976, année
        durant laquelle il obtient une maîtrise4. Il profite de ses années à l'Université d'Oxford pour fabriquer son
        premier ordinateur à partir d'un microprocesseur Motorola 6800 et d'une vieille télévision.

        Après l'obtention d'une maîtrise, il travaille pour un fabricant d’équipements de télécommunications puis pour
        une entreprise spécialisée dans l’impression informatique4.

        Tim Berners-Lee est père de deux enfants.</p>
</div>