<div class="jumbotron">
  <h1 class="display-4">John Petrucci</h1>
  <p class="lead">One of the best guitar player of history</p>
  <hr class="my-4">
  <p>Solo Artist, Lead Guitar @ Dream Theater & Liquid Tension Experiment</p>
</div>