{{> header}}

<div class="grid">
        <div class="left-column">
            <div id="intro-text">Eliane Radigue, with her compositions for synthesizer, then through her meditative music, has become one of the essential composers for contemporary music. Her career, in all discretion, is like that of many female creators, well hidden behind that of her male colleagues.</div>
        </div>
        <div class="center-column">
            <img src="/images/img_hp.png" alt="Eliane Radigue">
        </div>
        <div class="right-column">
            <p>Subscribe to newsletter</p>
            <input type="text" value="eliane@genius.com">
            <button id="newsletter-button">OK!</button>
        </div>
</div>
