{{> header}}

<div class="grid">

    <div class="left-column">
        <div id="intro-text">Eliane Radigue, with her compositions for synthesizer, then through her meditative music,
            has become one of the essential composers for contemporary music. Her career, in all discretion, is like
            that of many female creators, well hidden behind that of her male colleagues.</div>
    </div>

    <div class="center-column">
        <img src="/images/test3.png" alt="Eliane Radigue">
    </div>

    <div class="right-column">

        {{!-- <iframe width="1" height="1" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/14432812&color=%2300ff00&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe> --}}

        <div class="newsletter">
            <p>Subscribe to newsletter</p>
            <form action='/' method='POST'>
                <input type="text" placeholder="eliane@radigue.com" name="email">
                <button type="submit" id="newsletter-button">OK!</button>
            </form>
        </div>

    </div>
</div>