<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">
        <title>The Giant Panda</title>
    </head>

    <body>
        <main>
            <header>
                <h1>The Giant Panda</h1>
                <h2>The most admirable bear</h2>
            </header>
            <nav>
                <a href="/about">About the Giant Panda</a>
                <a href="/photos">Panda Pictures</a>
                <a href="/works">Created by Panda</a>
            </nav>
            <section>
                <img src="/images/panda-laying.jpg" alt="panda laying" class="main-img">
            </section>
            <footer>
                <hr>
                <span>
                    © All rights reserved to panda. Coded by <a target='_blank'
                        href="https://github.com/ninsajala">Nina</a></span>
            </footer>
        </main>
    </body>

</html>
