<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Hey</title>
</head>
<body>
    <h1>HOME PAGE</h1>
<img src="https://assets.vogue.com/photos/5a4d421f9856231b9dfa121b/master/w_2560%2Cc_limit/00-story-jamiroquai.jpg">
<h2>Jamiroquai rules</h2>

<ul>
    <li><a href="/about">about</</li>
    <li><a href="/works">works</a></li> 
    <li><a href="/gallery">gallery</a></li>
</ul>
</body>
</html>