<h1>Michelle Obama</h1>

<img src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F9dbf98f6-7b51-11ea-a9b3-a42d54022bdc.jpg?crop=2527%2C1422%2C71%2C59&resize=1180"
    alt="Michelle_Obama_img">
<article><i>"Don't ever make decisions based on fear. <br> Make decisions based on hope and possibility. Make decisions based on what should happen, not what shouldn't."</i></article>