<div class="container">

  <div class="title2">
    <h1>What to do in Greenland and where ?</h1>
  </div>

  <div class="images_map">
      <div id="north">
        <a href="https://visitgreenland.com/north-greenland/" target="_blank"><img class="north" src="/images/northmap3.png" alt="nort"></a>
        <h3>North Greenland</h3>
        <p>North Greenland is the land of the midnight sun and dog sledding. A cornucopia of arctic experiences with giant icebergs and the Ilulissat Icefjord, honoured with a place on the esteemed list of UNESCO Wolrd Heritage Sites.</p>
      </div>

      <div id="south">
      <a href="https://visitgreenland.com/south-greenland/" target="_blank"><img class="south" src="/images/southmap3.png" alt="south"></a>
      <h3>South Greenland</h3>
      <p>South Greenland lives up to its name as it is truly a green land. Agriculture thrives here with many farms and luxuriant vegetables, in contrast to a barren ice world that covers much of Greenland.</p>
      </div>

      <div id="capital">
        <a href="https://visitgreenland.com/capital-region/" target="_blank"><img class="capital" src="/images/capitalmap3.png" alt="capital"></a>
        <h3>The Capital region</h3>
        <p>Greenland's Capital Region combines the urban vibes and city breaks of Nuuk with grand fjord experiences and small town escapes.</p>
      </div>

      <div id="arctic">
        <a href="https://visitgreenland.com/destination-arctic-circle/" target="_blank"><img class="arctic" src="/images/articcircle.png" alt="arctic circle"></a>
        <h3>Destination Arctic Circle</h3>
        <p>Rough. Real. Remote. Destination arctic Circle is the land of adventure. The combination of raw nature and cultural traditions brings you to the heart of modern Greenland.</p>
      </div>

      <div id="east">
        <a href="https://visitgreenland.com/east-greenland/" target="_blank"><img class="east" src="/images/eastmap3.png" alt="east"></a>
      <h3>East Greenland</h3>
      <p>East Greenland is an isolated yet very special place. The language is different and the culture is deeply rooted in myths and legends, which is expressed in their much-coveted handicrafts.</p>
      </div>

      <div id="park">
        <a href="https://visitgreenland.com/the-national-park/" target="_blank"><img class="park" src="/images/nationalparkmap2.png" alt="park"></a>
      <h3>The National Park</h3>
      <p>Covering an area of 972,000 square kilometers, Greenland's National Park is the world's largest - with approximatively 40 inhabitants and high Arctic species of animals.</p>
      </div>

  </div>

</div>

