<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Naruto Uzumaki!</title>
    <link rel = "stylesheet" href="sytlesheet/style.css">
</head>
<body>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/works">Works</a></li>

    <h1>This is Naruto from an anime</h1>
    <p>Click the links at the top to change pages</p>
    <img src="images/Naruto.png" width=500px;/>
</body>
</html>