<section id="sample">
    <div class="nav"> {{> navMain}}</div>
    <div class="body">
        <div class="spotify">
                        <div>   
                <iframe src="https://open.spotify.com/embed/track/22L7bfCiAkJo5xGSQgmiIO" width="450" height="570"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
        </div>
        <div class="biography">
                <h1>Kanye West</h1>
                <p>As Kanye West would doubtless tell you himself, he is a 21st-century phenomenon — a producer turned rap superstar who has reinvented hip hop several times over in the course of a stellar career; but whose creative genius is sometimes eclipsed by his talent for putting his entire foot in his own mouth. 
                    <br><br>
                    He has made headlines for his bizarre tweets and his grand pronouncements, his award-show stage invasions, his outré fashion sense and his flashbulb-popping marriage to Kim Kardashian. 
                    <br><br>
                    But when West channels his hubristic impulses into his music, the results have rarely been less than thrilling: hence eight solo albums debuting at No. 1 and 21 Grammy awards — no rapper has won more; two inclusions in Time magazine's 100 most influential people list; and plaudits from Lou Reed, Prince, Elon Musk — and, most frequently of all, from West himself. "I am a god," he rapped in 2013, following up with a line that perhaps only he could deliver with a straight face: "Hurry up with my damn croissants." </p>
        </div>
    </div>
    <div class="footer">{{> footerMain}}</div>
</section>