<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kardashian</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Fun Fact</h1>
    <img src="/lab-express-basic-site/public/images/kim.jpg" alt="">
    
</body>
<h2>20 Facts You Never Knew About Kim Kardashian
    <br> Life Events</h2>
                <p>Her first customer for her business was singer Brandy Norwood.<br>
                    Kim has said she knows who leaked her sex tape back in 2007, and that she finds the idea that she leaked it herself “offensive.”<br>
                    Stretch marks are the biggest fear of her life.<br>
                    Kim will only wear a bikini on overcast days, saying the sunlight will show off her cellulite</p>
                  
                  <a href="/kar3">Photo Gallery</a>
</html>
