<section id="sample">
    <div class="nav"> {{> navMain}}</div>
    <div class="body">
        <div class="spotify">
                        <div>   
                <iframe src="https://open.spotify.com/embed/track/6XkuklKiHYVTlVvWlTgQYP" width="450" height="570"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
        </div>
        <div class="biography">
                <h1>Kid Cudi</h1>
                <p>Kid Cudi is an American rapper and actor best known for his ‘new wave’ of rap music which has inspired a lot of other artists, including Kanye West. 
                    <br><br>
                    He entered the American hip hop and rap music scene with his first mixtape, ‘A Kid Named Cudi,’ in 2008.’ 
                    By then, Kanye West had become one of the most respected names in rap. Kanye listened to Kid’s music and was immediately driven to get in touch with him. Soon, Kanye signed Kid for his label, ‘GOOD Music,’ and this gave a major boost to Kid’s career. 
                    <br><br>
                    Kid began as a rapper, but also ventured into song-writing, music production, video direction, and acting, acing each aspect of the entertainment industry. In 2008, he released his first single, ‘Day ‘n’ Nite,’ and announced his grand arrival, with a spot among the top five tracks on the ‘Billboard’ charts. The following year, he released his debut album, ‘Man on the Moon: The End of the Day.’ The album received a ‘Gold’ certification by RIAA. 
                    <br><br>
                    Since then, Cudi has released five more studio albums and has proved to be one of the most successful musicians of this generation. He has redefined an entire genre. He has also acted in some popular TV series and films, such as ‘Need for Speed’ and ‘Brooklyn Nine–Nine.’ </p>
        </div>
    </div>
    <div class="footer">{{> footerMain}}</div>
</section>