<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class= "container">
            <h1>Tormund Giantsbane</h1>
            <h4>Fan Page</h4>
        </div>
    </header>
    
    <nav>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>

    </nav>
    <img src="/images/tormund.gif" class="gif">
</body>
</html>