<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>wiki-boss</title>
</head>
<body>
    <header id = "nav-game-selection">
        <div id = "logo">add logo</div>
        <nav class = "scroll nav-choice">
            <a href="/bloodborne">Bloodborne</a>
            <a href="/dark-souls-1">Dark souls 1</a>
            <a href="/">Dark souls 2</a>
            <a href="/">Dark souls 3</a>
            <a href="/">Sekiro</a>
            <a href="/">Nioh</a>
            <a href="/">Final Fantasy I</a>
            <a href="/">Final Fantasy II</a>
            <a href="/">Final Fantasy III</a>
            <a href="/">Final Fantasy IV</a>
            <a href="/">Final Fantasy V</a>
            <a href="/">Final Fantasy VI</a>            
            <a href="/">Final Fantasy VII</a>
            <a href="/">Final Fantasy VIII</a>
            <a href="/">Final Fantasy IX</a>
            <a href="/">Final Fantasy X</a>
            <a href="/">Final Fantasy XI</a>
            <a href="/">Final Fantasy XII</a>       
            <a href="/">Final Fantasy XIII</a>       
            <a href="/">Final Fantasy XIV</a>       
            <a href="/">Final Fantasy XV</a>       
        </nav>
    </header>
    <div id = "main">
        {{{ body }}}
    </div>
</body>
</html>