<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footbal website - {{pageTitle}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <nav id="navbar">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
    </nav>


    {{{body}}}

</body>

</html>