<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

         {{!-- <div> --}}
        {{!-- <img class ="logo" src="IMG/travelicon.jpeg" alt="trave icon"> --}}
        {{!-- </div> --}}
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/content">Travel</a>
    </nav>

{{{body}}}

</body>

</html>