<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{name}}}</title>
</head>
<body>
     <header>
        <nav>
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a class="active2" href="about">About</a>
                <a class="active3" href="works">Works</a>
             </div>
        </nav>
    </header>

    {{{body}}}
</body>
</html>