<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Adèle Simper — réalisatrice</title>
</head>

<body>
    <nav>
        <a href="/accueil">Accueil</a>
        <a href="/documentaires">Documentaires</a>
        <a href="/clips">Clips</a>
        <a href="/digital">Digital</a>
        <a href="/a-propos">À propos</a>
    </nav>
    <header>
        <div class="barre"></div>
        <div id="adele-simper" class="titre">Adèle Simper</div>
        <div id="realisatrice" class="titre">Réalisatrice</div>
        <div class="barre"></div>
    </header>

    {{{ body }}}
</body>

</html>