
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav style="margin-bottom: 50px;">
    <img src="/images/loader-logo.png" width="275">
    <h1>Painting, pigments, and raw natural materials</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/contact">Contact</a>
    </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>