<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
    <title>Document</title>
    <script type="module" src="/js/main.js"></script>
</head>
<nav>
    <ul>
        <li>Home</li>
        <li>Content</li>
    </ul>
</nav>

<body>

    {{{body}}}
    <footer>
        <p>Served by Jacqueline Jumaga et Marine Sanjuan</p>
    </footer>
</body>

</html>