<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/audio.js" type="module"></script>
    <title>Mylène's page fan</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/videos">Videos</a>
    </nav>
    {{{body}}}
</body>

<footer class="footer">
    <a href="https://www.instagram.com/mylene.farmer/?hl=fr" src="./images/instagram.png"><img
            src="./images/instagram.png" /> </a>
    <a href="https://m.facebook.com/mylenefarmer.fanclub/?locale2=fr_FR"><img src="./images/facebook.png" /></a>
    <a href="https://twitter.com/mylenenet?lang=en"><img src="./images/twitter.png" /></a>
    <div id="copyright">
        <{{copyright}}>
    </div>
</footer>

</html>