<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoic</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sen:wght@700&family=Sunflower:wght@300&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="js/main.js"></script>
</head>
<body>
    <div>
        <nav>
    <ul class="nav-list">
      <li class="nav-item"><a href="/"><svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M53.4245 22.1738L54.6868 26.5345C55.5328 29.4569 55.5543 32.5564 54.7489 35.4902L52.4492 43.8678C50.4822 51.0333 43.9683 56 36.5378 56H35.9C33.7216 56 31.5647 55.5686 29.5538 54.7308L22.4222 51.7592C17.6919 49.7883 14.1458 45.7314 12.8254 40.7799L10.0527 30.3823C9.37228 27.8305 9.34043 25.1491 9.9601 22.5819C11.4459 16.4265 16.4539 11.7468 22.6958 10.6811L29.5687 9.5077C31.5043 9.17723 33.4834 9.19492 35.4128 9.55994L40.6424 10.5493C46.7534 11.7055 51.6952 16.1996 53.4245 22.1738Z" fill="white" stroke="white"/>
        <path d="M32.6856 9.16694L37.1482 10.0003C40.1389 10.5588 42.917 11.9333 45.1754 13.9719L51.6241 19.7931C57.1398 24.7721 58.6471 32.8236 55.3058 39.4605L55.019 40.0302C54.0395 41.9759 52.6843 43.7085 51.0317 45.1278L45.1707 50.1617C41.2832 53.5005 36.0651 54.8436 31.0487 53.7964L20.5148 51.5976C17.9296 51.058 15.5203 49.8807 13.5059 48.1728C8.67598 44.0779 6.74797 37.5005 8.60283 31.446L10.6452 24.7795C11.2204 22.902 12.1261 21.1422 13.3198 19.583L16.555 15.3568C20.3356 10.4184 26.5719 8.02526 32.6856 9.16694Z" fill="#CCCCCC" stroke="black"/>
        <path d="M15.1591 16.8872L18.7423 14.0998C21.1437 12.2317 24.0148 11.064 27.0384 10.7256L35.672 9.75939C43.0564 8.93299 50.0822 13.1444 52.8339 20.0467L53.0701 20.6391C53.8769 22.6626 54.2749 24.8259 54.2413 27.0041L54.1221 34.7291C54.043 39.853 51.5877 44.6493 47.4772 47.7095L38.8457 54.1356C36.7273 55.7126 34.2484 56.7352 31.6342 57.1103C25.3662 58.0096 19.1646 55.0907 15.8632 49.6873L12.228 43.7375C11.2042 42.0619 10.4877 40.217 10.1123 38.2896L9.09466 33.0654C7.90554 26.9607 10.2501 20.706 15.1591 16.8872Z" fill="white" stroke="black"/>
        <path d="M31.1777 25.8711C31.8509 25.8711 32.474 25.9714 33.0469 26.1719C33.6198 26.3724 34.0638 26.6016 34.3789 26.8594V29.2656C34.0352 29.0365 33.6126 28.8145 33.1113 28.5996C32.6243 28.3848 32.1159 28.2773 31.5859 28.2773C31.0703 28.2773 30.6621 28.3919 30.3613 28.6211C30.0605 28.8503 29.9102 29.1224 29.9102 29.4375C29.9102 29.6667 29.9961 29.8815 30.168 30.082C30.3398 30.2682 30.6693 30.4329 31.1562 30.5762L32.3809 30.9844C34.028 31.4714 34.8516 32.4238 34.8516 33.8418C34.8516 34.515 34.6582 35.1165 34.2715 35.6465C33.8991 36.1621 33.3906 36.5703 32.7461 36.8711C32.1159 37.1719 31.4141 37.3223 30.6406 37.3223C29.9102 37.3223 29.2012 37.2077 28.5137 36.9785C27.8262 36.7493 27.3034 36.4987 26.9453 36.2266V33.8418C27.2174 34.028 27.5469 34.207 27.9336 34.3789C28.3203 34.5508 28.7214 34.694 29.1367 34.8086C29.5521 34.9089 29.9316 34.959 30.2754 34.959C30.8197 34.959 31.235 34.8659 31.5215 34.6797C31.8223 34.4792 31.9727 34.1999 31.9727 33.8418C31.9727 33.5697 31.8509 33.3548 31.6074 33.1973C31.3639 33.0397 31.0059 32.8822 30.5332 32.7246L29.2012 32.252C28.3704 31.9798 27.7975 31.5931 27.4824 31.0918C27.1673 30.5905 27.0098 29.9961 27.0098 29.3086C27.0098 28.6211 27.1816 28.0267 27.5254 27.5254C27.8835 27.0098 28.3776 26.6087 29.0078 26.3223C29.638 26.0215 30.3613 25.8711 31.1777 25.8711Z" fill="black"/>
    </svg></a></li>
                <li class="nav-item"><a href="/books">Books</a></li>
                <li class="nav-item"><a href="/about"> About </a></li>
                <li class="nav-item"><a href="/newsletter">Newsletter</a></li>
            </ul>
        </nav>
    </div>
    {{{ body }}}
</body>
</html>
