<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Express Intro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar" id="navbarNav">
          <ul class="navbar-nav justify-content-end">
              <li class = "nav-item">
                  <a class="nav-link {{#if homePage}}active{{/if}} " aria-current="page" href="/home">Home</a>
              </li>
              <li class = "nav-item">
                  <a class="nav-link {{#if aboutPage}}active{{/if}}" aria-current="page" href="/about">About</a>
              </li>
              <li class = "nav-item">
                  <a class="nav-link {{#if worksPage}}active{{/if}}" aria-current="page" href="/works">Works</a>
              </li>
              <li class = "nav-item">
                  <a class="nav-link {{#if galleryPage}}active{{/if}}" aria-current="page" href="/gallery">Gallery</a>
              </li>
            
          </ul>
        </div>
      </div>
    </nav>

     <div class="container  mt-3">
         
         
         {{{body}}}
         
     </div>
    
    


    
  </body>
</html>