<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>wiki-boss</title>
</head>
<body>
    <header id = "nav-game-selection">
        <div>add logo</div>
        <nav class = "center">
            <a href="/bloodborne">Bloodborne</a>
            <a href="/dark-souls-1">Dark souls 1</a>
        </nav>
    </header>
    <div id = "main">
        {{{ body }}}
    </div>
</body>
</html>