<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script type="module" src="/home-dome.js"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navigation">
        <a href="home">Home Page</a>
        <a href="/">Gallery</a>
       
        <a href="About">About this site</a>
        <a href="reviews">They liked us</a>
    </nav>

    <img src="img/napnap.jpg" alt="napping">

    {{{ body }}}
</body>
</html>