<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First basic Site</title>
    <link rel="stylesheet" href="css/styles.css">
    <script type="module" src="js/app-dom.js"></script>
</head>

<body>
    <nav class="nav-bar">
        <div class="logo">
            <img src="css/images/cookie.svg" alt="Chocolate Sundays Logo">
            <h1>Chocolate Sundays</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">More</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>