<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src=""></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>hirokazu kore-eda</title>
</head>
<body>
    <nav>
        <h1>Hirokazu Kore-eda</h1>
        <div id="nav-links">
            <a href="/about">about</a>
            <a href="/">home</a>
            <a href="/works">works</a>
        </div>
    </nav>

    {{{body}}}
    <footer>

    </footer>
</body>
</html>