<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css" />
    <script type="module" src="/app.js"></script>
    <title>La Bonne Bouffe</title>
</head>

<body>


<h1 id="test">tartuff</h1>



</body>

</html>