<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/40">Noah James Shebib</a>
            <a href="/mike-dean">Mike Dean</a>
        </nav>
    </header>
    {{{body}}}
     
    <footer>
        &copy; ironhack-cohort-102-2020
    </footer>
</body>

</html>