<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header id="header">
        <img class="hommage-logo" src="img/Homage-logo.png" alt="logo hommage">
        <h1 class="tribute-title">Heath Ledger tribute</h1>
        <nav>
            <ul class="pages-list">
            <li><a href="/">His work</a></li>
            <li><a href="/about">About him</a></li>
            <li><a href="/photo-gallery">Some pictures of him</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>

</html>