<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
    <header id="nav-bar" class="check">
        <h2 id="logo">HFC</h2>
        <nav id="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/gallery">Gallery</a>
        </nav>
    </header>
      
    {{{body}}}
    <footer id="footer">
       <nav id="footer-links">
           <a href="url" >
               <img src="img/twitter.png" class="ft-link" alt="twitter logo"> 
               
            </a>
           <a href="url">
               <img src="img/instagram.png" class="ft-link" alt="Instagram logo"> 
               
            </a>
           <a href="url" >
               <img src="img/facebook.png" class="ft-link" alt="Facebook logo"> 
               
            </a>
            <a href="url" >
               <img src="img/gmail.png" class="ft-link" alt="Gmail logo"> 
               
            </a>

       </nav>

    </footer>
    
</body>
</html>