<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna's lab</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        Analog photography
        <nav>
            <a href="/">Home page</a>
            <a href="/works">Photographs</a>
        </nav>
    </header>
    <section id="page-without-header">
    {{{body}}}
    <footer>
        Anna Lefour
    </footer>
    </section>
</body>
</html>