<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Haris Info Page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
</head>
<body>
    
    {{{body}}}
    {{> nav}}

    <script src="/script.js"></script>
</body>
</html>