<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USA 2020 ELECTIONS</title>

    <link rel="stylesheet" href="/css/styles.css">

<body>
    <header id="header-main">
        <nav id="nav-main">
            <a class="links" href="/">home</a>
            <a class="links" href="/about">about</a>
        </nav>
    </header>
    <main id="content-main">
        {{{body}}}
    </main>
</body>

</html>