<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Index</title>
</head>
<nav><a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/">Index</a></nav>
<h1>My layout</h1>

<body>
    {{{body}}}
</body>

</html>