<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My pages</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/photos.css">
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/about.css">

    <script type="module" src="js/app.js">
    </script>
</head>

<body>
    <header id="header_main">
        <nav class="navigation">
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/photos" class="link">Photos</a>
        </nav>
    </header>

    {{{body}}}

    <footer id="footer_main">
        Véro - nov 2019 - &copy; MEG
    </footer>

</body>

</html>