<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express basic website</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Gallery</a>
        </nav>
    </header>
    {{{body}}}
    <footer>
        &copy; mflynx @Ironhack feb 2021
    </footer>
</body>
</html>