<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morning sunshine</title>
    <link rel="stylesheet" href="/css/app.css">
    {{#each js}}
    <script src="/js/{{this}}.js" type="module"></script>
    {{/each}}
</head>
<body>
    {{> header}}
    {{> navbar}}
    {{{body}}}
</body>
</html>