<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A(nother?) website about Kevin Smith</title>
  <link rel="stylesheet" href="css/styles.css">
  <script type="module" src="js/index.js"></script>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About him</a>
      <a href="/movies">His movies</a>
      <a href="/gallery">Gallery</a>
    </nav>

    <main>    
      {{{ body }}}
    </main>

    <footer>
      &copy; Mélusine - Ironhack Paris 2021
    </footer>
  </header>
</body>
</html>