<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/shared.css" />
    <link rel="stylesheet" href="./css/about-page.css" />
    <title>Legacy of Emperor Norton</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="./..">Home Page</a></li>
        <li><a href="./../about">About Emperor Norton</a></li>
        <li><a href="./../photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col text-container">
          <h1>Legacy of Emperor Norton</h1>
          <article>
            <h2>In literature</h2>
            <p>
              Details of Norton's life story may have been forgotten, but he was
              immortalized in literature. Mark Twain resided in San Francisco
              during part of Emperor Norton's public life, and he modeled the
              character of the King in Adventures of Huckleberry Finn on him.
              Robert Louis Stevenson made Norton a character in his 1892 novel
              The Wrecker. Stevenson's stepdaughter Isobel Osbourne mentioned
              Norton in her autobiography This Life I've Loved, stating that he
              "was a gentle and kindly man, and fortunately found himself in the
              friendliest and most sentimental city in the world, the idea being
              'let him be emperor if he wants to.' San Francisco played the game
              with him."
            </p>
            <p>
              Norton appeared as a character in Neil Gaiman's Sandman, Vol 2,
              31, "Three Septembers and a January".
            </p>
          </article>
          <article>
            <h2>As a San Francisco icon</h2>
            <p>
              Since 1974, the Imperial Council of San Francisco has been
              conducting an annual pilgrimage to Norton's grave in Colma, just
              outside San Francisco. In January 1980, ceremonies were conducted
              in San Francisco to honor the 100th anniversary of the death of
              "the one and only Emperor of the United States". The Emperor
              Norton Trust — founded and based in San Francisco from 2013 to
              2019, and originally known as The Emperor's Bridge Campaign — is a
              nonprofit endeavor which engages in research, education, and
              advocacy to advance the legacy of Emperor Norton.
            </p>
            <p>
              José Sarria, a drag queen and early gay activist, proclaimed
              himself "Her Royal Majesty, Empress of San Francisco, José I, The
              Widow Norton" in 1964. As the Widow Norton, Sarria established the
              Imperial Court System, an international network of charitable
              organizations. Sarria died in August 2013, at the age of 89 or 90,
              and is buried at the foot of Emperor Norton's grave at Woodlawn
              Cemetery in Colma, California.
            </p>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
