<h1> Chouchou Liberty </h1>
<img src="/assets/img/liberty.jpg" alt="image">

<p>Fabriqué à la main avec du tissu fleuri multicolore ce chouchou est un must have! </p>
<p>A porter dans les cheveux ou tout simplement autour du poignet il agrémentera vos tenues d'une touche romantique.</p>
<p>Ce chouchou a été cousu à la main près du Canal Saint Martin, Paris 10e arrondissement </p>
       <h2> Prix unitaire: 6 €</h2>

        <button> Ajouter au panier </button>