<div>
    {{>nav_bar}}
</div>

<div class="text">
<h3>Yoga channels on Youtube</h3>

<div id="links">
<p>If you are interested about including yoga in your daily life, here are some good yoga channel</p>

<ul>
    <li><a href="https://www.youtube.com/channel/UC-0CzRZeML8zw4pFTVDq65Q">Sarah Beth Yoga</a></li>
    <li><a href="https://www.youtube.com/channel/UCJEi1foUiGObzzQM3QA2H5A">alo Yoga</a></li>
    <li><a href="https://www.youtube.com/user/yogatx">Yoga TX</a></li>
</ul>

    </div> 

</div>