



<form class="form" action="/home" method="POST">
<h2> Welcome </h2>
    <h2 class="title">Create an account</h2>
    <div class="form-group">
        <label class="label" for="firstName">First Name</label>
        <input class="input" id="firstName" type="text" name="firstName" >
    </div>

    <div class="form-group">
        <label class="label" for="lastName">Last Name</label>
        <input class="input" id="lastName" type="text" name="lastName" >
    </div>


    <div class="form-group">
        <label class="label" for="email">Email address</label>
        <input class="input" id="email" type="text" name="email" >
    </div>


    <button class="btn">Enter</button>
</form>