<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logros</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
    <nav>
        <ul class="ul-home">
            <li><a href="http://localhost:3000/home">Home</a></li>
            <li><a href="http://localhost:3000/historia">Historia</a></li>
            <li><a href="http://localhost:3000/logros">Logros</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Logros</h1>
    <h2>Campeonatos Mundiales</h2>
        <ul>
            <li>Pekin, China <span>2007. </span><b>1er Lugar</b></li>
            <li>Muju, Corea del Sur <span>2017. </span><b>3er Lugar</b></li>
            <li>Manchester, Reino Unido <span>2019. </span><b>2do Lugar</b></li>
        </ul>
    <h2>Juegos Olímpicos</h2>
        <ul>
            <li>Pekín, China <span>2008. </span><b>1er Lugar</b></li>
            <li>Londres, Reino Unido <span>2012. </span><b>3er Lugar</b></li>
            <li>Rio de Janeiro, Brasil <span>2016. </span><b>2do Lugar</b></li>
        </ul>
    <div class="img-logros">
        <img class="img-lg" src="/images/beijing.png" alt="">
        <img class="img-lg" src="/images/londres.png" alt="">
        <img class="img-lg" src="/images/rio.png" alt="">
    </div>
</body>
</html>