<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Trisha Paytas | LOST</title>

</head>
<body>
    <header class="trish_bg gold_ft">
        <h1>Trisha Paytas</h1>
        <nav>
            <ol>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/works">WORKS</a></li>
                <li><a href="/gallery">GALLERY</a></li>
            </ol>
        </nav>
    </header>
   
    <section id="lost">
        <img src="trisha_paytas_kitchen.jpg" alt="Trisha, crying in her kitchen">
        <div class="container_medium trish_bg">
            <h3>Oh No...</h3>
            <h4>This page doesn't exist</h4>
        </div>
    </section>
</body>
</html>