<div class="card text-center">
  <div class="card-header">
    Error 503
  </div>
  <div class="card-body">
    <h5 class="card-title">Under mantainance</h5>
    <img src="./assets/gates-wfh-ama.jpg" class="img-thumbnail img-503" alt="Bill gates working from home">
    <p class="card-text">The content you are trying to reach is currently under mantainance.</p>
    <a href="/" class="btn btn-primary">Back to home page</a>
  </div>
  <div class="card-footer text-muted">
    Launch date: don't preassure Bill
  </div>
</div>