<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Margerine Eclipse</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="margerine">
    <h1>Margerine Eclipse</h1>
    <p>27 August 2004</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Vonal Declosion</li>
        <li>Need to Be</li>
        <li>...Sudden Stars</li>
        <li>Cosmic Country Noir</li>
        <li>La Demeure</li>
        <li>Margerine Rock</li>
        <li>The Man with 100 Cells</li>
        <li>Margerine Melodie</li>
        <li>Hillbilly Motobike</li>
        <li>Feel and Triple</li>
        <li>Bop Scotch</li>
        <li>Dear Marge</li>
    </ol>
    <img src="/images/margerine.jpg" />
    </div>
    <a href="https://open.spotify.com/album/1STr2wLKQEeVuJPWilfcms?si=VpHgnAtGQNuLgU19cJpfNg" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>