<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mars Audiac Quintet</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="mars">
    <h1>Mars Audiac Quintet</h1>
    <p>8 August 1994</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Three-Dee Melodie</li>
        <li>Wow and Flutter</li>
        <li>Transona Five</li>
        <li>Des étoiles électroniques</li>
        <li>Ping Pong</li>
        <li>Anamorphose</li>
        <li>Three Longers Later</li>
        <li>Nihilist Assault Group</li>
        <li>International Colouring Contest</li>
        <li>The Stars Our Destination</li>
        <li>Transporté sans bouger</li>
        <li>L'enfer des formes</li>
        <li>Outer Accelerator</li>
        <li>New Orthophony</li>
        <li>Fiery Yellow</li>
    </ol>
    <img src="/images/mars.jpg" />
    </div>
    <a href="https://open.spotify.com/album/6cgYdiQvB0FTVwe3io7LWN?si=oGDab-wNQQuukpTNaT4ZRg" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>