<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Welcome Ironhacker</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


  <div class="card-group">
    <div class="card">
      <img src="images/julio-iglesias.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      </div>
    </div>
    <div class="card">
      <img src="images/5c8a7f94250000bd058135c3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
      </div>
    </div>

    <div class="card">
      <img src="images/los-17-mejores-memes-de-julio-iglesias (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="images/los-17-mejores-memes-de-julio-iglesias.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      </div>
    </div>

    <div class="card">
      <img src="images/rio-follar-141840504277692782-med.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      </div>
    </div>

    <div class="card">
      <img src="images/los-memes-de-julio___UkdnMsohW_720x0__1.webp" class="card-img-top" alt="...">
      <div class="card-body">
    
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="images/los-17-mejores-memes-de-julio-iglesasdfasfasdsadfasasias (2).jpg" class="card-img-top" alt="...">
      <div class="card-body">
     
      </div>
    </div>
    <div class="card">
      <img src="images/718a2b971eef4e119bbbb730594db977--su-musical.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        
      </div>
    </div>
    <div class="card">
      <img src="images/los-memes-de-julio___h7sssssssssssssssssssssssssssxXoh0HF_720x0__1.webp" class="card-img-top" alt="...">
      <div class="card-body">
   
      </div>
    </div>
  </div>
</body>

</html>