<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brendan Eich</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Mozilla</h1>
    <section class="back">
        <p>
            In early 1998, <a href="/">Eich</a> co-founded the Mozilla project with Jamie Zawinski and others, creating the mozilla.org website, which was meant to manage open-source contributions to the Netscape source code. He served as Mozilla's chief architect. AOL bought Netscape in 1999. After AOL shut down the Netscape browser unit in July 2003, Eich helped spin out the Mozilla Foundation.
            In August 2005, after serving as lead technologist and as a member of the board of directors of the Mozilla Foundation, Eich became chief technical officer of the newly founded Mozilla Corporation, meant to be the Mozilla Foundation's for-profit arm. Eich continued to "own" the Mozilla SpiderMonkey module, its JavaScript engine, until he passed on the ownership of it in 2011.
        </p>
        <h3>Appointment to CEO, Proposition 8 Controversy, and Resignation</h3>
        <p>
            On March 24, 2014, Mozilla made the controversial decision to appoint Eich as CEO of Mozilla Corporation. The Wall Street Journal initially reported that, in protest against his coming appointment, half of Mozilla's board (Gary Kovacs, John Lilly, and Ellen Siminoff) stepped down, leaving Mitchell Baker, Reid Hoffman, and Katharina Borchert.CNET later reported that of the three board members who had left, only Lilly left due to Eich's appointment. Lilly told The New York Times, "I left rather than appoint him", and declined to elaborate further.
        </p>
        <p>
            The appointment triggered widespread criticism due to Eich's past political donations – specifically, a 2008 donation of $1,000 to California Proposition 8, which called for the banning of same-sex marriage in California, and donations in the amount of $2,100 to Proposition 8 supporter Tom McClintock between 2008 and 2010.
        </p>
        <p>
            On March 26, 2014, Eich expressed "sorrow for causing pain" and pledged to "work with LGBT communities and allies" at Mozilla. Some of the activists created an online campaign against Eich, with online dating site OkCupid automatically displaying a message to Firefox users with information about Eich's donation, and suggesting that users switch to a different browser (although giving them a link to continue with Firefox). CREDO Mobile collected more than 50,000 signatures demanding that Eich resign.
        </p>
        <p>
            After 11 days as CEO, Eich resigned on April 3, 2014, and left Mozilla over his opposition to same-sex marriage.[31][2][32] In his personal blog, he posted, "under the present circumstances, I cannot be an effective leader". Mozilla made a press release saying that board members tried to get Eich to stay in the company in a different role, but that he had chosen to sever ties for the time being.
        </p>
    </section>
</body>
</html>