<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Person</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>hi there, welcome to my home page! 🐨</h1>
    <div class=links>
    <ul>
        <li><a href="/about">Find out more about me</a></li>
        <li><a href="/works">A local guide to the cities I've lived in</a></li>
        <li><a href="/photos"> Photo Gallery</a></li>
    </ul>
    </div>
    <img class="homePic" src='images/sky.jpeg' alt='travel pic'>
</body>
</html>