<h1> Subscribe here to our newseletter</h1>
<form method="get" action="/thanks-subscribing" class="form">
    <label class="label" for="firstName">First name:</label>
    <input class="input" type="text" name="firstName" id="firstName" value="First Name">
    
    <label class="label" for="lastName">Last Name:</label>
    <input class="input" type="text" name="lastName" id="lastName" value="Last Name">

    <label class="label" for="email">Email adress:</label>
    <input class="input" type="email" name="email" id="email" value="email">
    
    <input id ="submitbtn" class="btn" type="submit" value="Subscribe to the newsletter !">
</form>
