<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Not Music</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="not-music">
    <h1>Not Music</h1>
    <p>16 November 2010</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Everybody's Weird Except Me</li>
        <li>Supah Jaianto</li>
        <li>So Is Cardboard Clouds</li>
        <li>Equivalences</li>
        <li>Leleklato Sugar</li>
        <li>Silver Sands" (Emperor Machine Mix)</li>
        <li>Two Finger Symphony</li>
        <li>Delugeoisie</li>
        <li>Laserblast</li>
        <li>Sun Demon</li>
        <li>Aelita</li>
        <li>Pop Molecules (Molecular Pop 2)</li>
        <li>Neon Beanbag" (Atlas Sound Mix)</li>
    </ol>
    <img src="/images/not-music.jpg" />
    </div>  
    <a href="https://www.youtube.com/watch?v=hTa8uXOGZ7k" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>