<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BG</title>
 <link href="./stylesheets/style.css" rel="stylesheet">
</head>
    <body>
        <div class="center">
            <img src="./assets/Bill-404.jpg" class="img-fluid mt-3 mb-4 col-6" alt="Bill Gates 404">
            <h2>Error 404: not found</h2>
            <h3>Please try navigating from the <a href="/">home page</a></h3>
       </div>
    </body>
</html>