<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <h1 class="title">Paintings</h1>
    </header>
    <main class="pics">
        <img src="images/image1.jpeg" alt="image1">
        <img src="images/image2.jpeg" alt="image2">
        <img src="images/image3.jpeg" alt="image3">
        <img src="images/image4.jpeg" alt="image4">
        <img src="images/image5.jpeg" alt="image5">
        <img src="images/image6.jpeg" alt="image6">
    </main>
    
</body>
</html>