<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <main>
        <h1 class="title">LIST OF EXHIBITIONS</h1>
        <p class="exh">
            Ocean Blue Galleries, Winter Park FL. Mar. 2021 >>> <br>
Wyland Galleries of the Florida Keys, Duval St, Key West FL. Feb. 2020 >>><br>
Phillip Anthony Signature Gallery, St. Augustine (FL). Feb. 2021 >>><br>
Ocean Blue Galleries, St. Petersburg (FL). Jan. 2021 >>><br>

Ocean Blue Galleries, Winter Park FL. Nov. 2020 >>><br>
Ocean Blue Galleries, St. Petersburg (FL). Oct. 2020 >>><br>
Wyland Galleries of the Florida Keys, Duval St, Key West FL. Oct. 2020 >>><br>
Wyland Galleries of the Florida Keys, Sarasota, Key West FL. Sep. 2020 >>><br>
Ocean Blue Galleries, Winter Park FL. Aug. 2020 >>><br>
Cornerstone Fine Art Gallery, St. Augustine (FL). Mar. 2020 >>><br>
Ocean Blue Galleries, Winter Park FL. Feb. 2020 >>><br>
Wyland Galleries of the Florida Keys, Duval St, Key West FL. Feb. 2020 >>><br>
Wyland Galleries of the Florida Keys, Sarasota, Key West FL. Jan. 2020 >>><br>
        </p>
    </main>
</body>
</html>