<!DOCTYPE html>
<html>
<head>
	<title>Cerveza a domicilio</title>
	<link rel="stylesheet" href="/stylesheets/paquetes.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
</head>
<body>
	<div class="main">
		
		<div class="first-page">
			<div class="navbar">
				<div class="navbar-left">
					<div class="logo-link">
					<a href="#"><img class="logo" src="Images/beer.png"></a>
					</div>
					<a href="#Home">Chela a casita</a>
				</div>
				<nav class="navbar-right">
					<a href="/">Home</a>
					<a href="/paquetes">Paquetes</a>
					<a href="/about">About</a>
				</nav>
			</div>
		</div>

		<div id="Paquetes" class="card-grid">
			<div class="card card-1">
				<img class="card-image" src="Images/cerveza1.jpg">
				<h2 class="card-title">
					Basico
				</h2>
				<div class="card-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
				<div class="button-buy-container">
					<a class="button-buy" href="#">Comprar!</a>
				</div>
			</div>

			<div class="card card-2">
				<img class="card-image" src="Images/cerveza1.jpg">
				<h2 class="card-title">
					Premium
				</h2>
				<div class="card-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
				<div class="button-buy-container">
					<a class="button-buy" href="#">Comprar!</a>
				</div>
			</div>

			<div class="card card-3">
				<img class="card-image" src="Images/cerveza1.jpg">
				<h2 class="card-title">
					Premium+
				</h2>
				<div class="card-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					<div class="button-buy-container">
					<a class="button-buy" href="#">Comprar!</a>
				</div>
				</div>
			</div>
		</div>

		<div class="footer">
				<p>Gustavo Peña | <a href="https://www.instagram.com/gustavopenya/" target="_blanck"><i class="fab fa-instagram"></i> @gustavopenya</a> | Derechos Reservados 2018 </p>
		</div>
	</div>
</body>
</html>