<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Peng!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="peng">
    <h1>Peng!</h1>
    <p>26 May 1992</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Super Falling Star</li>
        <li>Orgiastic</li>
        <li>Peng! 33</li>
        <li>K-Stars</li>
        <li>Perversion</li>
        <li>You Little Shits</li>
        <li>The Seeming and the Meaning</li>
        <li>Mellotron</li>
        <li>Enivrez-vous</li>
        <li>Stomach Worm</li>
        <li>Surrealchemist</li>
    </ol>
    <img src="/images/peng.jpg" />
    </div>
    <a href="https://open.spotify.com/album/5AnL3TgF99w8erKTjI3iP1?si=oKIqQpZBTnW5mMu-ZUVNdA" class = "listen">Listen!</a>
    <a href="/">Discography</a>
    <!-- <img src="/images/peng.jpg" /> -->
  </body>
</html>