<h1>Diana's Philanthropic Activities</h1>

<div class="all-images">
    {{#each imageCaptions}}
        <div class="each-image-and-caption">
        <img class="phil-images" src="./img/{{this.images}}.jpg" alt="">
        <p>{{this.captions}}</p>
        </div>
    {{/each}}
</div>

<p class="paragraphs">Diana's extensive charity work also included campaigning for animal protection and fighting against 
    the use of landmines. She was the patroness of charities and organisations who worked with the homeless, 
    youth, drug addicts, and the elderly. From 1989, she was president of Great Ormond Street Hospital for 
    Children. She was patron of the Natural History Museum and president of the Royal Academy of Music.
    From 1984 to 1996, she was president of Barnardo's, a charity founded by Dr. Thomas John Barnardo in 
    1866 to care for vulnerable children and young people. In 1988, she became patron of the British 
    Red Cross and supported its organisations in other countries such as Australia and Canada. She made several 
    lengthy visits each week to Royal Brompton Hospital, where she worked to comfort seriously ill or dying patients.
     From 1991 to 1996, she was a patron of Headway, a brain injury association. In 1992, she became the first patron 
     of Chester Childbirth Appeal, a charity she had supported since 1984. The charity, which is named after one 
     of Diana's royal titles, could raise over £1 million with her help. In 1994, she helped her friend Julia 
     Samuel launch the charity Child Bereavement UK which supports children "of military families, those of suicide victims, 
     [and] terminally-ill parents," and became its patron. Prince William later replaced his mother as the charity's 
     royal patron.
</p>