<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogallery</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Check out my photogallery</h1>
    <ul>
   <li class="firstLi"> <a href="/">Back to Homepage</a></li>
    <li><a href="/about">Go to about</a></li>
   <li> <a href="/works">Go to my projects</a></li>
</ul>
   
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Tina_Turner_50th_Anniversary_Tour.jpg/500px-Tina_Turner_50th_Anniversary_Tour.jpg" alt="">
</body>
</html>