<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div id="divimg">
        <img src="rute1.jpg" id="imgpage"> 
        <img src="rute.jpg" id="imgpage">
        <img src="rute3.jpg" id="imgpage">
        <img src="rute4.jpg" id="imgpage">
        <img src="rute5.jpg" id="imgpage">
    </div>
   
</body>
</html>