<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photos of Jimmy Butler</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
        <div class="navbar">
            <div id="navimg">
                <img src="/images/vicelogo.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/photos">Photos</a></li>
            </ul>
        </div>
    </nav>

    <section>
        <div id="photosection">
            <img src="/images/dream.png" alt="">
            <img src="/images/court.png" alt="">
            <img src="/images/mcgregor.png" alt="">
            <img src="/images/car.png" alt="">
            <img src="/images/court.png" alt="">
            <img src="/images/dream.png" alt="">
            <img src="/images/love.png" alt="">
            <img src="/images/miami.png" alt="">
            <img src="/images/raptor.png" alt="">
            <img src="/images/wade.png" alt="">
            <img src="/images/tubbs.png" alt="">
            <img src="/images/drive.png" alt="">
        </div>
    </section>

  </body>
</html>