<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Photo Gallery</title>
  </head>
  <body>
    <li class="btn"><a href="/">Home</a></li>
    <h1>Photo Gallery</h1>
    <div class="imageGallery">
      <img class="image" src="./images/10-2500x1667.jpg" alt="" />
      <img class="image" src="./images/1000-5626x3635.jpg" alt="" />
      <img class="image" src="./images/1002-4312x2868.jpg" alt="" />
      <img class="image" src="./images/1003-1181x1772.jpg" alt="" />
      <img class="image" src="./images/1004-5616x3744.jpg" alt="" />
      <img class="image" src="./images/1006-3000x2000.jpg" alt="" />
    </div>
  </body>
</html>
