<h2><strong>Photo Gallery</strong></h2>
<div class="d-flex flex-column flex-nowrap">
    <img src="https://static01.nyt.com/images/2013/07/07/movies/20130707_CERA-slide-6M77/20130707_CERA-slide-6M77-articleLarge.jpg?quality=75&auto=webp&disable=upscale" alt="Michael Cera 1" />
    <img src="https://cdn.theatlantic.com/static/mt/assets/culture_test/michael_cera_cover.jpg" alt="Michael Cera 2" />
    <img src="https://ogimg.infoglobo.com.br/in/8918497-f9b-ee0/FT1086A/652/Michael-Cera.jpg" alt="Michael Cera 3" />
    <img src="https://www.thefamouspeople.com/profiles/images/michael-cera-3.jpg" alt="Michael Cera 4" />
    <img src="https://quotecatalog.imgix.net/assets/michael-cera-yOJwWupzbjnk5Ne3xp1YhGSW/michael_cera.jpg?w=405&h=238&fit=crop" alt="Michael Cera 5" />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3Kwpe1I_yp_vq4_IZCYdc36z1NL6O4t240g&usqp=CAU" alt="Michael Cera 5" />
</div>