<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/shared.css" />
    <link rel="stylesheet" href="./css/photo-gallery.css" />
    <title>Photo Gallery</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="./..">Home Page</a></li>
        <li><a href="./../about">About Emperor Norton</a></li>
        <li><a href="./../legacy">Legacy of Emperor Norton</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col text-container">
          <h1>Photo Gallery</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-container">
          <article>
            <img
              src="./img/Emperor_Joshua_A_Norton_I.jpg"
              alt="Emperor Norton in his uniform"
            />
            <h2>Emperor Norton, in his uniform.</h2>
          </article>
          <article>
            <img
              src="./img/10_norton_bucks.jpg"
              alt="10 dollars, emitted by the Emperor"
            />
            <h2>A bill of 10 dollars, emitted by the Emperor</h2>
          </article>
        </div>
        <div class="col-6 text-container">
          <article>
            <img
              src="./img/funeral_of_lazarus.jpg"
              alt="A fanciful depiction of Norton dressed as the Pope at the funeral of the itinerant dog Lazarus"
            />
            <h2>
              A fanciful depiction of Norton dressed as the Pope at the funeral
              of the itinerant dog Lazarus.
            </h2>
          </article>
          <article>
            <img
              src="./img/norton_plaque.png"
              alt="1939 plaque commemorating Norton's role in the history of the Bay Bridge"
            />
            <h2>
              1939 plaque commemorating Norton's role in the history of the Bay
              Bridge.
            </h2>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
