<html>
    <body>
        <h1>Arch Enemy</h1>

        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/discography"> Discography  </a></li>
        </ul>

        <div>
            <img src="../public/images/494d0eab6c1aeb76749952a4ea43d9df_w600.jpg">
            <img src="../public/images/543bef97b3d06b2d6cd3693ade6b4768_w600.jpg">
            <img src="../public/images/6bbe0943d6b2c525ea3958ab3808a618_w600.jpg">
            <img src="../public/images/8f3ec2def4316cc51cad7eb0be972700_w800.jpg">
        </div>
    </body>
</html>