<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header class="header-page">

        <h1><a href="/">Beyond Food</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/about"> About</a>
                </li>
                <li>
                    <a href="/works">Works</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <section class="gallery">
            <h2> Photo Gallery</h2>
            <p>Drawing on the latest developments in scientific research, which have further validated his
                recommendations, he explains
                how the Grain Brain program boosts the brain, shows the benefits of using fat as a main fuel source, and
                puts forth the
                most compelling evidence to date that a non-GMO, gluten-free, and low-carb diet is crucial for cognitive
                function,
                weight loss and long-term health.</p>
            <div class="container">
                <div class="row ">

                    <div class="col-6 " style="border-bottom:  #dcdcdc 1px solid; margin-top: 12px;
                margin-bottom: 33px;">
                        <img id="" src="./img/diet.jpg" alt="food">
                    </div>

                    <div class="col-6 " style="border-bottom:  #dcdcdc 1px solid; margin-top: 12px;
                margin-bottom: 33px;">
                        <img id="" src="./img/foods.jpg" alt="food" />
                    </div>

                    <div class="col-6 " style="border-bottom:  #dcdcdc 1px solid; margin-top: 12px;
                margin-bottom: 33px;">
                        <img id="" src="./img/Keto.jpg" alt="Food" />
                    </div>

                    <div class="col-6 " style="border-bottom:  #dcdcdc 1px solid; margin-top: 12px;
                margin-bottom: 33px;">
                        <img id="" src="./img/meal.jpg" alt="Food" />
                    </div>

                </div>

            </div>
        </section>
        <aside>

        </aside>
    </main>

    <footer>

    </footer>
</body>

</html>