<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/photogallery">Photo Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="gallery">
            <div class="first">
                <div class="pics">
                    <img src="/images/young.jpg" alt="">
                </div>
                <div class="pics">
                    <img src="/images/epic.jpg" alt="">
                </div>
                <div class="pics">
                    <img src="/images/king.jpg" alt="">
                </div>
            </div>
            <div class="second">
                <div class="pics">
                    <img src="/images/wimbledon.jpg" alt="">
                </div>
                <div class="pics">
                    <img src="/images/withmontse.jpg" alt="">
                </div>
                <div class="pics">
                    <img src="/images/old.jpg" alt="">
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>