<!DOCTYPE html>
<html lang="en">
<title>Photos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/stylesheet.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-bey1 {padding-left: 100px}
.fa-bey3 {width: 50px;}
</style>
<body>


    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
          <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
          <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
          <a href="/photo_gallery" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Photo Gallery</a>
          <a href="/works" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Works</a>
        </div>

 
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Beyoncé's photos</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Gallery</h1>
      <div class="w3-third w3-center">
        <img class ="fa-bey1 w3-padding-64 w3-margin-right" src= '/images/bey1.jpg'></img>
      </div>
    

    </div>

    <div class="w3-third w3-center">
      <img class ="fa-bey1 w3-padding-64 w3-margin-right" src= '/images/bey5.jpg'></img>
    </div>

    <div class="w3-third w3-center">
        <img class ="fa-bey1 w3-padding-64 w3-margin-right" src= '/images/bey6.jpg'></img>
      </div>

  </div>
</div>


<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">'A true diva is graceful, and talented, and strong, and fearless and brave and someone with humility.'</h1>
</div>

</body>
</html>