<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photos</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="/home">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/photos">PHOTO GALLERY</a></li>
        </ul>
      </nav>
  <h1>PHOTOS</h1>
  <div class="container">
    <img src="Img/lykoi-photo-u1.jpg" alt="" class="cat-photo">
    <img src="Img/manx-freestyle-list-photo-u1.jpg" alt="" class="cat-photo">
    <img src="Img/maine-coon-freestyle-list-photo-u4.jpg" alt="" class="cat-photo">
    <img src="Img/russian-blue-freestyle-list-photo-u2.jpg" alt="" class="cat-photo">
  </div>
  
</body>
</html>