<h1>{{title}}</h1>


<section id="galerie">
    <div class="imageContainer maxsize1">
        <a href="https://www.cassina.com/fr/collection/divani/lc4#description"><img
                src="/img/chaise_longue_allongee.webp" alt="Charlotte P.allongée sur la LC4"></a>
    </div>
    <div class="imageContainer minsize1">
        <img src="/img/IMG_2963.jpeg" alt="meuble">
        <img src="/img/IMG_2959.jpeg" alt="fauteuil crée au Japon">
    </div>

    <div class="imageContainer minsize2">
        <img src="/img/esquisses.jpeg" alt"dessins">
        <img src="/img/Mobles.jpeg" alt"Brésil">
    </div>

    <div class="infos2">
        <p><a href="https://www.fondationlouisvuitton.fr/fr/expositions/exposition/charlotte-perriand.html">"70 ans de
                création visionnaire"</a> : une exposition pour découvrir l'oeuvre de Charlotte Perriand,
            longtemps
            restée dans l'ombre de Le Corbusier. <br>La Fondation Louis Vuitton la met à l'honneur, allez la découvrir !
        </p>
    </div>

    <div class="imageContainer maxsize2">
        <img src="/img/meubles artisanat.jpg" alt="artisanat">
    </div>

    <div class="imageContainer minsize3">
        <img src="img/meribel.jpg" alt="meribel">
    </div>
    <div class="infos3">
        <p>At around that time, Colonel Peter Lindsay, a winter-sports enthusiast born in Scotland, roped Perriand into
            a grand plan to transform farmland near the tiny hamlet of Méribel, in Savoy, into a fashionable ski resort.
            There, Perriand designed the furnishings and interiors of chalets and hotels built in the style of historic
            wooden Savoyard buildings. <br>In lieu of payment, Lindsay gave her a plot of land where she built her own
            chalet for family holidays. <br>By the late 1960s, she was immersed in an even bolder scheme to build <a
                href="https://ideat.thegoodhub.com/2018/12/07/ski-la-mythique-station-les-arcs-a-50-ans/">Les Arcs, </a>
            a huge ski resort 35 miles from Méribel. Inside is minimalistic, and the large windows pay homage to the
            mountain
            Still today, Arcs architecture is uncommon with all the others mountain stations. </p>
    </div>


    <div class="infos4">
        <p>
            Perriand left Paris for Tokyo in 1940 to work as an adviser on industrial design to the Japanese government.
            She used the assignment as an opportunity to travel throughout Japan and to study its craft traditions. She
            was deeply
            moved by the economy, ­elegance, and subtlety of historic Japanese design and architecture, but in 1942, at
            the height of World War II, she was expelled from the country as an “undesirable alien.” The wartime naval
            blockade made it impossible for her to return to France, so she headed for the then-French colony of
            Indochina, which included Cambodia, Laos, and ­Vietnam. <h4> Resilient as ever,</h4>
            <p class="suite">Perriand persuaded a
                French
                government official to commission her to conduct a study of Indochinese craftsmanship.</p> “Perriand
            combined a
            modern mind-set with traditional materials, craft techniques, and local knowledge and cultures,” notes
            Crawford. “And her depth of knowledge explains why her furniture seems as good and relevant today as it was
            when it was first designed.”
        </p>
    </div>

    <div class="imageContainer minsize4">
        <img src="/img/leger.jpeg" alt="Fernand Leger Fresque">
    </div>
    <div class="infos5">
        <p>
            The artist Fernand Léger was her best friend, and he was also her neighboor when she was living in
            Montparnasse. He designed many fresques connected with her work.<br>
            Perriand’s independent spirit was as radical as her work. During the 1920s and ’30s, she was immersed in the
            Parisian avant-garde and befriended many of the most important international designers of the era when they
            visited
            Le Corbusier’s studio. She was friend with Miró, Picasso, Calder, Braque, Soulages.
        </p>
    </div>

</section>

<hr>