<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallary</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>PHOTOS</h1>
    <h2>Feel free to scroll arround and find more amazing pictures!</h2>
    <div>
        <img src="/images/crazy1.jpg" alt="Moos crazy">
        <img src="/images/crazy2.jpg" alt="Moos crazy">
        <img src="/images/sleep1.jpg" alt="Moos sleeping">
        <img src="/images/sleep2.jpg" alt="Moos sleeping">
        <img src="/images/pose1.jpg" alt="Moos posing">
        <img src="/images/pose2.jpg" alt="Moos posing">
        <img src="/images/pose3.jpg" alt="Moos posing">
        <img src="/images/pose4.jpg" alt="Moos posing">
        <img src="/images/pose5.jpg" alt="Moos posing">
        <img src="/images/pose6.jpg" alt="Moos posing">
    </div>
    <div>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/">Welcome</a></li>
    </div>
</body>
</html>