<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div class="container">
    <nav class="nav justify-content-center pt-5 pb-3">
        <div class="nav-item">
        <a class="nav-link" href="/home">Home</a> 
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/works">Works</a> 
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/gallery">Paintings</a> 
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/about">Bio</a> 
        </div>
    </nav>
<div class="container mb-5">
    <h2 class="h2 ml-4 mb-5 mt-5">Paintings</h2>
    <div class="row">
        <div class="col-sm">
            <figure class="figure">
                <img src="/images/selfportrait.jpg" class="figure-img img-fluid" alt="selfportrait">
                <figcaption class="figure-caption text-right">Selfportrait</figcaption>
            </figure>
        </div>

        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Dalila.jpg" class="figure-img img-fluid" alt="Dalilah">
                <figcaption class="figure-caption text-right">Dalilah</figcaption>
            </figure>
        </div>
        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Cleopatra.jpg" class="figure-img img-fluid" alt="Cleopatra">
                <figcaption class="figure-caption text-right">Cleopatra</figcaption>
            </figure>
        </div>
        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Judith.jpg" class="figure-img img-fluid" alt="Judith">
                <figcaption class="figure-caption text-right">Judith</figcaption>
            </figure>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Maria Magdalena.jpg" class="figure-img img-fluid" alt="Magdalena">
                <figcaption class="figure-caption text-right">Maria Magdalena</figcaption>
            </figure>
        </div>

        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Susana.jpg" class="figure-img img-fluid" alt="Susana">
                <figcaption class="figure-caption text-right">Susana</figcaption>
            </figure>
        </div>
        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Juan.jpg" class="figure-img img-fluid" alt="San Juan">
                <figcaption class="figure-caption text-right">San Juan</figcaption>
            </figure>
        </div>
        <div class="col-sm">
            <figure class="figure">
                <img src="/images/Doncella.jpg" class="figure-img img-fluid" alt="Judith y Doncella">
                <figcaption class="figure-caption text-right">Judith y su doncella</figcaption>
            </figure>
        </div>
    </div>
</div>

</body>
</html> 