<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Honorific member</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="/">Back to Home</a>
    </header>

    <main id="gallery-page">

      <h1>Photo Gallery</h1>

      <img src="/images/dumbledore-2.webp" alt="Albus Dumbledore">
  
      <img src="/images/dumbledore-01.jpg" alt="Albus Dumbledore">
  
      <img src="/images/dumbledore-03.jpg" alt="Albus Dumbledore">
  
      <img src="/images/dumbledore-04.jpg" alt="Albus Dumbledore">
    </main>

  </body>
</html>