<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Photo</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <a href="http://localhost:3000/home">Home</a>
    <h1>They are waiting for your help!</h1>
    <ul>
        <img src="/images/wp6317015-dogs-and-cats-cute-wallpapers.jpg" width='500vw' height='450hw' />
        <img src='/images/wp2645383-cute-cat-wallpapers-kitten.jpg' width='500vw' height='450hw' />
        <img src='/images/wp3536286-cindy-the-cat-wallpapers.jpg' width='500vw' height='450hw' />
        <img src='/images/wp5592752-puppy-with-cats-wallpapers.jpg' width='500vw' height='450hw' />
        <img src='/images/wp6317172-dogs-and-cats-cute-wallpapers.jpg' width='500vw' height='450hw' />
        <img src='/images/wp6317299-dogs-and-cats-cute-wallpapers.jpg' width='500vw' height='450hw' />
        <p>Find out how to help them today</p>
    </ul>

</body>

</html>