<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" type="text/css" media="all">
    <title>photo-gallery</title>

</head>
<body>
    <nav>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Photo-gallery</a>
          </div>
    </nav>
    <h1>Photo-gallery</h1>
    <div class="galleryImgs">
        <img src="/assets/kisspng-a-clockwork-orange-stanley-kubrick-film-streaming-5b89d728057213.2192517315357601680223.png" alt="clockwork oramge image">
        <img src="/assets/kisspng-gny-sgt-hartman-youtube-film-5af24ca3b48514.2447991515258287717394.png" alt="">
        <img src="/assets/kisspng-hal-9000-film-poster-2001-a-space-odyssey-film-se-2001-a-space-odyssey-5b2f272bc17029.4031882815298168757923.png" alt="">
    </div>
</body>
</html>
