<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Photo gallery</title>
    <meta name="description" content="photo gallery" />
    <meta name="author" content="SitePoint" />
    <link rel="stylesheet" href="/css/photo-gallery-style.css" />
  </head>

  <body>
    <nav class="nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Kartini</a></li>
        <li><a href="/works">Kartini's legacy</a></li>
        <li><a href="/photo-gallery">Photo gallery</a></li>
      </ul>
    </nav>
    <h1>Photo gallery</h1>
    <div class="container">
      <div>
        <img
          src="/images/333da1488f9d71713702c429f8da3f5f.jpg"
          alt="image of Kartini"
        />
      </div>
      <div>
        <img src="/images/5170d-kartini_1.jpg" alt="image of Kartini" />
      </div>
      <div>
        <img src="/images/kartini-school.jpg" alt="image of Kartini" />
      </div>
      <div>
        <img src="/images/kartini-and-sisters.jpg" alt="image of Kartini" />
      </div>
      <div>
        <img src="/images/Raden-Ayu-Kartini-1.jpg" alt="image of Kartini" />
      </div>
      <div>
        <img src="/images/r-a-kartini.jpg" alt="image of Kartini" />
      </div>
    </div>
    <script src="js/scripts.js"></script>
  </body>
</html>
