<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style type="text/css">* {cursor: url(http://ani.cursors-4u.net/others/oth-9/oth893.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2018/02/08/flaming-guitar-pick.html" target="_blank" title="Flaming Guitar Pick"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Flaming Guitar Pick" style="position:absolute; top: 0px; right: 0px;" /></a>
  </head>
  <body class="photos">
    <h1>Photo gallery</h1>
  
    <img src="/images/john-petrucci1.jpg" alt="photo1 John"/>
    <img src="/images/john-petrucci2.jpg" alt="photo2 John"/>
    <img src="/images/john-petrucci3.jpg" alt="photo3 John"/>
    <img src="/images/john-petrucci4.jpg" alt="photo4 John"/>

    <a href="/">Back to Home</a>
  </body>
</html>