<h1>ja i miłość mojego życia</h1> <img src="../flyingmon.jpg" alt="Monika">
<h1>ja, kiedy się budzę</h1> <img src="../monicapiekna.jpg" alt="Monika">
<h1>ja, kiedy farbuję włosy</h1> <img src="../monikared.jpg" alt="Monika">