{{> nav}}
<link rel="stylesheet" href="/style.css">


<div class="gallerydiv">
        <img src="/gallery/brad1.jpeg" alt="Brad 1" class="image">
        <img src="/gallery/brad2.jpg" alt="Brad 2" class="image">
        <img src="/gallery/brad3.jpg" alt="Brad 3" class="image">
        <img src="/gallery/brad4.jpg" alt="Brad 4" class="image">
    <div class="overlay">
        <div class="text">Hello World</div>
    </div>
</div>



{{> footer}}