<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/style/photo.css'> 
    <title>About</title>
</head>

<body>
    <section id='section1'>
        <nav class='navbar'>  
            <div class='logo-container'>
                <h3>John Galt Foundation</h3>
            </div>


            <div class='pages-container'>
                <div>
                    <a href='/home'>
                        <button id='home'>
                            Home
                        </button></a>
                    
                </div>

                <div>
                    <a href='/about'>
                        <button id='about'>
                            About
                        </button></a>
                    
                </div>
                
                <div>
                    <a href='/works'>
                    <button id='works'>
                        Works
                    </button></a>
                    
                </div>

                <div>
                    <a href='/photo'><button  id='photo-gallery'>
                        Photo Gallery
                    </button></a>
                    
                </div>


            </div>    
        </nav>

        <div class='main'>
            
        </div>

    </section>

    <script type='text/javascript' src='/src/main.js'></script>  
</body>

</html>