<!DOCTYPE html>
<html>
  <head>
    <title>Photo Gallery</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>Martin Luther King</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Works">Works</a></li>
            <li><a href="/Gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="main-img">
        <img src="/images/mt7.jpg" id="current" />
      </div>
      <div class="images">
        <img src="/images/martin-background.jpg" />
        <img src="/images/mt1.jpg" />
        <img src="/images/mt2.jpg" />
        <img src="/images/mt3.jpg" />
        <img src="/images/mt4.jpg" />
        <img src="/images/mt5.jpg" />
        <img src="/images/mt6.jpg" />
        <img src="/images/mt7.jpg" />
      </div>
    </div>
    <footer>
      <p>Copyright &copy; 2020</p>
    </footer>
  </body>
</html>
