<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Photo Gallery</title>
</head>
<body>
  <h1>PHOTOS</h1>
<div>
  <a href="/">Home</a>
</div>

<div class="container">

  <img class="imgs" src="https://media.giphy.com/media/3m97D6EGGc4sE/giphy.gif">
  <img class="imgs" src="/images/download.jpg" alt="">
  <img class="imgs" src="/images/download-1.jpg" alt="">
  <img class="imgs" src="/images/shutterstock-10338536170938-620x354.jpg" alt="">

</div>

</body>
</html>