<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Photos of Salvador Dali</title>
</head>
<header class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
</header>
<body>
    <h1 class="heading-text">Photos Of Salvador Dali</h1>
    <p class="paragraph-text"> He met some cool people. And just look at that 'stache!</p>
    <div id='gallery'>
        
        <div class='painting'>
            <img src="/images/dali-lorca.jpg" alt='Metamorphosis of Narcissus' />
            <h5>Dalí with Federico García Lorca, <br/>Turó Park de la Guineueta, Barcelona - 1925</h5>
        </div>
            <div class='painting'>
            <img src="/images/Salvador_Dali_1939.jpeg" alt="Lobster Telephone" />
            <h5>Salvador Dali - 1939</h5>
        </div>
        <div class='painting'>
            <img src="/images/Salvador_Dali_NYWTS.jpeg" alt="Dali and Babou">
            <h5>Salvador Dali with his pet ocelot, Babou, and cane - 1965</h5>
        </div>
        <div class='painting'>
            <img src="/images/dali-frida.jpeg" alt="The Great Masturbator - 1929">
            <h5>Dali with fellow artist Frida Khalo - 1942</h5>
        </div>
    </div>
</body>
</html>