<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Kraftwerk</title>
</head>
<body>
  <nav id="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/photos">Photo Gallery</a>
  </nav>
  <h1>Check out these pics</h1>
  <div class = "container">
    <p class="welcome">You made it! :D</p>
    <img src="/images/k2.jpg" alt="k2">
    <img src="/images/k4.jpg" alt="k4">
    <img src="/images/k5.jpg" alt="k5">
    <img src="/images/k6.jpg" alt="k6">
  </div>
</body>
</html>