<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Photo Gallery</title>
</head>

<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photogalley">Photo Gallery</a></li>
        </ul>
    </nav>

    <h1>Photo Gallery</h1>
    <div id="section-container">
        <section id="section-portrait">
            <h2>Portrait</h2>
            <img src="https://m.media-amazon.com/images/M/MV5BMTU2MDc1ODk5MF5BMl5BanBnXkFtZTgwMjg3OTEwMjE@._V1_SY1000_CR0,0,1463,1000_AL_.jpg"
                alt="tarantino in Reservoid Dogs">
        </section>
        <section id="section-works">
            <h2>Works</h2>
            <div class="img-container">
                <img src="https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SY1000_CR0,0,686,1000_AL_.jpg"
                    alt="Pulp Fiction poster">
                <img src="https://m.media-amazon.com/images/M/MV5BOTJiNDEzOWYtMTVjOC00ZjlmLWE0NGMtZmE1OWVmZDQ2OWJhXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SY1000_SX675_AL_.jpg"
                    alt="Inglorious Bastards poster">
                <img src="https://m.media-amazon.com/images/M/MV5BNmY5ODRmYTItNWU0Ni00MWE3LTgyYzUtYjZlN2Q5YTcyM2NmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,683,1000_AL_.jpg"
                    alt="Jackie Brown poster">
                <img src="https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
                    alt="Django Unchained poster">
            </div>
        </section>
    </div>
</body>


</html>