<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo-gallery</title>
    
</head>
<body>
    <nav>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Photo-gallery</a>
          </div>
    </nav>
    <h1>this is the photo-gallery page</h1>
</body>
</html>
