<h2><strong>Photo Gallery</strong></h2>
<div class="d-flex flex-column flex-nowrap">
    <img src="https://guitar.com/wp-content/uploads/2020/12/John-Petrucci-HERO@1400x1050-696x522.jpg" alt="" />
    <img src="https://www.imprensadorock.com.br/wp-content/uploads/2019/11/7e540127-4ce9-4641-9662-0414a32745b2-e1574182909929-800x445.jpg" alt="" />
   <div class="embed-responsive embed-responsive-16by9">
<iframe width="951" height="535" src="https://www.youtube.com/embed/VjahLtBeElE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div> 