<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Graduate&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>Photo Gallery</title>
  </head>
  <body>
    <header>
      <nav id="nav">
        <div class="img-nav">
          <img src="./img/logo-jordan.png" alt="Jordan Logo" />
        </div>
        <div class="nav-bar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/works">Works</a>
          <a href="/photogallery">Photo Gallery</a>
        </div>
      </nav>
    </header>
    <main>
      <div id="gallery-pages">
        <div>
          <h2>Photo Gallery</h2>
        </div>
        <div class="container-imgs">
          <img src="/img/img1-gallery.jpg" alt="img1" />
          <img src="/img/img2-gallery.jpg" alt="img2" />
          <img src="/img/img3-gallery.jpeg" alt="img3" />
          <img src="/img/img4-gallery.jpg" alt="img4" />
        </div>
      </div>
    </main>
  </body>
</html>
