<div id="create-planet">
    <h1 class="title">Create new planet</h1>
    <form method="post" action="/" class="form">


        <label class="label" for="name">Name</label>
        <input class="input" id="name" type="text" name="name" value="Earth">

        <label class="label" for="img">Image</label>
        <input class="input" id="img" type="text" name="img" value="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/599px-The_Earth_seen_from_Apollo_17.jpg">

        <label class="label" for="surface">Surface</label>
        <input class="input" id="surface" type="text" name="surface" value="510 072 000 km2">

       <label class="label" for="volume">Volume</label>
        <input class="input" id="volume" type="text" name="volume" value="1.08321×10^12 km3">

        <label class="label" for="mass">Mass</label>
        <input class="input" id="mass" type="text" name="mass" value="5.97237×10^24 kg">

        <button class="btn">Create</button>
    </form>
</div>