<div class="banner">
  <div class="text">
    <span>
      <a href="https://drive.google.com/file/d/1_s3AZ1js35S1JYCDfkh5FoL1945NhGSp/view" target="_blank">
        Recipe creation and writing for a mindful food column
      </a>
    </span>
  </div>
  <div class="image">
    <a href="https://drive.google.com/file/d/1_s3AZ1js35S1JYCDfkh5FoL1945NhGSp/view" target="_blank">
      <img src="/images/garlic.jpg" alt="garlic">
    </a>
  </div>
</div>
<div class="banner">
  <div class="text">
    <span>
      <a href="https://drive.google.com/file/d/1ZkG-iMuqEkoegBPg7Ioj_0HtRZSBJEh-/view" target="_blank">
        Conception and writing for magazine backpage
      </a>
    </span>
  </div>
  <div class="image">
    <a href="https://drive.google.com/file/d/1ZkG-iMuqEkoegBPg7Ioj_0HtRZSBJEh-/view" target="_blank">
      <img src="/images/heart.jpg" alt="heart">
    </a>
  </div>
</div>
<div class="banner">
  <div class="text">
    <span>
      <a href="https://drive.google.com/file/d/1-e-yUe1gTvXNyI_H5QhIL-7eNwiGwSc1/view" target="_blank">
        Writing and editorial direction for magazine feature on contemplative photography
      </a>
    </span>
  </div>
  <div class="image">
    <a href="https://drive.google.com/file/d/1-e-yUe1gTvXNyI_H5QhIL-7eNwiGwSc1/view" target="_blank">
      <img src="/images/photography.jpg" alt="photography magazine">
    </a>
  </div>
</div>
<div class="banner">
  <div class="text">
    <span>
      <a href="https://drive.google.com/file/d/1saAqe1PVIgVnXwqahXslQOEBAmdAlXv8/view" target="_blank">
        Writing and editorial direction for magazine feature on flower arranging
      </a>
    </span>
  </div>
  <div class="image">
    <a href="https://drive.google.com/file/d/1saAqe1PVIgVnXwqahXslQOEBAmdAlXv8/view" target="_blank">
      <img src="/images/ikebana.jpg" alt="flowers magazine">
    </a>
  </div>
</div>