<div>
    {{>nav_bar}}
</div>

<div class="text">
<h2>Let's see what to do to improve it</h2>
<h3>Desk set up</h3>
<div id="desk-img">
    <img src="../images/desk.jpg" alt="ergonomics desk set-up">
    </div>

<p>If you prefer to watch a video, <a href="https://www.youtube.com/watch?v=F8_ME4VwTiw">click here 🙃</a></p>

<h3>To go further.. </h3>
<p>Include some Yoga in your daily life</p>
<div id="yoga-img">
    <img src="../images/yoga.jpg" alt="yoga desk exercices">
</div>


</div>




