<div id="products">
    <article id="chouchouliberty">
        <h3>Chouchou Liberty</h3>
        <a href="/liberty" id="productlinks">
            <img src="/assets/img/liberty.jpg" alt="image">
        </a>        <button> Buy </button>
    </article>
    <article id="chouchoujouy">
        <h3>Chouchou Jouy</h3>
        <a href="/jouy" id="productlinks">
            <img src="/assets/img/jouy.jpg" alt="image">
        </a>        <button> Buy </button>
    </article>
    <article id="chouchouvichy">
        <h3>Chouchou Vichy</h3>
        <a href="/vichy" id="productlinks">
            <img src="/assets/img/vichy.jpg" alt="image">
        </a>
        <button> Buy </button>
    </article>
</div>