<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/main.css">
    <title>Projects</title>
</head>

<body>
    <header>
        <nav class="fix-nav-bar">
            <section class="left">
                <a class="button" href="index">About</a>
                <a class="button" href="projects">Projects</a>
                <a class="button" href="contact">Contact</a>
            </section>
            <section class="right">
                <a href="https://www.linkedin.com/in/carla-martin/"><img class="contactimage"
                        src="./assets/linkedin.png" alt=""></a>
                <a href="https://github.com/carla-mt"><img class="contactimage" src="./assets/github.png"></a>
            </section>
        </nav>
    </header>
    <main>
        <section class="portfolioprojects">

            <h3 class="mainsubtitle">Latest projects</h3>
            <article>
                <img src="./assets/apple pie.png">
                <div class="projectdescription">
                    <h4 class="subtitledescription">Apple Pie</h4>
                    <p class="projectdescription"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit in
                        aperiam, provident possimus, quo esse minus, sit deserunt maiores tempora aliquam. Voluptatibus
                        perferendis maiores est veniam quas quae dolor facere.</p>
                </div>
            </article>
            <article>
                <img src="./assets/instsgram.png">
                <div class="projectdescription">
                    <h4 class="subtitledescription">Instagram</h4>
                    <p class="projectdescription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                        itaque quod quia recusandae odit eveniet dolor doloribus aut dicta. Accusamus impedit corrupti
                        ratione recusandae quisquam vel exercitationem dolorem quibusdam saepe.</p>
                </div>
            </article>
            <article>
                <img src="./assets/spotify.png">
                <div class="projectdescription">
                    <h4 class="subtitledescription">Spotify</h4>
                    <p class="projectdescription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                        itaque quod quia recusandae odit eveniet dolor doloribus aut dicta. Accusamus impedit corrupti
                        ratione recusandae quisquam vel exercitationem dolorem quibusdam saepe.</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        &copy;
    </footer>
</body>