<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    
    <title>projects</title>
</head>
<body>
      <header class="header">
           <a href="" class="logo">Gerard Solé Portfolio</a>
           <input class="menu-btn" type="checkbox" id="menu-btn" />
           <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
           <ul class="menu">
             
               	<li> <a href="/">Home</a></li>
		        <li> <a href="projects">Projects</a></li>
		        <li> <a href="contact">Contact</a></li>
           </ul>
         </header>
       
   <h1>Projects</h1>
<div class="wrapper">

	<div class="container" id="c0">
		<div class="image" id="i0">
			
		</div>
		<div class="story" id="s0">
			<div class="info">
			<h3>StarKiller</h3>
			<p class="about-project"> It's a JavaScript arcade videogame, based on Space Invaders, but with a diferent gameplay! 
            </p>
			</div>
		</div>
	</div>
	<div class="container" id="c1">
		<div class="image" id="i1">
			
		</div>
		<div class="story" id="s1">
			<div class="info">
                
				<h3>Stonehenge</h3>
			<p class="about-project"> Stonehenge is a prehistoric monument in Wiltshire, England. It was constructed in several stages between 3000 and 1500 B.C., spanninng to the Bronze Age.</p>
			</div>
		</div>
	</div>
	<div class="container" id="c2">
		<div class="image" id="i2">
	
		</div>
		<div class="story" id="s2">
			<div class="info">
			<h3>Tower of Pisa</h3>
			<p class="about-project"> The Leaning Tower of Pisa or simply the Tower of Pisa is the campanile, or freestanding bell tower, of the cathedral of the Italian city of Pisa, known worldwide for its unintended tilt</p>

			</div>
		</div>
	</div>

	

</div>
       






</body>
</html>