<link rel="stylesheet" href="css/project-main.css">

<section class="projects-presentation">
    <div class="presentation-text">
        <h1>{ jh }</h1>
        <h2 class="animated-text">Projectes</h2>
    </div>
    <div class="projects-type container">
        <div class="project-type yellow">
            <h2 class="title">Des de zero</h2>
            <p>
                Analitzar i executar els requeriments donats per part del client, amb la finalitat de convertir les seves necessitats i "desitjos" web en una eina funcional i efectiva per al seu negoci, projecte...
            </p>
        </div>
        <div class="project-type orange">
            <h2 class="title">Manteniment</h2>
            <p>
                Afegir noves funcionalitats a projectes ja operatius, fer tasques de manteniment per, entre d'altres, tenir sempre actualitzat el codi amb el que es treballa.
            </p>
        </div>
        <div class="project-type red">
            <h2 class="title">Wordpress</h2>
            <p>
                Creació de pàgines web tant per a botigues online com per a altres negocis, amb la creació de temes personalitzats, sempre adaptats a les necessitats que es demanen.
            </p>
        </div>
    </div>
</section>
<section class="my-projects container">
    <h2 class="title">i aquí uns exemples...</h2>
    <div class="projects">
        {{#each projects}}
            <div class="project">
                <h3 class="title">{{title}}</h3>
                <div class="content">
                    <div class="image">
                        <img src="img/{{img}}">
                    </div>
                    <div class="description">
                        <p>{{description}}</p>
                        <div class="tags">
                            {{#each tags }}
                                <div class="tag">{{this}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
<!-- Main js -->
<script src="js/main.js"></script>
<script src="js/project-main.js"></script>
