<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="styles/stylesheet.css">
  <title>Projects Portfolio | Pablo Olóndriz</title>
</head>

<body>
  <nav class="nav">
    <a href="#" class="logo">Pablo Olóndriz</a>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="projects">My Projects</a></li>
      <li><a href="contact">Contact Me</a></li>
    </ul>
  </nav>

  <main class="main main-projects-page">
    <h1 class="h1 h1-projects-page">Projects Portfolio</h1>
    <h3 class="h3-main h3-project-detail">Browse here all of my coding <br> and online projects:</h3>
    <section class="main-portfolio main-portfolio-projects-page">
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://legismusic.com/" target="_blank">
          <img class="web-screenshot" src="images/legis music screenshot.png" alt="legis music screenshot">
          <h3 class="portfolio-title">{{ name }}</h3>
          <p class="portfolio-description">{{ desc }}</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://www.micripto.com/" target="_blank">
          <img class="web-screenshot" src="images/micripto screenshot.png" alt="micripto screenshot">
          <h3 class="portfolio-title">Micripto</h3>
          <p class="portfolio-description">Website dedicated to Bitcoin & cryptocurrencies</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://olondriz.com" target="_blank">
          <img class="web-screenshot" src="images/olondriz com screenshot.png" alt="olondriz screenshot">
          <h3 class="portfolio-title">Olondriz.com</h3>
          <p class="portfolio-description">My own personal blog, since 2010</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://www.miethereum.com/" target="_blank">
          <img class="web-screenshot" src="images/miethereum-screenshot.png" alt="miethereum screenshot">
          <h3 class="portfolio-title">Miethereum</h3>
          <p class="portfolio-description">Website dedicated to Ethereum</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://heladeriabarcelona.com/" target="_blank">
          <img class="web-screenshot" src="images/lapalau-screenshot.png" alt="lapalau screenshot">
          <h3 class="portfolio-title">Gelateria Palau</h3>
          <p class="portfolio-description">Local website for an ice-cream shop in Barcelona</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://dproject-bcn.com/" target="_blank">
          <img class="web-screenshot" src="images/dproject-screenshot.png" alt="dproject screenshot">
          <h3 class="portfolio-title">D-Project</h3>
          <p class="portfolio-description">Architecture company's business website</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://www.saladdays.es/" target="_blank">
          <img class="web-screenshot" src="images/saladdays-screenshot.png" alt="salad days screenshot">
          <h3 class="portfolio-title">Salad Days</h3>
          <p class="portfolio-description">Local website for a new restaurant in Barcelona</p>
        </a>
      </article>
      <article class="portfolio-item">
        <a class="portfolio-link" href="https://josecorpascano.com/" target="_blank">
          <img class="web-screenshot" src="images/josecorpas-screenshot.png" alt="jose corpas screenshot">
          <h3 class="portfolio-title">Jose Corpas</h3>
          <p class="portfolio-description">Personal website of an actor</p>
        </a>
      </article>
      <article class="portfolio-item portfolio-item-last">
        <a class="portfolio-link" href="https://karmaland4.com/" target="_blank">
          <img class="web-screenshot" src="images/karmaland-screenshot.png" alt="karmaland screenshot">
          <h3 class="portfolio-title">Karmaland 4</h3>
          <p class="portfolio-description">Website for fun, to follow Karmaland's adventures</p>
        </a>
      </article>
    </section>
  </main>

  <footer class="footer">
    <section class="up-footer">
      <div class="footer-box">
        <h4 class="footer-title">ABOUT ME</h4>
        <hr class="footer-separator">
        <p class="footer-text">Online entrepreneur, author and Full Stack Developer. Through my professional career, I had the opportunity to dive deep on SEO, Wordpress, Copywiting and web technologies like HTML, CSS, Javascript, Nodejs and React. I'm passionate about the creation of projects from scratch!</p>
      </div>
      <div class="footer-box footer-sitemap">
        <h4 class="footer-title">SITE</h4>
        <ul class="footer-list">
          <b>
            <li class="footer-list-item"><a href="projects">My Projects</a></li>
            <li class="footer-list-item"><a href="contact">Contact Me</a></li>
            <li class="footer-list-item"><a href="https://olondriz.com" target="_blank">Blog</a></li>
            <li class="footer-list-item"><a href="#">Privacy Policy</a></li>
          </b>
        </ul>
      </div>
      <div class="footer-box">
        <h4 class="footer-title">CONTACT NOW</h4>
        <hr class="footer-separator">
        <p class="footer-text">You can contact me sending an email to <b>pablo@olondriz.com</b> or through some social media channels as LinkedIn or Instagram. You can also browse my Github account.</p>
      </div>
    </section>
    <section class="subfooter">
        <p class="copyright">ⒸCopyright - 2020 <b>Pablo Olóndriz </b>| Made with ❤️ in Barcelona</p>
    </section>
  </footer>

</body>
</html>