<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <script src="https://use.fontawesome.com/1fb0eb3889.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Projects</title>
</head>
<body>
    <nav>
        <a href="/">
            <img class="logo" src="/images/logo_edu_carmona.png" alt="logo">
        </a>
        <div class="collapsible-menu">
            <input type="checkbox" id="menu">
            <label for="menu"></label>
            <div class="menu-content">
                <ul>
                    <li><a class="nav-fonts" href="/">home</a></li>
                    <li><a class="nav-fonts" href="/about">about</a></li>
                    <li><a class="nav-fonts" href="/projects">projects</a></li>
                    <li><a class="nav-fonts" href="/contact">contact</a></li>
                    </ul>
                </div>
        </div>
        <ul class="menu-links nav-fonts">
            <li>
                <a class="nav-fonts" href="/">home</a>
            </li>
            <li>
                <a class="nav-fonts" href="/about">about</a>
            </li>
            <li>
                <a class="nav-fonts" href="/projects">projects</a>
            </li>
            <li>
                <a class="nav-fonts" href="/contact">contact</a>
            </li>
        </ul>
    </nav>
    <section class="projects" id="projects">
        <div class="let-space-nav"></div>
        <h2>Projects</h2>
        <div class="projects-articles">
            <a href="">
                <article>
                    <img src="/images/apple_pie_project.png" alt="apple_pie_project">
                    <h3>CLONED APPLE PIE RECIPE</h3>
                    <p>The cloning of the apple pie recipe was my first project in Ironhack, it is the cloning of an image in web format of an apple pie recipe. It was very useful for me to start familiarizing myself with HTML and CSS.</p>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/images/french_soup_project.png" alt="french_soup_project">
                    <h3>CLONED FRENCH ONION SOUP RECIPE</h3>
                    <p>The cloning of the French onion soup recipe was my second project at Ironhack, it is the cloning of an image in web format of an onion soup recipe. This project helped me continue to deepen the world of HTML and CSS.</p>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/images/spotify_project.png" alt="spotify_project">
                    <h3>CLONED SPOTIFY WEB</h3>
                    <p>The cloning of the Spotify website was my third project at Ironhack. In this project I had the opportunity to learn more about advanced selectors in CSS.</p>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/images/instagram_project.png" alt="instagram_project">
                    <h3>CLONED INSTAGRAM WEB</h3>
                    <p>The clone of the Instagram website was my fourth project at Ironhack. Thanks to this project I could see how to get into the topic of HTML element positioning.</p>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/images/slack_project.png" alt="slack_project">
                    <h3>CLONED SLACK WEB</h3>
                    <p>The clone of the Slack website was my fifth project at Ironhack. With this project I was able to practice with 'Box Model', 'Positioning' and 'Responsive Web'.</p>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/images/npm_project.png" alt="npm_project">
                    <h3>CLONED NPM WEB</h3>
                    <p>The cloning of the NPM website was my sixth project at Ironhack. With this project I continued practicing with HTML and CSS.</p>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/images/revera_project.png" alt="revera_project">
                    <h3>CLONED REVERA WEB</h3>
                    <p>The REVERA web clone was my seventh project at Ironhack. This project was very interesting because it had to work with many different elements and it helped me a lot to practice with icons, background images and simulation of layers.</p>
                </article>
            </a>
        </div>
    </section>
    <footer class="footer">
        <ul class="footer-follow">
            <li><a href="/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/duducarmona" target="_blank"><i class="fa fa-git"></i></a></li>
            <li><a href="https://www.linkedin.com/in/eduardo-carmona-oliva-3402b737" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="/" target="_blank"><i class="fa fa-file"></i></a></li>
        </ul>
    </footer>
</body>
</html>