<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');</style>
    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="shortcut icon" href="img/minilogo.png"/>
    <title>Carles Galí | Projects</title>
</head>

<body>
    <nav>
        <img class="logo" src="img/logo.png" alt="Logo">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class="select" href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <header>
		<section class="projects">
			<div class="right-projects">
			    <h2>PROJƎCTS</h2>
			</div>

			<div class="left-projects">
				<h2>PROJECTS</h2>
			</div>
        </section>
        
        <section class="details">
            <div class="right-details">
				<h2>DETAILS</h2>
			</div>

			<div class="left-details">
				<h2>DƎTAILS</h2>
			</div>
        </section>
    </header>
    
    <section class="main-section">
        <div class="webs">
            <div class="webs-container">
                <div>
                    <a href="https://carlesgali.neocities.org/"><h3>RedRoad Studio</h3></a>
                    <p>El primer proyecto realizado con varias páginas incluídas. Se trata de un esbozo de una página de una diseñadora de moda donde se incluyen varios trabajos realizados y su contacto.</p>
                </div>
                <img src="img/redRoad-page.png" alt="Red Road page">
            </div>
            
            <div class="webs-container">
                <div>
                    <a href="https://codepen.io/cgali/full/zYYdPWL"><h3>IronSkydive</h3></a>
                    <p>Es una de la páginas hechas durante el preworking de Ironhack. Se trata de una página donde se programa varios aspectos de arquitectura HTML y estilo CSS.</p>
                </div>
                <img src="img/ironSkydive-page.png" alt="IronSky page">
            </div>

            <div class="webs-container">
                <div>
                    <a href=""><h3>Spotify</h3></a>
                    <p>Ejercicio realizado durante el curso de Ironhack. Se trata de una réplica de la página de spotify con una imágen de la visualización móbil de la aplicación y su logotipo.</p>
                </div>
                <img src="img/spotify-page.png" alt="Spotify page">
            </div>
            
            <div class="webs-container">
                <div class="">
                    <a href=""><h3>Slack</h3></a>
                    <p>Ejercicio realizado durante el curso de Ironhack. Se trata de una réplica de una de las páginas de Slack, donde se hizo "web responsive" para sea posible una visualización en 4 tamaños diferentes.</p>
                </div>
                <img src="img/slack-page.png" alt="Slack page">
            </div>
        </div>
    </section>

    <footer>
		<ul class="social">
			<li><a href="https://www.facebook.com/carles.gali"><img class="logo-facebook" src="img/logo-facebook.png" alt="Logo Facebook"></a></li>
			<li><a href="https://www.linkedin.com/in/carles-gal%C3%AD-bou-09115ab2/"><img class="logo-linkedin" src="img/logo-linkedin.png" alt="Logo Linkedin"></a></li>
            <li><a href="https://www.instagram.com/gali401/?hl=es"><img class="logo-instagram" src="img/logo-instagram.png" alt="Logo Instagram"></a></li>
            <li><a href="https://github.com/cgali"><img class="logo-github" src="img/logo-github.png" alt="Logo GitHub"></a></li>

		</ul>
		<p>Copyright© Carles Galí, Ironhacker 2019-2020.</p>
	</footer>
    
</body>
</html>