<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/u90nv3bfuB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Resident Evil 4 is a third-person shooter horror game developed by Capcom Production Studio 4[1] and published by Capcom. The sixth major installment in the Resident Evil series, it was originally released for the GameCube in 2005. Players control U.S. government special agent Leon S. Kennedy, who is sent on a mission to rescue the U.S. president's daughter Ashley Graham, who has been kidnapped by a cult. In a rural part of Europe, Leon fights hordes of villagers infected by a mind-controlling parasite, and reunites with the spy Ada Wong.

        Development began for PlayStation 2 in 1999. Four proposed versions were discarded; the first attempt was directed by Hideki Kamiya after producer Shinji Mikami. In a departure from the fixed camera angles and slower survival horror gameplay of previous instalments, the team focused on developing more dynamic shooting action.
        
        Resident Evil 4 was announced as a GameCube exclusive as part of the Capcom Five, but was ported to numerous formats, becoming a cross-platform hit, selling over 10 million copies across all platforms. It garnered acclaim for its narrative, gameplay, voice acting, and characters, and is often named one of the best video games, winning multiple Game of the Year awards in 2005. It influenced the evolution of the survival horror and third-person genres, popularizing the "over-the-shoulder" third-person view. A sequel, Resident Evil 5, was released in 2009.</p>
        <br>
        <br>
        <br>
        <br>
        <a href="/games">Games</a>
        <br>
        <a href="/">Go to the home-page</a>
</body>
</html>