<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/CRS5mjcjSkg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    <p>Resident Evil[a] is a survival horror video game developed by Capcom Production Studio 4 and published by Capcom. Released for the GameCube video game console in 2002, it is a remake of the 1996 PlayStation game Resident Evil, the first installment in the Resident Evil video game series. The story takes place in 1998 near the fictional Midwestern town of Raccoon City where a series of bizarre murders have taken place. The player takes on the role of either Chris Redfield or Jill Valentine, S.T.A.R.S. agents sent in by the city to investigate the murders.

        Resident Evil was developed over the course of one year and two months as part of an exclusivity deal between Capcom and Nintendo. It was directed by Shinji Mikami, who also designed and directed the original Resident Evil. Mikami decided to produce a remake because he felt that the original had not aged well enough and that the GameCube's capabilities could bring it closer to his original vision. The game retains the same graphical presentation, with 3D models superimposed over pre-rendered backgrounds. However, the quality of the graphics was vastly improved. The remake also features new gameplay mechanics, revised puzzles, additional explorable areas, a revised script, and new story details including an entire subplot cut from the original game.
        
        Upon release, Resident Evil received critical acclaim from video game journalists, who praised its graphics and improved gameplay over the original game. It is often described as one of the best, scariest, and most visually impressive entries in the Resident Evil series. However, the game sold worse than expected, leading Capcom to change the direction of the series to a more action-oriented approach. In 2008, the game was ported to the Wii, featuring a new control system. In 2015, a high-definition remastered version was released for PlayStation 3, PlayStation 4, Windows, Xbox 360, and Xbox One to critical and commercial success.</p>
        <br>
        <br>
        <br>
        <br>
        <a href="/games">Games</a>
        <br>
        <a href="/">Go to the home-page</a>
</body>
</html>