<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaz Oakley: Recipes</title>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <section id = "everything-about">
        <header id = "header-about">
            <h1>Gaz Oakley</h1>
            <h2>Avant-Garde Vegan</h2>
        </header>
        <nav id = "nav-bar">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/recipes">MY RECIPES</a></li>
            </ul>
        </nav>
        <div id = "recipe-log">
            <ul>
                <li><a href="all-recipes">ALL RECIPES</a></li>
                <li><a href="breakfast">BREAKFAST IDEAS</a></li>
                <li><a href="lunches">QUICK LUNCHES</a></li>
                <li><a href="mains">MAIN MEALS</a></li>
            </ul>
        </div>
        <section id = recipe-images>
            <div class = "recipe-divs">
                <img id = "home-image" src="../images/stuffed-peppers.jpg" alt="Stuffed Peppers">
                <h5>GREEK STYLE STUFFED PEPPERS</h5>
            </div>
            <div class = "recipe-divs">
                <img id = "home-image" src="../images/tempura.jpg" alt="Tempura">
                <h5>VEGETABLE & NETTLE TEMPURA</h5>  
            </div>
            <div class = "recipe-divs">
                <img id = "home-image" src="../images/nettle-sandwich.jpg" alt="Tempura">
                <h5>HAZELNUT PESTO SANDWICH</h5>  
            </div>
        </section>
    </section>
</body>
</html>