<h1>Restaurants</h1>
<p>Here you can see pictures of all the restaurants mentionned on our restaurant pages</p>

<div class="images-container">
    <div class="container">
        <img class="restaurant" alt="[restaurant image]">
        </div>
        <a href="">[name of restaurant]</a>
    </div>
     
</div>