<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Restaurants</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="./">Cyril Lignac</a>
            </li>
            <li>
                <a href="./about">The Chef</a>
            </li>
            <li>
                <a href="./restaurants">Restaurants</a>
            </li>
            <li>
                <a href="./books">Books</a>
            </li>
            <li>
                <a href="https://www.instagram.com/cyril_lignac/">Instagram</a>
            </li>
        </ul>
    </nav>
    <div>
        <div class="restaurant-section">
                <div id="bar-des-pres">
                    <img src="bar-des-pres-restaurant.jpg">
                </div>
                <div class="restaurant-description">
                <h1>LE BAR DES PRÉS</h1>
                <p>The facade recalls old neighborhood cafés in the spirit of St-Germain during the Belle Epoque.
                <br></br>
                Inside, the focal point is the inviting bar made of Italian Giallo Real marble. On one side is the bar, on the other the kitchen. These two parallel worlds are placed side-by-side here for the customers to see.
                <br></br>
                The atmosphere is warm and softly lit, making the place feel like something of a secret.
                <br></br>
                The menu is short, lively and spontaneous.
                <br></br>
                The exclusive creations combine the chef’s French roots with his discoveries overseas, especially in
                Asia. The sashimi, sushi and maki are made to order by a Japanese sushi chef.
                <br></br>
                In the same spirit, the cocktail menu features globally-inspired creations and reinvented classics.
                Complementing this is a selection of high-quality sakes from the north of Japan, including the
                connoisseur’s favorite Heavensake Junmai Daiginio.
                </p>
                <div class="restaurant-info">
                    <p>25 rue du Dragon
                    <br>
                    75006 Paris</p>
                    <a href="tel:+33143258767">+33 (0)1 43 25 87 67</a>
                </div>
                <div class="button">
                    <a href="tel:+33143258767">BOOK NOW</a>
                </div>
            </div>
        </div>
        <div class="restaurant-section">
            <div id="chardenoux">
                <img src="chardenoux-restaurant.jpg">
            </div>
            <div class="restaurant-description">
                <h1>LE CHARDENOUX</h1>
                <p>From the decorative foliated ceiling to the listed marble bar front, the new interior scheme introduces elegance to the space.
                <br></br>
                Designed with charm and heritage in mind, the traditional features are highlighted with a modern twist.
                <br></br>
                In the same spirit as the decoration and atmosphere, the cuisine – dedicated to fresh fish, focuses on mastered traditional French cooking techniques and modernized versions.
                <br></br>
                Over 100 years, the restaurant has kept its authentic values with innovative seafood cuisine.</p>
                <div class="restaurant-info">
                    <p>1 rue Jules Vallès
                    <br>
                    75011 Paris</p>
                    <a href="tel:+33143714952">+33 (0)1 43 71 49 52</a>
                </div>
                <div class="button">
                    <a href="tel:+33143714952">BOOK NOW</a>
                </div>
            </div>
        </div>
        <div class="restaurant-section">
            <div id="aux-pres">
                <img src="aux-pres-restaurant.jpg">
            </div>
            <div class="restaurant-description">
                <h1>AUX PRÉS</h1>
                <p>27 rue du Dragon, the chic address cultivates the singularity.
                <br></br>
                The second restaurant of Cyril Lignac has built a clientele, an atmosphere, an identity of its own. The atmosphere is intimate, warm, cozy. As a parenthesis, with a hint of Germanopratine nostalgia turned upside down in today's fashion.
                <br></br>
                The menu combines essentials and creations by honoring meat. Plates escape under other latitudes and ineluctably invite to the discovery.</p>
                <div class="restaurant-info">
                    <p>27 rue du Dragon
                    <br>
                    75006 Paris</p>
                    <a href="tel:+33145482968">+33 (0)1 45 48 29 68</a>
                </div>
                <div class="button">
                    <a href="tel:+33145482968">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>