<section id="sample-page">
  <div class="nav"> {{> navMain}}</div>
  <div class="body">
					<p><i class="arrow left"></i></p> 
          <div class="covers">
            <img class="hidden" src="/img/Trilogy.jpg" alt=""> <p>Hello hello</p>
            <img class="hidden" src="/img/good-kid-m.a.a.d-city-kendrick-lamar-1.jpg" alt="">
            <img class="hidden" src="/img/manonthemoonii.jpg" alt="">
            <img class="hidden" src="/img/mybeautifuldarktwistedfantasy.jpg" alt="">
            <img class="hidden" src="/img/theeminemshow.jpg" alt="">
          </div>
					<p><i class="arrow right"></i></p>
				</div>
  </div>
  <div class="footer">{{> footerMain}}</div>
</section>