<section id="sample-page">
  <div class="nav"> {{> navMain}}</div>
  <div class="body">
					<p><i class="arrow left"></i></p> 
          <div class="covers">
            <a class="hidden" href="/trilogy"><img src="./img/Trilogy.jpg" alt=""> </a>
            <a class="hidden" href="/goodkid"><img src="/img/good-kid-m.a.a.d-city-kendrick-lamar-1.jpg" alt=""> </a>
            <a class="hidden" href="/kidcudi"><img src="/img/manonthemoonii.jpg" alt=""> </a>
            <a class="hidden" href="/kanyewest"><img src="/img/mybeautifuldarktwistedfantasy.jpg" alt=""> </a>
            <a class="hidden" href="/eminem"><img src="/img/theeminemshow.jpg" alt=""> </a>
          </div>
					<p><i class="arrow right"></i></p>
				</div>
  </div>
  <div class="footer">{{> footerMain}}</div>
</section>