<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>

  <header>
    <div>
      <img src="./images/title1.png" alt="fleabag title">
    </div>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
          <li><a href="seasonOne"> Season 1 </a></li>    
          <li><a href="seasonTwo"> Season 2 </a></li> 
          <li><a href="cast"> Cast </a></li>
      </ul>
    </nav>
  </header>


  <section id="first-season-main">
    <iframe width="500" height="282" src="https://www.youtube.com/embed/FhZHv2id6Sk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <article>
      Through cynicism, humour and aloofness, Fleabag tries to distract herself from grief, guilt, and all the messed-up relationships in her life.
    </article>
  </section>


  <footer>

  </footer>

    <script src="./main.js"></script>
</body>
</html>