<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <header>
      <div>
        <img src="./images/title1.png" alt="fleabag title">
      </div>
      <nav>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="seasonOne"> Season 1 </a></li>    
            <li><a href="seasonTwo"> Season 2 </a></li> 
            <li><a href="cast"> Cast </a></li>
        </ul>
      </nav>
    </header>


    <section id="second-season-main">
        <q>
            A portrait of grief, fear, and love that's startling, painful, achingly funny, unbearably sexy, pretty much perfect, and somehow better than the first season. <br>
            It is a marvel. <br>
            It should not exist.
        </q>
        <iframe width="500" height="282" src="https://www.youtube.com/embed/aX2ViKQFL_k?end=23" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>


    <footer>

    </footer>

    <script src="./main.js"></script>
</body>
</html>