<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> "Seven valuable lessons from the ex President of Uruguay" </h1>
    <div>
        <ul>
            <li> Find your passions and stay passionate. </li>
            <li> Do it your own way! </li>
            <li> Be humble. </li>
            <li> If you do what you love, money is irrelevant. </li>
            <li> You are only poor if you think you are. </li>
            <li> Freedom is having time to live. </li>
            <li> Less is more</li>
        </ul>
        <img src="/pepito.gif">
    </div>
</body>
</html>