<div id="pagewhatIdo">
    <div id="image2">
        <div id="ido"></div>
    </div>
    <div id="textAbout">
        <div id="skills">
            <h3 id="titlekills">Skills</h3>
            <p id="ptitle">Ironhack Web Development : (+400h in English)
                <br>
                9 weeks of intensive class in Web Development.
                <br>
                Technologies: MERN Stack (MongoDB, ExpressJS, ReactJS, NodeJS), JavaScript(ES6), HTML5 and CSS3.
            </p>
        </div>
    </div>
</div>