<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Skills</title>

<body>
{{>navbar}}

<h1 class="title">Skills</h1>
<section class="skills">
<div id="prof-skills">
    <img src="/professional.png" alt="icon">
    <h2>Professional Skills</h2>
    <ul>
        <li>Focus and persistence</li>
        <li>Flexibility and adaptability</li>
        <li>Communication skills</li>
        <li>Organisation and time management skills</li>
        <li>Ability to build project plans</li>
    </ul>
</div>

<div id="tech-skills">
    <img src="/technical.png" alt="icon">
    <h2>Technical Skills</h2>
    <h3>Frontend</h3>
    <ul>
        <li>HTML5 | CSS</li>
        <li>JavaScript</li>
        <li>DOM Manipulation</li>
    </ul>
    <h3>Backend</h3>
    <ul>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB | Mongoose</li>
    </ul>
</div>

<div id="lang-skills">
    <img src="/language.png" alt="icon"/>
    <h2>Languages</h2>
    <ul>
        <li>Portuguese</li>
        <li>French</li>
        <li>English</li>
        <li>Spanish</li>
    </ul>
</div>
{{>footer}}
</body>