<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sound-Dust</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="sound-dust">
    <h1>Sound-Dust</h1>
    <p>28 August 2001</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Black Ants in Sound-Dust</li>
        <li>Space Moth</li>
        <li>Captain Easychord</li>
        <li>Baby Lulu</li>
        <li>The Black Arts</li>
        <li>Hallucinex</li>
        <li>Double Rocker</li>
        <li>Gus the Mynah Bird</li>
        <li>Naught More Terrific than Man</li>
        <li>Nothing to Do with Me</li>
        <li>Suggestion Diabolique</li>
        <li>Les Bons Bons des Raisons</li>
    </ol>
    <img src="/images/sound.jpg" />
    </div>
    <a href="https://open.spotify.com/album/0Zk8BUwSBUkkeZsif2TsBa?si=H7ZoR-CUQVeM25WilSidXw" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>