<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Express Basic Website - Byron Bay</title>
   <link rel="stylesheet" type="text/css" href="/styles/styles.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
   <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link text-dark" href='/'><h3>Home</h3></a>
      <a class="flex-sm-fill text-sm-center nav-link text-dark" href='/about'><h3>About</h3></a>
      <a class="flex-sm-fill text-sm-center nav-link text-dark" href='/photo-gallery'><h3>Photo Gallery</h3></a>
    </nav>

    <!--ARTICLES-->
<div class="redline">
   <section id="articles" class="p-5">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-3 col-sm-6">
                   <img src="/images/east.jpg" alt="project1" class="img-fluid">
                   <a class="article-Title">VISIT AUSTRALIA’S MOST EASTERLY POINT</a>
                   
                   <p class="text-muted">Byron Bay is home to the most easterly point in Australia and is one of the first places in Australia that you’ll see the sun and other than saying that ‘I’ve been to Australia’s most easterly point’ which is classic however that’s not all that sits upon this coastal area, Cape Byron is considered as the best thing to see in Byron Bay.

                     “Just a few kilometers from the Byron Bay beach, is the farthest eastern point on Australia’s mainland. And you can stand on it. And stare out into the South Pacific Ocean. To get to the Point, you will make your way up to the Byron Cape lighthouse. </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                   <img src="/images/lighthouse.jpg" alt="project2" class="img-fluid">
                   <a class="article-Title">CAPE BYRON LIGHTHOUSE</a>
                  
                   <p class="text-muted">I don’t know how many times I have visited Cape Byron Lighthouse but I always manage to see it in a different angle making it quite refreshing despite the bus loads of people you’ll see. 

                     Cape Byron Lighthouse is probably the first thing that you will see when driving into Byron Bay as it can be seen from a long way away as that is the intention of a lighthouse. 
                     
                     At certain times throughout the day, ranger-guided tours operate within the lighthouse otherwise there is a small house at the bottom of the stairs which holds a stack of information on the lighthouse, marine animals and the history of Byron Bay. </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                   <img src="/images/whale.jpg" alt="project3" class="img-fluid">
                   <a class="article-Title">GO WHALE WATCHING</a>
                   
                   <p class="text-muted">Byron Bay is one of the prime spots to spot Humpback Whales as they migrate north during winter. Whales can get very close to the cliffs of the Cape Byron Lighthouse which is incredible to see. 

                     If you don’t get the chance to see whales during the winter months, don’t worry as pods of bottlenose dolphins, sea turtles and schools of fish are commonly seen frolicking in the beautiful seas below. 
                     
                     Byron Bay Premium Whale Watch Cruise with Marine Biologist: “Encounter astonishing humpback whales in their natural habitat as they migrate past the breathtaking coastline between Ballina and Byron Bay. Departing from Ballina’s Richmond River, visit the pristine waters of Cape Byron Marine Park.”
                     Price: $69.87 (Read Reviews & Check Availability)</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                   <img src="/images/surfing.jpg" alt="project4" class="img-fluid">
                   <a class="article-Title">GET A SURFING LESSON</a>
                   
                   <p class="text-muted">Byron Bay is becoming more and more popular with tourists seeking the thrill of catching a wave and don’t get me wrong, been able to say Byron Bay was the first place I caught a wave is pretty epic!

                     There are countless places to hire boards if you want to go out by yourself however if you want professional advice, Mojo Surf has no equal. Mojo Surf operates lessons at Byron Bay and at Lennox Head which is a 30 minute drive south of Byron Bay. 
                     
                     Byron Bay and Lennox Heads are great places to learn to surf due a generally small swell at the main beaches with very few rocks and other hazards.</p>
               </div>
           </div>
   
       </div>
   </section>
   </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>