<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Transient Random-Noise Bursts with Announcements</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="transient">
    <h1>Transient Random-Noise Bursts with Announcements</h1>
    <p>10 August 1993</p>
    <div>
    <h2>Tracklist</h2>
    <ol>
        <li>Tone Burst</li>
        <li>Our Trinitone Blast</li>
        <li>Pack Yr Romantic Mind</li>
        <li>I'm Going Out of My Way</li>
        <li>Golden Ball</li>
        <li>Pause</li>
        <li>Jenny Ondioline</li>
        <li>Analogue Rock</li>
        <li>Crest</li>
        <li>Lock-Groove Lullaby</li>
    </ol>
    <img src="/images/transient.jpg" />
    </div>
    <a href="https://open.spotify.com/album/161DnvvWCUqCQ6vFHls1nM?si=VLkQ5BNdRJaRocf0ZpgIPg" class = "listen">Listen!</a>
    <a href="/">Discography</a>
  </body>
</html>