<section id="sample">
    <div class="nav"> {{> navMain}}</div>
    <div class="body">
        <div class="spotify">
                        <div>   
                <iframe src="https://open.spotify.com/embed/track/6VwBbL8CzPiC4QV66ay7oR" width="450" height="570"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
        </div>
        <div class="biography">
                <h1>The Weeknd</h1>
                <p>The Weeknd, originally Abel Tesfaye, broke into the music scene with the 2011 mixtape House of Balloons. 
                  <br><br>
                  He went on to work with Drake, Wiz Khalifa and others, while building his own career as an artist. 
                  <br><br>
                  In 2015, the Weeknd enjoyed huge success with the Grammy-winning album Beauty Behind the Madness, which boasted the hit single “Can’t Feel My Face.” His follow-up album, Starboy (2016), also won a Grammy and featured collaborations with artists such as Daft Punk. </p>
        </div>
    </div>
    <div class="footer">{{> footerMain}}</div>
</section>