  <h1> <span>Hange's</span>  work</h1>
  <p class="exphange">
    Hange started her carrer as a normal solder, after many yaers, hange decame a squade leader. Due to the formar commander, ErwinSmith's death, hange become to commander of Survey corps.
<br>
    At the biggining, hange's work was mainly the observation and researc of titans. after all truths are reveled, hange made a big effort to being rigid commander....
<br>


    Hange was a genius, using their brain to create weapons, tactical plans, and inventions for the benefit of humanity. As a leader, Hange was thoughtful of their comrades, and could easily figure out complex problems in order to create plans for their teammates to carry out. On a less cheerful note, they could use this genius anyway they could, being able to easily manipulate people to do what Hange wanted, in order to benefit humanity (see Intelligence).</p>

    <div class="galarie">
      <img src="/img/hanji.jpg" alt="">
        <img src="/img/han.jpg" alt="">
    </div>