<div class="col-lg-4">
    <div class="circle"><i class="fas fa-ruble-sign"></i></div>
    <h2 class="promise">High yield</h2>
    <p class="desc">We promise 10% annual growth... but in Ruble.</p>
</div>
<div class="col-lg-4">
    <div class="circle"><i class="fas fa-globe"></i></div>
    <h2 class="promise">Global presence</h2>
    <p class="desc">One of us lives in Belgium just on the other side of the border</p>
</div>
<div class="col-lg-4">
    <div class="circle"><i class="fas fa-seedling"></i></div>
    <h2 class="promise">Sustainability</h2>
    <p class="desc">I am not sure I spell it right but I like the word even though we have no clue what it means</p>
</div>
<div class="col-lg-4">
    <div class="circle"><i class="fas fa-robot"></i></div>
    <h2 class="promise">Artificial intelligence</h2>
    <p class="desc">Every company has to claim doing A.I. So do we.</p>
</div>