<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesame Street</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <a href="/home" class="logo"><img src="images/sesame-Street-logo.svg.png" alt="" srcset=""></a>
    
    <nav>
        <ul>            
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">WORKS</a></li>
            <li><a href="/gallery">GALLERY</a></li>
        </ul>
    </nav>
    <main class="about">
        <div>
            <img src="images/1.jpeg" alt="sesame street image">
            <h2>Movie 1</h2>
        </div>
        <div>
            <img src="images/2.jpeg" alt="sesame street image">
            <h2>Movie 2</h2>
        </div>
        <div>
            <img src="images/3.jpeg" alt="sesame street image">
            <h2>Movie 3</h2>
        </div>
        <div>
            <img src="images/4.jpeg" alt="sesame street image">
            <h2>Movie 4</h2>
        </div>
        

        
    </main>
    
    
</body>
</html>