<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <h1>You are on Works page</h1>
    <h2>Here is some information about Batman</h2>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Comics</a></li>
    </ul>

    <div class="cards">
        <div class="card">
            <img src="/images/1.png">
            <p>Comic book #1</p>
        </div>
         <div class="card">
            <img src="/images/27.jpg">
            <p>Comic book #27</p>
        </div>
         <div class="card">
            <img src="/images/33.jpg">
            <p>Comic book #33</p>
        </div>
    </div>
    
</body>
</html>