<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Work-page</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/work.css">
  </head>

  <body>
    <h1>This page contains work related info about Asif</h1>

    <p>I'm working in ABN AMRO as performance test engineer.</p>

    <section class="buttons">
      <button class="btn"><a href="/home" class="link">Home</a></button>
      <button class="btn"><a href="/about" class="link">About</a></button>
    </section>
  </body>
</html>
