<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h1 id="WorksTit">Works</h1>
  <div><img src="https://qubradar.files.wordpress.com/2015/03/katsu14.png"/></div>
  <div><img src="https://i.pinimg.com/originals/d5/fa/25/d5fa2588e6f51930259e0c17cab84a97.jpg"/></div>
  <div><img src="https://1.bp.blogspot.com/-MjELcsL9Kh4/UbdC5NiEDmI/AAAAAAAAP3g/w5Zu-N9CEtg/s1600/39.jpg"/></div>
</body>
</html>