{{> nav}}
<link rel="stylesheet" href="/style.css">

<div id="worksdiv">
    <h3>Works and Awards</h3>
    <p>Cooper has received one BAFTA,[181] one Screen Actors Guild Award, and two Grammy Awards. <br>
        He has been nominated for eight Academy Awards, five Golden Globe Awards, and one Tony Award. According to the review aggregator website
        Rotten Tomatoes and box-office website Box Office Mojo, Cooper's most critically and commercially successful films include
        Wedding Crashers (2005), The Hangover (2009), Limitless (2011), Silver Linings Playbook (2012), American Hustle
        (2013), Guardians of the Galaxy (2014), American Sniper (2014) and A Star Is Born (2018).[81][182].<br>
        Among his stage roles, he has appeared in a Broadway revival of The Elephant Man (2014–2015), for which he was nominated for a Tony Award for Best
        Actor in a Play.[92]</p>
        <img src="/gif/groupie.gif" alt="Groupie Picture" class="bradgroupie">
        <p>Click <a href="http://localhost:3000/works/filmlist">here</a> to see what movies he has starred in the past 6 years!</p>
</div>



{{> footer}}