<div>
    {{#each album}}
    <div class="card mb-3 d-flex flex-row">
        <img src="{{this.image}}" width="150px" height="150px" class="card-img-right" alt="{{this.name}}">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{this.name}}</h5>
        </div>
    </div>
    {{/each}}
</div>