<div class="padding-100">

	<h1 class="centered-text primary-dark">Works</h1>
	<h2 class="centered-text secondary-dark">VMIIUGI</h2>
	<p class="justified-text">Von Matterhorn Industries International Unlimited Global Inc.

	Lorenzo Von Matterhorn, accomplished Jai Alai champion and beloved opera singer, founded VMIIUGI in 1997, with one simple mission statement: to apply the values of synergy and human capital to business ventures and other fiduciary instruments as guidelines of the building blocks of corporate foundation as per ventures incorporated and such as.

	Now a huge multi-national corporation, VMIIUGI is so big it's like maybe Von Matterhorn is a bad guy from a James Bond movie, except he's totally sweet and all of his body parts work normally. (Some of them above average. What up.) But he's not a bad guy. I mean, he's a little bad, drives a motorcycle, that kind of thing, but just the right amount of bad where he's not boring and maybe the right girl could turn him into a real catch. Boyfriend material, if we're being honest. But she'd have to be something really special. Like 36C at least.</p>
	<h2 class="centered-text secondary-dark">Ballooning</h2>
	<p class="justified-text">While financing a scientific study on cloud-seeding to alleviate drought in various poor countries, Lorenzo fell in love... with ballooning. He has now ballooned across every continent and hopes to balloon around the world for charity.</p>
</div>
