{{> nav_bar}}

<section id="works">
  <h1>Major work</h1>
  <h2>Planet Earth 1 & 2</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident vel eveniet nisi perspiciatis aperiam
    aliquam, veniam, ad minima maxime in doloribus. Commodi esse praesentium veritatis veniam, dolorum quae deserunt
    amet quaerat libero ad officia delectus incidunt modi! Animi, voluptas.</p>
  <h2>Life</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident vel eveniet nisi perspiciatis aperiam
    aliquam, veniam, ad minima maxime in doloribus. Commodi esse praesentium veritatis veniam, dolorum quae deserunt
    amet quaerat libero ad officia delectus incidunt modi! Animi, voluptas.</p>
  <h2>The Blue Planet</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam provident vel eveniet nisi perspiciatis aperiam
    aliquam, veniam, ad minima maxime in doloribus. Commodi esse praesentium veritatis veniam, dolorum quae deserunt
    amet quaerat libero ad officia delectus incidunt modi! Animi, voluptas.</p>
</section>