{{>nav}}


<h2>Filmography</h2>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Year</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Captain America: Civil War</td>
      <td>2016</td>
      <td>Peter Parker/Spiderman</td>
    </tr>
    <tr>
      <td>The Lost City Of Z</td>
      <td>2016</td>
      <td>Jack Fawcett</td>
    </tr>
    <tr>
      <td>Spider Man: Homecoming</td>
      <td>2017</td>
      <td>Peter Parker/Spiderman</td>
    </tr>
      <tr>
      <td>Lipsync Battle</td>
      <td>2017</td>
      <td>Himself</td>
    </tr>
      <tr>
      <td>Avengers: Infinity War</td>
      <td>2018</td>
      <td>Peter Parker/Spiderman</td>
    </tr>
      <tr>
      <td>Avengers: Endgame</td>
      <td>2019</td>
      <td>Peter Parker/Spiderman</td>
    </tr>
     <tr>
      <td>Spiderman: Far From Home</td>
      <td>2019</td>
      <td>Peter Parker/Spiderman</td>
    </tr>
  </tbody>
</table>