<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Works</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
        </ul>
    </nav>
    <div id="movies">
        <h1>Movies</h1> 
        <ul>
            <li>One Flew over the Cuckoo’s Nest (1975)</li>
            <li>Batman Returns (1992)</li>
            <li>Space Jam (1996)</li>
            <li>L.A. Confidential (1997)</li>
            <li>Gattaca (1997)</li>
            <li>Big Fish (2003)</li>
            <li>Erin Brockovich (2000)</li>
            <li>The Virgin Suicides (1999)</li>
            <li>Mars Attacks! (1996)</li>
        </ul>
    </div>
</body>
</html>