<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Works</title>
</head>
<body>
    <nav id="nav-bar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
</nav>
<section id="works">
    {{#each books}}
        <div class="book">
            <img id="book" src="{{this.imgSauce}}">
            <h2>{{this.name}}</h2>
            <p>{{this.year}}</p>
        </div>
    {{/each}}
</section>
<script src="js/books.js"></script>
</body>
</html>