
<section>
    <h1>Sam Harris' work</h1>
    <p></p>
    <div>
        <article>
            <div>
                <h2>Writings and public debate</h2>
                <p>Harris's writing focuses on philosophy, neuroscience, and criticism of religion, for which he is best known, and he has written for a variety of outlets.</p>
                <p>Harris engaged in a lengthy debate with conservative commentator Andrew Sullivan on the Internet forum Beliefnet. In April 2007, Harris debated with the evangelical pastor Rick Warren for Newsweek magazine. In April 2011, he debated Christian philosopher William Lane Craig on whether there can be an objective morality without God. In June and July 2018, he met with Canadian psychologist Jordan Peterson for a series of debates on religion, particularly the relationship between religious values and scientific fact in defining truth.</p>
                <p><a href="/books">List of his books</a></p>
            </div>
        
        </article>
        <article>
            <div>
                <h2>Podcast</h2>
                <p>In September 2013, Harris began the Waking Up (since re-titled Making Sense) podcast, in which he discusses his views, responds to critics, and interviews guests. The podcasts, having started with very short posts, now vary in length anywhere from 1 hour to over 4 hours. The podcast has no regular release schedule, although the frequency of releases has increased over time. In 2017, the UK Business Insider included it in their list of "8 podcasts that will change how you think about human behavior" and PC Magazine included it in their list of "Podcasts You Should Download Now". The Waking Up podcast won the 2017 Webby Award for "People's Voice" in the category "Science and Education" under "Podcasts and Digital Audio".</p>
            </div>
        </article>
        <article>
            <div>
                <h2>Meditation app</h2>
                <p>In September 2018, Harris released a meditation course app, Waking Up with Sam Harris.[9] The app provides daily meditations, long guided meditations, and a selection of other lessons on various related topics.[9] Users of the app are introduced to a number of types of meditation, such as mindfulness meditation, vipassanā-style meditation, and loving-kindness meditation.</p>
            </div>
        </article>
    </div>

</section>


