<section>
    <h2>France</h2>
    {{!-- <img> --}}
    <p>France has many different landscapes.</p>
    <article>Pourquoi partir à l’autre bout du monde quand de magnifiques découvertes se trouvent à deux pas ?


        <p>Mer, montagne, châteaux ou petite cité de caractère, je vous présente dans cette section quelques villes et
        lieux français visités ces dernières années.</p> 

        En Touraine : châteaux de Chenonceau et d’Amboise et Clos Lucé, Loches.
        Dans le centre : Charroux, Hérisson, Moulins, Lozère.
        Côté côtes : Pornic, Noirmoutier et Brière, Piriac-sur-Mer, le Mont-Saint-Michel.
        Côté montagne : Savoie.
        Grande ville : Paris.
        Dans mes articles, vous trouverez des clichés pris soit lors d’une seule visite, soit à diverses périodes.
    </article>
</section>

<section>
    <h2>Europe</h2>
    {{!-- <img> --}}
    <p>Wandering in Europe.</p>
    <article>
       <p>J’ai voyagé dans plusieurs pays, jamais hors des frontières européennes (pour l’instant…).</p> 


        <p>Chacun de mes périples m’a apporté son lot de beauté, de bonnes surprises, de déconvenues, de douces nuits ou de
        mauvaises, en AirBnb ou sous la tente, en road trip ou avec un seul point d’ancrage… Bref, chacun d’entre eux a
        été une expérience fantastique dont je suis sortie grandie.</p> 

        Italie : j’y suis restée 9 mois, j’ai donc visité de nombreuses villes. Lesquelles ? Découvrez-les ici.
        Slovénie : j’y suis allée deux fois, car j’habitais non loin de la frontière lorsque j’étais en Italie.
        Les Balkans : je suis partie pendant deux semaines en Macédoine et en Albanie en 2015, avec l’association Sur
        les pas d’Albert Londres, en tant qu’apprentie reporter.
        Pologne : j’y suis allée une semaine, à Varsovie et Cracovie ;
        Londres : j’ai eu la chance d’y séjourner lors d’un voyage de presse. Mon premier voyage en Angleterre !
        Irlande : lorsque j’ai à nouveau traversé la Manche, c’était cette fois pour me rendre au pays des Leprechauns.
        Malte : mon dernier voyage en date et la destination la plus au sud que j’aie visitée, l’aride archipel maltais.
        Je n’ai eu mon premier appareil photo réflex qu’en 2014, c’est pourquoi mes plus anciens clichés remontent à
        cette année-là. J’ai évolué au fil du temps, acquis des connaissances techniques, même si j’apprends encore tous
        les jours !
    </article>
</section>