<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"/>
        <link rel="stylesheet" href="/css/works.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <title> Alejandro Jimenez </title>
    </head>

    <body>
        <header class="bgWhite">
            <nav class="nav container">
              <h2> Alejandro Jimenez </h2>
              <ul>
                <li> <a class="links" href="/home"> Home </a> </li>
                <li> <a class="links" href="/works"> Works </a></li>
                <li> <a class="links" href="/about"> About me </a> </li>
                <li> <a class="links" href="/contact"> Contact </a></li>
                <li class="iconResponsive"> <i class="fas fa-bars"></i> </li>
              </ul>  
            </nav>
            <h3 class="redLine"> </h3>
        </header>
        
        <main>  
          <section class="sectionHome bgGrey">
            <div class="imgGiftHello">
              <img src="/img/giphy1.gif" alt="hello world" height="50" width="190">
            </div>
            <div class="nameBox">
              <h2 class="nameBoxDescription externalLinksColorWR"> Android </h2>
            </div>
            <div class="boxDescription">
              <p class="textBoxDescription"> Aplicación para editar y ver fotos y videos. </p>
              <img src="/img/imgAndroid1.png" alt="imgAndroid" class="imgAndroid">
            </div>
            <div class="triangulo_bottom_right"> </div >
          </section>
        
          <section class="sectionHome bgGrey">
            <div class="nameBox diferentTop">
              <h2 class="nameBoxDescription externalLinksColorWR">  Android  </h2>
            </div>
            <div class="boxDescription ">
              <p class="textBoxDescription"> Aplicación de venda de entradas </p>
              <img src="/img/imgAndroid2.png" alt="imgAndroid" class="imgAndroid">
            </div>
            <div class="triangulo_top_right"> </div >
          </section>
        
          <section class="sectionHome bgGrey">
            <div class="triangulo_bottom_left "> </div >
              <div class="nameBox diferentTop">
                <h2 class="nameBoxDescription externalLinksColorRW"> Desktop </h2>
              </div>
              <div class="boxDescription space">
                <p class="textBoxDescription">  Proyecto para la administración de las librerias de una ciudad </p>
                <img src="/img/imgDesktop1.png" alt="imgDesktop" class="imgDesktop">
              </div>
          </section>
        
          <section class="sectionHome bgGrey">
            <div class="triangulo_top_left"> </div >
              <div class="nameBox diferentTop">
                <h2 class="nameBoxDescription externalLinksColorRW"> Desktop </h2>
              </div>
              <div class="boxDescription space">
                <p class="textBoxDescription"> Proyecto para reservas espacios de entidades </p>
                <img src="/img/imgDesktop2.png" alt="imgDesktop" class="imgDesktop"> 
              </div>
          </section>
        </main>

        <footer class="footer">
          <h3 class="redLine"></h3>
          <section>
            <div class="boxFooterAlign">
              <h5 class="textFooter"> Alejandro Jiménez </h5>
              <h5 class="textFooter"> Mi Portafolio</h5>
            </div>
          </section>
        </footer>
    </body>
</html>