<h1>Sus Obras</h1>

<h4>Novelas</h4>

<p>

    La hojarasca (1955) <br>
    El coronel no tiene quien le escriba (1961)<br>
    La mala hora (1962)<br>
    Cien a침os de soledad (1967)<br>
    El oto침o del patriarca (1975) <br>
    Cr칩nica de una muerte anunciada (1981) <br>
    El amor en los tiempos del c칩lera (1985) <br>
    El general en su laberinto (1989) <br>
    Del amor y otros demonios (1994) <br>
    Memoria de mis putas tristes (2004) <br>
    
</p>