<!DOCTYPE html>
<html>
  <head>
    <title>Works</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>Martin Luther King</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Works">Works</a></li>
            <li><a href="/Gallery">Photo Gallery</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="intro">
      <div class="container dark-bg"></div>
    </section>

    <section id="parent">
      <div class="container">
        <h2>Martin Luther King’s Achievements</h2>
        <ul>
          <li>
            Brought publicity to major civil rights efforts
          </li>
          <li>
            Promoted non-violence during protests
          </li>
          <li>
            Contributed in founding the African-American Civil Rights Movement
          </li>
          <li>
            Leader in the Montgomery Bus Boycott of 1955
          </li>
          <li>
            Was one of the founders of the South Christian Leadership Conference
            and its first president
          </li>
          <li>
            Fought against segregation in Albany, Georgia
          </li>
          <li>
            Helped organize non-violent protest actions in Birmingham Alabama
          </li>
          <li>
            Was one of the organizers of the March of Washington in 1963 where
            he delivered his “I Have a Dream” speech
          </li>
          <li>
            Helped organize the Selma to Montgomery marches in 1965
          </li>
          <li>
            Worked on segregated housing in Chicago
          </li>
          <li>
            Fought against poverty in America
          </li>
          <li>
            Fought against America’s involvement in the Vietnam War
          </li>
          <li>
            Planned the “Poor People’s Campaign,” a national occupation of
            Washington D.C., but was assassinated before this could happen
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <p>Copyright &copy; 2020</p>
    </footer>
  </body>
</html>
