<h1>WORKS</h1>

<div class="works-div">

    <h3>American Grown</h3>
    <p> New York: Crown Publishing Group. 2012.</p>
    <img class="img6" src="https://images-na.ssl-images-amazon.com/images/I/81kALdZiN5L.jpg">
    <h3>Becoming</h4>
        <p> New York: Crown Publishing Group. 2018. </p>
        <img class="img6" src="https://becomingmichelleobama.com/assets/img/MO_bookshot_v3.jpg" alt="Becoming_img">

</div>