<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Yayoi Kusama Site</title>

      <!--BootStrap-->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous" />

      <!--STYLES-->
      <link rel="stylesheet" href="/style/Style.css">

</head>

<body>
      <header class="menu">
            <a class="home" href="/">
                  <img src="/img/Kusama_Signature.jpg" alt="Yayoi Kusama signature" />
            </a>
            <nav>
                  <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/work">Works</a></li>
                        <li><a href="/gallery">Photo Gallery</a></li>
                  </ul>
            </nav>
      </header>

      <main>
            <div class="container">
                  <section>
                        <div class="row flex-md-row-reverse">
                              <div class="col-12  col-md-6 ">
                                    <figure>
                                          <img src="/img/Work/Work_bienal.jpg"
                                                alt="Kusama's work at the Venice Biennale">
                                    </figure>
                              </div>
                              <div class="col-12  col-md-6 ">
                                    <h1>Narcissus Garden</h1>
                                    <article>
                                          <h2>Venice Biennale - 1996</h2>

                                    </article>
                              </div>
                        </div>
                  </section>
            </div>

            <div class="container">
                  <section>
                        <div class="row">
                              <div class="col-12  col-md-6 ">
                                    <figure>
                                          <img src="/img/Work/Work_EternalLove.jpg"
                                                alt="Kusama's work All the eternal love I have for the pumpkins">
                                    </figure>
                              </div>
                              <div class=" col-12 col-md-6 ">
                                    <h1>All the eternal love I have for the pumpkins</h1>
                                    <article>
                                          <h2>Boston</h2>

                                    </article>
                              </div>
                        </div>
                  </section>
            </div>

            <div class="container">
                  <section>
                        <div class="row flex-md-row-reverse">
                              <div class="col-12  col-md-6 ">
                                    <figure>
                                          <img src="/img/Work/Work_Kusamatrix.jpg" alt="Kusama's work Kusamatrix">
                                    </figure>
                              </div>
                              <div class="col-12  col-md-6 ">
                                    <h1>Kusamatrix</h1>
                                    <article>
                                          <h2>Tokyo</h2>

                                    </article>
                              </div>
                        </div>
                  </section>
            </div>

            <div class=" container">
                  <section>
                        <div class=row>
                              <div class="col-12  col-md-6 ">
                                    <figure>
                                          <img src="/img/Work/Work_LoveIsCalling.jpg"
                                                alt="Kusama's work Love is Calling">
                                    </figure>
                              </div>
                              <div class="col-12  col-md-6 ">
                                    <h1>Love is calling</h1>
                                    <article>
                                          <h2>Boston</h2>

                                    </article>
                              </div>
                        </div>
                  </section>
            </div>
      </main>

</body>

</html>