<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/works.css">
    <title>Works</title>
</head>
<body>
    <a href="/home">Back Home</a>
    <h1>Steven Wilson's Works</h1>
    <p>Wilson has a polifacetic profile, and has participated in many bands</p>
    <p>Some of his bands are</p>
    <ul>
        <li>Porcupine Tree</li>
        <li>Blackfield</li>
        <li>No-Man</li>
        <li>I.E.M.</li>
        <li>Bass Comunion</li>
        <li>Storm Corrosion</li>
    </ul>
    
    <p>Since 2010, he's been mainly dedicated to his solo project, and has released many albums. His latest album has just
        been released, in February 2021, called "The Future Bites"</p>
    <p>His albums are:</p>
</body>
</html>

