<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1><a href="home">Rob.JS</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="works">Works</a></li>
                    <li><a href="gallery">Gallery</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
        <div id="container" class="clear">
            <div id="homepage">
                <!-- Services -->
                <section id="services" class="clear">
                    <article class="one_third">
                        <figure id="works"><img src="https://media.giphy.com/media/d31vTpVi1LAcDvdm/giphy.gif"
                                width="290" height="180" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="one_third">
                        <figure id="works"><img src="./img/rob2.gif" width="290" height="180" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="one_third">
                        <figure id="works"><img src="./img/rob3.gif" width="290" height="180" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                            </figcaption>
                        </figure>
                    </article>


                </section>
            </div>
            <!-- / content body -->
        </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row3">
        <div id="footer" class="clear">
            <!-- Section One -->
            <section class="one_quarter">
                <h2 class="title">Link to a site</h2>
            </section>
            <!-- Section Two -->
            <section class="one_quarter">
                <h2 class="title">Link to another site</h2>
            </section>
            <!-- Section Three -->
            <section class="one_quarter">
                <h2 class="title">Maybe is a link</h2>
            </section>
            <!-- Section Four -->
            <section class="one_quarter lastbox">
                <h2 class="title">Maybe not</h2>
            </section>
            <!-- / Section -->
        </div>
    </div>
</body>

</html>