<h2>His Filmography:</h2>
<ul id="list-filmography">
    <li>1995 : Maborosi (幻の光, Maboroshi no hikari?, litt. « lumière fantôme »)
    </li>
    <li>1998 : After Life (ワンダフルライフ, Wandafuru raifu?, Wonderful life)
    </li>
    <li>2001 : Distance (ディスタンス, Disutansu?)
    </li>
    <li>2004 : Nobody Knows (誰も知らない, Dare mo shiranai?)
    </li>
    <li>2006 : Hana (花よりもなほ, Hana yori mo naho?)
    </li>
    <li>2008 : Still Walking (歩いても 歩いても, Aruitemo aruitemo?)
    </li>
    <li>2009 : Air Doll (空気人形, Kūki ningyō?)
    </li>
    <li>2011 : I Wish, nos vœux secrets (奇跡, Kiseki?, litt. « miracle »)
    </li>
    <li>2013 : Tel père, tel fils (そして父になる, Soshite chichi ni naru?)
    </li>
    <li>2015 : Notre petite sœur (海街diary, Umimachi daiarii?), tiré du manga Kamakura Diary
    </li>
    <li>2016 : Après la tempête (海よりもまだ深く, Umi yori mo mada fukaku?)
    </li>
    <li>2017 : The Third Murder (三度目の殺人, Sandome no satsujin?)
    </li>
    <li>2018 : Une affaire de famille (万引き家族, Manbiki kazoku?)
    </li>
    <li>2019 : La Vérité (真実, Shinjitsu?)</li>
</ul>