<div class="container text-center">
  <h1>Our awesome works</h1>
  <ul>

    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Curabitur placerat orci ac urna sollicitudin molestie.</li>
    <li>Praesent pretium sapien sit amet mauris tincidunt, sed varius ante finibus.</li>
    <li>Donec ut lectus pellentesque quam lobortis consectetur nec at sem.</li>
    <li>Donec a mi sit amet felis lacinia scelerisque quis interdum elit.</li>
    <li>Donec nec ligula cursus, fringilla mauris vitae, vehicula urna.</li>
    <li>Nam mollis nulla luctus, rhoncus lacus ac, placerat quam.</li>

  </ul>
    
  
  
</div>

    <
    
    


    
  