<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Kanit:wght@800&display=swap" rel="stylesheet">
        <title>Albums</title>
    </head>
    <body>
        <div class="main-content">
            <div class="small-head">Albums</div>
            <div class="albums">
                <a href="https://open.spotify.com/album/2OPcQNLP8DQVumD8kBRAH3?si=UI3NFDQjTwm1F1RdhlvM7A"><img src="/images/The Universe Smiles Upon You.jpeg"></a>
                <a href="https://open.spotify.com/album/42j41uUwuHZT3bnedq2XtM?si=Hc8yl3o3Q1-1CIfF1e-5RQ"><img src="/images/Con Todo El Mundo.jpeg"></a>
                <a href="https://open.spotify.com/album/2T06RHWicMtCA5UdHXrg4K?si=WCOOLEPISgiOfesME6zdBQ"><img src="/images/Hasta El Cielo.jpeg"></a>
                <a href="https://open.spotify.com/album/06814vxpRbL5CPMk1CTvOk?si=vMHcmmysReG29Xk2bRzWTQ"><img src="/images/Mordechai.jpeg"></a>
            </div>
            <div class="link-wrapper">
                <a href="/" class="link">Home</a>
                <a href="/about" class="link">About</a>
                <a href="/works" class="link">Music</a>
                <a href="/gallery" class="link">Gallery</a>
            </div>
        </div>
    </body>
</html>