<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>
<body>
    <h1>Works of Willow Rosenberg</h1>
    <section>
        <div>
            <p>Here you can read some of her accomplishments:</p>
            <ul>
                <li>She attended Sunnydale High, where she dated a werewolf for a couple of years.
                </li>
                <li>She started being interested in magic at a young age. She became one of the most powerful witches ever.</li>
                <li>In an alternative reality, she's a vampire.</li>
                <li>Although she's a sweet person, she almost destroyed the world when her partner, <a href="https://buffy.fandom.com/wiki/Tara_Maclay">Tara Maclay</a>, was shot to death.</li>
            </ul>
        </div>
    </section>
    <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About Willow Rosenberg</a></li>
            <li><a href="gallery">Photo Gallery</a></li>
        </ul>
    </footer>
</body>
</html>