<h2>Some destinations</h2>
<section id="destinations">
<div class="photo">
    <h3>Malta</h3>
    <img class="dest-photo" src="img/_165.jpg" alt="malta">
</div>

<div class="photo">
    <h3>Ireland</h3>
    <img class="dest-photo" src="img/kerry4.jpg" alt="malta">
</div>
</section>