<h1>Some of Romain Gary's books</h1>

<div class="main-wrap">
<article>
    <h3><i>Les Cerfs-volant</i>, 1980 (translated as The Kites)</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, consectetur aliquam maxime nostrum totam libero animi deserunt quasi ea. Dolore similique accusamus incidunt, minima officia architecto minus aliquam facere? Veniam.</p>
</article>
<article>
    <h3><i>Clair de femme</i>, 1977 (filmed as Womanlight)</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, dicta fugit vitae minima blanditiis, consectetur optio sequi dignissimos omnis enim assumenda provident in porro alias sed corrupti, tenetur perspiciatis labore!</p>
</article>
<article>
    <h3><i>Pseudo</i>, 1976 (signed Emile Ajar)</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi soluta cumque, vel beatae fuga a aspernatur omnis! Nemo sint optio a ab quis, ullam provident quisquam! Iusto iste ut saepe!</p>
</article>
<article>
    <h3><i>Au-delà de cette limite votre ticket n'est plus valable</i>, 1975 (translated as Your Ticket Is No Longer Valid)</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur reiciendis natus officiis saepe rerum ex placeat quo dolores architecto aperiam. Animi delectus voluptatum ab sit suscipit excepturi aut voluptate optio.</p>
</article>
</div>