    <section class="edu-section bg">
        <h2 class="sub-T">Education</h2>
        <div class="edu-div">
            <div class="edu-board">
                <div class="edu-exp">
                    <h4><span class="job-title"><strong>Full Stack Web Developer Javascript</strong></span>: Ironhack Bootcamp</h4>
                    <ul>
                        <li>Design / Build robust and responsive full stack web applications using JavaScript (MERN stack)
                        </li>
                        
                    </ul>
                </div>
                <div class="edu-exp">
                    <h4><strong>Product Owner (+400h training) </strong>: FITEC</h4>
                </div>
                <div class="edu-exp">
                    <h4><strong>Master’s Degree in Management </strong>: Audencia Business School</h4>
                </div>
                <div class="edu-exp">
                    <h4><strong>Finance Track semester </strong>: Pace University</h4>
                </div>
                <div class="edu-exp">
                    <h4><strong>Bachelor’s Degree in both Business & English </strong>: Paris Ouest  University</h4>

                </div>
            </div>

            <img src="img/Graduation-amico.png" alt="Web developer illustration" sizes="300" >

        </div>
    </section>