{{> nav_bar}}

<section id="works">
  <h2>Planet Earth 1 & 2</h2>

  <p>Four years in the making, this is the earth celebrated as never before.</p>
  
  <p>Scale majestic mountains, explore waterways and caves, starlit deserts and spectacular ice-worlds. See awe-inspiringlandscapes from all across the globe and incredible footage of the rarely spotted, almost mythical creatures that live in these habitats.</p>

<p>The Blue Planet blew audiences away with its footage of the alien-like depths of the ocean. Now track great
  migrations, witness split-second actions, and watch amazing footage of land-based animals in their natural habitats,
  whether on a mountain top, in the remotest of deserts, or the darkest depths of the forest floor.
</p>
<p>This is the definitive look at the diversity of our planet, narrated by Sir David Attenborough.
  Prepare to be overwhelmed by the beauty of Planet Earth.</p>

  <h2>Life</h2>

  <p>Life premiered on 12 October 2009 in the United Kingdom consisting of ten 50-minute episodes. The opening programme gives a general introduction to the series, a second look at plants, and the remainder are dedicated to some of the major animal groups. They aim to show common features that have contributed to the success of each group, and to document intimate and dramatic moments in the lives of selected species chosen for their charisma or their extraordinary behaviour. A ten-minute making-of feature Life on Location aired at the end of each episode, taking the total running time to 60 minutes.</p>
<p>Life is produced by the BBC Natural History Unit and The Open University. It is distributed under licence by the BBC in over 50 other countries, including by the Discovery Channel in the United States and Skai TV in Greece. The original script was written and narrated by David Attenborough. </p>

  <h2>The Blue Planet</h2>

  <p>The Blue Planet is a British nature documentary series created and produced by the BBC. It premiered on 12 September 2001 in the United Kingdom. It is narrated by David Attenborough.</p>

<p>Described as "the first ever comprehensive series on the natural history of the world's oceans", each of the eight 50-minute episodes examines a different aspect of marine life. The underwater photography included creatures and behaviour that had previously never been filmed.</p>

<p>The series won a number of Emmy and BAFTA TV awards for its music and cinematography. The executive producer was Alastair Fothergill and the music was composed by George Fenton. Attenborough narrated this series before presenting the next in his 'Life' series of programmes, The Life of Mammals (2002), and the same production team created Planet Earth (2006). A sequel series, Blue Planet II was aired on BBC One in 2017. </p>
</section>