<div id="work">

    <h2>Work with Le Corbusier 1927-1937</h2>
    <div class="work-block">
        <div class="float-left pic">
            <figure>
                <img src="img/fauteuil.jpg" alt="La chaise longue">
                <figcaption>La chaise longue</figcaption>
            </figure>
        </div>

        <p>
            At Le Corbusier's studio she was in charge of their interiors work and promoting their designs through a
            series of exhibitions. Perriand described the work as being highly collaborative between Le Corbusier,
            Pierre
            Jeanneret (his nephew) and herself.
            <br />
            <br />
            In 1928 she designed three chairs from Corbusier's principles that the chair was a "machine for sitting,"
            and that each of the three would accommodate different positions for different tasks. At Corbusier's
            request, a
            chair was made for conversation: the B301 sling back chair; another for relaxation: the LC2 Grand Comfort
            chair; and the last for sleeping: the B306 chaise longue. The chairs had tubular steel frames.
            <br />
            <br />
            In the 1930s Perriand's focus became more egalitarian and populist. In her designs from that period, rather
            than using chrome, which
            proved to be expensive, she began to use traditional materials such as wood and cane, which were more
            affordable. She
            also used some handcrafted techniques which she displayed at the 1935 Brussels International Exposition.
            <br />
            <br />
            After working with Le Corbusier for a decade she "stepped out of his shadow into a successful career of her
            own."
        </p>
    </div>

    <h2>Japan and Vietnam 1940-1946</h2>
    <div class="work-block">
        <div class="float-right pic">
            <figure>
                <img src="img/japon.png" alt="UNESCO tea house">
                <figcaption>UNESCO tea house (reconstruction)</figcaption>
            </figure>
        </div>

        <p>
            After finishing her work with Le Corbusier she worked with Jean Prouvé. He designed metal objects, like
            screens and stair railings. The war turned their focus to designing military barracks and furnishings for
            temporary
            housing.
            <br />
            <br />
            In 1940 France surrendered, and they parted ways until 1951. Perriand left France to go to Japan
            when the Germans arrived to occupy Paris in 1940. She travelled to Japan as an official advisor for
            industrial
            design to the Ministry for Trade and Industry. While in Japan she advised the government on raising the
            standards of design in Japanese industry to develop products for the West. On her way back to Europe she was
            detained and forced into Vietnamese exile because of the war. Throughout her exile, she studied woodwork and
            weaving and also gained much influence from Eastern design. The Book of Tea which she read at this time also
            had a major impact on her work and she referenced it throughout the rest of her career.
            <br />
            <br />
            In the period after World War II (1939–45) there was increased interest in using new methods and materials
            for mass production of furniture. Manufacturers of materials such as formica, plywood, aluminum, and steel
            sponsored the salons of the Société des artistes décorateurs.
        </p>
    </div>

    <h2>Return to Paris 1946-1966</h2>
    <div class="work-block">

        <div class="float-left pic">
            <figure>
                <img src="img/student.jpg" alt="Student housing">
                <figcaption>Student housing</figcaption>
            </figure>
        </div>

        <p id="paris">Charlotte Perriand's work was in high demand and she worked on many projects from ski resorts to
            student
            housing. She often refused to furnish buildings designed by other architects. However, she was eager to work
            with Jean Prouvé again, who collaborated with her on and produced several of her designs from 1951 to 1953.
            She
            also designed the interiors and kitchens for the famous Unité d'habitation.
            <br />
            <br />
            Some of her work at that particular period of time includes:
        </p>
        <ul>
            <li>The Méribel ski resort</li>
            <li>The League of Nations building for the United Nations in Geneva</li>
            <li>The remodelling of Air France's offices in London, Paris and Tokyo</li>
        </ul>
    </div>

    <h2>Les Arcs 1967-1982</h2>
    <div class="work-block">
        <div class="float-right pic">
            <figure>
                <img src="img/arcs.jpg" alt="Les Arcs 1600">
                <figcaption>Les Arcs 1600</figcaption>
            </figure>
        </div>

        <p>
            The ski resorts at Les Arcs in Savoie combined Perriand's interests in prefabrication, standardization,
            industrialization and mountain architecture, and has been called the climax of her career. Since guests
            would spend most of their time outdoors, Perriand designed minimal rooms, the minimal cell style being a
            hallmark of her design. Instead the buildings have great spaces that are open to the nature and the
            elements.
            Importantly standardization of the wet units (bathrooms and kitchens) increased efficiency and allowed
            them
            to build 500 inhabitable studios very quickly.
        </p>

    </div>
</div>