<div class="page">
    <p id="workpix" class="image"></p>
    <p class="speech">Durant l'année 1980, il travaille pour la première fois au Conseil européen pour la recherche
        nucléaire (CERN). Il y retourne en 1984. Sur son lieu de travail, il est connecté au réseau interne et à
        l'ARPANET.

        Le 13 mars 1989, sous la forme d'un mémorandum intitulé Information Management: A Proposal (« Gestion de
        l'information : Une proposition »), Tim Berners-Lee propose à son supérieur Mike Sendall un projet de gestion
        des informations générales sur les accélérateurs et les expériences au CERN basé sur un système hypertexte
        distribué5. L'annotation de Sendall, qualifiant le projet de vague mais prometteur en est le point de départ car
        elle autorise Tim Berners-Lee à travailler dans ce domaine6.

        L'objectif de cette proposition est le partage des documents informatiques, ce que Tim Berners-Lee a l'idée de
        réaliser en associant le principe de l’hypertexte à l'utilisation d'Internet. En imaginant cela, il ouvre la
        perspective d'une nouvelle façon de communiquer par des systèmes distribués permettant l'échange instantané
        d'informations7. Il déclarera plus tard à ce sujet : Je n'ai fait que prendre le principe d’hypertexte et le
        relier au principe du TCP et du DNS et alors – boum ! – ce fut le World Wide Web !N 1,8,N 2. Cette invention
        qu'il implante sur un ordinateur NeXT a pour ambition initiale le partage sur un seul réseau de toutes les
        informations afin de faciliter la communication et les travaux des physiciens du CERN. Outre les informations,
        il y a chez Berners-Lee la volonté de connecter chaque membre du laboratoire. Il faut donc comprendre cette
        évolution plus comme un dispositif de création sociale qu'une avancée purement technique. En effet, le CERN
        regroupe des scientifiques de nationalités différentes, dont le travail se fait en partie en dehors du
        laboratoire genevois, c'est-à-dire dans leur pays d'origine.


        Capture d'écran du navigateur World Wide Web.
        Initialement désigné par Mesh (Mailles), c'est en mai 1990 qu'il adopte l'expression de World Wide Web pour
        nommer son projet5. Il est rejoint par l'ingénieur belge Robert Cailliau9 (son premier collaborateur) et par
        quelques autres membres du CERN. Ensemble, ils améliorent la proposition de départ et la matérialisent. À partir
        de 1990, ils développent les trois principales technologies du Web : les adresses web (URL), l'Hypertext
        Transfer Protocol (HTTP) et l'Hypertext Markup Language (HTML). Pour favoriser cette mise en commun généralisée
        dans un espace créatif, ils développent aussi le premier navigateur web10, éditeur web (dénommé WorldWideWeb et
        développé sur NeXTSTEP) et serveur HTTP. Au commencement, cela permettait aux physiciens d'avoir des
        informations sur l'hypertexte, de créer leur page web et de chercher des informations. En 1991, pour la première
        fois, le système WWW est à la disposition des physiciens par le biais de la bibliothèque de logiciels du CERN.
        Une utilisation qui s'étend dans un premier temps à une pratique universitaire et scientifique et qui touche
        ensuite les milieux professionnels alors que le 30 avril 1993, le CERN décide de verser le logiciel web dans le
        domaine public11.

        Dans cette entreprise, Tim Berners-Lee s'inscrit dans le principe du end to end (en français l'intelligence est
        aux extrémités)12. Cela signifie qu'un ordinateur quel qu'il soit n'a nullement besoin de modifier la structure
        de son réseau pour utiliser un nouveau dispositif, mais seulement d'installer des logiciels qui permettent son
        utilisation. Cette logique encourage le libre usage des nouveaux protocoles par les différents utilisateurs, ce
        qui en favorise le succès.

        À la fin de l'année 1990, le navigateur conçu par le physicien britannique n'est utilisable que par les
        utilisateurs d'un ordinateur NeXT aux capacités nettement supérieures à celles des machines courantes de
        l'époque. La communauté des utilisateurs potentiels était alors trop restreinte pour que la pratique se
        généralise, ne serait-ce qu'au sein du CERN. Au printemps 1991, la diffusion du dispositif progresse grâce au
        premier système compatible avec tous les ordinateurs par la mise en place d'un outil simplifié en mode ligne
        universel13. C'est cette version qui est proposée en libre accès sur Internet et qui encourage Tim Berners-Lee,
        conscient que l'ampleur du travail ne peut pas être assurée uniquement par son équipe, à solliciter une aide
        extérieure pour un développement plus abouti du système émergent. En effet, entre la première version qui n'est
        pas portable sur les ordinateurs courants de l'époque, et la seconde qui est beaucoup plus accessible, mais
        nettement moins aboutie (aucun élément graphique) et performante, il est nécessaire que d'autres acteurs
        interviennent pour trouver un équilibre. Ce n'est qu'alors que se mettent en place différentes propositions de
        navigateurs par le biais du X Window System.

        Une évolution majeure intervient en 1993 avec le développement du navigateur NCSA Mosaic par le National Center
        for Supercomputing Applications (NCSA). Ce programme propose une interface plus simple et commence à pénétrer le
        monde scientifique. Ensuite, avec de nouvelles versions sur compatible PC et sur Macintosh, le NCSA permet au
        Web d'être adopté par un public beaucoup plus large.

        En 1994, lors de la première conférence internationale WWW14 organisée au CERN par Robert Cailliau (le
        collaborateur principal de Berners-Lee dans le développement du WWW), Tim Berners-Lee est désigné membre du Hall
        of Fame des fondateurs du World Wide Web15.

        Cette même année, il quittera le CERN pour rejoindre le Massachusetts Institute of Technology (MIT)16, où il
        occupe la chaire Computer Communication Compatibility au Laboratory for Computer Science (LCS).</p>
</div>