<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is my works page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Where have I lived?</h1>
    <ul>
        <li>Taipei,Taiwan</li>
        <li>Osaka, Japan</li>
        <li>Vancouver,Canada</li>
        <li>Freiburg, Germany</li>
        <li>Frankfurt, Germany</li>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>