{{>imagegallery images}}

<div id="chapter-main">
    <section id="chapter-1" class="chapter-info">
        <h2>John Wick (Chapter 1)</h2>
        <p>Following the death of his wife, John has remained withdrawn from the world of organized crime, instead
            choosing to
            spend his days driving his prized car and caring for his dog Daisy, who was left to him by Helen. All of
            this
            changed when a brash Russian gangster named Iosef (who was later revealed to be Viggo Tarasov's son) tries
            to buy
            his car at a gas station, but John refuses. An upset Iosef later leads his gang in an assault at John's
            house during
            which he attacks the hitman, kills Daisy, and steals his car, leaving him unconscious. <br>

            Aware that John will come to take revenge, Viggo tells the protagonist and tries to advocate peace for his
            son but
            John silently refuses, forcing him to send a group of assassins to kill his former associate. Succeeding in
            killing
            all of them in a brutal fight, Wick chases Iosef in a nightclub but the security team of Viggo's son
            prevents him
            from killing the gangster. Viggo, in an attempt to protect his son from John’s wrath, sends several
            assassins,
            including Marcus and Ms. Perkins, to eliminate him. However, the ultimate result of the conflict is the
            death of
            both Iosef and Viggo, along with Marcus (killed by Viggo for attempting to assist John) and Ms. Perkins
            (killed by
            Continental Hotel staff for violating their rules). John then adopts a pit-bull who is set to be euthanized
            before
            returning home.</p>
    </section>

    <section id="chapter-2" class="chapter-info">
        <h2>John Wick: Chapter 2</h2>
        <p>With his vengeance against the Tarasov's accomplished, John recovers his car from Abram Tarasov, Viggo's
            brother.
            Wanting peace, he allows Abram to live in exchange for a truce. He then returns to his retirement with his
            new dog. <br>

            However, Santino D'Antonio arrives at his house afterward, asking him to pay his debt. When John refuses,
            the
            Italian destroys his house with a grenade launcher. John later goes to the Continental Hotel where he is
            confronted
            by Winston, the owner of the Continental, who tells him to fulfill his debt, otherwise, his life is forfeit.
            John
            then confronts Santino in a museum and the Italian tasks him to kill his sister, Gianna D'Antonio, who's
            been
            selected to represent their family at the High Table so he can assume her throne. A reluctantly John accepts
            and
            completes and travels to Rome where he uses gold coins to get a armored suit, as well as weapons. <br>

            When John arrives at Gianna's ascendence party in Roman ruins, she tells that she knows what her brother has
            done
            and slits her own wrists to maintain what little agency she has left. John, who only shoots her after she's
            dead,
            finds that completing his mission has made him Santino's next target. He then fights his way through a
            rigorous
            assault by Ares, Santino's right-hand woman, and her cohorts. After escaping the ambush, he is forced to
            fight
            Cassian as well and the two men crash at the Continental Hotel of Rome. In the bar, John apologizes for
            killing
            Gianna, while Cassian vows revenge. <br>

            Santino places a 7.000.000$ bounty in John Wick's head. A lot of hitmen attempted to kill John, including
            Cassian.
            But John kills them all, except Cassian who is left alive for professional respect. John Wick arrives at the
            Bowery
            King where his wounds are treated. And then John convinces the Bowery King to help him kill Santino, who
            provides
            him with a gun with seven bullets and information about Santino's location. John manages to kill most of
            Santino's
            henchmen and leaves Ares badly injured, while Santino escapes at Continental Hotel. The Italian demands
            Winston to
            revoke John Wick's membership, but he decided and tells him that Continental is his kingdom and John hasn't
            broken
            any rules yet. At the same time, Winston tells Santino that he has privileges in the Continental. However,
            John
            arrives and finds Santino. Winston tells Wick to walk away, but the hitman ignores his warnings and kills
            Santino
            inside the Continental before returning home. <br>

            The next day, John is asked to come to a park where Winston informs John that his bounty has been doubled by
            the
            Camorra and The High Table and is now international. He is informed that he is now excommunicado, however,
            John is
            provided 1 hour to prepare. <br>

            At first, John casually walks away from Winston but after hearing cell phone after cell phone ring, John
            realizes
            the danger he is in and the urgency to prepare for what comes next. Wick and his dog start to run.</p>
    </section>

    <section id="chapter-3" class="chapter-info">
        <h2>John Wick: Chapter 3 – Parabellum</h2>
        <p>Less than an hour after the events of the second film, John Wick is now a marked man on the run in Manhattan.
            Before
            he is labeled "excommunicado" as a result of his killing of Santino D'Antonio, Wick travels to the New York
            Public
            Library and retrieves two concealed items – a marker medallion and a crucifix. Then he is injured following
            a fight
            with a giant assassin named Ernest, who tries to kill him early. Wick leaves to be treated by a doctor, but
            his
            1-hour grace period is up and his excommunicado begins before the doctor can finish. Wick patches the injury
            up on
            his own and leaves but is pursued by a gang into an antique warehouse which leads to a bloody fight between
            Wick and
            the gang involving antique weaponry. <br>

            John reaches out to the Director, the head of the Ruska Roma, with the crucifix and requests her help in
            getting
            safe passage to Casablanca. The Director reluctantly helps, as John is a former protégé and is from Belarus,
            knowing
            that this act will violate her peace treaty with the High Table. <br>

            In Casablanca, John meets Sofia Al-Azwar. He asks her to honor her marker by helping to direct him to the
            Elder, the
            only person above the High Table, to request atonement for his misdeed. Sofia takes John to Berrada, her
            former
            boss, who tells John he may find the Elder by wandering through the desert until he cannot walk any longer.
            In
            exchange, Berrada asks for one of Sofia's dogs; when Sofia refuses, he shoots the dog, which is saved by a
            bulletproof vest. In retaliation, Sofia wanted to kill Berrada but at John's warning, she only wounds him.
            Sofia and
            John fight their way out of the kasbah and drive into the desert, where she leaves him. <br>

            Collapsing in the desert, John is brought to the Elder. John says that he is desperate to live to "earn" the
            memory
            of the love he once had with his wife. The Elder agrees to forgive John on condition that he assassinate
            Winston and
            continue to work for the High Table until his death. To show his commitment, John severs his ring finger and
            offers
            his wedding ring to the Elder. <br>

            John arrives back in New York City and is pursued by a Japanese ninja named Zero and his students, who
            nearly kill
            John before he reaches the protection of the Continental. Charon reminds Zero that no "business" can be
            conducted on
            hotel property, lest he has declared excommunicado himself. John meets with Winston, who encourages him not
            to die
            as an enslaved killer but as a man who loved and was loved by, his wife. <br>

            An Adjudicator of the High Table arrives, but Winston refuses to give up his office and John refuses to kill
            Winston, leading the Adjudicator to "deconsecrate" the Continental, revoking its neutral ground status. The
            Adjudicator notifies Zero and sends heavily armed and armored High Table enforcers as a backup. The first
            wave cuts
            down the lightly armed and unarmored Continental security like chaff, but John adapts to their armor quickly
            and
            dispatches of them with some effort. between waves, Charon equips the both of them with Benelli M4 shotguns
            and
            Fiocchi AP slugs, thus dispatching the second wave in short order. He is ambushed by Zero and his students,
            but
            kills all but the two chief students and fatally wounds Zero. <br>

            The Adjudicator agrees to a parley with Winston, who explains his rebellion as a "show of strength" and
            offers
            fealty to the High Table. After John arrives, the Adjudicator questions what should be done with himWinston
            draws a
            pistol and shoots John several times in the coat, which is of course, ballistic, but it pushes John back and
            he half
            jumps half is pushed over the edge of the roof, where he hits several structures and lies in the street.
            However,
            later, we find the Adjudicator telling Winston that John is missing, and that he would be a threat to them
            both.
            After she leaves, Winston seems to smile, suggesting he knows exactly what happened. <br>

            A seriously injured John and his dog are delivered to a now heavily scarred Bowery King, after he was cut by
            Zero.
            He tells John that he is "really pissed off" at the High Table; asking John if he is too. The film ends with
            John
            saying, "Yeah".</p>
    </section>

    <section id="chapter-4" class="chapter-info">
        <h2>Chapter 4</h2>
        <p>Lionsgate has confirmed the release of “John Wick: Chapter 4” is being pushed a year from May 2021 to May 27,
            2022.</p>
    </section>



</div>