<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>work</title>
</head>
<body>
    <section class="exchange-tablesContainer">
        <div class="tableContainer" >
           <h3>Monedas</h3>
           <section class="grid-tableContainer">
              <div>
                 <h4>Bitcoin</h4>
              </div>
              <div>
                 <h5>$ 1.96<span></span></h5>
              </div>
              <div>
                 <h4>Ethereum</h4>
              </div>
              <div>
                 <h5>$ 0.07<span></span></h5>
              </div>
              <div>
                 <h4>Ripple</h4>
              </div>
              <div>
                 <h5>$ 2.15<span></span></h5>
              </div>
              <div>
                 <h4>Stellar</h4>
              </div>
              <div>
                 <h5>$ 4.96<span></span></h5>
              </div>
           </section>
           <div class="table-updateDate">
              <p> <span>Actualizado:</span> 19 Julio 23:45 </p>
           </div>
        </div>
     </section>
    <section class="main-product-detail">
        <span class="product-detail--batata-logo"></span>
        <div class="product-detail--title">
            <h2>Creamos un producto sin comparacion.</h2>
            <p>Confiable y diseñado para su uso diario.</p>
        </div>
    <section class="product-cards--container">
        <article class="product-detail--card">
            <span class="clock"></span>
            <p class="product--card-title">Tiempo real</p>
            <p class="product--card-body">Nuestra API toma informacion minuto a minuto sobre las tasas que mas determinan el comportamiento.</p>
        </article>
        <article class="product-detail--card">
         <span class="eye"></span>
            <p class="product--card-title">No hay tasas escondidas</p>
            <p class="product--card-body">Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estas adquiriendo</p>
         </article> 
         <article class="product-detail--card">
            <span class="dollar"></span>
               <p class="product--card-title">Compara monedas</p>
               <p class="product--card-body">No mas rumores, con Babtabit sabras el valor real de cada moneda en el mercado actual.</p>
            </article> 
            <article class="product-detail--card">
               <span class="check"></span>
                  <p class="product--card-title">Informacion confiable</p>
                  <p class="product--card-body">Nuestras fuentes estan 100% verificadas y continuamos auditando sui contenido mientras se actualizan.</p>
               </article> 
               <a href="/about">Sobre los planes</a>
    </section>
</body>
</html>