<div class="work-container">
  <h1 class="work-heading">Work</h1>
  <p class="work-text">Johnson entered Hollywood and the film industry, becoming a star initially through his wrestling popularity and noted work ethic. Over his acting career, he has become one of the highest paid and most successful actors in Hollywood. He began his acting career on television while wrestling. In his first television acting job, in 1999, he played his own father in an episode of That '70s Show called "That Wrestling Show". Nearly a year later, he appeared in the Star Trek: Voyager episode "Tsunkatse" as an alien wrestler who fought popular character Seven of Nine. While Johnson was away from WWE, the company continued to sell "The Rock" merchandise, and he continued to be featured prominently in the opening montages of their television shows.</p>
  <p class="work-text">Johnson began his theatrical career in The Mummy Returns (2001) The Scorpion King (2002) the action-comedy The Rundown (2003) and the Walking Tall (2004). He played a supporting role in Be Cool (2005) and was the primary antagonist in Doom (2005). Roles in Gridiron Gang (2006) Reno 911!: Miami (2007) Southland Tales (2007). He played a cocky famous American football player in The Game Plan (2007) and Agent 23 in Get Smart (2008). He presented the Academy Award for Best Visual Effects at the 80th Academy Awards.</p>
  <h3 class="work-subheading">Championships and accomplishments</h3>
  <ul class="work-career">
    <li class="work-career-item">
      Pro Wrestling Illustrated
      <ul class="work-wrestling">      
      <li class="work-item">Match of the Year (1999) vs. Mankind in an "I Quit" match at Royal Rumble</li>
      <li class="work-item">Match of the Year (2002) vs. Hollywood Hulk Hogan at WrestleMania X8</li>
      <li class="work-item">Most Popular Wrestler of the Year (1999, 2000)</li>
      <li class="work-item">Wrestler of the Year (2000)</li>
      <li class="work-item">Ranked No. 2 of the top 500 singles wrestlers in the PWI 500 in 2000</li>
    </ul>
    </li>
    <li class="work-career-item">
       United States Wrestling Association
      <ul class="work-wrestling">     
      <li class="work-item">USWA World Tag Team Championship (2 times) – with Bart Sawyer</li>
      </ul>
    </li>
    <li class="work-career-item">
      Wrestling Observer Newsletter
      <ul class="work-wrestling">
        <li class="work-item">Best Box Office Draw (2000, 2011, 2012)</li>
        <li class="work-item">Best Gimmick (1999)</li>
        <li class="work-item">Best on Interviews (1999, 2000)</li>
        <li class="work-item">Most Charismatic (1999–2002, 2011, 2012)</li>
        <li class="work-item">Most Improved (1998)</li>
        <li class="work-item">Wrestling Observer Newsletter Hall of Fame (Class of 2007)</li>
      </ul>
    </li>
    <li class="work-career-item">
      WWE/World Wrestling Entertainment/Federation
      <ul class="work-wrestling">
        <li class="work-item">WCW Championship[a] (2 times)</li>
        <li class="work-item">WWE Championship[b] (8 times)</li>
        <li class="work-item">WWF Intercontinental Championship (2 times)</li>
        <li class="work-item">WWF Tag Team Championship (5 times) – with Mankind (3), The Undertaker (1), and Chris Jericho (1)</li>
        <li class="work-item">Royal Rumble (2000)</li>
        <li class="work-item">Sixth Triple Crown Champion</li>
        <li class="work-item">Deadly Games WWF Championship Tournament (1998)</li>
        <li class="work-item">
          Slammy Award (9 times)
          <ul class="work-subitem">
            <li class="work-item">Best Actor (2014)</li>
            <li class="work-item">Game Changer of the Year (2011) – with John Cena</li>
            <li class="work-item">Guess Who's Back or: Return of the Year (2011)</li>
            <li class="work-item">LOL! Moment of the Year (2012, 2013) – insulting John Cena using the history of Boston, Massachusetts, Rock Concert on the 20th anniversary episode of Raw</li>
            <li class="work-item">Match of the Year (2013) – vs. John Cena for the WWE Championship at WrestleMania 29</li>
            <li class="work-item">New Sensation (1997)</li>
            <li class="work-item">"Tell Me You Didn't Just Say That" Insult of the Year (2014) – insulting Rusev and Lana</li>
            <li class="work-item">"This is Awesome" Moment of the Year (2015) – with Ronda Rousey</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="work-career-item">
      Filmography
      <ul class="work-films">
        <li class="work-item"><a href="/films" class="work-film-items">Dwayne Johnson filmography</a></li>
      </ul>
    </li>
  </ul>
</div>