<h1>Genèse</h1>

<p>
    Depuis le succès du premier opus en 1987, Final Fantasy devient la série phare de Square, et c’est tout
    naturellement
    qu’après le grand succès critique de Final Fantasy VI en 1994, Hironobu Sakaguchi, le directeur de tous les
    précédents
    épisodes, s’attelle au scénario de celui-ci et prend en charge la production du nouveau jeu.
</p>
<p>
    La première version de l’histoire est très différente du récit final : « Je pense qu’il voulait faire quelque chose
    comme une histoire policière » commentera plus tard Nomura. Un policier pourchassait les personnages principaux dans
    la
    ville de Midgar, qui souhaitaient alors faire exploser la ville. Le récit change ensuite profondément lorsque
    Yoshinori
    Kitase prend en charge la direction du projet et appelle plusieurs figures de Square. Tetsuya Nomura crée alors les
    personnages de Cloud, Barret et Aeris, qui sont les premiers à être intégrés au jeu. Kitase et Kazushige Nojima
    intègrent l’idée de la mégacorporation Shinra et du groupe AVALANCHE, et développent l’histoire de Cloud, et ses
    relations avec Sephiroth. Sakaguchi ajoute ensuite la notion de Rivière de la vie à son scénario original34.
</p>
<p>
    Les précédents Final Fantasy ayant tous reposés sur des graphismes 2D, le passage à la 3D ne se fait pas sans
    quelques
    appréhensions4. Yoshinori Kitase soutient l’utilisation des techniques modernes d’infographie 3D déjà utilisées dans
    d’autres jeux à l’époque35 car il craint que sa série fétiche ne soit mise de côté si elle ne s’adapte pas aux
    nouvelles
    normes en matière de graphisme. Mais l’équipe n’a alors aucune expérience de ces procédés.
</p>

<h2> Final Fantasy SGI: </h2>
<p>
    Afin de se familiariser avec les nouvelles techniques d’infographie, les programmeurs décident de mettre en place un
    petit jeu expérimental développé grâce à la station de travail Onyx de Silicon Graphics. Une démonstration du
    logiciel
    est faite au salon Siggraph de Los Angeles en août 1995, appelé Final Fantasy VI: The Interactive CG Game (ou Final
    Fantasy SGI), la vidéo présente une bataille entre des personnages de Final Fantasy VI et un golem, modélisés en 3D
    temps réel36. Le logiciel présente des éléments interactifs ainsi qu’un système de caméra dynamique impressionnant
    pour
    l’époque. Cette expérience convainc l’équipe de développement d’utiliser cette technologie pour Final Fantasy VII.
    En
    raison de la grande quantité de mémoire requise pour stocker des vidéos de haute qualité utilisant des personnages
    en 3D
    et des images de synthèse élaborées, Square décide d’utiliser le format CD-ROM, seul capable de répondre aux besoins
    du
    projet37,38.
</p>
<p>
    Cependant Nintendo, qui avait accueilli tous les précédents titres de la série Final Fantasy, continue d’utiliser
    les
    cartouches pour sa prochaine Nintendo 64 ; un nouveau conflit éclate entre les deux firmes. Alors que la presse est
    persuadée que le jeu est en préparation pour la console Nintendo, Square décide de mettre fin à ses longues et
    souvent
    tumultueuses relations avec Nintendo et annonce le 12 janvier 1996 que Final Fantasy VII est en développement pour
    la
    PlayStation de Sony39,38.
</p>
<p>
    En 1996, une version de démonstration du jeu est délivrée lors du salon professionnel Tokyo Game Show40. Ce disque,
    intitulé Square’s Preview Extra, présente la première démo jouable de Final Fantasy VII ainsi que la vidéo Final
    Fantasy
    SGI du Siggraph de 199541. La démo, toute en japonais, permet d’effectuer la première partie du jeu, à Midgar. On
    note
    cependant quelques différences, principalement la présence d’Aeris dans le groupe dès le début du jeu42.
</p>
<p>
    Le développement du jeu à proprement parler commence fin 199539, et exige les efforts de plus d’une centaine
    d’artistes
    et de programmeurs37,15. D’autre part, Sakaguchi fait appel à des professionnels de Hollywood pour l’aider dans la
    réalisation des séquences cinématiques43, leur technique l’influence beaucoup dans la mise en scène et le
    déroulement du
    jeu44. Square mise alors beaucoup sur le projet et alloue un budget d’environ 45 millions de dollars35. Square crée
    à
    cette occasion une cellule spécialisée dans le développement des séquences cinématiques basée à Hawaï45.
</p>