{{>nav}}

<h1>Career</h1>

<div class="bio">


  <div class="container">
    <div class="row"></div>

    <div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left bio-image" src="latenight.jpg" alt="John Oliver">

          <div class="content-heading"></div>
          <h3>Stand-up</h3>

          <p>Oliver first appeared at the Edinburgh Festival Fringe in 2001 as part of The Comedy Zone, a late-night
            showcase of
            newer acts, where he played the character of an "oleaginous journalist". At the Festival and similar venues,
            Oliver
            frequently worked with other members of the Chocolate Milk Gang, a group of comedians who often collaborated
            and
            performed with one another, including Daniel Kitson, Russell Howard, David O’Doherty, and Alun Cochrane. He
            performed his debut solo show in 2002 and returned in 2003. In 2004 and 2005, he collaborated with Andy
            Zaltzman on
            a
            double act and co-hosting Political Animal, with various acts performing political material.</p>

          <p>After moving to New York City for The Daily Show, Oliver began performing stand-up in small clubs around
            the city
            and
            later headlined shows in larger venues. Oliver's first stand-up special, titled John Oliver: Terrifying
            Times,
            debuted on Comedy Central in 2008 and was later released on DVD.Since 2010, Oliver has hosted four seasons
            of John
            Oliver's New York Stand-Up Show. In 2013, he went to Afghanistan on a USO tour to perform stand-up for the
            troops
            there.</p>
          <h3>The Daily Show with Jon Stewart</h3>

          <p>Oliver joined The Daily Show with Jon Stewart as its Senior British Correspondent in July 2006. He says he
            was
            interviewed for the show on the recommendation of comedian Ricky Gervais, who had never met Oliver, but was
            familiar
            with his work. It was his first time in the United States. Two weeks after the interview, he got the job,
            flying
            from London to New York on a Sunday and unexpectedly appearing on camera the next day. Oliver received Emmy
            Awards for outstanding writing in 2009, 2011, and 2012.</p>

          <p>During the summer of 2013, Oliver guest-hosted The Daily Show for eight weeks while Stewart directed his
            movie
            Rosewater. Oliver's performance received positive reviews, with some critics suggesting that he
            should eventually succeed Stewart as host of The Daily Show or receive his own show. CBS discussed the
            possibility of Oliver replacing Craig Ferguson on The Late Late Show. Three months after his Daily Show
            hosting,
            HBO
            announced it was giving Oliver his own late-night show.</p>


          <h3>Last Week Tonight</h3>

          <p>Oliver began hosting Last Week Tonight with John Oliver, a late-night talk show that takes a satirical look
            at
            news,
            politics, and current events, on 27 April 2014. His initial two-year contract with HBO was extended through
            2017
            in February 2015, and through 2020 in September 2017. Oliver says he has full creative freedom, including
            free rein to criticize corporations, given HBO's ad-free subscription model. His work on the show led to
            Oliver
            being named on the list of Time magazine's "100 Most Influential People" in 2015.</p>

          <p>In 2018, Last Week Tonight was honoured with a Peabody Award in the "Entertainment" category for "bringing
            satire
            and
            journalism even closer together," at the 77th Annual Peabody Awards.</p>

        </div>
      </div>
    </div>
  </div>