<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body class="works">
    <h1> Works!! </h1>
    <p> Lebron James is a professional basketball player who currently plays for the Los Angeles Lakers team. The position in which he plays is a forward but thanks to his versatility and his physical power he can play both as a point guard and as a power forward. </p>

    <a href="/"> Return </a>

</body>
</html>