<h1> Some of his works:</h1>
<ul>
    <li>The Castle of Cagliostro (1979)
    </li>
    <li>Nausicaä of the Valley of the Wind (1984)
    </li>
    <li>Castle in the Sky (1986)
    </li>
    <li>My Neighbor Totoro (1988)
    </li>
    <li>Kiki's Delivery Service (1989)
    </li>
    <li>Porco Rosso (1992)
    </li>
    <li>Princess Mononoke (1997)
    </li>
    <li>Spirited Away (2001)
    </li>
    <li>Howl's Moving Castle (2004)
    </li>
    <li>Ponyo (2008)
    </li>
    <li>The Wind Rises (2013)
    </li>
    <li>How Do You Live? (to be announced)
    </li>
</ul>