<div class="card-group">
    <div class="card m-3" style="width: 18rem;">
    <img src="./assets/Microsoft.png" class="card-img-top" alt="Logo microsoft">
    <div class="card-body">
        <h5 class="card-title">Microsoft</h5>
        <p class="card-text">Tech Company</p>
        <a href="https://www.microsoft.com/es-es/" class="btn btn-outline-success">More...</a>
    </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
    <img src="./assets/foundation.jpg" class="card-img-top" alt="Logo Gates Foundation">
    <div class="card-body">
        <h5 class="card-title">Bill and Melinda Gates Foundation</h5>
        <p class="card-text">Investigation</p>
        <a href="https://www.gatesfoundation.org/" class="btn btn-outline-success">More...</a>
    </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
    <img src="./assets/xbox.png" class="card-img-top" alt="Logo xBox">
    <div class="card-body">
        <h5 class="card-title">Xbox Game Studios</h5>
        <p class="card-text">Gaming</p>
        <a href="https://www.xbox.com/es-ES" class="btn btn-outline-success">More...</a>
    </div>
    </div>
</div>