<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="CSS/works.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <div class = "works">
      {{#each oeuvres}}  
        <div class='container'>
        <h2>{{this.date}}</h2>

        <div class="picture-container">
            <img class ="img-size" src="{{this.image}}"> </img>
        </div>
        
        </div>
        {{/each}}
 </div>

 
    
</body>
</html>