<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Works</title>
</head>

<body>
    <h1>La escuela</h1>
    <p>Es una escuela rural que se encuentra en el municipio de Nicolás Flores Cuenta con 24 alumnos y es multigrado...
    </p>
    <p>Aun es un lugar con usos y costumbres</p>
    <p>La comida es una de las cosas por las cuales aguanté mucho tiempo ahí</p>
    <p>Aún creen en la buena labor docente y es muy respetado en la localidad</p>
    <p>Vivía practicamente en la nada, rodeado de naturaleza donde se apreciaban bonitos amaneceres y podías estar arriba de las nubes, literalmente</p>
    <p>Pondría las fotos pero no cargó 🥺</p>


    <h3>Puedes ver algunas fotos a continuación.</h3>
    <a href="/images">
        Ver las imágenes
    </a>

    <p>Para volver a la página de inicio da clic
        <a href="/">
            aquí</a>
    </p>

</body>

</html>