<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
        </style> 
</head>
<body>
    <header>
        <div class="header">
            <h1>Sus trabajos</h1>
        </div>
    </header>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo-gallery">Gallery</a>
        </nav>
    </div>
    <div>
        <ul>
            <li>
                Telecomunicación
            </li>
            <li>
                Corriente Alterna
            </li>
            <li>
                Motor AC
            </li>
            <li>
                Lamparas Neon 
            </li>
            <li>
                Bobina auto sintonizada
            </li>
        </ul>
    </div>
</body>
</html>