<div class="container">
    <p align=justify>
        A seguir daremos um quadro geral dos escritos
        de Blavatsky, procurando situar e organizar as diferentes edições. A totalidade de seus trabalhos literários
        ainda não foi publicada. Em vida, o número de obras publicadas não foi tão grande, apesar da atividade contínua
        desta escritora - há muitos artigos para revistas e jornais, que eram uma rotina no seu dia-a-dia, textos de
        instruções, rascunhos inconclusos, cartas. Seus opúsculos são variados.
    <p align=justify>
        Esta desbravadora de uma nova era trabalhou incansavelmente, procurando abrir espaço para novas idéias, para o
        pensamento do Oriente, para a investigação da sabedoria esotérica e especialmente chamar a atenção para a
        Ciência da Vida - a Teosofia.
    <p align=justify>
        - <b>Isis sem Véu</b> - Uma chave dos Mistérios da Ciência e Teologia Antiga e Moderna. Editado por J. W.
        Bouton, New York, em 1877, com 2 volumes (1320 p.). É um tratado sobre o simbolismo das tradições das religiões,
        com atenção às religiões e filosofias ocidentais.
    <p align=justify>
        - <b>Pelas Grutas e Selvas do Hindustão</b> (Original em russo: Iz pescher i debrey Indostace). Com pseudônimo
        de Radha-Bai, editado pela Univesity Printing House, Moscou, 1883. É uma série de artigos originalmente
        publicados de novembro de 1879 a dezembro de 1882. Reeditado em St. Petersburg em 1912.
    <p align=justify>
        - <b>Cinco Anos de Teosofia</b> (Five Years of Theosophy) - Uma série de artigos da revista The Theosophy
        (índia), reeditados por G. R. S. Mead em Londres, em 1892, com 575 p.
    <p align=justify>
        -<b>A Doutrina Secreta</b> - Síntese de Ciência, Religião e Filosofia. Edição original em 2 volumes (1474 p.),
        por The Theosophical Publishing Co., Londres, em 1888. Simultaneamente foi publicada em Nova Iorque.
    <p align=justify>
        -<b>A Chave para a Teosofia</b> (Sendo uma clara exposição, em forma de questões e respostas, de Ética, Ciência
        e Filosofia) - publicado por Theosophical Publishing Society, Londres, 1889.
    <p align=justify>
        -<b>A Voz do Silêncio</b> (Fragmentos escolhidos do Livro dos Preceitos de Ouro, para uso diário dos
        discípulos), publicado por Theosophical Publishing Society, Londres, 1889.
    <p align=justify>
        -<b>Gemas do Oriente</b> (Um livro de Preceitos e Axiomas para cada dia do ano). É uma coletânea de aforismos
        para a meditação. Publicado por TPS, Londres, 1890.
    <p align=justify>
        - <b>Comunicações da Loja de Londres</b> (Transactions of Blavatsky Lodge) - É uma série de questões feitas a
        Blavatsky sobre as primeiras Estâncias do vol. 1 da Doutrina Secreta - Cosmogênese. A primeira parte foi editada
        em 1890 e a segunda em 1891. TPS, Londres.
    <p align=justify>
        <b>Trabalhos Póstumos</b> - São em sua maioria reuniões de artigos, trabalhos publicados em revistas e jornais,
        cartas, opúsculos, instruções para o grupo de discípulos de Londres, reedições de partes de obras anteriores e
        algum material inédito:
    <p align=justify>
        - <b>O Glossário Teosófico</b> - Editado por G. R. S. Mead (com acréscimos posteriores) através da Theosophical
        Publishing Society, Londres, 1892.
    <p align=justify>
        - <b>Narrativas Fantásticas</b> - Uma coleção de estórias ocultas. TPS, Londres, 1892.
    <p align=justify>
        - <b>Pelas Grutas e Selvas do Hindustão</b> - Edição em inglês, traduzida do russo por Mrs. Charles Johnston.
        TPS, Londres, 1892. - A Enigmática Tribo de Azure Blue Hills (Escrito em russo: Zagadochniya plemena na Golubih
        Gorah, com o pseudônimo de Radha-Bai), publicado em St. Petersburg, 1893, 309 p.
    <p align=justify>
        - <b>O Dubar em Lahore</b> (Escrito em russo) - com o pseudônimo de Radha-Bai, tradução para o inglês do texto
        originalmente publicado no Russkiy Vestnik, em 1881. - Ao País das Montanhas Azuis (Originalmente em russo:
        Zagadochniy Plemena) - traduzido para o francês com o título Au Pays des Montanhas Blues por Marc Semenoff,
        publicado em 1926.
    <p align=justify>
        -<b>Um Moderno "Panarion"</b> * (A Modern Panarion) - Uma coleção de escritos de Blavatsky publicada pelo Fundo
        Memorial HPB em 1895. (*Panarion é "uma colcha de retalhos" e uma coleção de fragmentos).
    <p align=justify>
        - <b>Cartas de H. P. Blavatsky para as Convenções Americanas</b> - Reeditado com o título Cinco Mensagens de H.
        P. Blavatsky para os Teosofistas Americanos, pela Theosophy Company, Los Angeles, 1922.
    <p align=justify>
        - <b>As Cartas de H. P. Blavatsky para A. P. Sinnett</b> (e outras cartas) - Edição e introdução de A. T.
        Barker, publicada em Londres e Nova Iorque em 1925, reeditada em edição fac-símile por Theosophical University
        Press, Pasadena, 1973.
    <p align=justify>
        - <b>Algumas Cartas não publicadas de Helena Petrovna Blavatsky</b> - Editado por Eugene Rollin Corson,
        publicado por Rider and Company, Londres, 1929.
    <p align=justify>
        - <b>Os Trabalhos Completos de H. P. Blavatsky</b> - Editados por A. Trevor Barker e publicados em Londres por
        Rider and Company: - Vol.I (1874-1879) - Artigos de jornais americanos e de The Theosophist.
    <p align=justify>
        - <b>Vol.II (1879-1881)</b> - Artigos de The Theosophist.
    <p align=justify>
        - <b>Vol.III (1881-1882</b>) - Artigos de The Theosophist.
    <p align=justify>
        - <b>Vol.IV (1882-1883</b>) - Artigos. - H. P. Blavatsky - Coleção de Escritos (Collected Writings) - Editados
        por Boris de Zirkoff. É a continuação da série iniciada por A. T. Barker, sendo a publicação de todos os
        escritos, artigos, cartas e notas de Blavatsky.
    <p align=justify>
        1ª parte: Uma reedição dos volumes anteriores, reorganizados e ampliados por Zirkoff, pela The Theosophical
        Publishing House: - Vol. 1 (1874-1878) - 650 p., 1933.
    <p align=justify>
        - <b>Vol. II (1879-1880)</b> - 636 p., 1933.
    <p align=justify>
        - <b>Vol. III(1882)</b> - 611 p., 1935. - Vol. IV (1882-1883) - 762 p., 1936.
    <p align=justify>
        2° parte: A continuação da coleção por Zirkoff:
    <p align=justify>
        - <b>Vol. V (1883-1885)</b> - 448 p., publicado por Philosophical Research Society, Los Angeles, 1954.
    <p align=justify>
        - <b>Vol. VI (1883-1885)</b> - 535 p., editado por Blavatsky Writings Publication Fund, Los Angeles, 1954.
    <p align=justify>
        - <b>Vol. VII (1886-1887)</b> - 467 p., editado por Theosophical Publishing House, Madras, índia, 1958.
    <p align=justify>
        - <b>Vol. VIII (1887)</b> - 535 p., TPH, 1960 (Artigos da revista Lúcifer). - Vol. IX (1888) - 517 p., TPH, 1962
        (Artigos da revista Lúcifer). - Vol. X (1888-1889) - 497 p., TPH,1964 (Contém Transactions of the Blavatsky
        Lodge).
    <p align=justify>
        - <b>Vol. XI (1889)</b> - 668 p., TPH, 1980 (Contém Notes on the Gospel according to John e The Roots of
        Ritualism in Church an Masonry).
    <p align=justify>
        - <b>Vol. XII (1889-1890)</b> - 889 p., TPH, 1980 (Contém "Gems from the East" e "Esoteric Instructions - EET").
    <p align=justify>
        -<b>Vol. XIII (1890-1891)</b>-497 p., TPH.1982 (Contém um Comentário à Pistis Sophia - o mais esotérico tratado
        gnóstico).
    <p align=justify>
        -<b>Vol. XIV (vários anos)</b>-781 p., 1985 (Contém o chamado volume III da Doutrina Secreta, anexado à edição
        original de 2 volumes. Corresponde aos volumes V e VI da edição em português da editora Pensamento).
    <p align=justify>
        A editora da Sociedade Teosófica (Theosophical Publishing House) reeditou os 7 primeiros volumes e acrescentou
        os 7 seguintes, existindo assim 14 volumes através de suas edições.
    <p align=justify>
        <b>Os Panfletos de Adyar</b> - uma série de opúsculos editados em Adyar (Madras), na sede internacional da
        Sociedade Teosófica: -Meus Livros
    <p align=justify>
        - <b>É Teosofia uma Religião? - A Antiga Magia Egípcia - A Kabalah e os Kabalistas</b> - Notas sobre o Evangelho
        de São João (mostrando o texto em grego, no qual se lê: "No princípio era o Logos...").
    <p align=justify>
        - Memória e sua Natureza - A Origem do Mal
    <p align=justify>
        - Estrela-Anjo-Cerimônia na Igreja Católica Romana
    <p align=justify>
        - A Natureza Substancial do Magnetismo
    <p align=justify>
        - A Queda do Ideal
    <p align=justify>
        - Espíritos de Várias Espécies - Progresso Espiritual Artigos em várias revistas -
    <p align=justify>
        - The Theosophist (Madras - Índia)
    <p align=justify>
        - Lucifer (Londres)
    <p align=justify>
        - The Path (New York)
    <p align=justify>
        -La Revue Theosophique (Paris) -Theosophical Review (Londres)
    <p align=justify>
        - The American Theosophist (Wheaton)
    <p align=justify>
        - The Indian Theosophist (Varanasi)
    <p align=justify>
        - Le Lotus Bleu (Paris)
    <p align=justify>
        - The Theosophical Journal (Londres)</b>
    <p align=justify>
        - Theosophy in Australia</b> -Theosophical Forum (N. York) - The Sun (N. York)
    <p align=justify>
        - <b>Adyar</b> (Alemanha) - O Teosofista (Brasil) A editora Wizards (San DiegoUSA) publicou a coleção dos
        artigos da revista The Theosophist, dos seus dois primeiros anos, separados: Vol. I (18791880) e Vol. II
        (1880-1881), mantendo a sua apresentação original.
    <p align=justify>
        <font size=+1>
            <center><b>Textos de outras obras, opúsculos, edições com artigos reunidos</b></center>
        </font>
    <p align=justify>
        -<b>Two Books of the Stanzas of Dzyan</b> (Publicado com o título Sabedoria Eterna, em português), TPH, Madras,
        índia.
    <p align=justify>
        - <b>Ocultismo Prático</b> (Dois artigos sobre o ocultismo prático e um apêndice com o título "Insinuações
        práticas para a Vida Diária"), TPH, India.
    <p align=justify>
        - <b>H.P.B. Fala (HPB Speak)</b></b>, 2 vol., Cartas de Blavatsky, TPH, índia.
    <p align=justify>
        - <b>Dinâmica do Mundo Físico</b> (Uma coleção de opúsculos), TPH, Londres.
    <p align=justify>
        -<b>A Chave para a Teosofia</b> (Edição simplificada de Clara Codd), TPH, Londres.
    <p align=justify>
        - <b>Uma Abreviação da Doutrina Secreta</b> (Editado por Christmas Humphreys e Elizabeth Preston), TPH, Londres.
    <p align=justify>
        - <b>Raja-Yoga ou Ocultismo</b> - Editado por Theosophy Company, Bombay (Índia).
    <p align=justify>
        -<b>O Calendário da Sabedoria</b> (The Circle of Wisdom) - Preceitos diários organizados por Winifred Parley,
        TPH, Wheaton.
    <p align=justify>
        -<b>As Origens do Ritual na Igreja e na Maçonaria</b>, ed. Pensamento. -Narrações Ocultistas, ed. Glem,
        Argentina.
    <p align=justify>
        - <b>Os Mahatmas e as Provas Iniciáticas</b> (Artigos sobre o chelado) - Federação Teosófica Interamericana,
        Buenos Aires.
    <p align=justify>
        - <b>Como estudar a Teosofia</b> (Doutrina Secreta)" FTI, B. Aires.
    <p align=justify>
        - <b>Síntese da Doutrina Secreta</b>, ed. Pensamento.
        </b>
    <p align=justify>
        - <b>A Doutrina Oculta</b> (Coletânea de opúsculos-Ocultismo Prático, Mente Cósmica, O Caráter Esotérico dos
        Evangelhos), ed. Hemus.
    <p align=justify>
        - <b>Fundamentos da Filosofia Esotérica</b> (organizado por Ianthe Hoskins), TPH, Londres.
    <p align=justify>
        - <b>Helena Blavatsky - A Vida e a Influência Extraordinária da Fundadora do Movimento Teosófico Moderno</b>,
        Sylvia Cranston, Editora Teosófica, Brasília/Brasil.
    <div align=left>
        <p>Fonte: <a href="https://www.levir.com.br/teosofia73.php">LEVIR</a></p>
    </div>
</div>