<div class="window">
<div class="main-work">


 <a class="arrow arrow-left" title="Previous"></a> 
    
 
    <div class="DOM">
   {{!-- <img src="https://cdn.vox-cdn.com/thumbor/9NTPXT-XQdjsrdox2ZgWIo6-5JY=/97x0:922x550/2050x1367/cdn.vox-cdn.com/assets/1470889/pkd_lead2.png" id="work-image" alt="work"> --}}
   <div class="work-image"> 
       <div class="black-background">
       <h2>
       Browse some of Philip's work using the arrows.
       </h2>
       </div>
   </div>

</div>

<a class="arrow arrow-right" title="Next"></a>
</div>

</div>