{{> nav}}

<section class = "works container">  
    <article class = "club">
        <h5>Sporting Clube de Portugal</h5>
        <div >
            <img class = "club-img img-fluid rounded  d-block" src="C.Ronaldo_Sporting.JPG" alt="Sporting">
        </div>    
            <p>2001–2003</p>
    </article>
    <article class = "club">
        <h5>Manchester United</h5>
        <div >
            <img class = "club-img  img-fluid rounded  d-block" src="Ronaldo_-_Manchester_United.jpg" alt="Man.Un.">
        </div>    
            <p>2003–2009</p>
    </article>
    <article class = "club">
        <h5>Real Madrid</h5>
        <div >
            <img class = "club-img img-fluid rounded  d-block" src="madrid.JPG" alt="Madrid">
        </div>    
            <p>2009–2018</p>
    </article>
    <article class = "club">
        <h5>Juventus</h5>
        <div >
            <img class = "club-img img-fluid rounded  d-block" src="Juventus_-_Cristiano_Ronaldo.jpg" alt="Juve">
        </div>
        <p>2018–</p>
    </article>
</section>