<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Works: Avishai Cohen</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="#">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <div class="main-container">

        <h1>Discography</h1>
        <div>
            <ul>
                <li><span>Adama</span> (Stretch, 1998)</li>
                <li><span>Devotion</span> (Stretch, 1999)</li>
                <li><span>Colors</span> (Stretch, 2000)</li>
                <li><span>Unity</span> (Stretch, 2001)</li>
                <li><span>Lyla</span> (Razdaz Recordz, 2003)</li>
                <li><span>At Home</span> (Razdaz Recordz, 2005)</li>
                <li><span>Continuo</span> (Razdaz Recordz, 2006)</li>
                <li><span>As Is... Live at the Blue Note </span>(Razdaz Recordz, 2007)</li>
                <li><span>Gently Disturbed</span> (Avishai Cohen Trio; Razdaz Recordz, 2008)</li>
                <li><span>Aurora</span> (BlueNote, 2009)</li>
                <li><span>Seven Seas</span> (EMI/Blue Note Records, 2011)</li>
                <li><span>Duende</span> (mit Nitai Hershkovits; EMI/Blue Note Records, 2012)</li>
                <li><span>Almah</span> (Razdaz Recordz, 2013)</li>
                <li><span>From Darkness</span> (Avishai Cohen Trio; Razdaz Recordz, 2015)</li>
                <li><span>1970</span> (Masterworks, 2017)</li>
                <li><span>Arvoles</span> (Razdaz Recordz, 2019)</li>
            </ul>
        </div>
        <a href="/home">Back to Home</a>
    </div>

</body>

</body>

</html>