<h1 class="title">About</h1>

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://content.thriveglobal.com/wp-content/uploads/2017/09/Sadhguru2.jpg" alt="Sadhguru">
        <div class="card-body">
          <h5 class="card-title">Sadhguru</h5>
          <p class="card-text">Sadhguru is dedicated
to the physical, mental and spiritual wellbeing of humanity and gifted with utter clarity of perception, Sadhguru possesses a perspective on life and living that never fails to intrigue, challenge and surprise all those he encounters.</p>
          <a href="/yogi" class="btn btn-primary">Involve</a>
        </div>
      </div>
    </div>
    </div>
  </div>