body {
  background-color: #f9c0c0;
  font-family: 'Roboto Mono', monospace;
}

.kitty{
  text-align: right;
  position: absolute;
  right: 80px;
  height: 40px;
  width:40px
}
  

/* The side navigation menu */
.sidenav {
  height: 40%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 85px;
  left: 0;
  background-color: #fafcc2;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 120px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ccf6c8
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}


.info {
  text-align: right;
  margin-left: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;

}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}