* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: red;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: red;
    color: white;
  }