@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Spicy+Rice&display=swap');

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
nav li {
    list-style-type: none;
}

nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
}

nav li:hover{
    color: pink;
} 

body {
    margin : 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#content-header {

    margin: 5vw 0vw 5vw 0vw;
    font-size: 2rem;
    border-bottom: rgb(187, 186, 186) solid 1px;
}

.icecream {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    margin: 2vh 0vh;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 45vw;
}

.text h2 {
    font-size: 2rem;
}

.text p {
    font-size: 1.2rem;
    text-align: justify;
}

#leb-ice {
    max-width: 25vw;
    width: 100%;
    height: auto;
}

#ita-ice {
    max-width: 25vw;
    width: 100%;
    height: auto;
}

#sundae-ice {
    max-width: 25vw;
    width: 100%;
    height: auto;
}

#jap-ice {
    max-width: 25vw;
    width: 100%;
    height: auto;
}

footer p {
    text-align: center;
    background-color: rgb(241, 235, 231);
    margin-top: 7rem;
    margin-bottom: 7rem;
    width: 100%;
}

.recipe-link:hover {
    text-shadow: rgb(128, 128, 126) 1px 5px 5px;
    color: rgb(197, 150, 21);
    border: none;
    transform: scale(1.03); 
    
}

.recipe-link {
    border: none;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
    transition: all .2s ease-in-out; 
    padding: 0;
}