.sectionContact{
    background-image: url('/img//fondoContact.jpg');
    width: 100%;
    height: 900px;
    position: relative;
    background-size: cover;
}

.boxContact {
    width: 50%;
    height: 190px;
    background-color: white;
    border: 5px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.boxContactPart > h4 {
    font-weight: bold;
    text-align: left;
}

.boxContactPart > h5 {
    margin-left: auto;
    margin-right: auto;
}

.boxContactPart {
    display: flex;

}

@media (max-width: 900px) {
    .boxContactPart {
        display: inline;
    }

    .boxContact{
        font-size: 20px;
    }
}