/* MAIN */
main {
    height: 100vh;
    background-image: url('/images/sylvanas-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.caption-container{
    width: 45vw;
    color: #c3c7c8;
    text-align: center;
    float: right;
    margin: 15px;
}
main h1 {
    font-size: 8rem;
    text-shadow: 3px 3px 20px #69565f;
    padding: 60px 20px;
}
main p {
    font-size: 2.75rem;    
    padding: 0 20px;
}