@import url("./variables.css");



a {
    text-decoration: none;
    color: thistle;
    line-height: 2.5vh;
}

a:hover {
    color: goldenrod;
}

#attention_banner {
    height: 10vh;
    padding: 2vh 7vw;
    font-size: larger;
    font-variant: small-caps;
}

#attention_banner p {
    font-size: 30px;
}

#attention_banner aside {
    margin-left: 50vw;
}

.menu  nav{
padding: 2vh 0 1vh 2vw;
display: flex;
flex-direction: column;


}

.container_row {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #1995e7;
}

.container_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    margin: 3vh 3vw;
    text-align: center;
    font-size: medium;
}

#img_home {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  

}

#img_home img {
    box-sizing: border-box;
    width: 50vw;
}

#about {
    margin: 5vh 15vw;
}

#about >li {
    padding: 2vh 2vw;
    text-align: justify;
}

li li {
    list-style: none;
}

/*
  #container_gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 5vw;
    justify-content: center;
    align-items: center;

}
*/

#container_gallery {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 0;
}


.img_gallery {
  width: 20vw;
}

.legend_gallery {
    background-color: gainsboro;
    color: goldenrod;
    width: 20vw;
    text-align: center;
}



/* 


*/