body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background: #cf7500;
  padding: 48px 0px;
}

h1 {
  font-weight: 200;
  padding: 24px 0;
}

h2 {
  font-weight: 200;
}

.text-container {
  background: #dbdbdb;
  padding: 72px 36px;
}

nav > ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 0 16px;
}

a {
  color: #cf7500;
}

a:hover, a:active {
  color: #f0a500;
}

blockquote {
  margin: 8px 16px;
  border-left: 4px solid #f0a500;
  padding-left: 8px;
}