* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

img {
  /* width: 50vw; */
}

.all-images {
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.each-image-and-caption {
  display: flex;
  flex-direction: column;
}

nav {
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  background-color: chartreuse;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: chocolate;
}

p {
  margin: 15px;
  width: 60vw;
}
