* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

nav {
    padding: 0;
    margin: O;
    border: none;
}

#logo {
    height: 50px;
    width: 50px
}

#container {
    display: flex;
    justify-content: space-between  ;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-image: url(/img/violences_conjuguales_5e96efe7a6b00.webp);
    background-size: cover;
    background-repeat: no-repeat; */
    /* width: 100vw; */

}

#page-about {
    padding: 20px;
    background-image: url(/img/LaFourchette-guide-restaurant-Strasbourg-4.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.box-img {
    display: flex;
    justify-content: center;
}


#nav-box {
    border: blanchedalmond;
}

img {
    width: 500px;
    height: 300px;
}

.display {
    display: flex;
}

footer {
    background-color: blanchedalmond;
  text-align: center;
  font-size: 1.9em;
  padding: 40px 100px 40px 100px;
  marging-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100VW;
  
}

.adresse {
  margin-bottom: 30px;
}

footer ul {
  padding: 0;
}

.map-frame {
  height: 375px;
  width: 60%;
}