.imgGiftHello {
    text-align: center;
    padding-top: 70px;
}

.imgMain {
    position: absolute;
    z-index: 1;
    top: 45%;
    height: auto;
    left: 50%;
    border: 10px solid white; 
}

.nameBox {
    position: absolute;
    top: 210px;
    z-index: 2;
    width: 100%;
    height: 50px;
}

.diferentTop {
    top: 90px
}

.externalLinksColorWR {
    background-image: linear-gradient(to right, white , #1C9CCB);
}

.externalLinksColorRW {
    background-image: linear-gradient(to right, #1C9CCB, white);
}

.space {
    top: 183px;
}

.triangulo_bottom_right {
    width: 0;
    height: 0;
    top: 0em;
    right: 0em;
    position: absolute;
    border-bottom: 750px solid #1C9CCB; 
    border-left: 1000px solid transparent;        
}

.triangulo_top_right {
    width: 0;
    height: 0;
    top: 0em;
    right: 0em;
    position: absolute;
    border-top: 750px solid #1C9CCB; 
    border-left: 1000px solid transparent;        
}

.triangulo_bottom_left {
    width: 0;
    height: 0;
    top: 0em;
    position: absolute;
    border-bottom: 750px solid #1C9CCB; 
    border-right: 1000px solid transparent;        
}

.triangulo_top_left {
    width: 0;
    height: 0;
    top: 0em;
    position: absolute;
    border-top: 750px solid #1C9CCB; 
    border-right: 1000px solid transparent;        
}

.sectionHome {
    position: relative;
    width: 100%;
    height: 750px;
}

.textBoxDescription {
    padding: 100px 60px 30px 30px;
    font-size: 30px;
}

.nameBoxDescription {
    padding: 3px 0px 0px 35%;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.boxDescriptionWorks {
    width: 900px;
    height: 490px;
    color: rgb(148, 144, 144);
    position: relative;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    z-index: 1;
    margin: auto;
    top: 120px;
}

.boxDescription {
    width: 60%;
    height: 450px;
    position: relative;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    z-index: 1;
    margin:  auto auto auto 25%;
    top: 60px;
    
}

.imgDesktop {
    width: 51%;
    height: 280px;
    margin-left: 50%;
    transform: translate(-50%);
}

.imgAndroid {
    margin-left: 50%;
    transform: translate(-50%);
    width: 18%;
    height: 290px;
}