#work img {
    width: 100%;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.pic {
    width: 40%;
}

.float-right {
    float: right;
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    width: max-content;
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 10px;
}

#work ul {
    padding-bottom: 30px;
    list-style-type: disc;
    color: var(--header-color);
    font-size: 1.1rem;
    line-height: 1.3;
    padding-left: 3%;
    overflow: hidden;
}

#paris {
    padding-bottom: 0;
}

#work h2 {
    clear: both;
}