/*
================================================
IMPORTAR MI ESTRUCTURA EN EL FICHERO PRINCIPAL
================================================
*/

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
@import "vendors/normalize";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/navbar", "layout/footer";

// 5. Components
@import "components/button", "components/icon";

// 6. Page-specific styles
@import "pages/home", "pages/tour", "pages/gallery", "pages/bio";

// 7. Themes
@import "themes/default";
