<div id="show-family">
    <div id="your-family">
        <h1 class="family-title">your family</h1>
        <div id="family-book">
            <p class="family-name">{{dbRes.nickname}}</p>
        </div>
    </div>
</div>