.home-box {
  margin: 0 auto;
  width: 60%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  .home-title {
    color: $title-color;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    text-align: center;
  }
}
