<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
  </head>
  <body>
    <div class="main-body">
      <div>
        <h1>The About Page</h1>
        <p>This is a paragraph test.</p>
        <a href='/'>Home</a>
      </div>
      <div class="">
        <h2>About Us</h2>
        <img src="/images/oneteam.jpg" alt="">
        <p>Spicy jalapeno bacon ipsum dolor amet landjaeger leberkas porchetta boudin tail bacon drumstick chicken capicola ham hock jowl brisket frankfurter short ribs. Capicola kevin pastrami shank sirloin bresaola spare ribs andouille cow turkey hamburger pork loin sausage. Flank chuck cow ribeye porchetta. Sausage frankfurter kielbasa prosciutto, swine chuck picanha pastrami pork chop bresaola fatback.</p>
        <p>Capicola brisket jowl tenderloin, short ribs sausage pork chop. Beef jowl fatback buffalo, cupim filet mignon sirloin burgdoggen turducken ham hock landjaeger ribeye spare ribs kevin turkey. Kevin porchetta beef ribs t-bone, shankle kielbasa rump fatback chicken short ribs cupim tail. Andouille jerky pork, turkey beef pork loin corned beef buffalo. Tenderloin shankle jerky, beef ribs porchetta cupim ham hock brisket shoulder tri-tip bresaola jowl ham tongue.</p>
      </div>
      <div class="">
        <h2>Our Team</h2>
      </div>
      <div class="">
        <img src="/images/team.jpg" alt="">
        <div>
          <p class="team_name">First Design Team</p>
          <p class="team_title">Team Leader: Jay</p>
          <p class="team_description">We are Team 1.</p>
        </div>
      </div>
      <div class="">
        <img src="/images/team.jpg" alt="">
        <div>
          <p class="team_name">Second Design Team</p>
          <p class="team_title">Team Leader: Max</p>
          <p class="team_description">We are Team 2.</p>
        </div>
      </div>
      <div class="">
        <img src="/images/team.jpg" alt="">
        <div>
          <p class="team_name">Third Design Team</p>
          <p class="team_title">Team Leader: Sia</p>
          <p class="team_description">We are Team 3.</p>
        </div>
      </div>
      <div class="">
        <img src="/images/team.jpg" alt="">
        <div>
          <p class="team_name">Fourth Design Team</p>
          <p class="team_title">Team Leader: Aerial</p>
          <p class="team_description">We are Team 4.</p>
        </div>
      </div>
    </div>
  </body>
</html>