@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.debug {
  border: 1px solid red;
}
