body{
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: blanchedalmond;
}
img{
    width: 350px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}