#carouselExampleIndicators {
    max-width: 80%;
    max-height: 600px;
    position: relative;
    margin: 0 auto;
}

img {
    max-height:600px;
}

h1 {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 4%;
    }