body {
    background: url('../img/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .h1-cover {
    margin-top: 15px;
    /* background-color:rgba(33,37,41, .6); */
    background-color:rgba(71,54,54, .4);
    padding: 15px;
    color:#ededed;
  }

  .p-cover {
    background-color:rgba(33,37,41, .6);
    /* background-color:rgba(71,54,54, .4); */
    padding: 30px;
    text-align: justify;
    color: #f0f0f0;
  }

.card {
  margin-bottom: 10px; 
  background-color:rgba(33,37,41, .6);
  border-radius: 0;
  border: 0;
}

.card-header{
  border-bottom: 1px solid rgba(221,206,202, .3)
}

.card-body {
  color: #f0f0f0;
}

.btn-link:hover, .btn-link:active {
  color: #f0f0f0;
  text-decoration: none;
}

.btn-link   {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}

.btn-link:focus {
  color: #f0f0f0;
  text-decoration: none;
  box-shadow: none;
}

img {
  width: 100%;
  height: auto;
  padding: 15px 15px;
}

.top {
  margin-top: 15px;
  margin-bottom: 20px;
}

.gallery {
  padding: 30px 15px;
  margin-left: 0px;
  margin-right: 0px;
  background-color:rgba(33,37,41, .6);
  margin-bottom: 75px;
}
