body {
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  font-family: "Open Sans";
  background-color: #dfe6e9;
}

nav {
  margin: 0;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: +1;
}

nav > ul {
  margin-right: 50px;
}

nav > ul > li {
  margin-bottom: 0px;
  padding: 20px;
  display: inline;
}
nav > ul > li > a {
  margin-bottom: 0px;
  color: #00aaea;
  font-size: 2rem;
  text-decoration: none;
}
nav > ul > li > a:hover {
  color: #00729e;
}

#title {
  margin: 50px 0 0;
  padding: 0 10%;
  height: 650px;
  color: #008fc3;
  font-size: 2em;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  background-image: url("https://aventurasnahistoria.uol.com.br/media/_versions/tesla9s8ddd_widelg.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}

#title > h1 {
  color: #00aaea;
  margin-top: 250px;
}

footer {
  padding: 15px 100px 30px;
  background-color: black;
  font-size: 1.25em;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#follow {
  padding-top: 20px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fa {
  color: #00aaea;
  display: inline-block;
  margin: 2px 0px;
  font-size: inherit;
  text-rendering: auto;
  justify-content: center;
}
.fa:hover {
  color: #00729e;
}
/* color: #00AAEA;
color: #00729E;
color: #000000; */
#about-title {
  margin-top: 75px;
  margin-bottom: 70px;
  padding-top: 75px;
  font-size: 4em;
  color: #00729e;
  text-shadow: 2px 2px #000000;
  text-align: center;
  /* background-image: url("https://cdn.hswstatic.com/gif/nikola-tesla-orig.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover; */
}

#about-text {
  font-size: 1.5em;
  margin: 0px 5% 5%;
  padding: 10px 5%;
  text-align: justify;
  border-top: 5px solid #1c6ea4;
  border-left: 5px solid #1c6ea4;
  border-bottom: 5px solid #1c6ea4;
  border-right: 5px solid #1c6ea4;
  border-radius: 26px 26px 26px 26px;
}

#description {
  margin: 20px 15px;
  font-size: 1em;
  padding: 50px 100px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

#description > img {
  padding-left: 70px;
}

#description > p {
  width: 55%;
  padding-right: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.works-text {
  font-size: 1.5em;
  margin: 0px 5% 5%;
  padding: 10px 5%;
  text-align: justify;
  border-top: 5px solid #1c6ea4;
  border-left: 5px solid #1c6ea4;
  border-bottom: 5px solid #1c6ea4;
  border-right: 5px solid #1c6ea4;
  border-radius: 26px 26px 26px 26px;
}
