body{
    background-image: url("/images/home-background2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1{
    color:white;
    font-size: 85px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#links{
    margin: 10px;
    text-decoration: none;
    color:white;
}