h1{
    font-size: 110px;  
    text-transform: uppercase; 
    text-align: center;
}

header p{
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    width: 60vw;
    margin: 0 auto;
    padding-bottom: 80px;
}

header nav ul{
    background-color: goldenrod;
    height: 90px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    text-align: right;
    float: right;
    padding: 30px;
    margin-right: 50px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}