/* BODY */
* {
  margin: 0px;
  padding: 0px;
}


body {
  background: rgb(233,235,238);
  height: 100vh;
}

.container {
  width: 851px;
  height: 100%;
}

.content {
  width: 851px;
  height: 100%;
}


/* HEADER */
.header {
  border-top: 0px;
  width: 851px;
  height: 248px;
}

.profile-img {
  width: 160px;
  border: 5px solid #d3d6db;
  border-radius: 100px;
  position: absolute;
  top: 65px;
  margin-left: 15px;
}

.cover {
  background: #1c1e21;
  width: 851px;
  height: 205px;
}

.cover h1 {
  font-size: 23px;
  color: white;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 165px;
  padding-left: 200px;
}

.nav-bar {
  background: #ffffff;
  border: 1px solid #d3d6db;
  border-radius: 2px;
  width: 851px;
  height: 43px;
  border-radius: 2px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  padding-right: 30px;
  width: 100%;
  font-size: 20px;
  margin-right: 20px;
}

.nav-bar ul li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 42px;
  border-left: 1px solid #d3d6db;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  font-size: 14px;
  color: #3e5898;
  font-weight: bold;
}

#right-fix {
  border-right: 1px solid #d3d6db;
}


/* INFO */
.info {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* LEFT BAR */
.left-bar {
  width: 321px;
  height: 100%;
}

.left-bar h2 {
  font-size: 15px;
  color: #3e5898;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.about {
  border: 1px solid #d3d6db;
  border-radius: 2px;
  width: 321px;
  height: 334px;
  background: #ffffff
}

.about ul li { 
  font-size: 13px;
  color: rgb(51, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  text-align: justify;
}

.about ul li span { 
  color: #3e5898;
}

.images {
  border: 1px solid #d3d6db;
  border-radius: 2px;
  width: 321px;
  height: 100%;
  margin-top: 15px;
  padding-bottom: 15px;
  background: #ffffff
}

.images img {
  width: 280px;
  align-items: center;
  margin-left: 20px;
  border: 1px solid black;
}

.friends {
  border: 1px solid #d3d6db;
  border-radius: 2px;
  width: 321px;
  height: 100%;
  margin-top: 15px;
  background: #ffffff;
  padding-bottom: 15px;
}

.friends img {
  width: 150px;
  align-items: center;
  margin-left: 20px;
}

#waldo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#waldo > p {
  color: #3e5898;
  font-size: 12px;
}


/* RIGHT BAR */
.photo-gallery {
  border: 1px solid #d3d6db;
  border-radius: 2px;
  width: 516px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding-bottom: 50px;
}

.photo-gallery img {
  width: 480px;
}