<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/button.css">
    </head>
    <body>
        <div class='mainPage'>
            <h1>Hello Visitor</h1>
        </div>

        <div class="buttonsWindow">
            <a href='/home'>Home</a>
            <a href='/about'>About Me</a>
            <a href='/works' id="clickedButton">Works</a>
            <a href='/photo-gal'>Gallery</a>
        </div>
        <div>
            <h1>Championships Won</h1>
            <div class="works-content">
                <div class="tiger-image">
                    <img src='/pictures/cup-1.jpg' />
                    <div class='middle'>
                        <div class="text">2007's Blah Open</div>
                    </div>
                </div>
                <div class="tiger-image">
                    <img src='/pictures/cup-2.jpg' />
                    <div class='middle'>
                        <div class="text">2019's Blah Open</div>
                    </div>
                </div>
                <div class="tiger-image">
                    <img src='/pictures/cup-3.jpg' />
                    <div class='middle'>
                        <div class="text">2015's Blah Open</div>
                    </div>
                </div>
                <div class="tiger-image">
                    <img src='/pictures/cup-4.jpeg' />
                    <div class='middle'>
                        <div class="text">2021's Blah Open</div>
                    </div>
                </div>
                <div class="tiger-image">
                    <img src='/pictures/cup-5.jpg' />
                    <div class='middle'>
                        <div class="text">2014's Blah Open</div>
                    </div>
                </div>
                <div class="tiger-image">
                    <img src='/pictures/cup-6.jpg' />
                    <div class='middle'>
                        <div class="text">2010's Blah Open</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>