<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheet/style.css">
    
    <title>Work</title>
</head>
<body>
<h1>My work </h1>
<div class="main">
          <ul>
            <li>
              <a class="link" href="/home">Home </a>
            </li>
            <li>
              <a class="link" href="/work">Work</a>
            </li>
            <li>
              <a class="link" href="/about">About Us</a>
            </li>
          </ul>
        </div>
</body>
</html>