body {
  background-image: url("https://bit.ly/3iD8FEM");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
