html, body{
    background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline; 
    background-color: pink;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 52px;
}

#about-information{
    position: relative;
    text-align: justify;
    bottom: 200px;
    left: 370px;
    border: 3px solid black;
    background-color: white;
    padding: 20px;
    width: 500px;
    height: 120px;
}