
#nav1 {
    font-size: 19px;

    }
    
   
 #cuadro{
   padding-left: 350px;
    }

#footer1{
    font-size: 12px;
    padding-left: 960px;
}

    footer h3{
        color: white;}
    
        #cuadros{
            padding-left: 440px;
           }