
.menu-icon
  position: absolute
  top: 2em
  right: 2.5em
  display: flex
  width: 10vh
  height: 10vh
  cursor: pointer
  z-index: 3
  span
    position: relative
    margin: auto
    width: 62%
    height: 8%
    background: white
    border-radius: 10em
    &::before, &::after
      position: absolute
      height: 100%
      width: 100%
      content: ''
      background: white
      border-radius: 10em
    &::before
      top: -250%
    &::after
      bottom: -250%
  &.menu-icon-cross
    +transition_default
    span, &.clicked span
      +transition_default
    &.clicked span
      transform: rotate(45deg)
    span::before, &.clicked span::before
      transition-property: top, transform
    span::after, &.clicked span::after
      transition-property: bottom, transform
    span::before, span::after
      transition-duration: inherit
    &.clicked
      span::before
        top: 0
      span::after
        bottom: 0
      span::before, span::after
        transform: rotate(-90deg)
    &:hover
      +hover_scale_opacity


@media (max-width: 600px)
  .menu-icon
    width: 7vh
    height: 7vh
