body{
    background-color: rgb(255,155,18);

}

#head{
    display:flex;
    justify-content: center;
    align-items: center;
}

#head_picture{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 2px rgba(255,255,255), 0 6px 20px 0 rgba(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    font-size: x-large;
    border-radius: 10px;
}