h1{
    margin: 10px 0px 0px 100px;
    color: red;
}
body{
    background-image: url("http://www.hdfondos.eu/preview/get_photo/506983/1920/1200");
}
.carousel img{
    margin: 40px 0px 0px 140px;
    width: 80%;
}