@import url("https://fonts.googleapis.com/css?family=KoHo");

button {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 11px;
  left: 690px;
  position: relative;
  align-items: flex-end;
  top: 240px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

h1 {
  text-align: center;
  color: aliceblue;
  font-size: 56px;
  font-family: "koHo";
}

body {
  background-image: url(imgBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bolas {
  justify-content: space-evenly;
  display: flex;
  top: 150px;
  position: relative;
}

.bola1 {
  width: 200px;
}

.bola2 {
  width: 200px;
}

.bola4 {
  width: 200px;
}
