<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Surf in Spain</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
        <div class="links">
          <a href="/home">home</a>
          <a href="">about</a>
          <a href="/gallery">gallery</a>
        </div>  
        <div class="title">
          <h1>The best waves in Spain</h1>
        </div>
        <div>
          <p>
              Add your spot to the Spanish surf spot map. Contributions are appreciated.

            Spain has a lot going for it, an excellent climate, good food and an interesting history - oh, and world class surf - lots and lots of world class surf. The 4,000 km of coastline makes Spain a surfers dream location, and means that there will always be an uncrowded spot if you are prepared to look.
            
            The south is consistently warm and dry temperatures offers excellent uncrowded surfing conditions particular in the European winter months when 6ft offshore is not uncommon. It has been a popular surfing location for surfers from the UK for years but with waves like Mundaka being a regular feature in the international surfing magazines it is becoming ever more popular with the travelling surfer from all over the globe.
            
            As with the rest of Europe, the surf season in Spain runs from Autumn through Spring. September to April sees incredibly consistent surf, and heavy tubing waves. The big lows tracking across up in northern Europe send the swells southwards to pound the Spanish coastline all winter, and being further south than France, the United Kingdom and Eire, tends to get better quality swells during these months.
        
            Spain is a great location for surfers of all experience levels, and a wonderful country to visit. Just make sure that you are heading to the Atlantic coast - not the Mediterranean!
           </p>
        </div>    
  </body>
</html>