<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleAbout.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1 class="yellow">¿QUIÉNES SOMOS?</h1>
    <div class="black">
        <p>MUNDO ABEJA es una empresa que cuenta con una cabaña ganadera fija de 300
            colmenas que lleva a cabo la actividad apícola en la Sierra Norte de Madrid.
            Nuestras colmenas están situadas en la Sierra Norte de Madrid, recolectando
            los pólenes de las jaras y el néctar de los primeros romeros, cantuesos, salvia,
            tomillos, zarzas y retamas que la naturaleza que nos rodea pone a disposición de
            las abejas para que elaboren la deliciosa miel.
            Situado a pie de montaña, en donde no hay fábricas ni procesos industriales
            cercanos, al igual que, debido al abandono del cultivo de cereal o de la vid,
            tampoco hay tratamientos fitosanitarios en el campo. Uniendo estos detalles obtenemos
            una miel buena en calidad y sabor, a la par que muy limpia de agentes contaminantes,
            tanto para nuestras abejas como para los clientes que consumen sus productos.
        </p>
        <img src="/images/colmena.png" alt="">
    </div>



</body>

</html>