<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id = "gallery">
    <h2>Gallery</h2>
    <div id = "images">
      <div>
        <img src = "/images/arches.jpg" height= "500px" weight = "800">
        <h3>Arches National Park</h3>
      </div>
      <div>
          <img src = "/images/yosemite.jpg" height= "500px" weight = "800">
          <h3>Yosemite National Park</h3>
        </div>
        <div>
            <img src = "/images/banff.jpg" height= "500px" weight = "800">
            <h3>Banff National Park</h3>
          </div>
        <div>
            <img src = "/images/zion.jpg" height= "500px" weight = "800">
            <h3>Zion National Park</h3>
          </div>
    </div>
    <div>
        <a href="/">Home Page</a>
        <a href="/about">About</a>
      </div>
  </body>
</html>