<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleGallery.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About us</a>
    </nav>
    <h1 class="yellow">GALERÍA DE IMÁGENES</h1>
    <section>
        <img src="/images/gallery/bee1.png" alt="">
        <img src="/images/gallery/bee2.png" alt="">
        <img src="/images/gallery/bee3.png" alt="">
        <img src="/images/gallery/bee4.png" alt="">
        <img src="/images/gallery/bee5.png" alt="">
        <img src="/images/gallery/bee6.png" alt="">
        <img src="/images/gallery/bee7.png" alt="">
        <img src="/images/gallery/bee8.png" alt="">
        <img src="/images/gallery/bee9.png" alt="">
        <img src="/images/gallery/bee10.png" alt="">
    </section>

</body>

</html>