<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>virgen</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>virgen</h1>
    <a href="/second-page">go second page</a>
    <img src="/img/Escenario Smartphone Amarillo.png" />
    <a href="/third-page">go third page</a>


</body>



<!-- </html>

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Welcome Ironhacker. :)</h1>

    <a href="/cat">Ver el gato</a>
</body>

</html> -->
