<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <title>primer express</title>
</head>

<body>
    <h1>Nada es lo que parece</h1>
    <h2>¿Que quieres ver ? </h2>
    <p>¿Algo <a href="/hot">caliente</a>?</p>
    <p>¿Algo <a href="/really-hot">mas caliente?</a></p>
    <p>¿Algo <a href="/super-hot">mucho mas caliente?</a></p>

</body>

</html>