<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body>

    <nav class="nav has-shadow">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item">
              <img src="/images/logoJC.png" alt="Bulma logo" id="logoNav">
            </a>
          </div>

          <div class="nav-right">
              <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
              <a class="nav-item is-tab is-hidden-mobile">About</a>
              <a class="nav-item is-tab is-hidden-mobile is-active">Gallery</a>
          </div>
         
        </div>
      </nav>

      <section class="section">
          <div class="container">
            <h1 class="title">Section</h1>
            <h2 class="subtitle">
              A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
            </h2>
          </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Pagina de John Cena</strong> by <a>Luther and Jordy</a>. The source code is licensed
                <a href="https://www.google.com/">IronHack Mexico S.A de C.V </a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Tu cola</a>.
              </p>
            </div>
          </footer>
  


</body>
</html>