<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <img src="/images/beeLogo.png" alt="">
        <h1>Mundo abeja</h1>
        <img class="reverse" src="/images/beeLogo.png" alt="">
    </header>
    <nav>
        <p>Además de los productos que elaboran en la colmena,
            las abejas son importantes agentes polinizadores y benefician
            el proceso de regeneración natural de los bosques.
            Cada una de sus acciones suele ser muy provechosa para el
            desarrollo agrícola y el mantenimiento del ecosistema.</p>
        <div class="index">
                <a href="/about">¿QUIÉNES SOMOS?</a>
                <a href="/gallery">GALERÍA DE FOTOS</a>
        </div>
        
    </nav>


</body>

</html>