<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Surf in Spain</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
      <div class="links">
          <a href="/home">home</a>
          <a href="/about">about</a>
          <a href="">gallery</a>
      </div>
      <div class="title">
          <h1>The best spots</h1>
      </div> 
      <div class="gallery">
        <div>
            <h2>Mundaka</h2>
            <img src="/images/mundaka.jpg" alt="">
        </div>
        <div>
             <h2>Zarautz</h2>
             <img src="/images/mundaka.jpg" alt="">
        </div> 
        <div>
             <h2>Sopelana</h2>
             <img src="/images/mundaka.jpg" alt="">
        </div>
        <div>
            <h2>Razo</h2>
            <img src="/images/mundaka.jpg" alt="">
        </div>
        <div>
             <h2>Somo</h2>
             <img src="/images/mundaka.jpg" alt="">
        </div> 
        <div>
             <h2>Rodiles</h2>
             <img src="/images/mundaka.jpg" alt="">
        </div>
      </div>
  </body>
</html>