<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <h1>Hot Hot Hot</h1>
    <div>
        <img src="/img/nino1.jpeg">
        <img src="/img/nino2.jpeg">
        <img src="/img/nino3.jpeg">
    </div>

    <p> pagina de <a href="/">inicio</a></p>
    <p> ¿quieres ver algo <a href="/hot">mas caliente?</a></p>
    <p> ¿quieres ver algo <a href="/super-hot">mucho mas caliente?</a></p>
</body>

</html>