<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <h1>Super Hotttttttttttt!!!!!!!!!!!!</h1>

    <img src="/img/teo.jpeg">
    <h2>Marvin piensa lo mismo</h2>
    <p> pagina de <a href="/">inicio</a></p>
    <p> ¿quieres ver algo <a href="/hot">mucho mas caliente?</a></p>
    <p> ¿quieres ver algo <a href="/really-hot">mas caliente?</a></p>
</body>

</html>