<html>
  <head>
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheet/about.css" />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Salvador Dalí</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/images">Images</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div class="card bg-dark text-white">
      <img
        src="https://http2.mlstatic.com/pintura-al-oleo-salvador-dali-D_NQ_NP_889226-MLM28912190248_122018-F.jpg"
        class="card-img"
        alt="..."
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Salvador Dalí</h5>
        <p class="card-text">
          Salvador Felipe Jacinto Dalí i Domènech,1​ marqués de Dalí de Púbol (Figueras, 11 de mayo de 1904-ibídem, 23
          de enero de 1989), fue un pintor, escultor, grabador, escenógrafo y escritor español del siglo XX. Se le
          considera uno de los máximos representantes del surrealismo. Salvador Dalí es conocido por sus impactantes y
          oníricas imágenes surrealistas. Sus habilidades pictóricas se suelen atribuir a la influencia y admiración por
          el arte renacentista. También fue un experto dibujante.2​3​ Los recursos plásticos dalinianos también
          abordaron el cine, la escultura y la fotografía, lo cual le condujo a numerosas colaboraciones con otros
          artistas audiovisuales. Tuvo la capacidad de acrisolar un estilo genuinamente personal y palpable al primer
          contacto, que en realidad era muy ecléctico y que «succionó» de innovaciones ajenas. Una de sus pinturas más
          célebres es La persistencia de la memoria (también conocida como Los relojes blandos), realizada en 1931. Como
          artista extremadamente imaginativo, manifestó una notable tendencia al narcisismo y la megalomanía, cuyo
          objeto era atraer la atención pública. Esta conducta irritaba a quienes apreciaban su arte y justificaba a sus
          críticos, que rechazaban sus conductas excéntricas como un reclamo publicitario ocasionalmente más llamativo
          que su producción artística.4​ Dalí atribuía su «amor por todo lo que es dorado y resulta excesivo, su pasión
          por el lujo y su amor por la moda oriental» a un autoproclamado «linaje arábigo»,5​ que remontaba sus raíces a
          los tiempos de la dominación árabe de la península ibérica.
        </p>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
