
    <nav class="nav">
        <a href="/">Main</a>
        <a href="/about">About</a>
      </nav>
      <div class="not-found-container">
        <img class="404-not-found"  src="../images/404.jpg" alt="page not found">
      </div>
</body>
