<main>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/"><button>Homepage</button></a>
  <a href="/users"><button>Users</button></a>
  <a href="/imageGallery"><button>Image Gallery</button></a>
</main>
