<div class="about-content">
  <div class="about-wrapper">
    <h2>About</h2>
    <div class="about-express">
        <img src="https://miro.medium.com/max/1610/1*alZcSIb0lcN7gQIx2tJ_tg.png" alt="express image">
        <div class="explanation">
         <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License.</p>
          <p> It is designed for building web applications and APIs.</p> 
           <p> It has been called the de facto standard server framework for Node.js.</p>

           <p>The original author, TJ Holowaychuk, described it as a Sinatra-inspired server[citation needed], meaning that it is relatively minimal with many features available as plugins. Express is the back-end component of the MEAN stack, together with the MongoDB database software and AngularJS front-end framework.</p>
        
        </div>
         <a href="https://codeburst.io/how-to-get-users-ip-details-in-expressjs-ff5252728604">How it works?</a>
    </div>
  </div>
</div>
