<div class="container">
  <h1>ABOUT</h1>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">El ejercicio de Ironhack</h5>
      <p class="card-text">Otro texto de relleno para que el ejercicio tenga algo de contenido.</p>
      <a href="/" class="card-link">Home</a>
      <a href="/gallery" class="card-link">Gallery</a>
    </div>
  </div>
</div>