<section class="main-content">
    <h2>{{route}}!</h2>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur deleniti distinctio enim error numquam omnis quibusdam tempora? Aliquam cum expedita facilis illo ipsum maiores non obcaecati, quae quos totam?</span>
</section>
