<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <h1>About Person "X"</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <section>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis alias
        totam obcaecati. Animi, totam! Accusamus a commodi quo libero tempora
        fugit rem, rerum neque aspernatur pariatur earum illum praesentium
        eveniet?
      </article>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis alias
        totam obcaecati. Animi, totam! Accusamus a commodi quo libero tempora
        fugit rem, rerum neque aspernatur pariatur earum illum praesentium
        eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corporis incidunt illo perferendis distinctio quos eos. Obcaecati error
        vero, enim eveniet officiis similique adipisci assumenda repudiandae
        alias ipsam inventore eum? Saepe.
      </article>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis alias
        totam obcaecati. Animi, totam! Accusamus a commodi quo libero tempora
        fugit rem, rerum neque aspernatur pariatur earum illum praesentium
        eveniet?
      </article>
      <a href="#">Learn more</a>
    </section>
  </body>
</html>
