
    <div>
    <h1>About me!</h1>
    <div id="about">
    <img id="photoMoi" src="images/moi2.png">
    <p id="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis consectetur ligula, vel faucibus nibh bibendum eget. Donec elementum blandit nunc at accumsan. Cras imperdiet dui nec nisi cursus tristique. Etiam molestie nisi id venenatis auctor. Fusce ut mollis quam. Aliquam erat volutpat. Sed in augue luctus erat auctor mollis. Etiam ornare risus felis, ac ullamcorper enim commodo ut. Pellentesque condimentum consectetur velit ac finibus. Aenean efficitur felis a augue vestibulum, sed maximus sapien feugiat. Aenean ex metus, pretium non ligula ut, semper ultrices arcu.

Cras vel lorem ac odio finibus auctor. Nunc ut eros eget nunc placerat consectetur et at massa. Donec dui leo, bibendum sed turpis vitae, luctus hendrerit ipsum. Proin venenatis, erat non dapibus pretium, leo sapien dignissim lorem, vel posuere arcu justo a magna. Donec a egestas ex, nec congue est. Cras consequat nisl in aliquet interdum. Nullam volutpat sapien dolor. Praesent ut justo ut dui accumsan vulputate. Mauris ut consectetur lorem. In vitae magna vel nisl sodales hendrerit. Integer luctus risus sit amet libero tempor maximus. Curabitur nulla risus, feugiat at maximus ut, porttitor id ipsum. Curabitur pulvinar eros sit amet augue lacinia vehicula. Pellentesque euismod porttitor fringilla. Praesent a tellus mattis, porttitor nulla nec, blandit dui.

Suspendisse vel diam id ligula laoreet mattis nec blandit ligula. Nunc euismod tincidunt tortor ac consectetur. Donec aliquam volutpat porttitor. Aliquam ullamcorper volutpat ante vitae vestibulum. Donec rhoncus mollis risus. Quisque venenatis ut nunc ut aliquet. Ut eget neque a enim aliquam aliquam vestibulum vitae orci.</p></div>
    </div>
    <section id="section2">
     <h4> Why i love this camera ?</h4>
     <img id="olympus" src="images/olympuspic.jpg">
    </section>
    
    <section id="section3">
     <div class="greySquare">
         <h4>Design and ergonomics</h4>
    </div>

     <div class="greySquare">
         <h4>The selenium cell, the centerpiece</h4>
    </div>
     <div class="greySquare">
         <h4>The focusing system</h4>
    </div>

 </section>
