<h2 class="about-bananas">All About Bananas</h2>
<div class="banana-container">
    <ol class="banana-facts">
        <li>Bananas grow on trees</li>
        <br>
        <li>Bananas contain potassium</li>
        <br>
        <li>Bananas are not very good</li>
    </ol>
    <img src="/assets/allTheBananas.jpg" alt="so many bananas">
</div>