<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <title>About</title>
    <head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="style.css">
  <div class="nav-bar">
  <span><h1></h1></span>
    <ul>
      <li><a href="index.hbs">Home</a></li>
      <li><a href="about.hbs">About</a></li>
      <li><a href="gallery.hbs">Gallery</a></li>
    </ul>
</div>

</head>
<body>
 
 <header class="masthead">
  <h1 class="masthead-heading">About</h1>
  <p class="masthead-intro"></p>
</header>
  </head>
  <body>

    <main class="w-100 cf helvetica dark-gray bg-white pa3 pa4-m pa5-l mw9 center">
        <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/954289/pexels-photo-954289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></div>
        </div>
        <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/62600/pexels-photo-62600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
        </div>
        <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
            <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/69452/glen-canyon-utah-landscape-scenic-69452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
          </div>
        <div class="fl w-50 w-50 w-25-l pl2 pl0-l pr2-m pr4-l mb3 mb4-l">
          <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/1325862/pexels-photo-1325862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
        </div>
        <div class="fl w-100 w-50-l pr2-l pl2-ns mb4 mb0-l mb4 outline">
          <div class="pa4">
            <h1 class="f4 f2-l fw7 mt0 pv3-l bb-l bb--black">About</h1>
            <p class="lh-copy mt2 mt3-m mt5-l f6">
              <span class="fw9 f6 f1-l db lh-title mb3 mb4-l">“Let's Start”</span>
              <span class="db-l measure-wide">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, dignissimos eius? Facilis nobis debitis sapiente ipsam accusantium cumque, dolorem molestias, blanditiis architecto quasi aperiam corporis, at labore voluptatibus placeat? Placeat.
            </span>
            </p>
          </div>
        </div>
        <div class="cf">
          <div class="fl w-100 w-25-l pl3-l mb3 mb4-l">
              <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/45839/antelope-canyon-arizona-sandstone-rock-45839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
          </div>
          <div class="fl w-100 w-25-l pr3-l">
            <p class="lh-copy measure f6 pt3 pt0-l mt0 mb3 mb4-l center">
              <span class="fw6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam vitae sapiente tempore nulla. Iusto quae, consequatur quis nam quia nobis necessitatibus hic quo ex recusandae facilis, sapiente ullam excepturi earum.
 
            </p>
          </div>

          <div class="fl w-100 w-75-l pv0 mv0">
            <div class="fl w-100 mb2 mb4-l">
              <div class="cover pv5 pv6-l" style="background:black url(https://images.pexels.com/photos/954287/pexels-photo-954287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
            </div>
            <div class="fl w-25 mb2 mb4-l">
              <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/906094/pexels-photo-906094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
            </div>
            <div class="fl w-75 pl2 pl4-l mb2 mb4-l">
              <div class="cover pv5 pv6-m pv7-l" style="background:black url(https://images.pexels.com/photos/531525/pexels-photo-531525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
            </div>
            <div class="fl w-100 mb2 mb4-l">
                <div class="cover pv5 pv6-ns" style="background:black url(https://images.pexels.com/photos/164226/pexels-photo-164226.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> </div>
            </div>
          </div>
        </div>
    </main>
    
  <footer class="bg-near-black white-80 pv5 pv6-l ph4">

</footer>

  </body>
</html>