<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <h2>About this page</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor facilis ut esse quaerat consectetur vitae quam illum temporibus voluptas quod maxime rem assumenda eum, labore quas hic doloremque, quo aperiam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe corrupti vero quis non fugit temporibus ab repellat, dolore sequi illum, iste iusto? Qui minus corporis harum quasi ullam ipsam suscipit.</p>
    <a href="/photogallery">Go to our top ten meme list</a>
  </body>
</html>