<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>Peonías</h1>
    <h3>Las Peonías, flores asiáticas</h3>
    <p>El género de las Paeonia comprende 40 especies de las 170 descritas. 
        Son una flor de origen asiático, aunque actualmente podemos encontrarla en todo el mundo, 
        con más abundancia en las regiones templadas, ni muy cálidas, ni extremadamente frías.
    </p>
    
    <h3>La leyenda de las Peonias</h3>
    <p>La historia de las Peonias se remonta a miles de años y la realidad es 
        que existen muchas leyendas e historias que explican su origen. 
        Investigando hemos podido afirmar que la leyenda más extendida 
        es la que dice que el nombre proviene y es en honor del nombre de Paeon, 
        médico de los Dioses, que recibió la flor en el Monte Olimpo por parte de 
        la madre de Apolo, tras curarle una herida provocada en la guerra.
    </p>


</body>

</html>