<divc class="info">
    <p><span class="font-weight-bold">Name:</span> Kareena Kapoor</p>
    <p><span class="font-weight-bold">Date of Birth:</span> October 04, 1989</p>
    <p><span class="font-weight-bold">Weight:</span> 55kgs</p>
    <p><span class="font-weight-bold">Height:</span> 5'4</p>
    <p><span class="font-weight-bold">Eye Color:</span> Blue</p>
    <p><span class="font-weight-bold">Favorite Color:</span> Red</p>
    <p><span class="font-weight-bold">Spouse:</span> Saif Ali Khan</p>
    <p><span class="font-weight-bold">Number of Films:</span> 25</p>
    <p><span class="font-weight-bold">Hair Color:</span> Brown</p>
    <p><span class="font-weight-bold">Complexion:</span> Fair</p>
    <p><span class="font-weight-bold">Hobbies:</span> Acting, Dancing</p>
</divc>
