<div id="pics">
    <img class="roll-in-left" src="./img/photo-cv-round.png" alt="photo-cv">
</div>
<h1 id="name">Coline Velard</h1>
<div id="text-container">
    <div class="text" id="background">
        <h2>Background</h2>
        <p>Former business analyst and consultant for software companies. Fluent in French, English and German.</p>
    </div>
    <div class="text" id="training">
        <h2>Training</h2>
        <p>Full-time Web Development training of 2,5 months to learn HTML, CSS and JavaScript.
    Involves the building of full stack applications thanks to the MERN Stack (Mongo Database, Express, React, NodeJS).</p>
    </div>
<div class="text" id="contact_info">
    <h2>Contact Information</h2>
    <a href="mailto:coline.velard@gmail.com">coline.velard@gmail.com</a>
    <ul>
        <li><a href="https://www.linkedin.com/in/coline-velard-2b537058/?locale=fr_FR" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://github.com/colinevel" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
</div>
</div>