<!DOCTYPE html>
<html class="aboutme" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/style.css" />
    <script type="module" src="./js/client-scripts.js"></script>
</head>
<title>Foody ♥</title>

<body>
    {{>nav}}

    <h2>About</h2>
    <div class="about">
        <img class="girl" src="/images/about.jpg" alt="aphoto" style="width:20%;height:20%;">
        <p=" abouttext">
            Hello there! Welcome to Foody! <br />
            This website is all about creatively simple recipes with a healthy
            twist, all easy to make, healthy and delicious, perfect for everyday
            cooking.
            <br />
            Making big adjustments to your diet can seem overwhelming and
            unrealistic, particularly if you try to tackle everything at once.
            Making one simple change can feel more manageable, and can be a first
            step on the road to a healthier you.And on my page I will help you to give ideas about this. <br>

            Of course learning to cook is crucial to help you achieve a heart-healthy diet,
            by expanding your intake of nutritious foods. Focus on finding tasty
            ways to add variety to your diet and to boost your intake of
            vegetables, fruits, whole grains, pulses, nuts and seeds. Experiment
            with herbs, spices and new cooking techniques to cut down on unhealthy
            fats, sugar and salt, as well as excess calories, often found in many
            ready-prepared convenience and ‘fast’ foods. You’re never too young –
            or to old – to look after your heart. While heart disease is often
            considered a problem for older adults, some of the causes can start
            much earlier in life. <br>
            Enjoy!
            </p>
    </div>

</body>

</html>