<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h2>Some important things about us</h2>

    <div clas="text">
      <p>
        "Cuando tengas las manos llenas de grasa te comenzará a picar la nariz"
        Ley de vayusté pordios
      </p>
    </div>
    <div clas="text">
      <p>
        "La única vez que la puerta se cierra sola es cuando has dejado las
        llaves dentro" Ley de angustias negro destino
      </p>
    </div>
    <div clas="text">
      <p>
        "Los problemas ni se crean, ni se resuelven, solo se transforman" Ley de
        estonoesvida
      </p>
    </div>
    <div clas="text">
      <p>
        "Si solo hay dos programas en la tele que merezcan la pena, serán a la
        misma hora" Ley de queco jones tienen
      </p>
    </div>
    <div clas="text">
      <p>
        "La probabilidad de que te manches comiendo, es directamente
        proporcional a la necesidad que tengas de estar limpio" Ley de menudo
        lamparón
      </p>
    </div>
    <div clas="text">
      <p>
        "No te tomes tan en serio la vida, al fin y al cabo no saldras vivo de
        ella" Teorema de muertoalhoyo y vivoalbollo
      </p>
    </div>
  </body>
</html>
