
<div class="">
    <h1>LA CASA DE PAPEL</h1>
    <section class="intro">
        <article>
        <h1 class="title-white">INTRO</h1>
        <p>La Casa De Papel is a Spanish tv show created by Alex Pina <br> which first aired on the Spanish canal Antena3 on May 2nd 2017 <br>  and  then on Netflix on December 20th 2017.</p>
    </article>
    </section>
    <br>
    <hr>
    <section class="synopsis">
        <article>
            <h1 class="title-white">SYNOPSIS</h1>
            <p>A mysterious man called “El Profesor”plans the best hold up ever and <br> recruits height of the best criminals with one goal in mind: <br> enter inside the Royal Mint of spain in order to print 2.4 billion euros, <br> in small denominations of 50 euros, <br> in less of eleven days and without making any victims</p>
        </article>
    </section>
    <br>
    <hr>
    <section>
        <article>
            <h1 class="title-white">MAIN CHARACTERS</h1>
            <h2>Tokyo</h2>
            <p>Wanted for various assaults and robberies, <br> she is an impulsive young woman, <br> with an apparent lack of empathy.</p>
            <br>
            <h2>Profesor</h2>
            <p>Mastermind of the operation, <br> he’s introverted and very intelligent. </p>
            <br>
            <h2>Berlin</h2>
            <p>Best known for his robbery of 434 diamonds in Paris, <br> he shows a total absence of empathy.</p>
            <br>
            <h2>Nairobi</h2>
            <p>Very charismatic, she gets along with everyone except Berlin. <br> She is specialized  in the manufacture of counterfeit notes.</p>
            <br>
            <h2>Denver</h2>
            <p>He was raised by his father. <br> He has an explosive character but despite that, <br> he has a big heart and would do everything for those he loves.</p>
            <br>
            <h2>Rio</h2>
            <p>He is the hacker of the group, he programs the computers <br> and manages the explosives as well as their strategic placement. <br> He is the weakest and dreamer of the group.</p>
            <br>
            <h2>Helsinki</h2>
            <p>He doesn’t talk that much  <br> he is one of the most mysterious character.</p>
            <br>
            <hr>
        </article>
    </section>
</div>
{{> footer }} 