<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About Seba</h1>
    <h2>Seba likes ping pong</h2>
    <header><img src="/images/pikachu looks like seba.png" alt ="Seba!" class="photo"></header>
  </body>
</html>
