<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <h2>
        Vaporwave
      </h2>
      <p>
        Vaporwave is a mellow, mesmerizing, and somewhat haunting aesthetic. The idea of vaporwave is being hard to
        understand, is taking what is familiar and make something new, something unique and different, but at the same
        time reminiscent of what it was. It's contradictory in nature, but still has a unified theme. For most people,
        it's something that you need to see in order to fully understand.
      </p>
      <section>
        <a href="/">Back</a>
      </section>
    </div>
  </body>
</html>
