<div id="background-buzz">
    <section class="container">
        <h1>To Infinity and Beyond!</h1>
        <div class="section">
            <h2> Concept and creation</h2>
            <div class="post">Buzz Lightyear's name was in honor of Apollo 11 astronaut Edwin "Buzz" Aldrin, the second
                person to walk on
                the
                Moon.
                According to Pixar producers, the character was provisionally named Lunar Larry, but it sounded "too
                wacky",
                so
                while
                trying to rechristen him "we went through some space terms and the word light-year came up, and the
                coolest
                astronaut
                name was Buzz Aldrin."[3] Aldrin acknowledged the tribute when he pulled a Buzz Lightyear doll out
                during a
                speech
                at
                NASA, to rapturous cheers. A clip of this can be found on the Toy Story 10th Anniversary DVD. Aldrin did
                not,
                however,
                receive any endorsement fees for the use of his first name.[4]</div>
            <div class="post">Regarding the design of Lightyear, Toy Story director John Lasseter said he wanted to
                create
                an action
                figure in
                the
                line of G.I. Joe for the film and decided upon a spaceman figure.[5] Lasseter attributes his design to
                the
                influence
                of
                Apollo astronauts, in particular, their clear helmets, skullcaps, communication devices, and white
                suits.[6]
            </div>
            <div class="post">The purple and fluorescent green color scheme were the favorite colors of Lasseter and his
                wife's
                respectively.
                The
                looks of television actor Ed Kemmer are also believed to be a prototype for Lightyear. Kemmer played
                Commander
                Buzz
                Corry in Space Patrol, one of the first science-fiction series on American television.[7]</div>




        </div>
        <div class="divider"></div>
        <div class="section">
            <h2> Appearances</h2>

            <div class="post">Buzz Lightyear sculpture in Toy Story Hotel, Shanghai Disney Resort
                Films
                Toy Story
                In Toy Story, Buzz Lightyear is given to a boy named Andy Davis from his mother as a birthday present.
                Buzz
                is
                unaware
                that he is just a toy modeled after the character, believing that he is a real Space Ranger, and that it
                is
                his
                mission
                to protect the galaxy from the Evil Emperor Zurg, as well as that his laser is a fatal weapon and his
                wings
                enable
                him
                to fly. He quickly becomes Andy's favorite toy, making Andy's original favorite toy, a cowboy doll named
                Sheriff
                Woody,
                feel jealous. The effects of Woody's jealousy eventually leads both him and Buzz to be captured by Sid
                Phillips,
                the
                toy-torturing boy who lives next door to Andy's house. While imprisoned in Sid's house, Buzz Lightyear
                sees
                a
                television
                ad featuring himself and realizes that he is a toy and not a Space Ranger. But when he tries to fly out
                of
                the
                window,
                he falls, causing him to break his arm. Upon understanding this, Buzz Lightyear becomes depressed, but
                Woody
                eventually
                convinces him that it is a good thing. Buzz regains hope and working together, the two escape Sid,
                return to
                Andy
                (who
                decides that Woody and Buzz are his joint favorite toys) and become best friends.</div>

        </div>
        <div class="divider"></div>

        <div class="section">
            <h2>Toy Story 2</h2>

            <div class="post"> In Toy Story 2, Woody is kidnapped by a greedy toy collector named Al McWhiggin, who is
                intent on selling
                him
                and
                other
                western toys to a toy museum in Japan. Buzz Lightyear leads Andy's toys – Mr. Potato Head, Slinky Dog,
                Rex,
                Hamm
                –
                on a
                daring mission to rescue him. They travel to Al's Toy Barn, where they believe Woody was taken to. While
                inside
                the
                store, Buzz comes across a newer Buzz Lightyear toy with a Utility Belt. When he tries to take the
                Utility
                Belt,
                the
                newer Buzz Lightyear (who, like Andy's Buzz Lightyear in the first film, believes he is a real Space
                Ranger)
                attacks
                him, believing that he is a disobedient Space Ranger.</div>
            <div class="post">Buzz finds himself wondering out loud if he was this
                deluded
                to
                which the Utility Belt Buzz mistakes for backtalk. Buzz tries to convince him that he is a toy but gives
                up
                and
                leaves.
                The two Buzz Lightyears fight and Utility Belt Buzz Lightyear traps Andy's Buzz in a cardboard rocket
                ship
                similar
                to
                the one he originally came in. Soon the other toys find Utility Belt Buzz Lightyear and mistake him for
                Andy's
                Buzz
                Lightyear, despite the real Buzz's cries of "You've got the wrong Buzz!" Utility Belt Buzz Lightyear
                joins
                the
                gang
                after Rex tells him that he knows how to defeat Evil Emperor Zurg (in a video game). Andy's Buzz
                Lightyear
                eventually
                breaks free from his cardboard prison and tracks down Utility Belt Buzz Lightyear and the rest of the
                toys
                to
                Al's
                apartment.</div>
            <div class="post">After arguing with Utility Belt Buzz Lightyear over who the real Buzz Lightyear is, he
                eventually
                convinces
                them that he is the real Buzz by showing them the bottom of his boot, which has Andy's name written on
                it.
                Although
                he
                manages to convince Woody to return home, Prospector stops him, as he wants to go to Japan. After Buzz
                Lightyear
                and
                the
                gang fight Evil Emperor Zurg in the elevator shaft, they use a Pizza Planet truck to chase after Al to
                the
                airport
                (while Utility Belt Buzz Lightyear stays behind to play with an amnesiac Evil Emperor Zurg), with Buzz
                Lightyear
                controlling the steering wheel as well as moving a pizza box on the driver's seat to help him reach it.
                Eventually,
                they
                manage to rescue Woody and his new friends Jessie the cowgirl and Bullseye. At the end of the film, Buzz
                has
                developed a
                crush on Jessie.</div>


        </div>
        <div class="divider"></div>

        <div class="section">
            <h2>Toy Story 3</h2>

            In Toy Story 3, Woody, Buzz Lightyear, and the other toys accidentally end up in a daycare center after a
            mistake
            when
            Andy is packing for college. The daycare center toys are led by the teddy bear Lotso, who is later revealed
            to
            be a
            ruthless leader, after Buzz confronts him over a very rough playtime in the Caterpillar Room, where the
            toddlers
            are
            too
            young to know how to play with the toys, only to discover that they were deliberately assigned to that room
            and
            that
            moving to the Butterfly Room (where the preschoolers are older and more civilised) is a privilege that has
            to be
            earned.
            Buzz had earlier suspected that something was not right when he noticed the other Caterpillar Room toys
            going
            into
            hiding just before the toddlers came in. After Buzz turns down Lotso's offer to transfer him but not his
            friends,
            Lotso
            makes Buzz one of his henchmen, by switching him back to "demo mode", erasing his memory and causing him to
            again
            believe that he is a real Space Ranger, and convincing him that his friends are "minions of Zurg". When
            escaping,
            Woody
            and the other toys accidentally switch Buzz to his "Spanish mode", confusing many characters and comedic
            character
            changes for the audience. While in his Spanish mode, Buzz still believes that he is a real Space Ranger, but
            Woody
            convinces him that he and the other toys are his "amigos". The Spanish Buzz makes no secret of his love for
            Jessie,
            and
            helps the other toys escape Sunnyside. They are picked up by a garbage truck after failing to escape in
            time,
            and
            Buzz
            returns to normal after a television falls onto him in the truck while rescuing Jessie. At the landfill, the
            toys
            (except the aliens) are pushed onto a conveyor belt, where Buzz helps Woody rescue Lotso from a shredder.
            However,
            Lotso
            abandons them and they fall into an incinerator, although the aliens later rescue them using a claw crane.

            After making their way back to Andy's house, Buzz and the other toys are given by Andy to a little girl
            named
            Bonnie.
            When introducing Buzz, Andy describes him as "the coolest toy ever". The end shows the toys embracing their
            new
            life
            with Bonnie.
        </div>
        <div class="divider"></div>

        <div class="section">
            <h2>Toy Story 4</h2>

            In Toy Story 4, Buzz notably plays a smaller role, since the film is centered on Woody, Bo, and a host of
            new
            characters. He still acts as Woody's moral support and eventually joins him on his mission to rescue Forky.
            Buzz
            also
            learns about the "inner voice", but misinterprets it as his physical voice box, using said voice box to
            guide
            him to
            what he must do next. In the end, Buzz suggests that Woody stay behind to be with Bo. Knowing that this is
            the
            last
            time
            they’ll see each other, they share a final goodbye hug and exchange the last words of dialogue from afar.
            Buzz
            says
            “to
            infinity...”, and unbeknownst to him, Woody completes the sentence with “...and beyond.” implying that no
            matter
            how
            far
            apart they are - they will always be friends forever.
        </div>
        <div class="divider"></div>

        <div class="section">

            <h2>Buzz Lightyear of Star Command</h2>

            In the television series Buzz Lightyear of Star Command, Buzz Lightyear is a Space Ranger working for Star
            Command,
            protecting the universe from Evil Emperor Zurg. He works in a team alongside Mira Nova, a princess; Booster,
            a
            janitor;
            and XR, a robot. This version of Buzz Lightyear has a different personality from the one in Toy Story. Buzz
            Lightyear
            also has had many love interests on the show. He once had a friend and partner named Warp Darkmatter,
            however,
            he
            later
            joined Evil Emperor Zurg and became his primary agent. Buzz Lightyear also seems to never take off the
            purple
            headwear
            that he has with his Space Ranger uniform. Aside from his regular catchphrase, he has a habit of telling
            villains
            that
            "Evil never wins!"
        </div>
        <div class="divider"></div>

        <div class="section">
            <h2>Other appearances</h2>

            Buzz Lightyear, voiced by Pat Fraley, appears in the computer games Disney's Animated Storybook: Toy Story
            and
            Disney's
            Activity Center: Toy Story, both released in 1996.[1] Buzz Lightyear also appears in Pixar's 2003 film
            Finding
            Nemo.[8]
            He also appeared as a car in Pixar's 2006 movie, Cars, along with Woody and Hamm. He is also seen in the Toy
            Story
            Toons
            episodes Hawaiian Vacation, Small Fry, and Partysaurus Rex, and the two specials: Toy Story of Terror! and
            Toy
            Story
            That Time Forgot. Buzz Lightyear also appeared in two episodes of Family Guy both times in cutaway gags set
            up
            by
            Stewie
            Griffin. In the 2013 episode "Chris Cross", after Stewie has seriated Brian Griffin with "You Needed Me", he
            complains
            that he invited Buzz Lightyear to watch and he did not show up. This cuts to Buzz Lightyear talking with a
            woman
            at
            a
            bar. In the 2017 episode "The Finer Strings", when Brian insists that Carter is his friend, Stewie says
            "That's
            what
            Woody thought about Buzz Lightyear." This leads to a cutaway gag where Woody catches Buzz Lightyear making
            out
            with
            Bo
            Peep. Buzz has also been referenced on The Simpsons. In the 2005 episode "The Italian Bob", Lisa Simpson
            mentions
            both
            Buzz Lightyear and his voice actor Tim Allen. In the 2010 episode, "The Color Yellow", Ralph Wiggum holds on
            a
            picture
            where he is with Buzz Lightyear and Elmo from Sesame Street, saying "Martin Luther King had a dream. Dreams
            are
            where
            Elmo and Toy Story had a party, and I went there". In the 2011 episode "Flaming Moe", Bart Simpson is
            playing
            with a
            toy
            parodying Buzz Lightyear. Buzz was also in the 2008 Disney film Bedtime Stories and the 2010 Disney film The
            Sorcerer's
            Apprentice. Buzz Lightyear and Woody appear as piñatas in Pixar's 2017 film Coco. Woody and Buzz appeared in
            the
            2019
            video game Kingdom Hearts III, where the latter finally had wish of having a real laser attack and can fly
            as
            his
            fictional counterpart without knowing during a Keyblade war crisis across dimensions, with Woody recalls
            Buzz
            back
            in
            the first Toy Story film event in the day before Buzz realize he's a toy.
        </div>

        Tim Allen reprised his role in the 2018 Walt Disney Animation Studios film Ralph Breaks the Internet, where he
        repeated
        his famous catchphrase.
        <div class="section"></div>
    </section>
</div>