<div>
    <article>
        <img src="image/pro.jpg" >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error perspiciatis qui quidem non? At hic magni natus sunt alias, dolore voluptatibus! Similique autem corporis ipsa quibusdam repudiandae iure, voluptatem optio.
    </article>
</div>

<style>
    article {
        padding: 50px;
        color:white;
        display: flex;
        text-align: justify;
        align-items: center;
    }

    article img {
        padding: 20px;
        flex-flow: row wrap;
        justify-content: space-between;
    }
</style>