<body>
    <div id="background">
        <div id="container">
            <h1 id="about-title">{{title}}</h1>
            <p id="description">A multi-coloured invitation

                A jewel of the Indian Ocean, Reunion is an island of unequalled richness, a multi-facetted world which
                surprises, captivates, inspires admiration in and seduces all those who accept its invitation.
                Discovering and taming the island is endless, despite its small size, as Réunion is never the same. This
                little piece of France warms up under the southern hemisphere’s sun. In just a few hours, you can safely
                go from the volcanic desert with its extraordinary, lunar landscapes, to the deep blue of the
                exceptionally well-preserved lagoon with its white and black sandy beaches. Exuberantly arid, tropically
                alpine and harmoniously cultural, Réunion is enigmatic and multi-coloured. Enjoy its breath-taking
                natural spaces, its towns, its villages lost between the narrow valleys, its lunar landscapes, its
                veil-like waterfalls tumbling from the heights, and even its active volcano… Here you will find all the
                information you need to prepare for your holiday, including transport, lodging, places to visit, towns
                and villages, geography, history, fauna and flora and gastronomy. Welcome to Reunion Island.

            </p>
        </div>
    </div>
</body>