
<p class="aboutP">this is the <span class="wColor">about</span> page.
i'm <a href="http://www.anaestrada.es" target="_blank">anæstrada</a>,
graphic designer specialized in ux/ui and frontend developer ;)</p>
