<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <title>About Us</title>
</head>
<body>
  <div class="container">
    <div class="row nav-row">

    </div>
    <div class="row">
      <div class="col col-sm-3">
        <h3>Links</h3>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </div>
      <div class="col col-sm-9">
        <h1>Electric Cars</h1>
        <p>This is where you will find all the information about us.</p>
      </div>
    </div>
  </div>  
</body>
</html>