<div class="container about">
    <h2 class="text-center mt-5 mb-5">{{pageTitle}}</h2>
    <div class="row">
        <div class="col">
            <img class="rounded img-fluid img-shadow" src="/static/img/aboutImg.jpg" alt="game image">
        </div>
        <div class="col row ml-2">
            <p> 20 years after civilization has been decimated by a pandemic, infected humans run wild and survivors try to get by as best they can living in heavily protected quarantine zones. Joel is hired to smuggle Ellie, a 14 year-old girl who somehow seems to be immune to the infection, outside the quarantine zone and across a post-apocalyptic United States.
            </p>
        <div class="col text-right align-self-end">
            <a href="/" class="btn btn-dark">Home</a>
            <a href="/gallery" class="btn btn-dark">Photo Gallery</a>
        </div>  
        </div>
    </div>
</div>
   
    
