<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Zelda Ocarina of Time</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="backgroundMain">
      <img class="backgroundMainImage" src="/images/Triforce.jpg" alt="">
      <div class="container return">
        <a class="link" href="/">Back To Home</a>
      </div>
      <div class="textHistory">
        <span>
          La historia del juego se enfoca en el joven héroe Link, 
          quien emprende una aventura en el reino de Hyrule para detener 
          a Ganondorf, rey de la tribu Gerudo, antes de que encuentre 
          la Trifuerza, una reliquia sagrada capaz de concederle cualquier 
          deseo a su poseedor. Para ello, deberás viajar a través del 
          tiempo y explorar varios templos con el fin de despertar a 
          algunos sabios que tienen el poder para aprisionar de forma 
          definitiva a Ganondorf. ¿Conseguirás devolver de nuevo la paz 
          al reino de Hyrule?
        </span>
      </div>
    </div>
  </body>
</html>