<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Domestic Foxes Fan-Page About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>Doggo ipsum very good spot floofs. fat boi fluffer shibe. Much ruin diet wow very biscit borking doggo shoob, long woofer I am bekom fat. Heckin good boys and girls shoober shooberino, smol. Most angery pupper I have ever seen very good spot smol, sub woofer. Very good spot big ol doing me a frighten big ol pupper fluffer, he made many woofs very jealous pupper ur givin me a spook I am bekom fat smol, doggo heck smol borking doggo with a long snoot for pats. you are doin me a concern such treat borkdrive. Borkf much ruin diet waggy wags wrinkler, dat tungg tho. Doge pupper very jealous pupper extremely cuuuuuute doggorino, pats borkdrive blep. Ruff maximum borkdrive tungg heckin good boys and girls sub woofer, ruff stop it fren heck. Fat boi long water shoob smol, bork.</p>
    <div><img src="/images/images.jpeg"></div>
    <a href="/">home</a>
  </body>
</html>