


<body>
  <main class="container">
 
    <h1>ABOUT GRUMPY CAT</h1>
    <div class="about">
      <img src="https://www.grumpycats.com/images/about/tardar.jpg" alt="original grumpy cat photo">
      <p>Grumpy Cat became an internet sensation after her photo was posted on Reddit on September 22, 2012. It was suggested that the original photo was photoshopped, so we posted a few videos on YouTube. The videos went viral and her popularity has continued to increase!</p>
      
      <p>We aren't exactly sure about Grumpy Cats breed; but she looks nothing like her mother or father. She looks similar to a Ragdoll or Showshoe; but there have never been any of that breed around the house. Her mom is a calico domestic short hair cat and her father has grey and white stripes. (Though I suppose there could be a different father, promiscuous cats you know...)</p>
      <p>Tardar Sauce visites the vet regularly and she has a clean bill of health. Her petite size and famous face is likely due to feline dwarfism and her rear end wobbles a bit when she walks due to this; otherwise she is a perfect little kitty! She is not a munchkin cat and was not bred purposefully from other munchkin cats. (We don't breed kitty's and her parents are normal sized domestic short hair cats.)</p>
      <p>Also, a quick note on Grumpy Cat's wellbeing. We take great care of Tardar Sauce; 99% of the time she is a normal kitty. She plays, hides, and acts as cats act. (She LOVES to hide behind the curtains!) She isn't in front of a camera all of the time like many people perceive. We only take photos sets once every week or so and on the few occasions where we have met with the media or licensed partners we ensure the sessions are short and that she isn't handled by many people. Tardar Sauce is a member of the family before anything else!</p>
    </div>

  </main>
</body>

