<div class="about">
    <div class="about-container">
        <h1>//SOBRE
            {{>name}}
            ************</h1>

        <div class="text">
            <h2>Las 10 cosas que debes saber</h2>
            <h3>1 / DEL 'MARESME, LLIURE I TROPICAL'</h3>
            <p>
                Alba Farelo (22 años) es de Vilassar de Mar. O sea, del 'Maresme, lliure i tropical', como dice el lema
                popular
                de
                la comarca costera. Un eslogan que le viene al pelo ahora con su música hecha para el baile influenciada
                por
                sonidos
                que tienen su origen en diferentes latitudes del trópico y sus letras con dosis de empoderamiento
                femenino.

            </p>

            <h3>2 / NO LA LLAMES DANCEHALL 'QUEEN'</h3>
            <p>
                No hace música dancehall. No hace trap. No hace reguetón. No hace R&B. Pero lo hace un poco todo. A los
                10
                años, el
                anuncio en televisión de un disco del jamaicano Sean Paul la cautivó. Insistió a sus padres que se lo
                regalaran
                por
                su
                aniversario. Y así fue. Quedó atrapada por el dancehall y la cultura jamaicana.

            </p>

            <h3>3 / 'PUSSY K MANA'</h3>
            <p>
                En sus inicios creció pregonando su lema: 'Pussy k mana' (hablando en plata, 'el coño que manda'). Una
                idea
                que
                resume
                ese camino sin ataduras ni complejos que recorre. Una frase que apuntala esa imagen de mujer fuerte,
                independiente,
                empoderada y segura.

            </p>

            <h3>4 / CHISMORREOS SOBRE LA 'HIJA DE'</h3>
            <p>
                Al principio se chismorreó mucho sobre su relación con su padre y el apoyo familiar –son cinco
                hermanos– a
                su
                carrera.
                Eran los tiempos en los que dejó su trabajo en una panadería de su pueblo para centrarse en la música.
                Ella
                misma ha
                reconocido que al principio no la comprendieron, pero también que cuenta con un apoyo incondicional.
                Punto y
                final.

            </p>

            <h3>5 / SE LA SEÑALÓ DETENER POCA CALLE</h3>
            <p>
                Muchos le echaron en cara al principio su poca calle y origen familiar acomodado. Ha tenido tacto con
                eso.
                El
                año
                pasado aceptó bien una letra de una canción (salió en su videoclip) de Cecilio G que decía: "Yo soy de
                la
                calle;
                loco,
                yo no soy Bad Gyal".

            </p>

            <h3>6 / 'PAI': INICIO DE LA ONDA EXPANSIVA</h3>
            <p>
                El vértigo empezó en el 2016 con su primer tema, 'Pai', una versión del 'Work' de Rihanna. También en
                sus
                inicios
                fue
                importante la colaboración con PAWN GANG, 'Bandulés'. A partir de ahí: el primer bolo en su pueblo,
                debut en
                el
                Sónar el
                2017, festival al que volvió el 2019 como uno de los grandes reclamos. También derribó la puerta del
                Primavera
                Sound
                en
                el 2018 con artistas de su generación. Y los dos veloces 'sold outs' seguidos en Razzmattaz antes de
                acabar
                el
                año
                pasado que la obligan a buscar retos mayores en casa (¿Sant Jordi Club?).

            </p>

            <h3>7 / AHORA VIAJA A BORDO DE INTERSCOPE</h3>
            <p>

                Bad Gyal se mantuvo al margen de los grandes sellos hasta la primavera del año pasado. Tras tres años
                de
                independencia
                recorriendo el mundo y afianzando su figura por allí donde iba, fichó por la discográfica estadounidense
                Interscope
                (Lady Gaga, Kendrick Lamar, Billie Eilish…) y por Aftercluv para el mercado latino. Una decisión que le
                da
                el
                trampolín
                para asaltar el hiperespacio musical.

            </p>

            <h3>8 / EN JAMAICA GRABÓ UN DOCUMENTAL ENERGÉTICO</h3>
            <p>

                A principios del 2018 estuvo en Jamaica por primera vez, una tierra a la que se siente atada por su
                música.
                Allí
                grabó
                un documental ('Bad Gyal lo (a) prende') producido por una bebida energética. La catalana buscó
                comprender
                las
                vibraciones de las que se nutre el dancehall, su danza y filosofía de vida. Lo señala como un impulso en
                su
                figura
                como
                artista, sobre todo por lo aprendido que desarrolla ahora en el escenario.

            </p>

            <h3>9 / DOSIS DE COMPROMISO SOCIAL</h3>
            <p>
                Últimamente se la ha visto implicándose en causas sociales. Apoyó la lucha del Sindicat del Raval
                contra
                los
                desahucios
                del fondo buitre Blackstone. Y este pasado diciembre prestó su imagen para la campaña de la lotería
                mantera
                (el
                sorteo
                de unas chaquetas diseñadas por reconocidos ilustradores), cuyos fondos se han destinando a la
                asistencia a
                los
                manteros
                en distintas vertientes.

            </p>

            <h3>10 / LETRAS TRILINGÜES</h3>
            <p>

                Sus primeras canciones eran, principalmente, en catalán. Pero ha utilizado indistintamente este idioma,
                el
                castellano y
                el inglés. Incluso en una misma canción. Lo cierto es que ha ido perdiendo catalán en sus temas, pero
                ella
                siempre
                defiende que escribe como le sale en ese momento sin pensar en "el márketing".
            </p>

            <a
                href="https://www.elperiodico.com/es/mas-periodico/20200119/10-cosas-que-hay-que-saber-de-bad-gyal-7809287">Fuente</a>

        </div>


    </div>
</div>