<h1>Mais pourquoi ?</h1>
<img src="https://media.giphy.com/media/fjxMEdpMT9qDyBVLL4/giphy.gif" alt="a fat cat" class="fatcat">
<p>Parce que les chats c'est trop bien et qu'il faut bien s'entraîner à créer
  des sites trop moches avant qu'on me demande de faire des sites trop beaux.
</p>