<section class="page">
    <article class="about">
        <p class="name">My name is Nina</p>
        <p class="age">I'm 28 years old</p>
        <p class="ironhack">I'm studying at Ironhack</p>
        <p class="coriander">I hate <span>coriander</span></p>
        <p class="cinema">I love films</p>
        <p class="css">CSS is my friend</p>
    </article>
</section>