<div class="container-short">

  <h2>Lorem ipsum dolor sit amet.</h2>

  <p class="text-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni minus id quod. Voluptas veniam perspiciatis laborum eligendi, laboriosam, exercitationem iure recusandae aspernatur optio, reiciendis perferendis eveniet? Inventore, aspernatur ratione! Quia.Incidunt dolorem dolore adipisci non maxime veritatis, libero voluptates! Reiciendis accusamus commodi corporis sunt deleniti, aliquam saepe ullam corrupti adipisci itaque hic deserunt nam animi blanditiis id perspiciatis, aperiam labore.</p>

  <p class="text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque sapiente in iure quo! Voluptatem sed sapiente provident amet magnam laudantium at labore! Nesciunt eos a facere dignissimos, porro aperiam.
  At, magnam. Excepturi dolore inventore eum veniam commodi unde. Eius aliquid minus ad hic a iusto incidunt, placeat iste perspiciatis ex nulla corporis nemo eos eaque porro doloribus mollitia necessitatibus?
  Vel accusantium sunt aliquam quae tempora nesciunt voluptates corporis perspiciatis, nihil, cumque rem explicabo dicta! Incidunt, quas libero! Velit exercitationem accusantium atque quisquam, ducimus esse ipsum nulla ratione nobis itaque.</p>

  <div class="img-box">
    <img src="/static/img/img-about.jpg" alt="real valladolid" title="real valladolid">
  </div>

  <p class="text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque sapiente in iure quo! Voluptatem sed sapiente provident amet magnam laudantium at labore! Nesciunt eos a facere dignissimos, porro aperiam.
  At, magnam. Excepturi dolore inventore eum veniam commodi unde. Eius aliquid minus ad hic a iusto incidunt, placeat iste perspiciatis ex nulla corporis nemo eos eaque porro doloribus mollitia necessitatibus?
  Vel accusantium sunt aliquam quae tempora nesciunt voluptates corporis perspiciatis, nihil, cumque rem explicabo dicta! Incidunt, quas libero! Velit exercitationem accusantium atque quisquam, ducimus esse ipsum nulla ratione nobis itaque.</p>

</div>