

<div class="pageContentPresentation">
    <hr>
    <p>This website is my Porfolio, thank you for visiting it. Here are main informations about myself.</p>
    <hr>
</div>

<div id="informationsDiv">

    <ul> 
        {{#each informations}}
        <li class="informationsList">{{this}}</li>
        {{/each}}
    </ul> 
</div>

<div id="fullPresentation">
    
</div>