<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <a href="/">Back Home</a>
  <h1>Michaela</h1>
  <img src="https://media2.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif?cid=790b76110de74dad2b1d813d7dc4d24683d8abaa9c93d9bf&rid=giphy.gif">
</body>
</html>