<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <nav>
        <a href="/"><strong>Home</strong></a>
        <a href="/aboutpage"><strong>About</strong></a>
        <a href="/photogallery"><strong>Gallery</strong></a>

    </nav>

    <h1>CONOCENOS</h1>

    <h2>La web semántica (del inglés semantic web) es un conjunto de actividades desarrolladas
        en el seno de World Wide Web Consortium con tendencia a la creación de tecnologías para
        publicar datos legibles por aplicaciones informáticas (máquinas en la terminología de
        la Web semántica).1​ Se basa en la idea de añadir metadatos semánticos y ontológicos a
        la World Wide Web. Esas informaciones adicionales —que describen el contenido, el significado
        y la relación de los datos— se deben proporcionar de manera formal, para que así sea
        posible evaluarlas automáticamente por máquinas de procesamiento. El objetivo es mejorar
        Internet ampliando la interoperabilidad entre los sistemas informáticos usando "agentes
        inteligentes". Agentes inteligentes son programas en las computadoras que buscan información
        sin operadores humanos.

        El precursor de la idea, Tim Berners-Lee, intentó desde el principio incluir información
        semántica en su creación, la World Wide Web, pero por diferentes causas no fue posible.2
        ​ Por ese motivo introdujo el concepto de semántica con la intención de recuperar dicha omisión.</h2>
</body>

</html>