<div id="pics">
    <img src="./img/photo-cv-round.png" alt="photo-cv">
</div>
<h1 id="name">Coline Velard</h1>
<div id="text-container">
    <div class="text" id="background">
        <h2>Background</h2>
        <p>Former business analyst and consultant for software companies. Fluent in French, English and German.</p>
    </div>
    <div class="text" id="training">
        <h2>Training</h2>
        <p>Full-time Web Development training of 2,5 months to learn HTML, CSS and JavaScript.
    Involves the building of full stack applications thanks to the MERN Stack (Mongo Database, Express, React, NodeJS).</p>
    </div>
</div>