<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/photos">Photo Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About</h1>
      <p class="lead">Conoce un poco más sobre la historia y los personajes...</p>
    </div>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/images/mapa.jpg" alt="First slide">
        </div>
      </div>
    </div>

    <h2>Las Casas Principales...</h2>

    <div class="ancho">

    <div class="media">
        <img class="align-self-center mr-3" src="/images/icono3.png" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">Casa Lannister</h5>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>

      <div class="media">
          <img class="align-self-center mr-3" src="/images/barateon.png" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">Casa Lannister</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>

        <div class="media">
            <img class="align-self-center mr-3" src="/images/stark.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Casa Lannister</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
              <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>

          </div>

</body>

</html>

