<main>
  <div>
    <h1><a href="/">{{title}}</a></h1>
    <div class="nav-bar">
      <a href="/about"><button>About</button></a>
      <a href="/gallery"><button>Photo Gallery</button></a>
    </div>

  </div>

  <h2>Welcome to {{title}}</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis libero cursus diam viverra commodo. Cras cursus risus a neque iaculis viverra vitae et augue. Donec hendrerit enim a risus sagittis feugiat. In dapibus, felis id pretium finibus, urna lectus gravida libero, quis sagittis libero diam tempor justo. Morbi efficitur tortor in metus vestibulum commodo. Etiam auctor, mi in rutrum varius, est dui posuere diam, ac molestie justo sapien vel mi. Etiam ex metus, pharetra id faucibus quis, commodo sit amet eros. Vestibulum sit amet vestibulum lectus, et fermentum nisi. Sed ut eleifend mauris, a condimentum nisl. Nam suscipit tempor sodales. Etiam fringilla sit amet augue eget dictum. Sed tincidunt semper quam et volutpat. Nam sollicitudin tristique nulla sed cursus. Curabitur blandit nunc vitae turpis convallis aliquam. Sed ac condimentum mauris, sit amet gravida erat. Sed tristique venenatis mi a consectetur. Vestibulum at pellentesque nibh, egestas porttitor nisi. Pellentesque commodo nisl ut odio commodo, at condimentum ante interdum. Donec nec fermentum ex. Phasellus ac pretium nulla. Donec ornare congue ante eu fermentum. Nam molestie libero lorem, et commodo nisi elementum nec. Vestibulum porttitor pharetra feugiat. In a vehicula turpis, at rhoncus sapien. Quisque convallis leo quis dolor convallis, non malesuada turpis viverra. Integer sagittis, augue ut hendrerit consectetur, risus libero pellentesque augue, ut rhoncus lectus lorem ac elit. Vestibulum lorem dui, euismod eget aliquet nec, sodales vel nunc. Nam varius at diam eget dapibus. Duis euismod feugiat sapien vitae vestibulum. Integer vestibulum ex sed ligula suscipit, et sodales ante sodales. Quisque pulvinar viverra elit. Aenean sit amet mauris luctus, varius urna ornare, faucibus dui. Vivamus id pharetra enim, quis dictum augue. Maecenas ipsum lacus, commodo in viverra et, sollicitudin a augue. Sed elementum sed ante vel semper. Duis sit amet lobortis nibh. Duis eget ipsum ut purus interdum iaculis. Nunc quis erat ut urna consequat imperdiet congue ac est. Cras mattis, nisl eu pharetra feugiat, ipsum metus lacinia ligula, non efficitur nulla arcu a est. Pellentesque a lacus ligula. Curabitur felis eros, rutrum ac ultricies vitae, bibendum at ligula. Quisque eleifend facilisis nisi, id fermentum augue congue nec. Curabitur sit amet neque vel neque tincidunt consectetur vitae a turpis. Maecenas lobortis sem in quam mattis sollicitudin. Sed non enim elit.</p>

  

</main>
