<!doctype html>
<html>
  	<head>
    	<meta charset="utf-8">
    	<title>This is Jorch</title>
    	<link rel="stylesheet" href="/stylesheets/style.css" />
  	</head>
  	<body>
  	  	<nav id="main-about-me">
	    	<ul class="nav-bar">
          <li class="nav-button-home"><a href="/">HOME</a></li>
          <li class="nav-about-me"><a href="/about-me">ABOUT ME</a></li>
          <li class="nav-photo-gallery"><a href="/photo-gallery">PHOTO GALLERY</a></li>
	     	</ul>
		</nav>
    <h1>About Jorch</h1>


  </body>
</html>