<h1>Quien Fue Steve Jobs</h1>

<p id="yellow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus, mollitia inventore maxime doloremque dolores quam ipsam cumque quae, aperiam culpa est officia animi deserunt magni iure itaque voluptas. Ipsa, rem repellat at numquam praesentium magnam, veniam animi quas, corporis alias eligendi quod et. Ad itaque tempore est, suscipit alias similique quisquam culpa rerum assumenda odit impedit quia enim? Harum autem incidunt aperiam. Repellat deleniti saepe deserunt nihil inventore aspernatur beatae fugiat quae quisquam facere quam, consectetur aliquid iste, expedita accusantium dolore eaque obcaecati voluptates asperiores? Rerum cumque ipsam autem saepe commodi quos minus quisquam incidunt repellat, laudantium cum minima.</p>

<img src="../public/images/steve-jobs01.jpg" alt="">

<img src="../public/images/steve-jobs02.jpg" alt="">



