` <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Me</title>
</head>
<body>
<h1>Antoni Gaudí</h1>

<P>
Antoni Gaudí i Cornet was a Spanish architect known as the greatest exponent of Catalan Modernism. 
Gaudí's works have a highly individualized, one-of-a-kind style. Most are located in Barcelona, including his main work, the church of the Sagrada Família.
</P>


<img src="https://www.thevintagenews.com/wp-content/uploads/2018/01/bhlbnnbf-1.jpg">
</body>
</html>