<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
      </head>
      <body>
        <h1>About Page</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </body>
    </html>