<%- include ./partials/header %>
<main>
    <h1>We are gif lovers</h1>
    <video id="gif" class="_3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/3o6fJgEOrF1lky8WFa/giphy.mp4" autoplay="" loop="" muted="" playsinline="">
        <img class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/3o6fJgEOrF1lky8WFa/giphy.gif" alt="">
    </video>
</main>
<%- include ./partials/footer %>