<div class="page">
    <div class="container-bgimg">
        <img class="bg-img" src="/img/tokyo.jpg">
    </div>
    <div class="content-about">
        <div class="box-pp">
            <img src={{profilPic}} class="pp">
        </div>
        <aside class="box-text">
            <div id="icon">
                <a href="#"><i class="fab fa-instagram" style="font-size: 40px; color: #E1306C"></i></a>
                <a href="#"><i class="fab fa-twitter" style="font-size: 40px; color: #00acee"></i></a>
            </div> <br>
            <p style="text-align: justify;">{{bio}}</p>
        </aside>
    </div>
</div>