<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Me</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet" />
  </head>

  <body>
    <nav>
      <div class="icon">
        <image src="./images/frenchie-icon.png" height="100px"></image>
      </div>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about-me">About me</a></li>
          <li><a href="/photos">Photos</a></li>
        </ul>
      </div>
    </nav>
    <div class="main-content">
      <div>
        <h1>I'm a frenchie!</h1>
      </div>
      <div class="checklist-container">
        <div class="checklist">
          <div>
            <image src="./images/check-box.png" height="50px"><span>Fun</span></image>
          </div>
          <div>
            <image src="./images/check-box.png" height="50px"><span>Loveable</span></image>
          </div>
          <div>
            <image src="./images/check-box.png" height="50px"><span>Good boy</span></image>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
