<h2>About Us</h2>
<div class="about-us">
    <div>
        <img src="/Laura.png" alt="Creative-photographer">
        <p>Laura Corral</p>
        <p>Fotógrafa profesional desde 2010, vocacional</p>
    </div>

    <div>
        <img src="/Yamilet.jpg" alt="Creative-photographer">
        <p>Yamilet Oliva</p>
        <p>Fotógrafa profesional desde 2011, vocacional</p>
    </div>

</div>
