<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photo">Photo</a></li>
    </ul>
</nav>
<section class="main-content">
    <h2>{{route}}!</h2>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur deleniti distinctio enim error numquam omnis quibusdam tempora? Aliquam cum expedita facilis illo ipsum maiores non obcaecati, quae quos totam?</span>
</section>
</body>
</html>