<div class="about-page">
    <img src="public/images/about-img.jpg" alt="">
    <div class="container">
        <div class="row">
            <div class="col-6 about-intro">
                <h3 class="about-intro__title text-uppercase">We are Surfers co.</h3>
                <p>Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, aeneam consectetur adipiscing elit.
                    Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle sollicitudin ut. Nullam tincidun
                    finibustus scelerisque.</p>
            </div>
        </div>
    </div>

    <section class="about-bg-section bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-intro__title text-center text-uppercase">Suspendisse auctor labor nisi</h3>
                    <p class="text-center mb-0">Donec sed odio dui duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, aeneam consectetur adipiscing elit. Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle sollicitudin ut. Nullam tincidun finibustus scelerisque.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-text-section container py-5">
        <div class="row">
            <div class="col-6">
                <p>Donec sed odio dui duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, aeneam consectetur adipiscing elit. Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle sollicitudin ut. Nullam tincidun finibustus scelerisque.</p>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div>
            <div class="col-6">
                <p>Donec sed odio dui duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, aeneam
                    consectetur adipiscing elit. Fusce iaculis feugiat arcunum fermentum hendrerit. Suspendisse auctor labor nisi, et interdum diam facilisis, aliquam pulvinar semi egetis belle
                    sollicitudin ut. Nullam tincidun finibustus scelerisque.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            </div>
        </div>
    </section>
</div>