<div class="card">
    <div class="card__body">
        <div class="empty-state">
            <div class="empty-state__content">
                <div class="empty-state__title">
                    <h2>It's your first time here</h2>
                </div>

                <div class="empty-state__description">
                    <p>A short explanation of this view or why it is empty. Longer texts span into multiple lines.</p>
                </div>

                <div class="empty-state__buttons">
                    <button type="button" class="button">Continue</button>
                </div>
            </div>

            <div class="empty-state__image"><img src="/images/empty-state.svg"></div>
        </div>
    </div>
</div>