<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MY FIRST Express APP</title>
    <link rel="stylesheet" href="styles/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
    </header>

    <h1>About</h1>
    <p>This website was built by SOFIAAAAA</p>
</body>
</html>