<div class="about-page-container">
  <h1 class="about-page-title">About me</h1>

  <div class="about-page-content">
    <div class="about-text-content">
      <p>Hello dear reader, <br>
        I am a former 3D animator retrained in web development, living in Aix en Provence.</p>
      <p>This is my old, very old demoreel. Soon to be replaced by my programming skills, I hope!</p>
      <p>If you have any question please do not hesitate to <a class="contact-link" href="/contact">contact me</a>.</p>
    </div>
    {{!-- <hr class="vertical-hr"> --}}
    <div class="about-video-content">
      <iframe src="https://player.vimeo.com/video/285639919" width="640" height="360" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>

</div>