
<h1 class="about">{{title}}</h1>

<section class="section1">
<h2 class="title2">History of Koalas</h2>
<p class="text">
    Koalas or Koala-like animals probably first evolved on the Australian continent during the period when Australia began to drift slowly northward, gradually separating from the Antarctic land mass some 45 million years ago. Fossil remains of Koala-like animals have been found dating back to 25 million years ago.
</p>
<p class="text">
   As the climate changed and Australia became drier, vegetation evolved to what we know as eucalyptus, becoming the Koalas food source.
</p>
<p class="text">
   Australia's Indigenous people are thought to have arrived in Australia 60,000 years ago or more. Koalas, like all Australian animals, were an important part of Aboriginal culture and feature in many of their myths and legends.
</p>
<p class="text">
   Koalas were a readily available source of food, but they remained abundant over their range before the arrival of Europeans with the First Fleet in 1788.
</p>
</section>

<section class="section 2">
<h2 class="title2">Physical Characteristics of the Koala</h2>
<p class="text">
   The Koala (phascolarctos cinereus) is an arboreal (tree dwelling), herbivorous (plant eating) marsupial. The word 'marsupial' comes from the Latin word marsupium, meaning 'pouch’. Most, but not all, female marsupials have a permanent pouch in which to raise their young.
</p>
<p class="text">
   When Europeans first came to Australia they thought that Koalas were bears, so they were often called ‘Koala bears’. Not much was known about marsupials at the time of settlement and it's possible that no European had seen a marsupial prior to that.
</p>
<p class="text">
   Some early settlers also referred to Koalas as ‘monkeys’ and some people still call one of the favoured Koala food trees in the south of Australia ‘Monkey Gums’. However, in an effort to educate people that Koalas are marsupials, we discourage people from using these incorrect names, especially ‘Koala bear’, which is in fairly common usage. The correct term is simply 'Koala'.
</p>
</section>

<section class="section 3">
<h2 class="title2">Koala Habitat</h2>
<p class="text">
   'Habitat' refers to the types of bushland that Koalas like to live in. They are found in a range of habitats, from coastal islands and tall eucalypt forests to low inland woodlands. Today they do not live in rainforest, although it is thought that millions of years ago the ancestors from which today's Koalas evolved lived in the rainforests which covered much of Australia at that time.
</p>
<p class="text">
   Koala populations only occur if suitable habitat is available. The two most important factors which make habitats suitable are (1) the presence of tree species preferred by Koalas (usually eucalypts, but also some non-eucalypts) growing in particular associations on suitable soils with adequate rainfall and (2) the presence of other Koalas.
</p>
<p class="text">
   Research shows that socially stable Koala populations occur only when there are primary (or favourite) tree species present. Even if a selection of tree species known to be used by Koalas occurs within an area, it will not support a Koala population, or at least the Koala population will not use it, unless one or two favourite species are present.
</p>
</section>