<h2 class="carTitle">Todo lo que necesitas saber sobre la Agencia de Control de Velociraptores</h2>
<p>La Agencia de Control de Velociraptores (VCA por sus siglas en inglés) es la agencia que lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Sed commodo eleifend erat et tincidunt. Donec tristique tristique dignissim. Vivamus
  mollis magna nec euismod bibendum. Sed molestie lectus et ligula posuere sagittis. Nulla euismod ante a nisi
  malesuada, eu pulvinar dolor eleifend. Cras et condimentum mauris. Duis varius arcu eget nulla cursus semper.</p>
<p>Etiam nec hendrerit purus, quis finibus urna. Aliquam erat volutpat. Vivamus eget tortor ut arcu imperdiet
  ullamcorper ac quis est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  Integer a pharetra augue. Curabitur sed pretium justo. Nunc mollis placerat blandit. Aenean at nunc eu orci venenatis
  viverra eu ut orci. Quisque vulputate leo nulla, ut vehicula libero pulvinar a. Nam feugiat mi in eros lacinia
  ullamcorper. Fusce finibus augue non fermentum blandit. Quisque quis enim laoreet, pellentesque odio vitae, vehicula
  ipsum. Phasellus et molestie libero. Nam egestas magna elit, quis egestas mauris efficitur non. Praesent massa leo,
  laoreet sit amet magna eu, dapibus varius odio. Proin congue ligula et rhoncus blandit.</p>
<h3 class="carTitle">Joan Carballo, Director General de la Agencia de Control de Velociraptores</h3>
<img src="/public/images/carballo.jpg" class="img-fluid" alt="Steven Spielberg triceratops">
<figcaption class="figure-caption">Joan Carballo junto a un dinosaurio con el que luego acabó debatiendo tranquilamente
  sobre geopolítica</figcaption>
<a href="http://joancarballo.com" class="btn btn-success">Saber más sobre Joan Carballo</a>
<a href="https://twitter.com/carballo" class="btn btn-success">@carballo</a>
<h3 class="carTitle">Michael Crichton, Presidente Honorífico de la Agencia de Control de Velociraptores</h3>
<img src="/public/images/michael.jpg" class="img-fluid" alt="Steven Spielberg triceratops">
<figcaption class="figure-caption">Michael Crichton en el baño de su casa</figcaption>
<a href="https://es.wikipedia.org/wiki/Michael_Crichton" class="btn btn-success">Saber más sobre Michael Crichton</a>
<h3 class="carTitle">Steven Spielberg, fundador de la Velociraptor Control Agency</h3>
<img src="/public/images/spielberg.jpg" class="img-fluid" alt="Steven Spielberg triceratops">
<figcaption class="figure-caption">Steven Spielberg junto a un triceratops que mató con sus propias manos</figcaption>
<a href="https://es.wikipedia.org/wiki/Steven_Spielberg" class="btn btn-success">Saber más sobre Steven Spielberg</a>