<figure class="about-img">
  <img src="static/leo-about.jpeg" alt="leo about picture">
</figure>
<p>
  Me llamo Leo, pero mis amigos me llaman Leocadia.
</p>
<p>
  Tengo 3 años y soy de Madrid.
</p>
Me gusta comerme cualquier cosa que pille, aunque no soy de esas perros que se comen cualquier mierda, solo las de paloma, eso es el caviar de las mierdas.
Me gusta mucho salir a pasear por el campo y el olerle el culo a los perros que me cruzo en mi camino. No me gusta que me chuleen, para chula yo, soy pequeña pero tengo caracter.
