<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>About</title>
  </head>
  <body>
    <nav class="about">
      <h1>Acerca de la pagina</h1>
    </nav>
    <div class="box">
      <p class="about2">about</p>
      <div class="paragrafo">
        <p>
          este es un texto sobre la pagina es el about
        </p>
      </div>
    </div>
  </body>
</html>
