<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <ul class="nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/photo-gallery">Photo Gallery</a>
    </li>
  </ul>
  <h1>About</h1>
  <div class="content">
    <p>Los Roques es un archipiélago de Venezuela, situado en el Mar Caribe, a 168 Km al norte de La Guaira, el puerto de Caracas.
      Por su belleza e importancia ecológica, fue declarado parque nacional en 1972.</p>
    <p>Lo que hace de Los Roques un lugar extraordinario es la enorme extensión de mar tranquilo, la presencia de lagunas, cayos,
      y playas de blancas arenas (de origen coralino) y aguas cristalinas de colores increíbles.</p>
  </div>
</body>

</html>