<div class="container session-about">
    <div id="kobe"></div>
        <p>A legend never dies. What a terrible news! Kobe Bryant passed away at the age of 41.
                I grow up with him so it's a choc to learn this drama. Kobe was more than an athlete. 
                He reached out to athletes across all sports. He cold-called writers like J.K. Rowling, wanting to talk storytelling. Business leaders, actors, musicians, directors. And he didn't just call them. He called them every day, sometimes three times a day. Hounded them. Just trying to understand what made them great and absorb whatever knowledge or inspiration they would give to him.
                In a way, it was audacious of him to think he could glean enough in a few calls with these masters of the universe to master their crafts himself one day.
                There's that word again. Audacious.
                That was Kobe.
                He didn't just have an iron will or unyielding confidence in himself. He believed he could bend the universe to his will.
                And... he often did.
                That's what he meant when he would tell people to "live mythically" or write on someone's sneakers "Be Legendary."
                That's the core of what he called the Mamba Mentality. And it's what will survive him in death.</p>
        
    <img src="/assets/img/kobe.jpg">
    </div>
</div> 

