<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>This is the about page</h1>
    <h3>Text me if you wanna know something about me :D</h3>
    <h3>{{email}}</h3>
    <a href="/home">back</a>
  </body>
</html>