<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><img src="/images/pikachu looks like seba.png" alt ="Seba!"></header>
    <h1>About Seba</h1>
    <footer>Seba likes ping pong</footer>
  </body>
</html>
