<h3>Yoda</h3>
<p>
    Yoda is a small, green humanoid alien with tremendous power in the Force. In his first
    appearance in the original trilogy, the spirit of Jedi master Obi-Wan Kenobi describes Yoda as
    the Jedi master who trained him and asks Luke Skywalker to seek Jedi training from Yoda, which
    Luke does and later uses to fight against the Galactic Empire. The character reappears in Return
    of the Jedi where he reveals his age to be 900, making him the oldest living character in the
    Star Wars franchise.
</p>
<p>
    In the prequel trilogy, set a generation before the original trilogy, Yoda is among the most
    powerful members of the Jedi Order and a general of clone troopers during the Clone Wars. He
    also trains all Jedi children, before they are assigned a Jedi master. Yoda appears again in the
    sequel trilogy, advising Luke.
</p>