<h1 class="title neon">Bio</h1>
<div class="container container__bio">
    <div class="picture">
        <img src="/static/img/bio.png" alt="Bad Gyal">
    </div>
    <div class="text">
        <h2>AKA. Bad Gyal</h2>
        <p>Alba Farelo Morillo</p>
        <p>Vilassar de Mar, Barcelona, 7 de marzo de 1997</p>
        <p>Más conocida por su nombre artístico Bad Gyal, es una cantante, productora, DJ y compositora española.<br> Su
            música ha sido catalogada como una fusión de géneros, como el dancehall y el trap​</p>
    </div>
</div>