<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/custom.css">
    <script src="/jq.js"></script>
    <script src="/index.js"></script>
    <title>Document</title>
</head>

<body id="black">
    <div class="title">
        <h2>rgb(0,0,0)</h2>
        <h2>#000</h2>
    </div>
    <div class="item__container">
        <p class="text">Black is the darkest color, the result of the absence or complete absorption of visible light. It is an achromatic
            color, literally a color without hue, like white (its opposite) and gray.[1] It is often used symbolically or
            figuratively to represent darkness, while white represents light.[2] Black ink is the most common color used
            for printing books, newspapers and documents, because it has the highest contrast with white paper and is the
            easiest to read. For the same reason, black text on a white screen is the most common format used on computer
            screens.[3] In color printing it is used along with the subtractive primaries cyan, yellow, and magenta, in order
            to help produce the darkest shades.</p>
        <h3 class="back back__black ">Home</h3>
    </div>
</body>

</html>
