<h1>Campeones de España</h1>
{{#each dogs}}
{{#with this}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Edad:{{edad}} años</p>
  </div>
</div>
{{/with}}
{{/each}}