<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chiste malo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h3>—Doctor, tengo todo el cuerpo cubierto de pelo. ¿Qué padezco?
        <br>
        <br>
        —Padece uzté un ozito.</h3>

    <img class="chiste1-img" src="images/osito.jpg">
    <br>
    <br>
    <p>TE LO ADVERTI... <a href="/">Quieres volver?</a></p>
    <br>
    <p>Pincha Aqui! El segundo <a href="/chiste2">chiste malooooo</a></p>
    <p>Pincha Aqui! El ultimo y mas <a href="/chiste3">malisiiiiimo de todos</a></p>
</body>

</html>