<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chiste malisimo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h3>Buenas, ¿cuánto cuesta el bus?
        <br>
        <br>
        —Un euro.
        <br>
        <br>
        —¡Pues que se bajen todos, que me lo quedo!</h3>
        <img class="chiste3-img" src="images/bus.jpeg">
    <br>
    <p>TE LO ADVERTI... <a href="/">Quieres volver?</a></p>
</body>

</html>