<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Encuentra tu Polloyon</title>
</head>
<body>
  <nav>
    <a href="/"><img src="logo.png" alt="Polloyon logo" id="logo"></a>
    <div id="menu">
    <a href="/">Home</a>
    <a href="/promociones">Promociones</a>
    <a href="/encuentranos">Encuentranos</a>
  </div>
  </nav>
  <header>
  <h2>Visitanos en nuestros establecimientos de CDMX</h2>
  <h4>Mejor comemos pollo yon</h4>
</header>
  <section class="encuentranos">
      <div><h4>Santa Cruz</h4>
        Carretera a Reynosa #101 B Col 29 de Julio</div>
      <div><h4>La Puerta</h4>
        Avenida Manuel Ordonez #2401 Colonia Santa Catarina</div>
      <div><h4>San Nicolas</h4>
        Avenida Diego Diaz de Verlanga #800 Colonia Paseo de San Nicolas</div>
      <div><h4>Escobedo</h4>
        Avenida Las Torres #101 Colonia Riberas de los Girasoles</div>
      <div><h4>Solidaridad</h4>
        Avenida Luis Donaldo Colosio #1900 Colonia Barrio de San Luis</div>
      <div><h4>Eloy Cavazos</h4>
        Eloy Cavazos #5100 B Fraccionamiento San Eduardo</div>
      <div><h4>Sendero La Fe</h4>
        Miguel Aleman #789 Apodaca</div>
  </section>
</body>
</html>