<div class="page">
    <h1 class="page-title">CONTACT</h1>
    <hr class="element-title">
    <p id="contact-text">Feel free to contact me, and I'll get back to you as soon as possible.</p>
    <form id="contact-form" action="/contact">
        <input class="input" type="text" name="name" id="name" value="Name">
        <input class="input" type="text" name="email" id="email" value="Email">
        <input class="input" type="text" name="phone" id="phone" value="Phone">
        <textarea class="text-area" name="message" id="message" cols="60" rows="10">Your message</textarea>
        <button id="form-btn">Send</button>
    </form>
</div>