<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://use.fontawesome.com/1fb0eb3889.js"></script>
  <title>Where work happens | Slack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

  <nav class="nav">
    <img class="slack-logo" src="./images/slack-logo.png" alt="slack_logo">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <a href="#menu" class="box-shadow-menu">MENU</a>
  </nav>


  <main class="main">

    <h1>Contact page!</h1>

  </main>




  <footer>
      <div class="footer-contents">
        <div><img style="padding-right: 20px;" width="100" src="./images/iso-slack.png" alt=""></div>
        <div class="footer-elements">
          <ul>
            <li><p>COMPANY</p></li>
            <li><p>About Us</p></li>
            <li><p>Careers</p></li>
            <li><p>Blog</p></li>
            <li><p>Press</p></li>
            <li><p>Brand Guidelines</p></li>
          </ul>
          <ul>
            <li><p>PRODUCT</p></li>
            <li><p>Why Slack?</p></li>
            <li><p>Enterprise</p></li>
            <li><p>Customer Stories</p></li>
            <li><p>Pricing</p></li>
            <li><p>Security</p></li>
          </ul>
          <ul>
            <li><p>RESOURCES</p></li>
            <li><p>Download</p></li>
            <li><p>Help Center</p></li>
            <li><p>Guides</p></li>
            <li><p>Events</p></li>
            <li><p>App Directory</p></li>
            <li><p>API</p></li>
          </ul>
          <ul>
            <li><p>EXTRAS</p></li>
            <li><p>Podcast</p></li>
            <li><p>Slack Shop</p></li>
            <li><p>Slack at Work</p></li>
            <li><p>Slack Fund</p></li>
          </ul>
        </div>
      </div>
  
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <span><p>Status</p></span>
        <span><p>Privacy and Terms</p></span>
        <span><p>Contact Us</p></span>
      </div>
      <div class="footer-bottom-right">
        <img width="20px" src="./images/us-flag.png" alt="">
        <span>English (US)</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </div>
    </div>
    </footer>

</body>

</html>