<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COOL FACTS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  
</head>
<body>

    <h1>Did you know that sloths only poop once a week</h1>
    <h2> Yes! they only get down from their trees every 7 days because they are too lazy to do that every day</h2>

    <a href="/">BACK TO HOME</a>
    
</body>
</html>