
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Courses</title>
</head>

<body>
  {{> header}}

<div class="showcase">
	<div class="desc">
		<p>Próximas fechas</p>
		<h2>Restauración Ecológica de Zonas Mieneras</h2>
		<p>Este curso es el mejor
		</p>
	</div>
	<div class="thumbnail thumbnail--awesome">
		<div class="details">
			<a class="btn btn-course" href="#0">DETAILS</a>
		</div>
	</div>
</div>
<div class="showcase">
	<div class="desc">
		<p>Próximas fechas</p>
		<h2>Restauración Ecológiac de cursos fluviales</h2>
		<p>Este curso tampoco esta nada mal
		</p>
	<div class="thumbnail">
		<div class="details">
			<a class="btn btn-course" href="#0">DETAILS</a>
		</div>
	</div>
	</div>
</div>
<div class="showcase">
	<div class="desc">
		<p>Próximas fechas</p>
		<h2>Restauración Ecológica de sistemas forestales</h2>
		<p>Esto es un curso excepcional
		</p>
	</div>
	<div class="thumbnail">
		<div class="details">
			<a class="btn btn-course" href="#0">DETAILS</a>
		</div>
	</div>
</div>
<div class="showcase">
	<div class="desc">
		<p>Próximas fechas</p>
		<h2>Restauración Ecológica de zonas costeras</h2>
		<p>Esto es un curso excepcional
		</p>
	</div>
	<div class="thumbnail">
		<div class="details">
			<a class="btn btn-course" href="#0">DETAILS</a>
		</div>
	</div>
</div>
<div class="showcase">
	<div class="desc">
		<p>Próximas fechas</p>
		<h2>Evaluación del Impacto Ambiental</h2>
		<p>Esto es un curso excepcional
		</p>
	</div>
	<div class="thumbnail">
		<div class="details">
			<a class="btn btn-course" href="#0">DETAILS</a>
		</div>
	</div>
</div>


  {{> footer}}
</body>

