<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="nav">
        <div>
          <span><a href="/">Home</a></span>
        </div>
        <div>
          <span><a href="about">About</a></span>
        </div>
        <div>
            <span><a href="crimes">Crimes</a></span>
        </div>
        <div>
          <span><a href="mugshots">Mugshots</a></span>
        </div>
      </section>
      <section class="crimes">
          <h3>List of crimes committed</h3>
          <ul>
              <li>Licking strangers in public</li>
              <li>Being too cute</li>
              <li>Sleeping illegal amounts</li>
              <li>Being a badass</li>
          </ul>
      </section>
</body>
</html>