<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Choose your destination</h1>
    <ul>
      <li><a href="http://localhost:3000/images/barcelona"> Barcelona</a></li>
      <li><a href="http://localhost:3000/images/berlin">Berlin</a></li>
      <li><a href="http://localhost:3000/images/cancun"> Cancun</a></li>
      <li><a href="http://localhost:3000/images/new-york">New York</a></li>
      <li><a href="http://localhost:3000/images/japan">Japan</a></li>
    </ul>
  </body>
</html>
