<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hall of fame</title>
</head>

<body>
    <h1>Hall of fame</h1>
    <ul>
        <li>Derpina</li>
        <img src="/images/dog3.jpeg" />
        <li>Smily</li>
        <img src="/images/dog4.jpeg" />
        <li>Smarty</li>
        <img src="/images/dog5.jpeg" />
    </ul>
    <p>Do you wanna <a href="/">go back</a>?</p>
</body>

</html>