<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
<body>
    <header  class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="logo" src="/images/Cat_silhouette.svg.png" alt="Cat silhouette">
            <a class="navbar-brand col-lg-9 col-md-2" href="#">CAT CRAZY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/"><span class="red">Home</span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                  </li>
              </ul>
            </div>
          </nav>
    </header>

    <section class="container">
      <div class="about">
        <h2>Donate</h2>
        <p class="gray">Help a kitty</p>
        <hr>
      </div>
      <div class="row" id="cat-list">
          <div id="cat1" class="cats">
              <img class="imagList" src="/images/cat5.jpeg" alt="project-1">
              <span class="prices" id="price1">Suggested donation $25.00</span>
              <label>Donation</label>
              <input id="qty1" class="quantities" type="number" placeholder="QTY">
              <span class="subtotal">$0.00</span>
              <button type="button" name="button" class="btn btn-donate">Donate</button>
          </div>
          <div id="cat2" class="cats">
              <img class="imagList" src="/images/cat6.jpeg" alt="project-1">
              <span class="prices" id="price12">Suggested donation $15.00</span>
              <label>Donation</label>
              <input id="qty2" class="quantities" type="number" placeholder="QTY">
              <span class="subtotal">$0.00</span>
              <button type="button" name="button" class="btn btn-donate">Donate</button>
          </div>
          <div id="cat3" class="cats">
              <img class="imagList" src="/images/cat7.jpeg" alt="project-1">
              <span class="prices" id="price3">Suggested donation $20.00</span>
              <label>Donation</label>
              <input id="qty3" class="quantities" type="number" placeholder="QTY">
              <span class="subtotal">$0.00</span>
              <button type="button" name="button" class="btn btn-donate">Donate</button>
          </div>
          <div id="cat4" class="cats">
              <img class="imagList" src="/images/cat8.jpeg" alt="project-1">
              <span class="prices" id="price4">Suggested donation $22.00</span>
              <label>Donation</label>
              <input id="qty4" class="quantities" type="number" placeholder="QTY">
              <span class="subtotal">$0.00</span>
              <button type="button" name="button" class="btn btn-donate">Donate</button>
          </div>
      </div>
    </section>

  </body>
  </html>