<div class="logo-education-container">
    <img src="/images/lion_fch.png" alt="" class="logo-education">
    <img src="/images/ih_fch.png" alt="" class="logo-education">
    <img src="/images/dauphine_fch.png" alt="" class="logo-education">
</div>

