<div class="experience-container">
    <section class="explist">
        <img src="/images/ibm_PNG19656.png" class="img-entreprise">
        IBM is an american company
        <div class="missions">
            <ol>
                <li>MANGER DES CAROTTES</li>
                <li>MANGER DES FRUITS</li>
                <li>MANGER DU CITRON</li>
            </ol>
        </div>
    </section>
    <section class="explist">TRENDY</section>
    <sectiont class="explist">Canal</sectiont>
</div>

