<div class="extras-container">

    <blockquote class="twitter-tweet">
        <p lang="es" dir="ltr">Bad gyal cómo te lías los porros con esas uñas</p>&mdash; zara (@zarachusta) <a
            href="https://twitter.com/zarachusta/status/986003757409415170?ref_src=twsrc%5Etfw">April 16, 2018</a>
    </blockquote>
    <h2>La más pegá <br> extras</h2>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    hohoho <br>
    qué risa <br>
    <div class="video">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/3-38lQ_N8cw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>