<h1>Films by Studios Ghibli</h1>

<div class="container">
  <div class="row">
    {{#each films}}
      <div class="col text-center d-flex justify-content-center">{{> card this}}</div>
    {{/each}}
  </div>
</div>