<div class="films">

    <a href="/mononoke" class='lien'>
        <div class="film">
            <img src="img/princess-mononoke.jpg" alt="test" class="filmo">
            <h3 class="titre">Princess mononoke</h3>
        </div>
    </a>
    <a href="/" class='lien'>
        <div class="film">
            <img src="img/Chateau-Ambulant.jpeg" alt="test" class="filmo">
            <h3 class="titre">Howl's Moving Castle</h3>
        </div>
    </a>
    <a href="/" class='lien'>
        <div class="film">
            <img src="img/Chihiro.jpg" alt="test" class="filmo">
            <h3 class="titre">Spirited Away</h3>
        </div>
    </a>
    <a href="/" class='lien'>
        <div class="film">
            <img src="img/Totoro2.jpg" alt="test" class="filmo">
            <h3 class="titre">My Neighbor Totoro</h3>
        </div>
    </a>
    <a href="/" class='lien'>
        <div class="film">
            <img src="img/Tombeau.jpeg" alt="test" class="filmo">
            <h3 class="titre">Grave of the Fireflies</h3>
        </div>
    </a><a href="/" class='lien'>
        <div class="film">
            <img src="img/Chateau dans le ciel.jpeg" alt="test" class="filmo">
            <h3 class="titre">Castle in the sky</h3>
        </div>
    </a>
    <a href="/" class='lien'>
        <div class="film">
            <img src="img/Nausicaa.jpeg" alt="test" class="filmo">
            <h3 class="titre">Nausicaä</h3>
        </div>
    </a>
    <a href="/" class='lien'>
        <div class="film">
            <img src="img/Porco Rosso.jpg" alt="test" class="filmo">
            <h3 class="titre">Porco Rosso</h3>
        </div>
    </a>
</div>