<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<title>El gato</title>
</head>
<body>
	<h1 style="font-family: sans-serif; margin:auto;">Hello monday on tuesday</h1>
	<p style="font-family: sans-serif;margin:auto;">
    <img src="/images/cool-cat.jpg" />
    <img src="/images/bosco_new.png" />
    <img src="/images/gatorade.jpeg" />
        <br>
    <a href="/about">About</a>
    <a href="/">Home</a>
	</p>
</body>
</html>