<h1 class="galery">{{title}}</h1>

<ul class="all-images">
<div class="image1"><li><img src="/img/koala2.jpeg" alt="koala2"></li></div>
<div class="image2"><li><img src="/img/koala3.jpeg" alt="koala3"></li></div>
<div class="image3"><li><img src="/img/koala4.jpeg" alt="koala4"></li></div>
<div class="image4"><li><img src="/img/koala5.jpeg" alt="koala5"></li></div>
<div class="image5"><li><img src="/img/koala6.jpeg" alt="koala6"></li></div>
<div class="image6"><li><img src="/img/koala-home.jpeg" alt="koala1"></li></div>
</ul>


