<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Condiciones de conservación</h1>
    <div>

        <img src="/9026448752670.jpg" alt="">
    </div>

    <p>Conservar el producto en un lugar limpio, seco y bien ventilado, protegido de la lluvia y alejado de otros productos, alimenticios o no, que puedan impartirle olores o sabores extraños. Almacenar preferiblemente entre 5° y 15°C, evitando temperaturas
        superiores a 25°C. Evitar exposiciones directas a la luz del sol o fuentes de calor. No congelar el producto.
    </p>


</body>

</html>