<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Document</title>
</head>
<body>
  <header><h1>GALERIA DE IMAGENES</h1></header>
  <div>
    <h2>INGLATERRA</h2>
    <img class="wide" src="images/england1.JPG">
    <img src="images/england2.JPG">
    <img src="images/england3.JPG">
    <img src="images/england4.JPG">
    <img src="images/england5.JPG">
    <img src="images/england6.JPG">
    <img src="images/england7.JPG">
  </div>
    <h2>ESPAÑA</h2>
    <img src="images/spain1.JPG">
    <img src="images/spain2.JPG">
    <img src="images/spain3.JPG">
    <img src="images/spain4.JPG">
    <img src="images/spain5.JPG">
    <img src="images/spain6.JPG">
    <img class="wide" src="images/spain7.JPG">
    <img src="images/spain8.JPG">
    <img src="images/spain9.JPG">
    <img src="images/spain10.JPG">
    <img src="images/spain11.JPG">
    <img src="images/spain12.JPG">
    <img src="images/spain13.JPG">
  <div>

  </div>
</body>
</html>