<div class="container galery">
    <h1>Best Moments</h1>

    <div id="box-galery">
    {{#each legacy}}
         <div class="photos">
            <div class="img-kobe">
                <img class="img-kb"src="/assets{{this}}">
            </div>
        </div>
    {{/each}}
    </div>
</div>