<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>

    <div>
      <img src="https://lh3.googleusercontent.com/JQlO2oDYQKTs_qAHkO88Sv7Y0R5WvZSE3GZPh78T4bhXgbIpqodatRboP1Nke879QdkEezcU-sAO0_j4VhLkVWmaVnXGzuxgnw_oypaA1nm_ioNDsLVW9Nd26oDFGLaESXDeNb2Tb31pWGMNpJMMO-tlc3JAjTKwktth2AQwjmgDNZRIwnOzvgfob4qRYj0HWMmgc0T-REznvVbmS9MnI13SEehwDnskK0IAG8PkShxfBKOAdz-YDE_EZRq11NAM7jiUGIsNiXbq8YSUOLLELj2xYRyViXv8iXrY_z9vCFsE_ywX5OuvSVI6YqCHHYbTBfniVmusdRiCoyFB8ixp0buVuqH9LTGoZ4M41QSVKf5XfhJJgqBUjQsU51HcCkmu7n3YmoIiKEnwn6kpXzV7GnAG5M2Coqne-Ju4yKVZhPfDju-638XoZLeVCW_CEeLHbLFecOsoY6umPp9Xe2o_Bl57e5IWNuGN_vZnikdg5UH2gQSbNp4XgVaPU0fFqp0fZwXlKRW126ESSyB6Z0LQxQLvAXzWPRuCfTeO7SYUD_6_aSd4uvI2O6UWI-Bv3MQEa-6t8eP9fSidboAgHOYGO4ZPrpp8WhKNBT4Zomm0qJJE84v6w4oRXDUOPHNpofAcBPPyHsfXSgNWFz1EDo4tRw_huiqVhvKb9R1YZqk_kSQX_Qp_QfOaLDc=w2532-h1898-no">
      <img src="https://lh3.googleusercontent.com/ZSoxMzw-jMh7_zO9Gyl5uLKINJVF-pF0f9QstdI5psq8NYlqFfsvgdVFqnGdLccpTsRSnKARb5I9OVF_xWKAZSjRwicm6rfViCO2yU5uzqXvosi4ZledX-mNpQ79adM43dvcISg1t2QscUdWBq8OAL6TvwWKayf9qvzHB8eB2qnU1vImXmR3FBbVJ0WlVjchiSv3OKerhPuiVxdr6dmFbSiHzsN6P5s0rQXIjHF4y_b9W6Y1eO5zJEkE4CSe4ejinJHQXQt86BdxcKbArbNRKTDXFy5-NoTIHQ290UiW0qM9Bm8Ez1QM0WmA1vbAygolQG_pWDjoQZqHCR3xHd4WTVPd1LrVr1-athcsCaO0-uMi0cPdWNr-18GARXEKsDZPbf7zG_rEtc-AIF3ANl4dDkCoCNXVErIESlp6sxMcaPkAEXChL5kedq6yQTBDpQiqU6yVemXnTJ-wAi-G6SWb8UcpnPQLG8Ww_I4TEzyg3gT0gTP-huTS_l1vTaJCfve4kT6umgL96wNBwqPguir5O6fn0x4RDmSl8NyX6lORDN3uX3hgrRdwKa2uOEZSrFiIdCHKsraARSLDIjozWDiQCoPCRjX3JkFz7EIkISDiJsufKWoNWxJa8FF0hF5OzRi1buU11HIIDqv91KeiiLkASw2WfwATakHaayMwmUI2yYMWwKRCrp9lrXI=w2532-h1898-no">
      <img src="https://lh3.googleusercontent.com/j9ovDD_lONRmsfxhiOjyl_S-QcmKqIICfV1tS29HKYBWTyJmBJ4dEjh4ya9QWLQ9akiStbZVplmPhSdvDbZ0qr5tJx7ztw8vlMCIOmtPAlZBDGZchBfV-pe-wFkWgPaii9vLlh9JNeh6FXkZ-mIrhjwErExT3MYXkBaQTNIwHwDzPwzXiyWR49Cj8od2G4LmmRI8M78lQRqnud2PN9sQCKQNdQBsGuX-HajAfs4dp1mnK4i4PnJu2TCudB-2DBBTHswrGwO5bDO-UBPbbR50nyNKgRG_6ONSroFxdMkW7FEx_B2U17nBg5BXaXlYsqeJRT--sEX9bjXOrvj_DpEyA50NYnaf0ztck-GmOTF9pvVWx-GQrQn_UR-N8WlXCEXSkeBhAHpBMiD4Q91vjmxfN0Uvvk_EtCEUlSzdt8vLiclmvo2biDFQEjSAJwj9XvOKAYRCr21m1gyI4A2L7h-coZ8e2YlgD2fcn2iPwP-DwFT9Dqnp_-vzpi3D2_nCVFOOtbrngMfISQ27NPLh_eqm253CQsnEJVZ4iR-KzvlmAth2vzS3Jvbv1wL-Hx-IqLYrMTsnXxaGiP92E4K_rpD7LNpEep7P9v9CAlCzaNRixIOUgZ_jMSdTGCSTxB5Vdcz4V9Db2M4HD7XBUbW-FsIYv1Ww5mZBN8pkgRUO0zKKA9X2Az5F1jbT4Ts=w1424-h1898-no">
    </div>

  </body>
</html>