<h2 class="text-center mt-5 mb-5">Cast & Characters</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-4">
            <img src="/static/img/characters.jpg" class="card-img" alt="main characters">
            <div class="text-center mt-4">
                <a href="/Characters" class="btn btn-dark">Characters Gallery</a>
            </div>
        </div>
        <div class="col col-4">
            <img src="/static/img/cast.jpg" class="card-img" alt="cast">
            <div class="text-center mt-4">
                <a href="/cast" class="btn btn-dark">Cast Gallery</a>
            </div>
        </div>
    </div>
</div>

