<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
    <header>
      <h1>Gallery</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <section>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis alias
        totam obcaecati. Animi, totam! Accusamus a commodi quo libero tempora
        fugit rem, rerum neque aspernatur pariatur earum illum praesentium
        eveniet?
      </article>
    </section>
    <section class="gallery">
      <div>
        <img src="/img/img.jpg" alt="" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div>
        <img src="/img/img.jpg" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum
          dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div>
        <img src="/img/img.jpg" alt="" />
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div>
        <img src="/img/img.jpg" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum
          dolor sit amet
        </p>
      </div>
    </section>
  </body>
</html>
