<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <title>Sabás Mendívil</title>
</head>

<body>
    <div class="name">
        <h1>Gallery</h1>
    </div>

    <div id="gallery">
        <img src="/images/TheHighline.jpg" alt="Highline NYC 1" />
        <img src="/images/YetAnotherYellowCabWithABlackAndWhiteBackground.jpg" alt="Yet Another Yellow Cab With A Black And White Background" />
        <img src="/images/Venus.jpeg" alt="VENUS" />
        <img src="/images/TheHighline2.jpg" alt="Highline NYC 2" />
        <img src="/images/SanCarlos.jpg" alt="San Carlos Sonora" />
    </div>

    <div id="nav">
        <ul class="uk-dotnav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="uk-active"><a href="/gallery">Gallery</a></li>
        </ul>
    </div>

    <footer>
        <a href="mailto:smma1992@gmail.com"><img src="/images/001-mail.png" alt="mail" class="icons"></a>
        <a href="https://www.flickr.com/photos/159640283@N02/"><img src="/images/002-flickr.png" alt="Flickr" class="icons"></a>
        <a href="https://www.facebook.com/smmendivil"><img src="/images/003-facebook.png" alt="Facebook" class="icons"></a>
        <a href="https://www.instagram.com/sabasmendivil"><img src="/images/004-instagram.png" alt="Instagram" class="icons"></a>
        <a href="https://www.linkedin.com/in/sabasmendivil/"><img src="/images/005-linkedin.png" alt="LinkedIn" class="icons"></a>
    </footer>


    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/js/uikit-icons.min.js"></script>
</body>

</html>