<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Gallery</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallería</a>
    </header>
    <h1>Gallería</h1>
    <section>
        <img src="/images/beagles.jpeg" />
        <img src="/images/buldog.jpeg" />
        <img src="/images/chowchow.jpg" />
        <img src="/images/corgi.jpg" />
        <img src="/images/golden1.jpeg" />
        <img src="/images/perro1.jpeg" />
        <img src="/images/perro2.jpg" />
        <img src="/images/perro3.jpg" />
        <img src="/images/st-bernard-puppy.jpg" />
        <img src="/images/golden2.jpeg" />
        <img src="/images/bassett-hound-puppy.jpg" />
    </section>
    
    
</body>
</html>