<%- include ./partials/header %>
<main>
        <div>
            <img src="images/1.png" alt="" srcset="">
            <img src="images/2.jpg" alt="" srcset="">
            <img src="images/3.jpg" alt="" srcset="">


        </div>
</main>
<%- include ./partials/footer %>