<h1>Galería</h1>

<section>
  <div><img src="../public/images/steve-jobs03.jpg" alt=""></div>
   <div><img src="../public/images/steve-jobs04.jpg" alt=""></div>
    <div><img src="../public/images/steve-jobs05.jpg" alt=""></div>
     <div><img src="" alt=""></div>


</section>