
<p class="galleryP">this is the <span class="wColor">gallery</span> page. i have used owl carousel to do it. i'm loving it!</p>
<div class="box-gallery">
  <div class="owl-carousel owl-theme">
    <img src="/img/img01.png" alt="img01">
    <img src="/img/img02.png" alt="img02">
    <img src="/img/img03.png" alt="img03">
    <img src="/img/img04.png" alt="img04">
    <img src="/img/img05.png" alt="img05">
    <img src="/img/img06.png" alt="img06">
  </div>
</div>
