<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styleGallery.css">
  <title>Gallery</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <h1>Gallery</h1>
  <img src="/images/test1.png" alt="">
  <img src="/images/test2.png" alt="">
  <img src="/images/test3.png" alt="">
  <img src="/images/test4.png" alt="">
  <img src="/images/test5.png" alt="">

</body>

</html>