<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
  </nav>
  <section class="gallery">
    <h1>Gallery</h1>
    <img src="/images/space1.jpg" alt="space1">
    <img src="/images/space2.jpg" alt="space2">
    <img src="/images/space3.jpg" alt="space3">
  </section>
</body>
</html>