<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Photo Gallery Balboa</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a class="home" href="/">Home</a>
    </nav>
    <header>
      <div class="gallery-title">Balboa Photos</div>
    </header>
    <section class="gallery">
      <img src="lindyhop/1.jpg" alt="" />
      <img src="lindyhop/2.jpg" alt="" />
      <img src="lindyhop/3.jpg" alt="" />
      <img src="lindyhop/4.jpg" alt="" />
      <img src="lindyhop/5.jpg" alt="" />
      <img src="lindyhop/6.jpg" alt="" />
    </section>
  </body>
</html>
