<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="backgroundMain">
      <img class="backgroundMainImage imgGallery" src="/images/Epona.jpg" alt="">
      <div class="container">
        <div class="linkHolder">
            <a class="link" href="/">Back To Home</a>
        </div>
        <div class="imgHolder">
          <img class="galleryElement" id="Link_kid" src="/images/Link_kid.png" alt="">
        </div>
        <div class="imgHolder">
          <img class="galleryElement" id="Zelda_kid" src="/images/Zelda_kid.png" alt="">
        </div>
        <div class="imgHolder">
          <img class="galleryElement" id="Link_adult" src="/images/Link_adult.png" alt="">
        </div>
        <div class="imgHolder">
          <img class="galleryElement" id="Zelda_adult" src="/images/Zelda_adult.png" alt="">
        </div>
        <div class="imgHolder">
            <img class="galleryElement" id="Ganondorf" src="/images/Ganondorf.png" alt="">
        </div>
        <div class="imgHolder finalImgs">
            <img class="galleryElement" id="Deku" src="/images/Deku_tree.jpg" alt="">
        </div>
        <div class="imgHolder finalImgs">
            <img class="galleryElement" id="Fight" src="/images/Link_vs_Ganondorf.jpg" alt="">
        </div>
        <div id="descriptionBox">
            <span id="descriptionText"></span>
        </div>
      </div>
    </div>
  </body>
</html>