<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>GALLERY</h1>

    <iframe src="https://www.imdb.com/videoembed/vi1586278169" allowfullscreen width="854" height="650"></iframe>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/gallery">GALLERY</a></li>
    </ul>
</body>
</html>