<div class="container-short">

  <h2>Lorem ipsum dolor sit amet.</h2>

  <p class="text-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit adipisicing elit.</p>

  <div id="gallery-big"  class="gallery-lightbox img-box">
    <a id="close" href="javascript:void(0)" class="close">cerrar</a>
    <div class="img-box">
        <img src="/static/img/img-gallery-1.jpg" alt="real valladolid" title="real valladolid">
    </div>
  </div>

  <div id="gallery" class="box-gallery">
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-1.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-2.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-3.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-4.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-5.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-6.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-7.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-8.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-9.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-10.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-11.jpg" alt="real valladolid" title="real valladolid">
    </a>
    <a href="javascript:void(0)" class="item">
      <img src="/static/img/img-gallery-12.jpg" alt="real valladolid" title="real valladolid">
    </a>
  </div>

</div>