<div class="page">
    <div class="grid">

        {{#each photoSlglf}}
        <div class="container">
            <img class="img" src={{this}} alt="@slglf">
            <div class="middle">
                <div class="text">@slglf</div>
            </div>
        </div>
        {{/each}}

        {{#each photoKmu}}
        <div class="container">
            <img class="img" src={{this}} alt="@K.mu.0">
            <div class="middle">
                <div class="text">@K.mu.0</div>
            </div>
        </div>
        {{/each}}


        {{#each photoChxl}}
        <div class="container">
            <img class="img" src={{this}} alt="@93chxl">
            <div class="middle">
                <div class="text">@93chxl</div>
            </div>
        </div>
        {{/each}}


    </div>
</div>