<h4>Gallery</h3>
    <div class="row">
        <div class="col-lg-6">
            <img class="resp" src="img/img1.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <img class="resp" src="img/img2.jpg" alt="">
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <img class="resp" src="img/img3.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <img class="resp" src="img/img4.jpg" alt="">
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">
            <img class="resp" src="img/img5.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <img class="resp" src="img/img6.jpg" alt="">
        </div>
    </div>