<div class="container">
    <div class="row">
        <div class="col-lg-4"><img src="./images/gallery.jpg" class="mb-4 mt-4"></div>
        <div class="col-lg-4"><img src="./images/two.jpg" class="mb-4 mt-4"></div>
        <div class="col-lg-4"><img src="./images/three.jpg" class="mb-4 mt-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"><img src="./images/four.jpg" class="mb-4"></div>
        <div class="col-lg-4"><img src="./images/five.jpg" class="mb-4"></div>
        <div class="col-lg-4"><img src="./images/six.jpg" class="mb-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"><img src="./images/seven.jpg"></div>
        <div class="col-lg-4"><img src="./images/eight.jpg"></div>
        <div class="col-lg-4"><img src="./images/nine.jpg"></div>
    </div>
</div>
<script src="./js/main.js"></script>