<div class="container row">
    <h1>Gallery</h1>
    <div class="divider"></div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/buzz_400x400.png">
                <span class="card-title">Flying Buzz</span>
            </div>
            <div class="card-content">
                <p>To infinity and beyond</p>
            </div>
            <div class="card-action">
                <a href="#">see more</a>
            </div>
        </div>
    </div>
</div>