<h1>{{title}}</h1>
 <div class="photos">
    <ul>
        <li><img src="../public/images/Bento-the-beloved-Keyboard-Cat-who-stunned-viewers-with-his-musical-talent-dies-as-owner-posts-lov.jpg"></li>
        <li><img src="../public/images/back.jpg"></li>
        <li><img src="../public/images/download.jpeg"></li>
        <li><img src="../public/images/keyboardcat.jpeg"></li>
    </ul>
</div> 