<div id="first">
<h3>This website is about Moe Szyslak, a nice guy</h3>
<div id="gallery">
    
        {{#each images}}
        <div><img src="{{{this}}}" alt={{this}}></div>
        {{/each}}
  
</div>
</div>