<main>
  <div>
    <h1><a href="/">{{title}}</a></h1>
    <div class="nav-bar">
      <a href="/about"><button>About</button></a>
      <a href="/gallery"><button>Photo Gallery</button></a>
    </div>

  </div>

  <h2>Welcome to the {{title}}</h2>

  <div class="gallery">

    <div class="element">
      <img src="/images/barca_web-2.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/coffee_web-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/coffee_web-3.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/coffee_web-4.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/cuba_web-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/cuba_web-2.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/ist_an_web-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/ist_an_web-2.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/ist_an_web-4.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/ist_an_web-5.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/mona_pancakes-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/nepal_an_web-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/nepal_an_web-2.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/nepal_an_web-4.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/nepal_web-4.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/paris_web-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/rapha_web-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/scansNew_1-4.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/two-boats-1.jpg" alt="">
    </div>

    <div class="element">
      <img src="/images/wlfgng_editorial_web-2.jpg" alt="">
    </div>

    

  </div>


</main>
