<h1>Gallery</h1>

<div class='flex-row'>

    <img src="/images/dogs.jpeg" alt="isle of dogs" class='poster'>
    <img src="/images/moonrise.jpg" alt="moonrise kingdom" class='poster'>
    <img src="/images/budapest.jpg" alt="the grand budapest hotel" class='poster'>
    <img src="/images/darjeeling.jpg" alt="darjeeling limited" class='poster'>
    <img src="/images/royal.jpg" alt="the royal tenenbaums" class='poster'>
    <img src="/images/aquatic.jpg" alt="life aquatic" class='poster'>
    <img src="/images/fox.jpg" alt="fantastic mr fox" class='poster'>

</div>