<!DOCTYPE html>
<html id="gallery">

<head>
  <meta charset="utf-8" />
  <title>Welcome Visitor</title>
  <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body>
  <h1>Die Flippers</h1>
  <h4>
    {{#if nativeSpeaker}}Does{{else}}Do{{/if}} your ears need a vacation? <br />
    Time travel back to the 70s (or the 80s - we're not sure)!
  </h4>
  <img src="/images/Screen Shot 2019-08-22 at 20.28.34.png" alt="Die_Flippers" />
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HLwm_7dGPps" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <a href="/">Back home</a>
</body>

</html>