<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="header-about">
        <nav>
            <a href="/" class = "column caption" >
                <span class = "text"><h2>Home</h2></span>
                <img src="/home-rick.png" alt="nav home">
            </a>
            <a href="/about" class = "column caption ">
                <span class = "text"><h2>About</h2></span>
                <img src="/portrait-rick.png" alt="nav about">
            </a>
            <a href="/gallery" class = "column caption ">
                <span class = "text"><h2>Gallery</h2></span>
                <img src="/picklerick.png" alt="nav gallery">
            </a>
        </nav>
    </header>

    <!-- <div class="slidecontainer"></div>
    <div class="indicator"></div> -->
    <div class="gal">
        <img src="https://i.postimg.cc/DwhjRqH4/polaroi7.png" alt="polaroid">
        <img src="https://i.postimg.cc/gk8tMMSP/polaroi6.png" alt="polaroid">
        <img src="https://i.postimg.cc/fW3rdWYy/polaroid2.png" alt="polaroid">
        <img src="https://i.postimg.cc/qqCyv5hB/polaroid3.png" alt="polaroid">

        <img src="https://i.postimg.cc/SxGT4nbT/polaroid5.png" alt="polaroid">

        <img src="https://i.postimg.cc/mZ06yxSw/polaroid.png" alt="polaroid">

    </div>

</body>
</html>