<div class="photo-container gallery">

  {{#each pictures}}
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/img/{{this}}.jpg" alt="" />
  </div>
  {{/each}}
  {{#each pictures}}
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="/img/{{this}}.jpg" alt="" />
  </div>
  {{/each}}

</div>