
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Galeria Nubecita Magica</title>

    <!-- Bootstrap core CSS -->
<!--
<link href="/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/carousel.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Nubecita Mágica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio   <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de...</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main">

  <div class="container marketing-gallery"
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/images/image1.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image2.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image3.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image4.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image5.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image6.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image7.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image8.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image9.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image10.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image11.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image12.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image13.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image14.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image15.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image16.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image17.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image18.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image19.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image20.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image21.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image22.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image23.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image24.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image25.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image26.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image27.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image28.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image29.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image30.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image31.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image32.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image33.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image34.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image35.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image36.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image37.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image38.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image39.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image40.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image41.jpg" alt="">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/image42.jpg" alt="">
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

<hr class="featurette-divider">
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="/">Back to Home Page</a></p>
    <p>&copy; 2018-2019 Nubecita Magica, Inc.</p>
  </footer>
</main>
</html>
