<div class="container">
  <h1>GALLERY</h1>
  <div class="carousel-box">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.estudio34.com/wp-content/uploads/2019/04/entrada_javascript_SEO_1.jpg"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.redd.it/rh977vd6pvb41.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.freecodecamp.org/news/content/images/size/w2000/2019/07/cover-photo.png"
            class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>