<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Gallery</title>
</head>
<body>
  <h1>The best planes</h1>
<div class = "image-gallery"
  <img src="IMG/naitian-wang-lbK4sKAQkv8-unsplash.jpg" height="300" width="300">
  <img src="IMG/naitian-wang-lbK4sKAQkv8-unsplash.jpg" height="300" width="300">
  <img src="IMG/naitian-wang-lbK4sKAQkv8-unsplash.jpg" height="300" width="300">
  </div>

</body>
</html>