<slider>
  <slide><p>Profesor</p></slide>
  <slide><p>Tokyo</p></slide>
  <slide><p>Berlin</p></slide>
  <slide><p>Nairobi</p></slide>
  <slide><p>Denver</p></slide>
  <slide><p>Rio</p></slide>
  <slide><p>Helsinki</p></slide> 
</slider>