<h2>Our Gallery</h2>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="/grupoweb.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/photo1.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/photo2.jpg" alt="Card image cap">

    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/photo3.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/photo4.jpg" alt="Card image cap">
            <div class="card-body">
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/photo5.jpg" alt="Card image cap">

        </div>

    </div>