<h1>Galeria</h1>

<div>
  <div class='img-container'>
    <div class='img'>
      <img src="angular.svg" alt="">
    </div>
    <div class='img'>
      <img src="expressjs.png" alt="">
    </div>
  </div>
  <div class='img-container'>
    <div class='img'>
      <img src="mongodb.jpg" alt="">
    </div>
    <div class='img'>
      <img src="nodejs.png" alt="">
    </div>
  </div>
</div>