{{!-- utiliser grid  pour display toutes les images --}}

<div class="gallery">


    <div class="container">
        <img src="images/DSC_0065.jpg" />
        <img src="images/DSC_0077.jpg" />
        <img src="images/DSC_0089.jpg" />
        <img src="images/DSC_0096.jpg" />
        <img src="images/DSC_0402.jpg" />
        <img src="images/DSC_0119.jpg" />
        <img src="images/DSC_0126.jpg" />
        <img src="images/DSC_0154.jpg" />
        <img src="images/DSC_0370.jpg" />
        <img src="images/DSC_0371.jpg" />
        <img src="images/DSC_0372.jpg" />
        <img src="images/DSC_0276.jpg" />
        <img src="images/DSC_0305.jpg" />
        <img src="images/DSC_0361.jpg" />
        <img src="images/IMG_20180530_165629.jpg" />
        <img src="images/IMG_3279.jpg" />

    </div>
</div>