<h1>{{title}}</h1>

<div class="gallery">
    <ul>
        <li><img src="https://images.unsplash.com/photo-1517898717281-8e4385a41802?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3fae9d045f631e72d1f00740eb52ade0&auto=format&fit=crop&w=2550&q=80" alt="A girl napping" class="wrong-answer"></li>
        <li><img src="https://images.unsplash.com/photo-1514995428455-447d4443fa7f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d3a7081424acd0c6fa99f2e541d5648&auto=format&fit=crop&w=900&q=60" alt="Food" class="right-answer"></li>
        <li><img src="https://images.unsplash.com/photo-1494913148647-353ae514b35e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=690fde360cf073d36a84808c5f655c0e&auto=format&fit=crop&w=2552&q=80" alt="Two dogs on an amaca" class="wrong-answer"></li>
    </ul>
</div>