<div class="gallery-wrap">
    <div class="gallery" id="gallery">
        <ul>
            <li><img src="/images/img1.jpg" alt=""></li>
            <li><img src="/images/img2.jpg" alt=""></li>
            <li><img src="/images/img3.jpg" alt=""></li>
        </ul>
    </div>
</div>