<div class="gallery-page">
    <div class="section-header">
        <h2 class="section-header__title">Gallery</h2>
    </div>

    <div class="container">
        <div class="gallery">
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/01.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/02.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/03.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/04.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/05.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/06.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/07.jpg" alt="">
            </div>
            <div class="mb-3 pics">
                <img class="img-fluid" src="public/images/gallery/08.jpg" alt="">
            </div>
        </div>
    </div>
</div>