{{!-- <div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/thumbs/1.jpg" data-large="images/1.jpg" alt="image01"
                                data-description="Some description" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/thumbs/2.jpg" data-large="images/1.jpg" alt="image01"
                                data-description="Some description" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/thumbs/3.jpg" data-large="images/1.jpg" alt="image01"
                                data-description="Some description" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/thumbs/1.jpg" data-large="images/1.jpg" alt="image01"
                                data-description="Some description" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div><!-- rg-gallery --> --}}

{{!-- <div class="container-img">
    <div><img src="../images/beaches/playa-del-carmen.jpeg" alt=""></div>
    <div><img src="../images/beaches/church.jpeg" alt=""></div>
    <div><img src="../images/beaches/burritos.jpeg" alt=""></div>
</div> --}}

{{!--   <div class="your-class">
        <div><img src="../images/beaches/balandra-lapaz.jpg" alt=""></div>
        <div><img src="../images/beaches/balandra-lapaz.jpg" alt=""></div>
        <div><img src="../images/beaches/balandra-lapaz.jpg" alt=""></div>
    </div> --}}

<h2>Discover Mexican Food</h2>
<section class="lazy slider" data-sizes="50vw">
    <div>
        <img src="../images/slider/quesadillas.jpeg" alt="quesadillas">
        <p>Quesadillas</p>
    </div>
    <div>
        <img src="../images/slider/grasshoppers.jpeg" alt="grasshoppers">
        <p>Grasshoppers and Guacamole</p>
    </div>
    <div>
        <img src="../images/slider/mole.jpeg" alt="mole">
        <p>Mole</p>
    </div>
    <div>
        <img src="../images/slider/burrito.jpg" alt="burritos">
        <p>Burritos</p>
    </div>
    <div>
        <img src="../images/slider/chilaquiles.jpeg" alt="chilaquiles">
        <p>Chilaquiles</p>
    </div>
    <div>
        <img src="../images/slider/tacos-pastor.jpeg" alt="tacos de pastor">
        <p>Tacos al Pastor</p>
    </div>
</section>
<h2>Discover Mexican Natural Wonders</h2>
<section class="lazy slider" data-sizes="50vw">
    <div>
        <img src="../images/slider/cenote.jpg" alt="cenote">
        <p>Cenote, Yucatan</p>
    </div>
    <div>
        <img src="../images/slider/hierve-el-agua.jpg" alt="hierve el agua">
        <p>Hierve el Agua, Oaxaca</p>
    </div>
    <div>
        <img src="../images/slider/whale.jpg" alt="whale">
        <p>Whale watching, Baja California Sur</p>
    </div>
    <div>
        <img src="../images/slider/coloradas.jpg" alt="coloradas">
        <p>Las Coloradas, Yucatan</p>
    </div>
    <div>
        <img src="../images/slider/canyon-sumidero.jpg" alt="canyon del sumidero">
        <p>Canyon del Sumidero, Chiapas</p>
    </div>
    <div>
        <img src="../images/slider/agua-azul.jpg" alt="agua azul">
        <p>Agua azul, Chiapas</p>
    </div>
</section>
<h2>Discover Mexican Beaches</h2>
<section class="lazy slider" data-sizes="50vw">
    <div>
        <img src="../images/slider/balandra.jpg" alt="balandra beach">
        <p>Balandra Beach, Baja California</p>
    </div>
    <div>
        <img src="../images/slider/playa-del-carmen.jpeg" alt="playa del carmen">
        <p>Playa del Carmen, Quintana Roo</p>
    </div>
    <div>
        <img src="../images/slider/cancun.jpg" alt="cancun beach">
        <p>Cancun, Quintana Roo</p>
    </div>
    <div>
        <img src="../images/slider/puerto-vallarta.jpeg" alt="puerto vallarta beach">
        <p>Puerto Ballarta, Jalisco</p>
    </div>
    <div>
        <img src="../images/slider/oaxaca.jpeg" alt="mazunte beach">
        <p>Mazunte, Oaxaca</p>
    </div>
    <div>
        <img src="../images/slider/cabo.jpeg" alt="arco de cabo san lucas">
        <p>Cabo San Lucas, Baja California Sur</p>
    </div>
</section>