<div class="gallery">
    <img class="images" src="image/pro.jpg" alt="">
    <img class="images" src="image/pro.jpg" alt="">
    <img class="images" src="image/pro.jpg" alt="">
    <img class="images" src="image/pro.jpg" alt="">
    <img class="images" src="image/pro.jpg" alt="">
    <img class="images" src="image/pro.jpg" alt="">
    <img class="images" src="image/pro.jpg" alt="">

</div>

<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;

    }

    .images {
        padding: 20px;
        flex-direction: column;
    }

</style>