<h1 class="banana-pics">Pictures of Bananas</h1>
<div>
    <img src="/assets/bunchOfBananas.jpg" alt="bunch of bananas">
    <img src="/assets/greenBananas.jpg" alt="green bananas">
    <img src="/assets/bananasInTheWild.jpg" alt="bananas in the wild">
    <img src="/assets/bananasInPajamas.jpg" alt="bananas in pajamas">
    <img src="/assets/potassium.jpg" alt="banana potassium content infographic">
    <img src="/assets/bananacrash.jpg" alt="bananas are dangerous drivers">
</div>