<input type="text" id="search_gif" placeholder="Cat..." />

<div id="gifs_list">
    {{#each gifs}}
    <div class="gif"><img src="{{this.link}}" alt="{{this.description}}" /></div>
    {{/each}}
</div>