<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guestbook</title>
  <link rel="stylesheet" href="styles/styles.css">
  <script src="scripts/howler.min.js"></script>
  <script src="scripts/main.js"></script>
</head>

<body>
  <h1>Please sign my guestbook!</h1>
  <div class="guestbook">
    <iframe src="http://users4.smartgb.com/g/g.php?a=s&i=g44-79486-aa">
  </div>

</body>

</html>