<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/assets/stylesheets/styles.css">
  <title>High on Life</title>
</head>
<body>
    <button id="home">Home</button>
  <button id="about">About</button>
  <button id="high">High</button>
  <h2>And FINALLY: </h2>
  <h1>HIGH ON LIFE:</h1>

<p>Welcome to our coffee shops around The Netherlands!</p>

<p>Please enjoy the art from our visitors:</p>
<img class="img" src="/assets/images/dude.jpg" alt="dude" width="400px">
<img class="img" src="/assets/images/roar.jpg" alt="roar" width="400px">
<img class="img" src="/assets/images/lion.jpeg" alt="lion" width="400px">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/assets/javascript/index.js"></script>
</body>
</html>