<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hole</title>
    <link href="https://fonts.googleapis.com/css?family=Butcherman&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1 class="title">Hole</h1>
    <p class="letter">It`s your live</p>
    <div class="gif">
        <iframe src="https://giphy.com/embed/zOvBKUUEERdNm" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</body>

</html>