<div id="text-hide"><h2>Hello, my name is Andy TISBA.</h2><p>I am a junior <strong>full-stack web developer</strong> and also a great <strong>manager</strong>.<br>Feel free to take a look at my latest projects on the <strong>web portfolio page</strong>.<br>Remotely available UTC−1 to UTC+8.</p><br><a href='mailto:andy.tisba@gmail.com'>andy.tisba@gmail.com</a></div>
<div id="turn"><i class="fas fa-sync-alt"></i></div>
<div id="typing" class="page flex center column">
</div>