<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul class="nav-list">
        <li><a href="homepage.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="photos.html">PHOTOS</a></li>
      </ul>
    </nav>

    <h1>Joaquin Phoenix Fan Page</h1>
    <div class="img-container">
      <img
        src="https://m.media-amazon.com/images/M/MV5BY2Q4MDEwNjAtYTljZS00NGQzLTg2ZTgtOTBiNzk1ZDUzNjIxXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg"
      />
    </div>
  </body>
</html>
