<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Express Basic Site</title>
</head>

<body>
  <div class="container">

{{> header}}

    <section id="register" class="register">
      <article class="text-register">
        <h1>De cursos a títulos</h1>
        <h2>Formación 100% en línea de la mano de los mejores centros especializados del mundo</h2>
      </article>
      <article>
        <button class="btn">Inscribete de forma gratuita</button>
      </article>
    </section>

    <section id="partners">
      <div class="partner1">
        <img src="/images/partner-logo1.jpg" alt="partner logo 1"> 
      </div>
      <div class="partner2">
        <img src="images/partner-logo2.png" alt="partner logo 2">
      </div>
      <div class="partner3">
        <img src="images/partner-logo3.png" alt="partner logo 3">
      </div>
      <div class="partner4"><img src="images/partner-logo4.png" alt="partner logo 4"></div>
      <div class="partner5"><img src="images/partner-logo5.png" alt="partner logo 5"></div>
      <div class="partner6"><img src="images/partner-logo6.png" alt="partner logo 6"></div>
      <div class="partner7">
        <button class="btn-partners btn">Más información</button>
      </div>
    </section>

    <section id="certificates" class="certificates">
      <h3>Certificados por los mejores centros de investigación y universidades del mundo</h3>
    </section>

    <section class="courses-wrapper">
      <div class="courses-texts">
        <h2>Programas técnicos especializados en medio ambiente</h2>
        <p>Cursos en línea flexibles y económicos de la mejor calidad</p>
      </div>
      <article class="courses">
        <div class="first-row">
          <div class="single-course">
            <img src="/images/course4.jpg" alt="course 1">
            <!-- <h1 class="course-title">Evaluación de Impacto Ambiental</h1> -->
          </div>
          <div class="single-course-large">
            <img src="/images/mine.jpg" alt="course 2">
            <h1 class="course-title-large">Restauración Ecológica de Zonas Mineras</h1>
          </div>
          <div class="single-course">
            <img src="/images/forest.jpg" alt="course 3">
            <!-- <h1 class="course-title">Restauración Ecológica de Sistemas Forestales</h1> -->
          </div>
        </div>
        <div class="second-row">
          <div class="single-course">
            <img src="/images/waste-management.jpg" alt="course 4">
            <!-- <h1 class="course-title">Restauración Ecológica de Zonas Costeras</h1> -->
          </div>
          <div class="single-course">
            <img src="/images/coastal.jpg" alt="course 5">
            <!-- <h1 class="course-title">Elaboración de Estudios Línea de Base</h1> -->
          </div>
          <div class="single-course">
            <img src="/images/energy.jpg" alt="course 6">
            <!-- <h1 class="course-title">Fundamentos de Fitorremediación</h1> -->
          </div>
          <div class="single-course">
            <img src="/images/humedals.jpg" alt="course 7">
            <!-- <h1 class="course-title">Restauración Ecológica de Sistemas Fluviales</h1> -->
          </div>
        </div>
      </article>

    </section>

  </div>

  {{> footer}}
  </div>


</body>

</html>