<div class="page">
    <div class="container-bgimg">
        <img class="bg-img" src="/img/paris.jpg">
    </div>
    <div class="content">
        <p>{{definition}}</p>
        <hr>
        <h2>ideas, world and vision</h2>
        <p>by RP</p>
        <p style="text-align:justify;">{{myThoughts}}</p>
    </div>
</div>