<div class="container-fluid p-0">
  <div id="home-box">
    <h1 id="home-title" class="display-1 text-light">Football Legends</h1>
    <p>Esto es una página web para una práctica de clase en Ironhack. Aquí se muestran jugadores que son leyendas del
      fútbol.</p>
    <a class="btn btn-primary btn-lg" href="/players" role="button">Ver jugadores</a>
  </div>
</div>