<div>
    <h1>THIS IS HOME</h1>
    <div id="jumbotron-home">
    </div>

    <div id="cali-hover-zone">HERE

        <div id="cali-info-box">
            CALI!
        </div>
    </div>
    <div id="new-york-hover-zone"></div>
    <div id="florida-hover-zone"></div>
    <div id="illinois-hover-zone"></div>
    <div id="texas-hover-zone"></div>
    <div id="georgia-hover-zone">


    </div>


</div>