<section class="page">
    <article class="welcome">
        <div>Welcome</div>
        <div>to</div>
        <div>my</div>
        <div>website.</div>
    </article>
    <article class="image">
        <p>This is me coding in my bed :</p>
        <img src="images/home-bed.png" alt="picture: me in my bed">
    </article>
</section>