<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="home-style.css">
    <script src="script.js"></script>
    <title>Home</title>
</head>
<body>
    <h1>J. R. R. Tolkien</h1>
<section id="intro">
    
<div>
    <h3>Kindheit</h3>
    <article>John Ronald Reuel Tolkien wurde im Jahre 1892 als Sohn englischer Eltern, des Bankmanagers Arthur Reuel Tolkien (1857–1896) 
        und dessen Frau Mabel Suffield (1870–1904), in Bloemfontein im Oranje-Freistaat geboren, wo sich sein Vater aus beruflichen Gründen 
        aufhielt. Seine Familie väterlicherseits stammte ursprünglich aus Sachsen (heute im Bereich Niedersachsen, der Familienname soll sich 
        von dem Wort „tollkühn“ ableiten, eine andere vermutete Herkunft ist der ostpreußische Ortsname Tolkynen),[1] lebte aber schon seit 
        dem 18. Jahrhundert in England.[2][3] Die meisten Vorfahren Tolkiens waren Handwerker. 1894 kam sein Bruder Hilary Arthur Reuel Tolkien
         zur Welt
    </article>
</div>
<div>
    <h3>Jugend</h3>
    <article>
            Tolkiens frühe Kindheit verlief weitgehend ruhig und ereignislos bis auf einen Tarantelbiss, der als möglicher Auslöser für das wiederholte Auftreten von giftigen Riesenspinnen in seinen Werken gilt.
            1895 kam er mit seiner Mutter, die das afrikanische Klima nicht gut vertrug, und seinem Bruder Hilary zu einem Urlaub ins englische Birmingham. Dort erreichte seine Mutter im darauffolgenden Jahr die 
            Nachricht vom Tode ihres Mannes, der an schweren inneren Blutungen verstorben war. Die Familie zog daraufhin nach Sarehole Mill, einem Vorort von Birmingham, der zu diesem Zeitpunkt noch weitgehend von der Industrialisierung unberührt geblieben war. 
            Die folgenden vier Jahre seiner Kindheit verbrachte Tolkien in dieser ländlichen Idylle, die später zur literarischen Vorlage für das Auenland, einen Teil seiner mythologischen Welt, wurde. Hier wurde er auch zuerst mit dem Dialektwort Gamgee für Baumwolle vertraut, 
            das später zum Namen eines der Hobbit-Protagonisten in seinem Hauptwerk Der Herr der Ringe wurde. Seine Mutter, die im Jahre 1900 gegen den Willen ihrer Eltern und Schwiegereltern zur römisch-katholischen Kirche konvertierte, erzog ihre Kinder in ihrem Glauben. 
            Diese weltanschauliche Grundprägung zog sich durch Tolkiens gesamtes Leben und hatte weitreichende Auswirkungen auf sein Werk.[4]
            
            Da er sich früh an Sprachen interessiert zeigte, brachte ihm seine Mutter Grundzüge des Lateinischen, Französischen und Deutschen bei. Durch sie wurde er mit den Geschichten von Lewis Carrolls Alice im Wunderland, der Artus-Sage und den Märchenbüchern von Andrew Lang vertraut gemacht, in denen er auch zum ersten Mal von den nordischen Sagen um Siegfried und den Drachen Fafnir hörte.

Zwischen 1900 und 1902 zog Tolkien mit seiner Mutter mehrfach innerhalb Birminghams um, zunächst in den Stadtteil Moseley, dann nach King’s Heath, wo er durch die ungewohnten Namen auf den hinter dem Haus vorbeifahrenden Kohlewaggons zum ersten Mal auf das ihn ästhetisch berührende Walisisch stieß, schließlich nach Edgbaston. Da all diese Orte städtischen Charakter hatten, waren seine vom Landleben geprägten Kindertage vorbei. Hinzu kam eine Odyssee durch verschiedene Schulen: Zunächst auf der King Edward’s School angenommen, wechselte er 1902 an die St. Philips Grammar School, um dann 1903 mit einem Stipendium wieder an die King Edward’s School zurückzukehren. Dort lernte er neben den klassischen Sprachen Latein und Griechisch durch einen engagierten Lehrer auch das Mittelenglische kennen.

Am 14. November 1904 starb seine Mutter, für den Zwölfjährigen völlig überraschend, nach einem sechstägigen diabetischen Koma. Dieser frühe Tod bewirkte, dass er sich als Waise dem Glauben und der katholischen Kirche noch enger verbunden fühlte. Ebenso stärkte dieses Ereignis seine pessimistische Grundhaltung. Er sah, ganz im Sinne der Bibel (1 Joh 5,19 EU: „Wir wissen: Wir sind aus Gott, aber die ganze Welt steht unter der Macht des Bösen.“), die Welt in den Händen des Bösen. Nur in den Siegen des Guten, so seine Vorstellung, konnte dabei das Schlechte vorübergehend zurückgedrängt werden. Erlösung konnte für ihn der Mensch nur durch den Glauben an Jesus Christus und das Ewige Leben finden. Diese Einstellung wurde zum grundlegenden Tenor seines literarischen Schaffens. 
    </article>
</div>
<div>
    <h3>Studienzeit</h3>
    <article>
            Im Oktober 1911 begann Tolkien sein Studium am Exeter College in Oxford, zunächst in Classics, dem Studium der klassischen Sprachen Latein und Griechisch und ihrer Literatur, langweilte sich aber schon bald. Einzig die vergleichende Sprachwissenschaft konnte sein Interesse auf sich ziehen. Sein Professor in diesem Fach wies ihn auf das Walisische hin, dem sich Tolkien daraufhin begeistert zuwandte.

Nach seinem zweiwöchigen Sommerurlaub 1912, den er bei King Edward’s Horse, einem Kavallerieregiment, hauptsächlich im Pferdesattel verbrachte, kehrte er nach Oxford zurück. Hier begann er bald, sich mit dem Finnischen auseinanderzusetzen. Dieser Einfluss zeigte sich auch darin, dass er sein Projekt einer auf dem Gotischen aufgebauten Kunstsprache aufgab und sich stattdessen an seiner neuen Lieblingssprache orientierte. Das Ergebnis fand Jahre später als Quenya, Hochsprache der Elben, Eingang in seine mythologische Welt „Mittelerde“.

Weihnachten 1912 verbrachte Tolkien bei Verwandten, wo er nach einem verbreiteten englischen Weihnachtsbrauch als Regisseur und Hauptdarsteller ein selbst geschriebenes Theaterstück zur Aufführung brachte – eine in Anbetracht seiner späteren Abneigung gegen das Drama bemerkenswerte Tatsache. Am 3. Januar 1913, dem Tage seiner Volljährigkeit, schrieb er zum ersten Mal wieder an seine Jugendliebe Edith, musste aber erfahren, dass sie sich in der Zwischenzeit mit dem Bruder einer Schulfreundin, George Field, verlobt hatte. Nicht geneigt, seine große Liebe aufzugeben, suchte Tolkien sie daraufhin persönlich an ihrem neuen Wohnort auf, wo es ihm gelang, sie umzustimmen. Ein Jahr später, nach der Aufnahme Ediths in die katholische Kirche, fand die offizielle Verlobung statt, nach weiteren zwei Jahren, am 22. März 1916, die Hochzeit.

Unterdessen verlief auch sein akademischer Weg nicht geradlinig. Durch seine Vernachlässigung des eigentlichen Lehrstoffs zugunsten seiner zahlreichen Sprachinteressen schloss er eine Zwischenprüfung nach zwei Jahren Studium für ihn enttäuschend nur mit einem „Second“ (vergleichbar der deutschen Note „Gut“) ab. Auf Anregung seines Colleges, wo sein Interesse an germanischen Sprachen aufgefallen war, wechselte er daraufhin an das „Institut für englische Sprache und Literatur“. Dort las er im Rahmen des anspruchsvollen altenglischen Literaturkanons das Werk Christ II des angelsächsischen Dichters Cynewulf (frühes 9. Jahrhundert), eine Sammlung religiöser Dichtung. Zwei Zeilen dieses Gedichtes beeinflussten ihn nachhaltig:

    “Eala Earendel engla beorhtast
    ofer middangeard monnum sended”

    „Heil dir Earendel, strahlendster Engel,
    über Mittelerde den Menschen gesandt“

Mit middangeard oder Mittelerde ist hier die Welt der Menschen gemeint. Tolkien glaubte, dass der Name Earendel, traditionell als „Lichtstrahl“ übersetzt, auf den Morgenstern, die Venus, verweist, der mit seinem Aufgehen das Ende der Nacht und den Anbruch des Tages ankündigt. Er selbst beschrieb später die Wirkung dieser Zeilen auf sich so:

    “I felt a curious thrill, as if something had stirred in me, half wakened from sleep. There was something very remote and strange and beautiful behind those words, […] far beyond ancient English.”

    „Ich fühlte mich auf seltsame Weise beflügelt, als ob sich in mir etwas geregt habe, halb aus dem Schlaf erweckt. Da steckte etwas ungeheuer Fernes, Wundersames und Schönes hinter diesen Worten, […] weit jenseits des alten Englisch.“

– J. R. R. Tolkien

Dieser Zeitpunkt kann vorsichtig als Geburtsstunde seiner Mythologie angesetzt werden, denn schon ein Jahr später schrieb er das Gedicht The Voyage of Earendel the Evening Star, das mit den oben zitierten Zeilen beginnt und den Keim seiner Mittelerde-Mythologie bildet.

Seine weitere Studienzeit verlief ruhig; er traf sich weiterhin mit seinen Freunden vom Tea Club and Barrovian Society (T.C.B.S.), die ihn in seinen dichterischen Bemühungen unterstützen. Eine Anekdote aus dieser Zeit wirft ein bezeichnendes Licht auf die auch später noch für Tolkien charakteristische Arbeitsweise: Auf die Frage seines Freundes G. B. Smith nach dem Hintergrund seines Earendel-Gedichtes antwortet Tolkien: “I don’t know. I’ll try to find out.” (deutsch: „Ich weiß es nicht. Ich werde versuchen, es herauszufinden.“) Diese Sicht des Schreibens nicht als Neuschöpfung, sondern als Entdeckungsreise blieb für ihn sein Leben lang bestimmend. Im Jahr nach Ausbruch des Ersten Weltkrieges, in der zweiten Juniwoche 1915, schloss er sein Studium ab – diesmal mit Auszeichnung (First Class Honours). 




    </article>
</div>


</section>
<section id="zwei">
<a href="/about"><button>About</button></a>
<a href="/gallery"><button>Gallery</button></a>

</section>



</body>
</html>