 
 <div>
 
 <section id="section1"> 
     <h1></h1>
     <img id="lacanau" src="images/Photo32_29A.jpg" >    
     <img id="guide"     src="images/Niger168.jpg">
     <img id="kirsche"  src="images/Copenhague27.jpg">
     <img id="sara"    src="images/sara.jpg">
     <img id="parisplage"  src="images/parisplage.jpg">
     <img id="rio"   src="images/Rio1.jpg">
     <img id="nigercar"  src="images/Photos/Niger/Niger37.jpg">



 </section>
    

</div>