<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homePage</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>Resumen (para ponerse al día) de la isla de las tentaciones</h1>
    <img src="/img/acompañame.jpg">
    <div>
        <a href="/about-page">Vamos a ponernos al día</a>
    </div>
</body>

</html>