<div class="container">
    <div id="session-best-moment">
        <img class="background" src="/assets/img/background.jpg"></img>
        <h1>Are you ready to enter into kobe bryant's universe?</h1>
    </div>
</div>
