<div class="home-box">
  <h1 class="home-title display-4 text-center">Football Legends</h1>
  <p>Esto es una página web para una práctica de clase en Ironhack. Aquí se muestran jugadores que son leyendas del
    fútbol.</p>
</div>