<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pair programming</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to meme database</h1>
    <div>
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photogallery">Photo gallery</a></li>
      </ul>
    </div>

  </body>
</html>