<div class="home-page-content">
  <div id="main_title">
    <div class="infos-container">
      <h1 class="name">
        <a href="/" title="Name" rel="home">{{name}}</a></h1>
      <h2 class="job">{{job}}</h2>
    </div>
  </div>
</div>