<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Person "x" Fan Page</title>
    <link rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
    <header>
      <h1>Person "x" Fan Page</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
    </nav>
    <div></div>
    <section class="home">
      <article>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          alias totam obcaecati. Animi, totam! Accusamus a commodi quo libero
          tempora fugit rem, rerum neque aspernatur pariatur earum illum
          praesentium eveniet? Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>

        <p>
          Asperiores aspernatur doloremque quaerat. Cum maiores aut voluptatem,
          odio, consequuntur optio voluptatum possimus exercitationem sit quis id
          perspiciatis excepturi. Eos, magnam. Aut.
        </p>
      </article>

      <form>
        <p>Favorite Person's "X" movie</p>
        <div>
          <input type="checkbox" name="Devil wears Armani" id="" />Devil wears
          Armani
        </div>
        <div>
          <input type="checkbox" name="Nothing chilly" id="" />Nothing chilly
        </div>
        <div>
          <input type="checkbox" name="Shark and the baby" id="" />Shark and the
          baby
        </div>
      </form>
    </section>
  </body>
</html>
