<!DOCTYPE html>
<html id="image" lang="en">
<!-- {{!-- hbs is for SEO because browsers cant read JS thats why you do the same thing as on JS --}} -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Foody ♥ </title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script type="module" src="/js/client-scripts.js"></script>
</head>

<body>

    {{>nav}}


    <h1 id="title">Foody</h1>


    <footer>
        <p id="quote">Good food is good mood!! ♥ </p>
    </footer>
    {{body}}
</body>

</html>