<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Exercise - Week 4 Day 2 </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>This is the Home page</h1>
    <header>
      <a href="about">about</a>
      <a href="photogallery">photogallery</a>    
    </header>
        <div class="float">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin
            sagittis nisl rhoncus mattis rhoncus urna neque viverra. Ac turpis 
            egestas maecenas pharetra convallis posuere. Morbi tristique senectus
            et netus et malesuada fames. Porttitor eget dolor morbi non. Nibh nisl 
            condimentum id venenatis a condimentum vitae sapien pellentesque. 
            Tellus cras adipiscing enim eu turpis egestas pretium. Est ultricies
            integer quis auctor elit sed. Eleifend mi in nulla posuere sollicitudin
            aliquam ultrices sagittis orci. At tempor commodo ullamcorper a lacus 
            vestibulum sed arcu. Viverra aliquet eget sit amet tellus cras 
            adipiscing enim
          </p>
        </div>
        <div class="float">
          <p> 
            Curabitur gravida arcu ac tortor dignissim. Nunc consequat interdum 
            varius sit amet. Scelerisque mauris pellentesque pulvinar pellentesque 
            habitant morbi tristique. Morbi tristique senectus et netus et malesuada 
            fames ac. Pretium nibh ipsum consequat nisl vel pretium lectus. A 
            pellentesque sit amet porttitor. Amet mauris commodo quis imperdiet massa 
            tincidunt nunc. Praesent elementum facilisis leo vel fringilla est 
            ullamcorper eget. Et tortor consequat id porta nibh venenatis cras sed 
            felis. Ut lectus arcu bibendum at varius vel pharetra vel turpis.
          </p>
        </div>
        <div class="float">
          <p>
            Erat velit scelerisque in dictum non. Placerat in egestas erat imperdiet 
            sed euismod nisi. Phasellus faucibus scelerisque eleifend donec pretium 
            vulputate sapien nec. At erat pellentesque adipiscing commodo elit at. 
            Eleifend mi in nulla posuere. Nec ultrices dui sapien eget mi. Morbi 
            tristique senectus et netus et malesuada. Fermentum iaculis eu non diam 
            phasellus vestibulum lorem. Quam quisque id diam vel quam elementum. 
            Facilisis leo vel fringilla est ullamcorper eget. Rhoncus aenean vel 
            elit scelerisque mauris pellentesque pulvinar pellentesque. Eget nunc 
            scelerisque viverra mauris in. Pharetra diam sit amet nisl suscipit 
            adipiscing bibendum est. Commodo viverra maecenas accumsan lacus vel 
            facilisis volutpat. Etiam sit amet nisl purus in. Duis convallis 
            convallis tellus id interdum velit laoreet. 
          </p>
        </div> 
        <div class="float">
          <p>
            Erat velit scelerisque in dictum non. Placerat in egestas erat imperdiet 
            sed euismod nisi. Phasellus faucibus scelerisque eleifend donec pretium 
            vulputate sapien nec. At erat pellentesque adipiscing commodo elit at. 
            Eleifend mi in nulla posuere. Nec ultrices dui sapien eget mi. Morbi 
            tristique senectus et netus et malesuada. Fermentum iaculis eu non diam 
            phasellus vestibulum lorem. Quam quisque id diam vel quam elementum. 
            Facilisis leo vel fringilla est ullamcorper eget. Rhoncus aenean vel 
            elit scelerisque mauris pellentesque pulvinar pellentesque. Eget nunc 
            scelerisque viverra mauris in. Pharetra diam sit amet nisl suscipit 
            adipiscing bibendum est. Commodo viverra maecenas accumsan lacus vel 
            facilisis volutpat. Etiam sit amet nisl purus in. Duis convallis convallis 
            tellus id interdum velit laoreet. 
          </p>
        </div>  
  </body>
</html>
