<div class="container">
  <h1>HOME</h1>
  <div class="card text-center">
    <div class="card-header">
      Lorem fistrum pecadorrr
    </div>
    <div class="card-body">
      <h5 class="card-title">Lorem fistrum</h5>
      <p class="card-text">Lorem fistrum diodenoo ese que llega fistro no te digo trigo por no llamarte Rodrigor a wan
        papaar papaar te va a hasé pupitaa. A gramenawer caballo blanco caballo negroorl está la cosa muy malar jarl ese
        hombree a peich a peich. Quietooor pupita mamaar pupita al ataquerl caballo blanco caballo negroorl tiene musho
        peligro llevame al sircoo. Caballo blanco caballo negroorl está la cosa muy malar a wan te va a hasé pupitaa al
        ataquerl amatomaa de la pradera quietooor. A peich apetecan pecador se calle ustée tiene musho peligro quietooor
        amatomaa fistro. Diodenoo papaar papaar diodeno benemeritaar amatomaa no puedor te va a hasé pupitaa. Mamaar
        está la cosa muy malar pecador diodeno fistro. Está la cosa muy malar está la cosa muy malar va usté muy
        cargadoo papaar papaar papaar papaar a wan pupita la caidita.</p>
      <img
        src="https://ep01.epimg.net/cultura/imagenes/2019/03/09/television/1552158718_530827_1552160702_noticia_normal.jpg"
        alt="">
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>