<div class="main">
    <div id='title-side'>
        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

        <h1>Wes Anderson</h1>

    </div>

    <div id="video">
       <iframe width="360" height="215" src="https://www.youtube.com/embed/nqfRmceGwUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

