<div class = "container">
    <b>INTRODUCCION</b>
</div>
<div>
    Una web creada por un fan de Marvel.
    En la pestaña About podemos ver los creadores de Marvel
    En la pestaña Gallery podemos ver varias imagenes de los superheroes mas destacados
</div>

