
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://i.pinimg.com/originals/6b/10/e4/6b10e4fe8ac0c9dbaef09eaea0199d34.jpg" class="d-block w-100" alt="Studio Ghibli logo">
    </div>
    <div class="carousel-item">
      <img src="https://i2.wp.com/www.bitme.gg/wp-content/uploads/2020/01/Ya-podras-ver-peliculas-de-Studio-Ghibli-por-streaming-en-Mexico-portada-.jpg?resize=1280%2C720&ssl=1" class="d-block w-100" alt="Ghibli poster">
    </div>
    <div class="carousel-item">
      <img src="https://media.metrolatam.com/2018/01/23/studioghibli-1600x800.jpg" class="d-block w-100" alt="Studio Ghibli poster">
    </div>
  </div>
</div>

<p><strong>Studio Ghibli, Inc.</strong> is a Japanese animation film studio based in <em>Koganei, Tokyo, Japan</em>. The studio is best known for its anime feature films, and has also produced several short films, television commercials, and one television film. It was founded on 15 June 1985, after the success of <em>Nausicaä of the Valley of the Wind</em> (1984), with funding by Tokuma Shoten. Studio Ghibli has also collaborated with video game studios on the visual development of several video games.</p>