<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Canine Campers</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<nav>
    <div class = "left-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/image-gallery">Friends</a></li>
    </ul>
    </div>
    <div class = "right-nav">
    <img src="/images/dog-icon.png" class="dog-icon" alt=""><p><em>Proudly sponsored by Canine Campers of America</em></p>
    </div>
</nav>
<div class = "header">
<h1>Just a canine camping enthusiast, looking for other canines to camp with.</h1>
</div>
<div class= "home-row">
<img src="/images/dog-camp.jpg" alt="">
<div class="column">
<h2 class= "hi"><em>Hi, I'm Jack! Welcome to my dog blog...</em></h2>
<button type="button" class="button"><a href="/about">MORE ABOUT ME!<i class="fas fa-mouse-pointer cursor"></i></a></button>
<button type="button" class="button"><a href="/image-gallery">SEE PICTURES OF MY BEST FRIENDS<i class="fas fa-mouse-pointer cursor"></i></a></button>
</div>
</div>
<h2 class="hi">Do you love to swim, hike, eat, run, jump and play? While...wait for it...CAMPING?!!
    <br>Join me at any one of my favorite places to do just that. <br><br><em>Click an image below to learn more:<em></h2>
<div class="row">
    <div class = "container">
    <img src="/images/campsite1.jpg" class="camp-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/campsite2.jpg" class="camp-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/campsite3.jpg" class="camp-image" alt="">
    </div>
</div>

<div class="row">
    <div class = "container">
    <img src="/images/campsite4.jpg" class="camp-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/campsite5.jpg" class="camp-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/campsite6.jpeg" class="camp-image" alt="">
    </div>
</div>
<div class="row">
<button type="button" class="button2"><a href="http://www.google.com">VIEW MORE AMAZING LOCATIONS<i class="fas fa-mouse-pointer cursor"></i></a></button>
</div>
</body>
</html>