<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eat & Drink Berlin</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Nav -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="homepage.html">Eat & Drink Berlin</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="gallery.html"
              >Photos <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lists.html#brunch">Brunch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lists.html#coffee">Coffee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lists.html#asian">Asian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lists.html#pizza">Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lists.html#bars">Bars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Photos</a>
          </li>
        </ul>
        <span class="navbar-text">
          <!-- A curated list of my favorite spots. -->
        </span>
      </div>
    </nav>

    <div id="content">
      <div id="intro">
        <p>Hi there 👋🏻</p>
        <p>
          Welcome to a curated collection of my favorite spots to eat & drink
          around in Berlin. Probably mostly in Prenzlauer Berg or Mitte though,
          because I'm lazy and never really travel too far out of my
          neighborhood. Nonetheless - hope you enjoy!
        </p>
        <a href="lists.html">
          <button type="button" class="cta">View lists</button></a
        >
      </div>
    </div>
  </body>
</html>
