{{> header}}

<main class="container py-5">
  <p class="">
    Akira Toriyama (鳥山 明 Toriyama Akira?, Nagoya, 5 de abril de 1955) es un dibujante de manga y diseñador artístico. Es conocido mundialmente, en el mundo del anime, por sus obras Dr. Slump y Dragon Ball, y, en el mundo de los videojuegos, por el diseño de personajes de las franquicias Dragon Quest, Chrono Trigger y Blue Dragon.
  </p>
  <img src="https://media.giphy.com/media/eebmNnxxtSNiw/giphy.gif" class="d-block m-auto py-3">

</main>