<h1>
    Welcome on my website dear visitor !
</h1>

<section class="intro">As I am currently involve a in at Web Development Bootcamp, this website has to interest for me : buil my online resume and test my developping skills</section>
<img src="/images/fred.png" alt="picture-frederic-chhean" class="fch">

<div class="button-home-container">
    <a href="/experience">PROFESSIONAL EXPERIENCE</a>
    <a href="/education">EDUCATION BACKGROUND</a>
</div>
