<h1>All Recipes</h1>

<p>This site is intented to replace <a href="https://www.recettes-cocktails.fr">https://www.recettes-cocktails.fr</a>
    that I created 15 years ago using PHP and MYSQL.
    I'll use NodeJS, Express and MongoDB.</p>


<p>Random recipe: <a href="/recipe">Mojito</a></p>

<ul class="cocktails list">
    <li class="cocktail item"><a href="/recipe"><img src="/images/mojito.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/acapulco.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/b-52.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/barbotage.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/bellini.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/black-russian.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/black-velvet.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/bloody-mary.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/blue-champagne.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/blue-hawaiian.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/blue-kamikaze.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/blue-lagoon.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/bora-bora.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/bronx.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/buck-s-fizz.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/caipirinha.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/caipiroska.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/cendrillon.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/champagne-cocktail.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/coconut-tequila.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/cosmopolitan.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/cuba-libre.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/daiquiri-fraise.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/daiquiri.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/fleur-d-amour.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/florida.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/frozen-daiquiri.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/frozen-margarita.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/frozen-strawberry.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/fruits-des-iles.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/gibson.jpg" alt=""></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/gimlet.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/gin-fizz.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/gin-tonic.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/grog.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/harvey-wallbanger.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/honeymoon.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/irish-coffee.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/kamikaze.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/kir-royal.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/long-island-iced-tea.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/mai-tai.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/manhattan.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/margarita-fraise.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/margarita.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/marquisette.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/martini-dry.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/mimosa.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/mint-julep.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/mojito-fraise.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/mojito-framboise.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/mojito-royal.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/negroni.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/paradise.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/photo-non-disponible.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/pick-me-up.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/pina-colada.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-antillais.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-aux-fraises.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-aux-fruits.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-coco.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-ete.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-exotique.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/punch-lorrain.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/pussyfoot.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/red-lion.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/rob-roy.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/rusty-nail.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/sangria-blanche.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/sangria-sans-alcool.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/sangria.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/sex-on-the-beach.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/shirley-temple.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/singapore-sling.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/soupe-angevine.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/soupe-de-champagne.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/tequila-paf.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/tequila-straight.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/tequila-sunrise.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/ti-punch.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/virgin-mary.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/virgin-mojito.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/virgin-pina-colada.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/vodka-martini.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/whisky-old-fashioned.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/whisky-sour.jpg"></a></li>
    <li class="cocktail item"><a href="/random"><img src="/images/zombie.jpg"></a></li>
</ul>