<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IronPhoto</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to IronPhoto</h1>
    <img src="/images/homephoto.jpeg" />
    <a href="/gallery">Visit Gallery</a>
    <a href="/about">About Us</a>

    <div class="popup" onclick="myFunction()">
      Click here to Follow Us!
      <span class="popuptext" id="myPopup">Thank you!!!</span>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>