<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="./home.html" class="brand-logo"><img src="images/logo.png" alt="logo-techcrunch" width="250" height="50"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="menu-links" href="/">Home</a></li>
                    <li><a class="menu-links" href="/about">About</a></li>
                    <li><a class="menu-links" href="/news">News</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col s9">
                    <h1>Branded Content, Digital Media and Events</h1>
                    <p class="header-p">TechCrunch offers partners an unsurpassed platform to reach passionate tech audiences in person and online. TechCrunch hosts events around the globe that combine digital media and live activations, as well as many media-only specials centered on momentous tech events. We create influential content that engages readers and establishes your brand as an industry thought leader.  </p>
                    <div>
                        <button class="btn btn-header">TechCrunch Brand Studio</button>
                        <button class="btn btn-header">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row f-row">
                <div class="col s8">
                    <ul class="footer-list">
                        <li>TechCrunch</li>
                        <li>Privacy Policy</li>
                        <li>About Our Ads</li>
                        <li>Code of Conduct</li>
                        <li>Terms of Service</li>   
                    </ul>
                </div>
            </div>

            <div class="row f-row">
                <div class="col s8">
                    <p class="footer-p">© 2013-2019 Verizon Media. All rights reserved. Powered by WordPress VIP. Fonts by TypeKit.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>