<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="first">
    <h1>Welcome to my small page</h1>
    <p>En esta pagina, puedes aprender un poco mas acerca de Arturo Araujo</p>
    <p>Si quieres saber mas de mi</p>
    <button role="link" onclick="window.location='/about'">Go to About Page</button>
    <p>Si quieres ver imagenes sobre mi</p>
    <button role="link" onclick="window.location='/gallery'">Go to Gallery Page</button>
  </div>



  <p></p>
</body>

</html>