<div class="home-box">
  <p>Esto es una página web para una práctica de clase en Ironhack. Aquí se muestran jugadores que son leyendas del
    fútbol.</p>
  <a class="btn btn-primary" href="/players" role="button">Ver jugadores</a>
</div>