 
 <div>
 
 <section id="section1"> 
     <h1></h1>
     <img id="lacanau" class="photoHome" src="images/Photo32_29A.jpg" >    
     <img id="guide"   class="photoHome"  src="images/Niger168.jpg">
     <img id="kirsche" class="photoHome" src="images/Copenhague27.jpg">
     <img id="sara"  class="photoHome"  src="images/sara.jpg">
     <img id="parisplage" class="photoHome" src="images/parisplage.jpg">
     <img id="rio"  class="photoHome" src="images/Rio1.jpg">
     <img id="nigercar" class="photoHome" src="images/Photos/Niger/Niger37.jpg">



 </section>
    

</div>