<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>I Am Iron Man</title>
</head>
<body>
  <div id="wrapper">
    <figure class="top-picture">
      <img src="/images/ironman.jpg" alt="Iron Man Picture" />
    </figure>
    <header class="header">
      <h1>I Am Iron Man</h1>
    </header>
    <div class="about">
      <h2>About</h2>
    </div>
    <div class="gallery">
      <h2>Gallery</h2>
    </div>
  </div>
  <script src="/js/scripts.js"></script>
</body>
</html>