{{> homeParcial}}
{{#each club}}
{{#with this}}
{{!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{rings}} campeonatos conseguidos</h5>
    <p class="card-text">{{name}} es el nombre de la franquicia</p>
    <p class="card-text">{{city}} es la ciudad a la que pertenece la franquicia</p>
  </div>
</div> --}}
{{/with}}
{{/each}}