<div id="illustrationContainer">
  <div id="headerimg">
    <img src="/img/la-baignade-header.jpg" alt="header">
  </div>
  <h2>Pattern Design</h2>
  <p>
    Hello I’m Anaïs and I learned pattern design last year… by myself!
    <br>And here are the online resources I used to learn.
    <br>Have fun!
  </p>
  <div id="resources">
    <h3>Resources</h3>
    <div class="resourcesContainer">
      <div class="resourcesimg">
        <img src="/img/skillshare2-380x380.png" alt="skillshare">
      </div>
      <div class="resourceslist">
        <h4 class="resourcesTitle">Skillshare</h4>
        <ul id="skillshare">
          <li class="resource"> <a target="_blank"
              href="https://www.skillshare.com/classes/Intro-to-Surface-Pattern-Design-Learn-Adobe-Illustrator/1614197409?via=browse-rating-pattern-design-layout-grid">Intro
              to Surface Pattern Design</a></li>
          <li class="resource"><a target="_blank"
              href="https://www.skillshare.com/classes/Surface-Pattern-Design-2.0-Design-a-Collection-Start-a-Career/1603696556?via=browse-rating-pattern-design-layout-grid">Surface
              Pattern Design 2.0</a></li>
          <li class="resource"><a target="_blank"
              href="https://www.skillshare.com/classes/Pattern-Play-Combining-Illustrator-and-Photoshop/201491275?via=browse-rating-pattern-design-layout-grid">Pattern
              Play</a></li>
          <li class="resource"><a target="_blank"
              href="https://www.skillshare.com/classes/Advanced-Techniques-in-Surface-Pattern-Design/1650160370?via=user-profile">Advanced
              techniques in Surface Patern Design</a></li>
          <li class="resource"><a target="_blank"
              href="https://www.skillshare.com/classes/Master-Color-with-the-Recolor-Artwork-Tool-in-Adobe-Illustrator/2121437985?via=user-profile">Master
              color with recolor artwork</a></li>
        </ul>
      </div>
    </div>
    <div class="resourcesContainer">
      <div class="resourceslist">
        <h4 class="resourcesTitle">Illustrators</h4>
        <ul id="illustrators">
          <li class="resource"><a target="_blank" href="https://www.skillshare.com/user/dmierzwinski">Dylan
              Mierzinski</a></li>
          <li class="resource"><a target="_blank" href="https://bonniechristine.com/">Bonnie Christine</a></li>
          <li class="resource"><a target="_blank" href="https://www.skillshare.com/user/elizabetholwen">Elizabeth
              Olwen</a></li>
          <li class="resource"><a target="_blank" href="https://www.collectionmidi.com/">Collection Midi</a></li>
          <li class="resource"><a target="_blank"
              href="https://www.youtube.com/channel/UCTKMsD4x7aU3lMMdnrEYyFg">Ectomorphe</a></li>
        </ul>
      </div>
      <div class="resourcesimg">
        <img src="/img/button-2-380x380.png" alt="artist">
      </div>
    </div>
    <div class="resourcesContainer">
      <div class="resourcesimg">
        <img src="/img/IMG_9207-380x380.jpg" alt="tools">
      </div>
      <div class="resourceslist">
        <h4 class="resourcesTitle">Extras</h4>
        <ul id="extras">
          <li class="resource"><a href="https://studiocyme.com/fr/">Studio Cymé</a></li>
          <li class="resource"><a href="https://www.skillshare.com/browse/procreate">Adobe Illustrator tutorials</a>
          </li>
          <li class="resource"><a href="https://www.premierevision.com/fr/">Première Vision</a>
          </li>
          <li class="resource"><a href="https://www.skillshare.com/browse/procreate">Procreate tutorials</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>