<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/imgStyles.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <h1>Gallery</h1>
    <div class="bolas">
      <div><img class="bola1" src="bola1.png" /></div>
      <div><img class="bola2" src="bola2.png" /></div>
      <div><img class="bola4" src="bola4.png" /></div>
    </div>
    <button><a href="index">Back</a></button>
    <script>
      alert("Choose a Ball. Well, it's fake xD");
    </script>
  </body>
</html>
