<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Express basic site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheet/styles.css" />
    <script src="app.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <div class="images">
        <img src="images/es.jpg" alt="Ed Sheeran">
        <img src="images/es1.jpg" alt="Ed Sheeran">
        <img src="images/es2.jpg" alt="Ed Sheeran">
        <img src="images/es3.jpg" alt="Ed Sheeran">
        <img src="images/es4.jpg" alt="Ed Sheeran">
        <img src="images/es5.jpg" alt="Ed Sheeran">
    </div>
</body>
</html>