<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Canine Campers</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<nav>
    <div class = "left-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/image-gallery">Friends</a></li>
    </ul>
    </div>
    <div class = "right-nav">
    <img src="/images/dog-icon.png" class="dog-icon" alt=""><p><em>Proudly sponsored by Canine Campers of America</em></p>
    </div>
</nav>

<div class = "header">
<h1>My canine camping adventures began in 2010!</h1>
</div>

<div class="home-row">
    <img src="/images/jack-crop.png" class="jack-crop" alt="">
    <h2>8 years strong, we are now a united front, and even have a Facebook group for "Canine Campers of America".</h2>   
</div>

<h2 class="hi">Enjoy pictures of some friends I have made along the way!</h2>
<div class="row">
    <div class = "container">
    <img src="/images/dog1.png" class="dog-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/dog2.jpg" class="dog-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/dog3.jpg" class="dog-image" alt="">
    </div>
</div>

<div class="row">
    <div class = "container">
    <img src="/images/dog4.png" class="dog-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/dog5.jpg" class="dog-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/dog6.jpg" class="dog-image" alt="">
    </div>
</div>

<div class="row">
    <div class = "container">
    <img src="/images/dog7.jpg" class="dog-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/dog8.jpg" class="dog-image" alt="">
    </div>
    <div class = "container">
    <img src="/images/dog9.jpg" class="dog-image" alt="">
    </div>
</div>
</body>
</html>