<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>photo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-photo">
    <div class="photo-main">
    <h1> Photo Album</h1>
    <div class="img-1"></div>
        <div class="img-2"></div>
        <div class="img-3"></div>

</div>
   <footer class="img-footer">
       <button> <a href="/home-page">See home page</a></button>
       <button> <a href="/bio">See Bio page</a></button>
   </footer>
</body>
</html>