<h1>Steve Jobs</h1>
<p>Bienvenido al sitio sobre el Co-fundador de Apple y su historia</p>

<div>
  <img src="" alt="">
</div>

<h3>Peliculas en su honor</h3>

<section>

  <div class="movie-box">
    <img src="" alt="">
    <p id="yellow">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo tempora, culpa ducimus quas nisi labore deserunt officiis fugit mollitia fuga, enim dolorum hic itaque. Sunt sed quam optio magnam laudantium culpa illum voluptates consectetur nulla maiores, quasi soluta! Quaerat eius dolor, tenetur autem reprehenderit minus architecto minima adipisci quibusdam soluta.</p>
  </div>

  <div class="movie-box">
    <img src="" alt="">
    <p id="yellow">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem id illum, velit sapiente enim accusamus libero qui reprehenderit doloribus corrupti perspiciatis dolores mollitia ipsum quibusdam asperiores minima ea architecto blanditiis suscipit atque. Nihil aut sed quis dicta ratione blanditiis dolorem aperiam quasi, placeat minima ducimus laudantium mollitia delectus magni ut?</p>
  </div>

</section>

