
<div class="main-content-home">
    <div class="main-wrapper">
        <h3>Explore the pages in this application</h3>
        <p><strong><a href="/about">About</a></strong> page gives information about Express.js</p>
        <p><strong><a href="/gallery">Gallery</a></strong> page shows a list of images which got added to the page using Express.js</p>
      <img src="https://devopedia.org/images/article/157/3299.1551338445.png" alt="express process">
      <a href="https://devopedia.org/express-js">Detailed explanation</a>
    </div>
</div>

