<section>

    {{#if isMorning}}
      <h1>Good morning!</h1>
      {{else if isAfternoon}}
      <h1>Good afternoon!</h1>
      {{else}}
      <h1>Good evening!</h1>
      {{/if}}

    
      Welcome to a website about wonderful creatures: <br>
      <h2>{{{variable1}}}</h2>
      
      <p>
        There are pictures of cute dogs in the gallery. That's about it for now. <br>
        Thanks for visiting! Have a nice day!
      </p>
  
  </section>
