<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>home page</title>
  <link rel="stylesheet" href="style.css">
  <div class="nav-bar">
  <span><h1></h1></span>
    <ul>
      <li><a href="index.hbs">Home</a></li>
      <li><a href="about.hbs">About</a></li>
      <li><a href="gallery.hbs">Contact</a></li>
    </ul>
</div>

</head>
<body>
 
 <header class="masthead">
  <h1 class="masthead-heading">Home page</h1>
  <p class="masthead-intro"></p>
</header>
<section class="intro">
  <h1>Intro</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime necessitatibus, voluptates dolorum assumenda beatae vero dolores corporis vel ipsa, tenetur rem asperiores sequi, praesentium ratione quae unde vitae! Maiores, officia.</p>
</section>
<section class="where">
    <img src="https://media.giphy.com/media/kyLYXonQYYfwYDIeZl/source.gif">
  <h1>Where I'm From</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta dolorum modi eaque, provident quasi distinctio suscipit officiis molestiae minima voluptates deleniti expedita adipisci atque fugiat explicabo? Nihil maiores dolor maxime.</p>
</section>

<footer class="content-footer">
 

</footer>
</body>
</html>
