<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Best Street Art</title>
  <script src="/scripts/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/styles.css">
</head>
<body>
  
  <header>
    <nav>
      <ul>
        <li><a href="views/about.html"> About </a></li>
        <li><a href="views/gallery.html"> Gallery</a></li>
        <li>Inspiration</li>
        <li>Submissions</li>
        <li>Buy our prints</li>
      </ul>
  </nav>
  </header>

  <section class="hero">
    <article class="heroLeft">
      <h2>Bienvenido a nuestra web sobre fotografía de calle.</h2>
      <p>Te animamos a echar un vistazo a nuestra galleria o nuestro about us, las únicas partes funcionales de la página.</p>
    </article>
    <img id="imageMain" class="imagenMain" src="../images/main.jpg" alt="">
  </section>
  <section></section>
  <section></section>


</body>
</html>