<div class="container-short">

  <h2>Lorem ipsum dolor sit amet.</h2>

  <p class="text-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni minus id quod. Voluptas veniam perspiciatis laborum eligendi, laboriosam, exercitationem iure recusandae aspernatur optio, reiciendis perferendis eveniet? Inventore, aspernatur ratione! Quia.Incidunt dolorem dolore adipisci non maxime veritatis, libero voluptates! Reiciendis accusamus commodi corporis sunt deleniti, aliquam saepe ullam corrupti adipisci itaque hic deserunt nam animi blanditiis id perspiciatis, aperiam labore.</p>

  <div class="img-box">
    <img src="/static/img/img-home.jpg" alt="real valladolid" title="real valladolid">
  </div>

</div>