<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina de bienvenida</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Bienvenid@s a nuestra página</h1>

    <!-- Nunca incluir el archivo en un enlace, sólo el ENDOPINT -->
    <p>¿Quieres saber algo sobre <a href="/about">nosotros</a>?</p>

    <p>¿Quieres saber algo sobre <a href="/nino">nino</a>?</p>

    <p>PINCHAA AQUIII!!! <a href="/baile">Y VERAS UN GRAN BAILE</a></p>

    <img src="/images/meme.jpg" />
</body>

</html>