<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Test</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>How to make an Ironhacker happy?</h1>

    <!-- Nunca incluir el archivo en un enlace, sólo el ENDOPINT -->
    <p>If you don`t know, <a href="/katas">here</a> we can show you how!</p>
    <p>Don't be afraid <a href="/memes">here</a> we have another option for you.</p>
</body>

</html>