<div id="mainContainer">
  <div id="header">
    <h1>Rose Pastel</h1>
  </div>
  <h2>Pattern Design</h2>
  <p>
    Pattern design or the art of drawing repeat motifs.
    <br>Ex fuga vitae quae id officia doloremque esse magnam, dolorem dolores voluptates.
  </p>
  <div id="articles">
    <article>
      <div class="articleimg">
        <a href="/collectionvacancesalamer">
          <img src="/img/les-parasols.jpg" alt="les parasols"></a>
      </div>
      <h4>Vacances à la mer</h4>
      <p>Discover patter design collections.</p>
    </article>
    <article>
      <div class="articleimg">
        <a href="/collectionjardindenfance">
          <img src="/img/les-ortensias.jpg" alt="les ortensias">
        </a>
      </div>
      <h4>Jardin d'enfance</h4>
      <p>Discover patter design collections.</p>
    </article>
    <article>
      <div class="articleimg">
        <a href="/illustration"><img src="/img/tips.jpg" alt="tips"></a>
      </div>
      <h4>Tips</h4>
      <p>Want to learn pattern design?</p>
    </article>
  </div>
</div>