
  <div class="main-container">
      <nav class="nav">
        <a href="/about">About</a>
        <a href="/more">Gallery</a>
      </nav>
    <h1>Hello, stranger, Stay a while and Learn about CSS Grid </h1>
      <img src="../images/hipster-wolf.png" alt="wolf" class="wolf">
    <div class="main-grid-container">
      <div class="main-use">
        <p>
          As per caniuse.com CSS Grid Layout (level 1) Method of using a grid concept to lay out content,
          providing a mechanism for authors to divide available space for layout into columns and rows 
          using a set of predictable sizing behaviors. Includes support for all grid-* properties and 
          the fr unit.
        </p>
        <p>
          Supported by 92.03% of users including ms-edge, firefox, chrome, safari, opera and even 
          IE(partial with the prefix -ms-)
        </p>
          <p>
            Flexbox centers the content inside the div, while Grid centers divs inside the grid-cells
          </p>
      </div>  
      <div class="bounce" >No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>
      <div class="bounce">No margin, no padding</div>

    </div>

  </div>
