<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <script src="js/functions.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <header class="index">
        <div class="intro">
            <h1>MongoDB Atlas</h1>
            <h2>Deploy a fully managed cloud database in minutes</h2>
            <p>Whether you’re just kicking off a project or scaling across the world to power the next global
                phenomenon, MongoDB Atlas has you covered.</p>
        </div>
        <div class="index-img">
            <img src="images/header-img.png">
        </div>
    </header>
    <form>
        <input type="text" placeholder="Email Address">
        <button type="button" id="logIn">Get started free</button>
    </form>
    <div id="logInOk">Registro Completado</div>
</body>

</html>