<div id="mainContainer">
  <div id="header">
    <h1>Rose Pastel</h1>
  </div>
  <h2>Pattern Design</h2>
  <p>
    Pattern design or the art of drawing motifs.
    <br>Discover my works and some tips to learn it.
  </p>
  <div id="articles">
    <article>
      <div class="mobile-home">
        <a href="/collectionvacancesalamer">
          <img src="/img/les-parasols.jpg" alt="les parasols"></a>
      </div>
      <div class="articleimg">
        <a href="/collectionvacancesalamer">
          <img src="/img/les-parasols.jpg" alt="les parasols"></a>
      </div>
      <h4>By the sea</h4>
      <p>Discover this pattern collection.</p>
    </article>
    <article>
      <div class="mobile-home">
        <a href="/collectionjardindenfance">
          <img src="/img/les-ortensias.jpg" alt="les hortensias"></a>
      </div>
      <div class="articleimg">
        <a href="/collectionjardindenfance">
          <img src="/img/les-ortensias.jpg" alt="les hortensias">
        </a>
      </div>
      <h4>Garden Party</h4>
      <p>Discover this pattern collection.</p>
    </article>
    <article>
      <div class="mobile-home">
        <a href="/illustration">
          <img src="/img/tips.jpg" alt="tips"></a>
      </div>
      <div class="articleimg">
        <a href="/illustration"><img src="/img/tips.jpg" alt="tips"></a>
      </div>
      <h4>Tips</h4>
      <p>Want to learn pattern design?</p>
    </article>
  </div>
</div>