<div class="container-home">
    <h1>Discover Mexico</h1>
    <p>Everything you can imagine is possible in Mexico. Explore geographically or by category activities and live
        Mexico your way.</p>
</div>

<section id="intro">
    <h4>WHY GOING TO MEXICO ?</h4>
    <hr>
    <p>Mexico is one of the year’s hottest destinations, what with its secret island escapes, Caribbean coastline and
        cosmopolitan capital city, as well as its thriving restaurant scene and quirky colonial towns that are ideal for
        day
        trips. However, if you’re still undecided on why exactly you should stop by this often-misrepresented North
        American
        country, here are a few recommendations and pictures that should convince you !</p>
</section>

<section id="activities">
    <h4>THE BEST PLACES TO VISIT</h4>
    <hr>
    <div class="container-places">
        <div class="item-line">
            <img src="../images/archeological/tulum.jpeg" alt="tulum">
            <div class="yellow">
                <h5>Tulum</h5>
                <p>Spectacular Mayan ruins overlooking the warm waters of the Caribbean Sea</p>
            </div>
        </div>
        <div class="item-line">
            <div class="green">
                <h5>Teotihuacan</h5>
                <p>Teotihuacán was once the largest city in the pre-Colombian Americas. Teotihuacán is a UNESCO World
                    Heritage Site and the most-visited archaeological site in Mexico</p>
            </div>
            <img src="../images/archeological/teotihuacan.jpeg" alt="teotihuacan">
        </div>
        <div class="item-line">
            <img src="../images/wonders/canyon-sumidero.jpg" alt="canyon sumidero">
            <div class="yellow">
                <h5>Canyon del Sumidero</h5>
                <p>Near-vertical walls rise more than 2,500 feet (800 meters) overhead. A wide river slowly snakes along
                    the
                    valley below. Monkeys, crocodiles, and birds of all sorts can be spotted there.</p>
            </div>
        </div>
        <div class="item-line">
            <div class="green">
                <h5>Cenotes</h5>
                <p>the Palacio De Bellas Artes is particularly well known for its murals by artists such as Diego
                    Rivera,
                    David Siqueiros, Rufino Tamayo and José Clemente Orozco.</p>
            </div>
            <img src="../images/wonders/cenotes.jpeg" alt="cenotes">

        </div>
        <div class="item-line">
            <img src="../images/culture/casa-azul.jpg" alt="casa azul">
            <div class="yellow">
                <h5>Casa Azul</h5>
                <p>Frida Kahlo's family home, the Casa Azúl, or "Blue House" is where the Mexican artist lived most of
                    her
                    life.It is not only a testament to her life but also a fine example of early 20th Century Mexican
                    architecture.</p>
            </div>
        </div>
        <div class="item-line">
            <div class="green">
                <h5>Hierve el agua</h5>
                <p>Hierve el Agua is a set of beautiful pools and petrified natural formations close to Oaxaca.This
                    place is
                    one of two calcified waterfalls in the world the other one is the most famous one Pamukkale in
                    Turkey.
                </p>
            </div>
            <img src="../images/wonders/hierve-el-agua.jpeg" alt="hierve el agua">

        </div>
    </div>
</section>

<section id="gallery">
    <h4>IMAGE GALLERY</h4>
    <hr>
    <div class="container-gallery">
        <img src="../images/beaches/cabo.jpeg" alt="cabo-beach">
        <img src="../images/culture/church.jpeg" alt="church-mexico">
        <img src="../images/wonders/cenotes.jpeg" alt="cenotes" class="slide-fwd-center">
        <img src="../images/beaches/balandra-lapaz.jpg" alt="balandra-beach" class="slide-fwd-center" s>
        <img src="../images/archeological/palenque.jpeg" alt="palenque">
        <img src="../images/tradition/calaveras.jpeg" alt="calaveras">
        <a href="/gallery">View More</a>
    </div>
</section>