<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bienvenid@s</title>
</head>

<body>
    <h1 class="title">La vida de un futuro "Full-Stack-web-developer" en IRONHACK
    </h1>
    <p>¡Venga! toca sobre el icono de Ironhack si quieres saber de que hablamos.</p>
    <div>
        <a href="https://www.ironhack.com/es "> <img src="images/ironhack logo.svg" alt="alumnos "></a>
    </div>
    <div>
        <button id="botonWindowOpen">Abreme si quieres salsa</button>
        <button id="botonWindowClose">Cierrame si estas satisfecho</button>
    </div>



    <p> Algo sobre nosotros, <a href="/nosotros">sigueme</a></p>
    <p>mira nuestras actividades <a href="/aqui"> de nuestro dia a dia </a></p>


    <script src="js/script.js"></script>
</body>

</html>