<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ModJo</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/about-page" class="know">Wanna know more?</a>
      <a href="/gallery-page" class="see">Wanna see more?</a>
    </nav>

    <section>
      <h1>Hello, I'm Modjo!</h1>
      <p>
        But you can also call me ModJojojo, Modj, Modjozozaur, Modjijo,
        Mojito... My human never stop finding new ones!
      </p>
      <img src="/images/showin.webp" />
    </section>
  </body>
</html>
