<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oh My Wine!</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h1>Your Wine Place</h1>
  <a href="/gallery">Wine Pictures</a>
  <a href="/about">About</a>
</body>
</html> 