<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>landing page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <p>This is the landing page of {{username}}<br /></p>
  <a href="/about"><text>click here for about page</text></a>
  <a href="/photo-gallery"><text>oh look it's a photo gallery</text></a>
  <p>Look, these are classes:</p>
  <ul>
    {{#each classes}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <img src="/images/classes.jpg">
</body>

</html>