<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Welcome to yellow yoga!</h3>
            <p>We are a <strong>“Solidarische Yogagemeinschaft”/ “Community Supported Yoga Project”</strong> and you are
                an important
                part of
                it!
            </p>
            <p>
                We offer drop-in yoga classes and courses – taught by experienced yoga teachers, and priced according to
                your
                income. Intense, affordable and regular yoga practice in two studios – one in Kreuzberg (Gelber Raum,
                Mariannenstr.
                48), and one in Neukölln (Studio Sonne, Sonnenallee 67).
            </p>

            <div class="row">

                <div class="col-12">
                    <h4>Our philosophy</h4>

                    <h5>free. open.</h5>
                    <p> No contracts, but freedom: our drop-in system allows you to practice yoga whenever you want.</p>

                    <h5>fair. safe.</h5>
                    <p> Prices pay respect to varying financial backgrounds and they rely on the honesty of each yogi.
                        Teachers
                        are
                        well-trained professionals with many years of experience. We pay them fair wages.</p>

                    <h5>international. tolerant. communitarian.</h5>
                    <p> Our yoga teachers come from all over the world, and so do our yogis. Yoga is taught in different
                        languages so
                        everyone can join.</p>

                    <h5>warm. family-like.</h5>
                    <p>We know each other. We get to know each other even better through intensive challenges, workshops
                        and
                        retreats. We
                        organize charity events and support social projects in the kiez and all over the world.</p>

                    <h5>committed. dedicated.</h5>
                    <p> We wish our yogis to find a deep regular practice. We provide long-term courses, programs and
                        retreats
                        with fixed
                        groups, so yellow yogis can establish a routine, deepen their practice and get more advanced.
                    </p>

                    <h5>caring. sustainable. conscious.</h5>
                    <p> We care about you. But we respect your data (no profiles or check-in cards). We think the
                        protection
                        of
                        the
                        environment and sustainability are super-important.</p>

                    <h5>non-dogmatic. lively.</h5>
                    <p> You can try many different yoga styles at yellow yoga. You are your own guru. Yoga can be fun
                        and
                        light-hearted.</p>

                    <h5>pure. simple.</h5>
                    <p> It’s about yoga. No shop. No frills. Nothing else.</p>

                    <h5>experimental. different..</h5>
                    <p> Many classes/-courses with specific topics e.g. pranayama, yoga philosophy, meditation, body
                        work,
                        voice
                        training,
                        energy work, and movement training. Try these out yourself and get to know yoga from a different
                        perspective or
                        discover a different approach to it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>







—
Impressum
Datenschutz</p>