<% include partials/header %>
<section>
<div class="header">
  <h1>
    Need For Speed
  </h1>

  <h2>Let The Speed Begin</h2>
  <aside class="quote">
    <i>"Racing Is a Matter of Spirit. Not Strength”</i>
    <p>trol trol trol</p>
  </aside>
  </div>
</section>

  <section class="col col-3 dark-background" >
  <div class="footer">
      <h3 id ="contact">Contact Information</h3>
      <address class ="address">
        
         Racing A.inc <br>722 N. East Kensington Road,<br>90019 Los Angeles,<br>California<br>+33 (0) 619 193 088
         
        </address>
        <ul>
          <li><a href="https://twitter.com/barstoolsports?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter.</a></li>
          <li><a href="https://www.facebook.com/zuck">Facebook.</a></li>
          <li><a href="https://instagram.com/therock?utm_source=ig_profile_share&igshid=1usxipvnt1jam">Instagram.</a></li>
        </ul>
</div>
</section>
<section class="dark-background">
<div class="container map-frame dark-background">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12154.94602995316!2d-3.6982669!3d40.3925321!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1ab6f65bad0a94c!2sIronhack!5e0!3m2!1sen!2ses!4v1542137151958" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="clearfix">

  </div>
</section>  

<% include partials/footer %>