<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Tom Hanks</title>
</head>
<body>
  <h1>This is Tom Hanks</h1>
  <figure>
    <img src="/Tom_Hanks_2014.jpg">
    <figcaption>He is looking good</figcaption>
  </figure>

<footer>
  <a href="/about">About Tom Hanks</a>
  <a href="/pictures">Pictures</a>
</footer>
</body>
</html>