<div class="index-container d-flex flex-column align-items-center">
    <img  src="image/lim1.jpg" height="10%">

    <div>
        <a type="button" class="btn btn-primary btn-lg button" href="/about">ABOUT</a>
        <a type="button" class="btn btn-secondary btn-lg button" href="/gallery">IMAGE GALLERY</a>
    </div>

</div>