<main>
    <div class="img-container">
        <img class="rounded img-shadow" src="/static/img/homeImg.jpg" style="height: 60vh;" alt="game poster">
    </div>
    <div class="buttons">
        <a href="/about" type="button" class="btn btn-dark btn-lg">Discover More</a>
        <a href="/gallery" type="button" class="btn btn-dark btn-lg">Photo Gallery</a>
    </div>
</main>