<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Minisumo Index</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Minisumo-Robot-Simulator</h1>
  <p>
      <h3>
      This is my <strong><a href="https://view.genial.ly/5de0fcf66ff79b0fbb3fb0db/presentation-e-sky-techs-minisumo-sim">{{slides}}</a></strong>
      </h3>
  </p>
  <p>
      <h3>
      And this is my <a href="https://github.com/RobbCorrea/Minisumo-Robot-Simulator">{{repository}}</a> for this <a href = "https://robbcorrea.github.io/Minisumo-Robot-Simulator/#">{{game}}</a> game.
      </h3>
  </p>
  
  <p>
    <ol>
    <li><a href="/about">About the game.</a></li>
    <li><a href="/gallery">Photo Gallery</a></li>
    </ol>
  </p>
</body>
</html>

