<body>
    <header>
        <h1>Hair type</h1>
    </header>
    <img src="https://qph.fs.quoracdn.net/main-qimg-a86e7e35041102d3ff2e868e39c26b2c" alt="hair">
    <p>"Decoding your curl type can be confusing. Several different textures can exist on one head alone, which all have to somehow look cohesive when you rock a style. Plus, there's been some debate as to whether the typing system, originally started by hairstylist Andre Walker and modified by folks in the curly community, is divisive or even too narrow. But controversy aside, many people have found that even if it isn't perfect, it can be super useful in at least being able to identify your curl pattern (or patterns) so you know where to start when it comes to hair care. It's a lot to think about, so we asked two industry texture pros to break down some of the finer points of the texture typing categories. Follow our easy tip sheet below (complete with recommendations for your hair-care stash) to help you better ID your curl type."</p>
    <footer>
    </footer>
</body>