<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Katas</title>

    <!-- Nunca incluir el directorio 'public' en una ruta -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Katas</h1>

    <!-- Nunca incluir el directorio 'public' en una ruta -->
    <img class="car-img" src="/images/katas.png" />

    <p>What were you waiting for?</p>
    <a href="/">Go back</a>

</body>

</html>