<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express basic Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/about.css">
<link rel="stylesheet" href="/styles/galery.css">
<script type="module" src="js/app.js"></script>
</head>

<body>
    <header id="header_main">
        <nav id="nav_main">
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/galery" class="link">Galery</a>
        </nav>
    </header>

    {{{ body }}}


<footer class="home-footer">
    
   <div class="contact"> 
       contact : Ironhack
       <Address>226 boulevard Voltaire
           75011 PARIS
       </Address>
       </div>
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.142047744348!2d2.3354330160472316!3d48.87456857928921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e38f817b573%3A0x48d69c30470e7aeb!2sIronhack!5e0!3m2!1sen!2ses!4v1495208746099" class="map-frame" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
                </div>
    </footer>
</body>
</html>