<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find the best code meme</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    {{#each js}}
    <script type="module" src="/js/{{this}}.js"></script>
    {{/each}}
</head>

<body>
    <header class="flex">
        <div class="wrap flex">{{> titleLogo}}
            <nav class="flex">
                <ul class="flex">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/gifs">GIFS</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrap" id="main_content">
        {{{body}}}
    </div>
    {{#if siteOwner}}
    <footer class="wrap">Copyright {{siteOwner}}</footer>
    {{/if}}
</body>

</html>