<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">

</head>

<body>
    <div id="main">
        <nav id="nav-main">
            <a class="link home" href="./home">ALIX DE RIBET</a>
            <a class="link" href="./projects">Projects</a>
            <a class="link" href="./contact">Contact</a>
        </nav>

        <div id="job">
            <p>Junior Web Developper</p>
        </div>
    </div>

    <br>

    {{{body}}}

</body>

</html>