<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h3>this is the coolest header</h3>
  </header>
  <body>
    {{{body}}}
  </body>
  <footer>
    <h3>this is an amazing footer</h3>
  </footer>
</html>
