<html>
  <head>
    <link rel="stylesheet" href="/CSS/style.css"></link>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/image-gallery">Image Gallery</a>
    </nav>
  <section>
   {{{body}}}
  </section>
  </body>
</html>
