<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express basic Setup</title>
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/649cf706c0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <h1>STYLE FROM THE STREET</h1>
            <nav class="nav">
                <a href="/">home |</a>
                <a href="/gallery">gallery</a>
            </nav>
        </header>
        {{{body}}}
        <footer class="footer">
            copyright 2020
            <a href="/about">> about me <</a>
        </footer>
    </body>
</html>