<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="Css/layout.css">
    <script type="module" src="Js/script.js"></script>


</head>

<body>

    <header id="header_main">
        <img src="img/Ghibli.png" alt="test" id="headerI">
        <nav id="nav_main">

            <a href="/" class="link">Home</a>
            <a href="/filmography" class="link">Filmography</a>
            <a href="/museum" class="link">Museum</a>

        </nav>
    </header>

    {{{ body }}}

    <footer id="footer_main">
        - Nicolas Bischoff - &copy; 2019
    </footer>
</body>

</html>