<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"
</head>
<body>
    <nav>
        <a href="/home">HOME</a>
        <a href="/experience">EXPERIENCE</a>
        <a href="/education">EDUCATION</a>
    </nav>
    {{{body}}}
    <footer class="footer">
        <p>Please feel free to contact me for any question or information : chheanfrederic@gmail.com</p>
    </footer>

</body>
</html>