<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic site</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header id="header_main">
        <nav id="nav_main">
            <a class="nav_main_link" href="/" class="link">Home</a>
            <a class="nav_main_link" href="/about">About</a>
            <a class="nav_main_link" href="/photos">Pictures</a>
        </nav>
    </header>

    {{{body}}}

    {{!-- <footer id="footer_main">
        footer here
    </footer> --}}

</body>

</html>