<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{tituloPag}}</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1 class="logo"><img src="/static/img/logo.png" alt=""></h1>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end Header -->

    <!-- container -->

    <div class="container">

    {{{ body }}}
    
    </div>
    <!-- end container -->

    <!-- footer -->

    <footer>
        <div class="rrss">
            <a href="https://www.facebook.com/RealValladolid">facebook</a>
            <a href="https://www.twitter.com/realvalladolid">twitter</a>
            <a href="https://www.youtube.com/RealValladolidSAD">youtube</a>
        </div>
        <p>@copyright valladolid futbol Example</p>
    </footer>   

    <!-- end footer -->

</body>
</html>