<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{name}}</title>

  <meta property="og:title" content="{{name}}"/>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/img/ae-black.png"/>
  <meta name="description" content="Ironhack project. Node.js & Express & SASS. By: anæstrada">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/img/fav-ae-black.ico" type="image/x-icon">
  <link rel="icon" href="/img/fav-ae-black.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>

</head>
<body>

  {{> menu}}
  <div class="main_container {{name}}_container">
    {{{body}}}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
