<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bad Gyal</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/favicon.jpg" type="image/gif" />
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/" class="top-left active">HOME</a></li>
                <li><a href="/gallery" class="top-right">PICS</a></li>
                <li><a href="/tour" class="bottom-left">TOUR</a></li>
                <li><a href="/bio" class="bottom-right">BIO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <div class="content">
                {{{body}}}
            </div>
        </section>
    </main>
    <footer>
        <div class="copyrigth">
            <img src="/static/img/hookah.svg" alt="Hookah icon">
            <span>BadGyal<br>Sound System<br>© 2020 </span>
        </div>
    </footer>
</body>

</html>