<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='text' href='/javascript/main.js' />

  </head>
  <body>
    <header>Footer</header>
    {{{body}}}
    <footer>Header</footer>
  </body>
</html>
