<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Layout</title>
    <link rel="stylesheet" href="styles/style.css">
    <script type="module" src="js/user-clicks.js"></script>
</head>
<body>
    {{> nav }}
    {{{ body }}}

    {{!-- BONUS --}}
    {{!-- 
        - pass an array of data to the home page
        - parse this array with a each loop and display - each content in a li
     --}}
</body>
</html>