<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body> 
    <header>  
      {{!-- <img id="logo"  src="images/88874.png" > --}}
      <center><a id="titre" >My vintage trips </a></center>
      <div id="menu">
      <a  href="home" class="pagelink">
                Home</a> 
      <a  href="photogallery" class="pagelink">
                Photos</a>     
      <a  href="about" class="pagelink">
                About</a>
    
    </div>    
    </header> 
       {{{body}}}
    <footer>Pictures : Jonathan Oreja © </footer>   
</body>
</html>