<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kobe Bryant 24</title>
        <link rel="stylesheet" href="/css/base.css">
        <script src="/js/galery.js"></script>
    </head>
    <body>
        <header class="header">
            
            <nav class="nav">
                <a href="/">home |</a>
                <a href="/galery">galery |</a>
                <a href="/about">About</a>
            </nav>
        </header>

            

       
       
        {{{body}}}
        
        <footer class="footer">
            copyright 2020
        </footer>
    </body>
</html> 