<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Super site web de Pauline Morsli</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
          <a href="/">Home</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
    {{{ body }}}
  </body>
</html>