<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eat & Drink Berlin</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
 <!-- Nav -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="homepage.html">Eat & Drink Berlin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="gallery.html"
            >Photos <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lists.html#brunch">Brunch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lists.html#coffee">Coffee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lists.html#asian">Asian</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lists.html#pizza">Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lists.html#bars">Bars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="gallery.html">Photos</a>
          </li>
      </ul>
      <span class="navbar-text">
        <!-- A curated list of my favorite spots. -->
      </span>
    </div>
  </nav>
    <div class="lists">
      <!-- Brunch -->
      <section class="category">
        <h1 id="brunch">🍳 Brunch</a></h1>
        <article class="item">
          <h3>The Visit Coffee Roastery</h3>
          <p>Kreuzberg</p>
        </article>

        <article class="item">
          <h3>Annelies</h3>
          <p>Wrangelkiez</p>
        </article>

        <article class="item">
          <h3>Geist im Glass</h3>
          <p>Reuterkiez</p>
        </article>

        <article class="item">
          <h3>19 grams</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>Father Carpenter</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>Roamers</h3>
          <p>Reuterkiez</p>
        </article>

        <article class="item">
          <h3>The Store Kitchen</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>Silo Coffee</h3>
          <p>Friedrichshain</p>
        </article>

        <article class="item">
          <h3>Distrikt Coffee</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>21 gramm</h3>
          <p>Körnerkiez</p>
        </article>

        <article class="item">
          <h3>Allan's Breakfast Club & Wine Bar</h3>
          <p>Kollwitzkiez</p>
        </article>

        <article class="item">
          <h3>Café KRONE</h3>
          <p>Prenzlauer Berg</p>
        </article>

        <article class="item">
          <h3>Suicide Sue</h3>
          <p>Helmholtzkiez</p>
        </article>
      </section>

      <!-- Coffee -->
      <section class="category">
        <h1 id="coffee">☕️ Coffee</h1>
        <article class="item">
          <h3>Companion Coffee</h3>
          <p>Kreuzberg</p>
        </article>

        <article class="item">
          <h3>BEN RAHIM</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>Five Elephant</h3>
          <p>Reuterkiez</p>
        </article>

        <article class="item">
          <h3>Milchhalle</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>The Barn Roastery</h3>
          <p>Mitte</p>
        </article>

        <article class="item">
          <h3>Godshot</h3>
          <p>Kollwitzkeiz</p>
        </article>

        <article class="item">
          <h3>No Fire No Glory</h3>
          <p>Kollwitzkeiz</p>
        </article>

        <article class="item">
          <h3>Bonanza Coffee</h3>
          <p>Prenzlauer Berg</p>
        </article>

        <article class="item">
          <h3>Tilda - Coffee, Eat, Sleep</h3>
          <p>Helmholtzkiez</p>
        </article>

        <article class="item">
          <h3>% Arabica</h3>
          <p>Kreuzberg</p>
        </article>

        <article class="item">
            <h3>Roststätte</h3>
            <p>Mitte</p>
          </article>
      </section>

       <!-- Asian -->
       <section class="category">
        <h1 id="asian">🥢 Asian</h1>
        <article class="item">
          <h3>Da Jia Le</h3>
          <p>Charlottenburg</p>
        </article>

        <article class="item">
            <h3>The Tree</h3>
            <p>Mitte</p>
          </article>

          <article class="item">
            <h3>IRO Izakaya</h3>
            <p>Boxhagener Kiez</p>
          </article>

          <article class="item">
            <h3>Gingi's Izakaya</h3>
            <p>Kollwitzkiez</p>
          </article>

          <article class="item">
            <h3>Grand Tang Xi Yu</h3>
            <p>Prenzlauer berg</p>
          </article>

          <article class="item">
            <h3>Shan Shan Bar & Restaurant</h3>
            <p>Prenzlauer Berg</p>
          </article>

          <article class="item">
            <h3>Wok Show</h3>
            <p>Prenzlauer Berg</p>
          </article>

          <article class="item">
            <h3>Shaniu's House of Noodles</h3>
            <p>Wilmersdorf</p>
          </article>

          <article class="item">
            <h3>Lon-Men's Noodle House</h3>
            <p>Charlottenburg</p>
          </article>

          <article class="item">
            <h3>Asia Deli</h3>
            <p>Wedding</p>
          </article>

          <article class="item">
            <h3>Grand Tang</h3>
            <p>Charlottenburg</p>
          </article>

          <article class="item">
            <h3>Omoni</h3>
            <p>Prenzlauer Berg</p>
          </article>

          <article class="item">
            <h3>Enzo</h3>
            <p>Prenzlauer Berg</p>
          </article>
      </section>

             <!-- Pizza -->
             <section class="category">
                <h1 id="pizza">🍕 Pizza</h1>
                <article class="item">
                  <h3>ZOLA</h3>
                  <p>Friedrichshain</p>
                </article>

                <article class="item">
                    <h3>Gasthaus Figl</h3>
                    <p>Graefekiez</p>
                  </article>

                  <article class="item">
                    <h3>Masaniello</h3>
                    <p>Graefekiez</p>
                  </article>

                  <article class="item">
                    <h3>Standard Pizza</h3>
                    <p>Prenzlauer berg</p>
                  </article>

                  <article class="item">
                    <h3>Salami Social Club</h3>
                    <p>Friedrichshain</p>
                  </article>

                  <article class="item">
                    <h3>Stranero</h3>
                    <p>Wedding</p>
                  </article>

                  <article class="item">
                    <h3>Gazzo</h3>
                    <p>Neukölln</p>
                  </article>
              </section>

                <!-- Bars -->
             <section class="category">
                <h1 id="bars">🍻 Bars</h1>
                <article class="item">
                  <h3>Das Hotel</h3>
                  <p>Kreuzberg</p>
                </article>

                <article class="item">
                    <h3>Lerchen und Eulen</h3>
                    <p>Kreuzberg</p>
                  </article>

                  <article class="item">
                    <h3>Barbie Deinhoff's</h3>
                    <p>Kreuzberg</p>
                  </article>

                  <article class="item">
                    <h3>Meine Bar ICI</h3>
                    <p>Mitte</p>
                  </article>

                  <article class="item">
                    <h3>Kaschk</h3>
                    <p>Mitte</p>
                  </article>

                  <article class="item">
                    <h3>Mikkeller Berlin</h3>
                    <p>Mitte</p>
                  </article>

                  <article class="item">
                    <h3>Neue Odessa Bar</h3>
                    <p>Mitte</p>
                  </article>

                  <article class="item">
                    <h3>Buck & Breck</h3>
                    <p>Mitte</p>
                  </article>

                  <article class="item">
                    <h3>Scotch & Sofa</h3>
                    <p>Kollwitzkiez</p>
                  </article>

                  <article class="item">
                    <h3>Dream Baby Dream</h3>
                    <p>Prenzlauer Berg</p>
                  </article>

                  <article class="item">
                    <h3>Dachkammer</h3>
                    <p>Friedrichshain</p>
                  </article>

                  <article class="item">
                    <h3>Weinerei Perlin</h3>
                    <p>Mitte</p>
                  </article>

                  <article class="item">
                    <h3>Hops & Barley</h3>
                    <p>Friedrichshain</p>
                  </article>

                  <article class="item">
                    <h3>Sheriff Teddy Bar</h3>
                    <p>Friedrichshain</p>
                  </article>

                  <article class="item">
                    <h3>Birra - Italian Craft Beer</h3>
                    <p>Prenzlauer Berg</p>
                  </article>

                  <article class="item">
                    <h3>Wohnzimmer</h3>
                    <p>Helmholtzkiez</p>
                  </article>

                  <article class="item">
                    <h3>Die Bar</h3>
                    <p>Prenzlauer Berg</p>
                  </article>

                  <article class="item">
                    <h3>F-Bar</h3>
                    <p>Gesundbrunnen</p>
                  </article>

           
              </section>
    </div>
  </body>
</html>
