<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>malinoa</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Malinoa</h1>
    <p>Esta es la raza de perros igual que la mia, son pastores Belgas Malinoa (Malinois). puedes ver la historia de
        Namura <a href="/">aquí</a> </p>

    <div class="top"></div><img src="/malinois01.jpg" /> </div>
    <div class="down">
        <img src="/images (1).jpeg" />
        <img src="/images (2).jpeg" />
        <img src="/images.jpeg" />
        <p>si además quieres ver un video en plena acción pincha <a
                href="https://www.youtube.com/watch?v=AD9E3R5HKgc">en
                este enlace</a> </p>
    </div>

</body>

</html>