<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Memes</title>
</head>
<body class="hoguera">
    
    <h1>MEMES</h1>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/meme1.jpg" alt="meme1">
            </div>
            <div class="col-2">
                <img src="/img/meme2.jpg" alt="meme2">
            </div>
            <div class="col-2">
                <img src="/img/meme3.jpg" alt="meme3">
            </div>
            <div class="col-2">
                <img src="/img/meme4.jpg" alt="meme4">
            </div>
            <div class="col-2">
                <img src="/img/meme5.jpg" alt="meme5">
            <img src="" alt=""></div>
            <div class="col-2">
                <img src="/img/meme6.jpg" alt="meme6">
            </div>
            <div class="col-2">
                <img src="/img/meme7.jpg" alt="meme7">
            </div>
            <div class="col-2">
                <img src="/img/meme8.jpg" alt="meme8">
            </div>
            <div class="col-2">
                <img src="/img/meme9.jpg" alt="meme9">
            </div>
            <div class="col-2">
                <img src="/img/meme10.jpg" alt="eme10">
            </div>
            <div class="col-2">
                <img src="/img/meme11.jpg" alt="eme11">
            </div>
            <div class="col-2">
                <img src="/img/meme12.jpg" alt="eme12">
            </div>
        </div>
    </div>

    <a href="/">
        <button class="inicio left">Inicio</button>
    </a>
    <a href="/about">
        <button class="memes">¿Que somos?</button>
    </a>
    
</body>
</html>