<table>
    <h1>{{title}}</h1>

    <p class="resume">In the 14th century, the harmony that humans, animals and gods have enjoyed begins to crumble. The
        protagonist,
        young Ashitaka - infected by an animal attack, seeks a cure from the deer-like god Shishigami. In his travels,
        he sees humans ravaging the earth, bringing down the wrath of wolf god Moro and his human companion Princess
        Mononoke. Hiskattempts to broker peace between her and the humans brings only conflict.</p>
    <tr>
        <th>Director</th>
        <th>Hayao Myazaki</th>
    </tr>
    <tr>
        <th>Producer</th>
        <th>Toshio Suzuki</th>
    </tr>
    <tr>
        <th>Music</th>
        <th>Joe Hisaishi</th>
    </tr>
    <tr>
        <th>Distributor</th>
        <th>Toho</th>
    </tr>
    <tr>
        <th>Release date</th>
        <th>12 July 1997</th>
    </tr>
    <tr>
        <th>Running time</th>
        <th>133 minutes</th>
    </tr>
</table>