<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styleForMoreInfo.css">
    </link>
</head>
<body>
    <div class="heading">Ironhack is preparing the next generation of digital creators.</div class="heading">
    <img src="logo-ironhack-blue.png" alt="Ironhack Logo">
    <div class= "text">Develop the skills you need to launch your career by attending our bootcamps and part-time programs. In tech, you’re
    judged on what you can do, not where you came from. No matter what brought you here, our fast-paced, intensive programs
    are designed to develop your digital know-how with a hands-on approach. By becoming an Ironhacker, you’ll be ready for
    the fast-paced digital world.</div>
</body>
</html>