<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Motherland</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Rusia</h1>
    <p>Rusia es uno de los paises más grandes del mundo tanto en superficie como en número de habitantes</p>
    <p>Los pilares de su economía son:</p>

    <ol>
        <li>Obtención de recursos naturales de forma limpia y distribuidos de forma "equitativa" entre sus ciudadanos
        </li>
        <img src="/images/natural-resources.jpg" />
        <li>Producción masiva de alimentos de patatas</li>
        <img src="/images/potato.jpeg" />
        <li>Destilación de lo que ellos llaman "agua" AKA vodka</li>
        <img src="/images/vodka.png" />

    </ol>
    <p>Te atreves a conocer a su <a href="/people">gente</a>?</p>
</body>

</html>