<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css" />
    <title>Movies</title>
</head>
<body>
    <h1>Movies Gallery</h1>

    <br>
    <a href="/">Back to Home</a>
    <a href="/about">About me</a>
    <ul class="movie_list">
        <li class="movie">
            <img src="/images/coco.jpg">
            <p class="movie_name">Coco</p>
        </li>
        <li class="movie">
            <img src="/images/howtotrainyourdragon.jpg">
            <p class="movie_name">How To Train Your Dragon</p>
        </li>
        <li class="movie">
            <img src="/images/tangeled.jpg">
            <p class="movie_name">Tangled</p>
        </li>
        <li class="movie">
            <img src="/images/zootopia_.jpg">
            <p class="movie_name">Zootopia</p>
        </li>
        <li class="movie">
            <img src="/images/Kubo and the Two Strings.jpg">
            <p class="movie_name">Kubo and the Two Strings</p>
        </li>
        <li class="movie">
            <img src="/images/spiritaway.jpg">
            <p class="movie_name">Spirit Away</p>
        </li>
    </ul>
</body>
</html>