<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="nav">
      <div>
        <span><a href="/">Home</a></span>
      </div>
      <div>
        <span><a href="about">About</a></span>
      </div>
      <div>
        <span><a href="crimes">Crimes</a></span>
      </div>
      <div>
        <span><a href="mugshots">Mugshots</a></span>
      </div>
    </section>
    <section class="photos">
      <img src="images/tove_toissa.jpg" />
    </section>
  </body>
</html>
