<h1>Ghibli museum</h1>

<p>The Ghibli Museum (三鷹の森ジブリ美術館 Mitaka no Mori Jiburi Bijutsukan, Mitaka Forest Ghibli Museum) is a museum showcasing
    the work of the Japanese animation studio Studio Ghibli. <img src="img/museum.jpg" alt="test" id="museum1"> It is
    located in Inokashira Park in Mitaka, a western
    city
    of Tokyo, Japan. The museum combines features of a children's museum, technology museum, and a fine arts museum, and
    is dedicated to the art and technique of animation. Some features include a replica of the Catbus from My Neighbor
    Totoro (1988), a café, bookstore, rooftop garden, and a theater for exclusive short films by Studio Ghibli.
    Studio Ghibli director Hayao Miyazaki designed the museum himself, using storyboards similar to the ones he creates
    for his films. The design was influenced by European architecture such as the hilltop village of Calcata in Italy.
    The museum features internal and external spiral staircases built from iron, interior bridges, and balconies
    stretching throughout the building's height. These stairways lead to exhibits, dead ends, and across bridges.
    These characteristics are meant to reflect Miyazaki's building designs displayed in his film work. Miyazaki's aim
    was to make the building itself part of the exhibit, and for the museum to be an uplifting and relaxing
    experience "that makes you feel more enriched when you leave than when you entered".</p>
<h3>History</h3>
<p class="toto">
    Founded on June 15, 1985, the studio is headed by the directors Hayao Miyazaki and Isao Takahata and the producer
    Toshio Suzuki. Prior to the formation of the studio, Miyazaki and Takahata had already had long careers in Japanese
    film and television animation and had worked together on Hols: Prince of the Sun and Panda! Go, Panda!; and Suzuki
    was an editor at Tokuma Shoten's Animage manga magazine.

    The studio was founded after the success of the 1984 film Nausicaä of the Valley of the Wind, written and directed
    by Miyazaki for Topcraft and distributed by Toei Company. The origins of the film lie in the first two volumes of a
    serialized manga written by Miyazaki for publication in Animage as a way of generating interest in an anime
    version. Suzuki was part of the production team on the film and founded Studio Ghibli with Miyazaki, who also
    invited Takahata to join the new studio.

    The studio has mainly produced films by Miyazaki, with the second most prolific director being Takahata (most
    notably with Grave of the Fireflies). Other directors who have worked with Studio Ghibli include Yoshifumi Kondō,
    Hiroyuki Morita, Gorō Miyazaki, and Hiromasa Yonebayashi. Composer Joe Hisaishi has provided the soundtracks for
    most of Miyazaki's Studio Ghibli films. In their book Anime Classics Zettai!, Brian Camp and Julie Davis made note
    of Michiyo Yasuda as "a mainstay of Studio Ghibli’s extraordinary design and production team". At one time the
    studio was based in Kichijōji, Musashino, Tokyo.

    In August 1996, Disney and Tokuma Shoten formed a partnership in which Buena Vista Pictures would be the sole
    international distributor for Tokuma Shoten's Studio Ghibli animated films. Since then, all three afore-mentioned
    films by Miyazaki at Studio Ghibli that were previously dubbed by Streamline Pictures have been re-dubbed by
    Disney. On June 1, 1997, Tokuma Shoten Publishing consolidated its media operations by merging Studio Ghibli,
    Tokuma Shoten Intermedia software and Tokuma International under one location.

    Many of Ghibli's films in Japan are theatrically distributed by Toho while home video releases are handled by Walt
    Disney Studios Home Entertainment Japan.[11] Wild Bunch holds the international sales rights to many of Ghibli's
    films. Ghibli's main international distribution partners also include Disney (Japan Home Video, Taiwan,
    France), GKIDS (North America), StudioCanal (United Kingdom and Ireland), and Madman Entertainment
    (Australia). Germany-based Wild Bunch itself handles international sales for Studio Ghibli's works.

    Over the years, there has been a close relationship between Studio Ghibli and the magazine Animage, which regularly
    runs exclusive articles on the studio and its members in a section titled "Ghibli Notes." Artwork from Ghibli's
    films and other works are frequently featured on the cover of the magazine. Saeko Himuro's novel Umi ga Kikoeru was
    serialised in the magazine and subsequently adapted into Ocean Waves, Studio Ghibli's only animated feature-length
    film created for television and it was directed by Tomomi Mochizuki.

    In October 2001, the Ghibli Museum opened in Mitaka, Tokyo. It contains exhibits based on Studio Ghibli films
    and shows animations, including a number of short Studio Ghibli films not available elsewhere.
    <img src="img/Museum2.jpg" alt="test" id="museum2">
    The studio is also known for its strict "no-edits" policy in licensing their films abroad due to Nausicaä of the
    Valley of Wind being heavily edited for the film's release in the United States as Warriors of the Wind. The "no
    cuts" policy was highlighted when Miramax co-chairman Harvey Weinstein suggested editing Princess Mononoke to make
    it more marketable. A Studio Ghibli producer is rumoured to have sent an authentic Japanese sword with a simple
    message: "No cuts".

    Between 1999 and 2005, Studio Ghibli was a subsidiary brand of Tokuma Shoten, however, that partnership ended on
    April 2005 when Studio Ghibli was spun off from Tokuma Shoten, and was re-established as an independent company with
    relocated headquarters.

    On February 1, 2008, Toshio Suzuki stepped down from the position of Studio Ghibli president, which he had held
    since 2005, and Koji Hoshino (former president of Walt Disney Japan) took over. Suzuki said he wanted to improve
    films with his own hands as a producer, rather than demanding this from his employees. Suzuki decided to hand over
    the presidency to Hoshino because Hoshino has helped Studio Ghibli to sell its videos since 1996 and has also aided
    the release of the Princess Mononoke film in the United States. Suzuki still serves on the company's board of
    directors.

    Two Studio Ghibli short films created for the Ghibli Museum were shown at the Carnegie Hall Citywise Japan NYC
    Festival: "House Hunting" and "Mon Mon the Water Spider" were screened on March 26, 2011.

    <img src="img/museum3.jpg" alt="test" id="museum3">
    Takahata developed a project for release after Gorō Miyazaki's (director of Tales from Earthsea and Hayao's son) The
    Tale of the Princess Kaguya – an adaptation of The Tale of the Bamboo Cutter. The last film Hayao Miyazaki directed
    before retiring from feature films was The Wind Rises which is about the Mitsubishi A6M Zero and its founder.

    On Sunday, September 1, 2013, Hayao Miyazaki held a press conference in Venice to confirm his retirement, saying: "I
    know I've said I would retire many times in the past. Many of you must think, 'Once again.' But this time I am quite
    serious."

    On January 31, 2014, it was announced that Gorō Miyazaki will direct his first anime television series, Sanzoku no
    Musume Rōnya, an adaptation of Astrid Lindgren's Ronia the Robber's Daughter for NHK. The series is
    computer-animated, produced by Polygon Pictures, and co-produced by Studio Ghibli.

    In March 2014, Toshio Suzuki retired as producer and assumed the new position of general manager. Yoshiaki Nishimura
    replaced Suzuki in the producer role.

    On August 3, 2014, Toshio Suzuki announced that Studio Ghibli would take a "brief pause" to re-evaluate and
    restructure in the wake of Miyazaki's retirement. He stated some concerns about where the company would go in the
    future. This has led to speculation that Studio Ghibli will never produce another feature film
    again. On November 7, 2014, Miyazaki stated, "That was not my intention, though. All I did was announce that I would
    be retiring and not making any more features." Lead producer Yoshiaki Nishimura among several other staffers
    from Ghibli, such as director Hiromasa Yonebayashi, left to found Studio Ponoc in April 2015, working on the film
    Mary and the Witch's Flower.

    The 2016 animated fantasy film The Red Turtle, directed and co-written by Dutch-British animator Michaël Dudok de
    Wit in his feature film debut, was a co-production between Studio Ghibli and Wild Bunch.

    In February 2017, Toshio Suzuki announced that Hayao Miyazaki has come out of retirement to direct a new feature
    film with Studio Ghibli.

    On November 28, 2017, Koji Hoshino stepped down as President; he was replaced by Kiyofumi Nakajima (former Ghibli
    Museum director). Hoshino was then appointed as Chairman of Studio Ghibli.</p>