<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NICK BORBE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/styles/style.css">
    <script src="main.js"></script>
</head>
<body>
        <nav>
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/nick">Nick</a></li>
                </ul>
            </nav>
        
    <div class="pictureOfNick">
        <img src="/images/nick.jpeg" alt="">
        
    </div>
    <center>
        <h3>Hey im Nick! I eat toads.</h3>

    </center>
    
</body>
</html>