<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bienvenid@s</title>
</head>

<body>
    <header>
        <h1 class="title">La vida de un futuro "Full-Stack-web-developer" en IRONHACK</h1>
        <h2>¿Quienes somos?</h2>
        <p>Un grupo de locos irresponsables que quieren cambiar sus vidas por una vida mejor como Full Stack web
            developer
        </p>
        <p>vuelve al comienzo si no quieres saber más de <a href="/principio"> nuestras vidas </a> </p>
        <p>mira nuestras actividades <a href="/aqui"> de nuestro dia a dia </a></p>
    </header>

</body>