<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sachin</title>
    <!-- google fonts
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500"
      rel="stylesheet"
    /> -->
    <!-- custom css style
    <link rel="stylesheet" href="/stylesheets/style.css" /> -->
</head>

<body class="main">
    <div class="background"> </div>
    <h1>
        otra pagina 2
    </h1>
    <a href="/">
        home
    </a>
    <hr>
    <a href="/other1">
        otra pagina 1
    </a>
</body>

</html>