<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img class="pic" src="/images/penguin_.jpg">
    <h1 class="col">Penguin History</h1>

    <p class="col">The Penguin (Oswald Chesterfield Cobblepot) is a fictional supervillain appearing in comic books
        published by DC Comics,
        commonly as an adversary of the superhero Batman. The character made his first appearance in Detective Comics
        #58
        (December 1941) and was created by Bob Kane and Bill Finger. The Penguin is one of Batman's most enduring
        enemies and
        belongs to the collective of adversaries that make up Batman's rogues gallery.

        The Penguin is a Gotham City mobster who fancies himself the "Gentleman of Crime". He is most often seen wearing
        a
        monocle, top hat, and tuxedo while carrying his signature umbrella. The character appears most times as a short,
        obese
        man with a long nose. Penguin uses high-tech umbrellas as different tools. His umbrellas have been used as guns,
        gas
        guns, swords/knives, a mini-helicopter and many other unconventional tools. The Penguin owns and runs a
        nightclub called
        the Iceberg Lounge which provides a cover for his criminal activity. Batman sometimes uses the nightclub as a
        source of
        criminal underworld information. Unlike most of Batman's rogues gallery, the Penguin is completely sane and in
        full
        control of his actions, giving him a unique relationship with Batman. According to his creator Bob Kane, the
        character
        was inspired by the advertising mascot of Kool cigarettes in the 1940s; a penguin with a top hat and cane.
        Co-creator
        Bill Finger thought that the image of high-society gentlemen in tuxedos was reminiscent of emperor penguins.</p>

</body>

</html>