<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rusos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Only in Russia</h1>
    <img src="/images/lifting-weight-teeth-russia.jpg" />
    <p>Atleta Olimpico</p>
    <img src="/images/parque.jpg">
    <p>Tipico parque infantil</p>
    <img src="/images/rusos.gif">
    <p>Fiesta tradicional</p>
    <img src="/images/russia.jpg">
    <p>Un semáforo cualquiera</p>
    <img src="/images/señora-rusa.jpg">
    <p>En el metro</p>
    <img src="/images/taxi.jpg">
    <p>Quien necestia Uber con estos taxis</p>
    <img src="/images/putin.jpg">
    <p>El presidente todopoderoso Vladimir Putin</p>



</body>

</html>