<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <div class="header">
    <h1>PHOTO</h1>
    <div class="links">
      <a href="/">HOME</a>
      <a href="/photo">GALLERY</a>
      <a href="/about">ABOUT</a>
    </div>
  </div>
  <div class="content">
    <img src="/images/cow1.jpeg" alt="cow">
    <img src="/images/bife.jpeg" alt="bife">

  </div>
  <div class="footer">
    <P>made by MARCO & GRAZI, with s2</P>
  </div>
</body>

</html>