<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Intro</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    
<div><h4 class="home">Check out some really cool national parks you can visit!</h4>
    <ul>
        <li>Rainbow Springs, FL:<br> <img src="/images/rsprings.jpg" alt="Rainbow Springs"> </li>
        <li>Lake Tahoe, CA:<br> <img src="/images/laketahoe.jpg" alt="Lake Tahoe"> </li>
        <li>Yellowstone, CA:<br> <img src="/images/yellowstone.jpg" alt="Yellowstone"> </li>
    </ul>
    <a href="/">Back home</a>
    <a href="/about">Learn about me</a>
</div>
    


</body>