<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Photo Gallery</h1>



      <div class="center" > 
      <img src="/images/photo1.png">
    </div>
  
    <div class="center">
      <img src="/images/photo2.png">
    </div>
  
    <div class="center">
      <img src="/images/photo3.png">
    </div>

    <div class="center">
        <img src="/images/photo4.png">
    </div>
  

    <a href="/">
      <button>Back to Home Page</button>
    </a>

    <a href="/about-page">
      <button>See About Page</button>
    </a>

  </body>
</html>