<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Photos</title>
</head>
<body>
        <h2>Traveling</h2>
        <p>Atacama, Chile</p> 
        <img src="/starter-code/public/images/Atacama bros.jpg" alt="img">
        <br>

        <p>San Andres, Colombia</p> 
        <img src="/starter-code/public/images/Sananadres.jpg" alt="img">
        <br>
        
        <p>Quebec, Canada</p> 
        <img src="/starter-code/public/images/quebec.jpg" alt="img">
        <br>
        
        <p>Uyuni, Bolivia</p> 
        <img src="/starter-code/public/images/IMG_5709.jpg" alt="img">
        <br>
        
        <p>Machu Pichu, Peru</p> 
        <img src="/starter-code/public/images/IMG_0363.jpg" alt="img">
        <br>
        
        
        <h2>Painting</h2>

        <p>Flower tiger</p> 
        <img src="/starter-code/public/images/IMG_7484.jpg" alt="img">
        <br>
        
        <p>Free Rinho</p> 
        <img src="/starter-code/public/images/IMG_1944.jpg" alt="img">
        <br>
        
        <p>Eye flower</p> 
        <img src="/starter-code/public/images/IMG_3896.jpg" alt="img">
        <br>
        
        <h2>Rolling</h2>

        <p>Downhill Mexico</p> 
        <img src="/starter-code/public/images/IMG_2649.png" alt="img">
        <br>
        
     

    <br>   
    <a href="/">Home Page</a>
   

</body>
</html>