
    <div id="photoslocations">
    <a  href="photogallery/Oman" class="pagelink">Oman</a> 
    <a href="photogallery/Niger" class="pagelink">Niger</a>
    <a href="photogallery/Copenhague" class="pagelink">Copenhague</a>  
    <a href="photogallery/Bresil" class="pagelink">Bresil</a>  
    </div>           
    <div class="listphoto" >
    {{#each data}}
    <img class="photosg" src="{{this.img}}"  alt="oups">
      {{/each}}
      </div>


