<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Go Home!</a>
        <a href="/about">Go to About!</a>
    </div>
    <h1>Photo gallery</h1>
    <div class="flex-container">
        <div class="gallery">
            <img src="/Pickle-Rick-giveaway.jpg" alt="" width="200px" height="200px">
        </div>
        <div class="gallery">
            <img src="/poopybutt.jpg" alt="">
        </div>
        <div class="gallery">
            <img src="/rick-and-morty-pickle-rick-i51002.jpg" alt="">
        </div>
        <div class="gallery">
            <img src="/Screen-Shot-2017-10-03-at-15.48.47-fa8b3ce.png" alt="">
        </div>

    </div>

</body>

</html>