<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photo">Photo</a></li>
    </ul>
</nav>
<section class="main-content">
    <h2>{{route}}!</h2>
    <div class="containerPhoto">
        <div class="grid">
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
            <div class="cell">
                <img src="http://placehold.it/800x800" class="responsive-image">
            </div>
        </div>
    </div>
</section>
</body>
</html>