<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheets" href="/style.css">
  <title>Gallery</title>
</head>
<body>
  <h1>Favorite Recipes</h1>
<div class = "image-gallery">
  <img src="../public/images/instant-pot-cherry-delight-cheesecake-5.jpg" height="500" width="500">
  <img src="../public/images/falafel.jpeg" height="500" width="500">
  <img src="../public/images/hummus.jpeg" height="500" width="500">
  </div>

</body>
</html>