<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {{!-- photo gallery --}}
  <img src="https://images.adsttc.com/media/images/5948/28d5/b22e/3867/0600/05fe/large_jpg/Neil_Howard__Flickr___bajo_licencia_(CC_BY-NC_2.0).jpg?1497901248" alt="building">
  <img src="https://images.adsttc.com/media/images/5948/295c/b22e/3867/0600/0601/newsletter/Tom_Walk__Flickr___bajo_licencia_(CC_BY-ND_2.0).jpg?1497901399" alt="guadi">
  <img src="https://media2.trover.com/T/5a5ca46b84b863616b02a705/fixedw_large_4x.jpg" alt="Casa Batlló">
  <img src="https://images.adsttc.com/media/images/5948/28bd/b22e/383a/5900/02f2/slideshow/Jaap_Kramer__Flickr___bajo_licencia_(CC_BY-NC-ND_2.0).jpg?1497901221" alt="guell">
  
</body>
</html>