<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <ul class="nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/photo-gallery">Photo Gallery</a>
    </li>
  </ul>
  <h1>Photo Gallery</h1>
  <div class="gallery">
    <img src="/images/roques1.jpg" alt="">
    <img src="/images/roques3.jpg" alt="">
    <img src="/images/roques4.jpg" alt="">
  </div>


</body>

</html>