<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>photoPage</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>Parejas abocadas al fracaso</h1>
    <h2>ESTEFANIA Y CHRISTOPHER</h2>
    <img src="/img/estefania-chris.jpg">
    <h2>ANDREA E ISMAEL</h2>
    <img src="/img/andrea-ismael.jpg">
    <div class="chismorreo">
        <a href="/">Pues ya puedes chismorrear un poco el viernes</a>
    </div>
</body>

</html>