<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="styles/styles-photoalbum.css" />
  </head>

  <body>
    <nav>
      <a href="/home">HOME</a>
      <a href="/about">ABOUT</a>
    </nav>
    <section class="main">
      <div class="title-container">
        <header>
          Photo Gallery
        </header>
        <div class="grid-container">
          <div class="image-container">
            <img src="/images/jaguar-bass.jpg" alt="" />
          </div>
          <div class="image-container">
            <img src="/images/precision-bass.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
