<div class="pics-container">
    <img src="./img/berlin.jpeg" alt="berlin">
    <img src="./img/berlin2.jpeg" alt="berlin">
    <img src="./img/costarica.jpeg" alt="costa rica">
    <img src="./img/georgie.jpeg" alt="georgie">
    <img src="./img/georgie2.jpeg" alt="georgie">
    <img src="./img/rio.jpeg" alt="rio">
</div>