<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="/public/css.css">

  <title>Photo Gallery</title>
</head>

<body>
  <div class="container">
    <h1 class="encabezado">Gallery</h1>
    <a href="/">Home Page</a>
    <a href="/about">About</a>
    <h2 class="encabezadoh2">¿Eres capaz de encontrar las 7 diferencias?</h2>
  </div>
  <div>
    <img src="/images/img1.jpg" witdth="500px" height="700px">
    <img src="/images/img1.jpg" witdth="500px" height="700px">
  </div>

</body>

</html>