<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Exercise - Week 4 Day 2 </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Photogallery of several wrapping Megs:</h1>
    <div class="flex">
      <img src="/images/IMG-20180608-WA0000.jpg" /> 
      <img src="/images/IMG-20180608-WA0000.jpg" /> 
      <img src="/images/IMG-20180608-WA0000.jpg" /> 
      <img src="/images/IMG-20180608-WA0000.jpg" /> 
      <img src="/images/IMG-20180608-WA0000.jpg" />  
      <img src="/images/IMG-20180608-WA0000.jpg" />  
      <img src="/images/IMG-20180608-WA0000.jpg" />  
      <img src="/images/IMG-20180608-WA0000.jpg" />       
    </div>
  </body>
</html>