<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photo Gallery</title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
  <nav class="nav flex-container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/photos">Photos</a></li>
    </ul>
  </nav>
  <div class="flex-container">
    <div class="container">
      <img src="images/sirtbl.jpg" alt="Sir Tim Berners-Lee" class="image">
      <div class="overlay">
        <div class="text">Sir Tim Berners-Lee, Inventor of the World Wide Web</div>
      </div>
    </div>
    <div class="container">
      <img src="images/first-web-server.jpg" alt="This is the World's First Web Server Invented by Tim at CERN in 1989" class="image">
      <div class="overlay">
        <div class="text">This is the World's First Web Server Running the Hypertext Transfer Protocol (http://) Invented by Tim at CERN in 1989</div>
      </div>
    </div>
    <div class="container">
      <img src="images/w3c-tim.jpg" alt="Tim is Founder & Director of the W3C" class="image">
      <div class="overlay">
        <div class="text">Tim is Founder & Director of the World Wide Web Consortium (W3C)</div>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="container">
      <img src="images/tim-berners-lee-olympics.png" alt="Tim Was Honored During the Opening Ceremonies at the London 2012 Olympic Games" class="image">
      <div class="overlay">
        <div class="text">Tim Was Honored During the Opening Ceremonies at the London 2012 Olympic Games</div>
      </div>
    </div>
    <div class="container">
      <img src="images/acm-turing.jpg" alt="In 2017, Tim won the most prestigious honor in computer science, the Association for Computing Machinery (ACM) A.M. Turing Award, often referred to as the Nobel Prize of computing" class="image">
      <div class="overlay">
        <div class="text">In 2017, Tim won the most prestigious honor in computer science, the Association for Computing Machinery (ACM) A.M. Turing Award, often referred to as the Nobel Prize of computing</div>
      </div>
    </div>
    <div class="container">
      <img src="images/solid-inrupt.jpg" alt="Tim's New Mission to Re-Decentralize the Web with the Solid Project and Commercial Sponsor Inrupt" class="image">
      <div class="overlay">
        <div class="text">Tim's Newest Mission is to Re-Decentralize the Web with the Solid Project and Commercial Sponsor Inrupt</div>
      </div>
    </div>
  </div>

</body>
</html>