<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Photos</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <h1>El mundo salvaje en estado puro</h1>
    <img src="/img/bison.jpg" />
    <img src="/img/rhino.jpg" />
    <img src="/img/lion-wallpaper-18 copia.jpg" />
    <img src="/img/Octopus-BlueRinged copia.jpg" /> <img src="/img/QJyx79q.jpg" />
    <img src="/img/snake-colorful.jpg" />
    <p>Si quieres volver al <a href="/">inicio</a>.</p>
    <p>Tenemos <a href="/about">info</a>.</p>
</body>

</html>