<div class="photo-gallery-container">
    <div class="gallery-title">
    <h1>//LA GALERÍA DE</h1>
    <div class="name">
        <h1>>>>> BAD GYAL</h1>
    </div></div>
</div>

<div class="container photo-grid">
<div class="row justify-content-start">
    <div class="col-4">
   <img src="/static/bg-bw-1.jpg" alt="" class="pic">
    </div>
    <div class="col-4">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
    
    </div>
    <div class="col-4">
        <img src="/static/bg-bw-2.jpg" alt="" class="pic">
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-4">
        <img src="/static/bg-bw-3.jpg" alt="" class="pic">
    </div>
    <div class="col-4">
    </div>
</div>
</div>

<a
    href="https://www.clashmusic.com/features/a-little-bit-international-bad-gyal-interviewed#view-gallery-image-2">Fuente</a>