<!DOCTYPE html>
<html>

<head>
    <title>Polaroid Photo Gallery</title>
<link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <nav>
        <a class="link" href="/about">About Me</a>
        <a class="link" href="/">volver a Homepage</a>
    </nav>
<h1>Cats' walls of fame </h1>
    

    <div class="gallery">
        <figure>
            <img src="/images/grumpycat1.jpg">
            <figcaption>Grumpy Cat</figcaption>
        </figure>
        <figure>
            <img src="images/Lil-Bub.jpg">
            <figcaption>The Innocent Look</figcaption>
        </figure>
        <figure>
            <img src="images/koreANKAT.jpg">
            <figcaption>Big Eyed Buggy</figcaption>
        </figure>
      
        </figure>
    </div>
</body>

</html>