<!doctype html>
<html lang='en'>

<head>
  <title>Express Practice</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>

  <nav id="navbar">
    <a href="/" class="logo">Seba | Dauv</a>
    <div class="nav-links">
      <a href="/about">About</a>
      <a href="/photo_gallery">Photos</a>
    </div>
  </nav>

  <section id="photo-gallery-body">
    <h2>Just random Shitty Images</h2>
    <div class="img-holder">
      <img src="https://picsum.photos/300/300?image=0" alt="">
      <img src="https://picsum.photos/300/300?image=1" alt="">
      <img src="https://picsum.photos/300/300?image=2" alt="">
    </div>
    <div class="img-holder">
      <img src="https://picsum.photos/300/300?image=3" alt="">
      <img src="https://picsum.photos/300/300?image=4" alt="">
      <img src="https://picsum.photos/300/300?image=5" alt="">
    </div>
  </section>

  <footer id="footer">
    <p>All right reserved 2018. Iron Hack</p>
  </footer>
</body>

</html>