<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Page from server exercise - Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Photos</h1>
    <h2>Some bitmojis about me 😂</h2>
    <img src="/images/WhatsApp Image 2019-08-27 at 18.06.40 (1).jpeg" alt="walking" />
    <img src="/images/WhatsApp Image 2019-08-27 at 18.20.06.jpeg" alt="walking" />
    <img src="/images/WhatsApp Image 2019-08-27 at 19.14.31.jpeg" alt="walking" />
    <br />
    <a href="/about">See about Page</a>
    <a href="/">Go Home</a>
  </body>
</html>
