<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    <title>Photos</title>
</head>
<body>
<div class = "photo-gallery">
    <img src="/images/ri.jpeg" alt="">
    <img src="/images/rih.jpeg" alt="">
    <img src="/images/riha.jpeg" alt="">
    <img src="/images/rihan.jpeg" alt="">
    <img src="/images/rihanna.jpeg" alt="">
</div>

    <div class = "home-buttons">
        <button id = "btn"><a href="./about.html">About Rihanna</a></button>
        <button id = "btn2"><a href="/">Homepage</a></button>
    </div>
</body>
</html>