<body>
    <div id="background">
        <div id="container">
            <h1 id="photos-title">{{title}}</h1>
            <div class="wrap-pictures">
                <img class="photos" src="assets/images/la-reunion.jpg" alt="photos">
                <img class="photos" src="assets/images/lagon.jpg" alt="photos">
                <img class="photos" src="assets/images/la-saline.jpg" alt="photos">
                <img class="photos" src="assets/images/gouffre-étang-salé.jpg" alt=" photos">
                <img class="photos" src="assets/images/trou-de-fer.jpg" alt="photos">
                <img class="photos" src="assets/images/cirque-de-salazie.jpg" alt=" photos">
                <img class="photos" src="assets/images/plaine-des-palmistes.jpg" alt=" photos">
                <img class="photos" src="assets/images/bébour.jpg" alt=" photos">
                <img class="photos" src="assets/images/maison-creole-cilaos.jpg" alt=" photos">
                <img class="photos" src="assets/images/langevin.jpg" alt=" photos">
                <img class="photos" src="assets/images/bassin-boeuf.jpg" alt=" photos">
                <img class="photos" src="assets/images/bassin-bleu.jpg" alt=" photos">
                <img class="photos" src="assets/images/cap-jaune.jpg" alt=" photos">
                <img class="photos" src="assets/images/cap-la-houssaye.jpg" alt=" photos">
                <img class="photos" src="assets/images/cap-lahoussaye.jpg" alt=" photos">
                <img class="photos" src="assets/images/plaine-des-sables.jpg" alt="photos">
                <img class="photos" src="assets/images/piton-de-la-fournaise.jpg" alt="photos">
                <img class="photos" src="assets/images/piton-des-neiges.jpg" alt="photos">
            </div>
        </div>
    </div>
</body>