<h1>Photo Gallery</h1>

<ul>
    <li><a href= "/">Home</a></li>
    <li><a href="/about-us">About The King</a></li>
    <li><a href="/photo-gal">Photo Gallery</a></li>
</ul>

<img src = 'https://media.giphy.com/media/3oEjI6UO1GF27beKNa/giphy.gif'alt="">

<img src = 'https://img.bleacherreport.net/img/images/photos/002/466/639/170990300_crop_north.jpg?1377635817&w=630&h=420' alt="">

<img src = 'http://www.bkuphotography.com/img/s1/v46/p1057725133-3.jpg' alt="">

<img src = "https://media.giphy.com/media/xT8qB71U497mAvPVy8/giphy.gif" alt="">

<img src = "https://cdn.nba.net/nba-drupal-prod/styles/landscape/http/nba.cdn.turner.com/nba/big/video/2018/04/25/94cfff3c-8bc9-45ba-bf4d-0e12b188a35c.nba_1_1280x720.jpg?itok=uC2s-iXD" alt = "" width="700px" height="375px">