<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Galery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Photo Galery</h1>
    <p>This is where the images lie</p>
    <p>For now these are images from a previous project</p>
    <img src="/images/rock.png" />
    <img src="/images/paper.png" />
    <img src="/images/scissors.png" />
    <br>

    <a href="/">Back to Home</a>
    <a href="/about">To the About Page</a>
  </body>
</html>