<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home ClavisCo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css" />
  <script src="./js/main.js"></script>
</head>
<body>
  <h1 class="photos">Photos ClavisCo</h1>
  <ul>
    <li><a href="./">HOME</a></li>
    <li><a href="./about">ABOUT</a></li>
    <li><a href="./photos">PHOTOS</a></li>
  </ul>

  <div class="image"><img src="./images/SAP_BOne_R_1.png" alt=""> </div>
  <div class="image"><img src="./images/SAP_Partner_R.png" alt=""> </div>

</body>
</html>
