<h1>
    {{{title}}}
</h1>


<div class=" slick-container">

    <div>
        <div class="container_photo">

            <div class="recipe_img">
                <img src="/assets/img/ginto.jpg" alt="">
            </div>

            <div class="recipe_text">

                <h3>L'incontournable GinTo</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>

        </div>
    </div>
    <div>
        <div class="container_photo">
            <div class="recipe_img">
                <img src="/assets/img/cosmo.jpg" alt="">
            </div>

            <div class="recipe_text">
                <h3>L'indémodable Cosmo</h3>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>

    </div>
    <div>
        <div class="container_photo">
            <div class="recipe_img">
                <img src="/assets/img/sour.jpg" alt="">
            </div>

            <div class="recipe_text">
                <h3>Le Whisky Sour</h3>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>

    </div>
    <div>
        <div class="container_photo">
            <div class="recipe_img">
                <img src="/assets/img/marga.jpg" alt="">
            </div>

            <div class="recipe_text">
                <h3>La Margharita</h3>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>

    </div>
    <div>
        <div class="container_photo">
            <div class="recipe_img">
                <img src="/assets/img/white-russian.jpg" alt="">
            </div>

            <div class="recipe_text">
                <h3>Le Russe Blanc</h3>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>

    </div>
    <div>
        <div class="container_photo">
            <div class="recipe_img">
                <img src="/assets/img/mojito.jpg" alt="">
            </div>

            <div class="recipe_text">
                <h3>El classico Mojito</h3>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>

    </div>
    <div>
        <div class="container_photo">
            <div class="recipe_img">
                <img src="/assets/img/caipi.jpg" alt="">
            </div>

            <div class="recipe_text">
                <h3>La petite mais puissante Caïpi !</h3>

                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut
                    labore
                    et
                    <br>dolore magna
                    aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.<br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br> eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est
                    laborum."
                </p>
            </div>
        </div>

    </div>



</div>