<!DocType html>
  <html>
    <head>
      
     <title>Tributo JorgeLuisBorges Poemas</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="./style.css" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron text-center">
          <h1 class="text-info" id="titulo">Jorge Luis Borges</h1>
          <h3><small>Poemas</small></h3>
        </div>
        <div class="container align-items-center bg-info text-white mt-5">
          <h3 id="titulolista">Algunos poemas de Borges:</h3>
        </div>
        <section class="container row mt-5 ml-5 mb-5">
          <div class="container mt-5 col-sm-4">
            <p> 
                <h3>Ajedrez</h3><br>
                I <br>
                
                En su grave rincón, los jugadores<br>
                rigen las lentas piezas. El tablero<br>
                los demora hasta el alba en su severo<br>
                ámbito en que se odian dos colores.<br>
                <br>
                Adentro irradian mágicos rigores<br>
                las formas: torre homérica, ligero<br>
                caballo, armada reina, rey postrero,<br>
                oblicuo alfil y peones agresores.<br>
                <br>
                Cuando los jugadores se hayan ido,<br>
                cuando el tiempo los haya consumido,<br>
                ciertamente no habrá cesado el rito.<br>
                <br>
                En el Oriente se encendió esta guerra<br>
                cuyo anfiteatro es hoy toda la Tierra.<br>
                Como el otro, este juego es infinito.<br>
                <br>
                II<br>
                <br>
                Tenue rey, sesgo alfil, encarnizada<br>
                reina, torre directa y peón ladino<br>
                sobre lo negro y blanco del camino<br>
                buscan y libran su batalla armada.<br>
                <br>
                No saben que la mano señalada<br>
                del jugador gobierna su destino,<br>
                no saben que un rigor adamantino<br>
                sujeta su albedrío y su jornada.<br>
                <br>
                También el jugador es prisionero<br>
                (la sentencia es de Omar) de otro tablero<br>
                de negras noches y de blancos días.<br>
                <br>
                Dios mueve al jugador, y éste, la pieza.<br>
                ¿Qué Dios detrás de Dios la trama empieza<br>
                de polvo y tiempo y sueño y agonía?</p>
          </div>
          <div class="container mt-5 col-sm-4">
              <p>
                  <h3>El reloj de arena</h3><br>
                  <br>
                  Está bien que se mida con la dura<br>
                  Sombra que una columna en el estío<br>
                  Arroja o con el agua de aquel río<br>
                  En que Heráclito vio nuestra locura<br>
                  <br>
                  El tiempo, ya que al tiempo y al destino<br>
                  Se parecen los dos: la imponderable<br>
                  Sombra diurna y el curso irrevocable<br>
                  Del agua que prosigue su camino.<br>
                  <br>
                  Está bien, pero el tiempo en los desiertos<br>
                  Otra substancia halló, suave y pesada,<br>
                  Que parece haber sido imaginada<br>
                  Para medir el tiempo de los muertos.<br>
                  <br>
                  Surge así el alegórico instrumento<br>
                  De los grabados de los diccionarios,<br>
                  La pieza que los grises anticuarios<br>
                  Relegarán al mundo ceniciento<br>
                  <br>
                  Del alfil desparejo, de la espada<br>
                  Inerme, del borroso telescopio,<br>
                  Del sándalo mordido por el opio<br>
                  Del polvo, del azar y de la nada.<br>
                  <br>
                  ¿Quién no se ha demorado ante el severo<br>
                  Y tétrico instrumento que acompaña<br>
                  En la diestra del dios a la guadaña<br>
                  Y cuyas líneas repitió Durero?<br>
                  <br>
                  Por el ápice abierto el cono inverso<br>
                  Deja caer la cautelosa arena,<br>
                  Oro gradual que se desprende y llena<br>
                  El cóncavo cristal de su universo.<br>
                  <br>
                  Hay un agrado en observar la arcana<br>
                  Arena que resbala y que declina<br>
                  Y, a punto de caer, se arremolina<br>
                  Con una prisa que es del todo humana.<br>
                  <br>
                  La arena de los ciclos es la misma<br>
                  E infinita es la historia de la arena;<br>
                  Así, bajo tus dichas o tu pena,<br>
                  La invulnerable eternidad se abisma.<br>
                  <br>
                  No se detiene nunca la caída<br>
                  Yo me desangro, no el cristal. El rito<br>
                  De decantar la arena es infinito<br>
                  Y con la arena se nos va la vida.<br>
                  <br>
                  En los minutos de la arena creo<br>
                  Sentir el tiempo cósmico: la historia<br>
                  Que encierra en sus espejos la memoria<br>
                  O que ha disuelto el mágico Leteo.<br>
                  <br>
                  El pilar de humo y el pilar de fuego,<br>
                  Cartago y Roma y su apretada guerra,<br>
                  Simón Mago, los siete pies de tierra<br>
                  Que el rey sajón ofrece al rey noruego,<br>
                  <br>
                  Todo lo arrastra y pierde este incansable<br>
                  Hilo sutil de arena numerosa.<br>
                  No he de salvarme yo, fortuita cosa<br>
                  De tiempo, que es materia deleznable.<br>
              </p>
          </div>
          <div class="container mt-5 col-sm-4">
            <p>
              <h3>La moneda de hierro</h3>
               <br>
                Aquí está la moneda de hierro. Interroguemos <br>
                las dos contrarias caras que serán la respuesta <br>
                de la terca demanda que nadie no se ha hecho: <br>
                ¿Por qué precisa un hombre que una mujer lo quiera? <br>
                <br>
                Miremos. En el orbe superior se entretejan <br>
                el firmamento cuádruple que sostiene el diluvio <br>
                y las inalterables estrellas planetarias. <br>
                Adán, el joven padre, y el joven Paraíso. <br>
                <br>
                La tarde y la mañana. Dios en cada criatura. <br>
                En ese laberinto puro está tu reflejo. <br>
                Arrojemos de nuevo la moneda de hierro <br>
                que es también un espejo magnífico. Su reverso <br>
                es nadie y nada y sombra y ceguera. Eso eres. <br>
                De hierro las dos caras labran un solo eco. <br>
                Tus manos y tu lengua son testigos infieles. <br>
                Dios es el inasible centro de la sortija. <br>
                No exalta ni condena. Obra mejor: olvida. <br>
                Maculado de infamia ¿por qué no han de quererte? <br>
                En la sombra del otro buscamos nuestra sombra; <br>
                en el cristal del otro, nuestro cristal recíproco. <br>
            </p>

          </div>
        </section>
        <div class="container align-items-center align-items-end mb-5">
          
            <div id="frase" class="p-3"><h3>“Somos nuestra memoria, somos ese quimérico museo de formas inconstantes, ese montón de espejos rotos.”</h3><h3 class="text-right">- Jorge Luis Borges</h3></div>

        </div>

   </body>
    </html>