<div id="portfolioContainer">
  <div id="collectionbtn">
    {{#each collections}}
    <a class="collectionbtn" href="/collection{{this.id}}">{{this.title}}</a>
    {{/each}}
  </div>

  <div id="gallery">
    <div id="labaignade" class="project">
      <div class="illustrationtitle"><span class="title">Swimming</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/labaignade.jpg" alt="la baignade">
    </div>
    <div id="lescabanons" class="project">
      <div class="illustrationtitle"><span class="title">Cabins</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/les-cabanons-2.jpg" alt="les cabanons">
    </div>
    <div id="lesballons" class="project">
      <div class="illustrationtitle"><span class="title">Beach balls</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/les-ballons.jpg" alt="les ballons">
    </div>
    <div id="lesparasols" class="project">
      <div class="illustrationtitle"><span class="title">Parasols</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/les-parasols.jpg" alt="les parasols">
    </div>
    <div id="labaignade2" class="project">
      <div class="illustrationtitle"><span class="title">Parasols</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/les-parasols-2.jpg" alt="la baignade">
    </div>
    <div id="lescabanons2" class="project">
      <div class="illustrationtitle"><span class="title">Beach balls</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/les-ballons-2.jpg" alt="les cabanons">
    </div>
    <div id="lesballons2" class="project">
      <div class="illustrationtitle"><span class="title">Swimming</span><span class="baseline">Hollydays by the
          sea</span></div>
      <img src="/img/labaignade-2.jpg" alt="les ballons">
    </div>
    <div id="lesparasols2" class="project">
      <div class="illustrationtitle"><span class="title">Cabins</span><span class="baseline">Hollydays by the sea</span>
      </div>
      <img src="/img/les-cabanons.jpg" alt="les parasols">
    </div>
    <div id="leshortensias" class="project">
      <div class="illustrationtitle"><span class="title">Hydrangeas</span><span class="baseline">Garden party</span>
      </div>
      <img src="/img/les-ortensias-portfolio.jpg" alt="les hortensias">
    </div>
  </div>
</div>