<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style1.css">
    <title>La historia prosigue</title>
</head>

<body>
    <div class="backgroun4">
        <h1>Comenzó la diversión!</h1>
        <img src="/images/party.jpeg" alt="meme fiesta">
        <h3>Y nos toca noches de insomnio por culpa del código y que todas nuestras conversaciones <br>sean de picar y de pinguios succionadores</h3>
    </div>

    <p>Qué ganas de pisar la calle después de toda la semana.<a href="/process5">¿Alguien dijo cerveza?</a></p>
</body>



</html>