<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
 

  <div class="container projects">
    <section>
      <nav class="fill">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="about">ABOUT</a></li>
          <li><a href="projects">PROJECTS</a></li>
        </ul>
      </nav>
    </section>
    <section>
      <div class="projects-container">
        <div class="img-container one">
          <img src="/assets/project-snake.png" alt="">
          <span>This project is about</span>
          <div class="comment" id="one"><i class="far fa-comments"></i></div>
        </div>
        <div class="img-container two">
          <img src="/assets/project-snake.png" alt="">
          <span>This project is about</span>
          <div class="comment" id="two"><i class="far fa-comments"></i></div>
        </div>
        <div class="img-container three">
          <img src="/assets/project-snake.png" alt="">
          <span>This project is about</span>
          <div class="comment" id="three"><i class="far fa-comments"></i></div>
        </div>
         <div id="page-mask"></div>
        <div class="input-form-container">
          <form action="" class="input-form">
            <textarea name="comment" rows="20" cols="50" id="text-comment"></textarea>
            <button>Submit</button>
          </form>
        </div>
      </div>
    </section>
  </div>
 <script type="text/javascript" src="/javascript/comments.js"></script>
</body>

</html>