<div class="page">
    <h1 class="page-title">PROJECTS</h1>
    <hr class="element-title">

    <div class="project-container">
        <div class="project test-1">TEST</div>
        <div class="project test-1">TEST</div>
        <div class="project test-1">TEST</div>
        <div class="project test-1">TEST</div>
        <div class="project test-1">TEST</div>
        <div class="project test-1">TEST</div>
    </div>
</div>