<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Promociones Polloyon</title>
</head>
<body>
  <nav>
    <a href="/"><img src="logo.png" alt="Polloyon logo" id="logo"></a>
    <div id="menu">
    <a href="/">Home</a>
    <a href="/promociones">Promociones</a>
    <a href="/encuentranos">Encuentranos</a>
  </div>
  </nav>
  <header>
  <h2>El mejor pollo asado de CDMX</h2>
  <h4>Mejor comemos pollo yon</h4>
</header>
  <section class="promociones">
   <img src="promo1.jpg" alt="Promo 1">
   <img src="promo2.jpg" alt="Promo 2">
  </section>
</body>
</html>