<header>
    <h1>Recette du cocktail <span itemprop="name">Mojito</span></h1>
</header>
<article>
    <span itemprop="description" class="chapo">Le Mojito est la star des cocktails au rhum. Crée à la Bodeguita del
        Medio, un bar de la Havane, à Cuba, il en est devenu la boisson nationale en 1946. On apprécie particulièrement
        la fraicheur des feuilles de menthe et l'exotisme du rhum Bacardi.</span>
    <figure class="photo-cocktail">
        <img src="/images/mojito.jpg" alt="Mojito" title="Cocktail Mojito" width="280" height="400" itemprop="image">
        <figcaption>Un verre de Mojito, décoré de feuilles de menthe fraiche et de rondelles de citron vert.
        </figcaption>
    </figure>
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="evaluation">
        <span>Note moyenne : </span>
        <span class="average" itemprop="ratingValue">4</span> / <span itemprop="bestRating" class="best">5</span> (<span
            itemprop="reviewCount">318</span> votes) <br>
        <span class="rate">Notez cette recette :</span>
        <div id="star" rel="699"></div>
        <div id="hint"></div>
    </div>
    <h2 class="ingredients">Ingrédients</h2>
    <ul>
        <li><span itemprop="ingredients">6 cl de Rhum blanc cubain</span> </li>
        <li><span itemprop="ingredients">8
                feuille(s) de Menthe
                fraîche</span></li>
        <li><span itemprop="ingredients">2 c. à café de Sucre en poudre</span>
        </li>
        <li><span itemprop="ingredients">0.5 Citron vert (fruit)</span>
        </li>
        <li><span itemprop="ingredients">Eau gazeuse</span></li>
    </ul>
    <h2>Préparation</h2>
    <p><span itemprop="recipeInstructions">Découper le demi-citron vert en 4 quartiers. Dans un verre haut, écraser les
            quartiers de citron vert et le sucre en poudre avec un pilon. Ajouter 8 feuilles de menthe fraîche. Les
            écraser délicatement avec le pilon sans les broyer pour qu'elles n'obstruent pas la paille au moment de
            déguster. Mélanger à la cuillère pour que le sucre ne reste pas au fond du verre. Ajouter 6 cl de rhum de
            Cuba (Bacardi, Havana Club) et remplir au rebord le verre de glace concassée. Mélanger délicatement et
            compléter avec de l'eau gazeuse. Selon le goût, ajouter 2 ou 3 gouttes d'Angostura pour plus d'amertume et
            pour la couleur. Décorer d'une branche de menthe et servir avec une paille. Remplacer l'eau gazeuse par du
            champagne pour obtenir un Mojito Royal ou laissez vous tenter par un Mojito Fraise, Framboise ou Mangue, en
            ajoutant de la purée de fruits frais à la recette originale. Vous pouvez aussi préparer un Mojito sans
            alcool.</span></p>
    <p><br>Pour préparer un(e) Mojito pour 10, 20, 30 ou 40 personnes, multipliez simplement les quantités indiquées
        dans la recette originale par le nombre de verres souhaités.</p>
    <h2>Plus d'informations</h2>
    <p class="expandable">Quelle est la recette originale du Mojito ? Difficile à dire à en croire les recettes publiées
        par les 2 grandes marques de rhum avec lesquelles les barmen du monde entier ont l'habitude de préparer leurs
        cocktails, à savoir Bacardi et Havana Club. Le Mojito Bacardi se fait avec des morceaux de citron vert, des
        feuilles de menthe et de la glace pilée alors que le Mojito Havana Club privilégie le jus de citron, des
        branches de menthe entières et des cubes de glace entier. Alors quelle recette est l'originale ? On ne le saura
        sans doute jamais mais peu importe car l'important est de choisir celle que vous préférez après les avoir
        goutées toutes les 2.</p>
</article>