<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/custom.css">
    <script src="/jq.js"></script>
    <script src="/index.js"></script>
    <title>Document</title>
</head>

<body id="red">
    <div class="title">
        <h2>rgb(255,0,0)</h2>
        <h2>#f00</h2>
    </div>
    <div class="item__container">
        <p class="text">Red is the color at the end of the visible spectrum of light, next to orange and opposite violet. It has a dominant
            wavelength of approximately 625–740 nanometres.[1] It is a primary color in the RGB color model and the CMYK
            color model, and is the complementary color of cyan. Reds range from the brilliant yellow-tinged scarlet and
            vermillion to bluish-red crimson, and vary in shade from the pale red pink to the dark red burgundy.[2] The red
            sky at sunset results from Rayleigh scattering, while the red color of the Grand Canyon and other geological
            features is caused by hematite or red ochre, both forms of iron oxide. Iron oxide also gives the red color to
            the planet Mars</p>
        <h3 class="back ">Home</h3>
    </div>
</body>

</html>
