<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img class="pic" src="/images/espantapajaros_.jpg">
    <h1 class="col">Supervillain...</h1>
    <p class="col">The Scarecrow (Dr. Jonathan Crane) is a fictional supervillain appearing in comic books published by
        DC Comics, created
        by Bill Finger, Bob Kane, and Jerry Robinson. The character first appeared in World's Finest Comics #3
        (September,
        1941). The self-proclaimed "Master of Fear" is commonly depicted as an obsessive ex-professor of psychology in
        Gotham
        City who uses a variety of experimental drugs and toxins to exploit the fears and phobias of his victims. He is
        one of
        the most enduring enemies of superhero Batman and belongs to the collective of adversaries that make up the Dark
        Knight's rogues gallery.</p>

</body>

</html>