<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>Look at this sheep with a birthday hat! :D</h1>
        <img src="\images\a4d8e5dd75fa9a62977ccd6243b0173a.jpg">

        <a href="/">Back to home</a>
    </body>
</html>