<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Silvio-The Producer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body class="silvio">
    <h1>The TEAM of RISE OF THE BROCCOLI GUARDIAN</h1>
    <h2>Silvio Galli</h2>
    <h3>The Producer</h3>
    <p>Silvio is a key coordinator for the production. 
    He was involved in many if not all aspects of the production from start to finish. 
    He had his hand in the production process, creative, financial, and administrative.</p>
    <div><img class="pic" src="/images/silvio.jpg"/></div>
    <button type="button" class="btn btn-success">Click me</button>
    <p><a href="/">***Back to Home***</a></p>
    <p><a href="/staff/meg">See our SUPERSTAR's Page ***MEG***</a></p>
    <p><a href="/staff/spela">See our Director Spela's Page!!! ***She is just awesome***</a></p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>