
  <div class="gallery-container">
      <nav class="nav">
        <a href="/">Main</a>
        <a href="/about">About</a>
      </nav>
    <h1>Here is my gallery page</h1>
    <img src="../images/hipster-wolf.png" alt="wolf" class="wolf">
    <div class="gallery-grid-container">
      <p class="text-one">Church-key listicle beard vice before they sold out XOXO lo-fi paleo
         four dollar toast lomo. Tumblr small batch jean shorts trust fund next level roof party, 
         palo santo salvia shaman. 3 wolf moon butcher trust fund lo-fi asymmetrical. Artisan chia 
         succulents trust fund selfies, kale chips cronut flannel bicycle rights kickstarter synth. 
         Roof party pitchfork chillwave four loko cornhole, bushwick raclette marfa salvia cred street 
         art humblebrag sustainable banjo. Vaporware taxidermy viral quinoa portland.
         Stumptown affogato gluten-free, coloring book heirloom you probably haven't
         heard of them vaporware dreamcatcher edison bulb mumblecore flexitarian. Echo park next level fixie,
          taiyaki ennui activated charcoal biodiesel umami meditation selfies trust fund humblebrag distillery 
          tacos tattooed.</p>
      <p class="text-two">Stumptown affogato gluten-free, coloring book heirloom you probably haven't
        heard of them vaporware dreamcatcher edison bulb mumblecore flexitarian. Echo park next level fixie,
          taiyaki ennui activated charcoal biodiesel umami meditation selfies trust fund humblebrag distillery 
          tacos tattooed.
          Stumptown affogato gluten-free, coloring book heirloom you probably haven't
          heard of them vaporware dreamcatcher edison bulb mumblecore flexitarian. Echo park next level fixie,
          taiyaki ennui activated charcoal biodiesel umami meditation selfies trust fund humblebrag distillery 
          tacos tattooed</p>
      <p class="text-three">Cloud bread tumeric food truck, palo santo whatever activated charcoal health goth yuccie
         echo park slow-carb retro. Actually shoreditch pabst readymade pork belly polaroid blue bottle asymmetrical
          cold-pressed etsy chia gentrify fingerstache try-hard. Subway tile banh mi vexillologist butcher brooklyn, 
          blog twee. Pop-up single-origin coffee gluten-free craft beer listicle semiotics roof party hoodie chicharrones 
          health goth freegan selvage hell of raw denim. 
          Cloud bread tumeric food truck, palo santo whatever activated charcoal health goth yuccie
          echo park slow-carb retro. Actually shoreditch pabst readymade pork belly polaroid blue bottle asymmetrical
           cold-pressed etsy chia gentrify fingerstache try-hard. Subway tile banh mi vexillologist butcher brooklyn, 
           blog twee. Pop-up single-origin coffee gluten-free craft beer listicle semiotics roof party hoodie chicharrones 
           health goth freegan selvage hell of raw denim.</p>
      <img class="uno slide-in align-left" src="../images/one.jpg" alt="coding">
      <img class="dos slide-in align-left" src="../images/two.jpg" alt="coding">
      <img class="tres slide-in align-right" src="../images/three.jpg" alt="coding">
      <img class="quatro slide-in align-right" src="../images/four.jpg" alt="coding">
      <img class="cinco slide-in align-left" src="../images/five.jpg" alt="coding">
      <img class="seis slide-in align-right" src="../images/six.jpg" alt="coding">
      <img class="siete slide-in align-right" src="../images/seven.jpg" alt="coding">
      <img class="ocho slide-in align-left" src="../images/eight.jpg" alt="coding">
    </div>
      
  </div>

<script type="text/javascript" src="/script.js"></script>
