<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>First Page Ever</title>
</head>

<body>
  <a href="/">
    <img src="/images/homeLogo.png" alt="Home" class="homeLogo">
  </a>

  <div class="container">
    <div class="heroStory">
      <div class="titleContainer">
        <h1>Some things just don't go as expected...</h1>
      </div>
      <article class="story">
        <p>
          When I was a kid I used to have a cat.
        </p>
        <p>He had a wonderful life, full of food and more food. Problem is that he liked to wander around and
          one unlucky day he got hit by a car. Or maybe he had a different super-heroic story that I don't know about,
          but since we found him at the border of the road, well...</p>
        <p>To make it short we thought that he was dead, since we buried him in the graveyard, but we were wrong!! He
          actually got out of the ground and gained super powers that allows him to travel throught space and time.</p>
        <p>You don't believe me? <a href="/gallery">Here's the proof!</a></p>
      </article>
    </div>
  </div>

  <script type="text/javascript" src="../scripts/main.js"></script>
</body>

</html>