<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">


  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bootcamp Programación Web &amp; Bootcamp Diseño UX/UI</title>

  <!-- Bootstrap -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400|Roboto:400,500,700" rel="stylesheet">
  <!-- Custom Css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Custom Css -->
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/typeit@6.0.3/dist/typeit.min.js"></script>
  <script type="text/javascript" src="javascript/index.js"></script>

</head>

<body>

  <header class="home-header">
    <header class="navigation align-items-center">

      <a href="index.html"><img src="images/header/logo-ironhack.svg" alt="logo-ironhack"></a>
      <nav>
        <ul class="desktop-only">
          <li><a href="/curso">Cursos<i class="fas fa-chevron-down"></i></a></li>
          <li>Campus<a href="#"><i class="fas fa-chevron-down"></i></a></li>
          <li><a href="#">Apoyo Profesional</a></li>
          <li><a href="/students">Antiguos Alumnos</a></li>
          <li><a href="#">Contrata</a></li>
          <li><a href="#"><img src="images/header/spain-flag.jpg" alt="bandera española"></a></li>
          <li class="round-border"><a href="#">Aplicar</a></li>
        </ul>

        <ul class="mobile-only">
          <li><a href="#"></a>Menu</li>
          <li><a href="#"></a><i class="fas fa-bars"></i></li>
        </ul>

      </nav>
    </header>
    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <header>
              <h1>
                Conoce a nuestros antiguos alumnos de <br><span id="'#blue-text'" class="blue-text">Web
                  Development</span>
              </h1>
            </header>
            <p>
              Cursos intensivos de Desarrollo Web, Diseño UX/UI & Análisis de Datos
            </p>
            <a class="blue-button" href="#studients">Ver Alumnos</a>
          </div>
        </div>
      </div>
    </section>
  </header>





  <main>


    <section class="students" id="#studients">

      <ul>
        <li><img src="/images/students/student1.jpg" alt=""></li>
        <li><img src="/images/students/student2.jpg" alt=""></li>
        <li><img src="/images/students/student3.jpg" alt=""></li>
        <li><img src="/images/students/student4.jpg" alt=""></li>
      </ul>
    </section>

  </main>

</body>

</html>