<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="mystyle.css">
    </link>
  </head>
  <body>
      <div class="header"> Our students :</div>
    <ul>
      <li>Akua</li>
      <li>Ciwan</li>
      <li>Elsa</li>
      <li>Jackie</li>
      <li>Jason</li>
      <li>Johnny</li>
      <li>Jonathan</li>
      <li>Karo</li>
      <li>Kiyohide</li>
      <li>Konstantin</li>
      <li>Laurel</li>
      <li>Lluís</li>
      <li>Marcel</li>
      <li>Martin</li>
      <li>Menna</li>
      <li>Mia</li>
      <li>Nora</li>
      <li>Ozhan</li>
      <li>Perdikal</li>
      <li>Saeka</li>
      <li>Sebastian</li>
      <li>Shahinya</li>
      <li>Shaul</li>
      <li>Stefan</li>
      <li>Tim</li>
      <li>Vaso</li>
      <li>Vicky</li>
    </ul>
    <div>Click <a href="http://localhost:3000/moreInfo">here</a> for more info about the course .</div>
    <img id="team" src="iornHackTeam.jpeg" alt="ironHack team">
  </body>
</html>
