<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Amanda Morelli</h3>
            <img src="teacher1.jpg" alt="amanda" />
        </div>
        <div class="col-4">
            <img src="teacher11.jpg" alt="amanda2" />
            <p>hatha, hatha flow, pranayama (pranayoga method®) – en</p>
        </div>

    </div>
</div>