<h1 class="title neon">Tour</h1>
<div class="container tour">
    <div class="dates">
        <ul>
            {{#each dates}}
            {{#with this}}
            {{#if onsale}}
            {{> event}}
            {{/if}}
            {{/with}}
            {{/each}}
        </ul>
    </div>
</div>