<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cat</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <h1>Study hard</h1>
    <p>Maths</p>
    <img src= https://media.giphy.com/media/FfwdRYpxcZsaI/giphy.gif />
    <h2>Love Dog Babas</h2>
    <p>Shaky shaky</p>
    <img src= https://media.giphy.com/media/l1J3qq6ujgIP4QMRG/giphy.gif />
    <h2>Ski </h2>
    <p>crash</p>
    <img src=https://media.giphy.com/media/3o7WIHvqsj3emiv3eE/giphy.gif />
   
</body>

</html>