<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">


  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bootcamp Programación Web &amp; Bootcamp Diseño UX/UI</title>

  <!-- Bootstrap -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400|Roboto:400,500,700" rel="stylesheet">
  <!-- Custom Css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Custom Css -->
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/typeit@6.0.3/dist/typeit.min.js"></script>
  <script type="text/javascript" src="javascript/index.js"></script>

</head>

<body>

  <header class="home-header">
    <header class="navigation align-items-center">

      <a href="index.html"><img src="images/header/logo-ironhack.svg" alt="logo-ironhack"></a>
      <nav>
        <ul class="desktop-only">
          <li>Cursos<a href="/curso"><i class="fas fa-chevron-down"></i></a></li>
          <li>Campus<a href="#"><i class="fas fa-chevron-down"></i></a></li>
          <li><a href="#">Apoyo Profesional</a></li>
          <li><a href="/students">Antiguos Alumnos</a></li>
          <li><a href="#">Contrata</a></li>
          <li><a href="#"><img src="images/header/spain-flag.jpg" alt="bandera española"></a></li>
          <li class="round-border"><a href="#">Aplicar</a></li>
        </ul>

        <ul class="mobile-only">
          <li><a href="#"></a>Menu</li>
          <li><a href="#"></a><i class="fas fa-bars"></i></li>
        </ul>

      </nav>
    </header>
    <section class="hero-course">
      <div class="container">
        <div class="row">
          <div class="col-8 card">
            <header>
              <h1>
                Web Development Bootcamp en <br><span id="'#blue-text'" class="blue-text">Madrid <i
                    class="fas fa-chevron-down"></i></span>
              </h1>
            </header>
            <p>
              Conviértete en Programador Web Full Stack en 9 semanas, a tiempo completo y en persona.
            </p>
            <a class="blue-button" href="#courses">Aplicar</a>
            <a class="white-button" href="#courses">Ver detalles del curso</a>
          </div>
        </div>
      </div>
    </section>
  </header>


  <main>

    <section class="our-courses" id="courses">
      <div class="container">
        <h2>
          Our Courses
        </h2>
        <div class="row">
          <div class="col-12 padding-top-30">
            <header>
              <h3>Web Development</h3>
            </header>
            <p>Conviértete en Programador Web Full-Stack. Aprende diseño front-end y arquitectura back-end, además de
              tecnologías
              punteras como Angular 2, Express, MongoDB y metodologías ágiles. Ofrecemos estas dos modalidades:</p>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>

</html>