<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/custom.css">
    <script src="/jq.js"></script>
    <script src="/index.js"></script>
    <title>Document</title>
</head>

<body id="white">
    <div class="title">
        <h2>rgb(255,255,255)</h2>
        <h2>#fff</h2>
    </div>
    <div class="item__container">
        <p class="text">White is the lightest color and is achromatic (having no hue), because it fully reflects and scatters all the visible
            wavelengths of light. It is the color of fresh snow, chalk, and milk, and is the opposite of black. In ancient
            Egypt and ancient Rome, priestesses wore white as a symbol of purity, and Romans wore a white toga as a symbol
            of citizenship. In the Middle Ages and Renaissance a white unicorn symbolized chastity, and a white lamb sacrifice
            and purity. It was the royal color of the Kings of France, and of the monarchist movement that opposed the Bolsheviks
            during the Russian Civil War (1917–1922). Greek and Roman temples were faced with white marble, and beginning
            in the 18th century, with the advent of neoclassical architecture, white became the most common color of new
            churches, capitols and other government buildings, especially in the United States. It was also widely used in
            20th century modern architecture as a symbol of modernity and simplicity.</p>
        
        <h3 class="back">Home</h3>
       
    </div>
</body>

</html>
