{{#each club}}
{{#with this}}
<div class="card-group">
  <div class="card">
    <img src="{{image}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Numero de anillos: {{rings}}</p>
    </div>
  </div>
</div>
{{/with}}
{{/each}}