<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/custom.css">
    <script src="/jq.js"></script>
    <script src="/index.js"></script>
    <title>Document</title>
</head>

<body id="yellow">
    <div class="title">
        <h2>rgb(255,255,0)</h2>
        <h2>#ff0</h2>
    </div>
    <div class="item__container">
        <p class="text">Yellow is the color between green and orange on the spectrum of visible light. It is evoked by light with a dominant wavelength of roughly 570–590 nm. It is a primary color in subtractive color systems, used in painting or color printing. In the RGB color model, used to create colors on television and computer screens, yellow is a secondary color made by combining red and green at equal intensity. Carotenoids give the characteristic yellow color to autumn leaves, corn, canaries, daffodils, and lemons, as well as egg yolks, buttercups, and bananas.</p>
        <h3 class="back">Home</h3>
    </div>
</body>

</html>
