<div class="logo_slogan">
    <img class="logo" src="./img/logo.png" alt="logo">
    <p class="slogan">Le transfert d'argent n'a jamais été aussi facile.</p>
</div>
<section class=titles>
    <h2 class="qui-sommes-nous"> Qui sommes-nous ?</h2>
    <h2 class="nos-services"> Nos services</h2>
</section>
<br>
<div class="presentation-services">
    <div class="presentation-ste">
        <div> Les banques appliquent des frais importants sur les transferts d'argent à l'étranger.</div>
        <div> <span>MOVEYOURMONEY</span> propose une solution de transferts d'argent de pair à pair avec le taux de
            change non margé connu du marché et des frais de transfert à 2%.</div>
    </div>
    <div class="services-ste">
        <div> Transfert d'argent rapide et sécurisé </div>
        <div> Transaction entre particuliers </div>
        <div> Pas de frais cachés </div>
        <div> Taux non margé </div>
    </div>
</div>
<div>