<div class="container justify-content-center">
  <div class="d-flex flex-column">
    <h2>How many NBA championships did Michael Jordan win?</h2>
    <p>Jordan led the Bulls to six NBA championships from 1991-98. The Bulls won
      three straight NBA championships from 1991-93 and three more from 1996-98.
      Jordan was the NBA Finals MVP in all six NBA championship runs
    </p>
  </div>
  <div class="d-flex flex-column">
    <h2>Who did Jordan's Bulls beat in the NBA Finals?</h2>
    <div class="d-flex flex-colum">
      <img src="/img/jumping.jpeg" alt="Jumping" />
      <div class="d-flex flex-colum">
        <ul>
          <li>1991 NBA Finals</li>
          <li>1992 NBA Finals</li>
          <li>1993 NBA Finals</li>
          <li>1996 NBA Finals</li>
          <li>1997 NBA Finals</li>
          <li>1998 NBA Finals</li>
        </ul>
      </div>
    </div>
  </div>
</div>