
<div class="row justify-content-center">
  <div class="col-12 col-md-3">
    <div class="d-flex flex-column">
      <img src="/img/mj-celebrating.png" class="img-fluid mb-2" alt="Michael Jordan">
      <div class="d-flex flex-column">
        <a class="btn btn-primary mb-2" href="/about">Check About Page</a>
        <a class="btn btn-primary" href="/work">Check Work Page</a>
        <h3>Welcome Ironhacker to the page of Michael Jordan 23</h3>
      </div>
    </div>
  </div>
</div>