
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header{
  position: fixed;
  top: 50px;
  left: 25px;
}
.carousel{
  margin-left: 300px;
  margin-top: 50px;
}
.carousel-item{
  height: 600px;
}
img{
  height: 100%;
}