<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>About us Page</title>
  </head>
  <body>
    <div class="card mb-3 text-center hoverable">
      <div class="card-body">
          <div class="row">

              <div class="col-md-4 offset-md-1 mx-3 my-3">
                  <div class="view overlay">
                      <img src="/images/alex.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
                      <a>
                          <div class="mask rgba-white-slight"></div>
                      </a>
                  </div>
              </div>
              <div class="col-md-7 text-left ml-3 mt-3">

                  <a href="" class="green-text">
                      <h6 class="font-bold pb-1"><i class="fa fa-desktop"></i> About Us</h6>
                  </a>
                  <!-- <h4 class="mb-4"><strong>Bio</strong></h4> -->
                  <p class="mytext">Hello, I am Alex  </p>
                  <p class="mytext">and her name is Zoey ;)</p>
              
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
      </div>
   </div>


    <div class="links">

      <a href="/" class="btn btn-primary">Back to Home Page</a>
    </div>

  </body>
</html>
