<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Gallery Page</title>
  </head>
  <body>
    <div class="container">

        <div class="row">

          <div class="cards-container">
            <div class="card card1 col-md-4 col-sm-6 login-register" >
              <img class="card-img-top" src="/images/coyo.jpg"
              alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Coyo Taco</h5>
                <p class="card-text">An authentic Mexican Street Food experience.</p>
                <a target="_blank" rel="noopener noreferrer" href="https://coyo-taco.com/" class="btn btn-primary">Visit our site</a>
              </div>
            </div>
            <div class="card card1 col-md-4 col-sm-6" >
              <img class="card-img-top" src="/images/salty1.jpg"
              alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Salty Donuts</h5>
                <p class="card-text">The Salty is a family-owned, artisan donut shop that focuses on chef-made, small-batch, craft donuts that rotate based on seasonality. </p>
                <a target="_blank" rel="noopener noreferrer" href="https://www.saltydonut.com/" class="btn btn-primary">Visit out Site</a>
              </div>
            </div>
            <div class="card card1 col-md-4 col-sm-6" >
              <img class="card-img-top" src="/images/crayp2.jpg"
              alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Crazy Poke</h5>
                <p class="card-text">Best sushi in town.</p>
                <a target="_blank" rel="noopener noreferrer" href="http://crazypoke.com/" class="btn btn-primary">Visit out Site</a>
              </div>
            </div>
          </div>


        </div>
    </div>
    <div class="links">

      <a href="/" class="btn btn-primary">Back to Home Page</a>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
      </script>
    <script src="javascript/script.js" charset="utf-8"></script>
  </body>
</html>
