<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/button.css">
    </head>
    <body>
        <div class='mainPage'>
            <h1>Hello Visitor</h1>
        </div>

        <div class="buttonsWindow">
            <a href='/home'>Home</a>
            <a href='/about' id="clickedButton">About Me</a>
            <a href='/works'>Works</a>
            <a href='/photo-gal'>Gallery</a>
        </div>
        <div>
            <h1>Tiger Woods</h1>
            <div class="about-me-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut lectus efficitur, pellentesque lacus nec, tristique dolor. Etiam nec molestie tellus, placerat lacinia dui. Integer volutpat nisi id metus iaculis pulvinar. Morbi sed dui a mauris maximus molestie vel eget odio. Ut maximus suscipit maximus. Maecenas feugiat nibh rutrum nisi tincidunt scelerisque. Duis nec orci venenatis, condimentum lectus sit amet, facilisis est. Suspendisse blandit purus mi, nec bibendum lacus dictum vel.
                </p>
                <img src='/pictures/tiger.jpg' />
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>