body {
  /* position: relative; */
  color: black;
}
img {
  height: 250px;
}
h1 {
  color: black;
  padding: 10%;
}
h3 {
  /* padding-bottom: 20%; */
}
p {
  padding-top: 20px;
}
.container_photo {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.slick-container {
  padding: 0 20px;
}

.slick-container .slick-next,
.slick-container .slick-prev {
  z-index: 1;
  background-color: black;
}
.slick-container .slick-next {
  right: 10px;
}
.slick-container .slick-prev {
  left: 10px;
}
button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  cursor: pointer;
}
button:hover {
}
