.container {
  &__tour {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: radial-gradient(
        white,
        rgba(255, 255, 255, 0.2) 2px,
        transparent 40px
      ),
      radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
      radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1) 2px,
        transparent 30px
      );
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
}
.dates {
  height: 93vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 70%;
    z-index: 99;
    padding: 2rem;
    li {
      line-height: 5rem;
      height: 5rem;
      &.available,
      &.sold-out {
        font: 1.6rem $text-font;

        color: $accent-color-2;
      }
      &.sold-out {
        opacity: 0.5;
      }
      a {
        font: 1.3rem $primary-font;
        color: $accent-color-3;
        margin-left: 0.5rem;
      }
    }
  }
}
