/* #4a4063
#bfacc8
#c8c6d7 */

* {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #4a4063;
    color: white;
}

img {
    width: 100%;
    max-width: 300px
}

#nav_item{
    padding: 5px;
    font-family: 'Roboto Slab', serif;
}

.welcome {
    background-color: #bfacc8;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.buttons {
    background-color: #c8c6d7;
    display: flex;
    justify-content: center;
}

#btn_content {
    background-color: #4a4063;
    color: white;
    border: 2px solid white;
}