@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px 30px;
}

nav a {
    margin-left: 15px;
    font-size: 1.2em;
    text-decoration: none;
    list-style: none;
    color: #1A1A1A;
}

nav img {
    width: 50px;
}

.card {
    margin-top: 40px;
    padding-right: 50px;
    text-align: center;
    border: none;
}

.card:hover img{
    width: 20rem;
}