body {
  background-color : rgba(0, 179, 255, 0.516);
  color : rgba(255, 183, 0, 0.769);
  background-image :url(../images/ok.jpg) ;
}

header {
    height : 720px;
   width : 50%;
   color : black;
   border : solid #4169E1 10px;
   border-radius : 40px;
   text-align : center;
   margin-left : 350px; 
   background:rgba(255,255,255, 0.5);

   float : left;
   
   
   
  
}