:root {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  line-height: 1.0;
  background-color: #003a05;
  color: #fff;
}
  
/* ----------------------------------- */

h1, h2, h3, h4, h5, h6, p { margin: 0; }

hr { margin: 20px 0;}

/* ----------------------------------- */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-c-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.just-cont-sb{
  justify-content: space-between;
}
.just-cont-sa{
  justify-content: space-around;
}
.just-cont-se{
  justify-content: space-evenly;
}

.h-100vh { height: 100vh; min-height: 100vh; max-height: 100vh; }
.h-100pc { height: 100%; min-height: 100%; max-height: 100%; }
.h-50pc { height: 50%; min-height: 50%; max-height: 50%; }
.h-25pc { height: 25%; min-height: 25%; max-height: 25%; }

.pad-lr-25 { padding-left: 25px; padding-right: 25px; }

.w-100pc { width: 100%; min-width: 100%; max-width: 100%; }
.w-500px { width: 500px; }
.w-800px { width: 800px; }

.tm-40 { margin-top: 40px;}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

  