body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
		font-size: 50px;
		color: rgb(71, 68, 68);
}

.container {
	display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 15px 40px 5px 30px;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 25px;
  border-width: 0;
  border-radius: 3px;
  background-color: cornflowerblue;
  color: white;
  box-shadow: 1px 1px royalblue;
  padding: 10px 30px;
  margin: 30px 30px 20px 450px;
  transition: background-color 0.3s;
	width: 250px;
	text-align: center;
}

.btn:hover {
  background-color: royalblue;
}

img {
	width: 30%;
	margin: 1%;
	border: 4px solid #c9ced6;
}

.imgs {
display: flex;
align-items: center;
justify-content: space-around;
}