body {
    background-color: rgb(180, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: fantasy;
    color: white;
    font-size: 100px;
    font-weight: bolder;
    margin-top: 50px;
}
img {
    width: 700px;
    border-radius: 40px;
    margin: 40px 0;
    border: 3px solid black;
}

.links {
    display: flex;
    margin: 20px;
}

a {
    background-color: white;
    border: 2px solid black;
    color: red;
    text-decoration: none;
    padding: 30px 40px;
    margin: 30px;
    font-size: 20px;
    border-radius: 20px;
    font-family: fantasy;
}

p {
    color: white;
    font-family: fantasy;
    font-size: 30px;
    margin: 40px;
    line-height: 40px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery img {
    width: 25%;
    margin: 20px;
}

video {
    border-radius: 30px;
    border: 2px solid black;
    margin: 40px 0;
}