h1 {
  text-align:center;
  margin: 0 auto;
  color: white !important;
}

body {
  background-color: #000000 !important; 

}

#principal {
  background-color: black;
}
li {
  color: white;
  font-size: 20px;
  list-style: none;
  text-align: center;
  margin-top: 15px;
}

li a {
  text-decoration: none;
  color: grey;
}

.row p {
  font-size: 20px;
}

#galeria {
  margin: 50px 80px;;
}
