body{
    background: aqua;
}

div{
    display:flex;
    align-content: center;
   text-align: center;
    font-size: 40px;
}

header{
    font-size: 30px;
}

#platanito1{
    height:50px;
    width: 50px;
}

#platanito2{
    height:50px;
    width: 50px;
}

#fer{
    padding-left: 40px;
    width: 400px;
    height: 300px;
}
#tacos{
    width: 100px;
    height: 100px;
}
#pug{
    width: 200px;
    height: 100px;
}

section{
    padding-bottom:40px;
}
/*  */
#vertical-menu {
    width: 50px; 
}

.vertical-menu a {
    background-color: #eee; 
    color: black; 
    display: block; 
    padding: 5px; 
    text-decoration: none; 
}

.vertical-menu a:hover {
    background-color: yellow; 
}

.vertical-menu a.active {
    background-color: peru; 
    color: white;
}
