<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/button.css">
    </head>
    <body>
        <div class='mainPage'>
            <h1>Hello Visitor</h1>
        </div>

        <div class="buttonsWindow">
            <a href='/home'>Home</a>
            <a href='/about'>About Me</a>
            <a href='/works'>Works</a>
            <a href='/photo-gal' id="clickedButton">Gallery</a>
        </div>
       <div class="mainPage">
            <div class="row">
                <div class="column">
                    <img src='/pictures/tiger-1.jpg' />
                    <img src='/pictures/tiger-2.jpg' />
                    <img src='/pictures/tiger-3.jpg' />
                    <img src='/pictures/tiger-4.jpg' />
                    <img src='/pictures/tiger-5.png' />
                </div>
                <div class="column">
                    <img src='/pictures/tiger-6.jpg' />
                    <img src='/pictures/tiger-7.jpg' />
                    <img src='/pictures/tiger-8.jpg' />
                    <img src='/pictures/tiger-9.jpg' />
                    <img src='/pictures/tiger-10.jpg' />
                </div>
                <div class="column">
                    <img src='/pictures/tiger-1.jpg' />
                    <img src='/pictures/tiger-2.jpg' />
                    <img src='/pictures/tiger-3.jpg' />
                    <img src='/pictures/tiger-4.jpg' />
                    <img src='/pictures/tiger-5.png' />
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>