<h3>Update photographers informations</h3>

<form class="big-forms" method="post" action="/update/photographer/{{photog.id}}" class="form"></br>
    <label class="labels" for="name">Photographer</label></br>
    <input class="input" type="text" id="name" name="name" value="{{photog.name}}"></br>
    <label class="labels" for="era">Era</label></br>
    <input class="input" type="text" id="era" name="era" value="{{photog.era}}"></br>
    <label class="labels" for="favCamera">Favorite camera brand</label></br>
    <input class="input" type="text" id="favCamera" name="favCamera" value="{{photog.favCamera}}"></br>
    <button class="btn">Update the card</button>
</form>