<h3>Add a card about a photographer of your choice</h3>

<form class="big-forms" method="post" action="/create/photographer" class="form"></br>
    <label class="labels" for="name">Photographer</label></br>
    <input class="input" type="text" id="name" name="name" placeholder="Name"></br>
    <label class="labels" for="era">Era</label></br>
    <input class="input" type="text" id="era" name="era" placeholder="Century of activity" value="era"></br>
    <label class="labels" for="favCamera">Favorite camera brand</label></br>
    <input class="input" type="text" id="favCamera" name="favCamera" placeholder="Nikon, Canon, Leica..." value="test"></br>
    <button class="btn">Create the card</button>
</form>