@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
$body-width: 1000px;
$background-color: white;
$body-color: white;

body {
  width: $body-width;
  margin: 0 auto;
  background-image: url("/static/leo-portada.jpeg");
  background-size: cover;
}
.title {
  font-family: "Source Sans Pro";
  color: $body-color;
  font-size: 7rem;
  text-align: center;
  padding: 50px 0;
}
.header-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  object-fit: cover;
  margin-top: -60px;
}
.about-img {
  float: left;
  width: 250px;
  height: 450px;
  overflow: hidden;
  margin: -90px 20px 0 0;
  img {
    width: 300px;
  }
}
.main {
  background: white;
  overflow: hidden;
  p {
    padding: 0 20px;
  }
}
.card-column {
  display: flex;
  flex-flow: row wrap;
}
.card {
  break-inside: avoid;
  width: 33%;
}
