<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Gates</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>
        <h1>About Page</h1>
    </div>
    
    <p>William Henry Gates III
October 28, 1955 (age 65)
Seattle, Washington, U.S.
Education	Harvard University (dropped out)
Occupation	
Software developerinvestorentrepreneur
Years active	1975–present
Known for	Co-founder of Microsoft
Net worth	Decrease US$142.4 billion (As of June 19, 2021)[1]
Title	
Co-chairman and co-founder of the Bill & Melinda Gates Foundation
Chairman and founder of Branded Entertainment Network
Chairman and founder of Cascade Investment
Chairman and co-founder of TerraPower
Founder of Breakthrough Energy
Technology advisor of Microsoft[2]
Board member of	Berkshire Hathaway
Microsoft (former, both)
Spouse(s)	Melinda French
​</p>
    
</body>
</html>