<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../public/style.css">
    <title>About</title>
</head>
<body>
<h1>About Us</h1>
<div class="main">
          <ul>
            <li>
              <a class="link" href="/view/home">Home </a>
            </li>
            <li>
              <a class="link" href="/view/work.html">Work</a>
            </li>
            <li>
              <a class="link" href="/view/about">About Us</a>
            </li>
          </ul>
        </div>
</body>
</html>