<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/starter-code/public/styling.css">
  <title>SUPERHEROE</title>
</head>




<body>
  <h1> Take a look...</h1>
  <h2>This month bestsellers:</h2> 
  <img  src="/starter-code/public/images/greenLego.png">
  <img  src="/starter-code/public/images/superman-1529274_960_720.jpg">
</body>

</html>