.card {
  margin: 10px;
  transition: all 0.5s ease-out;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc;

  .card-img-top {
    border-radius: 0;
  }

  .card-body {
    background-color: #f9f9f9;
  }
}

.hideCard {
  display: none;
}
